@mixin flex-row($justify) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: var($justify);
  align-items: center;
}
.content {
  min-height: 100vh;
  padding-top: 51px;
  overflow-y: auto;
  background: var(--content-bg);
  .content_head {
    padding: 0 10px 12px;
    // border-bottom: solid 1px var(--border-grey);
  }
  .content_body {
    padding: 0 10px 12px;
    margin-bottom: 50px;
    .table-top {
      text-align: left;
      padding: 8px;
      background: var(--white);
      border: solid 1px var(--border-grey);
      border-bottom: none;
    }
  }
  .searchwrap {
    // background-color: var(--searchwrap-background);
    // margin-top: 15px;
    @include flex-row(flex-start);
    .ivu-select {
      width: 15%;
    }
    .label {
      width: 120px;
      text-align: right;
      padding-right: 10px;
      border-radius: 3px 0 0 3px;
      background-color: var(--form-label);
      color: var(--white);
    }
    .mar {
      margin-right: 30px;
    }
    .ivu-page .ivu-select {
      width: 100%;
    }
    .ivu-select-selection,
    .ivu-input {
      border-radius: 1px;
    }
    .like-select {
      width: 15%;
      top: 0;
      .ivu-input-group-append {
        background: var(--table-head);
        border: none;
        &:hover {
          background: var(--theme-blue);
        }
        &:before {
          top: 0px;
          bottom: 0px;
        }
      }
    }
  }
  .btnbox {
    flex: 1;
    @include flex-row(flex-end);
    button {
      margin: 5px;
    }
    &.ivu-btn {
      margin-right: 10px;
    }
  }
  .ivu-page {
    margin-top: 0;
  }
  .header {
    margin: 10px 0 5px;
    color: var(--header);
    padding-left: 15px;
    border: 1px solid var(--header-border);
    background-color: var(--header-bg);
    border-radius: 5px;
    @include flex-row(center);
    .title1 {
      padding: 4px 0;
      h1 {
        font-size: 18px;
      }
      i {
        font-size: 30px;
        padding: 5px 6px;
        margin-right: 8px;
        color: var(--theme-blue);
        vertical-align: middle;
        flex: 1;
      }
    }
  }
}

.header-wrap .head-logo {
  width: 145px !important;
  left: 12px !important;
}
.ivu-select-dropdown {
  max-height: 260px !important;
}
.footer {
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  padding: 3px 46px;
}

.menu {
  /* --color: var(--login-svg-fill); */
  --color: white;
  width: 47px;
  outline: none;
  position: relative;
  border: none;
  cursor: pointer;
  z-index: 2;
  -webkit-appearence: none;
  -webkit-tap-highlight-color: transparent;
}
/* hack clip随不同分辨率高度的位置不对而保持正园框住 */
.menu::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 10px;
  width: 34px;
  height: 34px;
  background: var(--table-head);
  border-radius: 50%;
  z-index: -1;
}

.menu svg {
  width: 40px;
  stroke: var(--color);
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  display: block;
}

.menu svg path {
  transition: stroke-dasharray var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s), stroke-dashoffset var(--duration, 0.85s) var(--easing, ease) var(--delay, 0s);
  stroke-dasharray: var(--array-1, 26px) var(--array-2, 100px);
  stroke-dashoffset: var(--offset, 126px);
  transform: translateZ(0);
}

.menu svg path:nth-child(2) {
  --duration: .7s;
  --easing: ease-in;
  --offset: 100px;
  --array-2: 74px;
}

.menu svg path:nth-child(3) {
  --offset: 133px;
  --array-2: 107px;
}

.menu.active svg path {
  --offset: 57px;
}

.menu.active svg path:nth-child(1),
.menu.active svg path:nth-child(3) {
  --delay: .15s;
  --easing: cubic-bezier(.2, .4, .2, 1.1);
}

.menu.active svg path:nth-child(2) {
  --duration: .4s;
  --offset: 2px;
  --array-1: 1px;
}

.menu.active svg path:nth-child(3) {
  --offset: 58px;
}

.mobile-nav {
  position: absolute;
  z-index: 1;
  width: 100vw;
  clip-path: circle(3px at 93.9% 2.7%);
  /* background: var(--login-right-part-bg); */
  background: var(--mobile-nav-bg);
  height: 100vh;
  transition: clip-path 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.menu-li {
  position: relative;
  height: 60px;
  line-height: 60px;
  padding: 0 15vw;
  letter-spacing: 1px;
}

.menu-li-logo {
  display: none;
  position: absolute;
  width: 22px;
  left: 15px;
  top: 20px;
  height: 22px;
  filter: var(--filter-svg-icon);
}

.menu-li.active {
  background: var(--header-bg);
  color: var(--header);
}
.menu-li.active .menu-li-logo {
  display: inline-block;
}

.mobile-nav.active {
  clip-path: circle(100% at 90% 43.4%);
}

.modal-left-close-btn {
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 0;
  height: 50px;
  width: 50px;
  color: rgb(153, 153, 153);
  font-size: 32px;
}

.apply-history-list .description {
  font-size: 13px;
 }
 .ivu-drawer-body {
  overflow-x: hidden;
 }

//  @media all and (orientation: landscape) {
//   .content, .header-w {
//     display: none;
//   }
// }

.cube-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none
}

.cube-popup_mask {
  pointer-events: auto
}

.cube-popup_mask .cube-popup-mask {
  display: block
}

.cube-popup-container,
.cube-popup-mask {
  position: absolute;
  width: 100%;
  height: 100%
}

.cube-popup-mask {
  display: none;
  overflow: hidden;
  background-color: #25262d;
  opacity: .4;
  pointer-events: auto
}

.cube-popup-mask:before {
  content: ".";
  display: block;
  width: 1px;
  height: 1px;
  background-color: rgba(0, 0, 0, .1);
  margin-left: -10px
}

.cube-popup-container {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%)
}

.cube-popup-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  -webkit-transform: translate(-100%, -100%);
  transform: translate(-100%, -100%);
  pointer-events: auto
}

.cube-popup-center .cube-popup-content,
.cube-popup-left .cube-popup-content,
.cube-popup-right .cube-popup-content {
  top: -50%;
  left: -50%;
  width: auto;
  max-width: 100%;
  -webkit-transform: translate(0);
  transform: translate(0)
}

.cube-popup-left .cube-popup-content,
.cube-popup-right .cube-popup-content {
  height: 100%;
  top: -100%
}

.cube-popup-center .cube-popup-content {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.cube-popup-top .cube-popup-content {
  top: -100%;
  left: -100%;
  -webkit-transform: translate(0);
  transform: translate(0)
}

.cube-popup-right .cube-popup-content {
  top: -100%;
  right: 100%
}

.cube-popup-left .cube-popup-content {
  left: -100%
}

.cube-picker-fade-enter,
.cube-picker-fade-leave-active {
  opacity: 0
}

.cube-picker-fade-enter-active,
.cube-picker-fade-leave-active {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.cube-picker-panel {
  height: 273px;
  text-align: center;
  font-size: 14px;
  background: #fff
}

.cube-picker-move-enter,
.cube-picker-move-leave-active {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0)
}

.cube-picker-move-enter-active,
.cube-picker-move-leave-active {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.cube-picker-choose {
  position: relative;
  height: 60px
}

.cube-picker-cancel,
.cube-picker-confirm {
  line-height: 60px;
  padding: 0 16px;
  box-sizing: content-box;
  font-size: 14px
}

.cube-picker-confirm {
  position: absolute;
  right: 0;
  color: var(--login-svg-fill)
}

.cube-picker-confirm:active {
  color: var(--form-label)
}

.cube-picker-cancel {
  position: absolute;
  left: 0;
  color: #999
}

.cube-picker-cancel:active {
  color: #ccc
}

.cube-picker-title-group {
  padding: 0 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center
}

.cube-picker-title {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #333
}

.cube-picker-subtitle {
  margin-top: 2px;
  line-height: 16px;
  font-size: 12px;
  color: #999
}

.cube-picker-content {
  position: relative;
  top: 20px
}

.cube-picker-content>i {
  position: absolute;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 68px;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0)
}

.cube-picker-content>.border-bottom-1px {
  top: 0;
  background: -webkit-linear-gradient(bottom, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8));
  background: linear-gradient(0deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8))
}

.cube-picker-content>.border-top-1px {
  bottom: 0;
  background: -webkit-linear-gradient(top, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8));
  background: linear-gradient(180deg, hsla(0, 0%, 100%, .4), hsla(0, 0%, 100%, .8))
}

.cube-picker-wheel-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 0 16px
}

.cube-picker-wheel-wrapper>div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 1e-9px;
  flex-basis: 1e-9px;
  width: 1%;
  height: 173px;
  overflow: hidden;
  font-size: 13px
}

.cube-picker-wheel-scroll {
  padding: 0;
  margin-top: 68px;
  line-height: 36px;
  list-style: none
}

.cube-picker-wheel-item {
  list-style: none;
  height: 36px;
  overflow: hidden;
  white-space: nowrap;
  color: #333
}

.cube-picker-footer {
  height: 20px
}

.cube-select {
  box-sizing: border-box;
  padding: 5px 20px 5px 10px;
  text-align: left;
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.429;
  color: #666;
  background-color: #fff;
  position: relative
}

.cube-select:after {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  width: 100%;
  height: 100%
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx) {
  .cube-select:after {
    width: 200%;
    height: 200%;
    border-radius: 4px;
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx) {
  .cube-select:after {
    width: 300%;
    height: 300%;
    border-radius: 6px;
    -webkit-transform: scale(.333);
    transform: scale(.333)
  }
}

.cube-select>span {
  display: inline-block
}

.cube-select_active {
  position: relative
}

.cube-select_active:after {
  content: "";
  pointer-events: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  border: 1px solid var(--form-label);
  border-radius: 2px;
  box-sizing: border-box;
  width: 100%;
  height: 100%
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:2dppx) {
  .cube-select_active:after {
    width: 200%;
    height: 200%;
    border-radius: 4px;
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }
}

@media (-webkit-min-device-pixel-ratio:3),
(min-resolution:3dppx) {
  .cube-select_active:after {
    width: 300%;
    height: 300%;
    border-radius: 6px;
    -webkit-transform: scale(.333);
    transform: scale(.333)
  }
}

.cube-select_active .cube-select-icon {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg)
}

.cube-select_disabled {
  color: #b8b8b8;
  background-color: rgba(0, 0, 0, .04);
  cursor: not-allowed
}

.cube-select-placeholder {
  color: #ccc
}

.cube-select-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-style: solid;
  border-color: #999 transparent transparent;
  border-width: 4px 4px 0;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}