.head-info {
    background: var(--label-blue);
    color: white;
}
.border {
    border-right: 1px solid var(--border-grey);
    border-bottom: 1px solid var(--border-grey);
    border-left: 1px solid var(--border-grey);
    border-radius: 3px;
}