.border {
  border-right: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  border-left: 1px solid var(--border-grey);
  border-radius: 3px;
}
.content {
  overflow-y: visible;
}
.head-info {
  background: var(--label-monthSum);
  color: var(--grey);
}
.full-name {
  .ivu-card-head {
    span {
      font-size: 14px;
    }
  }
}
.link-span {
  font-size: 12px;
  color: var(--login-input-border-active);
  cursor: pointer;
}
.card-title {
  color: var(--grey);
  font-weight: 700;
}
.ivu-switch {
  margin: 5px 15px 0 0;
  width: 68px;
  height: 28px;
  .ivu-switch-inner {
    line-height: 27px;
    font-size: 1.2rem;
  }
  &:after {
    top: 2px;
    left: -2px;
    width: 22px;
    height: 22px;
  }
  &.ivu-switch-checked:after {
    left: 46px;
    top: 2px;
  }
}
.custom-radio {
  padding: 8px 13px;
  border-radius: 28px;
  color: var(--grey);
  border: 1px solid #dcdee2;
  font-size: 14px;
  box-shadow: 5px 6px 2px 0px var(--light-grey);
  &.ivu-radio {
    display: none;
  }

  &.ivu-radio-wrapper-checked {
    color: var(--login-input-border-active);
    border-color: var(--login-input-border-active);
    box-shadow: 5px 6px 2px 0px var(--light-blue);
  }
}

.datepicker-single {
  width: 100%;
}
.datepicker-double {
  width: 45%;
}
.custom {
  display: flex;
}

  .ivu-progress-success .ivu-progress-bg,
  .ivu-progress-bg {
    background: linear-gradient(90deg, rgb(50, 182, 255), rgb(66, 118, 255));
    box-shadow: 1px 1px 4px 0px var(--box-shadow);
  }
  .table-icon {
    vertical-align: baseline;
  }
.right-info {
  color: var(--grey);
  &.ivu-alert-info {
    top: -8px;
    padding: 8px 16px;
    background: var(--content-bg);
    border: 1px dashed var(--form-border-dash);
  }
}
.error-info {
  color: var(--red);
  border: var(--error-border);
}

.ivu-divider + .ivu-radio-group {
  width: 100%;
}

.card {
  width: 800px;
  background: var(--content-bg);
  box-shadow: rgba(50, 50, 50, 0.2) 0 0 15px;
  &.card-two {
    display: none;
    width: 800px;
    // 将滚动条隐藏
    overflow: hidden;
    min-height: 80vh;
    &.rotate-360 {
      display: block;
      transform: rotateY(-360deg);
    }
  }
}
.rotate-180 {
  display: none;
  transform: rotateY(-180deg);
  .ivu-select-dropdown {
    animation: fadeOut 1s forwards ease-in-out;
  }
}
.ivu-avatar {
  background: var(--light-grey);
}
.ivu-avatar-string {
  color: var(--primary);
}
.pop-avatar {
  .ivu-avatar-string {
    transform: scale(0.8);
    left: 3px !important;
  }

}
.label {
  background-color: var(--form-label);
  color: var(--white);
}
.btn {
  margin-top: 20px;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
.content_body {
  margin-bottom: 0;
}
.show {
  opacity: 1;
  transition: opacity 0.1s 0.5s;
}
.not-show {
  opacity: 0;
}
.vacation-type-warp {
  padding: 6px 6px 3px;
  border: 1px solid var(--border-color);
  background: var(--rest-apply-self-info-bg);
}
// 更多承认者
.more-user {
  font-size: 15px;
  font-weight: bold;
  margin-left: -16px;
  color: var(--theme-blue);
  box-shadow: 0px 1px 2px 0px var(--box-shadow);
}
.ml-13 {
  margin-left: -13px;
}

.apply-status {
  display: inline-block;
  width: 24px;
  border-radius: 50%;
  box-shadow: 0px 1px 2px 0px var(--box-shadow);
  &:after {
    position: relative;
    left: 5px;
  }
  &.ok {
    color: var(--blue-or-dark);
    background-color: var(--blue-or-dark-bg);
    &:after {
      content: '済';
    }
  }
  &.deny {
    color: var(--red);
    background-color: var(--error-info-bg);
    &:after {
      content: '差';
    }
  }
  &.error {
    color: var(--red);
    background-color: var(--error-info-bg);
    &:after {
      content: 'エ';
    }
  }
  &.ing {
    background-color: var(--success-info-bg);
    color: var(--success-info);
    &:after {
      content: '待';
    }
  }
}

.apply-history-list {
  position: relative;
  right: -20px;
  background: linear-gradient(to bottom, #ccc 80%, transparent 100%) no-repeat left 19px top 15px/1px 100%;
  text-align: left;
  color: var(--grey);
  .title {
    font-size: 15px;
    font-weight: bold;
  }
  .description {
    font-size: 14px;
    word-break: break-word;
  }
  .with-dot {
    &::before {
      display: block;
      content: '';
      position: relative;
      left: 12px;
      top: 19px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      box-shadow: var(--apply-status-dot-shadow);
      background: linear-gradient(90deg, rgb(50, 182, 255), rgb(66, 118, 255));
    }
    &.deny::before {
      background: var(--error-background);
    }
    &.ing::before {
      background: var(--success-background);
    }
    &.cancel::before {
      background: linear-gradient(120deg, var(--user-avatar-background), var(--text-light-grey));
    }
  }
}