.content {
  background-color: var(--login-right-part-bg);
}
.schedule {
  display: flex;
  height: 350px;
  font-size: 0;
  color: var(--white);
  .title-wrap {
    height: 40px;
    .time-title {
      display: inline-block;
      text-align: center;
      width: 60px;
      height: 39px;
      border-radius: 5px 0 0 0;
      border-bottom: 1px solid var(--card-plan-title-border-b);
      line-height: 40px;
      font-size: 15px;
      background-color: var(--card-plan-bg);
    }
    .plan-title {
      writing-mode: tb;
      width: 60px;
      height: 310px;
      line-height: 60px;
      font-size: 15px;
      border-radius: 0 0 0 5px;
      letter-spacing: 10px;
      background-color: var(--card-plan-bg);
    }
  }
  .time-list {
    display: flex;
    position: relative;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--card-title);
    background: var(--card-title-bg);
    overflow-y: hidden;
    .li {
      display: inline-block;
      font-size: 13px;
      position: relative;
      width: 46.5px;
      // 23px在响应式中非常重要
      padding: 10px 23px;
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 39px;
        left: 45px;
        width: 1px;
        height: 100%;
        background-image: linear-gradient(to bottom, var(--login-title-border-b) 0%, var(--login-title-border-b) 50%, transparent 50%);
        background-size: 1px 13px;
      }
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 39px;
        left: 24px;
        width: 1px;
        height: 100%;
        border-left: solid 1px var(--login-title-border-b);
      }
    }
  }
  .real-schedule,  .real-schedule-overwork{
    display: block;
    position: absolute;
    left: 155px;
    width: 150px;
    font-size: 14px;
    letter-spacing: 2px;
    background: var(--real-schedule-bg);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 1s;
    border-radius: 8px;
  }
  .real-schedule{
    background: var(--real-schedule-bg);
  }
  .real-schedule-overwork {
    background: var(--real-schedule-overwork-bg);
  }
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 38px;
    z-index: 1;
    width: 100%;
    height: 1px;
    border-top: solid 1px var(--login-title-border-b);
  }
}

// clock样式
.shadow {
  margin-bottom: 20px;
  z-index: 0;
  position: relative;
  padding: 20px;
  background-color: var(--login-right-part-bg);
  &:after {
    right: 10px;
    left: auto;
    transform: rotate(3deg);
  }
}
.minutes {
  font-size: 45px;
  color: rgb(169, 169, 169);
  margin-left: -15px;
}

.hour {
  display: inline-block;
}
.hour-style {
  background-color: var(--login-panel-bg);
  font-size: 80px;
  height: 127px;
  font-weight: 500;
  color: var(--grey);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 2px 4px;
  border-radius: 0 0 5px 5px;
  // font-family: 'digital';
  letter-spacing: 5px;
}
.date-style {
  height: 40px;
  border-bottom: 1px solid var(--login-title-border-b);
  line-height: 40px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
  background: var(--card-date-bg);
  color: var(--white);
  letter-spacing: 1px;
}

.stamp-warp {
  width: 90vw;
  min-width: 1200px;
  max-width: 1728px;
  margin: 10px auto;
  .gowork-btn {
    font-size:20px;border-radius: 23px;height: 50px;
  }
  .offwork-btn{
    font-size:20px;border-radius: 23px;height: 50px;
    border-color: var(--offwork-btn-border);
    color: var(--offwork-btn);
    background: var(--offwork-btn-bg);
  }
  .addwork-btn {
    font-size:20px;border-radius: 23px;height: 50px;
  }
}
.card {
  border-radius: 5px;
  height: 163px;
  box-shadow: var(--card-boxshadow);
  background: var(--login-panel-bg);
  .title {
    text-align: left;
    color: var(--card-title);
    font-size: 20px;
    padding: 20px 0 0 18px;
  }
  .num {
    display: inline-block;
    margin-top: 5px;
    margin-right: 3px;
    font-size: 45px;
  }
  .lp {
    font-size: 24px;
    color: #a9a9a9;
  }
}

@media (max-width: 1600px) {
  .hour-style {
    font-size: 50px;
    height: 95px;
  }
  .schedule {
    height: 270px;
    .title-wrap .plan-title {
      height: 230px;
    }
  }

  .card {
    height: 137px;
    .title {
      font-size: 16px;
      padding: 12px 0 0 15px;
      color: var(--card-title);
    }
    .num {
      margin-top: 12px;
      font-size: 35px;
    }
    .lp {
      font-size: 18px;
    }
  }
  .minutes {
    font-size: 24px;
  }
  .hour {
    margin-top: 5px;
  }
  .real-schedule {
    line-height: 100px;
  }
}
