.time {
  display: inline-block;
  width: 40%;
  padding-left: 10px;
}
.with-split {
  width: 40%;
  display: inline-block;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 30px;
    margin-left: -15px;
    border-right: 1px solid var(--border-grey);
  }
}
