.table-head-fixed {
  .ivu-table-header {
    position: fixed;
    top: 51px;
    z-index: 1;
  }
}
.divi-hour-line::before {
  content: '';
  display: block;
  position: relative;
  width: calc(100% + 16px);
  height: 1px;
  margin-top: 5px;
  margin-left: -8px;
  margin-bottom: 5px;
  background: var(--border-grey);
}
.work-changed-day {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
  background: var(--border-grey);
}
.error-code {
  color: var(--red);
  font-weight: 600;
}
.label.spec {
  background-color: var(--label-blue);
  color: var(--white);
  padding: 5px 0;
  font-size: 14px;
  font-weight: 600;
}
.month-sum {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-right: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
  border-left: 1px solid var(--border-grey);
  background-color: white;
}
/deep/.change-line span {
  white-space: pre-wrap;
}
.rest-cell {
  white-space: pre-line;
}
.week-rest {
  background: var(--light-blue);
  color: var(--primary);
  min-height: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.year-rest {
  background: var(--table-td-hover);
  color: var(--text-green);
  min-height: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}