<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='アプリケーション設定',cssPaths='/pages/content.min.css')">
</head>

<body>
  <div th:replace="layout/loadingBar::loadingBar"></div>
  <!-- 菜单导航栏 -->
  <div th:replace="layout/sider"></div>
  <main class="content startregistersettings-warp" ref="layout">
    <div class="content_head">
      <div class="header">
        <div class="title1">
          <h1>
            <Icon type="i-emeer colored"></Icon>
            {{ `アプリケーション設定` }}
          </h1>
        </div>
        <div class="btnbox">
          <span style="flex:1"></span>
          <i-button type="success" icon="md-done-all" @click="update" :loading="editLoading" :disabled="!hasChange">登録</i-button>
        </div>
      </div>
    </div>
    <div class="content_body">
      <Alert v-show="hasChange" class="error-info tl">情報が変更されています。 登録ボタンで登録処理を行なってください。</Alert>
      <div class="table-top">
        <Row :gutter="16">
          <i-col span="24" class="tr">
            <span class="mr10">ドラッグ機能:  </span><i-switch v-model="isDraggable" size="large">
              <span slot="open">ON</span>
              <span slot="close">OFF</span>
            </i-switch>
          </i-col>
        </Row>
      </div>
      <i-table border :class="tableHeadFixed ? 'table-head-fixed no-padding' : 'no-padding'" :draggable="isDraggable" @on-drag-drop="sortTableByDrag"
        :row-class-name="() => 'select-col'" :columns="columns" :disabled-hover="true" :data="tableData"
        :loading="loading" ref="table">
        <!-- type: "0" トップページ   <Icon type="md-compass" />
        type: "1" サイト   <Icon type="md-compass" />
        type: "3" アプリケーション ml10 <Icon type="md-desktop" />
        type: "4" サブアプリケーション <Icon type="md-easel" />
        type: "2" ダイアログアプリケーション ml10 <Icon type="ios-photos" />
        type: "5" 画面 ml20  <Icon type="md-browsers" />
        type: "6" 機能ボタン ml30 <Icon type="md-disc" /> -->

        <template slot-scope="{ row }" slot="objectName">
          <span v-if="row.type === '0'" class="mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-cloud" class="mr5"></Icon>{{row.name}}
          </span>
          <span v-if="row.type === '1'" class="mr10 mt5 mb5 ml10 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-compass" class="mr5"></Icon>{{row.name}}
          </span>
          <span v-if="row.type === '2'" class="mr10 mt5 mb5 ml30 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="ios-photos" class="mr5"></Icon>{{row.name}}
          </span>
          <span v-if="row.type === '3'" class="mr10 mt5 mb5 ml30 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-desktop" class="mr5"></Icon>{{row.name}}
          </span>
          <span v-if="row.type === '4'" class="mr10 mt5 mb5 ml30 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-easel" class="mr5"></Icon>{{row.name}}
          </span>
          <span v-if="row.type === '5'" class="mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary"
            style="margin-left: 70px;">
            <Icon type="md-browsers" class="mr5"></Icon>{{row.name}}
          </span>
          <span v-if="row.type === '6'" class="mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary"
            style="margin-left: 100px;">
            <Icon type="md-disc" class="mr5"></Icon>{{row.name}}
          </span>
        </template>

        <template slot-scope="{ row }" slot="type">
          <span v-if="row.type === '0'" style="color: var(--row-label-primary)">
            <Icon type="md-cloud" class="mr5"></Icon>トップページ
          </span>
          <span v-if="row.type === '1'" style="color: var(--row-label-primary)">
            <Icon type="md-compass" class="mr5"></Icon>サイト
          </span>
          <span v-if="row.type === '3'" style="color: var(--row-label-primary)">
            <Icon type="md-desktop" class="mr5"></Icon>アプリケーション
          </span>
          <span v-if="row.type === '4'" style="color: var(--row-label-primary)">
            <Icon type="md-easel" class="mr5"></Icon>サブアプリケーション
          </span>
          <span v-if="row.type === '2'" style="color: var(--row-label-primary)">
            <Icon type="ios-photos" class="mr5"></Icon>ダイアログアプリケーション
          </span>
          <span v-if="row.type === '5'" style="color: var(--row-label-primary)">
            <Icon type="md-browsers" class="mr5"></Icon>画面
          </span>
          <span v-if="row.type === '6'" style="color: var(--row-label-primary)">
            <Icon type="md-disc" class="mr5"></Icon>機能ボタン
          </span>
        </template>

        <template slot-scope="{ row }" slot="action">
          <span v-if="row.type === '0'" style="color: var(--row-label-primary)">
            <i-button type="primary" ghost icon="md-create" size="small" @click="handleBtn(row, '0')">トップページ編集
            </i-button>
            <i-button type="success" ghost icon="md-add" size="small" @click="handleBtn(row, '1', true)">サイト追加
            </i-button>
            <i-button type="success" ghost icon="md-add" size="small" @click="handleBtn(row, '2', true)">ダイアログアプリ追加
            </i-button>
          </span>
          <span v-if="row.type === '1'" style="color: var(--row-label-primary)">
            <i-button type="primary" ghost icon="md-create" size="small" @click="handleBtn(row, '1')">サイト編集</i-button>
            <i-button type="success" ghost icon="md-add" size="small" @click="handleBtn(row, '3', true)">アプリ追加
            </i-button>
          </span>
          <span v-if="row.type === '3'" style="color: var(--row-label-primary)">
            <i-button type="primary" ghost icon="md-create" size="small" @click="handleBtn(row, '3')">アプリ編集</i-button>
            <i-button type="success" ghost icon="md-add" size="small" @click="handleBtn(row, '5', true)">画面追加</i-button>
          </span>
          <span v-if="row.type === '4'" style="color: var(--row-label-primary)">
            サブアプリケーション
          </span>
          <span v-if="row.type === '2'" style="color: var(--row-label-primary)">
            <i-button type="primary" ghost icon="md-create" size="small" @click="handleBtn(row, '2')">ダイアログアプリ編集
            </i-button>
          </span>
          <span v-if="row.type === '5'" style="color: var(--row-label-primary)">
            <i-button type="primary" ghost icon="md-create" size="small" @click="handleBtn(row, '5')">画面編集</i-button>
            <i-button type="success" ghost icon="md-add" size="small" @click="handleBtn(row, '6', true)">ボタン追加
            </i-button>
          </span>
          <span v-if="row.type === '6'" style="color: var(--row-label-primary)">
            <i-button type="primary" ghost icon="md-create" size="small" @click="handleBtn(row, '6')">ボタン編集</i-button>
          </span>
          <i-button v-if="'12356'.indexOf(row.type) > -1" type="error" ghost icon="md-trash" size="small" @click="handleDelete(row.objectId)">{{ handleDeleteTitle(row.type) }}</i-button>
        </template>
      </i-table>
    </div>
    <Modal class="tc" v-model="isShow" title="対象範囲設定" width="650" :mask-closable="false" footer-hide>
      <Alert class="error-info tl">入力内容は登録するまで保持されます。</Alert>
      <i-form :label-width="200" :model="updateValue" class="tl" style="margin: 10px 10px 0;">
        <form-item v-if="updateValue._type === '0'" label="ホームページURL">
          <i-input v-model="updateValue.url" placeholder="ホームページURL"></i-input>
        </form-item>
        <!-- 单法人 -->
        <form-item v-if="updateValue._type === '0'" label="システム">
          <i-select v-model="updateValue.systemId" placeholder="選択ください">
            <i-option label="SmartCompany" value="01"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="サイトID">
          <i-input v-model="updateValue.siteId" placeholder="サイトID" :disabled="!updateValue.isAdd"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="サイトの名称(日本語)">
          <i-input v-model="updateValue.name" placeholder="サイトの名称(日本語)"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="サイトURL">
          <i-input v-model="updateValue.url" placeholder="サイトURL"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="サイト画像URL">
          <i-input v-model="updateValue.icon" placeholder="サイト画像URL"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="サイトの説明(日本語)">
          <i-input v-model="updateValue.remark" placeholder="サイトの説明(日本語)"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="使用レイアウト">
          <i-select v-model="updateValue.templateId" placeholder="選択ください">
            <i-option v-for="(item, index) of conditionsList" :key="index" :label="item.matCname"
              :value="item.matCtemplateid">
            </i-option>
          </i-select>
        </form-item>
        <form-item v-if="updateValue._type === '1'" label="デフォルト検索対象者">
          <i-select v-model="updateValue.defaultTargetUser" placeholder="選択ください">
            <i-option label="先頭の部下（評価対象者）" value="1"></i-option>
            <i-option label="ログインユーザ" value="2"></i-option>
            <i-option label="デフォルトなし" value="3"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="適用基準日">
          <i-select v-model="updateValue.baseDateType" placeholder="選択ください">
            <i-option label="指定基準日" value="1"></i-option>
            <i-option label="システム日付" value="2"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '2' || updateValue._type === '3'" label="アプリケーションID">
          <i-input v-model="updateValue.appId" :disabled="!updateValue.isAdd"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '2' || updateValue._type === '3'" label="アプリケーションの名称(日本語)">
          <i-input v-model="updateValue.name"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '2' || updateValue._type === '3'" label="アプリケーションURL">
          <i-input v-model="updateValue.url"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '5'" label="画面ID">
          <i-input v-model="updateValue.screenId"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '5'" label="画面の名称(日本語)">
          <i-input v-model="updateValue.name"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '5'" label="画面URL">
          <i-input v-model="updateValue.url"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '2' || updateValue._type === '3'|| updateValue._type === '5'"
          label="使用レイアウト">
          <i-select v-model="updateValue.templateId" placeholder="選択ください">
            <i-option label="デフォルトなし" value="null" v-if="defaultOption"></i-option>
            <i-option v-for="(item, index) of conditionsList" :key="index" :label="item.matCname"
              :value="item.matCtemplateid">
            </i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '2'" label="システム">
          <i-select v-model="updateValue.systemId" placeholder="選択ください">
            <i-option label="SmartCompany" value="01"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '3' || updateValue._type === '5'" label="検索対象範囲適用種別">
          <i-select v-model="updateValue.permissionType" placeholder="選択ください">
            <i-option label="デフォルト設定" value="null" v-if="defaultOption"></i-option>
            <i-option label="アプリケーションでチェック" value="0"></i-option>
            <i-option label="起動時にチェック" value="1"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '1' || updateValue._type === '3'" label="ドメイン">
          <i-select v-model="updateValue.domainId" placeholder="選択ください">
            <i-option label="従業員" value="01"></i-option>
            <i-option label="組織" value="02"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="アプリケーション自動起動">
          <i-select v-model="updateValue.autoUpload" placeholder="選択ください">
            <i-option label="自動起動しない" value="0"></i-option>
            <i-option label="自動起動する" value="1"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '6'" label="ボタンID">
          <i-input v-model="updateValue.buttonId" :disabled="!updateValue.isAdd"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '6'" label="ボタンの名称(日本語)">
          <i-input v-model="updateValue.name"></i-input>
        </form-item>
      </i-form>
      <div class="my-footer tr mt10 mr10">
        <i-button type="text" @click="isShow = false">キャンセル</i-button>
        <i-button type="success" @click="joinUpdate" :loading="btnLoading">登録
        </i-button>
    </div>
    </Modal>
    <back-top></back-top>
  </main>
  <div th:replace="layout/head::header"></div>
  <script type="text/babel" th:inline="javascript">
    const START_REGISTER_SETTINGS = new Vue({
      el: '.startregistersettings-warp',
      data() {
        return {
          isShow: false,
          isDraggable: true,
          loading: true,
          editLoading: false,
          btnLoading: false,
          hasChange: false,
          defaultOption: false,
          psSite: Utils.getUrlParam(location.href, 'psSite'),
          psApp: Utils.getUrlParam(location.href, 'psApp'),
          updateValue: {},
          columns: [
            {
              title: 'アプリケーション名',
              minWidth: 400,
              maxWidth: 600,
              slot: 'objectName'
            },
            {
              title: '種別',
              minWidth: 220,
              maxWidth: 320,
              slot: 'type'
            },
            {
              title: '操作',
              minWidth: 560,
              maxWidth: 900,
              slot: 'action',
              align: 'right'
            }
          ],
          opts: {
            systemId: '01',
            appId: '0',
            siteId: '0',
            companyId: '0',
            date: '',
            groupId: '0',
            isAll: false,
          },
          tableData: [],
          conditionsList: [],
          contentScrollTop: 0
        }
      },
      async created() {
        this.getConditionsList()
        this.getTableData()
        window.addEventListener('scroll', this.handleScroll, { passive: true })
      },
      beforeDestroy() {
        window.removeEventListener('scroll', this.handleScroll, { passive: true })
      },
      computed: {
        tableHeadFixed() {
          if (this.contentScrollTop > 110) return true
          else return false
        }
      },
      methods: {
        async getTableData() {
          const OPTS = { ...this.opts }
          OPTS.psSite = Utils.getUrlParam(location.href, 'psSite')
          OPTS.psApp = Utils.getUrlParam(location.href, 'psApp')
          Object.keys(OPTS).forEach(key => {
            if (OPTS[key] === '0') {
              delete OPTS[key]
            }
          })
          this.loading = true
          try {
            const { data } = await this.http.get('sys/appmanager/applist', OPTS)
            this.tableData = data
          } catch (error) {
          } finally {
            this.loading = false
          }
        },
        async getConditionsList() {
          const { data } = await this.http.get('sys/appmanager/templates')
          this.conditionsList = data
        },
        handleBtn(row, type, isAdd) {
          this.defaultOption = false
          if (type === '0') {
            this.updateValue = { ...row }
          }
          if (type === '1') {
            if (isAdd) {
              this.updateValue = {
                templateId: 'ContentSearchResultEmp',
                systemId: '01',
                objectId: row.objectId,
                _index: row._index,
                defaultTargetUser: '1',
                baseDateType: '1',
                type: '1',
                domainId: '01',
                autoUpload: '0'
              }
            } else {
              this.updateValue = { ...row }
            }
          }

          if (type === '3') {
            if (isAdd) {
              this.updateValue = {
                useSubAppFlag: '00',
                templateId: 'ContentSearchResultEmp',
                _index: row._index,
                objectId: row.objectId,
                type: '3',
                systemId: '01',
                permissionType: '0',
                domainId: '01',
                siteId: row.siteId, appId: row.appId, screenId: row.screenId
              }
            } else {
              this.updateValue = { ...row }
            }
          }

          if (type === '2') {
            if (isAdd) {
              this.updateValue = {
                templateId: 'ContentSearchResultEmp',
                objectId: row.objectId,
                _index: row._index,
                type: '2',
                systemId: '01',
                siteId: row.siteId, appId: row.appId, screenId: row.screenId
              }
            } else {
              this.updateValue = { ...row }
            }
          }

          if (type === '5') {
            this.defaultOption = true
            if (isAdd) {
              this.updateValue = {
                templateId: 'null',
                objectId: row.objectId,
                _index: row._index,
                systemId: '01',
                type: '5',
                permissionType: 'null',
                siteId: row.siteId, appId: row.appId, screenId: row.screenId
              }
            } else {
              this.updateValue = { ...row, templateId: row.templateId ?  row.templateId : 'null',permissionType: row.permissionType ?  row.permissionType : 'null'}
            }
          }
          if (type === '6') {
            if (isAdd) {
              this.updateValue = {  systemId: '01', _index: row._index, type: '6', objectId: row.objectId, siteId: row.siteId, appId: row.appId, screenId: row.screenId }
            } else {
              this.updateValue = { ...row }
            }
          }
          this.updateValue.isAdd = isAdd
          this.updateValue._type = type
          this.isShow = true
        },
        async update() {
          this.$Modal.confirm({
            title: '注意',
            content: '入力内容を保存します。よろしいですか？',
            okText: 'OK',
            cancelText: 'キャンセル',
            onOk: async () => {
              this.loading = true
              const update = this.tableData.map((e, i)=> {
                return {
                  ...e,
                  templateId: e.templateId === 'null' ? null : e.templateId,
                  permissionType: e.permissionType === 'null' ? null : e.permissionType
                }
              })
              try {
                const { data } = await this.http.post('sys/appmanager/update', update)
                this.$Message.success('更新完了')
                this.getTableData()
                this.updateValue = {}
              } catch (error) {
              } finally {
                history.go(0)
                this.loading = false
              }
            }
          })
        },
        joinUpdate() {
          this.hasChange = true
          const index = this.updateValue._index
          // 添加site
          if(this.updateValue.type === '1') {
            if(!this.updateValue.siteId || !this.updateValue.siteId.trim()) return this.$Notice.warning({ title: '注意', desc: 'サイトIDを入力してください', duration: 6.5 })
            if(!this.updateValue.name || !this.updateValue.name.trim()) return this.$Notice.warning({ title: '注意', desc: 'サイトの名称(日本語)を入力してください', duration: 6.5 })
            if(!this.updateValue.url || !this.updateValue.url.trim()) return this.$Notice.warning({ title: '注意', desc: 'サイトURLを入力してください', duration: 6.5 })
            if(!this.updateValue.icon || !this.updateValue.icon.trim()) return this.$Notice.warning({ title: '注意', desc: 'サイト画像URLを入力してください', duration: 6.5 })
            if(!this.updateValue.remark || !this.updateValue.remark.trim()) return this.$Notice.warning({ title: '注意', desc: 'サイトの説明(日本語)を入力してください', duration: 6.5 })
          }

          // 添加アプリ
          if(this.updateValue.type === '2' || this.updateValue.type === '3') {
            if(!this.updateValue.appId || !this.updateValue.appId.trim()) return this.$Notice.warning({ title: '注意', desc: 'アプリケーションIDを入力してください', duration: 6.5 })
            if(!this.updateValue.name || !this.updateValue.name.trim()) return this.$Notice.warning({ title: '注意', desc: 'アプリケーションの名称(日本語)を入力してください', duration: 6.5 })
            if(!this.updateValue.url || !this.updateValue.url.trim()) return this.$Notice.warning({ title: '注意', desc: 'アプリケーションURLを入力してください', duration: 6.5 })

            if(this.updateValue.isAdd) this.updateValue.objectId = this.updateValue.objectId.concat(`_${this.updateValue.appId}`)
          }

          // 添加画面編集
          if(this.updateValue.type === '5') {
            if(!this.updateValue.appId || !this.updateValue.appId.trim()) return this.$Notice.warning({ title: '注意', desc: '画面IDを入力してください', duration: 6.5 })
            if(!this.updateValue.name || !this.updateValue.name.trim()) return this.$Notice.warning({ title: '注意', desc: '画面の名称(日本語)を入力してください', duration: 6.5 })
            if(!this.updateValue.url || !this.updateValue.url.trim()) return this.$Notice.warning({ title: '注意', desc: '画面URLを入力してください', duration: 6.5 })

            if(this.updateValue.isAdd) this.updateValue.objectId = this.updateValue.objectId.concat(`__${this.updateValue.screenId}`)
          }

          // 添加ボタン追加
          if(this.updateValue.type === '6') {
            if(!this.updateValue.buttonId || !this.updateValue.buttonId.trim()) return this.$Notice.warning({ title: '注意', desc: 'ボタンIDを入力してください', duration: 6.5 })
            if(!this.updateValue.name || !this.updateValue.name.trim()) return this.$Notice.warning({ title: '注意', desc: 'ボタンの名称(日本語)を入力してください', duration: 6.5 })

            if(this.updateValue.isAdd) this.updateValue.objectId = this.updateValue.objectId.concat(`_${this.updateValue.buttonId}`)
          }
          if(this.updateValue.isAdd) {
            this.tableData.splice(index + 1, 0, {...this.updateValue})
          } else {
            this.$set(this.tableData, index, {...this.updateValue})
          }
          this.isShow = false
        },
        sortTableByDrag(from, to) {
          const fromUnits = this.tableData[from].objectId.split('_')
          const toUnits = this.tableData[to].objectId.split('_')
          if(fromUnits.length === toUnits.length) {
            let pass = true
            fromUnits.forEach((e,i)=> {
              if(i < fromUnits.length - 1 && e !== toUnits[i] ){
                pass = false
              }
            })
            if(pass) {
              // 这里如果又子集应该将子集一起拖动了
              let type = this.tableData[from].type
              let fromArray = [{...this.tableData[from]}]
              let type2 = this.tableData[to].type
              let toArray = [{...this.tableData[to]}]
              this.tableData.some((e, i)=> {
                const len = e.objectId.split('_').length
                if(i > from && len > fromUnits.length) {
                  fromArray.push(e)
                }
                if(i > from && len === fromUnits.length) return true
              })

              this.tableData.some((e, i)=> {
                const len = e.objectId.split('_').length
                if(i > to && len > toUnits.length) {
                  toArray.push(e)
                }
                if(i > to && len === toUnits.length) return true
              })
              // 交换复数的位置
              // 先切掉form再塞to进去
              // console.log(fromArray.map(e=>e.name))
              // console.log(toArray.map(e=>e.name))
              this.tableData.splice(from, fromArray.length, ...toArray)
              // 删掉原来to的地方，将from塞进去
              // 如果时从下面往上面拖
              if(from > to) {
                this.tableData.splice(to, toArray.length, ...fromArray)
              } else {
                this.tableData.splice(to - fromArray.length + toArray.length, toArray.length, ...fromArray)
              }
              this.hasChange = true
            }
          } else {
            this.$Notice.warning({ title: '注意', desc: 'これ以上、上に移動することはできません', duration: 6.5 })
          }
        },
        handleDelete(id) {
          this.$Modal.confirm({
            title: '注意',
            content: '削除します。よろしいですか？',
            okText: 'OK',
            cancelText: 'キャンセル',
            onOk: () => {
              const index = this.tableData.findIndex(e => e.objectId === id)
              const units = this.tableData[index].objectId.split('_')
              let num = 1
              // 需要将子集全删除
              this.tableData.some((e, i) => {
                const _e = e.objectId.split('_')
                const first = _e[0]
                const len = e.length
                if (i > index && len > units.length && units[0] === first) {
                  num += 1
                }
                if (i > index && len === units.length && units[0] === first) return true
              })
              this.tableData.splice(index, num)
              this.hasChange = true
            }
          })
        },
        handleDeleteTitle(type) {
          if(type === '1') return 'サイト削除'
          if(type === '2') return 'ダイアログアプリ削除'
          if(type === '3') return 'アプリ削除'
          if(type === '5') return '画面削除'
          if(type === '6') return 'ボタン削除'
        },
        handleScroll: Throttle(function (e) {
          this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
        }, 50)
      }
    })
  </script>
</body>

</html>