<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='アプリケーション設定',cssPaths='/pages/content.min.css')">
</head>

<body th:with="baseUrl = ${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath()}">
  <script th:src="${baseUrl + '/static/libs/dTree.js?t='+ new java.util.Date().getTime()}">
  </script>
  <style>
    .drag-tree-table {
      margin: 0;
    }
    .tree-column {
      font-size: 14px;
      padding: 2px 10px;
      background: var(--table-body-bg);
    }
    .tree-row {
      line-height: unset;
    }
    .drag-tree-table-header {
      height: auto;
      line-height: unset;
      color: var(--white);
    }
    .drag-tree-table-header  .tree-column{
      background-color: var(--table-head);
    }
  </style>
  <div th:replace="layout/loadingBar::loadingBar"></div>
  <!-- 菜单导航栏 -->
  <div th:replace="layout/sider"></div>
  <main class="content startregistersettings-warp" ref="layout">
    <div class="content_head">
      <div class="header">
        <div class="title1">
          <h1>
            <Icon type="i-emeer colored"></Icon>
            {{ `アプリケーション設定` }}
          </h1>
        </div>
        <div class="btnbox">
          <span style="flex:1"></span>
          <i-button type="primary" icon="md-create" @click="updateSort" :disabled="sortList.length === 0">ソード更新</i-button>
          <i-button type="primary" icon="md-refresh" @click="()=> history.go(0)" :disabled="!hasChange">再表示</i-button>
        </div>
      </div>
    </div>
    <div class="content_body">
      <Alert v-show="hasChange" class="error-info tl">情報が変更されています。 再表示ボタンでを押してください。</Alert>
      <div class="table-top">
        <Row :gutter="16">
          <i-col span="24" class="tr">
            <span class="mr10">ドラッグ機能:  </span><i-switch v-model="isDraggable" size="large">
              <span slot="open">ON</span>
              <span slot="close">OFF</span>
            </i-switch>
          </i-col>
        </Row>
      </div>
      <dtree :class="tableHeadFixed ? 'table-head-fixed' : ''" :data="dTreeData" @drag="sortTableByDrag(arguments)" border :isdraggable="isDraggable" ref="table">
        <!-- type: "0" トップページ   <Icon type="md-compass" />
        type: "1" サイト   <Icon type="md-compass" />
        type: "3" アプリケーション ml10 <Icon type="md-desktop" />
        type: "4" サブアプリケーション <Icon type="md-easel" />
        type: "2" ダイアログアプリケーション ml10 <Icon type="ios-photos" />
        type: "5" 画面 ml20  <Icon type="md-browsers" />
        type: "6" 機能ボタン ml30 <Icon type="md-disc" /> -->
        <template #selection="{row}">
          <span v-if="row.type === '0'" class="ml5 mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-cloud" class="mr5"></Icon>{{row.name}}
          </span>
          <span v-if="row.type === '1'" class="ml5 mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-compass" class="mr5"></Icon>{{row.name}}
          </span>
          <span v-if="row.type === '3'" class="ml5 mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-desktop" class="mr5"></Icon>{{row.name}}
          </span>
          <span v-if="row.type === '6'" class="ml5 mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-disc" class="mr5"></Icon>{{row.name}}
          </span>
        </template>

        <template #type="{row}">
          <span class="ver-center">
          <span v-if="row.type === '0'" style="color: var(--row-label-primary);">
            <Icon type="md-cloud" class="mr5"></Icon>トップページ
          </span>
          <span v-if="row.type === '1'" style="color: var(--row-label-primary)">
            <Icon type="md-compass" class="mr5"></Icon>サイト
          </span>
          <span v-if="row.type === '3'" style="color: var(--row-label-primary)">
            <Icon type="md-desktop" class="mr5"></Icon>アプリケーション
          </span>
          <span v-if="row.type === '6'" style="color: var(--row-label-primary)">
            <Icon type="md-disc" class="mr5"></Icon>機能ボタン
          </span>
        </span>
        </template>
        <template #action="{row}">
          <span style="display: inline-block; margin-top: 6px;">
          <span v-if="row.type === '0'" style="color: var(--row-label-primary)">
            <i-button type="primary" ghost icon="md-create" size="small" @click.stop="handleBtn(row, '0')">トップページ編集
            </i-button>
            <i-button type="success" ghost icon="md-add" size="small" @click.stop="handleBtn(row, '1', true)">サイト追加
            </i-button>
          </span>
          <span v-if="row.type === '1'" style="color: var(--row-label-primary)">
            <i-button type="primary" ghost icon="md-create" size="small" @click.stop="handleBtn(row, '1')">サイト編集</i-button>
            <i-button type="success" ghost icon="md-add" size="small" @click.stop="handleBtn(row, '3', true)">アプリ追加
            </i-button>
          </span>
          <span v-if="row.type === '3'" style="color: var(--row-label-primary)">
            <i-button type="primary" ghost icon="md-create" size="small" @click.stop="handleBtn(row, '3')">アプリ編集</i-button>
            <i-button type="success" ghost icon="md-add" size="small" @click.stop="handleBtn(row, '6', true)">ボタン追加
            </i-button>
          </span>
          <span v-if="row.type === '6'" style="color: var(--row-label-primary)">
            <i-button type="primary" ghost icon="md-create" size="small" @click.stop="handleBtn(row, '6')">ボタン編集</i-button>
          </span>
          <i-button v-if="'12356'.indexOf(row.type) > -1" type="error" ghost icon="md-trash" size="small" @click.stop="handleDelete(row.id)">{{ handleDeleteTitle(row.type) }}</i-button>
        </span>
        </template>
      </dtree>
    </div>
    <Modal class="tc" v-model="isShow" title="対象範囲設定" width="650" :mask-closable="false" footer-hide>
      <Alert class="error-info tl">入力内容は登録するまで保持されます。</Alert>
      <i-form :label-width="200" :model="updateValue" class="tl" style="margin: 10px 10px 0;">
        <form-item v-if="updateValue._type === '0'" label="ホームページURL">
          <i-input v-model="updateValue.url" placeholder="ホームページURL"></i-input>
        </form-item>
        <!-- 单法人 -->
        <form-item v-if="updateValue._type === '0'" label="システム">
          <i-select v-model="updateValue.systemId" placeholder="選択ください">
            <i-option label="SmartCompany" value="01"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="サイトID">
          <i-input v-model="updateValue.siteId" placeholder="サイトID" :disabled="!updateValue.isAdd"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="サイトの名称(日本語)">
          <i-input v-model="updateValue.name" placeholder="サイトの名称(日本語)"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="サイトURL">
          <i-input v-model="updateValue.url" placeholder="サイトURL"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="アイコン">
          <i-input v-model="updateValue.icon" placeholder="アイコン"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="サイトの説明(日本語)">
          <i-input v-model="updateValue.remark" placeholder="サイトの説明(日本語)"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="使用レイアウト">
          <i-select v-model="updateValue.templateId" placeholder="選択ください">
            <i-option v-for="(item, index) of conditionsList" :key="index" :label="item.matCname"
              :value="item.matCtemplateid">
            </i-option>
          </i-select>
        </form-item>
        <form-item v-if="updateValue._type === '1'" label="デフォルト検索対象者">
          <i-select v-model="updateValue.defaultTargetUser" placeholder="選択ください">
            <i-option label="先頭の部下（評価対象者）" value="1"></i-option>
            <i-option label="ログインユーザ" value="2"></i-option>
            <i-option label="デフォルトなし" value="3"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="適用基準日">
          <i-select v-model="updateValue.baseDateType" placeholder="選択ください">
            <i-option label="指定基準日" value="1"></i-option>
            <i-option label="システム日付" value="2"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '2' || updateValue._type === '3'" label="アプリケーションID">
          <i-input v-model="updateValue.appId" :disabled="!updateValue.isAdd" placeholder="アプリケーションID"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '2' || updateValue._type === '3'" label="アプリケーションの名称(日本語)">
          <i-input v-model="updateValue.name" placeholder="アプリケーションの名称(日本語)"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '2' || updateValue._type === '3'" label="アプリケーションURL">
          <i-input v-model="updateValue.url" placeholder="アプリケーションURL"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '3'" label="アイコン">
          <i-input v-model="updateValue.icon" placeholder="アイコン"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '5'" label="画面ID">
          <i-input v-model="updateValue.screenId" placeholder="画面ID"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '5'" label="画面の名称(日本語)">
          <i-input v-model="updateValue.name" placeholder="画面の名称(日本語)"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '5'" label="画面URL">
          <i-input v-model="updateValue.url" placeholder="画面URL"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '2' || updateValue._type === '3'|| updateValue._type === '5'"
          label="使用レイアウト">
          <i-select v-model="updateValue.templateId" placeholder="選択ください">
            <i-option label="デフォルトなし" value="null" v-if="defaultOption"></i-option>
            <i-option v-for="(item, index) of conditionsList" :key="index" :label="item.matCname"
              :value="item.matCtemplateid">
            </i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '2'" label="システム">
          <i-select v-model="updateValue.systemId" placeholder="選択ください">
            <i-option label="SmartCompany" value="01"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '3' || updateValue._type === '5'" label="検索対象範囲適用種別">
          <i-select v-model="updateValue.permissionType" placeholder="選択ください">
            <i-option label="デフォルト設定" value="null" v-if="defaultOption"></i-option>
            <i-option label="アプリケーションでチェック" value="0"></i-option>
            <i-option label="起動時にチェック" value="1"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '1' || updateValue._type === '3'" label="ドメイン">
          <i-select v-model="updateValue.domainId" placeholder="選択ください">
            <i-option label="従業員" value="01"></i-option>
            <i-option label="組織" value="02"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '1'" label="アプリケーション自動起動">
          <i-select v-model="updateValue.autoUpload" placeholder="選択ください">
            <i-option label="自動起動しない" value="0"></i-option>
            <i-option label="自動起動する" value="1"></i-option>
          </i-select>
        </form-item>

        <form-item v-if="updateValue._type === '6'" label="ボタンID">
          <i-input v-model="updateValue.buttonId" :disabled="!updateValue.isAdd" placeholder="ボタンID"></i-input>
        </form-item>

        <form-item v-if="updateValue._type === '6'" label="ボタンの名称(日本語)">
          <i-input v-model="updateValue.name" placeholder="ボタンの名称(日本語)"></i-input>
        </form-item>
      </i-form>
      <div class="my-footer tr mt10 mr10">
        <i-button type="text" @click="isShow = false">キャンセル</i-button>
        <i-button type="success" @click="joinUpdate" :loading="btnLoading">登録
        </i-button>
    </div>
    </Modal>
    <back-top></back-top>
  </main>
  <div th:replace="layout/head::header"></div>
  <script type="text/babel" th:inline="javascript">
    const START_REGISTER_SETTINGS = new Vue({
      el: '.startregistersettings-warp',
      data() {
        return {
          isShow: false,
          isDraggable: true,
          loading: true,
          btnLoading: false,
          hasChange: false,
          defaultOption: false,
          dTreeData: {
            columns: [
              {
                type: 'selection',
                title: '菜单名称',
                align: 'left',
                flex: 2
              },
              {
                type: 'slot',
                slot: 'type',
                title: '種別',
                align: 'left',
                flex: 1
              },
              {
                type: 'slot',
                slot: 'action',
                title: '操作',
                align: 'right',
                flex: 3,
              },
            ],
            lists: [],
            custom_field: {
              id: 'objectId',
              // order: 'sort',
              lists: 'children',
              parent_id: 'parentId'
            }
          },
          psSite: Utils.getUrlParam(location.href, 'psSite'),
          psApp: Utils.getUrlParam(location.href, 'psApp'),
          updateValue: {},
          opts: {
            systemId: '01',
            appId: '0',
            siteId: '0',
            companyId: '0',
            date: '',
            groupId: '0',
            isAll: false,
          },
          tableData: [],
          conditionsList: [],
          sortList: [],
          contentScrollTop: 0
        }
      },
      async created() {
        this.getConditionsList()
        this.getTableData()
        window.addEventListener('scroll', this.handleScroll, { passive: true })
      },
      beforeDestroy() {
        window.removeEventListener('scroll', this.handleScroll, { passive: true })
      },
      computed: {
        tableHeadFixed() {
          if (this.contentScrollTop > 110) return true
          else return false
        }
      },
      methods: {
        async getTableData() {
          const OPTS = { ...this.opts }
          OPTS.psSite = Utils.getUrlParam(location.href, 'psSite')
          OPTS.psApp = Utils.getUrlParam(location.href, 'psApp')
          Object.keys(OPTS).forEach(key => {
            if (OPTS[key] === '0') {
              delete OPTS[key]
            }
          })
          this.loading = true
          try {
            const { data } = await this.http.get('sys/appmanager/applist', OPTS)
            this.dTreeData.lists = data
            this.$refs.table.OpenAll()
          } catch (error) {
          } finally {
            this.loading = false
          }
        },
        async getConditionsList() {
          const { data } = await this.http.get('sys/appmanager/templates')
          this.conditionsList = data
        },
        handleBtn(row, type, isAdd) {
          this.defaultOption = false
          if (type === '0') {
            this.updateValue = { ...row }
          }
          if (type === '1') {
            if (isAdd) {
              this.updateValue = {
                templateId: 'ContentSearchResultEmp',
                systemId: '01',
                objectId: row.objectId,
                _index: row._index,
                parentId: row.objectId,
                sort: row.children && row.children.length > 0 ? row.children[row.children.length - 1].sort + 1 : 0,
                defaultTargetUser: '1',
                baseDateType: '1',
                type: '1',
                domainId: '01',
                autoUpload: '0'
              }
            } else {
              this.updateValue = { ...row }
            }
          }

          if (type === '3') {
            if (isAdd) {
              this.updateValue = {
                useSubAppFlag: '00',
                templateId: 'ContentSearchResultEmp',
                _index: row._index,
                objectId: row.objectId,
                parentId: row.objectId,
                sort: row.children && row.children.length > 0 ? row.children[row.children.length - 1].sort + 1 : 0,
                type: '3',
                systemId: '01',
                permissionType: '0',
                domainId: '01',
                siteId: row.siteId, appId: row.appId, screenId: row.screenId
              }
            } else {
              this.updateValue = { ...row }
            }
          }
          if (type === '6') {
            if (isAdd) {
              this.updateValue = { systemId: '01', _index: row._index, type: '6', objectId: row.objectId, parentId: row.objectId, siteId: row.siteId, appId: row.appId, screenId: row.screenId,sort: row.children && row.children.length > 0 ? row.children[row.children.length - 1].sort + 1 : 0,}
            } else {
              this.updateValue = { ...row }
            }
          }
          this.updateValue.isAdd = isAdd
          this.updateValue._type = type
          this.isShow = true
        },
        async update(update) {
          this.loading = true
          try {
            const { data } = await this.http.post('sys/appmanager/update', update)
            this.$Message.success('更新完了')
            this.getTableData()
            this.updateValue = {}
          } catch (error) {
          } finally {
            this.loading = false
          }
        },
        joinUpdate() {
          this.hasChange = true
          const index = this.updateValue._index
          // 添加site
          if (this.updateValue.type === '1') {
            if (!this.updateValue.siteId || !this.updateValue.siteId.trim()) return this.$Notice.warning({ title: '注意', desc: 'サイトIDを入力してください', duration: 6.5 })
            if (!this.updateValue.name || !this.updateValue.name.trim()) return this.$Notice.warning({ title: '注意', desc: 'サイトの名称(日本語)を入力してください', duration: 6.5 })
            if (!this.updateValue.url || !this.updateValue.url.trim()) return this.$Notice.warning({ title: '注意', desc: 'サイトURLを入力してください', duration: 6.5 })
            if (!this.updateValue.icon || !this.updateValue.icon.trim()) return this.$Notice.warning({ title: '注意', desc: 'サイト画像URLを入力してください', duration: 6.5 })
            if (!this.updateValue.remark || !this.updateValue.remark.trim()) return this.$Notice.warning({ title: '注意', desc: 'サイトの説明(日本語)を入力してください', duration: 6.5 })
          }

          // 添加アプリ
          if (this.updateValue.type === '2' || this.updateValue.type === '3') {
            if (!this.updateValue.appId || !this.updateValue.appId.trim()) return this.$Notice.warning({ title: '注意', desc: 'アプリケーションIDを入力してください', duration: 6.5 })
            if (!this.updateValue.name || !this.updateValue.name.trim()) return this.$Notice.warning({ title: '注意', desc: 'アプリケーションの名称(日本語)を入力してください', duration: 6.5 })
            if (!this.updateValue.url || !this.updateValue.url.trim()) return this.$Notice.warning({ title: '注意', desc: 'アプリケーションURLを入力してください', duration: 6.5 })

            if (this.updateValue.isAdd) this.updateValue.objectId = this.updateValue.objectId.concat(`_${this.updateValue.appId}`)
          }

          // 添加ボタン追加
          if (this.updateValue.type === '6') {
            if (!this.updateValue.buttonId || !this.updateValue.buttonId.trim()) return this.$Notice.warning({ title: '注意', desc: 'ボタンIDを入力してください', duration: 6.5 })
            if (!this.updateValue.name || !this.updateValue.name.trim()) return this.$Notice.warning({ title: '注意', desc: 'ボタンの名称(日本語)を入力してください', duration: 6.5 })

            if (this.updateValue.isAdd) this.updateValue.objectId = this.updateValue.objectId.concat(`__${this.updateValue.buttonId}`)
          }
          if (this.updateValue.isAdd) {

          } else {

          }
          this.update(this.updateValue)
          this.isShow = false
        },
        sortTableByDrag(e) {
          let samesite = true
          const fromUnits = e[1].objectId.split('_')
          const toUnits = e[2].objectId.split('_')
          fromUnits.forEach((e,i)=> {
              if(i < fromUnits.length - 1 && e !== toUnits[i] ){
                samesite = false
              }
          })
          if (e[3] === 'center' || e[2].type === '0' || !samesite) return
          this.dTreeData.lists = e[0]
          let sort = 0
          this.deepNodes(this.dTreeData.lists, e[1].id, (nodes) => {
            this.sortList = this.sortList.concat({id:nodes.id, sort: sort++})
          })

        },
        deepNodes(nodes, id, cb) {
          const that = this
          nodes.forEach((e, i) => {
            cb(e)
            if (e.children && e.children.length > 0) {
              that.deepNodes(e.children, id, cb)
            }
          })
        },
        async updateSort() {
          try {
            this.loading = true
            const { data } = await this.http.post('sys/appmanager/sort', this.sortList)
            this.$Message.success('更新完了')
            this.sortList = []
            history.go(0)
          } catch (error) {
          } finally {
            this.loading = false
          }
        },
        handleDelete(id) {
          this.$Modal.confirm({
            title: '注意',
            content: '削除します。よろしいですか？',
            okText: 'OK',
            cancelText: 'キャンセル',
            onOk: async () => {
              try {
                this.loading = true
                const { data } = await this.http.get('sys/appmanager/delete', {id:id})
                this.$Message.success('削除完了')
                this.hasChange = true
                this.getTableData()
              } catch (error) {
              } finally {
                this.loading = false
              }
            }
          })
        },
        handleDeleteTitle(type) {
          if (type === '1') return 'サイト削除'
          if (type === '2') return 'ダイアログアプリ削除'
          if (type === '3') return 'アプリ削除'
          if (type === '5') return '画面削除'
          if (type === '6') return 'ボタン削除'
        },
        handleScroll: Throttle(function (e) {
          this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
        }, 50)
      },
      components: {
        dtree: dtree.default
      }
    })
  </script>
</body>

</html>