<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='グループ定義',cssPaths='/pages/content.min.css')">
</head>

<body>
  <div th:replace="layout/loadingBar::loadingBar"></div>
<!-- 菜单导航栏 -->
<div th:replace="layout/sider"></div>
  <main class="content groupsettings-warp">
    <div class="content_head">
      <div class="header">
        <div class="title1">
          <h1>
            <Icon type="i-emeer colored"></Icon>
            {{ `グループ定義 ` }}
          </h1>
        </div>
        <div class="btnbox">
          <span style="flex:1"></span>
          今回改定日：
          <date-picker type="date" v-model="curDate" :options="rangeOptions" class="ml5"
            format="yyyy/MM/dd" @on-change="handleDatePicker" transfer clearable editable :disabled="loading">
          </date-picker>
          <i-button type="success" icon="md-add" @click="add" :loading="editLoading">新規</i-button>
        </div>
      </div>
      <div class="searchwrap">
        <span class="label" @on-change="handleSystemChange">システム名</span>
        <i-select v-model="opts.systemId" class="mr15" style="width:200px">
          <i-option v-for="(item, i) of systemList" :key="i" :value="item.msCsystemidPk">{{ item.msCsystemname }}
          </i-option>
        </i-select>
      </div>
    </div>
    <div class="content_body">
      <div class="table-top">
        <Row :gutter="16">
          <i-col span="4">
            <i-button type="text" class="blue" :loading="loading" @click="getPreData">
              <Icon type="ios-arrow-back"></Icon>
              <span class="ml5">{{beforeDate}} 改定分</span>
            </i-button>
          </i-col>
        </Row>
      </div>
      <div class="titlenorm mb10 mt5" style="font-size:15px">
        <Icon type="logo-buffer"></Icon>
        有効なグループ
      </div>
      <i-table border class="mb10" :columns="columns" :data="tableData" :loading="loading" :row-class-name="() => 'select-col'">
        <template slot-scope="{ row }" slot="date">
          <span class="mr10 pt2 pb2 pl10 pr10 cursor row-label-primary" @click="editDate">{{ `${Utils.formatDate(row.mgDstartdate, 'yyyy/mm/dd')} ～ ${Utils.formatDate(row.mgDenddate, 'yyyy/mm/dd')}` }}</span>
        </template>

        <template slot-scope="{ row }" slot="mgCgroupidPk">
          <span class="mr10 pt2 pb2 pl10 pr10 cursor row-label-primary" @click="edit(row.mgCgroupidPk)">{{ row.mgCgroupidPk }}</span>
        </template>

        <template slot-scope="{ row }" slot="mgCgroupdescription">
          <span class="mr10 pt2 pb2 pl10 pr10 cursor row-label-primary" @click="edit(row.mgCgroupidPk)">{{ row.mgCgroupdescription }}</span>
        </template>

        <template slot-scope="{ row }" slot="del">
          <Poptip v-model="lightDelBtnVisible[row._index]" placement="left" transfer>
            <div class="operateBtn" slot="content">
              <a @click="cancel(row._index)">いいえ</a>
              <a @click="remove(row._index)">はい</a>
            </div>
            <i-button class="collapse-btn" type="error" ghost size="small" icon="md-trash">削除</i-button>
          </Poptip>
        </template>
        <template slot-scope="{ row }" slot="order">
          <i-button type="primary" class="mr5" ghost size="small" icon="md-arrow-round-up"></i-button>
          <i-button type="primary" ghost size="small" icon="md-arrow-round-down"></i-button>
        </template>
      </i-table>
      <div class="titlenorm mb10 mt10" style="font-size:15px">
        <Icon type="logo-buffer"></Icon>
        現在使われていないグループ
      </div>
    </div>
  </main>
  <div th:replace="layout/head::header"></div>
  <script type="text/babel" th:inline="javascript">
    const GROUP_SETTINGS = new Vue({
      el: '.groupsettings-warp',
      data() {
        return {
          loading: true,
          editLoading: false,
          lightDelBtnVisible: [],
          beforeDate: '',
          updateValue: [],
          systemList: [],
          curDate: new Date(),
          opts: {
            systemId: '01',
            date: ''
          },
          columns: [
          {
            title: '期間',
            slot: 'date',
          },
          {
            title: 'ID',
            slot: 'mgCgroupidPk',
            width: 150,
          },
          {
            title: '名称',
            slot: 'mgCgroupdescription',
          },
          {
            title: '法人',
            key: 'companyName'
          },
          {
            title: '削除',
            slot: 'del',
            align: 'center',
            width: 80,
          },
          {
            title: '順序',
            slot: 'order',
            align: 'center',
            width: 100,
          }
          ],
          tableData: [{}],
          limitDate: '',
          rangeOptions: {
            disabledDate: date => {
              return date.valueOf() < new Date(this.limitDate).getTime()
            }
          }
        }
      },
      async created() {
        this.getData()
      },
      computed: {
      },
      methods: {
        async getData() {
          const OPTS = { ...this.opts }
          OPTS.psSite = Utils.getUrlParam(location.href, 'psSite')
          OPTS.psApp = Utils.getUrlParam(location.href,'psApp')
          this.loading = true
          try {
            const { data } = await this.http.get('sys/groupmanager/groups', OPTS)
            this.systemList = data.systemList
            this.beforeDate = data.beforeDate
            this.limitDate = data.latestDate
            this.tableData = data.validGroupList
          } catch (error) {

          } finally {
            this.loading = false
          }
        },
        async add() {
          // this.loading = true
          // let OPTS = { permList: [...new Set(this.updateValue)] }
          // if (this.opts.date) {
          //   OPTS.changeDate = this.opts.date
          // }
          // const { data } = await this.http.post('sys/groupappmanager/update', OPTS)
          // this.getTableData()
          // this.updateValue = []
        },
        handleSystemChange() {
          this.getSiteList()
        },
        async handleDatePicker(e) {
          if (!e) return
          this.opts.date = e
          await this.getLegalPersonList()
          await this.getGroupList()
          this.getTableData()
        },
        getPreData() {
          this.opts.date = this.beforeDate
          this.getTableData()
        },
        handleCancel() {
          if (this.updateValue.length > 0) {
            history.go(0)
          } else {
            this.isEditing = false
          }
        },
        async edit(e) {
          const OPTS = { ...this.opts }
          OPTS.groupId = e
          const { data } = await this.http.get('sys/groupmanager/detail', OPTS)
        },
        editDate() {},
        remove(i) {
          this.$set(this.lightDelBtnVisible, i, false)
        },
        cancel(i) {
          this.$set(this.lightDelBtnVisible, i, false)
        }
      }
    })
  </script>
</body>

</html>