<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='起動権限設定',cssPaths='/pages/content.min.css')">
</head>

<body>
  <div th:replace="layout/loadingBar::loadingBar"></div>
<!-- 菜单导航栏 -->
<div th:replace="layout/sider"></div>
  <main class="content startregistersettings-warp" ref="layout">
    <div class="content_head">
      <div class="header">
        <div class="title1">
          <h1>
            <Icon type="i-emeer colored"></Icon>
            {{ `起動権限設定 ` }}
            <span class="blue"> : {{dataDate}}</span>
          </h1>
        </div>
        <div class="btnbox">
          <span style="flex:1"></span>
          今回改定日：
          <date-picker type="date" v-model="curDate" :options="rangeOptions" class="ml5"
            format="yyyy/MM/dd" @on-change="handleDatePicker" transfer clearable editable :disabled="loading">
          </date-picker>
          <i-button type="primary" icon="md-create" @click="isEditing = true" v-if="!isEditing"
            :loading="loading">編集
          </i-button>
          <i-button type="success" icon="md-done-all" @click="update" :loading="editLoading"
            v-if="isEditing">登録</i-button>
          <i-button type="primary" @click="handleCancel" ghost v-if="isEditing">キャンセル</i-button>
        </div>
      </div>
      <div class="searchwrap">
        <span class="label" @on-change="handleSystemChange">システム名</span>
        <i-select v-model="opts.systemId" class="mr15" style="width:200px">
          <i-option v-for="(item, i) of systemList" :key="i" :value="item.msCsystemidPk">{{ item.msCsystemname }}
          </i-option>
        </i-select>
        <span class="label">選択法人名</span>
        <i-select v-model="opts.companyId" class="mr15" @on-change="handleLegalPersonChange">
          <i-option value="0" label="全て"></i-option>
          <i-option v-for="(item, i) of legalPersonList" :key="i" :value="item.macCcompanyidCk">
            {{ item.macCcompanyname }}</i-option>
        </i-select>
        <span class="label">選択グループ名</span>
        <i-select v-model="opts.groupId" @on-change="handleGroupChange">
          <i-option value="0" label="全グループ表示"></i-option>
          <i-option v-for="(item, i) of groupList" :key="i" :value="item.mgCgroupidPk">{{ item.mgCgroupdescription }}
          </i-option>
        </i-select>
      </div>
    </div>
    <div class="content_body">
      <div class="table-top">
        <Row :gutter="16">
          <i-col span="4">
            <i-button type="text" class="blue" :loading="loading" @click="getPreData">
              <Icon type="ios-arrow-back"></Icon>
              <span class="ml5">{{beforeDate}} 改定分</span>
            </i-button>
          </i-col>
          <i-col span="20" class="tr">
            選択サイト名：
            <i-select v-model="opts.siteId" class="mr15" style="width:260px" @on-change="handSiteChange" transfer>
              <i-option value="0" label="全サイト表示"></i-option>
              <i-option v-for="(item, i) of siteList" :key="i" :value="item.mtrCsiteid">{{ item.mtrCobjname }}
              </i-option>
            </i-select>
            選択アプリケーション名：
            <i-select v-model="opts.appId" class="mr15" style="width:260px" @on-change="handleAppChange" transfer>
              <i-option value="0" label="全アプリケーション"></i-option>
              <i-option v-for="(item, i) of appList" :key="i" :value="item.mtrCappid">{{ item.mtrCobjname }}</i-option>
            </i-select>
          </i-col>
        </Row>
      </div>
      <i-table border v-show="isEditing" :class="tableHeadFixed ? 'table-head-fixed mb10' : 'mb10'" :columns="columns" :disabled-hover="true"
        :data="tableDataForAction" :loading="loading" @on-cell-click="handleCellClickForAction">

        <template slot-scope="{ row }" slot="objectName">
          <span></span>
        </template>


        <template slot-scope="{ row }" slot="action">
          <span></span>
        </template>

        <!-- 循环slotList -->
        <template v-for="item of slotList" slot-scope="{ row }" :slot="item">
          <i-button type="success" ghost size="small" icon="ios-arrow-down" long>
            &nbsp;
          </i-button>
        </template>
      </i-table>

      <i-table border :class="tableHeadFixed ? 'table-head-fixed no-padding' : 'no-padding'" :show-header="!isEditing" :row-class-name="() => 'select-col'"
        :columns="columns" :disabled-hover="true" :data="tableData" :loading="loading" @on-cell-click="handleCellClick"
        ref="table">
        <!-- type: "0" トップページ   <Icon type="md-compass" />
        type: "1" サイト   <Icon type="md-compass" />
        type: "3" アプリケーション ml10 <Icon type="md-desktop" />
        type: "4" サブアプリケーション <Icon type="md-easel" />
        type: "2" ダイアログアプリケーション ml10 <Icon type="ios-photos" />
        type: "5" 画面 ml20  <Icon type="md-browsers" />
        type: "6" 機能ボタン ml30 <Icon type="md-disc" /> -->

        <template slot-scope="{ row }" slot="objectName">
          <span v-if="row.type === '0'" class="mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-cloud" class="mr5"></Icon>{{row.objectName}}
          </span>
          <span v-if="row.type === '1'" class="mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-compass" class="mr5"></Icon>{{row.objectName}}
          </span>
          <span v-if="row.type === '2'" class="mr10 mt5 mb5 ml20 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="ios-photos" class="mr5"></Icon>{{row.objectName}}
          </span>
          <span v-if="row.type === '3'" class="mr10 mt5 mb5 ml20 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-desktop" class="mr5"></Icon>{{row.objectName}}
          </span>
          <span v-if="row.type === '4'" class="mr10 mt5 mb5 ml20 pt2 pb2 pl10 pr10 row-label-primary">
            <Icon type="md-easel" class="mr5"></Icon>{{row.objectName}}
          </span>
          <span v-if="row.type === '5'" class="mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary"
            style="margin-left: 40px;">
            <Icon type="md-browsers" class="mr5"></Icon>{{row.objectName}}
          </span>
          <span v-if="row.type === '6'" class="mr10 mt5 mb5 pt2 pb2 pl10 pr10 row-label-primary"
            style="margin-left: 60px;">
            <Icon type="md-disc" class="mr5"></Icon>{{row.objectName}}
          </span>
        </template>


        <template slot-scope="{ row }" slot="action">
          <i-button type="success" ghost size="small" icon="ios-arrow-forward" long></i-button>
        </template>

        <!-- 循环slotList -->
        <template v-for="item of slotList" slot-scope="{ row }" :slot="item">
          <span
            :class="row[item].permission === '1' ? 'blue' : row[item].permission === '2' ? 'red': ''">{{ row[item].permission === '1' ? '〇' : row[item].permission === '2' ? '✖' : '　' }}</span>
        </template>
      </i-table>
      <div class="ivu-pop-popper" :style="poptipStyle" x-placement="right-start">
        <div class="ivu-poptip-content">
          <div class="ivu-poptip-arrow"></div>
          <div class="ivu-poptip-inner">
            <div class="ivu-poptip-title">
              <div class="ivu-poptip-title-inner">権限編集</div>
            </div>
            <div class="ivu-poptip-body">
              <div class="ivu-poptip-body-content">
                <div class="ivu-poptip-body-content-inner">
                  <i-button style="display:block" @click="cellClickAction('0')" size="small" class="mb5" long>設定なし
                  </i-button>
                  <i-button type="primary" @click="cellClickAction('1')" style="display:block" size="small" class="mb5"
                    ghost long>〇 許可</i-button>
                  <i-button type="error" @click="cellClickAction('2')" style="display:block" size="small" class="mb5"
                    ghost long>✖ 拒否</i-button>
                  <i-button @click="cellClickAction('4')" style="display:block" size="small" class="mb5" long>キャンセル
                  </i-button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <back-top></back-top>
  </main>
  <div th:replace="layout/head::header"></div>
  <script type="text/babel" th:inline="javascript">
    const START_REGISTER_SETTINGS = new Vue({
      el: '.startregistersettings-warp',
      data() {
        return {
          // 预设最多20个权限
          slotList: Utils.getNumArray(1, 20).map(e => `m${e}`),
          radioType: 0,
          loading: true,
          editLoading: false,
          isEditing: false,
          dataDate: '現在有効な設定',
          beforeDate: '',
          needChange: '',
          legalPersonList: [],
          poptipStyle: {
            display: 'none',
            position: 'absolute',
            'will-change': 'top, left',
            'z-index': '5',
            left: '0',
            top: '0'
          },
          beforeClickedCell: {},
          clickedCell: {},
          updateValue: [],
          systemList: [],
          siteList: [],
          appList: [],
          groupList: [],
          tableHead: [],
          curDate: new Date(),
          opts: {
            systemId: '01',
            appId: '0',
            siteId: '0',
            companyId: '0',
            date: '',
            groupId: '0',
            isAll: false,
          },
          tableData: [],
          tableDataForAction: [],
          limitDate: '',
          rangeOptions: {
            disabledDate: date => {
              return date.valueOf() < new Date(this.limitDate).getTime()
            }
          },
          contentScrollTop: 0
        }
      },
      async created() {
        this.getSystemList()
        this.getSiteList()
        this.getAppList()
        await this.getLegalPersonList()
        this.getGroupList()
        this.getTableData()
        window.addEventListener('scroll',this.handleScroll,{ passive: true })
      },
        beforeDestroy() {
            window.removeEventListener('scroll',this.handleScroll,{ passive: true })
      },
      computed: {
        tableHeadFixed() {
          if (this.contentScrollTop > 220) return true
          else return false
        },
        columns() {
          let result = [{
            title: 'アプリケーション名',
            minWidth: 200,
            slot: 'objectName',
            tree: true
          }]
          if (this.isEditing) {
            result = result.concat({
              title: '操作',
              width: 45,
              slot: 'action',
              align: 'center'
            })
          }
          this.tableHead.forEach((e, i) => {
            result = result.concat({
              title: e.title,
              slot: `m${i + 1}`,
              align: 'center'
            })
          })
          return result
        }

      },
      methods: {
        async getLegalPersonList() {
          let OPTS = {
            psSite: Utils.getUrlParam(location.href, 'psSite'),
            psApp: Utils.getUrlParam(location.href,'psApp')
          }
          if (this.opts.date) {
            OPTS.searchDate = this.opts.date
          }
          const { data } = await this.http.get('sys/groupappmanager/companies', OPTS)
          this.legalPersonList = data
          this.opts.companyId = data[0] && data[0].macCcompanyidCk

        },
        async getSystemList() {
          const { data } = await this.http.get('sys/groupappmanager/systems')
          this.systemList = data
        },
        async getSiteList() {
          // 选择系统时，site要跟着变
          const { data } = await this.http.get('sys/groupappmanager/sites', this.opts)
          this.siteList = data
        },
        async getAppList() {
          // 选择サイト时，アプリケーション要跟着变,且每次切换都将app重置
          const OPTS = { ...this.opts }
          if (this.opts.siteId === '0') {
            delete OPTS.siteId
          }
          const { data } = await this.http.get('sys/groupappmanager/apps', OPTS)
          this.appList = data

        },
        async getGroupList() {
          // 选择法人时，グループ要跟着变
          const OPTS = { ...this.opts }
          OPTS.searchDate = this.opts.date
          OPTS.psSite = Utils.getUrlParam(location.href, 'psSite')
          OPTS.psApp = Utils.getUrlParam(location.href,'psApp')

          if (this.opts.companyId === '0') {
            delete OPTS.companyId
          }
          const { data } = await this.http.postForm('sys/groupappmanager/groups', OPTS)
          this.groupList = data

        },
        async getTableData() {
          const OPTS = { ...this.opts }
          OPTS.psSite = Utils.getUrlParam(location.href, 'psSite')
          OPTS.psApp = Utils.getUrlParam(location.href,'psApp')
          Object.keys(OPTS).forEach(key => {
            if (OPTS[key] === '0') {
              delete OPTS[key]
            }
          })
          this.loading = true
          try {
            const { data } = await this.http.postForm('sys/groupappmanager', OPTS)
            this.beforeDate = data.beforeDate
            this.limitDate = data.latestDate
            if (data.afterDate) {
              this.dataDate = `${data.changeDate} 改定分`
              this.curDate = data.changeDate
            } else {
              this.dataDate = '現在有効な設定'
            }
            // 法人全部的时候需要显示公司名
            let showFullName = false
            if (this.opts.companyId === '0') {
              showFullName = true
            }
            this.tableHead = data.tableHeader.map(e => {
              return {
                title: showFullName ? `${e.mgCgroupdescription}\n${e.companyNick}` : e.mgCgroupdescription
              }
            })
            this.tableData = data.tableBody.map((e, i) => {
              let result = {}
              e.list.forEach((n, j) => {
                result[`m${j + 1}`] = {
                  rowIndex: i,
                  colIndex: j,
                  permission: n.permission
                }
              })
              result.type = e.type
              result.objectName = e.objectName

              return result
            })
            this.tableDataForAction = this.tableData.slice(0, 1)
          } catch (error) {

          } finally {
            this.loading = false
          }
        },
        async update() {
          this.loading = true
          let OPTS = { permList: [...new Set(this.updateValue)] }
          if (this.opts.date) {
            OPTS.changeDate = this.opts.date
          }
          const { data } = await this.http.post('sys/groupappmanager/update', OPTS)
          setTimeout(function() {location.href=BASE_URL}, 1000);
        },
        handleCellClick(row, column, data, event) {
          // 点到名字的第一列是也不要弹出操作浮层
          if (!this.isEditing || column.slot === 'objectName') {
            return
          }
          // 开始复原
          this.needChange = ''
          this.clickedCell = row._index
          // 点到了右箭头按钮，需要将整行变了
          if (column.slot === 'action') {
            this.needChange = 'row'
          } else {
            // 还原为储存单击格的位置信息
            this.clickedCell = {
              where: row._index,
              which: column.slot
            }
          }
          this.changeCellStyle(event)
        },
        handleCellClickForAction(row, column, data, event) {
          // 点到名字的第一列是也不要弹出操作浮层
          if (!this.isEditing || column.slot === 'objectName') {
            return
          }
          // 点到了下箭头，需要将整列变了,needchange为列名
          this.needChange = column.slot
          this.changeCellStyle(event)
        },
        changeCellStyle(e) {
          if (this.beforeClickedCell.style) {
            this.beforeClickedCell.style.backgroundColor = ''
          }
          this.beforeClickedCell = e.target.offsetParent
          this.beforeClickedCell.style.backgroundColor = 'rgb(233, 243, 255)'
          this.poptipStyle.display = 'block'
          this.poptipStyle.left = `${e.pageX}px`
          this.poptipStyle.top = `${e.pageY}px`
        },
        cellClickAction(e) {
          if (e !== '4') {
            if (!this.needChange) {
              this.$refs.table.data[this.clickedCell.where][this.clickedCell.which].permission = e
              this.updateValue = this.updateValue.concat(this.$refs.table.data[this.clickedCell.where][this.clickedCell.which])
            }
            // 点到了右箭头按钮，需要将整行变了
            if (this.needChange === 'row') {
              Object.keys(this.$refs.table.data[this.clickedCell]).forEach(key => {
                if (this.$refs.table.data[this.clickedCell][key] instanceof Object) {
                  this.$refs.table.data[this.clickedCell][key].permission = e
                  this.updateValue = this.updateValue.concat(this.$refs.table.data[this.clickedCell][key])
                }
              })
            }
            // 点到了下箭头，需要将整列变了,needchange为列名
            if (this.needChange.indexOf('m') > -1) {
              this.$refs.table.data.forEach((n, i) => {
                n[this.needChange].permission = e
                this.updateValue = this.updateValue.concat(n[this.needChange])
              })
            }
          }
          this.poptipStyle.display = 'none'
        },
        handleSystemChange() {
          this.getSiteList()
        },
        handleLegalPersonChange(e) {
          if (e === '0') {
            // 法人全部的时候，需要将isAll设为true, 还要将法人id置空
            this.opts.isAll = true
          } else {
            this.opts.isAll = false
          }
          this.getGroupList()
          this.getTableData()
        },
        handleGroupChange() {
          this.getTableData()
        },
        handleAppChange() {
          this.getTableData()
        },
        handSiteChange() {
          // 选择site名时，要把app的重置为第一项
          this.getAppList()

          this.opts.appId = '0'
          this.getTableData()
        },
        async handleDatePicker(e) {
          if (!e) return
          this.opts.date = e
          await this.getLegalPersonList()
          await this.getGroupList()
          this.getTableData()
        },
        getPreData() {
          this.opts.date = this.beforeDate
          this.getTableData()
        },
        handleCancel() {
          if(this.updateValue.length > 0) {
            history.go(0)
          } else {
            this.isEditing = false
          }
        },
        handleScroll: Throttle(function (e) {
          this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
        }, 50)
      }
    })
  </script>
</body>

</html>