<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='ユーザ管理',cssPaths='/pages/content.min.css')">
</head>
<style>
  .ivu-radio-wrapper {
    font-size: 16px;
  }
</style>

<body>
  <div th:replace="layout/loadingBar::loadingBar"></div>
  <!-- 菜单导航栏 -->
  <div th:replace="layout/sider"></div>
  <main class="content usersettings-warp" ref="layout">
    <div class="content_head">
      <div class="header">
        <div class="title1">
          <h1>
            <Icon type="i-emeer colored"></Icon>
            ユーザ管理
          </h1>
        </div>
        <div class="btnbox">
          <span style="flex:1"></span>
          <i-button type="primary" icon="ios-mail" @click="showUpdateMail = true">メール設定</i-button>
          <i-button type="primary" icon="md-create" @click="handlePasswordChange" :loading="loading">パスワード変更</i-button>
          <i-button type="success" icon="md-checkmark" @click="handleUseStart" :loading="loading">利用開始</i-button>
          <i-button type="error" icon="md-close" @click="handleUseEnd" :loading="loading">利用終了</i-button>
          <i-button type="primary" icon="md-unlock" @click="cancelLock" :loading="loading">ロックアウト解除</i-button>
          <i-button type="primary" ghost icon="md-create" @click="getPasswordpolicy" :loading="loading">パスワードポリシー設定へ
          </i-button>
        </div>
      </div>
      <div class="searchwrap">
        <span class="label">選択法人名</span>
        <i-select v-model="opts.companyId" class="mr15" style="width: 350px;">
          <i-option value="0" label="全ての法人を検索"></i-option>
          <i-option v-for="(item, i) of legalPersonList" :key="i" :value="item.macCcompanyidCk">
            {{ item.macCcompanyname }}</i-option>
        </i-select>
        <i-button type="primary" ghost icon="md-search" :loading="loading" @click="getTableData()">検索</i-button>
      </div>
      <radio-group v-model="opts.searchType">
        <Radio :label="1">全て</Radio>
        <Radio :label="2">ロックアウトされているユーザ</Radio>
        <Radio :label="3">現在有効なユーザ</Radio>
        <Radio :label="4">入社前</Radio>
        <Radio :label="5">入社後未登録</Radio>
        <Radio :label="6">退職後未削除</Radio>
        <Radio :label="10">管理ツールユーザ</Radio>
        <br></br>
        <Radio :label="7"><span class="pr5">職員番号検索</span>
          <i-input v-model="opts.empId" style="width: 200px;"></i-input>
        </Radio>
        <Radio :label="9"><span class="pr5">氏名検索</span>
          <i-input v-model="opts.empName" style="width: 200px;"></i-input>
        </Radio>
        <Radio :label="8">
          <!-- 共通組織図画面 start-->
          <span>部署検索</span>
          <span class="input-like-span tc"
            style="color: var(--dept-select); border: 1px dashed var(--dept-select);width:400px;vertical-align: inherit; height: 30px;">
            <Tooltip @click.native="deptDrawShow = true" trigger="hover" :theme="toolTipTheme()" transfer>{{deptName}}
              <div slot="content">{{deptName}}</div>
            </Tooltip>
          </span>

          <Drawer class="tc" placement="right" width="700" v-model="deptDrawShow" :closable="false">
            <div class="titlenorm mb5">
              <Icon type="logo-buffer"></Icon>
              所属
            </div>
            <Row class="tl mb5" :gutter="8">
              <i-col span="10">
                <i-input class="mar like-select" placeholder="検索" v-model="searchDept"
                  @keyup.enter.native="handleSearchDept">
                </i-input>
              </i-col>
              <i-col span="8" class="no-border-radius">
                <i-button long type="primary" icon="md-search" ghost :loading="loading" @click="handleSearchDept">検索
                </i-button>
              </i-col>
            </Row>
            <div style="position: relative;">
              <Tree class="tree mt2" :data="treeData" v-on:on-select-change="handleClickLeaf" ref="tree" :render="renderSearchTree"
                empty-text="所属データなし"></Tree>
              <Spin size="large" fix v-if="empDeptLoading"></Spin>
            </div>
          </Drawer>
          <!-- 共通組織図画面 end-->
        </Radio>
      </radio-group>
    </div>
    <div class="content_body">
      <div class="table-top">
        <div class="tr">
          <Page :total="pageValue.amount" :current="pageValue.curPage" style="display: inline"
            :page-size="pageValue.curSize" @on-change="pageChange" ref="Page" simple />
        </div>
      </div>
      <i-table border :class="tableHeadFixed ? 'table-head-fixed' : ''" :row-class-name="rowClassName"
        :columns="columns" :disabled-hover="true" :data="tableData" :loading="loading" no-data-text="" ref="table">
        <template slot-scope="{ row }" slot="meCname">
          <span v-if="row.status === '入社後未登録'">{{ row.meCname }}</span>
          <span class="mr10 pt2 pb2 pl10 pr10 cursor row-label-primary width100" @click="editPersonal(row)" v-else>{{ row.meCname }}</span>
        </template>

        <template slot-scope="{ row }" slot="meCmail">
          <span class="mr10 pt2 pb2 pl10 pr10 cursor row-label-primary width100" @click="changeMailShow(row, true)" icon="md-create" v-show="row._index !== mailInputIndex">{{ row.tmaEmail || '編集' }}</span>
          <Row :gutter="8" v-show="row._index === mailInputIndex">
            <i-col span="15"><i-input :value="row.tmaEmail" :ref="`input${row._index}`"></i-input></i-col>
            <i-col span="5"><i-button @click="updateMail(row)" type="primary" ghost long>更新</i-button></i-col>
            <i-col span="4"><i-button @click="changeMailShow(row, false)" type="primary" ghost icon="ios-undo"></i-button></i-col>
          </Row>
        </template>

        <template slot-scope="{ row }" slot="start">{{ Utils.formatDate(row.maDstart, 'yyyy/mm/dd') }}
        </template>

        <template slot-scope="{ row }"
          slot="end">{{ row.maDend === 7983759600000 ? '' : Utils.formatDate(row.maDend, 'yyyy/mm/dd') }}
        </template>
      </i-table>
      <!-- パスワードポリシー設定 start-->
      <Modal class="tc" v-model="isShow" title="パスワードポリシー設定" width="650" footer-hide :mask-closable="false">
        <Alert class="primary-info tl">
          <div>※最大リトライ回数・再利用禁止回数は、0～9999の範囲で入力してください。</div>
          <div class="mt2">※有効期間(日数)・最小文字数・最大文字数は、1～9999の範囲で入力してください。</div>
        </Alert>
        <i-form :label-width="200" :model="passwordSetting" class="tl" style="margin: 10px 10px 0;">
          <form-item label="有効期間（日数）">
            <input-number :max="9999" :min="1" :precision="0" v-model="passwordSetting[0].csCpropertyvalue"
              class="width100"></input-number>
          </form-item>

          <form-item label="最小文字数">
            <input-number :max="9999" :min="1" :precision="0" v-model="passwordSetting[1].csCpropertyvalue"
              class="width100"></input-number>
          </form-item>

          <form-item label="最大文字数">
            <input-number :max="9999" :min="1" :precision="0" v-model="passwordSetting[2].csCpropertyvalue"
              class="width100"></input-number>
          </form-item>

          <form-item label="最大リトライ回数">
            <input-number :max="9999" :min="0" :precision="0" v-model="passwordSetting[3].csCpropertyvalue"
              class="width100"></input-number>
          </form-item>

          <form-item label="再利用禁止回数">
            <input-number :max="9999" :min="0" :precision="0" v-model="passwordSetting[4].csCpropertyvalue"
              class="width100"></input-number>
          </form-item>
        </i-form>
        <div class="my-footer tr mt20">
          <i-button type="text" @click="isShow = false">キャンセル</i-button>
          <i-button type="primary" @click="updatePasswordPolicy()" :loading="updatePasswordPolicyLoading">変更</i-button>
        </div>
        <Spin size="large" fix v-if="passwordPolicyLoading"></Spin>
      </Modal>
      <!-- パスワードポリシー設定 end-->

      <!-- 利用開始, 终了, パスワード　通过useType区分 start-->
      <Drawer class="tc" placement="right" width="800" v-model="useDrawerShow" :title="useTitle">
        <!-- 個別設定画面 -->
        <span v-if="useType === 'personal'">
          <div class="no-border-radius" style="display: flex; align-items: stretch;">
            <span class="label tr" style="display: inline-block;width: 250px;margin-bottom: 1px;padding: 6px 10px 0 0;">アカウント</span>
            <span class="input-like-span tl" style="margin-bottom: 1px;"> {{ detailData.userId }}</span>
          </div>

          <div class="no-border-radius" style="display: flex; align-items: stretch;">
            <span class="label tr" style="display: inline-block;width: 250px;margin-bottom: 1px;padding: 6px 10px 0 0;">カタカナ</span>
            <span class="input-like-span tl" style="margin-bottom: 1px;"> {{ detailData.kanaName }}</span>
          </div>

          <div class="no-border-radius" style="display: flex; align-items: stretch;">
            <span class="label tr" style="display: inline-block;width: 250px;margin-bottom: 1px;padding: 6px 10px 0 0;">漢字</span>
            <span class="input-like-span tl" style="margin-bottom: 1px;"> {{ detailData.kanjiName }}</span>
          </div>

          <div class="no-border-radius" style="display: flex; align-items: stretch;">
            <span class="label tr" style="display: inline-block;width: 250px;margin-bottom: 1px;padding: 6px 10px 0 0;">組織</span>
            <span class="input-like-span tl" style="margin-bottom: 1px;"> {{ detailData.isOut === '1' ? '退職' : detailData.sectionName }}</span>
          </div>

          <div class="no-border-radius mb5" style="display: flex; align-items: stretch;">
            <span class="label tr" style="display: inline-block;width: 250px;margin-bottom: 1px;padding: 6px 10px 0 0;">役職</span>
            <span class="input-like-span tl" style="margin-bottom: 1px;"> {{ detailData.postName }}</span>
          </div>
        </span>

        <div class="mb10 tr">
          <i-button type="primary" ghost @click="handleEvent" icon="md-create" :loading="drawerBtnLoading">
            登録
          </i-button>
        </div>
        <!-- 利用開始 -->
        <div v-if="useType === 'start'" class="no-border-radius" style="display: flex; align-items: stretch;">
          <span class="label tr"
            style="display: inline-block;width: 250px;margin-bottom: 1px;padding: 13px 10px 0 0;">利用開始日</span>
          <span class="input-like-span tl" style="margin-bottom: 1px;">
            <date-picker type="date" :value="detailData.startDate" class="datepicker-single mb10" placeholder="日付" :disabled="detailData.disabledForStartDate"
              :options="startDateLimit" format="yyyy/MM/dd" @on-change="detailData.startDate = $event"></date-picker>
            <Checkbox v-model="detailData.useEntranceDate" class="tl mt5"  @on-change="resetUserDate($event, 'startDate', 'disabledForStartDate')">各ユーザの入社年月日に設定する</Checkbox>
          </span>
        </div>

        <!-- 利用终了 -->
        <div v-if="useType === 'end'" class="no-border-radius" style="display: flex; align-items: stretch;">
          <span class="label tr"
            style="display: inline-block;width: 250px;margin-bottom: 1px;padding: 13px 10px 0 0;">利用終了日</span>
          <span class="input-like-span tl" style="margin-bottom: 1px;">
            <date-picker type="date" :value="detailData.endDate" class="datepicker-single mb10" placeholder="日付" :disabled="detailData.disabledForEndDate"
              :options="startDateLimit" format="yyyy/MM/dd" @on-change="detailData.endDate = $event"></date-picker>
            <Checkbox v-model="detailData.useRetireDate" class="tl mt5" @on-change="resetUserDate($event, 'endDate', 'disabledForEndDate')">各ユーザの退職日に設定する</Checkbox>
          </span>
        </div>

        <div v-if="useType !== 'end'" class="mb5 no-border-radius" style="display: flex; align-items: stretch;">
          <span class="label tr"
            style="display: inline-block;width: 250px;margin-bottom: 1px;padding: 66px 10px 0 0;">パスワード</span>
          <radio-group class="tl input-like-span" v-model="detailData.passwordType" @on-change="handleRadio" vertical>
            <Radio :label="1">パスワードを入力する</Radio>
            <i-input v-model="detailData.password" class="width75 mb2" type="password" placeholder="新しいパスワード" :disabled="detailData.disabled"></i-input>
            <i-input v-model="detailData.repeatPassword" class="width75" type="password" placeholder="新しいパスワード（確認用）" :disabled="detailData.disabled"></i-input>
            <Radio :label="2">ユーザ毎にランダムな文字列を発行する</Radio>
            <Checkbox style="display: block;margin-left: 0;" v-model="detailData.forceChangePassword" class="tl mt5">
              次回ログイン時にパスワードを変更させる</Checkbox>
          </radio-group>
        </div>
        <!-- 個別設定画面 -->
        <span v-if="useType === 'personal'">
          <div class="no-border-radius" style="display: flex; align-items: stretch;margin-top: -4px;">
            <span class="label tr" style="display: inline-block;width: 250px;margin-bottom: 1px;padding: 6px 10px 0 0;">有効期間</span>
            <span class="input-like-span tl" style="margin-bottom: 1px;">
              <date-picker :value="detailData.account.maDstart" @on-change="detailData.account.maDstart = $event" format="yyyy/MM/dd" type="date" transfer style="width:48.5%;padding: 5px 0;" :options="startDateLimit" placement="bottom-end"></date-picker>&nbsp;-&nbsp;<date-picker :value="detailData.account.maDend" @on-change="detailData.account.maDend = $event" format="yyyy/MM/dd" :options="startDateLimit" type="date" transfer style="width:48.5%;padding: 5px 0;" placement="bottom-end"></date-picker>
            </span>
          </div>

          <div class="no-border-radius" style="display: flex; align-items: stretch;">
            <span class="label tr" style="display: inline-block;width: 250px;margin-bottom: 1px;padding: 6px 10px 0 0;">ロック</span>
            <span class="input-like-span tl" style="margin-bottom: 1px;">
              <Checkbox v-model="detailData.account.maNpasswordlock" :true-value="1" :false-value="0" class="tl">ロックする</Checkbox>
            </span>
          </div>
        </span>

        <i-table class="mt10" border :row-class-name="rowClassName" :columns="columnsforView" :disabled-hover="true" v-if="useType !== 'personal'"
          :data="userTypeTableData" :loading="loading" no-data-text="">
          <template slot-scope="{ row }" slot="start">{{ Utils.formatDate(row.maDstart, 'yyyy/mm/dd') }}
          </template>

          <template slot-scope="{ row }"
            slot="end">{{ row.maDend === 7983759600000 ? '' : Utils.formatDate(row.maDend, 'yyyy/mm/dd') }}
          </template>
        </i-table>
      </Drawer>
      <!-- 利用開始 end-->

      <!-- パスワードポリシー設定 start-->
      <Modal class="tc" v-model="showUpdateMail" title="メール設定" width="650" footer-hide :mask-closable="false">
        <div class="tr mb10" style="margin-top: -10px; margin-right: -10px;">
          <Poptip trigger="click" placement="right-start" transfer>
            <i-button type="primary" size="small" ghost @click="uploadCsv">テンプレートダウンロード</i-button>
            <div class="operateBtn tc" slot="content">
              <a @click="downloadTemplate('csv')" style="color: var(--ghost-primary-color);">CSV</a>
              <a @click="downloadTemplate('xls')" style="color: var(--ghost-primary-color);">XLS</a>
            </div>
          </Poptip>
        </div>
        <Upload ref="upload" :show-upload-list="false" type="drag" class="tl mb10" action="/"
          :before-upload="handleBeforeUpload">
          <div style="padding: 20px 0">
            <Icon type="ios-cloud-upload" size="52" style="color: var(--theme-mark)"></Icon>
            <p style="color:var(--grey)">クリックしてファイルを選択するか、</p>
            <p style="color:var(--grey)">ここにファイルをドラッグ＆ドロップして下さい。</p>
          </div>
        </Upload>
        <ul class="ivu-upload-list tl mb10">
          <li class="ivu-upload-list-file" v-for="(item,i) of uploadFiles" :key="i">
              <span @click="">
                  <Icon :type="item.type.indexOf('image') > -1 ? 'ios-image' : item.type.indexOf('sheet') > -1 || item.type.indexOf('xls') > -1 ? 'ios-stats' : 'md-document' "></Icon> {{ item.name }}
              </span>
              <i class="ivu-icon ivu-icon-ios-close ivu-upload-list-remove" @click="()=> uploadFiles = []"></i>
              <!-- <i-progress v-show="progressAutoShow()" :stroke-width="2" :percent="100" /> -->
          </li>
      </ul>
      <Alert class="primary-info mb10">上限 500kBytes</Alert>
      <div class="my-footer tr mt20">
        <i-button type="text" @click="showUpdateMail = false">キャンセル</i-button>
        <i-button type="primary" @click="uploadMail()" :loading="updatePasswordPolicyLoading">アップロード</i-button>
      </div>
      <Spin size="large" fix v-if="passwordPolicyLoading"></Spin>
      </Modal>
            <!-- パスワードポリシー設定 end-->
    </div>
    <back-top></back-top>
  </main>
  <div th:replace="layout/head::header"></div>
  <script type="text/babel" th:inline="javascript">
    const USER_SETTINGS = new Vue({
      el: '.usersettings-warp',
      data() {
        return {
          isShow: false,
          loading: true,
          showUpdateMail: false,
          mailInputIndex: -1,
          uploadFiles:[],
          historySearchType: '',
          legalPersonList: [],
          opts: {
            sectionCompanyId: '01',
            companyId: '0',
            siteId: '0',
            sectionId: '',
            page: '1',
            searchType: 2,
            limit: '50',
          },
          pageValue: {
            amount: 0,
            curPage: 1,
            curSize: 50
          },
          columns: [
            {
              title: '現在の状態',
              key: 'status',
              align: 'center'
            },
            {
              title: '職員番号',
              key: 'meCuserid',
              align: 'center'
            },
            {
              title: '氏名',
              slot: 'meCname',
              align: 'left'
            },
            {
              title: 'アカウント',
              key: 'maCaccount',
              align: 'center'
            },
            {
              title: 'メール',
              slot: 'meCmail',
              width: 300,
              align: 'left'
            },
            {
              title: '利用開始日',
              slot: 'start',
              align: 'center'
            },
            {
              title: '利用終了日',
              slot: 'end',
              align: 'center'
            },
            {
              type: 'selection',
              width: '50',
              align: 'center'
            }
          ],
          columnsforView: [
            {
              title: '現在の状態',
              key: 'status',
              align: 'center'
            },
            {
              title: '職員番号',
              key: 'meCuserid',
              align: 'center'
            },
            {
              title: '氏名',
              key: 'meCname',
              align: 'center'
            },
            {
              title: 'アカウント',
              key: 'maCaccount',
              align: 'center'
            },
            {
              title: '利用開始日',
              slot: 'start',
              align: 'center'
            },
            {
              title: '利用終了日',
              slot: 'end',
              align: 'center'
            }
          ],
          searchDept: '',
          tableData: [],
          treeData: [],
          passwordSetting: [{}, {}, {}, {}, {}],
          psSite: Utils.getUrlParam(location.href, 'psSite'),
          psApp: Utils.getUrlParam(location.href, 'psApp'),
          passwordPolicyLoading: false,
          useDrawerShow: false,
          useType: '',
          updatePasswordPolicyLoading: false,
          drawerBtnLoading: false,
          detailData: { originalUserList: [], userIds: [], passwordType: 1, repeatPassword: '', password: '', useEntranceDate: false, useRetireDate: false, startDate: '', endDate: '', forceChangePassword: false, userId:'',kanaName:'',kanjiName:'',sectionName:'',postName:'',account:{maNpasswordlock:0,maDstart:'',maDend:''}  },
          startDateLimit: {
            disabledDate: date => {
              // 利用開始日は、1900/01/01～2222/12/31の範囲で入力してください。
              return date.valueOf() < -3600000 || date.valueOf() > 7983759600000
            }
          },
          deptDrawShow: false,
          deptName: '参照',
          useTitle: '',
          contentScrollTop: 0
        }
      },
      created() {
        this.getOrgTree()
        this.getLegalPersonList()
        this.getTableData()
        window.addEventListener('scroll', this.handleScroll, { passive: true })
      },
      beforeDestroy() {
        window.removeEventListener('scroll', this.handleScroll, { passive: true })
      },
      computed: {
        tableHeadFixed() {
          if (this.contentScrollTop > 220) return true
          else return false
        },
        userTypeTableData() {
          if (this.useType === 'start') {
            return this.detailData.originalUserList
          }

          if (this.useType === 'end') {
            return this.detailData.list
          }

          return this.detailData.userList
        }
      },
      methods: {
        async getOrgTree() {
          this.empDeptLoading = true
          try {
            const { data } = await this.http.get(`sys/tree/orgs?psSite=${this.psSite}&psApp=${this.psApp}`)
            this.treeData = this.convertTreeData(data)
            this.treeData[0].expand = true
          } catch (error) {
            return
          } finally {
            this.loading = false
            this.empDeptLoading = false
          }
        },
        async getLegalPersonList() {
          let OPTS = {
            psSite: Utils.getUrlParam(location.href, 'psSite'),
            psApp: Utils.getUrlParam(location.href, 'psApp')
          }
          const { data } = await this.http.get('sys/groupappmanager/companies', OPTS)
          this.legalPersonList = data
          this.opts.companyId = data[0] && data[0].macCcompanyidCk
        },
        getTableData: Debounce(async function (onlyChangePage) {
          // 2020/12/21 如果只是切页则还原条件
          if(onlyChangePage) this.opts.searchType = this.historySearchType
          else {
            // 2020/12/22 如果再搜索则重置页
            this.opts.page = 1
            this.pageValue.curPage = 1
          }
          if (this.opts.searchType === 7 && !this.opts.empId) {
            return this.$Notice.warning({ title: '注意', desc: '職員番号条件を入力ください。', duration: 6.5 })
          }
          if (this.opts.searchType === 8 && !this.opts.sectionId) {
            return this.$Notice.warning({ title: '注意', desc: '部署を選択してください。', duration: 6.5 })
          }
          if (this.opts.searchType === 9 && !this.opts.empName) {
            return this.$Notice.warning({ title: '注意', desc: '氏名条件を入力してください。', duration: 6.5 })
          }
          const OPTS = { ...this.opts }
          OPTS.psSite = Utils.getUrlParam(location.href, 'psSite')
          OPTS.psApp = Utils.getUrlParam(location.href, 'psApp')
          Object.keys(OPTS).forEach(key => {
            if (OPTS[key] === '0') {
              delete OPTS[key]
            }
          })
          this.loading = true
          try {
            const { data } = await this.http.get('sys/usermanager/search', OPTS)
            // 2020/12/21 如果只是切页则还原条件
            this.historySearchType = OPTS.searchType
            if (data.list.length === 0) {
              this.$Message.error({
                background: true,
                closable: true,
                duration: 6.5,
                content: '指定した条件に職員はありません。'
              })
            }
            this.tableData = data.list.map(e => {
              return {
                ...e,
                _disabled: e.status === '入社後未登録'
              }
            })
            this.pageValue.amount = data.totalCount
          } catch (error) {
          } finally {
            this.loading = false
          }
        }),
        async getPasswordpolicy() {
          this.isShow = true
          this.passwordPolicyLoading = true
          try {
            const { data } = await this.http.get('sys/usermanager/policy')
            this.passwordSetting = data
          } catch (error) {
          } finally {
            this.passwordPolicyLoading = false
          }
        },
        async updatePasswordPolicy() {
          try {
            const { data } = await this.http.post('sys/usermanager/policy', this.passwordSetting)
            this.getPasswordpolicy()
            this.$Message.success('更新完了')
          } catch (error) {
          } finally {
            this.updatePasswordPolicyLoading = false
          }
        },
        handleClickLeaf(e) {
          if (!e[0]) return
          this.deptName = e[0].sectionName
          this.opts.sectionId = e[0].sectionId
          this.deptDrawShow = false
        },
        handlePasswordChange: Debounce(async function () {
          const list = this.$refs.table.getSelection().map(e => e.maCuserid)
          if (list.length === 0) {
            return this.$Notice.warning({ title: '注意', desc: 'パスワード変更処理をするユーザを選択してください。', duration: 6.5 })
          }
          // 初始化
          this.detailData = { userList: [], userIds: [], passwordType: 1, repeatPassword: '', password: '', forceChangePassword: false }

          this.useType = 'password'
          this.useDrawerShow = true
          this.useTitle = 'パスワード編集画面'
          const { data } = await this.http.post(`sys/usermanager/show/password?psSite=${this.psSite}&psApp=${this.psApp}`, { userIds: list, searchType: this.opts.searchType })
          this.detailData.userList = data.userList
          this.detailData.userIds = data.userList.map(e => e.maCuserid)
          this.detailData.min = data.passwordMinLen
          this.detailData.max = data.passwordMaxLen

        }),
        handleUseStart: Debounce(async function () {
          const list = this.$refs.table.getSelection().map(e => e.maCuserid)
          if (list.length === 0) {
            return this.$Notice.warning({ title: '注意', desc: '利用開始処理をするユーザを選択してください。', duration: 6.5 })
          }
          // 初始化
          this.detailData = { originalUserList: [], userIds: [], passwordType: 1, repeatPassword: '', password: '', useEntranceDate: false, startDate: '', forceChangePassword: false }

          this.useType = 'start'
          this.useDrawerShow = true
          this.useTitle = '利用開始日編集画面'
          const { data } = await this.http.post(`sys/usermanager/show/startDate?psSite=${this.psSite}&psApp=${this.psApp}`, { userIds: list, searchType: this.opts.searchType })
          this.detailData.startDate = data.defaultStartDate
          this.detailData.min = data.PASSWORD_MIN_LEN
          this.detailData.max = data.PASSWORD_MAX_LEN
          this.detailData.originalUserList = data.list
          this.detailData.userIds = data.list.map(e => e.maCuserid)
        }),
        handleUseEnd: Debounce(async function () {
          const list = this.$refs.table.getSelection().map(e => e.maCuserid)
          if (list.length === 0) {
            return this.$Notice.warning({ title: '注意', desc: '利用終了処理をするユーザを選択してください。', duration: 6.5 })
          }
          // 初始化
          this.detailData = { list: [], useRetireDate: false, endDate: '' }

          this.useType = 'end'
          this.useDrawerShow = true
          this.useTitle = '利用終了日編集画面'
          const { data } = await this.http.post(`sys/usermanager/show/endDate?psSite=${this.psSite}&psApp=${this.psApp}`, { userIds: list, searchType: this.opts.searchType })
          this.detailData.endDate = Utils.formatDate(data.defaultEndDate, 'yyyy/mm/dd')
          this.detailData.list = data.list
        }),
        cancelLock: Debounce(async function () {
          const list = this.$refs.table.getSelection().map(e => e.maCuserid)
          if (list.length === 0) {
            return this.$Notice.warning({ title: '注意', desc: 'ロックアウト解除をするユーザを選択してください。', duration: 6.5 })
          }
          this.$Modal.confirm({
            title: '注意',
            content: '選択されたユーザのロックアウトを解除します。よろしいですか？',
            okText: 'OK',
            cancelText: 'キャンセル',
            onOk: async () => {
              this.loading = true
              const { data } = await this.http.post('sys/usermanager/unlock', list)
              this.$Message.success('ロックアウト解除完了')
              this.getTableData()
            }
          })
        }),
        uploadMail: Debounce(async function () {
          if(this.uploadFiles.length === 0) return
          try {
            this.passwordPolicyLoading = true
            await this.http.uploadFiles('sys/mailmanager/upload', {
              file: this.uploadFiles[0],
            })
            this.$Message.success('アップロード完了')
            this.showUpdateMail = false
          } catch (error) {
          } finally {
            this.passwordPolicyLoading = false
          }
        }),
        async uploadCsv() {
          if(this.uploadFiles.length === 0) return
          try {
            this.passwordPolicyLoading = true
            await this.http.uploadFiles('sys/mailmanager/upload', {
              file: this.uploadFiles[0],
            })
            this.$Message.success('アップロード完了')
          } catch (error) {
          } finally {
            this.passwordPolicyLoading = false
          }
        },
        handleBeforeUpload(files) {
          // 返回false, 取消自带上传
          let checkPassed = true
          if (files.size / 1024 > 500) {
            this.$Notice.warning({
              desc: 'ファイル「' + files.name + '」のサイズが上限（500kBytes）を超えました'
            })
            checkPassed = false
          }

          if (-1 >= files.type.indexOf('excel') && -1 >= files.type.indexOf('spreadsheetml')) {
            this.$Notice.warning({
              desc: 'ファイル「' + files.name + '」のタイプがCSV、XLSX、XLSではありません'
            })
            checkPassed = false
          }
          if (checkPassed) {
            this.$set(this.uploadFiles, 0, files)
          }
          return false;
        },
        downloadTemplate: Debounce(function (type) {
          window.open(`${BASE_URL}/sys/mailmanager/template?type=${type}`, '_blank')
        }),
        updateMail: Debounce(async function (row) {
          let updateValue = {
            empId: row.meCemployeeidCk,
            empName: row.meCname,
            email: this.$refs[`input${row._index}`].currentValue
          }
          if(!updateValue.email) return this.$Notice.warning({ title: '注意', desc: 'メールを入力してください', duration: 6.5 })
          if(!/[\w\-\._]+@[\w\-\._]+\.[A-Za-z]+/.test(updateValue.email)) {
            this.$Notice.warning({ title: '注意', desc: 'メールフォーマットが正しくありません', duration: 6.5 })
            return
          }
          try {
            const { data } = await this.http.post('sys/mailmanager/update', [updateValue])
            this.$Message.success('更新完了')
            this.getTableData()
            this.mailInputIndex = -1
            } catch (error) {
            } finally {
          }
        }),
        changeMailShow(row,flag) {
          if(!flag) {
            this.$refs[`input${row._index}`].currentValue = this.tableData[row._index].tmaEmail
            this.mailInputIndex = -1
          } else {
            if(this.mailInputIndex !== -1) this.$refs[`input${this.mailInputIndex}`].currentValue = this.tableData[row._index].tmaEmail
            this.mailInputIndex = row._index
          }
        },
        handleEvent() {
          // 利用开始既改日期又改密码
          // 密码只改改密码
          // 终了只改日期且字段不同
          if (this.useType !== 'end' && this.detailData.passwordType === 1) {
            if (!this.detailData.password) {
              return this.$Notice.warning({ title: '注意', desc: 'アカウントを発行する際は、パスワードを入力してください。', duration: 6.5 })
            }
            if(!/^[a-z0-9A-Z]+$/.test(this.detailData.password) || !/^[a-z0-9A-Z]+$/.test(this.detailData.repeatPassword)) {
              return this.$Notice.warning({ title: '注意', desc: 'パスワードに使用できる文字は英数字のみです。', duration: 6.5 })
            }
            if (this.detailData.password !== this.detailData.repeatPassword) {
              return this.$Notice.warning({ title: '注意', desc: '新しいパスワードと確認入力が一致しません。', duration: 6.5 })
            }

            if (this.detailData.password.length < this.detailData.min) {
              return this.$Notice.warning({ title: '注意', desc: `パスワードは${this.detailData.min}文字以上入力してください。`, duration: 6.5 })
            }

            if (this.detailData.password.length > this.detailData.max) {
              return this.$Notice.warning({ title: '注意', desc: `パスワードは${this.detailData.max}文字以内で入力してください。`, duration: 6.5 })
            }
          }

          if(this.detailData.passwordType === 2) {
            delete this.detailData.password
            delete this.detailData.repeatPassword
          }

          if(this.useType === 'personal') {
            if (!this.detailData.account.maDstart) {
              return this.$Notice.warning({ title: '注意', desc: `開始日を入力してください。`, duration: 6.5 })
            }
            if (this.detailData.account.maDend && this.detailData.account.maDstart > this.detailData.account.maDend) {
              return this.$Notice.warning({ title: '注意', desc: `終了日は開始日より後の日付を入力してください。`, duration: 6.5 })
            }
          }

          if (this.useType === 'start' && !this.detailData.useEntranceDate && !this.detailData.startDate) {
            return this.$Notice.warning({ title: '注意', desc: '利用開始日を入力してください。', duration: 6.5 })
          }

          if (this.useType === 'end' && !this.detailData.useRetireDate && !this.detailData.endDate) {
            return this.$Notice.warning({ title: '注意', desc: '利用終了日を入力してください。', duration: 6.5 })
          }

          this.$Modal.confirm({
            title: '注意',
            content: this.useType === 'personal' ? '入力内容を保存します。よろしいですか？' : `ページ下にある一覧のユーザに対し、${this.useType === 'start' ? 'アカウントの利用開始日等' : this.useType === 'end' ? 'アカウントの利用終了日' : 'パスワード'}を、入力内容に更新します。よろしいですか？`,
            okText: 'OK',
            inDrawer: true,
            cancelText: 'キャンセル',
            onOk: async () => {
              try {
                this.drawerBtnLoading = true
                if (this.useType === 'start') {
                  const { data } = await this.http.post(`sys/usermanager/change/startDate?psSite=${this.psSite}&psApp=${this.psApp}`, this.detailData)
                }

                if (this.useType === 'end') {
                  const { data } = await this.http.post(`sys/usermanager/change/endDate?psSite=${this.psSite}&psApp=${this.psApp}`, this.detailData)
                }

                if (this.useType === 'personal') {
                  const { data } = await this.http.post(`sys/usermanager/personal?psSite=${this.psSite}&psApp=${this.psApp}`, this.detailData)
                  let msg = ''
                  Object.keys(data).forEach(e=>{
                    msg = msg.concat(`アカウント: ${e} パスワード: ${data[e]}\n`)
                  })
                  this.$Notice.success({ title:'パスワード変更結果',desc: msg, duration: 0 })
                }

                if (this.useType === 'password') {
                  const { data } = await this.http.post(`sys/usermanager/change/password?psSite=${this.psSite}&psApp=${this.psApp}`, this.detailData)
                  let msg = ''
                  Object.keys(data).forEach(e=>{
                    msg = msg.concat(`アカウント: ${e} パスワード: ${data[e]}\n`)
                  })
                  this.$Notice.success({ title:'パスワード変更結果',desc: msg, duration: 0 })
                }
                this.useDrawerShow = false
                this.$Message.success('更新完了')
                this.getTableData()
              } catch (error) {
              } finally {
                this.drawerBtnLoading = false
              }
            }
          })
        },
        async editPersonal(row) {
          // 初始化
          this.detailData = { passwordType: 1, repeatPassword: '', password: '', useEntranceDate: false, startDate: '', forceChangePassword: false, userId:'',kanaName:'',kanjiName:'',sectionName:'',postName:'',account:{maNpasswordlock:0,maDstart:'',maDend:''} }

          this.useType = 'personal'
          this.useDrawerShow = true
          this.useTitle = '個別編集画面'
          const { data } = await this.http.get(`sys/usermanager/personal/${row.meCuserid}`)
          this.detailData.min = data.passwordMinLen
          this.detailData.max = data.passwordMaxLen

          this.detailData.userId = row.meCuserid
          this.detailData.kanaName = data.userInfo.kanaName
          this.detailData.kanjiName = data.userInfo.kanjiName
          this.detailData.sectionName = data.userInfo.sectionName
          this.detailData.isOut = data.userInfo.isOut
          this.detailData.postName = data.userInfo.postName
          this.detailData.account = data.accountInfo
          this.detailData.account.maDstart = data.accountInfo.maDstart ? Utils.formatDate(data.accountInfo.maDstart, 'yyyy/mm/dd') : ''
          this.detailData.account.maDend = data.accountInfo.maDend ? Utils.formatDate(data.accountInfo.maDend, 'yyyy/mm/dd') : ''


          this.detailData.baseDate = data.baseDate
          // this.detailData.originalUserList = data.list
        },
        handleRadio(e) {
          if (e === 2) {
            this.detailData.password = ''
            this.detailData.repeatPassword = ''
            this.detailData.disabled = true
          } else {
            this.detailData.disabled = false
          }
        },
        pageChange(e) {
          this.opts.page = e
          this.pageValue.curPage = e
          this.getTableData(true)
        },
        rowClassName(row, index) {
          if (row.status) {
            return 'highlight select-col'
          } else {
            return 'select-col'
          }
        },
        handleSearchDept: Debounce(function () {
          this.sectionInTreeData(this.treeData)
          this.treeData = Utils.deepClone(this.treeData)
        }),
        sectionInTreeData(data, father) {
          const _this = this
          data.forEach((e, i) => {
            e.searchWords = ''
            if(e.title.indexOf(this.searchDept) > -1 ) {
              if(father) father.expand = true
              e.searchWords = this.searchDept
            }
            if (e.children && e.children.length > 0) {
              _this.sectionInTreeData(e.children, e);
            }
          })
        },
        resetUserDate(e, name, disableName) {
          if(e) {
            this.detailData[name] = ''
            this.detailData[disableName] = true
          } else {
            this.detailData[disableName] = false
          }
        },
        renderSearchTree(h, { root, node, data }) {
          const searchWords = data.searchWords
          if(searchWords && data.title.indexOf(searchWords) > -1) {
            const title = data.title.split(searchWords)
            return h('span', {
              style: {
                display: 'inline-block',
                width: '100%'
              }
            }, [
              h('span', title[0]),
              h('span',{
                style: {
                    color: 'var(--row-label-primary)',
                    fontWeight: 'bold'
                  },},searchWords),
              h('span', title[1])
            ])
          }
          return h('span', data.title)
        },
        convertTreeData(treeData, fristDisable) {
          if (!treeData) {
            this.$Message.error({
              background: true,
              closable: true,
              duration: 6.5,
              content: '参照できる組織図が存在しません。'
            });
            return []
          }
          return treeData.map((e, i) => {
            if (e.children) {
              return {
                ...e,
                title: e.sectionName,
                children: this.convertTreeData(e.children)
              }
            } else {
              return {
                ...e,
                title: e.sectionName
              }
            }
          })
        },
        handleScroll: Throttle(function (e) {
          this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
        }, 50)
      }
    })
  </script>
</body>

</html>