<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.MastGroupMapper">

    <select id="getUserGroupByLanguage" resultType="jp.smartcompany.job.modules.core.pojo.bo.DBMastGroupBO" parameterType="map">
        SELECT
            MG_CSYSTEMID_CK_FK as systemId,
            MG_NWEIGHTAGE as weight,
            MG_CGROUPID_PK as groupId,
            MGP_CQUERY as pQuery,
            PSMASTER.FUNC_GET_SYSTEM_NAME(
                MG_CSYSTEMID_CK_FK,
                current_date,
                #{language}
            ) AS systemName,
            PSMASTER.FUNC_GET_GROUP_DESC(
            MG_CSYSTEMID_CK_FK,
            MG_CGROUPID_PK,
            current_date,
            #{language}
            ) AS groupName
        FROM
            (
                SELECT
                *
                FROM
                MAST_GROUP,
                MAST_GROUPDEFINITIONS
                WHERE
                MG_CSYSTEMID_CK_FK = #{systemCode}
                AND MG_CLANGUAGE = #{language}
                AND	MG_DSTARTDATE <![CDATA[<=]]> current_date
                AND	MG_DENDDATE >= current_date
                AND	MGP_CCUSTOMERID_CK_FK = MG_CCUSTOMERID
                AND	MGP_CSYSTEMID_CK = MG_CSYSTEMID_CK_FK
                AND	MGP_CGROUPID_CK_FK = MG_CGROUPID_PK
                AND	MGP_DSTARTDATE <![CDATA[<=]]> current_date
                AND	MGP_DENDDATE >= current_date
                ORDER BY
                MG_NWEIGHTAGE,
                MG_CGROUPID_PK
            ) groups
    </select>

    <select id="getPretreatGroupByLanguageUserId" resultType="jp.smartcompany.job.modules.core.pojo.bo.DBMastGroupBO" parameterType="map">
        SELECT
        MG_CSYSTEMID_CK_FK,
        MG_NWEIGHTAGE,
        MG_CGROUPID_PK,
        PSMASTER.FUNC_GET_SYSTEM_NAME( MG_CSYSTEMID_CK_FK, current_date, #{language} ) AS SYSTEM_NAME,
        PSMASTER.FUNC_GET_GROUP_DESC( MG_CSYSTEMID_CK_FK, MG_CGROUPID_PK, current_date, #{language}) AS GROUP_NAME
        FROM
        (SELECT
        *
        FROM
        MAST_GROUP,
        HIST_EMPLOYEEGROUPS
        WHERE
        HE_CCUSTOMERID_CK = MG_CCUSTOMERID AND
        HE_CSYSTEMID_CK = MG_CSYSTEMID_CK_FK AND
        HE_CGROUPID = MG_CGROUPID_PK AND
        MG_CLANGUAGE = #{language} AND
        MG_DSTARTDATE <![CDATA[<=]]> current_date AND
        MG_DENDDATE >= current_date AND
        HE_DSTARTDATE_CK <![CDATA[<=]]> current_date AND
        HE_DENDDATE >= current_date AND
        HE_CUSERID = #{userId}
        ORDER BY
        HE_CSYSTEMID_CK,
        HE_NWEIGHTAGE,
        HE_CGROUPID
        ) groups
    </select>

    <select id="selectAppManagerGroup" parameterType="map" resultType="jp.smartcompany.admin.groupappmanager.dto.GroupAppManagerGroupDTO">
        -- グループ一覧取得SQL
        SELECT DISTINCT
            MG_CGROUPID_PK,
            PSMASTER.FUNC_GET_GROUP_DESC(
                MG_CSYSTEMID_CK_FK,
                MG_CGROUPID_PK,
                MG_DSTARTDATE,
                '${language}'
            ) MG_CGROUPDESCRIPTION,
            NVL(
                PSMASTER.FUNC_GET_COMP_NICK(
                    MG_CCUSTOMERID,
                    MG_CCOMPANYID,
                    NULL,
                    '${language}'
                ),
                PSMASTER.FUNC_GET_COMP_NAME(
                    MG_CCUSTOMERID,
                    MG_CCOMPANYID,
                    NULL,
                    '${language}'
                )
            ) COMPANYNICK,	-- 法人略称(ない場合名称も取得)
            MG_NWEIGHTAGE
        FROM
          MAST_GROUP
        WHERE
            MG_CCUSTOMERID = #{customerId}
            AND	MG_CSYSTEMID_CK_FK = #{systemId}
            AND	MG_CLANGUAGE = 'ja'
            AND	MG_DSTARTDATE <![CDATA[<=]]> #{searchDate}
            AND	MG_DENDDATE >= #{searchDate}
            <if test="companyId!=null">
                AND	MG_CCOMPANYID = #{companyId}
            </if>
            <if test="searchCompanyList!=null and searchCompanyList.size>0">
                AND MG_CCOMPANYID IN
                <foreach collection="searchCompanyList" item="groupId" open="(" separator="," close=")">
                    #{groupId}
                </foreach>
            </if>
            ORDER BY MG_NWEIGHTAGE,MG_CGROUPID_PK
    </select>

    <select id="selectAppManagerDate" parameterType="map" resultType="jp.smartcompany.admin.groupappmanager.dto.GroupAppManagerGroupDTO">
        SELECT
            MG_CGROUPID_PK,
            MG_DSTARTDATE,
            MG_DENDDATE
        FROM
            MAST_GROUP
        WHERE
            MG_CCUSTOMERID = #{customerId}
          AND	MG_CSYSTEMID_CK_FK = #{systemId}
          AND	MG_CLANGUAGE = 'ja'
          AND	MG_DENDDATE >= TRUNC(SYSDATE)
          <if test="companyId!=null">
              AND	MG_CCOMPANYID = #{companyId}
          </if>
          <if test="searchCompanyList!=null and searchCompanyList.size>0">
            AND MG_CCOMPANYID IN
            <foreach collection="searchCompanyList" item="groupId" open="(" separator="," close=")">
                #{groupId}
            </foreach>
          </if>
    </select>

    <select id="selectValidGroup" parameterType="map" resultType="jp.smartcompany.admin.groupmanager.dto.GroupManagerGroupListDTO">
        SELECT
            MG_DSTARTDATE,
            MG_DENDDATE,
            MG_CGROUPID_PK,
            MG_CCOMPANYID,
            PSMASTER.FUNC_GET_GROUP_DESC(
              MG_CSYSTEMID_CK_FK
              ,MG_CGROUPID_PK
              ,'${searchDate}'
              ,'${language}') AS MG_CGROUPDESCRIPTION,
            PSMASTER.FUNC_GET_COMP_NAME(
               MG_CCUSTOMERID
               ,MG_CCOMPANYID
               ,'${searchDate}'
               ,'${language}') AS COMPANY_NAME,
               MG_ID,
               VERSIONNO
        FROM
            MAST_GROUP
        WHERE
           MG_CCUSTOMERID = #{customerCode}
           AND MG_CSYSTEMID_CK_FK = #{systemId}
           AND MG_CLANGUAGE	= 'ja'
            <if test="companyList neq null and companyList.size() gt 0">
                AND MG_CCOMPANYID IN
                <foreach collection="companyList" item="companyId" open="(" separator="," close=")">
                    #{companyId}
                </foreach>
            </if>
            AND MG_DSTARTDATE <![CDATA[<=]]> #{searchDate}
            AND MG_DENDDATE	>= #{searchDate}
        ORDER BY
            MG_NWEIGHTAGE, MG_CGROUPID_PK
    </select>

    <select id="selectInvalidGroup" parameterType="map" resultType="jp.smartcompany.admin.groupmanager.dto.GroupManagerGroupListDTO">
        SELECT
            DISTINCT
            MG_DSTARTDATE,
            MG_DENDDATE,
            MG_CGROUPID_PK,
            MG_CCOMPANYID,
            PSMASTER.FUNC_GET_GROUP_DESC(
                    MG_CSYSTEMID_CK_FK
                ,MG_CGROUPID_PK
                ,MG_DENDDATE
                ,'${language}')
                AS MG_CGROUPDESCRIPTION,
            PSMASTER.FUNC_GET_COMP_NAME(
                    MG_CCUSTOMERID
                ,MG_CCOMPANYID
                ,MG_DENDDATE
                ,'${language}')
                AS COMPANY_NAME,
            MG_ID,
            VERSIONNO
        FROM
            MAST_GROUP
        WHERE
            MG_CCUSTOMERID = #{customerCode}
          AND MG_CSYSTEMID_CK_FK = #{systemId}
          AND MG_CLANGUAGE = 'ja'
          <if test="companyList!=null and companyList.size>0">
            AND MG_CCOMPANYID IN
              <foreach collection="companyList" item="companyId" open="(" separator="," close=")">
                  #{companyId}
              </foreach>
          </if>
          <if test="validGroupList!=null and validGroupList.size>0">
              AND MG_CGROUPID_PK NOT IN
              <foreach collection="validGroupList" item="groupId" open="(" separator="," close=")">
                  #{groupId}
              </foreach>
          </if>
        ORDER BY
            MG_CGROUPID_PK
    </select>

    <select id="selectHistoryDate" parameterType="map" resultType="jp.smartcompany.admin.groupmanager.dto.GroupManagerModifiedDateDTO">
        SELECT
          a.MG_DSTARTDATE,
          (
              SELECT
                 MAX(MG_DSTARTDATE)
              FROM
                 MAST_GROUP
              WHERE
                 MG_CCUSTOMERID	= #{customerCode}
                 AND MG_CSYSTEMID_CK_FK	= #{systemId}
                 <if test="companyList!=null and companyList.size>0">
                    AND MG_CCOMPANYID IN
                    <foreach collection="companyList" item="companyId" open="(" separator="," close=")">
                        #{companyId}
                    </foreach>
                 </if>
                 AND MG_CLANGUAGE = 'ja'
                 AND MG_DSTARTDATE <![CDATA[<]]> a.MG_DSTARTDATE
          ) as PREVIOUSDATE,
          (
            SELECT
                MIN(MG_DSTARTDATE)
            FROM
                MAST_GROUP
            WHERE
                MG_CCUSTOMERID = #{customerCode}
                AND MG_CSYSTEMID_CK_FK = #{systemId}
                <if test="companyList!=null and companyList.size>0">
                    AND MG_CCOMPANYID IN
                    <foreach collection="companyList" item="companyId" open="(" separator="," close=")">
                        #{companyId}
                    </foreach>
                </if>
                AND MG_CLANGUAGE = 'ja'
                AND MG_DSTARTDATE > a.MG_DSTARTDATE
          ) as NEXTDATE,
          (
            SELECT
                MAX(MG_DSTARTDATE)
            FROM
               MAST_GROUP
            WHERE
               MG_CCUSTOMERID = #{customerCode}
               AND MG_CSYSTEMID_CK_FK = #{systemId}
                <if test="companyList!=null and companyList.size>0">
                    AND MG_CCOMPANYID IN
                    <foreach collection="companyList" item="companyId" open="(" separator="," close=")">
                        #{companyId}
                    </foreach>
                </if>
            AND MG_CLANGUAGE = 'ja'
            AND MG_DSTARTDATE <![CDATA[<=]]> TRUNC(SYSDATE)
          ) as VALIDDATE
        FROM
          (
            SELECT
                MAX(MG_DSTARTDATE) AS MG_DSTARTDATE
            FROM
                MAST_GROUP
            WHERE
                MG_CCUSTOMERID = #{customerCode}
                AND MG_CSYSTEMID_CK_FK = #{systemId}
                <if test="companyList!=null and companyList.size>0">
                    AND MG_CCOMPANYID IN
                    <foreach collection="companyList" item="companyId" open="(" separator="," close=")">
                        #{companyId}
                    </foreach>
                </if>
                AND MG_CLANGUAGE = 'ja'
                AND MG_DSTARTDATE <![CDATA[<=]]> #{searchDate}
          ) a
          WHERE
              MG_DSTARTDATE IS NOT NULL
          ORDER BY
              MG_DSTARTDATE
    </select>

    <select id="selectGroupHistoryList" parameterType="map" resultType="jp.smartcompany.admin.groupmanager.dto.GroupManagerGroupListDTO">
        SELECT
            MG_ID,
            MG_CCUSTOMERID,
            MG_CSYSTEMID_CK_FK,
            MG_CGROUPID_PK,
            MG_CLANGUAGE,
            MG_DSTARTDATE,
            MG_DENDDATE,
            MG_CGROUPDESCRIPTIONJA,
            MG_CGROUPDESCRIPTIONEN,
            MG_CGROUPDESCRIPTIONCH,
            MG_CGROUPDESCRIPTION01,
            MG_CGROUPDESCRIPTION02,
            MG_CCOMPANYID,
            MG_NPARTINENTNUMBER,
            MG_NWEIGHTAGE,
            MG_CTEXT,
            PSMASTER.FUNC_GET_GROUP_DESC(
                MG_CSYSTEMID_CK_FK,
                MG_CGROUPID_PK,
                MG_DSTARTDATE,
                '${language}'
            ) AS MG_CGROUPDESCRIPTION,
            PSMASTER.FUNC_GET_COMP_NAME(
                MG_CCUSTOMERID,
                MG_CCOMPANYID,
                MG_DSTARTDATE,
                '${language}'
            ) AS COMPANY_NAME
        FROM
           MAST_GROUP
        WHERE
           MG_CCUSTOMERID = #{customerCode}
           AND MG_CSYSTEMID_CK_FK  = #{systemId}
           AND MG_CLANGUAGE = 'ja'
           AND MG_CGROUPID_PK = #{groupId}
           <if test="companyList!=null and companyList.size>0">
             AND MG_CCOMPANYID IN
             <foreach collection="companyList" item="companyId" open="(" separator="," close=")">
                #{companyId}
             </foreach>
           </if>
           <if test="searchDate!=null">
              AND MG_DSTARTDATE	<![CDATA[<=]]> #{searchDate}
              AND MG_DENDDATE >= #{searchDate}
           </if>
        ORDER BY MG_DSTARTDATE DESC
    </select>

    <update id="updateGroupPrionityLevel" parameterType="map">
        UPDATE
           MAST_GROUP a
        SET
           a.MG_NWEIGHTAGE=
           (
                SELECT
                   COUNT(MG_ID) + 1
                FROM
                   MAST_GROUP b
                WHERE
                   a.MG_CCUSTOMERID = b.MG_CCUSTOMERID AND
                   a.MG_CSYSTEMID_CK_FK = b.MG_CSYSTEMID_CK_FK AND
                   a.MG_CLANGUAGE = b.MG_CLANGUAGE AND
                   a.MG_DSTARTDATE <![CDATA[<=]]> #{searchDate} AND
                   a.MG_DENDDATE >= #{searchDate} AND
                   b.MG_DSTARTDATE <![CDATA[<=]]> #{searchDate} AND
                   b.MG_DENDDATE >= #{searchDate} AND
                   b.MG_NWEIGHTAGE <![CDATA[<]]> a.MG_NWEIGHTAGE
           )
        WHERE
           MG_CCUSTOMERID = #{custId} AND
           MG_CSYSTEMID_CK_FK = #{systemId} AND
           MG_CLANGUAGE = 'ja' AND
           MG_DSTARTDATE <![CDATA[<=]]> #{searchDate} AND
           MG_DENDDATE >= #{searchDate}
    </update>

</mapper>