<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.MastGroupapppermissionMapper">

    <select id="selectPermissionList" parameterType="map" resultType="jp.smartcompany.admin.groupappmanager.dto.GroupAppManagerPermissionDTO">
        -- 起動権限一覧取得
        -- MAST_APPTREEとの差異が無いよう、外部結合する
        SELECT DISTINCT
            MGP_CGROUPID,
            NVL(MGP_COBJECTID, MTR_COBJECTID) MGP_COBJECTID,
            NVL(MGP_CSITE, MTR_CSITEID) MGP_CSITE,
            NVL(MGP_CAPP, MTR_CAPPID) MGP_CAPP,
            NVL(MGP_CSUBAPP, MTR_CSUBAPPID) MGP_CSUBAPP,
            NVL(MGP_CBUTTON, MTR_CBUTTONID) MGP_CBUTTON,
            NVL(MGP_CSCREEN, MTR_CSCREENID) MGP_CSCREEN,
            DECODE(MGP_CPERMISSION, '1', DECODE(MGP_CREJECT, '1', '2', '1'), '0') PERMISSION,
            PSMASTER.FUNC_GET_OBJ_NAME (
                MTR_CSITEID,
                MTR_CAPPID,
                MTR_CSUBAPPID,
                MTR_CSCREENID,
                MTR_CBUTTONID,
                '${language}'
            ) OBJECTNAME,
            MTR_CTYPE TYPE,
            MG_NWEIGHTAGE,
            MTR_NSEQ,
            MTR_ID
        FROM
            (
             MAST_APPTREE
             LEFT OUTER JOIN MAST_GROUPAPPPERMISSION ON	MTR_COBJECTID = MGP_COBJECTID
                AND	MTR_CSYSTEMID = MGP_CSYSTEMID
                <if test="groupIds!=null and groupIds.size()>0">
                    AND	MGP_CGROUPID IN
                    <foreach collection="groupIds" index="index" item="groupId" separator="," open="(" close=")">
                      #{groupId}
                    </foreach>
                </if>
                AND	MGP_DSTARTDATE <![CDATA[ <= ]]> #{date}
                AND	MGP_DENDDATE >= #{date}
             LEFT JOIN MAST_GROUP ON MG_CGROUPID_PK = MGP_CGROUPID
                AND MG_CSYSTEMID_CK_FK = MGP_CSYSTEMID
                AND MG_DSTARTDATE <![CDATA[ <= ]]> #{date}
                AND MG_DENDDATE <![CDATA[ <= ]]> #{date}
            )
        WHERE
            MTR_CSYSTEMID = #{systemId}
            AND	MTR_CTYPE <![CDATA[ <> ]]> '0'
            <if test='siteId!=null and siteId!=""'>
                AND	MTR_CSITEID = #{siteId}
            </if>
            <if test='appId!=null and appId!=""'>
                AND (
                    MTR_COBJECTID IN (
                        SELECT DISTINCT
                        MTR_CSITEID
                        FROM
                        MAST_APPTREE
                        WHERE
                        MTR_CSYSTEMID = #{systemId}
                        AND	MTR_CAPPID = #{appId}
                    )
                    OR	MTR_CAPPID = #{appId}
                )
            </if>
            ORDER BY
                MTR_NSEQ,
                MG_NWEIGHTAGE,
                MGP_CGROUPID
    </select>

    <select id="selectDate" parameterType="map" resultType="jp.smartcompany.admin.groupappmanager.dto.GroupAppManagerChangeDateDTO">
        -- 有効改定日と前後の改定日を取得するSQL
        SELECT
          -- 現在有効
          BASE.MGP_DSTARTDATE NOWDATE,
          (SELECT
             MAX(BEF.MGP_DSTARTDATE)
           FROM MAST_GROUPAPPPERMISSION BEF
           WHERE
             BEF.MGP_CSYSTEMID = '${systemId}'
             AND BEF.MGP_DSTARTDATE <![CDATA[<]]> BASE.MGP_DSTARTDATE
             <if test='groupId!=null and groupId!=""'>
               AND BEF.MGP_CGROUPID = #{groupId}
             </if>
          ) BEFOREDATE, -- 前の改定日(SYSDATE以降)
        (SELECT
           MIN(AFT.MGP_DSTARTDATE)
         FROM MAST_GROUPAPPPERMISSION AFT
         WHERE
           AFT.MGP_CSYSTEMID = #{systemId}
           AND AFT.MGP_DSTARTDATE > BASE.MGP_DSTARTDATE
           <if test='groupId!=null and groupId!=""'>
             AND AFT.MGP_CGROUPID = #{groupId}
           </if>
         ) AFTERDATE, -- 次の改定日
        (SELECT
           MAX(LAT.MGP_DSTARTDATE)
         FROM
           MAST_GROUPAPPPERMISSION LAT
         WHERE
           LAT.MGP_CSYSTEMID = #{systemId}
           AND LAT.MGP_DSTARTDATE <![CDATA[<=]]> TRUNC(SYSDATE)
            <if test='groupId!=null and groupId!=""'>
                AND LAT.MGP_CGROUPID = #{groupId}
            </if>
        ) LATESTDATE -- システム日付時点で有効な改定日
       FROM
        (SELECT
           MAX(MGP_DSTARTDATE) MGP_DSTARTDATE
         FROM
           MAST_GROUPAPPPERMISSION
         WHERE
           MGP_CSYSTEMID = #{systemId}
            <choose>
                <when test="systemDate!=null">
                    AND	MGP_DSTARTDATE <![CDATA[<=]]> #{systemDate}
                </when>
                <otherwise>
                    AND	MGP_DSTARTDATE <![CDATA[<=]]> TRUNC(SYSDATE)
                </otherwise>
            </choose>
           <if test='groupId!=null and groupId!=""'>
             AND MGP_CGROUPID = #{groupId}
           </if>
        ) BASE
    </select>

    <select id="selectPermissionListPage" resultType="jp.smartcompany.job.modules.core.pojo.entity.MastGroupapppermissionDO">
        select * from MAST_GROUPAPPPERMISSION
    </select>

<!--    <delete id="deleteAfter" parameterType="map">-->
<!--        &#45;&#45; 今回改定日以降のレコード削除-->
<!--        DELETE FROM-->
<!--            MAST_GROUPAPPPERMISSION-->
<!--        WHERE-->
<!--            MGP_CSYSTEMID = #{systemId}-->
<!--            AND MGP_DSTARTDATE >= #{date}-->
<!--            AND MGP_CGROUPID = #{groupId}-->
<!--            <if test="objectId!=null">-->
<!--              AND MGP_COBJECTID = #{objectId}-->
<!--            </if>-->
<!--    </delete>-->

<!--    <select id="selectValidPermissions" resultType="jp.smartcompany.job.modules.core.pojo.entity.MastGroupapppermissionDO" parameterType="map">-->
<!--        &#45;&#45; 現在有効な権限情報取得-->
<!--        SELECT-->
<!--            MGP_ID,-->
<!--            MGP_CCOMPANYID,-->
<!--            MGP_CSYSTEMID,-->
<!--            MGP_CGROUPID,-->
<!--            MGP_COBJECTID,-->
<!--            MGP_CSITE,-->
<!--            MGP_CAPP,-->
<!--            MGP_CSUBAPP,-->
<!--            MGP_CBUTTON,-->
<!--            MGP_CSCREEN,-->
<!--            MGP_CPERMISSION,-->
<!--            MGP_CREJECT,-->
<!--            MGP_DSTARTDATE,-->
<!--            MGP_DENDDATE-->
<!--        FROM-->
<!--            MAST_GROUPAPPPERMISSION-->
<!--        WHERE-->
<!--            MGP_CSYSTEMID = #{systemId}-->
<!--            AND	MGP_DSTARTDATE <![CDATA[<=]]> #{date}-->
<!--            AND	MGP_DENDDATE >= #{date}-->
<!--            AND	MGP_CGROUPID = #{groupId}-->
<!--            <if test="objectId!=null">-->
<!--                AND	MGP_COBJECTID = #{objectId}-->
<!--            </if>-->
<!--        ORDER BY MGP_COBJECTID,MGP_DSTARTDATE-->
<!--    </select>-->

<!--    <delete id="deleteOtherSysObj" parameterType="map">-->
<!--        &#45;&#45; 他システム上の同じオブジェクトを削除する-->
<!--        delete from-->
<!--        mast_groupapppermission-->
<!--        where-->
<!--        mgp_csystemid <![CDATA[<>]]> #{systemId}-->
<!--        and	mgp_cobjectid = #{objectId}-->
<!--    </delete>-->

</mapper>