<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.MastDatapermissionMapper">

    <select id="selectDataPermissionDefs" resultType="jp.smartcompany.framework.sysboot.dto.SearchRangeInfoDTO">
        SELECT	MDPD_CPERMISSIONID,
                  MDPD_NSEQ,
                  MDPD_CANDOR,
                  MDPD_COPENEDPARENTHSIS,
                  MDPD_CTABLEID,
                  MDPD_CCOLUMNID,
                  MDPD_CCOLUMNNAME,
                  MDPD_CTYPEOFCOLUMN,
                  MDPD_COPERATOR,
                  MDPD_CVALUE,
                  MDPD_CMYFLAG,
                  MDPD_CCLOSEDPARENTHSIS,
                  MDPD_CCOMPANYID,
                  (	SELECT MD_CMASTERTBLNAME
                       FROM MAST_DATADICTIONARY WHERE MD_CCOLUMNNAME = MDPD_CCOLUMNID AND MD_CTABLENAME = MDPD_CTABLEID
                  ) AS MD_CMASTERTBLNAME
        FROM  	MAST_DATAPERMISSIONDEFS,
                MAST_DATAPERMISSION
        WHERE	MDPD_CPERMISSIONID  = MDP_CPERMISSIONID
        ORDER BY
            MDPD_CPERMISSIONID,
            MDPD_NSEQ;
    </select>

    <select id="selectDataSectionPost" resultType="jp.smartcompany.framework.sysboot.dto.SearchRangeInfoDTO">
        -- 下位データを持たない「法人のみ」定義データ
        SELECT
            MDSP_CPERMISSIONID,
            MDSP_CTYPEID,
            MDSP_CCOMPANYID,
            MDSP_CSECTIONID,
            MDSP_CPOSTID,
            MDSP_CEMPLOYEEID
        FROM
            MAST_DATASECTIONPOSTMAPPING MDS,
            MAST_DATAPERMISSION MDP
        WHERE
            MDSP_CPERMISSIONID  = MDP_CPERMISSIONID
          AND MDSP_CTYPEID = '01'
          AND NOT EXISTS
            (
                SELECT
                    1
                FROM
                    MAST_DATASECTIONPOSTMAPPING
                WHERE
                    MDSP_CPERMISSIONID = MDS.MDSP_CPERMISSIONID AND
                    MDSP_CCOMPANYID = MDS.MDSP_CCOMPANYID AND
                    MDSP_CTYPEID IN ('02', '03', '04', '05', '06', '07')
            )
-- 下位データを持たない「法人＆組織のみ」定義データ
        UNION
        SELECT
            MDSP_CPERMISSIONID,
            MDSP_CTYPEID,
            MDSP_CCOMPANYID,
            MDSP_CSECTIONID,
            MDSP_CPOSTID,
            MDSP_CEMPLOYEEID
        FROM
            MAST_DATASECTIONPOSTMAPPING MDS,
            MAST_DATAPERMISSION MDP
        WHERE
            MDSP_CPERMISSIONID  = MDP_CPERMISSIONID
          AND MDSP_CTYPEID = '02'
          AND NOT EXISTS
            (
                SELECT
                    1
                FROM
                    MAST_DATASECTIONPOSTMAPPING
                WHERE
                    MDSP_CPERMISSIONID = MDS.MDSP_CPERMISSIONID AND
                    MDSP_CCOMPANYID = MDS.MDSP_CCOMPANYID AND
                    MDSP_CSECTIONID = MDS.MDSP_CSECTIONID AND
                    MDSP_CTYPEID IN ('03', '04')
            )
        UNION
-- その他の定義データ
        SELECT
            MDSP_CPERMISSIONID,
            MDSP_CTYPEID,
            MDSP_CCOMPANYID,
            MDSP_CSECTIONID,
            MDSP_CPOSTID,
            MDSP_CEMPLOYEEID
        FROM
            MAST_DATASECTIONPOSTMAPPING MDS,
            MAST_DATAPERMISSION MDP
        WHERE
            MDSP_CPERMISSIONID  = MDP_CPERMISSIONID
          AND MDSP_CTYPEID IN ('03', '04', '05', '06', '07')
        ORDER BY
            MDSP_CPERMISSIONID,
            MDSP_CTYPEID,
            MDSP_CCOMPANYID,
            MDSP_CSECTIONID;
    </select>

</mapper>