<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.MastDatadictionaryMapper">

    <select id="selectAllDicts" resultType="jp.smartcompany.job.modules.core.pojo.entity.MastDatadictionaryDO">
        SELECT
            a.MD_ID
             ,a.MD_CCUSTOMERID
             ,a.MD_CTABLENAME
             ,a.MD_NTABLESEQ
             ,a.MD_CCOLUMNNAME
             ,a.MD_CCOLUMNDESCJA
             ,a.MD_CCOLUMNDESCEN
             ,a.MD_CCOLUMNDESCCH
             ,a.MD_CCOLUMNDESC01
             ,a.MD_CCOLUMNDESC02
             ,a.MD_CTYPEOFCOLUMN
             ,a.MD_CEXCEPTEDDATATYPE
             ,a.MD_NSEQ
             ,a.MD_CLEVELID
             ,a.MD_CMASTERTBLNAME
             ,a.MD_CAVLFORAXESINCR
             ,a.MD_CAVLFORCTNINCR
             ,a.MD_CAVLFORCONDITIONINCR
             ,a.MD_CAVLGROUPS
             ,a.MD_CAVLFORCKSTART
             ,a.MD_CFULLTEXTFLG
             ,a.MD_CRESULTAPPID
             ,a.MD_CCALCULATECOLUMN
             ,a.MD_CMASTTBLCOLUMN
             ,a.MD_CMATCHESWITH
             ,a.VERSIONNO
             ,NVL(b.DATA_LENGTH,0) as DATA_LENGTH
             ,NVL(b.DATA_PRECISION,0) as DATA_PRECISION
             ,NVL(b.DATA_SCALE,0) as DATA_SCALE
             ,NVL(b.CHAR_LENGTH,0) as CHAR_LENGTH
             ,NVL(b.NULLABLE,'Y') as NULLABLE
        FROM
            MAST_DATADICTIONARY a
           ,USER_TAB_COLUMNS b
        WHERE
            MD_CTABLENAME = TABLE_NAME(+)
          AND MD_CCOLUMNNAME = COLUMN_NAME(+)
        /* 実テーブルにカラムがないと転けるので暫定対応 konno
             MAST_DATADICTIONARY a LEFT OUTER JOIN USER_TAB_COLUMNS b ON
                  a.MD_CTABLENAME = b.TABLE_NAME
              AND a.MD_CCOLUMNNAME = b.COLUMN_NAME
        */
        /*
             MAST_DATADICTIONARY
            ,USER_TAB_COLUMNS
        WHERE
             MD_CTABLENAME = TABLE_NAME
         AND MD_CCOLUMNNAME = COLUMN_NAME
        */
    </select>

    <select id="selectAllDataDicSecLevel" resultType="jp.smartcompany.framework.sysboot.dto.MastDatadicSeclevelDTO">
        SELECT
            MDSL_ID
             ,MDSL_CSYSTEMID
             ,MDSL_CCOLUMNNAME
             ,MDSL_CLEVELID
             ,VERSIONNO
        FROM
            MAST_DATADIC_SECLEVEL
    </select>

    <select id="selectGroupJoinQuery" parameterType="map" resultType="jp.smartcompany.framework.component.dto.QueryConditionRowDTO">
        SELECT DISTINCT
            ' AND ' ||
            'HD_CCUSTOMERID_CK  = ' || CUSTOMERID || ' AND ' ||
            'HD_CUSERID         = ' || USERID     || ' AND ' ||
            'HD_DSTARTDATE_CK  <![CDATA[<=]]> TRUNC(SYSDATE)' || ' AND ' ||
            'HD_DENDDATE       >= TRUNC(SYSDATE)' || ' AND ' ||
            STARTDATE   ||   ' <![CDATA[<=]]> TRUNC(SYSDATE)' || ' AND ' ||
            ENDDATE     ||   ' >= TRUNC(SYSDATE)'
            AS JOINQUERY
        FROM
           (
               SELECT
                    (
                        SELECT
                            MD_CCOLUMNNAME
                        FROM MAST_DATADICTIONARY
                        WHERE
                            MD_CCUSTOMERID  = /*psCustomerId*/'01'      AND
                            MD_CTABLENAME	= /*psTableId*/'TEST'		AND
                            MD_CCOLUMNNAME LIKE '%CCUSTOMERID%'	    	AND
                            ROWNUM = 1
                    ) AS CUSTOMERID,
                    (
                       SELECT
                           MD_CCOLUMNNAME
                       FROM
                           MAST_DATADICTIONARY
                       WHERE
                           MD_CCUSTOMERID  = /*psCustomerId*/'01'      AND
                           MD_CTABLENAME	= /*psTableId*/'TEST'		AND
                           MD_CCOLUMNNAME LIKE '%DSTARTDATE%'          AND
                           ROWNUM = 1
                    ) AS STARTDATE,
                    (
                       SELECT
                           MD_CCOLUMNNAME
                       FROM
                           MAST_DATADICTIONARY
                       WHERE
                           MD_CCUSTOMERID  = /*psCustomerId*/'01'      AND
                           MD_CTABLENAME	= /*psTableId*/'TEST'		AND
                           MD_CCOLUMNNAME LIKE '%DENDDATE%'	   	AND
                           ROWNUM = 1
                    ) AS ENDDATE,
                    (
                       SELECT
                           MD_CCOLUMNNAME
                       FROM
                           MAST_DATADICTIONARY
                       WHERE
                           MD_CCUSTOMERID  = /*psCustomerId*/'01'      AND
                           MD_CTABLENAME	= /*psTableId*/'TEST'		AND
                           MD_CCOLUMNNAME LIKE '%CUSERID%'         AND
                           ROWNUM = 1
                    ) AS USERID
               FROM DUAL
           )
    </select>

    <select id="selectTableInfo" parameterType="map" resultType="jp.smartcompany.framework.component.dto.QueryConditionSelectDTO">
        -- 使用出来るテーブル一覧を取得
        SELECT
            DISTINCT MDT_CTABLENAME AS code_info,
            PSMASTER.FUNC_GET_TABLE_DESC('${customerId}',MDT_CTABLENAME,'${language}') AS name_info,
            MDT_NTABLESEQ
        FROM
            MAST_DATADICTIONARY,
            MAST_DATADICTBL
        WHERE
           MD_CCUSTOMERID  = #{customerId}
            <choose>
                <when test="mdCavlforckStart != null">
                    AND MD_CAVLFORCKSTART   = '1'
                </when>
                <otherwise>
                    AND MD_CAVLGROUPS   = '1'
                </otherwise>
            </choose>
            AND MD_CCUSTOMERID = MDT_CCUSTOMERID
            AND MD_CTABLENAME = MDT_CTABLENAME
            ORDER BY
            MDT_NTABLESEQ,MDT_CTABLENAME
    </select>

    <select id="selectColumnInfo" parameterType="map" resultType="jp.smartcompany.framework.component.dto.QueryConditionSelectDTO">
        SELECT
            DISTINCT
            MD_CCOLUMNNAME AS code_info,
            PSMASTER.FUNC_GET_TABLE_DESC('${customerId}',MD_CTABLENAME,'${language}') || '－' || PSMASTER.FUNC_GET_COLUMN_DESC('${customerId}','${tableId}',MD_CCOLUMNNAME,'${language}') AS name_info,
            MD_CMASTERTBLNAME AS MASTERINFO,
            MD_CTYPEOFCOLUMN AS TYPEINFO,
            MD_NSEQ
        FROM
            MAST_DATADICTIONARY
        WHERE
            MD_CCUSTOMERID = #{customerId} AND
            MD_CTABLENAME = #{tableId}
            <choose>
                <when test="mdCavlforckStart != null">
                    AND MD_CAVLFORCKSTART   = '1'
                </when>
                <otherwise>
                    AND MD_CAVLGROUPS   = '1'
                </otherwise>
            </choose>
            ORDER BY MD_NSEQ
    </select>

</mapper>