<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgEmployeeAttributeMapper">
    <delete id="buildSQLForDeleteTmgEmployeeAttribute">
        DELETE FROM TMG_EMPLOYEE_ATTRIBUTE
        WHERE TES_CCUSTOMERID =  #{custID}
        AND   TES_CCOMPANYID  =   #{compCode}
        AND   TES_CEMPLOYEEID =   #{targetUser}
        AND	TES_DSTARTDATE	<![CDATA[<=]]>	TRUNC(TO_DATE(#{cycleDay}))
        AND	TES_DENDDATE	>=	TRUNC(TO_DATE(#{cycleDay}))
    </delete>
    <select id="buildSQLForSelectTmgEmployeeAttribute" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.TmgEmployeeAttributeVO">
        SELECT
            NVL(TES_CATTRIBUTE, 'TMG_ONOFF|0' ) TES_CATTRIBUTE
            ,CSPARECHAR1
            ,CCODE01
            ,TMG_F_GET_MGD(CCODE01, #{date,jdbcType=DATE} , #{custID} ,#{compCode}) CCODE1NAME
            , NSPARENUM1
            , CSPARECHAR2
        FROM
            TMG_EMPLOYEE_ATTRIBUTE
        WHERE
            TES_CCUSTOMERID = #{custID}
        AND  TES_CCOMPANYID = #{compCode}
        AND  TES_CEMPLOYEEID = #{targetUser}
        <if test="psType == overHoursReasonType">
            AND TES_DSTARTDATE = #{month,jdbcType=DATE}
        </if>
        <if test="psType != overHoursReasonType">
            AND TES_DSTARTDATE <![CDATA[<=]]> #{month,jdbcType=DATE}
            AND TES_DENDDATE >= #{month,jdbcType=DATE}
        </if>
        AND  TES_CTYPE = #{psType}
    </select>

    <insert id="buildSQLForInsertTmgEmployeeAttributeActDisp" >
        INSERT INTO TMG_EMPLOYEE_ATTRIBUTE (
              TES_CCUSTOMERID
            , TES_CCOMPANYID
            , TES_CEMPLOYEEID
            , TES_DSTARTDATE
            , TES_DENDDATE
            , TES_CMODIFIERUSERID
            , TES_DMODIFIEDDATE
            , TES_CMODIFIERPROGRAMID
            , TES_CTYPE
            , TES_CATTRIBUTE
            , NSPARENUM1
            , NSPARENUM2
       ) VALUES (
             #{custId}
            ,#{compCode}
            ,#{targetUser}
            ,TRUNC(TO_DATE(#{month,jdbcType=DATE}))
            ,LAST_DAY(TO_DATE(#{month,jdbcType=DATE}))
            ,#{userCode}
            ,SYSDATE
            ,#{modifierProgramId}
            ,#{psType}
            ,#{onOff}
            ,#{view}
            ,#{mailUnsend}
       )
    </insert>
    <insert id="buildSQLForInsertTmgEmployeeAttribute">
        INSERT INTO TMG_EMPLOYEE_ATTRIBUTE
        (
            TES_CCUSTOMERID,
            TES_CCOMPANYID,
            TES_CEMPLOYEEID,
            TES_DSTARTDATE,
            TES_DENDDATE,
            TES_CMODIFIERUSERID,
            TES_DMODIFIEDDATE,
            TES_CMODIFIERPROGRAMID,
            TES_CTYPE,
            TES_CATTRIBUTE,
            CSPARECHAR1,
            CCODE01
        ) VALUES (
            #{custID},
            #{compCode},
            #{targetUser},
            TRUNC(TO_DATE(#{cycleDay1}) ),
            LAST_DAY(TO_DATE(#{cycleDay2}) ),
            #{userCode},
            sysdate,
            #{modifierProgramId},
            #{status},
            <choose>
                <!-- 勤務状況確認の場合-->
                <when test='status == "TMG_ITEMS|WorkStatus" '>
                    <choose>
                        <when test='action == "ACT_CONF_WORK_ON"'>
                            'TMG_ONOFF|1',
                        </when>
                        <otherwise>
                            'TMG_ONOFF|0',
                        </otherwise>
                    </choose>
                    null,
                    null
                </when>
                <!-- 健康状態確認の場合-->
                <when test='status == "TMG_ITEMS|HealthStatus" '>
                    <choose>
                        <when test='action == "ACT_CONF_HEALTH_ON"'>
                            'TMG_ONOFF|1',
                        </when>
                        <otherwise>
                            'TMG_ONOFF|0',
                        </otherwise>
                    </choose>
                    null,
                    <choose>
                        <when test='action == "ACT_CONF_HEALTH_ON"'>
                            #{selHealthStatus}
                        </when>
                        <otherwise>
                        <!-- 解除する場合はOFFにセット-->
                            'TMG_ONOFF|0'
                        </otherwise>
                    </choose>
                </when>
                <otherwise>
                    null,
                    null,
                    null
                </otherwise>
            </choose>
        )
    </insert>

    <update id="buildSQLForUpdateTmgEmployeeAttribute">
         UPDATE TMG_EMPLOYEE_ATTRIBUTE
           SET TES_DMODIFIEDDATE      = SYSDATE
             , TES_CMODIFIERPROGRAMID = #{modifierProgramId}
             , NSPARENUM1             = #{view}
             , NSPARENUM2             = #{mailUnsend}
         WHERE TES_CCUSTOMERID = #{custId}
           AND TES_CCOMPANYID  = #{compCode}
           AND TES_CEMPLOYEEID =  #{targetUser}
           AND TES_DSTARTDATE  = TRUNC(TO_DATE(#{month,jdbcType=DATE}))
           AND TES_DENDDATE    = LAST_DAY(TO_DATE(#{month,jdbcType=DATE}))
           AND TES_CTYPE       = #{type}
           AND TES_CMODIFIERUSERID = #{userCode}
    </update>

    <select id="buildSQLForSelectTargetForOverTime" resultType="string">
        SELECT
            TMG_F_IS_EXCLUDE_OVERTIME(
                #{targetUser},
                #{day},
                #{custID},
                #{compCode}
            ) as OVERTIME
        FROM DUAL
    </select>
</mapper>