<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgLiquidationDetailMapper">
    <select id="getLiquidationDetail"
            resultType="jp.smartcompany.job.modules.tmg.tmgliquidationperiod.vo.EditDispVo">
        SELECT
            TLD_DYYYYMM as yyyymm
            TLD_CSTANDARDTIME as standard
            TLD_CRESULTTIME as result
            (TLD_CSTANDARDTIME-TLD_CRESULTTIME) as adjust
        FROM
            TMG_LIQUIDATION_DETAIL
        WHERE
            TLD_CTLDID= #{tlpId}
            TLD_CCUSTOMERID =#{custID}
            TLD_CCOMPANYID =#{compCode}
            TLD_DYYYYMM >=#{startDate}
            TLD_DYYYYMM <![CDATA[<=]]> #{endDate}
    </select>
</mapper>