<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgPersonalPatternMapper">


    <select id="selectAvgWorkTime" resultType="int" >
        SELECT
            P.TPPA_NAVGWORKTIME
        FROM
            TMG_PERSONAL_PATTERN P
        WHERE
                P.TPPA_CCUSTOMERID     =   #{customerId}
        AND     P.TPPA_CCOMPANYID      =   #{companyId}
        AND     P.TPPA_CEMPLOYEEID     =   #{employeeId}
        AND     P.TPPA_DSTARTDATE      <![CDATA[<=]]>  #{yyyymmdd,jdbcType=DATE}
        AND     P.TPPA_DENDDATE        <![CDATA[>=]]>  #{yyyymmdd,jdbcType=DATE}

      </select>





    <select id="selectPersonalPatternRow" resultType="jp.smartcompany.job.modules.tmg.patternsetting.dto.TmgPersonalPatternRow" >
        SELECT
        TB.TPPA_CCUSTOMERID			AS CUSTOMERID
        ,	TB.TPPA_CCOMPANYID			AS COMPANYID
        ,	TB.TPPA_CEMPLOYEEID			AS EMPLOYEEID
        ,	TRUNC(#{yyyymmdd,jdbcType=DATE}, 'MONTH')	AS YYYYMM
        ,	#{yyyymmdd,jdbcType=DATE}					AS YYYYMMDD
        -- 休日フラグ
        ,	CASE	WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM1	THEN	TPPA_CHOLFLG1
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM2	THEN	TPPA_CHOLFLG2
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM3	THEN	TPPA_CHOLFLG3
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM4	THEN	TPPA_CHOLFLG4
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM5	THEN	TPPA_CHOLFLG5
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM6	THEN	TPPA_CHOLFLG6
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM7	THEN	TPPA_CHOLFLG7
        END							CHOLFLG
        --始業時刻
        ,	CASE	WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM1	THEN	TPPA_NOPEN1
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM2	THEN	TPPA_NOPEN2
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM3	THEN	TPPA_NOPEN3
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM4	THEN	TPPA_NOPEN4
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM5	THEN	TPPA_NOPEN5
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM6	THEN	TPPA_NOPEN6
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM7	THEN	TPPA_NOPEN7
        END							NOPEN
        --終業時刻
        ,	CASE	WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM1	THEN	TPPA_NCLOSE1
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM2	THEN	TPPA_NCLOSE2
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM3	THEN	TPPA_NCLOSE3
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM4	THEN	TPPA_NCLOSE4
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM5	THEN	TPPA_NCLOSE5
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM6	THEN	TPPA_NCLOSE6
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM7	THEN	TPPA_NCLOSE7
        END							NCLOSE
        --休憩開始時刻
        ,	CASE	WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM1	THEN	TPPA_NRESTOPEN1
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM2	THEN	TPPA_NRESTOPEN2
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM3	THEN	TPPA_NRESTOPEN3
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM4	THEN	TPPA_NRESTOPEN4
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM5	THEN	TPPA_NRESTOPEN5
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM6	THEN	TPPA_NRESTOPEN6
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM7	THEN	TPPA_NRESTOPEN7
        END							NRESTOPEN
        --休憩終了時刻
        ,	CASE	WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM1	THEN	TPPA_NRESTCLOSE1
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM2	THEN	TPPA_NRESTCLOSE2
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM3	THEN	TPPA_NRESTCLOSE3
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM4	THEN	TPPA_NRESTCLOSE4
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM5	THEN	TPPA_NRESTCLOSE5
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM6	THEN	TPPA_NRESTCLOSE6
        WHEN 	TB.PATTERN_NUM	=	TPPA_NKINMU_NUM7	THEN	TPPA_NRESTCLOSE7
        END							NRESTCLOSE
        FROM
        (	----------------------------------------------------------------------------------------------------
        SELECT
        R1.TPPA_CCUSTOMERID
        ,	R1.TPPA_CCOMPANYID
        ,	R1.TPPA_CEMPLOYEEID
        ,	R1.TPPA_NKINMU_NUM1
        ,	R1.TPPA_NOPEN1
        ,	R1.TPPA_NCLOSE1
        ,	R1.TPPA_NRESTOPEN1
        ,	R1.TPPA_NRESTCLOSE1
        ,	R1.TPPA_CHOLFLG1
        ,	R1.TPPA_NKINMU_NUM2
        ,	R1.TPPA_NOPEN2
        ,	R1.TPPA_NCLOSE2
        ,	R1.TPPA_NRESTOPEN2
        ,	R1.TPPA_NRESTCLOSE2
        ,	R1.TPPA_CHOLFLG2
        ,	R1.TPPA_NKINMU_NUM3
        ,	R1.TPPA_NOPEN3
        ,	R1.TPPA_NCLOSE3
        ,	R1.TPPA_NRESTOPEN3
        ,	R1.TPPA_NRESTCLOSE3
        ,	R1.TPPA_CHOLFLG3
        ,	R1.TPPA_NKINMU_NUM4
        ,	R1.TPPA_NOPEN4
        ,	R1.TPPA_NCLOSE4
        ,	R1.TPPA_NRESTOPEN4
        ,	R1.TPPA_NRESTCLOSE4
        ,	R1.TPPA_CHOLFLG4
        ,	R1.TPPA_NKINMU_NUM5
        ,	R1.TPPA_NOPEN5
        ,	R1.TPPA_NCLOSE5
        ,	R1.TPPA_NRESTOPEN5
        ,	R1.TPPA_NRESTCLOSE5
        ,	R1.TPPA_CHOLFLG5
        ,	R1.TPPA_NKINMU_NUM6
        ,	R1.TPPA_NOPEN6
        ,	R1.TPPA_NCLOSE6
        ,	R1.TPPA_NRESTOPEN6
        ,	R1.TPPA_NRESTCLOSE6
        ,	R1.TPPA_CHOLFLG6
        ,	R1.TPPA_NKINMU_NUM7
        ,	R1.TPPA_NOPEN7
        ,	R1.TPPA_NCLOSE7
        ,	R1.TPPA_NRESTOPEN7
        ,	R1.TPPA_NRESTCLOSE7
        ,	R1.TPPA_CHOLFLG7
        ,	TMG_F_GET_P_PATTERN_NUM
        (	TO_CHAR(#{yyyymmdd,jdbcType=DATE}, 'D')
        ,	R1.TPPA_CYOBI1
        ,	R1.TPPA_CYOBI2
        ,	R1.TPPA_CYOBI3
        ,	R1.TPPA_CYOBI4
        ,	R1.TPPA_CYOBI5
        ,	R1.TPPA_CYOBI6
        ,	R1.TPPA_CYOBI7
        ,	R1.TPPA_CCUSTOMERID
        ,	R1.TPPA_CCOMPANYID
        ,	Pd_YYYYMMDD
        )								AS	PATTERN_NUM
        FROM
        TMG_PERSONAL_PATTERN		R1
        WHERE
        R1.TPPA_CCUSTOMERID		=	#{customerId}		-- 顧客コード
        AND		R1.TPPA_CCOMPANYID		=	#{companyId}		-- 法人コード
        AND		R1.TPPA_CEMPLOYEEID		=	#{employeeId}		-- 職員番号
        AND		R1.TPPA_DSTARTDATE		<![CDATA[<=]]>	#{yyyymmdd,jdbcType=DATE}
        AND		R1.TPPA_DENDDATE		>=	#{yyyymmdd,jdbcType=DATE}
        ----------------------------------------------------------------------------------------------------
        ) TB
      </select>
</mapper>