<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgPatternMapper">


    <select id="selectPatternDetail" resultType="jp.smartcompany.job.modules.tmg.patternsetting.dto.TmgPatternDetailRow" >
        SELECT
        TPA_CCUSTOMERID,			--顧客コード
        TPA_CCOMPANYID,				--法人コード
        TPA_CSECTIONID,				--部局コード
        (	SELECT
        MO_CSECTIONNAME
        FROM
        MAST_ORGANISATION
        WHERE
        MO_CCUSTOMERID_CK_FK= TPA_CCUSTOMERID
        AND	MO_CCOMPANYID_CK_FK	= TPA_CCOMPANYID
        AND	MO_CSECTIONID_CK	= TPA_CSECTIONID
        AND	MO_CLANGUAGE		= 'ja'
        AND	MO_DSTART			<![CDATA[<=]]> #{statDate,jdbcType=DATE}
        AND	MO_DEND				>= #{statDate,jdbcType=DATE}
        ) AS TPA_CSECTIONNAME,		--部局名称
        (	SELECT
        MO_CSECTIONNICK
        FROM
        MAST_ORGANISATION
        WHERE
        MO_CCUSTOMERID_CK_FK= TPA_CCUSTOMERID
        AND	MO_CCOMPANYID_CK_FK	= TPA_CCOMPANYID
        AND	MO_CSECTIONID_CK	= TPA_CSECTIONID
        AND	MO_CLANGUAGE		= 'ja'
        AND	MO_DSTART			<![CDATA[<=]]> #{statDate,jdbcType=DATE}
        AND	MO_DEND				>= #{statDate,jdbcType=DATE}
        ) AS TPA_CSECTIONNICK,		--部局名称
        TPA_CGROUPID,				--グループコード
        (	SELECT
        TGR_CGROUPNAME
        FROM
        TMG_GROUP
        WHERE
        TGR_CCUSTOMERID		= TPA_CCUSTOMERID
        AND	TGR_CCOMPANYID		= TPA_CCOMPANYID
        AND	TGR_CSECTIONID		= TPA_CSECTIONID
        AND	TGR_CGROUPID		= TPA_CGROUPID
        AND	TGR_DSTARTDATE		= #{statDate,jdbcType=DATE}
        AND	TGR_DENDDATE		= #{statDate,jdbcType=DATE}
        ) AS TPA_CGROUPNAME,		--グループ名称
        TPA_DSTARTDATE,				--データ開始日
        TPA_DENDDATE,				--データ終了日
        TPA_CMODIFIERUSERID,		--更新者
        TPA_DMODIFIEDDATE,			--更新日
        TPA_CMODIFIERPROGRAMID,		--更新プログラムID
        TPA_CPATTERNID,				--勤務パターンID
        TPA_CPATTERNNAME,			--勤務パターン名称
        TPA_CDEFAULTFLG,			--デフォルトフラグ
        TPA_NOPEN,					--始業時刻
        -- ▼ 2010/01/27 Kakutani Mod[S] TMG_PATTERN_ROWの拡張（ISOL殿修正）に伴う修正。
        --			TPA_NCLOSE					--終業時刻
        TPA_NCLOSE,					--終業時刻
        TPA_C2CALDAYS,
        TPA_CNEXTPTN,
        TPA_NDATE_CHANGE_TIME
        -- ▲ 2010/01/27 Kakutani Mod[E] TMG_PATTERN_ROWの拡張（ISOL殿修正）に伴う修正。
        -- TMG_PATTERN_RESTからの休憩時間取得を切り分けたため、ここでは不要
        --TPR_NRESTOPEN,				--休憩開始時刻
        --TPR_NRESTCLOSE				--休憩終了時刻
        FROM
        TMG_PATTERN
        WHERE
        -- TMG_PATTERN
        TPA_CCUSTOMERID		= #{customerId}	/* 顧客コード */
        AND	TPA_CCOMPANYID		= #{companyId}	/* 法人コード */
        AND DECODE(
        #{sectionId},	NULL,	DECODE(
        #{patternId},	NULL,	TPA_CSECTIONID,
        1
        ),
        TPA_CSECTIONID
        ) = DECODE(
        #{sectionId},	NULL,	DECODE(
        #{sectionId},	NULL,	#{upperSectionId},
        1
        ),
        #{sectionId}
        )
        AND DECODE(
        #{sectionId},	NULL,	-- sGROUPID指定なし
        DECODE(
        #{patternId},	NULL,	TPA_CGROUPID,
        1
        ),
        -- sGROUPID指定あり
        TPA_CGROUPID
        ) = DECODE(
        #{groupId},	NULL,	-- sGROUPID指定なし
        DECODE(
        #{patternId},	NULL,	TPA_CSECTIONID || '|000000',
        1
        ),
        -- sGROUPID指定あり
        #{groupId}
        )
        AND DECODE(
        #{patternId},	NULL,	TPA_CDEFAULTFLG,
        TPA_CPATTERNID
        ) =  DECODE(
        #{patternId},	NULL,	'TMG_ONOFF|1',
        #{patternId}
        )
        AND	TPA_DSTARTDATE		<![CDATA[<=]]> #{statDate,jdbcType=DATE}
        AND	TPA_DENDDATE		>= #{statDate,jdbcType=DATE}
      </select>

    <select id="selectChangeTime" resultType="int" >
        SELECT
        R2.TPA_NDATE_CHANGE_TIME
        INTO
        WN_DATE_CHANGE_TIME
        FROM
        MAST_ORGANISATION   R1
        ,   TMG_PATTERN         R2
        WHERE
        R1.MO_CCUSTOMERID_CK_FK     =   #{customerId}
        AND     R1.MO_CCOMPANYID_CK_FK      =   #{companyId}
        AND     R1.MO_DSTART                <![CDATA[<=]]>  #{yyyymmdd,jdbcType=DATE}
        AND     R1.MO_DEND                  >=  #{yyyymmdd,jdbcType=DATE}
        AND     R1.MO_CPARENTID             IS NULL                         -- ルート組織の条件
        --
        AND     R2.TPA_CCUSTOMERID          =   R1.MO_CCUSTOMERID_CK_FK
        AND     R2.TPA_CCOMPANYID           =   R1.MO_CCOMPANYID_CK_FK
        AND     R2.TPA_CSECTIONID           =   R1.MO_CSECTIONID_CK
        AND     R2.TPA_DSTARTDATE           <![CDATA[<=]]>  #{yyyymmdd,jdbcType=DATE}
        AND     R2.TPA_DENDDATE             >=  #{yyyymmdd,jdbcType=DATE}
        AND     R2.TPA_CDEFAULTFLG          =   'TMG_ONOFF|1'               -- デフォルトフラグ
      </select>

    <select id="selectStandardWorkTime" resultType="java.lang.Integer">
        SELECT
            TMG_F_GET_TMG_PATTERN (#{customerId}, #{companyId}, NULL, NULL, NULL, #{yyyymmdd} ).NTIME
        FROM
            DUAL
    </select>
</mapper>