<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgWorkMoYearlistMapper">

    <select id="selectMoYearList" resultType="jp.smartcompany.job.modules.tmg.monthlyoutput.vo.TmgMoYearListVo">
        SELECT
            *
        FROM
            TABLE(TMG_SELECT_MO_YEARLIST_TABLE(#{cust},#{comp},
                                                #{secid},
                                                TRUNC(TO_DATE(#{dyyyymm}, 'YYYY/MM/DD')),
                                                #{lang},
                                                TRUNC(TO_DATE(#{psBaseDate}, 'YYYY/MM/DD'))))
        ;
    </select>
    <select id="selectMoYearListColumn" resultType="java.lang.Integer">
        SELECT
		    TMG_SELECT_MO_YEARLIST(#{cust},#{comp},#{secid},#{targetDate},#{introDate},#{lang},#{psBaseDate}).SALARY_FIX
        FROM
            DUAL
        ;
    </select>
</mapper>