<!--
   author: Dellen Shang
     <footer class="footer">Smart Public WorkManager Ver.1.0.0 Copyright© 株式会社日進サイエンティア</footer>
-->
<div th:fragment="header" class="header-w" xmlns:th="http://www.thymeleaf.org">
  <svg th:replace="layout/logos::svg_logos"></svg>
  <i-menu mode="horizontal" theme="light" class="header-wrap" @click.native="handleClickMenuOutSide">
    <link rel="stylesheet" :href="`${baseUrl}/static/css/pages/header.min.css`">
    <svg class="head-logo">
      <use xlink:href="#logo"></use>
    </svg>
    <!-- 注意这里是row-reverse，要反着方 -->
    <dropdown class="head-dropdown" trigger="hover" placement="bottom-start">
      <a>
        <avatar class="white-avatar" style="background-color: rgb(113, 112, 112)">{{ session.psSession.loginKanjiName.slice(0, 1) }}</avatar>
        <span style="position: relative;  top: 3px; font-size: 16px; font-weight: bold; margin-left: 5px; padding-right: 30px;">{{ session.psSession.loginKanjiName }}</span>
      </a>
      <dropdown-menu slot="list">
        <ul v-for="(item, i) of groupList" :key="i">
          <div class="tc company">{{item[0].systemName}}</div>
          <div class="group-info-wrap">
            <li class="group-info" v-for="(t, j) of item" :key="j">{{ t.groupName }}</li>
          </div>
        </ul>
        <dropdown-item style="border-bottom: 1px solid #d2d2d2;">パスワード変更</dropdown-item>
        <dropdown-item @click.native="logout">ログアウト</dropdown-item>
      </dropdown-menu>
    </dropdown>

    <dropdown class="head-dropdown" trigger="hover" style="margin-right: 5px;" placement="bottom-start">
      <a>
        <avatar class="white-avatar" style="background-color: var(--theme-mark)">テーマ</avatar>
      </a>
      <dropdown-menu slot="list">
        <dropdown-item v-for="item of themeList" :value="item" :name="item" :key="item" style="border-bottom: 1px solid #d2d2d2;"
          @click.native="Changetheme(item)">
          {{ item }}
        </dropdown-item>
      </dropdown-menu>
    </dropdown>
  </i-menu>
  <footer class="footer">Smart Public WorkManager Ver.1.0.0 Copyright© 株式会社日進サイエンティア</footer>
  <script th:inline="javascript">
    const HEADER = new Vue({
      el: '.header-w',
      data() {
        return {
          baseUrl: SIDER._data.baseUrl,
          session: [[${ session }]],
          themeList: ['デフォルト', 'クラシック', 'ナイト']
        }
      },
      computed: {
        groupList() {
          return Object.keys(this.session.psSession.loginGroups).map(e=> this.session.psSession.loginGroups[e])
        }
      },
      methods: {
        logout() {
          location.href = '/logout'
        },
        goProfile() {
          // if (this.$route.path === '/sys/user/profile') {
          //   return
          // }
          // this.$router.push('/sys/user/profile')
        },
        // 点击顶部边栏时也关闭sider
        handleClickMenuOutSide() {
          SIDER._data.showSider = false
        }
      },
    })
  </script>
</div>