<!--
   author: Dellen Shang
     <footer class="footer">Smart Public WorkManager Ver.1.0.0 Copyright© 株式会社日進サイエンティア</footer>
-->
<div th:fragment="header" class="header-w" xmlns:th="http://www.thymeleaf.org">
<i-menu mode="horizontal" theme="light" class="header-wrap" @click.native="handleClickMenuOutSide">
  <link rel="stylesheet" :href="`${baseUrl}/static/css/pages/header.min.css`">
  <figure class="head-logo" th:style="${'position: relative;width: 179px;left: 30px;top: 12px;height: 50px;background-repeat: no-repeat;background-image: url('+ #httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/static/svg/Logo.svg)'}"></figure>
  <dropdown trigger="hover" class="layout-Dropdown">
    <a>
      <avatar style="background-color: #87d068;margin-left:10px;">USER</avatar>
    </a>
    <dropdown-menu slot="list">
      <dropdown-item @click.native="goProfile">
        user
      </dropdown-item>
      <dropdown-item @click.native="logout">ログアウト</dropdown-item>
    </dropdown-menu>
  </dropdown>
</i-menu>
<footer class="footer">Smart Public WorkManager Ver.1.0.0 Copyright© 株式会社日進サイエンティア</footer>
<script th:inline="javascript">
  const HEADER = new Vue({
    el: '.header-w',
    data() {
      return {
        baseUrl: SIDER._data.baseUrl,
        logoStyle:{
          position:'relative',
          width:'179px',
          left:'30px',
          top:'12px',
          height:'50px',
          'background-repeat':'no-repeat',
          'background-image':`url('${SIDER._data.baseUrl}/static/svg/Logo.svg');`,

        }
      }
    },
    mounted() {
    },
    methods: {
      logout() {
        location.href='/logout'
      },
      goProfile() {
        // if (this.$route.path === '/sys/user/profile') {
        //   return
        // }
        // this.$router.push('/sys/user/profile')
      },
      // 点击顶部边栏时也关闭sider
      handleClickMenuOutSide() {
        SIDER._data.showSider = false
      }
    },
  })
</script>
</div>