<!--
   author: Dellen Shang
-->
<div th:fragment="header" class="header-w" xmlns:th="http://www.thymeleaf.org">
  <svg th:replace="layout/logos::svg_logos"></svg>
  <svg th:replace="layout/icons::svg_icons"></svg>
  <i-menu mode="horizontal" theme="light" class="header-wrap">
    <link rel="stylesheet" :href="`${baseUrl}/static/css/pages/header.min.css`">
    <svg class="head-logo">
      <use xlink:href="#logo"></use>
    </svg>
    <!-- 注意这里是row-reverse，要反着方 -->

    <button :class="navIcon ? 'active menu' : 'menu'" @click="navIcon = !navIcon">
    <svg viewBox="0 0 64 48">
        <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
        <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
        <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
    </svg>
</button>
  <div :class="navIcon ? 'active mobile-nav' : 'mobile-nav'">
    <ul style="font-size: 24px; font-weight: 800; text-align: right;color: white;margin-top: 55px;" v-show="btnAnimationHideCompo">
      <li :class="curMenu === 'TmgResults' ? 'active menu-li' : 'menu-li'"  @click="()=> location.href = `${BASE_URL}/tmg_inp/TmgResults?moduleIndex=2&psSite=TMG_INP&psApp=TmgResults`">
        就業登録
        <svg class="menu-li-logo">
          <use xlink:href="#WorkRegistration01"></use>
        </svg>
      </li>
      <li :class="curMenu === 'TmgNotification' ? 'active menu-li' : 'menu-li'" @click="()=> location.href = `${BASE_URL}/tmg_inp/TmgNotification?moduleIndex=3&psSite=TMG_INP&psApp=TmgNotification`">
        休暇休業申請
        <svg class="menu-li-logo">
          <use xlink:href="#VacationApplication08"></use>
        </svg>
      </li>
      <li :class="curMenu === 'TmgScheduleCheck' ? 'active menu-li' : 'menu-li'" @click="()=> location.href = `${BASE_URL}/tmg_inp/TmgScheduleCheck?moduleIndex=5&psSite=TMG_INP&psApp=TmgScheduleCheck`">
        予定確認
        <svg class="menu-li-logo">
          <use xlink:href="#ScheduleConfirmation09"></use>
        </svg>
      </li>
      <li class="menu-li" style="margin-top: 80px;">
        <i-button class="tr" type="primary" size="large" @click.native="alterPasswordModal = true" ghost long>パスワード変更</i-button>
      </li>
      <li class="menu-li" style="margin-top: -5px;">
        <i-button class="tr" type="primary" size="large" @click="clock('ACT_EXEC_OPEN')" :loading="clocking" :disabled="clockDisable"  ghost long>{{ clockBtn.clock }}</i-button>
      </li>
      <li class="menu-li" style="margin-top: -5px;">
        <i-button class="tr" type="primary" size="large" @click="clock('ACT_EXEC_CLOSE')" :loading="exiting" :disabled="clockDisable"  ghost long>{{ clockBtn.exit }}</i-button>
      </li>
      <li class="menu-li" style="margin-top: -5px;">
        <i-button class="tr" type="primary" size="large"  @click="logout" ghost long>ログアウト</i-button>
      </li>
    </ul>
    <dropdown class="head-dropdown" style="position: absolute; top: 0; left: 0;" trigger="click" placement="bottom-start">
      <a>
        <avatar class="white-avatar" style="background-color: var(--table-head)">テーマ</avatar>
      </a>
      <dropdown-menu slot="list">
        <dropdown-item v-for="(item, i) of themeList" :value="item.value" :name="item.name" :selected="curTheme === item.value" :key="i" style="border-bottom: 1px solid #d2d2d2;"
          @click.native="Changetheme(item.value, HEADER)">
          {{ item.name }}
        </dropdown-item>
      </dropdown-menu>
    </dropdown>
  </div>
  </i-menu>
  <Modal title="パスワード変更" class="tc" v-model="alterPasswordModal" :mask-closable="false">
    <div class="tl" style="margin: 10px 10px 0;">
      <p class="mb5">現在のパスワード</p>
      <i-input class="mb2" v-model="password.oldPassword" placeholder="パスワード" type="password" password
        autocomplete="new-password"></i-input>

      <p class="mb5 mt5">変更後のパスワード</p>
      <i-input class="mb2" v-model="password.newPassword" placeholder="パスワード" type="password" password
        autocomplete="new-password"></i-input>

      <p class="mb5 mt5">変更後のパスワード(確認用)</p>
      <i-input class="mb2" v-model="password.repeatPassword" placeholder="パスワード" type="password" password
        autocomplete="new-password"></i-input>
    </div>
    <div slot="footer">
      <i-button type="text" @click="cancelUpdatePassword">キャンセル</i-button>
      <i-button icon="md-create" type="primary" @click="updatePassword" :loading="passwordLoading">更新</i-button>
    </div>
  </Modal>
  <footer class="footer">Smart Public WorkManager Ver.1.0.0 Copyright© 株式会社日進サイエンティア</footer>
  <script th:inline="javascript">
    const HEADER = new Vue({
      el: '.header-w',
      data() {
        return {
          baseUrl: BASE_URL,
          session: [[${ session }]],
          themeList: [
            { name: 'デフォルト', value: 'default'},
            { name: 'クラシック', value: 'classical'},
            { name: 'ナイト', value: 'dark'}
          ],
          curTheme: localStorage.getItem('APP_THEME') || 'default',
          btnAnimationHideCompo: false,
          btnAnimationHideCompoTimer: '',
          query:{
            psSite: Utils.getUrlParam(location.href, 'psSite') || 'TMG_INP',
            psApp: Utils.getUrlParam(location.href, 'psApp') || 'TmgResults'
          },
          query_clockInfo: {
            pAction: '',
            custId: [[${ session.psSession.loginCustomer}]],
            compCode: [[${ session.psSession.loginCompany}]],
            language: [[${ session.psSession.language}]],
            employeId: [[${ session.psSession.loginEmployee }]]
          },
          password:{},
          navIcon:false,
          curMenu: Utils.getUrlParam(location.href, 'psApp') || 'TmgResults' ,
          passwordLoading: false,
          alterPasswordModal: false,
          loading: false,
          clocking: false,
          exiting: false,
          clockDisable: false,
          clockBtn: {
            clock: '出勤',
            exit: '退勤'
          },
          clockData: {
            startTime: '',
            endTime: ''
          }
        }
      },
      computed: {
        groupList() {
          return Object.keys(this.session.psSession.loginGroups).map(e=> this.session.psSession.loginGroups[e])
        }
      },
      mounted() {
        this.password.username = this.session.psSession.loginUser
        this.getClockInfo()
      },
      watch: {
        navIcon(newValue) {
          if(this.btnAnimationHideCompoTimer) clearTimeout(this.btnAnimationHideCompoTimer)
          if(newValue) this.btnAnimationHideCompo = true
          else this.btnAnimationHideCompoTimer = setTimeout(()=> this.btnAnimationHideCompo = false, 500)
        }
      },
      methods: {
        logout: Debounce(async function () {
          try {
            await this.http.post('/logout', {})
            location.href = '/login'
          } catch (error) {
          }
        }),
        updatePassword: Debounce(async function () {
          if (!this.password.oldPassword) {
            return this.$Notice.warning({ title: '注意', desc: '現在のパスワードを入力してください。', duration: 6.5 })
          }
          if (!this.password.newPassword) {
            return this.$Notice.warning({ title: '注意', desc: '変更後のパスワードを入力してください。', duration: 6.5 })
          }
          if (!this.password.repeatPassword) {
            return this.$Notice.warning({ title: '注意', desc: '変更後のパスワード(確認用)を入力してください。', duration: 6.5 })
          }
          if (this.password.newPassword !== this.password.repeatPassword) {
            return this.$Notice.warning({ title: '注意', desc: '新パスワード(確認用)には、新パスワードと同じパスワードを入力してください。', duration: 6.5 })
          }
          this.passwordLoading = true
          try {
            await this.http.post('/changePassword', this.password)
            this.$Message.success('更新完了')
            setTimeout(() => {
              this.http.post('/logout', {}).then(function() {
                location.href = '/login'
              })
            }, 1000);
          } catch (error) {
            this.passwordLoading = false
            return this.$Modal.error({ title: '注意', content: error })
          }

        }),
        cancelUpdatePassword() {
           this.alterPasswordModal = false
           this.password = {
             username:this.session.psSession.loginUser
           }
        },
        //打刻
        async clock(pAction) {
          this.query_clockInfo.pAction = pAction
          if (pAction) {
            if (pAction === "ACT_EXEC_OPEN") {
              this.clocking = true
            } else {
              this.exiting = true
            }
            this.clockDisable = true
            try {
              const {data} = await this.http.postForm('sys/timePunch/stamping', this.query_clockInfo)
              //console.log(data)
              if (data) {
                //チェック合格
                if (data.resultCode === "0") {
                  //打刻成功(0)
                  if (pAction === "ACT_EXEC_OPEN") {
                    this.clockData.startTime = data.clockTime
                    this.clockBtn.clock = '出勤(' + data.clockTime + ')'
                    //this.$Notice.info({title: '打刻成功', desc: data.resultMsg})
                    this.$Message.success(data.resultMsg);
                  } else {
                    this.clockData.endTime = data.clockTime
                    this.clockBtn.exit = '退勤(' + data.clockTime + ')'
                    //this.$Notice.info({title: '打刻成功', desc: data.resultMsg})
                    this.$Message.success(data.resultMsg);
                  }
                } else {
                  //打刻失敗(10,20,30)
                  //this.$Notice.error({title: '打刻エラー', desc: data.resultMsg})
                  this.$Message.error(data.resultMsg);
                }
              } else {
                //チェック不合格
                //this.$Notice.warning({title: '打刻エラー', desc: "内部エラーが発生しました"})
                this.$Message.error('内部エラーが発生しました');
              }
            } catch (error) {
              this.clocking = false
              this.exiting = false
              this.clockDisable = false
            }
          } else {
            //this.$Notice.warning({title: '打刻エラー', desc: "パラメータが不正です"})
            this.$Message.error("パラメータが不正です");
          }
          this.clocking = false
          this.exiting = false
          this.clockDisable = false
        },
        //打刻情報を取得する
        async getClockInfo() {
          const {data} = await this.http.postForm('sys/timePunch/clockInfo', this.query_clockInfo)
          if (data) {
            var startTime = data.nopen
            var endTime = data.nclose
            if (startTime) {
              this.clockData.startTime = startTime
              this.clockBtn.clock = '出勤(' + startTime + ')'
            }
            if (endTime) {
              this.clockData.endTime = endTime
              this.clockBtn.exit = '退勤(' + endTime + ')'
            }
          } else {
            //まだ、打刻していない 何もしない
          }
        }
      }
    })
  </script>
</div>