<!--
   author: Xiao Wenpeng
   author: Dellen Shang
-->
<th:block th:fragment="common_script" xmlns:th="http://www.thymeleaf.org" th:with="baseUrl = ${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath()}">
  <!--默认资源 Start-->
  <!--支持ES6基本语法-->
  <script th:src="${baseUrl + '/static/libs/browser.min.js'}"></script>
  <!--支持ES6余下语法，如Promise-->
  <script th:src="${baseUrl + '/static/libs/browser-polyfill.min.js' }"></script>
  <!--全局引入baseURL-->
  <script>
    const {protocol,hostname,port,pathname} = location
    let BASE_URL
    if (parseInt(port) !== 80) {
      BASE_URL = protocol + '//' + hostname + ':' + port
    } else {
      BASE_URL = protocol + '//' + hostname
    }
  </script>
  <script th:src="${baseUrl + '/static/libs/vue-2.6.11.min.js'}"></script>
  <script th:src="${baseUrl + '/static/js/theme.js?t='+ new java.util.Date().getTime()}"></script>
  <script th:src="${baseUrl + '/static/libs/iview.min.js'}"></script>
  <script th:src="${baseUrl + '/static/libs/ja-JP.js?t='+ new java.util.Date().getTime()}"></script>
  <script th:src="${baseUrl + '/static/libs/axios-0.19.2.min.js'}"></script>
  <script th:src="${baseUrl + '/static/libs/stringify.js'}"></script>
  <script th:src="${baseUrl + '/static/js/http.js?t='+ new java.util.Date().getTime()}"></script>
  <script th:src="${baseUrl + '/static/js/filter.js?t='+ new java.util.Date().getTime()}"></script>
  <script th:src="${baseUrl + '/static/js/utils.js?t='+ new java.util.Date().getTime()}"></script>
  <script th:src="${baseUrl + '/static/js/live2d/device.min.js'}"></script>
  <script th:src="${baseUrl + '/static/js/live2d/script.js'}"></script>
  <!--默认资源 End-->
  <th:block th:if="jsPaths!=null">
    <script th:each="jsPath:${#strings.setSplit(jsPaths,',')}" th:src="${baseUrl + '/static'+jsPath+ '?t=' + new java.util.Date().getTime()}"></script>
  </th:block>
</th:block>