<!--
   author: Xiao Wenpeng
   author: Dellen Shang
-->
<th:block th:fragment="common_script" xmlns:th="http://www.thymeleaf.org"
          th:with="
             baseUrl = ${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath()},
             now =  ${new java.util.Date().getTime()}
          ">
  <!--默认资源 Start-->
  <!--支持ES6基本语法-->
  <script th:src="${baseUrl + '/static/libs/browser.min.js'}"></script>
  <!--支持ES6余下语法，如Promise-->
  <script th:src="${baseUrl + '/static/libs/browser-polyfill.min.js' }"></script>
  <!--全局引入baseURL-->
  <script th:inline="javascript">
    var SYS_DATE = [[${ session.TmgReferListCurrentDate }]] || new Date()
    var protocol = location.protocol
    var hostname = location.hostname
    var pathname = location.pathname
    var port = location.port
    var BASE_URL
    var BASE_PATH = '/'
    if (parseInt(port) !== 80) {
      BASE_URL = protocol + '//' + hostname + ':' + port
    } else {
      BASE_URL = protocol + '//' + hostname
    }
    if (pathname !== '/') {
      var urlStr = BASE_URL + pathname
      if (urlStr.indexOf('?')>-1) {
        urlStr = urlStr.split('?')[0]
      }
      // console.log(urlStr)
      var urlArr = urlStr.split('/')
      var url
      // console.log(urlArr)
      var secondPathName = urlArr[4]
      var isWhiteUrl = secondPathName === 'login' || secondPathName === '404' || secondPathName === '500' || secondPathName === '403'
      if (urlArr.length>5 || urlArr[4] === '' || isWhiteUrl) {
        BASE_PATH = '/' + urlArr[3]
        url = urlArr[2] + BASE_PATH
      } else {
        url = urlArr[2]
      }
      BASE_URL = protocol + '//' + url
    }
    // console.log(BASE_URL)
  </script>
  <script th:src="${baseUrl + '/static/libs/vue-2.6.11.min.js'}"></script>
  <script th:src="${baseUrl + '/static/js/theme.js?t='+ now}"></script>
  <script th:src="${baseUrl + '/static/libs/iview.min.js?t='+ now}"></script>
  <script th:src="${baseUrl + '/static/libs/ja-JP.js?t='+ now}"></script>
  <script th:src="${baseUrl + '/static/libs/axios-0.19.2.min.js'}"></script>
  <script th:src="${baseUrl + '/static/libs/stringify.js'}"></script>
  <script th:src="${baseUrl + '/static/js/http.js?t='+ now}"></script>
  <script th:src="${baseUrl + '/static/js/filter.js?t='+ now}"></script>
  <script th:src="${baseUrl + '/static/js/utils.js?t='+ now}"></script>
  <script th:src="${baseUrl + '/static/js/mixins.js?t='+ now}"></script>
  <!--默认资源 End-->
  <th:block th:if="jsPaths!=null">
    <script th:each="jsPath:${#strings.setSplit(jsPaths,',')}" th:src="${baseUrl + '/static'+jsPath+ '?t=' + now}"></script>
  </th:block>
</th:block>