<div th:fragment="secondNavs" xmlns:th="http://www.thymeleaf.org">
    <th:block th:with="
                     baseUrl = ${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort() }">
        <ul>
            <li th:each="nav,navStat:${secondNavs}">
                <button th:attr="data-url=${baseUrl+'/'+nav.url},data-module-index=${navStat.index+1},data-menu-id=${nav.menuId}" onclick="switchFrame(this)">[[${nav.jaName}]]</button>
            </li>
        </ul>
    </th:block>
    <script>
        function switchFrame(e) {
            var url = e.dataset.url
            var menuId = e.dataset.menuId
            var moduleIndex = e.dataset.moduleIndex
            document.getElementById('moduleFrame').src = url+'?menuId='+menuId+'&moduleIndex='+moduleIndex
        }
    </script>
</div>
