<nav th:fragment="sider" class="navbar-wrap" xmlns:th="http://www.thymeleaf.org" style="margin-top: 51px;">
    <link rel="stylesheet" :href="`${baseUrl}/static/css/pages/sider.min.css`">
    <svg th:replace="layout/icons::svg_icons"></svg>
    <ul class="navbar-nav">
        <!-- 最左侧的图标列，增强交互与一级菜单设有相同事件 -->
        <li class="nav-item" v-for="(item,i) of topNavs" :class="curMenu === item.pageId ? 'actived-menu' : ''"
            :key="item.pageId" @click="handleMenuGroupChange(item)">
            <svg class="cursor i-svg" aria-hidden="true">
                <use :xlink:href="`#${item.icon || 'AccessLog41'}`"></use>
            </svg>
        </li>
        <li class="nav-item"></li>
    </ul>
    <!-- 以下分别为以及菜单和二级菜单 -->
    <i-menu theme="light" :active-name="curPageId" :class="showSider ? 'sys-menu show-sider' : 'sys-menu'" style="width:398px">
        <menu-group :title="e.jaName" v-for="e of topNavs" :key="e.pageId"　:class="curMenu === e.pageId ? 'actived-menu' : ''" >
            <div style="overflow-x: hidden">
                <div v-show="curMenu === e.pageId"
                    style="position:relative;height:calc(100vh - 51px);overflow-y:scroll;left: 17px;margin-left: 2px;padding-bottom: 60px;">
                    <menu-item v-for="(t, i) of e.secondMenuList" :key="t.pageId" :name="t.siteId + t.menuIndex" @click.native="handleSubMenuClick(t, i)">
                        <div>
                            <svg class="i-svg" aria-hidden="true" style="width:50px;height:50px;margin-top:12px;position: relative;top:-3px">
                                <use :xlink:href="`#${t.icon || 'FiveDaysPaid28'}`"></use>
                            </svg>
                        </div>
                        <p class="p">{{ t.jaName }}</p>
                    </menu-item>
                </div>
            </div>
        </menu-group>
    </i-menu>
    <!-- clickoutside关闭菜单 -->
    <div style="position: fixed;right: 0;width: calc(100vw - 458px);height: 100vh;" @click="handleClickMenuOutSide" v-show="showSider"></div>
    <script th:inline="javascript">
        const SIDER = new Vue({
            el: '.navbar-wrap',
            data() {
                return {
                    topNavs: [[${topNavs}]],
                    baseUrl: [[${ #httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort() + #request.getContextPath() }]],
                    curPageId: Utils.getUrlParam(location.href, 'psSite') + Utils.getUrlParam(location.href, 'moduleIndex'),
                    curMenu: Utils.getUrlParam(location.href, 'psSite'),
                    showSider: false,
                    _forDoubleclickSiderIconCloseSider:'',
                    siteId: Utils.getUrlParam(location.href, 'psSite')
                }
            },
            watch: {
                showSider(newValue) {
                    // clickoutside关闭菜单时重置高亮的菜单大分类
                    if(!newValue) {
                        this.curMenu = Utils.getUrlParam(location.href, 'psSite')
                    }
                }
            },
            methods: {
                handleMenuGroupChange(item) {
                    if (item.pageId === this._forDoubleclickSiderIconCloseSider) this.showSider = !this.showSider
                    else this.showSider = true
                    this.siteId = item.pageId
                    this._forDoubleclickSiderIconCloseSider = item.pageId
                    this.curMenu = item.pageId
                },
                handleSubMenuClick(e, i) {
                    this.showSider = false
                    location.href = `${this.baseUrl}${e.url}?moduleIndex=${i + 1}&psSite=${this.siteId}&psApp=${e.pageId}&t=${Date.now()}`
                },
                handleClickMenuOutSide() {
                    this.showSider = false
                }
            }
        })
    </script>
</nav>