<nav th:fragment="sider" class="navbar-wrap" @mouseenter.stop="handleNavHover()" @mouseleave.stop="handleNavLeave()"
    xmlns:th="http://www.thymeleaf.org" style="margin-top: 51px;">
    <link rel="stylesheet" :href="`${baseUrl}/static/css/pages/sider.min.css`">
    <svg th:replace="layout/icons::svg_icons"></svg>
    <ul class="navbar-nav">
        <li class="nav-item" v-for="item of topNavs" :class="curMenu === item.menu.menuId ? 'actived-menu' : ''"
            :key="item.menu.menuId" @click="handleMenuGroupChange(item.menu.menuId,item.menu.pageId)">
            <svg class="cursor i-svg" aria-hidden="true"
                :style="{fill: curMenu === item.menuId ? 'rgb(45, 140, 240)' : 'white'}">
                <use :xlink:href="`#${item.icon || 'cat'}`"></use>
            </svg>
        </li>
        <li class="nav-item">
            <svg class="i-svg" aria-hidden="true">
                <use xlink:href="#dog"></use>
            </svg>
        </li>
    </ul>
    <i-menu theme="light" active-name="1" :class="showSider ? 'sys-menu show-sider' : 'sys-menu'" style="width:562px">
        <menu-group :title="e.menu.jaName" v-for="e of topNavs" :key="e.menu.menuId"
            :class="curMenu === e.menu.menuId ? 'actived-menu' : ''"
            @click.native="handleMenuGroupChange(e.menu.menuId)">
            <div v-show="curMenu === e.menu.menuId">
                <menu-item v-for="(t, i) of e.secondMenuList" :key="t.menuId" :name="t.menuId"
                    @click.native="handleSubMenuClick(t, i)">
                    <div>
                        <svg class="i-svg" aria-hidden="true"
                            style="width:50px;height:50px;fill: rgb(48,118,242);margin-top:12px">
                            <use :xlink:href="`#${t.icon || 'cat'}`"></use>
                        </svg>
                    </div>
                    <p class="p">{{ t.jaName }}</p>
                </menu-item>
            </div>
        </menu-group>
    </i-menu>
    <div th:replace="layout/script::common_script"></div>
    <script th:inline="javascript">
        const SIDER = new Vue({
            el: '.navbar-wrap',
            data() {
                return {
                    topNavs: [[${ #httpServletRequest.getAttribute('topNavs') }]],
                    baseUrl: [[${ #httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort() + #request.getContextPath() }]],
                    curMenu: 1000,
                    toUrl: '',
                    showSider: false,
                    siteId: ''
                }
            },
            mounted() {
                this.siteId = this.topNavs[0].menu.pageId
            },
            methods: {
                handleMenuGroupChange(menuId,pageId) {
                    this.siteId = pageId
                    this.curMenu = menuId
                },
                handleSubMenuClick(e, i) {
                    this.toUrl = `${this.baseUrl}/${e.url}?menuId=${e.menuId}&moduleIndex=${i + 1}&psSite=${this.siteId}`
                    this.showSider = false
                    this.switchFrame()
                },
                handleNavHover() {
                    this.showSider = true
                },
                handleNavLeave() {
                    this.showSider = false
                },
                switchFrame(e) {
                    document.getElementById('moduleFrame').src = this.toUrl
                }
            },
        })
    </script>
</nav>