<div th:fragment="topNavs" xmlns:th="http://www.thymeleaf.org" style="display:flex;">
    <th:block th:with="
                     topNavs = ${#httpServletRequest.getAttribute('topNavs')},
                     baseUrl = ${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath()}">
        <ul>
            <li>
                <button th:attr="data-url='/sys/dashboard',data-module-index=0,data-menu-id=0" onclick="switchFrame(this)">首页</button>
            </li>
            <li th:each="nav,navStat:${topNavs}">
                <p>[[${nav.menu.jaName}]]</p>
                <ul th:if="${!#lists.isEmpty(nav.secondMenuList)}">
                    <li th:each="menu,menuStat:${nav.secondMenuList}" >
                        <button th:attr="data-url=${baseUrl+'/'+menu.url},data-module-index=${menuStat.index+1},data-menu-id=${menu.menuId}" onclick="switchFrame(this)">[[${menu.jaName}]]</button>
                    </li>
                </ul>
            </li>
        </ul>
        <script th:inline="javascript">
            function switchFrame(e) {
                var url = e.dataset.url
                var menuId = e.dataset.menuId
                var moduleIndex = e.dataset.moduleIndex
                document.getElementById('moduleFrame').src = url+'?menuId='+menuId+'&moduleIndex='+moduleIndex
            }
            var jsNavs = [[${#httpServletRequest.getAttribute("jsNavs")}]]
        </script>
        <iframe id="moduleFrame" th:src="@{${baseUrl+'/sys/dashboard'}}" style="flex:1;border-width:0"></iframe>
    </th:block>
</div>