body {
  background: rgb(247, 247, 247);
}
.left-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
  height: 100vh;
  background: var(--login-left-part-bg);
  .top-logo {
    height: 130px;
    width: 130px;
    background-repeat: no-repeat;
    margin: 0 auto 5px;
  }
  .btm-logo{
    height: 130px;
    width: 360px;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}
.right-part {
  height: 100vh;
  min-height: 600px;
  background: var(--login-right-part-bg)
}
.ivu-input-suffix i {
  font-size: 20px;
  line-height: 48px;
}
.login {
  max-width: 1920px;
  min-width: 800px;
  height: 100vh;
  margin: 0 auto;
  .hero-warp{
    height: 90vh;
    min-width: 600px;
    min-height: 470px;
    background-repeat: no-repeat;
    margin-left: 60px;
  }
  .login-warp {
    width: 520px;
    margin: 15% auto 0;
    transform: scale(0.8);
    overflow: hidden;
    background: var(--login-panel-bg);
    border-radius: 20px;
    @media (min-height: 800px) {
      transform: scale(0.9);
    }
    @media (max-height: 700px) {
      margin-top: 10%;
    }
    .title {
      padding: 20px 34px 10px;
      border-bottom: 1px solid var(--login-title-border-b);
      .logo-warp {
        width: 360px;
        height: 51px;
        background-repeat: no-repeat;
        background-size: 91%;
      }
    }
    .login-content {
      flex-direction: column;
      justify-content: space-around;
      display: flex;
      padding: 20px 26px;
      height: 400px;
      .login-label {
        display: inline-block;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        color: var(--login-title-label);
        background: transparent;
      }
    }
  }
  .login-time {
    position: absolute;
    right: 13px;
    top: 74px;
    font-size: 16px;
    color:  var(--white);
    background: transparent;
  }
  .ivu-input-prefix {
    padding-left: 25px;
    i {
      font-size: 30px;
      line-height: 50px;
    }
  }
  .ivu-input {
    height: 50px;
    padding-left: 73px;
    color: var(--grey);
    border-color: var(--input-border);
    background-color: var(--input-bg);
  }
}