<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.HistDesignationMapper">

    <select id="selectSecGroupId" resultType="jp.smartcompany.job.modules.tmg.patternsetting.dto.SectionGroupId">
        SELECT
        HD_CSECTIONID_FK                                AS  SECTIONID
        ,   coalesce(TGRM_CGROUPID, HD_CSECTIONID_FK||'|000000') AS  GROUPID
        INTO
        WS_SECTIONID
        ,   WS_GROUPID
        FROM
        HIST_DESIGNATION                    R1
        ,   TMG_GROUP_MEMBER                    R2
        WHERE
        R1.HD_CCUSTOMERID_CK            =   #{customerId}
        AND     R1.HD_CCOMPANYID_CK             =   #{companyId}
        AND     R1.HD_CEMPLOYEEID_CK            =   #{employeeId}
        AND     R1.HD_DSTARTDATE_CK             <![CDATA[<=]]>  #{yyyymmdd,jdbcType=DATE}
        AND     R1.HD_DENDDATE                  >=  #{yyyymmdd,jdbcType=DATE}
        AND     R1.HD_CIFKEYORADDITIONALROLE    =   '0'
        AND     R2.TGRM_CCUSTOMERID(+)          =   R1.HD_CCUSTOMERID_CK
        AND     R2.TGRM_CCOMPANYID(+)           =   R1.HD_CCOMPANYID_CK
        AND     R2.TGRM_CEMPLOYEEID(+)          =   R1.HD_CEMPLOYEEID_CK
        AND     R2.TGRM_CSECTIONID(+)           =   R1.HD_CSECTIONID_FK
        AND     R2.TGRM_DSTARTDATE(+)           <![CDATA[<=]]>  #{yyyymmdd,jdbcType=DATE}
        AND     R2.TGRM_DENDDATE(+)             >=  #{yyyymmdd,jdbcType=DATE}
        ;
    </select>

    <select id="selectEvaluator" resultType="jp.smartcompany.job.modules.core.pojo.bo.EvaluatorBO" statementType="STATEMENT">
        SELECT
        HD_CCUSTOMERID_CK AS customerCode, -- 顧客コード
        HD_CCOMPANYID_CK AS companyCode, -- 法人コード
        MAC_CLAYEREDCOMPANYID AS companyHierarchy, -- 法人内部階層コード
        MAC_NSEQ AS companyOrder, -- 法人並び順
        PSMASTER.FUNC_GET_COMP_NAME(MAC_ID, 'ja') AS companyName, -- 法人名称
        HD_CUSERID AS userid, -- ユーザID
        HD_CEMPLOYEEID_CK AS employee, -- 社員番号
        PSMASTER.FUNC_GET_EMP_NAME(ME_ID, 'ja') AS name, -- 氏名
        ME_CKANANAME AS nameKana, -- 氏名カナ
        HD_CSECTIONID_FK AS section, -- 組織コード
        MO_CLAYEREDSECTIONID AS sectionHierarchy, -- 組織内部階層コード
        MO_NSEQ AS sectionOrder, -- 組織並び順
        PSMASTER.FUNC_GET_SECTION_NAME(MO_ID, 'ja') AS sectionName, -- 組織名称
        HD_CPOSTID_FK AS postCode, -- 役職コード
        MAP_NWEIGHTAGE AS postRank, -- 役職順位
        PSMASTER.FUNC_GET_POST_NAME(MAP_ID, 'ja') AS postName, -- 役職名称
        HD_CIFKEYORADDITIONALROLE AS attachRole, -- 本務兼務区分コード
        HD_DSTARTDATE_CK AS personnelChangesBigin, -- 異動暦開始日取得
        '1' AS judgDiv, -- 判定区分
        ${evaluation} AS evalLevel, -- 評価者レベル
        MRD_CCONTENTTYPE AS reportLine, -- レポートラインタイプ
        HD_CBOSSORNOT AS bossOrNot -- 所属長フラグ
        FROM
        MAST_RELATIONSHIP,
        MAST_RELATIONSHIPDEFINITIONS,
        HIST_DESIGNATION,
        MAST_EMPLOYEES,
        MAST_COMPANY,
        MAST_ORGANISATION,
        MAST_POST
        WHERE

        -- MAST_RELATIONSHIP
        MR_CDOMAINID_FK = '01' -- 従業員ドメイン
        AND MR_CSYSTEMID = #{systemId}
        <if test="evaluation!=null">
        AND MR_NEVALUATION = #{evaluation} -- 指定評価レベル
        </if>
        <if test="evaluation==null">
        AND MR_NEVALUATION > 0 -- 全ての評価レベル(評価系リレーションのみ)
        </if>>

        -- MAST_RELATIONSHIPDEFINITIONS
        AND MRD_CSYSTEMID = MR_CSYSTEMID
        AND MRD_CCUSTOMERID = #{customerId}
        AND MRD_CUSERID_TO = #{userId}
        AND MRD_DSTARTDATE  <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND MRD_DENDDATE >= to_date(#{searcharDate},'yyyy/mm/dd')
        AND MRD_CRELATIONSHIPID = MR_CRELATIONSHIPID_PK
        AND MRD_CFIXED = '1'
        <if test="reportType==null">
        AND MRD_CCONTENTTYPE = #{reportType}
        </if>

        -- HIST_DESIGNATION
        AND	HD_CCUSTOMERID_CK = MRD_CCUSTOMERID
        AND	HD_CUSERID = MRD_CUSERID_FROM
        AND	HD_DSTARTDATE_CK <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	HD_DENDDATE >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_EMPLOYEES
        AND	ME_CCUSTOMERID_CK = HD_CCUSTOMERID_CK
        AND	ME_CUSERID = HD_CUSERID
        AND	ME_DSTARTDATE <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	ME_DENDDATE >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_COMPANY
        AND	MAC_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MAC_CCOMPANYID_CK = HD_CCOMPANYID_CK
        AND	MAC_CLANGUAGE = 'ja'
        AND	MAC_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MAC_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_ORGANISATION
        AND	MO_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MO_CCOMPANYID_CK_FK = HD_CCOMPANYID_CK
        AND	MO_CSECTIONID_CK = HD_CSECTIONID_FK
        AND	MO_CLANGUAGE = 'ja'
        AND	MO_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MO_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_POST
        AND	MAP_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MAP_CCOMPANYID_CK_FK = HD_CCOMPANYID_CK
        AND	MAP_CPOSTID_CK = HD_CPOSTID_FK
        AND	MAP_CLANGUAGE = 'ja'
        AND	MAP_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MAP_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')
        ORDER BY
        HD_CIFKEYORADDITIONALROLE,
        HD_CCUSTOMERID_CK,
        HD_CCOMPANYID_CK;
    </select>

    <select id="selectAllEvaluator" resultType="jp.smartcompany.job.modules.core.pojo.bo.EvaluatorBO">
        -- 指定ユーザの異動暦情報取得Query（DesignationDao_select.sql）

        SELECT
        HD_CCUSTOMERID_CK AS customerCode, -- 顧客コード
        HD_CCOMPANYID_CK AS companyCode, -- 法人コード
        MAC_CLAYEREDCOMPANYID AS companyHierarchy, -- 法人内部階層コード
        MAC_NSEQ AS companyOrder, -- 法人並び順
        PSMASTER.FUNC_GET_COMP_NAME(MAC_ID, /*language*/'ja') AS companyName, -- 法人名称
        HD_CUSERID AS userid, -- ユーザID
        HD_CEMPLOYEEID_CK AS employee, -- 社員番号
        PSMASTER.FUNC_GET_EMP_NAME(ME_ID, /*language*/'ja') AS name, -- 氏名
        ME_CKANANAME AS nameKana, -- 氏名カナ
        HD_CSECTIONID_FK AS section, -- 組織コード
        MO_CLAYEREDSECTIONID AS sectionHierarchy, -- 組織内部階層コード
        MO_NSEQ AS sectionOrder, -- 組織並び順
        PSMASTER.FUNC_GET_SECTION_NAME(MO_ID, /*language*/'ja') AS sectionName, -- 組織名称
        HD_CPOSTID_FK AS postCode, -- 役職コード
        MAP_NWEIGHTAGE AS postRank, -- 役職順位
        PSMASTER.FUNC_GET_POST_NAME(MAP_ID, /*language*/'ja') AS postName, -- 役職名称
        HD_CIFKEYORADDITIONALROLE AS attachRole, -- 本務兼務区分コード
        HD_DSTARTDATE_CK AS personnelChangesBigin, -- 異動暦開始日取得
        '' AS judgDiv, -- 判定区分
        '' AS evalLevel, -- 評価者レベル
        '' AS reportLine, -- レポートラインタイプ
        HD_CBOSSORNOT AS bossOrNot -- 所属長フラグ
        FROM
        HIST_DESIGNATION,
        MAST_EMPLOYEES,
        MAST_COMPANY,
        MAST_ORGANISATION,
        MAST_POST
        WHERE

        -- HIST_DESIGNATION
        HD_CCUSTOMERID_CK =#{customerId}
        AND	HD_CUSERID = #{userId}
        AND	HD_DSTARTDATE_CK <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	HD_DENDDATE >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_EMPLOYEES
        AND	ME_CCUSTOMERID_CK = HD_CCUSTOMERID_CK
        AND	ME_CUSERID = HD_CUSERID
        AND	ME_DSTARTDATE <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	ME_DENDDATE >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_COMPANY
        AND	MAC_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MAC_CCOMPANYID_CK = HD_CCOMPANYID_CK
        AND	MAC_CLANGUAGE = 'ja'
        AND	MAC_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MAC_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_ORGANISATION
        AND	MO_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MO_CCOMPANYID_CK_FK = HD_CCOMPANYID_CK
        AND	MO_CSECTIONID_CK = HD_CSECTIONID_FK
        AND	MO_CLANGUAGE = 'ja'
        AND	MO_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MO_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_POST
        AND	MAP_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MAP_CCOMPANYID_CK_FK = HD_CCOMPANYID_CK
        AND	MAP_CPOSTID_CK = HD_CPOSTID_FK
        AND	MAP_CLANGUAGE = 'ja'
        AND	MAP_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MAP_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        ORDER BY
        HD_CIFKEYORADDITIONALROLE,
        HD_CCUSTOMERID_CK,
        HD_CCOMPANYID_CK;
    </select>

    <select id="selectWithSection" parameterType="map" resultType="jp.smartcompany.job.modules.core.pojo.bo.EvaluatorBO">
        -- 指定ユーザの異動暦情報取得Query（DesignationDao_select.sql）
        SELECT
        HD_CCUSTOMERID_CK AS customerCode, -- 顧客コード
        HD_CCOMPANYID_CK AS companyCode, -- 法人コード
        MAC_CLAYEREDCOMPANYID AS companyHierarchy, -- 法人内部階層コード
        MAC_NSEQ AS companyOrder, -- 法人並び順
        PSMASTER.FUNC_GET_COMP_NAME(MAC_ID, #{language}) AS companyName, -- 法人名称
        HD_CUSERID AS userid, -- ユーザID
        HD_CEMPLOYEEID_CK AS employee, -- 社員番号
        PSMASTER.FUNC_GET_EMP_NAME(ME_ID, #{language}) AS name, -- 氏名
        ME_CKANANAME AS nameKana, -- 氏名カナ
        HD_CSECTIONID_FK AS section, -- 組織コード
        MO_CLAYEREDSECTIONID AS sectionHierarchy, -- 組織内部階層コード
        MO_NSEQ AS sectionOrder, -- 組織並び順
        PSMASTER.FUNC_GET_SECTION_NAME(MO_ID, #{language}) AS sectionName, -- 組織名称
        HD_CPOSTID_FK AS postCode, -- 役職コード
        MAP_NWEIGHTAGE AS postRank, -- 役職順位
        PSMASTER.FUNC_GET_POST_NAME(MAP_ID, #{language}) AS postName, -- 役職名称
        HD_CIFKEYORADDITIONALROLE AS attachRole, -- 本務兼務区分コード
        HD_DSTARTDATE_CK AS personnelChangesBigin, -- 異動暦開始日取得
        '' AS judgDiv, -- 判定区分
        '' AS evalLevel, -- 評価者レベル
        '' AS reportLine, -- レポートラインタイプ
        HD_CBOSSORNOT AS bossOrNot -- 所属長フラグ
        FROM
        HIST_DESIGNATION,
        MAST_EMPLOYEES,
        MAST_COMPANY,
        MAST_ORGANISATION,
        MAST_POST
        WHERE

        -- HIST_DESIGNATION
        HD_CCUSTOMERID_CK = #{custId}
        AND	HD_CUSERID = #{userId}
        AND HD_CSECTIONID_FK = #{sectionId}
        AND	HD_DSTARTDATE_CK <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	HD_DENDDATE >=  to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_EMPLOYEES
        AND	ME_CCUSTOMERID_CK = HD_CCUSTOMERID_CK
        AND	ME_CUSERID = HD_CUSERID
        AND	ME_DSTARTDATE <![CDATA[<=]]>  to_date(#{searcharDate},'yyyy/mm/dd')
        AND	ME_DENDDATE >=  to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_COMPANY
        AND	MAC_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MAC_CCOMPANYID_CK = HD_CCOMPANYID_CK
        AND	MAC_CLANGUAGE = 'ja'
        AND	MAC_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MAC_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_ORGANISATION
        AND	MO_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MO_CCOMPANYID_CK_FK = HD_CCOMPANYID_CK
        AND	MO_CSECTIONID_CK = HD_CSECTIONID_FK
        AND	MO_CLANGUAGE = 'ja'
        AND	MO_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MO_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_POST
        AND	MAP_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MAP_CCOMPANYID_CK_FK = HD_CCOMPANYID_CK
        AND	MAP_CPOSTID_CK = HD_CPOSTID_FK
        AND	MAP_CLANGUAGE = 'ja'
        AND	MAP_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MAP_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        ORDER BY
        HD_CIFKEYORADDITIONALROLE,
        HD_CCUSTOMERID_CK,
        HD_CCOMPANYID_CK;
    </select>

    <select id="selectSectionChief" parameterType="map" resultType="jp.smartcompany.job.modules.core.pojo.bo.EvaluatorBO">
        -- 指定組織の所属長の異動暦情報取得Query（DesignationDao_selectSectionChief.sql）
        SELECT
        HD_CCUSTOMERID_CK AS customerCode, -- 顧客コード
        HD_CCOMPANYID_CK AS companyCode, -- 法人コード
        MAC_CLAYEREDCOMPANYID AS companyHierarchy, -- 法人内部階層コード
        MAC_NSEQ AS companyOrder, -- 法人並び順
        PSMASTER.FUNC_GET_COMP_NAME(MAC_ID, #{language}) AS companyName, -- 法人名称
        HD_CUSERID AS userid, -- ユーザID
        HD_CEMPLOYEEID_CK AS employee, -- 社員番号
        PSMASTER.FUNC_GET_EMP_NAME(ME_ID, #{language}) AS name, -- 氏名
        ME_CKANANAME AS nameKana, -- 氏名カナ
        HD_CSECTIONID_FK AS section, -- 組織コード
        MO_CLAYEREDSECTIONID AS sectionHierarchy, -- 組織内部階層コード
        MO_NSEQ AS sectionOrder, -- 組織並び順
        PSMASTER.FUNC_GET_SECTION_NAME(MO_ID, #{language}) AS sectionName, -- 組織名称
        HD_CPOSTID_FK AS postCode, -- 役職コード
        MAP_NWEIGHTAGE AS postRank, -- 役職順位
        PSMASTER.FUNC_GET_POST_NAME(MAP_ID, #{language}) AS postName, -- 役職名称
        HD_CIFKEYORADDITIONALROLE AS attachRole, -- 本務兼務区分コード
        HD_DSTARTDATE_CK AS personnelChangesBigin, -- 異動暦開始日取得
        '' AS judgDiv, -- 判定区分
        '' AS evalLevel, -- 評価者レベル
        '' AS reportLine, -- レポートラインタイプ
        HD_CBOSSORNOT AS bossOrNot -- 所属長フラグ
        FROM
        HIST_DESIGNATION,
        MAST_EMPLOYEES,
        MAST_COMPANY,
        MAST_ORGANISATION,
        MAST_POST
        WHERE

        -- HIST_DESIGNATION
        HD_CCUSTOMERID_CK = #{custId}
        AND HD_CCOMPANYID_CK = #{compId}
        AND HD_CSECTIONID_FK = #{sectionId}
        AND HD_CBOSSORNOT = '1' -- 0:一般 / 1:所属長
        AND	HD_DSTARTDATE_CK <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	HD_DENDDATE >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_EMPLOYEES
        AND	ME_CCUSTOMERID_CK = HD_CCUSTOMERID_CK
        AND	ME_CUSERID = HD_CUSERID
        AND	ME_DSTARTDATE <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	ME_DENDDATE >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_COMPANY
        AND	MAC_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MAC_CCOMPANYID_CK = HD_CCOMPANYID_CK
        AND	MAC_CLANGUAGE = 'ja'
        AND	MAC_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MAC_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_ORGANISATION
        AND	MO_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MO_CCOMPANYID_CK_FK = HD_CCOMPANYID_CK
        AND	MO_CSECTIONID_CK = HD_CSECTIONID_FK
        AND	MO_CLANGUAGE = 'ja'
        AND	MO_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MO_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        -- MAST_POST
        AND	MAP_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MAP_CCOMPANYID_CK_FK = HD_CCOMPANYID_CK
        AND	MAP_CPOSTID_CK = HD_CPOSTID_FK
        AND	MAP_CLANGUAGE = 'ja'
        AND	MAP_DSTART <![CDATA[<=]]> to_date(#{searcharDate},'yyyy/mm/dd')
        AND	MAP_DEND >= to_date(#{searcharDate},'yyyy/mm/dd')

        ORDER BY
        HD_DSTARTDATE_CK,
        ME_CEMPLOYEEID_CK;
    </select>



    <select id="selectemployeeDetail" resultType="jp.smartcompany.job.modules.tmg.tmgnotification.vo.employeeDetailVo">
        SELECT
        TMG_F_GET_ME_NAME ( #{employeeId}, TRUNC( SYSDATE ), 0, #{custId}, #{compId} ) as NAME,
        TMG_F_GET_MO (
        (
        SELECT
        HD_CSECTIONID_FK
        FROM
        HIST_DESIGNATION
        WHERE
        HD_CCUSTOMERID_CK = #{custId}
        AND HD_CCOMPANYID_CK = #{compId}
        AND HD_CEMPLOYEEID_CK = #{employeeId}
        AND HD_DSTARTDATE_CK <![CDATA[<=]]>  TRUNC( SYSDATE )
        AND HD_DENDDATE >= TRUNC( SYSDATE )
        AND HD_CIFKEYORADDITIONALROLE = '0'
        ),
        TRUNC( SYSDATE ),
        0,
        #{custId},
        #{compId},
        #{language}
        ) AS SECTION,
        TMG_F_GET_MGD ( TMG_F_GET_WORKERTYPE ( #{employeeId}, TRUNC( SYSDATE ), #{custId}, #{compId} ), TRUNC( SYSDATE ), #{custId}, #{compId}, #{language}) AS WORKTYPE,
        (
        SELECT
        TMG_F_GET_MP ( D.HD_CPOSTID_FK, SYSDATE, D.HD_CCUSTOMERID_CK, D.HD_CCOMPANYID_CK,#{language} )
        FROM
        HIST_DESIGNATION D
        WHERE
        D.HD_CCUSTOMERID_CK = #{custId}
        AND D.HD_CCOMPANYID_CK = #{compId}
        AND D.HD_CEMPLOYEEID_CK = #{employeeId}
        AND TRUNC( SYSDATE ) BETWEEN D.HD_DSTARTDATE_CK
        AND D.HD_DENDDATE
        AND D.HD_CIFKEYORADDITIONALROLE = 0
        ) AS POST
        FROM
        DUAL;
    </select>


    <select id="selectemployee" resultType="jp.smartcompany.job.modules.tmg.tmgnotification.vo.employeeDetailVo">
        SELECT
        TMG_F_GET_ME_NAME ( #{employeeId}, TRUNC( SYSDATE ), 0, #{custId}, #{compId} ) as NAME,
        TMG_F_GET_MO (
        (#{sectionId}
        ,
        TRUNC( SYSDATE ),
        0,
        #{custId},
        #{compId},
        #{language}
        ) AS SECTION,
        TMG_F_GET_MGD ( TMG_F_GET_WORKERTYPE ( #{employeeId}, TRUNC( SYSDATE ), #{custId}, #{compId} ), TRUNC( SYSDATE ), #{custId}, #{compId}, #{language}) AS WORKTYPE,
        (
        SELECT
        TMG_F_GET_MP ( D.HD_CPOSTID_FK, SYSDATE, D.HD_CCUSTOMERID_CK, D.HD_CCOMPANYID_CK,#{language} )
        FROM
        HIST_DESIGNATION D
        WHERE
        D.HD_CCUSTOMERID_CK = #{custId}
        AND D.HD_CCOMPANYID_CK = #{compId}
        AND D.HD_CEMPLOYEEID_CK = #{employeeId}
        AND TRUNC( SYSDATE ) BETWEEN D.HD_DSTARTDATE_CK
        AND D.HD_DENDDATE
        AND D.HD_CIFKEYORADDITIONALROLE = 0
        ) AS POST
        FROM
        DUAL;
    </select>

    <select id="selectemployeeList" resultType="jp.smartcompany.job.modules.tmg.tmgnotification.vo.employeeListVo">
        SELECT
            e.EMPID TNTF_CEMPLOYEEID,
            TMG_F_GET_ME_NAME(e.EMPID,'${date}',0,'${custId}','${compId}') TNTF_CEMPLOYEEID_NAME
        FROM
            (${sql}) e
        ORDER BY
            e.SEQ;

    </select>


    <select id="selectSectionNAme" resultType="java.lang.String">
        SELECT
            TMG_F_GET_MO(#{sectionId},#{date,jdbcType=DATE},0,#{custId},#{compId}) TNTF_CSECTIONID
        FROM
            DUAL

    </select>
    <select id="buildSQLForSelectCSVOutputImage" resultType="java.util.Map">

        SELECT
        <foreach collection="headerList" item="header" index="index" open="" close="" separator=",">
            ${header.tempColumnid}
        </foreach>
        FROM
            HIST_DESIGNATION HD,
            (${empsql}) e,
            TMG_MONTHLY m
        WHERE
            m.TMO_CEMPLOYEEID = e.EMPID
        AND m.TMO_DYYYYMM    = TRUNC( TO_DATE(#{targetDate}),'MM')
        AND m.TMO_CCOMPANYID  = e.COMP
        AND m.TMO_CCUSTOMERID = e.CUST
        AND HD.HD_CCUSTOMERID_CK(+) = m.TMO_CCUSTOMERID
        AND HD.HD_CCOMPANYID_CK(+) = m.TMO_CCOMPANYID
        AND HD.HD_CEMPLOYEEID_CK(+) = m.TMO_CEMPLOYEEID
        AND HD.HD_DSTARTDATE_CK(+) <![CDATA[<=]]> m.TMO_DYYYYMM
        AND HD.HD_DENDDATE(+) >= m.TMO_DYYYYMM
    </select>
</mapper>