<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.MastPasswordMapper">

    <select id="selectSinglePassword" parameterType="jp.smartcompany.job.modules.core.pojo.entity.MastPasswordDO">
        -- パスワード変更処理用（パスワードマスタ情報取得）SQLファイル
        SELECT
            MAP_ID,
            MAP_CUSERID,
            MAP_NHISTORY,
            MAP_CPASSWORD,
            MAP_DPWDDATE,
            MAP_CMODIFIERUSERID,
            MAP_DMODIFIEDDATE,
            VERSIONNO
        FROM (
            SELECT
                MAP_ID,
                MAP_CUSERID,
                MAP_NHISTORY,
                MAP_CPASSWORD,
                TRUNC(MAP_DPWDDATE,'dd') AS MAP_DPWDDATE,
                MAP_CMODIFIERUSERID,
                MAP_DMODIFIEDDATE,
                VERSIONNO
            FROM  MAST_PASSWORD
            WHERE MAP_CUSERID = #{username}
            ORDER BY MAP_NHISTORY
        )
        WHERE ROWNUM <![CDATA[ <= ]]> #{hisCnt}
    </select>

</mapper>