<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.MastEmployeesMapper">

    <select id="selectBegindateWork" resultType="java.util.Date">
        select
            me.me_ddateofemployement
        from
            mast_employees me
        where
            me.me_ccustomerid_ck  = #{customerId}
        and me.me_ccompanyid      = #{companyId}
        and me.me_cemployeeid_ck  = #{employeeId}
        and me.me_dstartdate <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and me.me_denddate >= #{yyyymmdd,jdbcType=DATE}
    </select>

    <!--年次休假管理一览-->
    <select id="selectPaidHolidayInit" resultType="jp.smartcompany.job.modules.tmg.paidholiday.vo.PaidHolidayInitVO" statementType="STATEMENT">
        select h.TPH_CEMPLOYEEID,
               (
                 select e.ME_CKANJINAME from MAST_EMPLOYEES e
                 where e.ME_CCUSTOMERID_CK	= h.TPH_CCUSTOMERID
                       and e.ME_CCOMPANYID = h.TPH_CCOMPANYID
                       and e.ME_CEMPLOYEEID_CK	= h.TPH_CEMPLOYEEID
                       and e.ME_DSTARTDATE = (
                           select  max(ee.ME_DSTARTDATE) from MAST_EMPLOYEES ee
                           where ee.ME_CCUSTOMERID_CK = e.ME_CCUSTOMERID_CK
                             and ee.ME_CCOMPANYID = e.ME_CCOMPANYID
                             and ee.ME_CEMPLOYEEID_CK = e.ME_CEMPLOYEEID_CK
                           )
                ) as name,
                (
                    select  e.TEM_CWORKTYPEID from  TMG_EMPLOYEES e
                    where e.TEM_CCUSTOMERID = h.TPH_CCUSTOMERID
                      and e.TEM_CCOMPANYID = h.TPH_CCOMPANYID
                      and e.TEM_CEMPLOYEEID = h.TPH_CEMPLOYEEID
                      and e.TEM_DSTARTDATE <![CDATA[<=]]> trunc(SYSDATE)
                      and e.TEM_DENDDATE >= trunc(SYSDATE)) as workertypeid,
                (
                          select tmg_f_get_mgd(e.TEM_CWORKTYPEID, trunc(SYSDATE), h.TPH_CCUSTOMERID, h.TPH_CCOMPANYID, 'ja') from TMG_EMPLOYEES e
                          where e.TEM_CCUSTOMERID = h.TPH_CCUSTOMERID
                            and e.TEM_CCOMPANYID = h.TPH_CCOMPANYID
                            and e.TEM_CEMPLOYEEID = h.TPH_CEMPLOYEEID
                            and e.TEM_DSTARTDATE <![CDATA[<=]]> trunc(SYSDATE)
                            and e.TEM_DENDDATE >= trunc(SYSDATE)
                ) as workertypenm,
                to_char(h.TPH_DYYYYMM, 'yyyy/mm') as TPH_DYYYYMM,
                to_char(h.TPH_DYYYYMMDD, 'yyyy/MM/dd') as TPH_DYYYYMMDD,
                a.SEQ,
                NVL(h.TPH_NINVEST, 0) + NVL(h.TPH_NADJUST, 0) as invest_days_sum,
                TMG_F_CONV_MIN2HHMI_WITH_MINUS(h.TPH_NADJUST_HOURS, 1) as invest_hours,
                NVL(h.TPH_NTHROUGHOUT, 0) + NVL(h.TPH_NADJUST_TO, 0) as throughout_days_sum,
                TMG_F_CONV_MIN2HHMI_WITH_MINUS(NVL(h.TPH_NTHROUGHOUT_HOURS, 0) + NVL(h.TPH_NADJUST_HOURS_TO, 0), 1) as throughout_hours_sum
                from TMG_PAID_HOLIDAY h,
                (
                   ${value}
                ) a
               where h.TPH_DYYYYMMDD =
                (
                  select max(h2.TPH_DYYYYMMDD) from TMG_PAID_HOLIDAY h2
                  where h2.TPH_CCUSTOMERID = h.TPH_CCUSTOMERID
                    and h2.TPH_CCOMPANYID = h.TPH_CCOMPANYID
                    and h2.TPH_CEMPLOYEEID = h.TPH_CEMPLOYEEID
                    and h2.TPH_DYYYYMMDD <![CDATA[<=]]> trunc(SYSDATE)
                ) and a.EMPID = h.TPH_CEMPLOYEEID
                  and a.CUST = h.TPH_CCUSTOMERID
                  and a.COMP = h.TPH_CCOMPANYID  order by a.SEQ
    </select>
    <select id="selectEmpIdListForTmgDaily" resultType="java.lang.String">
        SELECT
            v.empid
        FROM
             (${empsql}) v
             <!-- 一括承認対象日について管理対象であるか判定-->
        WHERE
            v.empid IN
                <foreach item="item" collection="empIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG(v.empid, TRUNC(TO_DATE(#{yyyymmdd})), TRUNC(TO_DATE(#{yyyymmdd})), v.cust, v.comp)
    </select>


    <select id="selectRelationEx" parameterType="map" resultType="int">
        SELECT
            PSEMPRELATION.FUNC_GET_RELATIONID_EX(
                '${psCust}',
                '${psLogin}',
                '${psTarget}',
                '${psSystem}',
                '${psDesig}',
                TO_DATE('${psDate}','yyyy/mm/dd'),
                ${psBase1},
                ${psBase2},
                ${psBase3},
                ${psBase4},
                ${psBase5},
                ${psBase6},
                ${psBase7},
                ${psBase8}
            )
        FROM DUAL;
    </select>

    <select id="selectRelation" parameterType="map" resultType="int">
        SELECT PSEMPRELATION.FUNC_GET_RELATIONID(
                       '${psCust}',
                       '${psLogin}',
                       '${psTarget}',
                       '${psSystem}',
                       '${psDesig}',
                       TO_DATE('${psDate}','yyyy/mm/dd'))
        FROM DUAL;
    </select>

    <select id="selectUserInfoByDate" parameterType="map" resultType="jp.smartcompany.framework.auth.entity.LoginControlEntity">
        -- ログイン制御 ログインアカウント情報取得SQL(基準日判定有り)
        SELECT DISTINCT
        HD_CCUSTOMERID_CK,
        HD_CCOMPANYID_CK,
        MAC_CLAYEREDCOMPANYID,
        MAC_NSEQ,
        PSMASTER.FUNC_GET_COMP_NAME(
        MAC_CCUSTOMERID_CK_FK, MAC_CCOMPANYID_CK, '${date}', '${language}'
        ) MAC_CCOMPANYNAME,
        HD_CEMPLOYEEID_CK,
        HD_CUSERID,
        PSMASTER.FUNC_GET_EMP_NAME(
        ME_CCUSTOMERID_CK, ME_CCOMPANYID, ME_CEMPLOYEEID_CK, '${date}', '${language}'
        ) ME_CEMPLOYEENAME,
        ME_CKANANAME,
        HD_CSECTIONID_FK,
        MO_CLAYEREDSECTIONID,
        MO_NSEQ,
        PSMASTER.FUNC_GET_SECTION_NAME(
        MO_CCUSTOMERID_CK_FK, MO_CCOMPANYID_CK_FK, MO_CSECTIONID_CK, '${date}', '${language}'
        ) MO_CSECTIONNAME,
        HD_CPOSTID_FK,
        MAP_NWEIGHTAGE,
        PSMASTER.FUNC_GET_POST_NAME(
        MAP_CCUSTOMERID_CK_FK, MAP_CCOMPANYID_CK_FK, MAP_CPOSTID_CK, '${date}', '${language}'
        ) MAP_CPOSTNAME,
        HD_CIFKEYORADDITIONALROLE,
        HD_DSTARTDATE_CK,
        HD_CBOSSORNOT
        FROM
        MAST_EMPLOYEES,		-- 基本情報テーブル
        HIST_DESIGNATION,	-- 異動歴テーブル
        MAST_COMPANY,		-- 法人ツリーマスタ
        MAST_ORGANISATION,	-- 組織ツリーマスタ
        MAST_POST			-- 役職マスタ
        WHERE
        ME_CUSERID = #{loginUser}
        AND	ME_DSTARTDATE <![CDATA[<=]]> #{date}
        AND	ME_DENDDATE >= #{date}
        AND	HD_CCUSTOMERID_CK = ME_CCUSTOMERID_CK
        AND	HD_CUSERID = ME_CUSERID
        AND	HD_DSTARTDATE_CK <![CDATA[<=]]> #{date}
        AND	HD_DENDDATE >= #{date}
        AND	MAC_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MAC_CCOMPANYID_CK = HD_CCOMPANYID_CK
        AND	MAC_DSTART <![CDATA[<=]]> #{date}
        AND	MAC_DEND >= #{date}
        AND	MAC_CLANGUAGE = 'ja'
        AND	MO_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MO_CCOMPANYID_CK_FK = HD_CCOMPANYID_CK
        AND	MO_CSECTIONID_CK = HD_CSECTIONID_FK
        AND	MO_DSTART <![CDATA[<=]]> #{date}
        AND	MO_DEND >= #{date}
        AND	MO_CLANGUAGE = 'ja'
        AND	MAP_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK
        AND	MAP_CCOMPANYID_CK_FK = HD_CCOMPANYID_CK
        AND	MAP_CPOSTID_CK = HD_CPOSTID_FK
        AND	MAP_DSTART <![CDATA[<=]]> #{date}
        AND	MAP_DEND >= #{date}
        AND	MAP_CLANGUAGE = 'ja'
        ORDER BY HD_CIFKEYORADDITIONALROLE
    </select>

    <select id="selectOrgRelation" parameterType="map" resultType="int">
        SELECT PSORGRELATION.FUNC_GET_RELATIONID(
                '${psCust}',
                '${loginUser}',
                '${targetComp}',
                '${targetSection}',
                '${systemId}',
                ${desig},
                TO_DATE('${psDate}','yyyy/mm/dd')
         )
        FROM DUAL;
    </select>

    <select id="getVersion3SectionChief" parameterType="map" resultType="jp.smartcompany.framework.compatible.entity.V3CompatiblePostEntity">
        -- Version3CompatibleLogicImpl 所属長（役所コード取得の可否、仮想兼務適用の可否判定） 情報取得SQLファイル
        SELECT
        HD_CPOSTID_FK,
        ME_CEMPLOYEEID_CK,
        MAP_NWEIGHTAGE,
        PSMASTER.FUNC_GET_POST_NAME(
        MAP_CCUSTOMERID_CK_FK,
        MAP_CCOMPANYID_CK_FK,
        MAP_CPOSTID_CK, TO_DATE('${date}'), 'ja') AS MAP_CPOSTNAME,
        HD_DSTARTDATE_CK
        FROM
        HIST_DESIGNATION,
        MAST_EMPLOYEES,
        MAST_POST
        WHERE
        HD_CCUSTOMERID_CK = #{custId} AND
        HD_CCOMPANYID_CK = #{compId} AND
        HD_CSECTIONID_FK = #{deptId} AND
        <if test="postId != null and bIncludeactual">
          HD_CPOSTID_FK = #{postId} AND
        </if>
        <if test="postId != null and !bIncludeactual">
            HD_CPOSTID_FK = #{postId} AND
            HD_NOFFCIALORNOT = '0' AND
        </if>
        <if test="postId == null and !bIncludeactual">
            HD_NOFFCIALORNOT = '0' AND
        </if>
        HD_DSTARTDATE_CK <![CDATA[<=]]> TO_DATE(#{date}) AND
        HD_DENDDATE >= TO_DATE(#{date}) AND
        MAP_CCUSTOMERID_CK_FK = HD_CCUSTOMERID_CK AND
        MAP_CCOMPANYID_CK_FK  = HD_CCOMPANYID_CK AND
        MAP_CPOSTID_CK = HD_CPOSTID_FK AND
        MAP_DSTART <![CDATA[<=]]> TO_DATE(#{date}) AND
        MAP_DEND >= TO_DATE(#{date}) AND
        MAP_CLANGUAGE = 'ja' AND
        ME_CCUSTOMERID_CK = HD_CCUSTOMERID_CK AND
        ME_CCOMPANYID = HD_CCOMPANYID_CK AND
        ME_CEMPLOYEEID_CK = HD_CEMPLOYEEID_CK AND
        ME_DSTARTDATE <![CDATA[<=]]> TO_DATE(#{date}) AND
        ME_DENDDATE >= TO_DATE(#{date}) AND
        (ME_CIFSTILLEMPLOYEDID = '0' OR
        (ME_CIFSTILLEMPLOYEDID = '1' AND ME_DDATEOFRETIREMENT >= TO_DATE(#{date})))
        ORDER BY
        MAP_NWEIGHTAGE,
        HD_DSTARTDATE_CK,
        ME_CEMPLOYEEID_CK
    </select>

    <select id="selectDateofemploymentWithME" resultType="jp.smartcompany.job.modules.tmg.empattrsetting.vo.EmployMentWithMEVo">
        SELECT
            TO_CHAR( MIN( ME_DSTARTDATE ), 'yyyy/mm/dd' ) AS DSTART,
            TO_CHAR( ME_DDATEOFEMPLOYEMENT, 'yyyy/mm/dd' ) AS DDATEOFEMPLOYEMENT
        FROM
            MAST_EMPLOYEES
        WHERE
                ME_CCUSTOMERID_CK = #{custId}
            AND ME_CCOMPANYID = #{compId}
            AND ME_CEMPLOYEEID_CK = #{empId}
            AND ME_CIFSTILLEMPLOYEDID = '0'
        GROUP BY
            ME_DDATEOFEMPLOYEMENT
        ORDER BY
            MIN( ME_DSTARTDATE ) DESC
    </select>

<!--    <select id="selectEmployeeInfoUserIDList" parameterType="jp.smartcompany.framework.component.dto.EmployInfoSearchDTO" resultType="jp.smartcompany.framework.component.entity.EmployeeInfoSearchEntity">-->
<!--        <if test="searchFlg == null or searchFlg == 0">-->
<!--            SELECT-->
<!--                &#45;&#45; (社員検索ダイアログ)-->
<!--                HD.HD_ID,-->
<!--                ME_CUSERID,-->
<!--                (-->
<!--                    SELECT-->
<!--                        MAP_NWEIGHTAGE-->
<!--                    FROM-->
<!--                        MAST_POST-->
<!--                    WHERE-->
<!--                        MAP_CCUSTOMERID_CK_FK = HD.HD_CCUSTOMERID_CK-->
<!--                        AND MAP_CCOMPANYID_CK_FK = HD.HD_CCOMPANYID_CK-->
<!--                        AND MAP_CPOSTID_CK = HD.HD_CPOSTID_FK-->
<!--                        AND MAP_CLANGUAGE = 'ja'-->
<!--                        AND MAP_DSTART <![CDATA[<=]]> #{searchDate}-->
<!--                        AND MAP_DEND >= #{searchDate}-->
<!--                ) AS MAP_NWEIGHTAGE,-->
<!--                ME_CIFSTILLEMPLOYEDID,-->
<!--                ME_CEMPLOYEEID_CK,-->
<!--                ME_CKANANAME,-->
<!--                HD_CBOSSORNOT,-->
<!--                HD_DSTARTDATE_CK,-->
<!--                HD_CPOSTID_FK-->
<!--            FROM-->
<!--                (-->
<!--                    SELECT /*+ INDEX(MAST_EMPLOYEES MAST_EMPLOYEES_IDX4) */*-->
<!--                    FROM MAST_EMPLOYEES-->
<!--                    WHERE-->
<!--                        ME_CCUSTOMERID_CK = '01'-->
<!--                        AND ME_DSTARTDATE <![CDATA[<=]]> #{searchDate}-->
<!--                        AND ME_DENDDATE >= #{searchDate}-->
<!--                        AND ME_CIFSTILLEMPLOYEDID = '0'-->
<!--                ) ME,-->
<!--                (-->
<!--                    SELECT /*+ INDEX(HIST_DESIGNATION PS_HIST_DESIGNATION_IDX5) */*-->
<!--                    FROM ${designation}-->
<!--                    WHERE-->
<!--                        HD_CCUSTOMERID_CK = '01'-->
<!--                        AND HD_DSTARTDATE_CK <![CDATA[<=]]> #{searchDate}-->
<!--                        AND HD_DENDDATE >= #{searchDate}-->
<!--                ) HD-->
<!--            WHERE-->
<!--                 HD.HD_CUSERID = ME_CUSERID-->
<!--                 AND (-->
<!--                     ME_CEMPLOYEEID_CK LIKE #{searchWord} ESCAPE '\\'-->
<!--                     OR ME_CKANANAME LIKEC #{searchWordConve*} ESCAPE TO_NCHAR('\\')-->
<!--                     OR ME_CKANJINAME LIKEC #{searchWord} ESCAPE TO_NCHAR('\\')-->
<!--                     OR LOWER(ME_CENGLISHNAME) LIKE #{searchWordEnglish} ESCAPE '\\'-->
<!--                     OR ME_CEMPLOYEENAMECH LIKE #{searchWord} ESCAPE TO_NCHAR('\\')-->
<!--                     OR ME_CEMPLOYEENAME01 LIKEC #{searchWord} ESCAPE TO_NCHAR('\\')-->
<!--                     OR ME_CEMPLOYEENAME02 LIKEC #{searchWord} ESCAPE TO_NCHAR('\\')-->
<!--                 )-->
<!--                 <if test="validCompanies != null and validCompanies.size()>0">-->
<!--                    AND ME_CCOMPANYID IN-->
<!--                    <foreach collection="validCompanies" index="index" item="companyId" separator="," open="(" close=")">-->
<!--                        #{companyId}-->
<!--                    </foreach>-->
<!--                 </if>-->
<!--                 <if test="companyCode != null">-->
<!--                    AND HD.HD_CCOMPANYID_CK = #{companyCode}-->
<!--                 </if>-->
<!--                 <if test="ifkeyoradditionalrole != null">-->
<!--                     AND HD.HD_CIFKEYORADDITIONALROLE = #{ifKeyorAdditionalRole}-->
<!--                 </if>-->
<!--                 ${exists}-->
<!--        </if>-->
<!--        <if test='propValue == "no" and searchFlg == null'>-->
<!--            UNION ALL-->
<!--        </if>-->
<!--        <if test='searchFlg == 1 or (propValue == "no" and searchFlg == null)'>-->
<!--            SELECT-->
<!--                NULL AS HD_ID,-->
<!--                ME_CUSERID,-->
<!--                NULL MAP_NWEIGHTAGE,-->
<!--                ME_CIFSTILLEMPLOYEDID,-->
<!--                ME_CEMPLOYEEID_CK,-->
<!--                ME_CKANANAME,-->
<!--                NULL AS HD_CBOSSORNOT,-->
<!--                NULL AS HD_DSTARTDATE_CK,-->
<!--                NULL AS HD_CPOSTID_FK-->
<!--            FROM-->
<!--                (-->
<!--                    SELECT /*+ INDEX(MAST_EMPLOYEES MAST_EMPLOYEES_IDX4) */*-->
<!--                        FROM MAST_EMPLOYEES-->
<!--                        WHERE-->
<!--                              ME_CCUSTOMERID_CK = '01'-->
<!--                              AND ME_DSTARTDATE <![CDATA[<=]]> #{searchDate}-->
<!--                              AND ME_DENDDATE >= #{searchDate}-->
<!--                              AND ME_CIFSTILLEMPLOYEDID = '1'-->
<!--                )-->
<!--            WHERE-->
<!--                (-->
<!--                    ME_CEMPLOYEEID_CK LIKE #{searchWord} ESCAPE '\\'-->
<!--                    OR  ME_CKANANAME LIKEC #{searchWordConve} ESCAPE TO_NCHAR('\\')-->
<!--                    OR  ME_CKANJINAME LIKEC #{searchWord} ESCAPE TO_NCHAR('\\')-->
<!--                    OR  LOWER(ME_CENGLISHNAME) LIKE #{dto.searchWordEnglish} ESCAPE '\\'-->
<!--                    OR  ME_CEMPLOYEENAMECH LIKEC #{searchWord} ESCAPE TO_NCHAR('\\')-->
<!--                    OR  ME_CEMPLOYEENAME01 LIKEC #{searchWord} ESCAPE TO_NCHAR('\\')-->
<!--                    OR  ME_CEMPLOYEENAME02 LIKEC #{searchWord} ESCAPE TO_NCHAR('\\')-->
<!--                )-->
<!--                <if test="validCompanies != null and validCompanies.size()>0">-->
<!--                    AND ME_CCOMPANYID IN-->
<!--                    <foreach collection="validCompanies" index="index" item="companyId" separator="," open="(" close=")">-->
<!--                        #{companyId}-->
<!--                    </foreach>-->
<!--                </if>-->
<!--                <if test="companyCode!=null">-->
<!--                    AND ME_CCOMPANYID = #{companyCode}-->
<!--                </if>-->
<!--                ${exists}-->
<!--        </if>-->
<!--        ${orderBy}-->
<!--    </select>-->

</mapper>