<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.MastEmployeesMapper">

    <select id="selectBegindateWork" resultType="java.util.Date">
        select
            me.me_ddateofemployement
        from
            mast_employees me
        where
            me.me_ccustomerid_ck  = #{customerId}
        and me.me_ccompanyid      = #{companyId}
        and me.me_cemployeeid_ck  = #{employeeId}
        and me.me_dstartdate <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and me.me_denddate >= #{yyyymmdd,jdbcType=DATE}
    </select>

    <!--年次休假管理一览-->
    <select id="selectPaidHolidayInit" resultType="jp.smartcompany.job.modules.tmg.paidholiday.vo.PaidHolidayInitVO" statementType="STATEMENT">
        select h.TPH_CEMPLOYEEID,
               (
                 select e.ME_CKANJINAME from MAST_EMPLOYEES e
                 where e.ME_CCUSTOMERID_CK	= h.TPH_CCUSTOMERID
                       and e.ME_CCOMPANYID = h.TPH_CCOMPANYID
                       and e.ME_CEMPLOYEEID_CK	= h.TPH_CEMPLOYEEID
                       and e.ME_DSTARTDATE = (
                           select  max(ee.ME_DSTARTDATE) from MAST_EMPLOYEES ee
                           where ee.ME_CCUSTOMERID_CK = e.ME_CCUSTOMERID_CK
                             and ee.ME_CCOMPANYID = e.ME_CCOMPANYID
                             and ee.ME_CEMPLOYEEID_CK = e.ME_CEMPLOYEEID_CK
                           )
                ) as name,
                (
                    select  e.TEM_CWORKTYPEID from  TMG_EMPLOYEES e
                    where e.TEM_CCUSTOMERID = h.TPH_CCUSTOMERID
                      and e.TEM_CCOMPANYID = h.TPH_CCOMPANYID
                      and e.TEM_CEMPLOYEEID = h.TPH_CEMPLOYEEID
                      and e.TEM_DSTARTDATE <![CDATA[<=]]> trunc(SYSDATE)
                      and e.TEM_DENDDATE >= trunc(SYSDATE)) as workertypeid,
                (
                          select tmg_f_get_mgd(e.TEM_CWORKTYPEID, trunc(SYSDATE), h.TPH_CCUSTOMERID, h.TPH_CCOMPANYID, 'ja') from TMG_EMPLOYEES e
                          where e.TEM_CCUSTOMERID = h.TPH_CCUSTOMERID
                            and e.TEM_CCOMPANYID = h.TPH_CCOMPANYID
                            and e.TEM_CEMPLOYEEID = h.TPH_CEMPLOYEEID
                            and e.TEM_DSTARTDATE <![CDATA[<=]]> trunc(SYSDATE)
                            and e.TEM_DENDDATE >= trunc(SYSDATE)
                ) as workertypenm,
                to_char(h.TPH_DYYYYMM, 'yyyy/mm') as TPH_DYYYYMM,
                to_char(h.TPH_DYYYYMMDD, 'yyyy/MM/dd') as TPH_DYYYYMMDD,
                a.SEQ,
                NVL(h.TPH_NINVEST, 0) + NVL(h.TPH_NADJUST, 0) as invest_days_sum,
                TMG_F_CONV_MIN2HHMI_WITH_MINUS(h.TPH_NADJUST_HOURS, 1) as invest_hours,
                NVL(h.TPH_NTHROUGHOUT, 0) + NVL(h.TPH_NADJUST_TO, 0) as throughout_days_sum,
                TMG_F_CONV_MIN2HHMI_WITH_MINUS(NVL(h.TPH_NTHROUGHOUT_HOURS, 0) + NVL(h.TPH_NADJUST_HOURS_TO, 0), 1) as throughout_hours_sum
                from TMG_PAID_HOLIDAY h,
                (
                   ${value}
                ) a
               where h.TPH_DYYYYMMDD =
                (
                  select max(h2.TPH_DYYYYMMDD) from TMG_PAID_HOLIDAY h2
                  where h2.TPH_CCUSTOMERID = h.TPH_CCUSTOMERID
                    and h2.TPH_CCOMPANYID = h.TPH_CCOMPANYID
                    and h2.TPH_CEMPLOYEEID = h.TPH_CEMPLOYEEID
                    and h2.TPH_DYYYYMMDD <![CDATA[<=]]> trunc(SYSDATE)
                ) and a.EMPID = h.TPH_CEMPLOYEEID
                  and a.CUST = h.TPH_CCUSTOMERID
                  and a.COMP = h.TPH_CCOMPANYID  order by a.SEQ
    </select>
    <select id="selectEmpIdListForTmgDaily" resultType="java.lang.String">
        SELECT
            v.empid
        FROM
             (${empsql}) v
             <!-- 一括承認対象日について管理対象であるか判定-->
        WHERE
            v.empid IN
                <foreach item="item" collection="empIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG(v.empid, TRUNC(TO_DATE(#{yyyymmdd})), TRUNC(TO_DATE(#{yyyymmdd})), v.cust, v.comp)
    </select>

</mapper>