<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.MastGenericDetailMapper">
    <insert id="insertMgdKinmuStart">
        INSERT INTO
            MAST_GENERIC_DETAIL
        (   MGD_ID,
            MGD_CCUSTOMERID,
            MGD_CCOMPANYID_CK_FK,
            MGD_CGENERICGROUPID,
            MGD_CGENERICDETAILID_CK,
            MGD_CMASTERCODE,
            MGD_CLANGUAGE_CK,
            MGD_DSTART_CK,
            MGD_DEND,
            MGD_CMODIFIERUSERID,
            MGD_DMODIFIEDDATE,
            MGD_CGENERICDETAILDESC,
            MGD_CGENERICDETAILDESCJA,
            MGD_DSPAREDATE1,
            VERSIONNO )
        VALUES
            (
                MAST_GENERIC_DETAIL_SEQ.NEXTVAL,
                #{custId},
                #{compId},
                'TMG_DATEOFEMPLOYMENT',
                #{targetUser},
                'TMG_DATEOFEMPLOYMENT|'||${targetUser},
                'ja',
                TO_DATE(#{startDate}, 'yyyy/MM/dd' ),
                TO_DATE(#{endDate}, 'yyyy/MM/dd' ),
                #{userCode},
                SYSDATE,
                TMG_F_GET_ME_NAME (#{targetUser}, TO_DATE( #{baseDate}, 'yyyy/MM/dd' ), 0, #{custId}, #{compId} ),
                TMG_F_GET_ME_NAME ( #{targetUser}, TO_DATE( #{baseDate}, 'yyyy/MM/dd' ), 0, #{custId}, #{compId} ),
                TO_DATE( #{beginDate}, 'yyyy/MM/dd' ),
                0
            )
        ;
    </insert>
    <insert id="buildSQLForInsertTmgDailyDetail">
        INSERT INTO MAST_GENERIC_DETAIL (
            MGD_ID,
            MGD_CCUSTOMERID,
            MGD_CCOMPANYID_CK_FK,
            MGD_CGENERICGROUPID,
            MGD_CGENERICDETAILID_CK,
            MGD_CMASTERCODE,
            MGD_CLANGUAGE_CK,
            MGD_DSTART_CK,
            MGD_DEND,
            MGD_CMODIFIERUSERID,
            MGD_DMODIFIEDDATE,
            MGD_CSPARECHAR1,
            MGD_CSPARECHAR2,
            MGD_CSPARECHAR3,
            VERSIONNO
        )
        VALUES (
            MAST_GENERIC_DETAIL_SEQ.NEXTVAL,  <!--名称マスタ連番-->
            #{psCustId} ,                 <!--顧客コード-->
            #{psCompId} ,                 <!--法人コード-->
            #{psGroupCode} ,                 <!--グループコード-->
            #{psDetailId} ,                 <!--明細データコード-->
            #{psMasterCode} ,                 <!--マスタコード-->
            #{psLanguage} ,                 <!--言語区分-->
            #{psStartDate} ,                 <!--データ開始日-->
            #{psEndDate} ,                 <!--データ終了日-->
            #{psUpdateUser} ,                 <!--更新者ID-->
            SYSDATE,                         <!--更新日-->
            #{psExuludecondType} ,           <!--絞込み項目区分-->
            #{psExuludecondForm} ,            <!--範囲(FROM)-->
            #{psExuludecondTo} ,              <!-- 範囲(TO)-->
            '1'
        )


    </insert>


    <select id="tmgFExcludeTerm" resultType="jp.smartcompany.job.modules.tmg.paidholiday.dto.TmgTermRow">
        with PL_TERM_A as (SELECT
        NULL::TEXT AS CTYPE,
        #{startDate,jdbcType=DATE} ::Date as DOPEN,
        #{endDate,jdbcType=DATE} ::Date as DCLOSE,
        NULL ::TEXT as CVALUE_A,
        NULL ::TEXT as CVALUE_B),
        PL_TERM_B as (SELECT
        NULL                    AS  CTYPE
        ,   R1.MGD_DSTART_CK        AS  DOPEN
        ,   R1.MGD_DEND             AS  DCLOSE
        ,   NULL                    AS  CVALUE_A
        ,   NULL                    AS  CVALUE_B
        FROM
        TMG_V_MGD_IGNORE_NYKLOSE R1
        WHERE
        R1.MGD_CCUSTOMERID              =   #{customerId}
        AND     R1.MGD_CCOMPANYID_CK_FK         =   #{companyId})


        SELECT
        CASE CTYPE WHEN #{csTypeNull} THEN '' ELSE CTYPE END as CTYPE,
        DOPEN,
        DCLOSE,
        CVALUE_A,
        CVALUE_B )

        FROM (
        SELECT DISTINCT
        t.CTYPE, t.DOPEN, t.DCLOSE, a.CVALUE_A AS CVALUE_A, a.CVALUE_B AS CVALUE_B
        FROM
        (
        SELECT -- 分割期間のリストとして取得
        CASE WHEN #{checkCtype} = 1 THEN R.CTYPE ELSE #{csTypeNull} END AS CTYPE,
        LAG(R.DDATE) OVER(PARTITION BY CASE WHEN #{checkCtype} = 1 THEN R.CTYPE ELSE #{csTypeNull} END ORDER BY R.DDATE) AS DOPEN,
        R.DDATE - 1                                            AS DCLOSE
        FROM
        (   -- 分割の基点となる日付リストを取得
        SELECT coalesce(CTYPE,#{csTypeNull}) CTYPE, DOPEN      AS DDATE FROM PL_TERM_A
        UNION SELECT coalesce(CTYPE,#{csTypeNull}) CTYPE, DOPEN      AS DDATE FROM PL_TERM_B
        UNION SELECT coalesce(CTYPE,#{csTypeNull}) CTYPE, DCLOSE + 1 AS DDATE FROM PL_TERM_A
        UNION SELECT coalesce(CTYPE,#{csTypeNull}) CTYPE, DCLOSE + 1 AS DDATE FROM PL_TERM_B
        ) R
        ) t,
        TABLE( PL_TERM_A ) a
        WHERE
        ((#{checkCtype} = 1 AND t.CTYPE = coalesce(a.CTYPE,#{csTypeNull})) OR (#{checkCtype} = 0))
        AND t.DOPEN     >= a.DOPEN
        AND t.DOPEN     <![CDATA[<=]]> a.DCLOSE
        AND NOT EXISTS (
        SELECT 1 FROM ( SELECT coalesce(CTYPE,#{csTypeNull}) CTYPE,DOPEN,DCLOSE FROM PL_TERM_B ) b
        WHERE
        ((#{checkCtype} = 1 AND b.CTYPE = t.CTYPE) OR (#{checkCtype} = 0))
        AND t.DOPEN BETWEEN b.DOPEN AND b.DCLOSE
        )
        )
        ORDER BY CTYPE, DOPEN
    </select>

    <select id="selectNenkyuRuleH" resultType="int">
        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd3001 d
        on
            e.mgd_ccompanyid_ck_fk =  d.ccompkb
        and e.mgd_csparechar1 = substr(d.kinmu_cde,'1','1')
        and e.mgd_csparechar2 = d.hjksyk_misy_cde
        and e.mgd_csparechar3 = substr(d.kinmu_cde,'2','1')
        where
            d.ccompkb        = #{companyId}
        and d.dstart        <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend          >= #{yyyymmdd,jdbcType=DATE}
        and d.cshainno       = #{employeeId}
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck     <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend       >= #{yyyymmdd,jdbcType=DATE}
        and e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
    </select>

    <select id="selectNenkyuRuleH2" resultType="int">
        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd3001 d
        on d.ccompkb  = e.mgd_ccompanyid_ck_fk
        and e.mgd_csparechar1 = substr(d.kinmu_cde,'1','1')
        and e.mgd_csparechar2 is null
        and e.mgd_csparechar3 is null
        where
            e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend >= #{yyyymmdd,jdbcType=DATE}
        and d.ccompkb = #{companyId}
        and d.dstart <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend >= #{yyyymmdd,jdbcType=DATE}
        and d.cshainno = #{employeeId}

        union all

        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd0110 d
        on d.ccompkb  = e.mgd_ccompanyid_ck_fk
        and e.mgd_csparechar1 = d.kei_cde
        and e.mgd_csparechar2 is null
        and e.mgd_csparechar3 is null
        where
            e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck     <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend       >= #{yyyymmdd}
        and d.ccompkb        = #{companyId}
        and d.dstart        <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend          >=  #{yyyymmdd,jdbcType=DATE}
        and d.cshainno       =  #{employeeId}
    </select>

    <select id="selectNenkyuRuleT" resultType="int">
        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd0110 d
        on
            d.ccompkb  = e.mgd_ccompanyid_ck_fk
        and e.mgd_csparechar1 = d.kei_cde
        and e.mgd_csparechar2 = d.knmei_cde
        and e.mgd_csparechar3 = d.kmkbn_cde
        where
            d.ccompkb        = #{companyId}
        and d.dstart         <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend          >= #{yyyymmdd,jdbcType=DATE}
        and d.cshainno       = #{employeeId}
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck      <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend       >= #{yyyymmdd,jdbcType=DATE}
        and e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
    </select>

    <select id="selectNenkyuRuleT2" resultType="int">
        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd3001 d
        on
            d.ccompkb  = e.mgd_ccompanyid_ck_fk
        and e.mgd_csparechar1 = substr(d.kinmu_cde,'1','1')
        where
            e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
        and d.ccompkb        = #{companyId}
        and d.dstart        <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend          >= #{yyyymmdd,jdbcType=DATE}
        and d.cshainno       = #{employeeId}
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck    <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend       >= #{yyyymmdd,jdbcType=DATE}
        and e.mgd_csparechar2 is null
        and e.mgd_csparechar3 is null

        union all

        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd0110 d
        on
            d.ccompkb  = e.mgd_ccompanyid_ck_fk
        and e.mgd_csparechar1 = d.kei_cde
        where
            d e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
        and d.ccompkb        = #{companyId}
        and d.dstart        <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend          >= #{yyyymmdd,jdbcType=DATE}
        and d.cshainno       = #{employeeId}
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck     <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend       >= #{yyyymmdd,jdbcType=DATE}
        and e.mgd_csparechar2 is null
        and e.mgd_csparechar3 is null
    </select>

    <select id="selectMastGenericDetailDO"
            resultType="jp.smartcompany.job.modules.core.pojo.entity.MastGenericDetailDO">
        select
            mgd_csparechar1,    -- //予備文字列1
            mgd_csparechar2,    -- //予備文字列2
            mgd_csparechar3,    -- //予備文字列3
            mgd_csparechar4,    -- //予備文字列4
            mgd_csparechar5     -- //予備文字列5
            mgd_nsparenum1,     -- //予備数値1
            mgd_nsparenum2,     -- //予備数値2
            mgd_nsparenum3,     -- //予備数値3
            mgd_nsparenum4,     -- //予備数値4
            mgd_nsparenum5,      -- //予備数値5
            mgd_dsparedate1,    -- //予備日付1
            mgd_dsparedate2,    -- //予備日付2
            mgd_dsparedate3,    -- //予備日付3
            mgd_dsparedate4,    -- //予備日付4
            mgd_dsparedate5     -- //予備日付5
        from
            mast_generic_detail
        where
            mgd_ccustomerid = #{customerId}
        and mgd_ccompanyid_ck_fk = #{companyId}
        and mgd_cgenericgroupid = #{wsGroupId}
        and mgd_cgenericdetailid_ck = #{wsDetailId}
        and mgd_clanguage_ck =  #{language}
        and mgd_dstart_ck <![CDATA[<=]]> #{wdKijun,jdbcType=DATE}
        and mgd_dend >= #{wdKijun,jdbcType=DATE}
    </select>


    <select id="selectWorkPattern" resultType="java.lang.String">
        SELECT
        R1.MGD_CDEFAULT_WORK_PATTERN
        FROM
        TMG_V_MGD_WORKERTYPE        R1
        WHERE
        R1.MGD_CCUSTOMERID          =   #{customerId}
        AND     R1.MGD_CCOMPANYID_CK_FK     =   #{companyId}
        AND     R1.MGD_DSTART_CK            <![CDATA[<=]]>  #{wdKijun,jdbcType=DATE}
        AND     R1.MGD_DEND                 >=  #{wdKijun,jdbcType=DATE}
        AND     R1.MGD_CWORKERTYPE          =   #{workerType}
        AND     R1.MGD_CLANGUAGE_CK         =   'ja'
        ;
    </select>


    <select id="selectDispMonthlyItems" resultType="jp.smartcompany.job.modules.tmg.tmgresults.dto.TmgDispItemsDto">
        SELECT
        MGD_CHEADER,
        MGD_CSQL,
        MGD_CCOLUMNKEY
        FROM
        TMG_V_MGD_DISPMONTHLYITEMS
        WHERE
        MGD_CCUSTOMERID          =   #{customerId}
        AND     MGD_CCOMPANYID_CK_FK     =   #{companyId}
        AND     MGD_DSTART_CK            <![CDATA[<=]]>  #{yyyymmdd,jdbcType=DATE}
        AND     MGD_DEND                 >=  #{yyyymmdd,jdbcType=DATE}
        AND     MGD_CLANGUAGE_CK         =   #{language}
        ORDER BY
            MGD_NSEQ
        ;
    </select>
    <select id="selectLedgerSheetList" resultType="jp.smartcompany.job.modules.tmg.tmgledger.vo.LedgerSheetVo">
        SELECT
            MGD_LEDGER_SHEET_ID,
            MGD_LEDGER_SHEET_NAME,
            MGD_OUTPUT_TARGET_TYPE,
            MGD_OUTPUT_TERM_TYPE,
            MGD_PDF_DLFLG,
            MGD_CSV_DLFLG
        FROM
            TMG_V_MGD_LEDGER_SHEET
        WHERE
                MGD_CCUSTOMERID = #{custID}
            AND MGD_CCOMPANYID_CK_FK = #{compCode}
            AND MGD_CLANGUAGE_CK = #{language}
            AND SYSDATE BETWEEN MGD_DSTART_CK
            AND MGD_DEND
        ORDER BY
            MGD_SORT ASC
        ;
    </select>


    <select id="selectDispDailyItems" resultType="jp.smartcompany.job.modules.tmg.tmgresults.dto.TmgDispItemsDto">
        SELECT
        MGD_CHEADER,
        MGD_CSQL,
        MGD_CCOLUMNKEY
        FROM
        TMG_V_MGD_DISPDAILYITEMS
        WHERE
        MGD_CCUSTOMERID          =   #{customerId}
        AND     MGD_CCOMPANYID_CK_FK     =   #{companyId}
        AND     MGD_DSTART_CK            <![CDATA[<=]]>  #{yyyymmdd,jdbcType=DATE}
        AND     MGD_DEND                 >=  #{yyyymmdd,jdbcType=DATE}
        AND     MGD_CLANGUAGE_CK         =   #{language}
        ORDER BY
            MGD_NSEQ;
    </select>


    <select id="selectMasterTmgNtfTypeDispAppList"
            resultType="jp.smartcompany.job.modules.tmg.tmgnotification.vo.mgdNtfTypeDispAppVo">
        SELECT
            G.MGD_CMASTERCODE AS GROUP_ID,
            G.MGD_CGENERICDETAILDESC AS GROUP_NAME,
            T1.MGD_CMASTERCODE AS NTFI_D,
            T1.MGD_CGENERICDETAILDESC AS NTF_NAME,
            T1.MGD_NSPARENUM2 AS VIEW_TYPE,
            T1.MGD_CSPARECHAR3 AS CONFIM_COMMENT,
            T2.MGD_CSPARECHAR3 AS BIKO,
            T2.MGD_NSPARENUM2 AS CONFIRM_FILE
        FROM
            MAST_GENERIC_DETAIL G,
            MAST_GENERIC_DETAIL T1,
            MAST_GENERIC_DETAIL T2
        WHERE
            G.MGD_CCUSTOMERID = #{companyId}
        AND G.MGD_CCOMPANYID_CK_FK = #{companyId}
        AND G.MGD_CGENERICGROUPID = 'TMG_NTFGROUP'
        AND G.MGD_CLANGUAGE_CK = #{language}
        AND G.MGD_DSTART_CK <![CDATA[<=]]>  #{yyyymmdd,jdbcType=DATE}
        AND G.MGD_DEND >= #{yyyymmdd,jdbcType=DATE}
        AND T2.MGD_CCUSTOMERID = G.MGD_CCUSTOMERID
        AND T2.MGD_CCOMPANYID_CK_FK = G.MGD_CCOMPANYID_CK_FK
        AND T2.MGD_CGENERICGROUPID = 'TMG_NTFTYPE2'
        AND T2.MGD_CLANGUAGE_CK = G.MGD_CLANGUAGE_CK
        AND T2.MGD_DSTART_CK <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        AND T2.MGD_DEND >= #{yyyymmdd,jdbcType=DATE}
        AND T2.MGD_CSPARECHAR1 = G.MGD_CMASTERCODE
        AND T1.MGD_CCUSTOMERID = T2.MGD_CCUSTOMERID
        AND T1.MGD_CCOMPANYID_CK_FK = T2.MGD_CCOMPANYID_CK_FK
        AND T1.MGD_CGENERICGROUPID = 'TMG_NTFTYPE'
        AND T1.MGD_CLANGUAGE_CK = T2.MGD_CLANGUAGE_CK
        AND T1.MGD_DSTART_CK <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        AND T1.MGD_DEND >= #{yyyymmdd,jdbcType=DATE}
        AND T1.MGD_CMASTERCODE = T2.MGD_CSPARECHAR2
        ORDER BY
            G.MGD_NSPARENUM1,
            T2.MGD_NSPARENUM1;
    </select>

    <select id="selectGenericDetail" parameterType="java.lang.String" resultType="map">
        ${sql}
    </select>


    <select id="selectNtfDispType" resultType="int">
        SELECT
            MGD_NINPUTCTL
        FROM
            TMG_V_MGD_NTFTYPES
        WHERE
            MGD_CCUSTOMERID=#{customerId}
        AND MGD_CCOMPANYID_CK_FK=#{companyId}
        AND MGD_CLANGUAGE_CK=#{language}
        AND SYSDATE BETWEEN MGD_DSTART_CK AND MGD_DEND
        AND MGD_CNTFTYPE=#{ntfId}
    </select>

    <select id="tmgFConvHhmi2Min" resultType="long">
        SELECT
            TMG_F_CONV_HHMI2MIN(#{hhmi})
        FROM
            dual
    </select>


    <select id="toDayofWeek" parameterType="java.lang.String" resultType="long">
        Select TMG_DAYOFWEEK.TO_DAYOFWEEK(${sql}) FROM DUAL
    </select>


    <select id="selectApprovelLevel" resultType="java.lang.String">
        SELECT MGD_CMASTERCODE FROM MAST_GENERIC_DETAIL
        WHERE MGD_CCUSTOMERID=#{custId}
        AND MGD_CCOMPANYID_CK_FK=#{compId}
        AND MGD_CGENERICGROUPID='TMG_APPROVAL_LEVEL'
        AND MGD_CLANGUAGE_CK=#{language}
        AND MGD_DSTART_CK=#{today}
        AND MGD_DEND=#{today}
        AND MGD_NSPARENUM1=(
        SELECT
        MIN(MGD_NSPARENUM1)
        WHERE
        MAST_GENERIC_DETAIL
        WHERE MGD_CCUSTOMERID=#{custId}
        AND MGD_CCOMPANYID_CK_FK=#{compId}
        AND MGD_CGENERICGROUPID='TMG_APPROVAL_LEVEL'
        AND MGD_CLANGUAGE_CK=#{language}
        AND MGD_DSTART_CK=#{today}
        AND MGD_DEND=#{today}
        <if test="piMode==0">
            AND MGD_NSPARENUM1 > #{approvelLevel}
        </if>

        )

    </select>

    <select id="buildSQLForSelectTmgDispMonthlyItems" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.ItemVO">
        SELECT
            MGD_CHEADER,
            MGD_CSQL,
            MGD_CCOLUMNKEY
        FROM
            TMG_V_MGD_DISPMONTHLYITEMS
        WHERE
            MGD_CCUSTOMERID = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compID}
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> #{targetDate,jdbcType=DATE}
        AND MGD_DEND >=  #{targetDate,jdbcType=DATE}
        ORDER BY
            MGD_NSEQ
    </select>

    <select id="buildSQLForSelectTmgDispDailyItems" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.ItemVO">
        SELECT
            MGD_CHEADER,
            MGD_CSQL,
            MGD_NWIDTH,
            MGD_CCOLUMNID
        FROM
            TMG_V_MGD_DISPDAILYITEMS
        WHERE
            MGD_CCUSTOMERID = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compID}
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> #{targetDate,jdbcType=DATE}
        AND MGD_DEND >=  #{targetDate,jdbcType=DATE}
        ORDER BY
            MGD_NSEQ
    </select>

    <select id="buildSQLForSelectgetMgdAttribute"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.MgdAttributeVO">
        SELECT
            ATTRIBUTE_URL,
            ITEM_NAME,
            CATEGORY_CODE,
            CATEGORY_NAME,
            ITEM_CODE,
            ITEM_TYPE,
            ATTRIBUTE_ADDLIMIT,
            TMG_F_GET_MGD_C(#{categoryCode} ,#{day}, 1,#{custID},#{compCode},#{language}) as MGD_C
        FROM
            TABLE(TMG_F_GET_RESULTATTRIBUTE(#{custID},#{compCode},#{targetUser},#{siteId},#{categoryCode},#{day},#{attribute}))
    </select>

    <select id="buildSQLForSelectgetMgdAttributeEffort"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.MgdAttributeVO">
        SELECT
            ATTRIBUTE_URL,
            ITEM_NAME,
            CATEGORY_CODE,
            CATEGORY_NAME,
            ITEM_CODE,
            ITEM_TYPE
        FROM
            TABLE(TMG_F_GET_RESULTATTRIBUTE(#{custID},#{compCode},#{targetUser},#{siteId},#{categoryCode},#{day},#{attribute}))
        WHERE
            TMG_F_GET_EMPLOYEE_ATTRIBUTE(#{custID} ,#{compCode},#{targetUser},#{month},#{type}) = #{onOff}
    </select>

    <select id="buildSQLSelectGetMgdCsparechar4"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.MgdCsparechar4VO">
        SELECT
        MGD_CMASTERCODE,
        DECODE(MGD_CSPARECHAR5,'0','1','0') AS MGD_CSPARECHAR5 <!--本来は1=出勤日なのだが、JS側で逆に判定してしまっているので、やむなく変換。後で直すべし-->
        FROM
        TABLE(TMG_F_GET_EMPLOYEES_WORKDAY_A(#{custCode},#{compCode},'ja'))
    </select>
    <select id="buildSQLForSelectGenericDetail"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.GenericDetailVO">
        SELECT
            MGD_CMASTERCODE
            ,MGD_CGENERICDETAILDESC
        FROM
            TABLE(
                TMG_SELECT_WORKINGID_R_LIST(
                    #{targetUser},
                    #{day} ,
                    #{custID} ,
                    #{targetComp} ,
                    #{language}
                )
            )
    </select>

    <select id="buildSQLForSelectTmgVMgdMaxLengthCheck" resultType="string">
        SELECT
            MGD_MAX_LENGTH
        FROM
            TMG_V_MGD_MAX_LENGTH_CHECK
        WHERE
            MGD_CCUSTOMERID       = #{custID}
        AND MGD_CCOMPANYID_CK_FK  = #{compID}
        AND MGD_CLANGUAGE_CK      = #{lang}
        AND MGD_DSTART_CK      <![CDATA[<=]]> #{targetDate}
        AND MGD_DEND             >= #{targetDate}
        AND MGD_MASTER_CODE       = #{masterCode}
    </select>

    <select id="buildSQLForSelectgetMgdDescriptions"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.GenericDetailVO">
        SELECT
        MGD_CMASTERCODE
        , MGD_CGENERICDETAILDESC
        FROM
        MAST_GENERIC_DETAIL
        WHERE
        MGD_CCUSTOMERID = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compCode}
        AND MGD_CLANGUAGE_CK = 'ja'
        AND MGD_CGENERICGROUPID = #{groupId}
        AND MGD_DSTART_CK <![CDATA[<=]]>  #{day}
        AND MGD_DEND >= #{day}
        <choose>
            <when test="groupId =='TMG_BUSINESS_TRIP'">
                ORDER BY MGD_CMASTERCODE
            </when>
            <when test="groupId =='TMG_OVERHOURSREASON'">
                ORDER BY MGD_NSPARENUM1
            </when>
            <otherwise>
                ORDER BY MGD_NSPARENUM2
            </otherwise>
        </choose>
    </select>

    <select id="selectMasterTmgNtfType" resultType="jp.smartcompany.job.modules.tmg.tmgnotification.vo.mgdTmgNtfTypeVo">
        SELECT
            G.MGD_CMASTERCODE AS G_MGD_CMASTERCODE,
            G.MGD_CGENERICDETAILDESC AS G_MGD_CGENERICDETAILDESC,
            T1.MGD_CMASTERCODE AS T1_MGD_CMASTERCODE,
            T1.MGD_CGENERICDETAILDESC AS T1_MGD_CGENERICDETAILDESC,
            T1.MGD_NSPARENUM2 AS T1_MGD_NSPARENUM2,
            T1.MGD_CSPARECHAR3 AS T1_MGD_CSPARECHAR3,
            T2.MGD_CSPARECHAR3 AS T2_MGD_CSPARECHAR3,
            T2.MGD_NSPARENUM2 AS T2_MGD_NSPARENUM2,
        (
            SELECT
            TMG_F_GET_MGD_N ( MGD_CSPARECHAR2, to_date( '${baseDate}', 'yyyy/mm/dd' ), 1, T1.MGD_CCUSTOMERID, T1.MGD_CCOMPANYID_CK_FK )
            FROM
            MAST_GENERIC_DETAIL
            WHERE
            MGD_CCUSTOMERID = T1.MGD_CCUSTOMERID
            AND MGD_CCOMPANYID_CK_FK = T1.MGD_CCOMPANYID_CK_FK
            AND MGD_CGENERICGROUPID = 'TMG_NTFAPPROVE_LEVEL'
            AND MGD_CLANGUAGE_CK = '${language}'
            AND MGD_DSTART_CK <![CDATA[<=]]> to_date( '${baseDate}', 'yyyy/mm/dd' )
            AND MGD_DEND >= to_date( '${baseDate}', 'yyyy/mm/dd' )
            AND MGD_CSPARECHAR1 = T1.MGD_CMASTERCODE
        ) AS SPARECHAR2,
        (
            SELECT
            TMG_F_GET_MGD ( MGD_CSPARECHAR2, to_date( '${baseDate}', 'yyyy/mm/dd' ), T1.MGD_CCUSTOMERID, T1.MGD_CCOMPANYID_CK_FK, '${language}')
            FROM
            MAST_GENERIC_DETAIL
            WHERE
            MGD_CCUSTOMERID = T1.MGD_CCUSTOMERID
            AND MGD_CCOMPANYID_CK_FK = T1.MGD_CCOMPANYID_CK_FK
            AND MGD_CGENERICGROUPID = 'TMG_NTFAPPROVE_LEVEL'
            AND MGD_CLANGUAGE_CK = '${language}'
            AND MGD_DSTART_CK <![CDATA[<=]]> to_date( '${baseDate}', 'yyyy/mm/dd' )
            AND MGD_DEND >= to_date( '${baseDate}', 'yyyy/mm/dd' )
            AND MGD_CSPARECHAR1 = T1.MGD_CMASTERCODE
        ) AS GENERICDETAILDESC
        FROM
            MAST_GENERIC_DETAIL G,
            MAST_GENERIC_DETAIL T1,
            MAST_GENERIC_DETAIL T2
        WHERE
            G.MGD_CCUSTOMERID = '${custId}'
        AND G.MGD_CCOMPANYID_CK_FK =  '${compId}'
        AND G.MGD_CGENERICGROUPID = 'TMG_NTFGROUP'
        AND G.MGD_CLANGUAGE_CK =  '${language}'
        AND G.MGD_DSTART_CK <![CDATA[<=]]> to_date( '${baseDate}', 'yyyy/mm/dd' )
        AND G.MGD_DEND >= to_date( '${baseDate}', 'yyyy/mm/dd' )
        AND T2.MGD_CCUSTOMERID = G.MGD_CCUSTOMERID
        AND T2.MGD_CCOMPANYID_CK_FK = G.MGD_CCOMPANYID_CK_FK
        AND T2.MGD_CGENERICGROUPID = 'TMG_NTFTYPE2'
        AND T2.MGD_CLANGUAGE_CK = G.MGD_CLANGUAGE_CK
        AND T2.MGD_DSTART_CK <![CDATA[<=]]> to_date( '${baseDate}', 'yyyy/mm/dd' )
        AND T2.MGD_DEND >= to_date( '${baseDate}', 'yyyy/mm/dd' )
        AND T2.MGD_CSPARECHAR1 = G.MGD_CMASTERCODE
        AND T1.MGD_CCUSTOMERID = T2.MGD_CCUSTOMERID
        AND T1.MGD_CCOMPANYID_CK_FK = T2.MGD_CCOMPANYID_CK_FK
        AND T1.MGD_CGENERICGROUPID = 'TMG_NTFTYPE'
        AND T1.MGD_CLANGUAGE_CK = T2.MGD_CLANGUAGE_CK
        AND T1.MGD_DSTART_CK <![CDATA[<=]]> to_date( '${baseDate}', 'yyyy/mm/dd' )
        AND T1.MGD_DEND >= to_date( '${baseDate}', 'yyyy/mm/dd' )
        AND T1.MGD_CMASTERCODE = T2.MGD_CSPARECHAR2
        AND T1.MGD_CMASTERCODE IN (
            SELECT
                MGD_CSPARECHAR2
            FROM
                MAST_GENERIC_DETAIL R
            WHERE
                R.MGD_CCUSTOMERID = T1.MGD_CCUSTOMERID
            AND R.MGD_CCOMPANYID_CK_FK = T1.MGD_CCOMPANYID_CK_FK
            AND R.MGD_CGENERICGROUPID = 'TMG_NTF_RELATION'
            AND R.MGD_CLANGUAGE_CK = T1.MGD_CLANGUAGE_CK
            AND R.MGD_DSTART_CK <![CDATA[<=]]> to_date( '${baseDate}', 'yyyy/mm/dd' )
            AND R.MGD_DEND >= to_date( '${baseDate}', 'yyyy/mm/dd' )
            AND R.MGD_CSPARECHAR1 = '${workType}'
            AND R.MGD_NSPARENUM1 = 1
        )
        AND INSTR( T1.MGD_CSPARECHAR5, '${siteId}' ) > 0
        ORDER BY
            G.MGD_NSPARENUM1,
            T2.MGD_NSPARENUM1
        ;
    </select>

    <select id="selectMasterNtfProp" resultType="jp.smartcompany.job.modules.tmg.tmgnotification.vo.mgdNtfPropVo">
        SELECT
            MGD_NTFTYPEID,
            MGD_PROPID,
            MGD_DISPNAME
        FROM
            TMG_V_MGD_NTF_PROP
        WHERE
            MGD_CCUSTOMERID = #{custId}
            AND MGD_CCOMPANYID_CK_FK = #{compId}
            AND SYSDATE BETWEEN MGD_DSTART_CK
            AND MGD_DEND
            AND MGD_CLANGUAGE_CK = #{language}
        ORDER BY
            MGD_NTFTYPEID,
            MGD_PROPID;
    </select>

    <select id="selectSysdate" resultType="java.lang.String">
        SELECT TO_CHAR(SYSDATE, 'yyyy/mm/dd') FROM DUAL;
    </select>

    <select id="selectYear" resultType="int">
        SELECT
            TMG_F_GET_THE_YEAR(TRUNC(SYSDATE),#{custId},#{compId})
        FROM
            DUAL
            ;
    </select>


    <select id="selectDate" resultType="jp.smartcompany.job.modules.tmg.tmgnotification.dto.dateDto">
        SELECT TO_CHAR(TMG_F_GET_THE_YEARZONE(${year},0,'${baseDate}','${custId}','${compId}')) AS START_DATE,
               TO_CHAR(TMG_F_GET_THE_YEARZONE(${year},1,'${baseDate}','${custId}','${compId}')) AS END_DATE,
               '${baseDate}' AS BASE_DATE
        FROM
            DUAL
        ;
    </select>
    <select id="buildSQLForSelectDate" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.TodayThisMonthVO">
        SELECT
            to_char(trunc(sysdate), 'yyyy/MM/dd') as TODAY,
            to_char(trunc(sysdate, 'mm'), 'yyyy/MM/dd') AS THIS_MONTH
        FROM DUAL
    </select>
    <select id="selectLimit" resultType="java.lang.String">
        SELECT
            MGD_NTHRESHOLD1
        FROM
            TMG_V_MGD_LIMIT
        WHERE      MGD_CCUSTOMERID      = #{custId}
        AND MGD_CCOMPANYID_CK_FK = #{compId}
        AND MGD_DSTART_CK       <![CDATA[<=]]> #{baseDate}
        AND MGD_DEND            >= #{baseDate}
        AND MGD_CLANGUAGE_CK     = #{sLang}
        AND MGD_CMASTERCODE      = #{masterCode}
        ;
    </select>
    <select id="selectDispOverTimeItems" resultType="jp.smartcompany.job.modules.tmg.overtimeInstruct.dto.DispOverTimeItemsDto">
        SELECT
            MGD_CHEADER,
            MGD_CSQL,
            MGD_NWIDTH,
            MGD_CCOLUMNID
        FROM
            TMG_V_MGD_DISPOVERTIMEITEMS
        WHERE
            MGD_CCUSTOMERID = #{custId}
        AND MGD_CCOMPANYID_CK_FK = #{compID}
         AND MGD_CLANGUAGE_CK = #{language}
        AND MGD_DSTART_CK       <![CDATA[<=]]> #{baseDate}
        AND MGD_DEND            >= #{baseDate}
        ORDER BY
            MGD_NSEQ
    </select>
    <select id="buildSQLForSelectTmgDisppermstatlist"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.ItemVO">
        SELECT
            MGD_CHEADER,
            MGD_CKEYWORD,
            MGD_CSQL,
            MGD_NWIDTH,
            MGD_CDISPSTYLE,
            'COLUMNID' || ROWNUM AS TEMP_COLUMNID
        FROM
            TMG_V_MGD_DISPPERMSTATLIST
        WHERE
            MGD_CCUSTOMERID      = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compID}
        AND MGD_CLANGUAGE_CK     = #{lang}
        AND MGD_DSTART_CK       <![CDATA[<=]]> SYSDATE
        AND MGD_DEND            >= SYSDATE
        ORDER BY MGD_NSEQ
    </select>
    <select id="buildSQLForSelectTmgDeptstatcsvitems"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.ItemVO">
        SELECT
            MGD_CHEADER,
            MGD_CSQL || ' AS ' || 'COL' || MGD_NSEQ AS MGD_CSQL,
            'COL' || MGD_NSEQ AS TEMP_COLUMNID
        FROM
            TMG_V_MGD_DEPTSTATCSVITEMS
        WHERE
            MGD_CCUSTOMERID = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compID}
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> #{targetDate}
        AND MGD_DEND >= #{targetDate}
        ORDER BY
            MGD_NSEQ
    </select>
    <select id="buildSQLForSelectTmgDispdeptStatlist"
            resultType="jp.smartcompany.job.modules.tmg.deptstatlist.dto.DispItemsDto">
        SELECT
            MGD_CITEMNAME,
            MGD_CSQL || ' AS ' || 'COL' || MGD_NSEQ AS MGD_CSQL,
            MGD_CTOTALSQL || ' AS ' || 'COL' || MGD_NSEQ AS MGD_CTOTALSQL,
            MGD_NWIDTH,
            'COL' || MGD_NSEQ AS TEMP_COLUMNID
        FROM
            TMG_V_MGD_DISPDEPTSTATLIST
        WHERE
            MGD_CCUSTOMERID = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compID}
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> #{targetDate}
        AND MGD_DEND >= #{targetDate}
        ORDER BY
            MGD_NSEQ
    </select>

    <select id="selectTargetFiscalYear" resultType="jp.smartcompany.job.modules.tmg.monthlyoutput.dto.TargetDateLimit">
        SELECT
            TO_CHAR(
                TMG_F_GET_THE_YEARZONE (
                    TMG_F_GET_THE_YEAR ( TRUNC( TO_DATE( #{baseDate}, 'YYYY/MM/DD' ) ), #{custID}, #{compID} ),
                    0,
                    TRUNC( TO_DATE( #{baseDate}, 'YYYY/MM/DD' ) ),
                    #{custID},
                    #{compID}
                ),
                'YYYY/MM/DD'
            ),
            TO_CHAR(
                TMG_F_GET_THE_YEARZONE (
                    TMG_F_GET_THE_YEAR ( TRUNC( TO_DATE( #{baseDate}, 'YYYY/MM/DD' ) ), #{custID}, #{compID} ),
                    1,
                    TRUNC( TO_DATE( #{baseDate}, 'YYYY/MM/DD' ) ),
                    #{custID},
                    #{compID}
                ),
                'YYYY/MM/DD'
            )
        FROM
            DUAL
    </select>

    <select id="selectTmgMoDLType" resultType="jp.smartcompany.job.modules.tmg.monthlyoutput.vo.MoDLTypeVo">
        SELECT
            MGD_CDLTYPEID,
            MGD_CDLTYPENAME
        FROM
            TMG_V_MGD_MO_DLTYPE
        WHERE
            MGD_CCUSTOMERID = #{custId}
        AND MGD_CCOMPANYID_CK_FK = #{compId}
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> #{date}
        AND MGD_DEND >= #{date}
        ORDER　BY
            MGD_NSEQ;
    </select>

    <select id="selectTmgMoTableFunction" resultType="jp.smartcompany.job.modules.tmg.monthlyoutput.vo.TmgMoTableFunctionVo">
        SELECT
            MGD_CFILETYPENAME,
            MGD_CFUNCTIONID
        FROM
            TMG_V_MGD_MOTABLEFUNCTION
        WHERE
            MGD_CCUSTOMERID = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compID}
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> #{date}
        AND MGD_DEND >= #{date}
        AND MGD_CMASTERCODE = #{masterCD}
    </select>
    <select id="selectTmgMoRetroLayout" resultType="java.lang.String">
        SELECT
            MGD_CSQL
        FROM
            TMG_V_MGD_MORETRO_LAYOUT
        WHERE
            MGD_CCUSTOMERID = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compID}
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> #{date}
        AND MGD_DEND >= #{date}
        AND MGD_CDLTYPEID = #{dlTypeID}
        ORDER BY
            MGD_NSEQ;
    </select>
    <select id="selectTmgMoCsvFileName" resultType="java.lang.String">
        SELECT  TMG_F_GET_MO_CSVFILENAME(#{targetDate},#{empId},#{dlTypeID},#{custId},#{compId})
        FROM dual;
    </select>
    <select id="selectEmpAttsetDisp" resultType="jp.smartcompany.job.modules.tmg.empattrsetting.vo.EmpAttsetDispVo">
        SELECT
            MGD_CITEMNAME,
            MGD_NDISPFLG,
            MGD_NEDITFLG,
            MGD_NWIDTH
        FROM
            TMG_V_MGD_EMPATTSET_DISP
        WHERE
            MGD_CCUSTOMERID =#{custId}
        AND  MGD_CCOMPANYID_CK_FK = #{compId}
        AND  MGD_DSTART_CK <![CDATA[<=]]> #{baseDate}
        AND  MGD_DEND >= #{baseDate}
        AND  MGD_CLANGUAGE_CK = #{lang}
        ORDER BY
            MGD_NSEQ
            ;
    </select>
    <select id="selectMgdTimeLimit" resultType="jp.smartcompany.job.modules.tmg.empattrsetting.vo.MgdTimeLimitVo">
        SELECT
            MGD_NSPARENUM1 AS ALLMINUTES,
            trunc(MGD_NSPARENUM1 / 60) AS HOURS,
            mod(MGD_NSPARENUM1, 60)  AS MINUTES
        FROM
            MAST_GENERIC_DETAIL
        WHERE  MGD_CMASTERCODE = 'TMG_LEGAL_HOURS|DAY';


    </select>
    <select id="selectWeekDaysCom" resultType="java.lang.String">

        select
            TMG_F_GET_TMG_WEEKDAYS_COM ( #{custId}, #{compId},#{baseDate},#{daysOfWeeks,jdbcType=BIGINT},#{allMinutes,jdbcType=BIGINT}  )
        from dual
    </select>
    <select id="selectDateOfEmploymentWithMGD" resultType="jp.smartcompany.job.modules.tmg.empattrsetting.vo.EmploymentWithMgdVo">
        SELECT
            TO_CHAR( MGD_DSTART_CK, 'yyyy/mm/dd' ) AS DSTART,
            DECODE( TO_CHAR( MGD_DEND, 'yyyy/mm/dd' ), '2222/12/31', '', TO_CHAR( MGD_DEND, 'yyyy/mm/dd' ) ) AS DEND,
            TO_CHAR( MGD_DEND, 'yyyy/mm/dd' ) AS DEND,
            TO_CHAR( MGD_DSPAREDATE1, 'yyyy/mm/dd' ) AS BEGINDATE
        FROM
            MAST_GENERIC_DETAIL
        WHERE
                MGD_CCUSTOMERID = #{custId}
            AND MGD_CCOMPANYID_CK_FK = #{compId}
            AND MGD_CLANGUAGE_CK = #{lang}
            AND MGD_CGENERICGROUPID = #{groupId}
            AND MGD_CGENERICDETAILID_CK = #{empId}
        ORDER BY
            MGD_DSTART_CK DESC
        ;
    </select>
    <select id="buildSQLForSelectSimulationMaster"
            resultType="jp.smartcompany.job.modules.tmg.tmgifsimulation.dto.SimulationMasterDto">
        SELECT
            MGD_EXCLUDECOND_TYPE,
            MGD_EXCLUDECOND_FROM,
            MGD_EXCLUDECOND_TO,
            TO_CHAR(MGD_DSTART_CK, 'yyyy/mm/dd') AS MGD_DSTART_CK,
            TO_CHAR(MGD_DEND, 'yyyy/mm/dd') AS MGD_DEND
        FROM
            TMG_V_MGD_EXCLUDECOND4THW
        WHERE
            MGD_CCUSTOMERID      = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compCode}
        AND MGD_CLANGUAGE_CK     = #{language}
        AND MGD_CGENERICGROUPID  = #{groupId}
        ORDER BY
            MGD_DSTART_CK,
            MGD_EXCLUDECOND_TYPE,
            MGD_EXCLUDECOND_FROM
    </select>
    <select id="buildSQLForSelectSumSimulationMaster" resultType="java.lang.Integer">
        SELECT
           COUNT(*)
        FROM
           TMG_V_MGD_EXCLUDECOND4THW
        WHERE
           MGD_CCUSTOMERID      = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compCode}
        AND MGD_CLANGUAGE_CK     = #{language}
        AND MGD_CGENERICGROUPID  = #{groupId}
        GROUP BY
           MGD_DSTART_CK,
           MGD_DEND
    </select>
    <select id="buildSQLForSelectExcludecondCtl"
            resultType="jp.smartcompany.job.modules.tmg.tmgifsimulation.dto.ExcludecondCtlDto">
        SELECT
            MGD_EXCLUDECOND_TYPE,
            MGD_EXCLUDECOND_TYPE_NAME,
            MGD_EXCLUDECOND_LENGTH,
            MGD_EXCLUDECOND_GID
        FROM
            TMG_V_MGD_EXCLUDECOND_CTL
        WHERE
            MGD_CCUSTOMERID           = #{custID}
        AND MGD_CCOMPANYID_CK_FK      = #{compCode}
        AND MGD_DSTART_CK            <![CDATA[ <= ]]> TRUNC(SYSDATE)
        AND MGD_DEND                 >= TRUNC(SYSDATE)
        AND MGD_CLANGUAGE_CK          = #{language}
        AND MGD_EXCLUDECOND_EDIT_FLG  = 'TMG_ONOFF|1'
        ORDER BY
        MGD_EXCLUDECOND_TYPE
    </select>
</mapper>