<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.MastGenericDetailMapper">




    <select id="tmgFExcludeTerm" resultType="jp.smartcompany.job.modules.tmg.paidholiday.dto.TmgTermRow" >
        with PL_TERM_A as (SELECT
        NULL::TEXT AS CTYPE,
        #{startDate,jdbcType=DATE} ::Date as DOPEN,
        #{endDate,jdbcType=DATE} ::Date as DCLOSE,
        NULL ::TEXT as CVALUE_A,
        NULL ::TEXT as CVALUE_B),
        PL_TERM_B as (SELECT
        NULL                    AS  CTYPE
        ,   R1.MGD_DSTART_CK        AS  DOPEN
        ,   R1.MGD_DEND             AS  DCLOSE
        ,   NULL                    AS  CVALUE_A
        ,   NULL                    AS  CVALUE_B
        FROM
        TMG_V_MGD_IGNORE_NYKLOSE R1
        WHERE
        R1.MGD_CCUSTOMERID              =   #{customerId}
        AND     R1.MGD_CCOMPANYID_CK_FK         =   #{companyId})


        SELECT
        CASE CTYPE WHEN #{csTypeNull} THEN '' ELSE CTYPE END as CTYPE,
        DOPEN,
        DCLOSE,
        CVALUE_A,
        CVALUE_B )

        FROM (
        SELECT DISTINCT
        t.CTYPE, t.DOPEN, t.DCLOSE, a.CVALUE_A AS CVALUE_A, a.CVALUE_B AS CVALUE_B
        FROM
        (
        SELECT -- 分割期間のリストとして取得
        CASE WHEN #{checkCtype} = 1 THEN R.CTYPE ELSE #{csTypeNull} END AS CTYPE,
        LAG(R.DDATE) OVER(PARTITION BY CASE WHEN #{checkCtype} = 1 THEN R.CTYPE ELSE #{csTypeNull} END ORDER BY R.DDATE) AS DOPEN,
        R.DDATE - 1                                            AS DCLOSE
        FROM
        (   -- 分割の基点となる日付リストを取得
        SELECT coalesce(CTYPE,#{csTypeNull}) CTYPE, DOPEN      AS DDATE FROM PL_TERM_A
        UNION SELECT coalesce(CTYPE,#{csTypeNull}) CTYPE, DOPEN      AS DDATE FROM PL_TERM_B
        UNION SELECT coalesce(CTYPE,#{csTypeNull}) CTYPE, DCLOSE + 1 AS DDATE FROM PL_TERM_A
        UNION SELECT coalesce(CTYPE,#{csTypeNull}) CTYPE, DCLOSE + 1 AS DDATE FROM PL_TERM_B
        ) R
        ) t,
        TABLE( PL_TERM_A ) a
        WHERE
        ((#{checkCtype} = 1 AND t.CTYPE = coalesce(a.CTYPE,#{csTypeNull})) OR (#{checkCtype} = 0))
        AND t.DOPEN     >= a.DOPEN
        AND t.DOPEN     <![CDATA[<=]]> a.DCLOSE
        AND NOT EXISTS (
        SELECT 1 FROM ( SELECT coalesce(CTYPE,#{csTypeNull}) CTYPE,DOPEN,DCLOSE FROM PL_TERM_B ) b
        WHERE
        ((#{checkCtype} = 1 AND b.CTYPE = t.CTYPE) OR (#{checkCtype} = 0))
        AND t.DOPEN BETWEEN b.DOPEN AND b.DCLOSE
        )
        )
        ORDER BY CTYPE, DOPEN
    </select>

    <select id="selectNenkyuRuleH" resultType="int" >
        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd3001 d
        on
            e.mgd_ccompanyid_ck_fk =  d.ccompkb
        and e.mgd_csparechar1 = substr(d.kinmu_cde,'1','1')
        and e.mgd_csparechar2 = d.hjksyk_misy_cde
        and e.mgd_csparechar3 = substr(d.kinmu_cde,'2','1')
        where
            d.ccompkb        = #{companyId}
        and d.dstart        <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend          >= #{yyyymmdd,jdbcType=DATE}
        and d.cshainno       = #{employeeId}
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck     <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend       >= #{yyyymmdd,jdbcType=DATE}
        and e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
    </select>

    <select id="selectNenkyuRuleH2" resultType="int" >
        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd3001 d
        on d.ccompkb  = e.mgd_ccompanyid_ck_fk
        and e.mgd_csparechar1 = substr(d.kinmu_cde,'1','1')
        and e.mgd_csparechar2 is null
        and e.mgd_csparechar3 is null
        where
            e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend >= #{yyyymmdd,jdbcType=DATE}
        and d.ccompkb = #{companyId}
        and d.dstart <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend >= #{yyyymmdd,jdbcType=DATE}
        and d.cshainno = #{employeeId}

        union all

        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd0110 d
        on d.ccompkb  = e.mgd_ccompanyid_ck_fk
        and e.mgd_csparechar1 = d.kei_cde
        and e.mgd_csparechar2 is null
        and e.mgd_csparechar3 is null
        where
            e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck     <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend       >= #{yyyymmdd}
        and d.ccompkb        = #{companyId}
        and d.dstart        <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend          >=  #{yyyymmdd,jdbcType=DATE}
        and d.cshainno       =  #{employeeId}
    </select>

    <select id="selectNenkyuRuleT" resultType="int" >
        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd0110 d
        on
            d.ccompkb  = e.mgd_ccompanyid_ck_fk
        and e.mgd_csparechar1 = d.kei_cde
        and e.mgd_csparechar2 = d.knmei_cde
        and e.mgd_csparechar3 = d.kmkbn_cde
        where
        and d.ccompkb        = #{companyId}
        and d.dstart         <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend          >= #{yyyymmdd,jdbcType=DATE}
        and d.cshainno       = #{employeeId}
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck      <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend       >= #{yyyymmdd,jdbcType=DATE}
        and e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
    </select>

    <select id="selectNenkyuRuleT2" resultType="int" >
        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd3001 d
        on
            d.ccompkb  = e.mgd_ccompanyid_ck_fk
        and e.mgd_csparechar1 = substr(d.kinmu_cde,'1','1')
        where
            e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
        and d.ccompkb        = #{companyId}
        and d.dstart        <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend          >= #{yyyymmdd,jdbcType=DATE}
        and d.cshainno       = #{employeeId}
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck    <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend       >= #{yyyymmdd,jdbcType=DATE}
        and e.mgd_csparechar2 is null
        and e.mgd_csparechar3 is null

        union all

        select
            e.mgd_nsparenum1
        from
            mast_generic_detail e
        inner join
            dt_djnd0110 d
        on
            d.ccompkb  = e.mgd_ccompanyid_ck_fk
        and e.mgd_csparechar1 = d.kei_cde
        where
            d e.mgd_cgenericgroupid = 'TMG_WORKERTYPE_MA'
        and d.ccompkb        = #{companyId}
        and d.dstart        <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and d.dend          >= #{yyyymmdd,jdbcType=DATE}
        and d.cshainno       = #{employeeId}
        and e.mgd_ccustomerid = #{customerId}
        and e.mgd_dstart_ck     <![CDATA[<=]]> #{yyyymmdd,jdbcType=DATE}
        and e.mgd_dend       >= #{yyyymmdd,jdbcType=DATE}
        and e.mgd_csparechar2 is null
        and e.mgd_csparechar3 is null
    </select>

    <select id="selectMastGenericDetailDO" resultType="jp.smartcompany.job.modules.core.pojo.entity.MastGenericDetailDO">
        select
            mgd_csparechar1,    -- //予備文字列1
            mgd_csparechar2,    -- //予備文字列2
            mgd_csparechar3,    -- //予備文字列3
            mgd_csparechar4,    -- //予備文字列4
            mgd_csparechar5     -- //予備文字列5
            mgd_nsparenum1,     -- //予備数値1
            mgd_nsparenum2,     -- //予備数値2
            mgd_nsparenum3,     -- //予備数値3
            mgd_nsparenum4,     -- //予備数値4
            mgd_nsparenum5,      -- //予備数値5
            mgd_dsparedate1,    -- //予備日付1
            mgd_dsparedate2,    -- //予備日付2
            mgd_dsparedate3,    -- //予備日付3
            mgd_dsparedate4,    -- //予備日付4
            mgd_dsparedate5     -- //予備日付5
        from
            mast_generic_detail
        where
            mgd_ccustomerid = #{customerId}
        and mgd_ccompanyid_ck_fk = #{companyId}
        and mgd_cgenericgroupid = #{wsGroupId}
        and mgd_cgenericdetailid_ck = #{wsDetailId}
        and mgd_clanguage_ck =  #{language}
        and mgd_dstart_ck <![CDATA[<=]]> #{wdKijun,jdbcType=DATE}
        and mgd_dend >= #{wdKijun,jdbcType=DATE}
    </select>


    <select id="selectWorkPattern" resultType="java.lang.String">
        SELECT
        R1.MGD_CDEFAULT_WORK_PATTERN
        FROM
        TMG_V_MGD_WORKERTYPE        R1
        WHERE
        R1.MGD_CCUSTOMERID          =   #{customerId}
        AND     R1.MGD_CCOMPANYID_CK_FK     =   #{companyId}
        AND     R1.MGD_DSTART_CK            <![CDATA[<=]]>  #{wdKijun,jdbcType=DATE}
        AND     R1.MGD_DEND                 >=  #{wdKijun,jdbcType=DATE}
        AND     R1.MGD_CWORKERTYPE          =   #{workerType}
        AND     R1.MGD_CLANGUAGE_CK         =   'ja'
        ;
    </select>

    <select id="buildSQLForSelectTmgDispMonthlyItems" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.ItemVO">
        SELECT
            MGD_CHEADER,
            MGD_CSQL,
            MGD_CCOLUMNKEY
        FROM
            TMG_V_MGD_DISPMONTHLYITEMS
        WHERE
            MGD_CCUSTOMERID = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compID}
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> #{targetDate,jdbcType=DATE}
        AND MGD_DEND >=  #{targetDate,jdbcType=DATE}
        ORDER BY
            MGD_NSEQ
    </select>

    <select id="buildSQLForSelectTmgDispDailyItems" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.ItemVO">
        SELECT
            MGD_CHEADER,
            MGD_CSQL,
            MGD_NWIDTH,
            MGD_CCOLUMNID
        FROM
            TMG_V_MGD_DISPDAILYITEMS
        WHERE
            MGD_CCUSTOMERID = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compID}
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> #{targetDate,jdbcType=DATE}
        AND MGD_DEND >=  #{targetDate,jdbcType=DATE}
        ORDER BY
            MGD_NSEQ
    </select>

    <select id="buildSQLForSelectgetMgdAttribute"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.MgdAttributeVO">
        SELECT
            ATTRIBUTE_URL,
            ITEM_NAME,
            CATEGORY_CODE,
            CATEGORY_NAME,
            ITEM_CODE,
            ITEM_TYPE,
            ATTRIBUTE_ADDLIMIT,
            TMG_F_GET_MGD_C(#{categoryCode} ,#{day}, 1,#{custID},#{compCode},#{language}) as MGD_C
        FROM
            TABLE(TMG_F_GET_RESULTATTRIBUTE(#{custID},#{compCode},#{targetUser},#{siteId},#{categoryCode},#{day},#{attribute}))
    </select>

    <select id="buildSQLForSelectgetMgdAttributeEffort"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.MgdAttributeVO">
        SELECT
            ATTRIBUTE_URL,
            ITEM_NAME,
            CATEGORY_CODE,
            CATEGORY_NAME,
            ITEM_CODE,
            ITEM_TYPE
        FROM
            TABLE(TMG_F_GET_RESULTATTRIBUTE(#{custID},#{compCode},#{targetUser},#{siteId},#{categoryCode},#{day},#{attribute}))
        WHERE
            TMG_F_GET_EMPLOYEE_ATTRIBUTE(#{custID} ,#{compCode},#{targetUser},#{month},#{type}) = #{onOff}
    </select>

    <select id="buildSQLSelectGetMgdCsparechar4"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.MgdCsparechar4VO">
        SELECT
            MGD_CMASTERCODE,
            DECODE(MGD_CSPARECHAR5,'0','1','0') AS  MGD_CSPARECHAR5 <!--本来は1=出勤日なのだが、JS側で逆に判定してしまっているので、やむなく変換。後で直すべし-->
        FROM
            TABLE(TMG_F_GET_EMPLOYEES_WORKDAY_A(#{custCode},#{compCode},'ja'))
    </select>
    <select id="buildSQLForSelectGenericDetail"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.GenericDetailVO">
        SELECT
            MGD_CMASTERCODE
            ,MGD_CGENERICDETAILDESC
        FROM
            TABLE(
                TMG_SELECT_WORKINGID_R_LIST(
                    #{targetUser},
                    #{day} ,
                    #{custID} ,
                    #{targetComp} ,
                    #{language}
                )
            )
    </select>

    <select id="buildSQLForSelectTmgVMgdMaxLengthCheck" resultType="string">
        SELECT
            MGD_MAX_LENGTH
        FROM
            TMG_V_MGD_MAX_LENGTH_CHECK
        WHERE
            MGD_CCUSTOMERID       = #{custID}
        AND MGD_CCOMPANYID_CK_FK  = #{compID}
        AND MGD_CLANGUAGE_CK      = #{lang}
        AND MGD_DSTART_CK      <![CDATA[<=]]> #{targetDate}
        AND MGD_DEND             >= #{targetDate}
        AND MGD_MASTER_CODE       = #{masterCode}
    </select>

    <select id="buildSQLForSelectgetMgdDescriptions" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.GenericDetailVO">
        SELECT
            MGD_CMASTERCODE
            , MGD_CGENERICDETAILDESC
        FROM
            MAST_GENERIC_DETAIL
        WHERE
            MGD_CCUSTOMERID = #{custID}
        AND MGD_CCOMPANYID_CK_FK = #{compCode}
        AND MGD_CLANGUAGE_CK = 'ja'
        AND MGD_CGENERICGROUPID = #{groupId}
        AND MGD_DSTART_CK <![CDATA[<=]]>  #{day}
        AND MGD_DEND >=  #{day}
        <choose>
            <when test="groupId =='TMG_BUSINESS_TRIP'">
                ORDER BY MGD_CMASTERCODE
            </when>
            <when test="groupId =='TMG_OVERHOURSREASON'">
                ORDER BY MGD_NSPARENUM1
            </when>
            <otherwise>
                ORDER BY MGD_NSPARENUM2
            </otherwise>
        </choose>
    </select>


</mapper>