<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgAlertmsgMapper">

    <select id="selectAlert" resultType="jp.smartcompany.job.modules.tmg.monthlyoutput.vo.AlertVo">
        SELECT
		     M.SECTION_NICK
		    ,M.EMP_NAME
		    ,M.YYYYMMDD
		    ,M.TAM_MESSAGE
		    ,M.ALERT_COUNT
	    FROM(
                SELECT
                    TMG_F_GET_MO(M.HD_CSECTIONID_FK, LAST_DAY(M.TMO_DYYYYMM), 1, M.TMO_CCUSTOMERID, M.TMO_CCOMPANYID, #{lang}) AS SECTION_NICK
                   ,TMG_F_GET_ME_NAME(M.TMO_CEMPLOYEEID, M.HD_DSTARTDATE_CK, 0, M.TMO_CCUSTOMERID, M.TMO_CCOMPANYID) AS EMP_NAME
                   ,TO_CHAR(M.TAM_DDATE, 'yyyy/MM/dd') AS YYYYMMDD
                   ,M.TAM_MESSAGE
                   ,ROWNUM AS NUM
                   ,MAX(ROWNUM) KEEP ( DENSE_RANK LAST ORDER BY ROWNUM) OVER() AS ALERT_COUNT
                FROM(
                    SELECT
                        *
                    FROM
                        TMG_ALERTMSG A
                       ,(SELECT * FROM TABLE(TMG_SELECT_MONTHLYOUTPUTLIST(#{cust},#{comp},#{secid},#{dyyyymm},#{lang}))) M
                    WHERE
                            M.SALARY_EXCEPT   = 0
                        AND A.TAM_CCUSTOMERID = M.TMO_CCUSTOMERID
                        AND A.TAM_CCOMPANYID  = M.TMO_CCOMPANYID
                        AND A.TAM_CEMPLOYEEID = M.TMO_CEMPLOYEEID
                        AND A.TAM_DYYYYMM     = M.TMO_DYYYYMM
                    ORDER BY
                        M.HD_CSECTIONID_FK
                       ,M.TMO_CEMPLOYEEID
                ) M
        ) M
	    WHERE
            M.NUM BETWEEN #{numStart,jdbcType=BIGINT}  AND  #{numEnd,jdbcType=BIGINT}
            ;

    </select>
</mapper>