<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgAttendanceBookMapper">

    <!-- 出勤簿resultMap -->
    <resultMap id="AttendanceBookMap" type="jp.smartcompany.job.modules.tmg.attendanceBook.dto.AttendanceBookDTO">
        <result column="tmaCcustomerid" property="tmaCcustomerid" javaType="java.lang.String"/>
        <result column="tmaCcompanyid" property="tmaCcompanyid" javaType="java.lang.String"/>
        <result column="tmaCemployeeid" property="tmaCemployeeid" javaType="java.lang.String"/>
        <result column="dyyyy" property="dyyyy" javaType="java.lang.String"/>
        <result column="dmm" property="dmm" javaType="java.lang.String"/>
        <result column="tma_dyyyymm" property="tmaDyyyymm" javaType="java.lang.String"/>
        <result column="tma_worktypeid01" property="tmaWorktypeid01" javaType="java.lang.String"/>
        <result column="tma_workcontent01" property="tmaWorkcontent01" javaType="java.lang.String"/>
        <result column="tma_worktypeid02" property="tmaWorktypeid02" javaType="java.lang.String"/>
        <result column="tma_workcontent02" property="tmaWorkcontent02" javaType="java.lang.String"/>
        <result column="tma_worktypeid03" property="tmaWorktypeid03" javaType="java.lang.String"/>
        <result column="tma_workcontent03" property="tmaWorkcontent03" javaType="java.lang.String"/>
        <result column="tma_worktypeid04" property="tmaWorktypeid04" javaType="java.lang.String"/>
        <result column="tma_workcontent04" property="tmaWorkcontent04" javaType="java.lang.String"/>
        <result column="tma_worktypeid05" property="tmaWorktypeid05" javaType="java.lang.String"/>
        <result column="tma_workcontent05" property="tmaWorkcontent05" javaType="java.lang.String"/>
        <result column="tma_worktypeid06" property="tmaWorktypeid06" javaType="java.lang.String"/>
        <result column="tma_workcontent06" property="tmaWorkcontent06" javaType="java.lang.String"/>
        <result column="tma_worktypeid07" property="tmaWorktypeid07" javaType="java.lang.String"/>
        <result column="tma_workcontent07" property="tmaWorkcontent07" javaType="java.lang.String"/>
        <result column="tma_worktypeid08" property="tmaWorktypeid08" javaType="java.lang.String"/>
        <result column="tma_workcontent08" property="tmaWorkcontent08" javaType="java.lang.String"/>
        <result column="tma_worktypeid09" property="tmaWorktypeid09" javaType="java.lang.String"/>
        <result column="tma_workcontent09" property="tmaWorkcontent09" javaType="java.lang.String"/>
        <result column="tma_worktypeid10" property="tmaWorktypeid10" javaType="java.lang.String"/>
        <result column="tma_workcontent10" property="tmaWorkcontent10" javaType="java.lang.String"/>
        <result column="tma_worktypeid11" property="tmaWorktypeid11" javaType="java.lang.String"/>
        <result column="tma_workcontent11" property="tmaWorkcontent11" javaType="java.lang.String"/>
        <result column="tma_worktypeid12" property="tmaWorktypeid12" javaType="java.lang.String"/>
        <result column="tma_workcontent12" property="tmaWorkcontent12" javaType="java.lang.String"/>
        <result column="tma_worktypeid13" property="tmaWorktypeid13" javaType="java.lang.String"/>
        <result column="tma_workcontent13" property="tmaWorkcontent13" javaType="java.lang.String"/>
        <result column="tma_worktypeid14" property="tmaWorktypeid14" javaType="java.lang.String"/>
        <result column="tma_workcontent14" property="tmaWorkcontent14" javaType="java.lang.String"/>
        <result column="tma_worktypeid15" property="tmaWorktypeid15" javaType="java.lang.String"/>
        <result column="tma_workcontent15" property="tmaWorkcontent15" javaType="java.lang.String"/>
        <result column="tma_worktypeid16" property="tmaWorktypeid16" javaType="java.lang.String"/>
        <result column="tma_workcontent16" property="tmaWorkcontent16" javaType="java.lang.String"/>
        <result column="tma_worktypeid17" property="tmaWorktypeid17" javaType="java.lang.String"/>
        <result column="tma_workcontent17" property="tmaWorkcontent17" javaType="java.lang.String"/>
        <result column="tma_worktypeid18" property="tmaWorktypeid18" javaType="java.lang.String"/>
        <result column="tma_workcontent18" property="tmaWorkcontent18" javaType="java.lang.String"/>
        <result column="tma_worktypeid19" property="tmaWorktypeid19" javaType="java.lang.String"/>
        <result column="tma_workcontent19" property="tmaWorkcontent19" javaType="java.lang.String"/>
        <result column="tma_worktypeid20" property="tmaWorktypeid20" javaType="java.lang.String"/>
        <result column="tma_workcontent20" property="tmaWorkcontent20" javaType="java.lang.String"/>
        <result column="tma_worktypeid21" property="tmaWorktypeid21" javaType="java.lang.String"/>
        <result column="tma_workcontent21" property="tmaWorkcontent21" javaType="java.lang.String"/>
        <result column="tma_worktypeid22" property="tmaWorktypeid22" javaType="java.lang.String"/>
        <result column="tma_workcontent22" property="tmaWorkcontent22" javaType="java.lang.String"/>
        <result column="tma_worktypeid23" property="tmaWorktypeid23" javaType="java.lang.String"/>
        <result column="tma_workcontent23" property="tmaWorkcontent23" javaType="java.lang.String"/>
        <result column="tma_worktypeid24" property="tmaWorktypeid24" javaType="java.lang.String"/>
        <result column="tma_workcontent24" property="tmaWorkcontent24" javaType="java.lang.String"/>
        <result column="tma_worktypeid25" property="tmaWorktypeid25" javaType="java.lang.String"/>
        <result column="tma_workcontent25" property="tmaWorkcontent25" javaType="java.lang.String"/>
        <result column="tma_worktypeid26" property="tmaWorktypeid26" javaType="java.lang.String"/>
        <result column="tma_workcontent26" property="tmaWorkcontent26" javaType="java.lang.String"/>
        <result column="tma_worktypeid27" property="tmaWorktypeid27" javaType="java.lang.String"/>
        <result column="tma_workcontent27" property="tmaWorkcontent27" javaType="java.lang.String"/>
        <result column="tma_worktypeid28" property="tmaWorktypeid28" javaType="java.lang.String"/>
        <result column="tma_workcontent28" property="tmaWorkcontent28" javaType="java.lang.String"/>
        <result column="tma_worktypeid29" property="tmaWorktypeid29" javaType="java.lang.String"/>
        <result column="tma_workcontent29" property="tmaWorkcontent29" javaType="java.lang.String"/>
        <result column="tma_worktypeid30" property="tmaWorktypeid30" javaType="java.lang.String"/>
        <result column="tma_workcontent30" property="tmaWorkcontent30" javaType="java.lang.String"/>
        <result column="tma_worktypeid31" property="tmaWorktypeid31" javaType="java.lang.String"/>
        <result column="tma_workcontent31" property="tmaWorkcontent31" javaType="java.lang.String"/>
        <result column="col1" property="col1"  javaType="java.lang.String"/>
        <result column="col2" property="col2"  javaType="java.lang.String"/>
        <result column="col3" property="col3" javaType="java.lang.String"/>
        <result column="col4" property="col4" javaType="java.lang.String"/>
        <result column="col5" property="col5" javaType="java.lang.String"/>
        <result column="col6" property="col6" javaType="java.lang.String"/>
        <result column="col7" property="col7" javaType="java.lang.String"/>
        <result column="col8" property="col8" javaType="java.lang.String"/>
        <result column="col9" property="col9" javaType="java.lang.String"/>
        <result column="col10" property="col10" javaType="java.lang.String"/>
        <result column="col11" property="col11" javaType="java.lang.String"/>
    </resultMap>

    <!--  ディフォルト表示時間 -->
    <resultMap id="selectDateInfoMap" type="jp.smartcompany.job.modules.tmg.attendanceBook.dto.AttendanceDateInfoDTO">
        <result column="mgd_ndefault_month" property="mgd_ndefault_month"/>
        <result column="dispterm_start" property="dispterm_start"/>
        <result column="dispterm_end" property="dispterm_end"/>
    </resultMap>

    <!--  年次休暇付与日数と付与時間 -->
    <resultMap id="selectEndueTimeInfoMap" type="jp.smartcompany.job.modules.tmg.attendanceBook.dto.AttendanceEndueTimeInfoDTO">
        <result column="endueDate" property="endueDate"/>
        <result column="endueDays" property="endueDays"/>
        <result column="endueHours" property="endueHours"/>
    </resultMap>

    <!-- 出勤簿月単位集計項目 データ部取得クエリ構築  -->
    <resultMap id="selectTotalDataQueryListMap" type="jp.smartcompany.job.modules.tmg.attendanceBook.dto.MastGenericDetailDTO">
        <result column="mgd_csparechar1" property="mgd_csparechar1" javaType="java.lang.String"/>
        <result column="mgd_csparechar2" property="mgd_csparechar2" javaType="java.lang.String"/>
        <result column="col_name" property="col_name" javaType="java.lang.String"></result>
    </resultMap>

    <!-- ディフォルト表示時間を取得する -->
    <select id="selectDateInfo" resultType="java.util.HashMap" resultMap="selectDateInfoMap">
        select mgd_ndefault_month
        ,to_char(tmg_f_get_the_yearzone(to_number(tmg_f_get_the_year(to_date(#{firstDayOfYear}, 'yyyy/mm/dd'),mgd_ccustomerid, mgd_ccompanyid)), '1', to_date(#{firstDayOfYear}, 'yyyy/mm/dd'), mgd_ccustomerid,mgd_ccompanyid), 'yyyy') || '/' || lpad(v.mgd_ndefault_month, 2, '0') || '/01' as dispterm_start
        ,to_char(add_months(to_date(to_char(tmg_f_get_the_yearzone(to_number(tmg_f_get_the_year(to_date(#{firstDayOfYear}, 'yyyy/mm/dd'), mgd_ccustomerid, mgd_ccompanyid)), '1',to_date(#{firstDayOfYear}, 'yyyy/mm/dd'), mgd_ccustomerid, mgd_ccompanyid), 'yyyy') ||'/' || lpad(v.mgd_ndefault_month , 2, '0') || '/01'),11), 'yyyy/mm/dd') as dispterm_end
        from tmg_v_mgd_first_month v
        where v.mgd_ccustomerid = #{custId}
        and v.mgd_ccompanyid = #{compCode}
        and v.mgd_dstart <![CDATA[<=]]>  to_date(#{dyyyymmdd}, 'yyyy/mm/dd')
        and v.mgd_dend <![CDATA[>=]]> to_date(#{dyyyymmdd}, 'yyyy/mm/dd')
        and v.mgd_clanguage = #{language}
        and v.mgd_cworkertype = tmg_f_get_workertype(#{employeeId}, to_date(#{dyyyymmdd}, 'yyyy/mm/dd'), mgd_ccustomerid, mgd_ccompanyid)
    </select>

    <!-- 年次休暇付与日数と付与時間 -->
    <select id="selectEndueTimeInfo" resultType="jp.smartcompany.job.modules.tmg.attendanceBook.dto.AttendanceBookDTO" resultMap="selectEndueTimeInfoMap">
        select to_char(tph_dyyyymmdd, 'mm') || '月' || to_char(tph_dyyyymmdd,'dd') || '日' endueDate,
        nvl(tph_ninvest, 0) + nvl(tph_nthroughout, 0) + nvl(tph_nadjust,0) + nvl(tph_nadjust_to, 0) endueDays,
        tmg_f_conv_min2hhmi(nvl(tph_nthroughout_hours, 0) + nvl(tph_nadjust_hours, 0) + nvl(tph_nadjust_hours_to, 0), 1) endueHours
        from tmg_paid_holiday
        where tph_cemployeeId = #{employeeId}
        and tph_dyyyymm = (select max(tph_dyyyymm) from tmg_paid_holiday
        where tph_cemployeeId = #{employeeId}
        and tph_dyyyymm <![CDATA[>=]]> tmg_f_get_the_yearzone(to_number(tmg_f_get_the_year(to_date(#{preMonthDay}, 'yyyy/mm/dd'),#{custId}, #{compCode})), 0, #{dyyyymmdd}, #{custId}, #{compCode})
        and tph_dyyyymm <![CDATA[<=]]> tmg_f_get_the_yearzone(to_number(tmg_f_get_the_year(to_date(#{nextYearDay}, 'yyyy/mm/dd'),#{custId}, #{compCode})), 1, #{dyyyymmdd}, #{custId}, #{compCode}))
        and tph_ccompanyid = #{compCode}

    </select>

    <!-- 出勤簿リスト -->
    <select id="selectAttendanceBookList" parameterType="java.util.HashMap" resultMap="AttendanceBookMap">
        select
        '01' tmaCcustomerid
        ,'01' tmaCcompanyid
        ,#{employeeId} tmaCemployeeid
        ,to_char(tma_dyyyymm,'yyyy') dyyyy
        ,to_char(tma_dyyyymm,'MM') dmm
        ,tma_dyyyymm
        ,tma_worktypeid01
        ,nvl(tma_workcontent01, ' ') tma_workcontent01
        ,tma_worktypeid02
        ,nvl(tma_workcontent02, ' ') tma_workcontent02
        ,tma_worktypeid03
        ,nvl(tma_workcontent03, ' ') tma_workcontent03
        ,tma_worktypeid04
        ,nvl(tma_workcontent04, ' ') tma_workcontent04
        ,tma_worktypeid05
        ,nvl(tma_workcontent05, ' ') tma_workcontent05
        ,tma_worktypeid06
        ,nvl(tma_workcontent06, ' ') tma_workcontent06
        ,tma_worktypeid07
        ,nvl(tma_workcontent07, ' ') tma_workcontent07
        ,tma_worktypeid08
        ,nvl(tma_workcontent08, ' ') tma_workcontent08
        ,tma_worktypeid09
        ,nvl(tma_workcontent09, ' ') tma_workcontent09
        ,tma_worktypeid10
        ,nvl(tma_workcontent10, ' ') tma_workcontent10
        ,tma_worktypeid11
        ,nvl(tma_workcontent11, ' ') tma_workcontent11
        ,tma_worktypeid12
        ,nvl(tma_workcontent12, ' ') tma_workcontent12
        ,tma_worktypeid13
        ,nvl(tma_workcontent13, ' ') tma_workcontent13
        ,tma_worktypeid14
        ,nvl(tma_workcontent14, ' ') tma_workcontent14
        ,tma_worktypeid15
        ,nvl(tma_workcontent15, ' ') tma_workcontent15
        ,tma_worktypeid16
        ,nvl(tma_workcontent16, ' ') tma_workcontent16
        ,tma_worktypeid17
        ,nvl(tma_workcontent17, ' ') tma_workcontent17
        ,tma_worktypeid18
        ,nvl(tma_workcontent18, ' ') tma_workcontent18
        ,tma_worktypeid19
        ,nvl(tma_workcontent19, ' ') tma_workcontent19
        ,tma_worktypeid20
        ,nvl(tma_workcontent20, ' ') tma_workcontent20
        ,tma_worktypeid21
        ,nvl(tma_workcontent21, ' ') tma_workcontent21
        ,tma_worktypeid22
        ,nvl(tma_workcontent22, ' ') tma_workcontent22
        ,tma_worktypeid23
        ,nvl(tma_workcontent23, ' ') tma_workcontent23
        ,tma_worktypeid24
        ,nvl(tma_workcontent24, ' ') tma_workcontent24
        ,tma_worktypeid25
        ,nvl(tma_workcontent25, ' ') tma_workcontent25
        ,tma_worktypeid26
        ,nvl(tma_workcontent26, ' ') tma_workcontent26
        ,tma_worktypeid27
        ,nvl(tma_workcontent27, ' ') tma_workcontent27
        ,tma_worktypeid28
        ,nvl(tma_workcontent28, ' ') tma_workcontent28
        ,tma_worktypeid29
        ,nvl(tma_workcontent29, ' ') tma_workcontent29
        ,tma_worktypeid30
        ,nvl(tma_workcontent30, ' ') tma_workcontent30
        ,tma_worktypeid31
        ,nvl(tma_workcontent31, ' ') tma_workcontent31
        <foreach collection="list" item="params" index ="index" open="," separator =","  close="">
            ${params}
        </foreach>
        from tmg_attendance_book,
        tmg_monthly
        where tma_cemployeeid = #{employeeId}
        and tma_ccompanyid = '01'
        and tma_dyyyymm <![CDATA[>=]]>  to_date(#{curMonthDay}, 'yyyy/mm/dd')
        and tma_dyyyymm <![CDATA[<=]]> to_date(#{nextYearDay}, 'yyyy/mm/dd')
        and tma_ccustomerid = '01'
        and tmo_ccustomerid = tma_ccustomerid
        and tmo_ccompanyid = tma_ccompanyid
        and tmo_cemployeeid = tma_cemployeeid
        and trunc(tmo_dyyyymm) = trunc(tma_dyyyymm)
        union all
        select
        '01' tmaCcustomerid
        ,'01' tmaCcompanyid
        ,#{employeeId} tmaCemployeeid
        ,to_char(tma_dyyyymm,'yyyy') dyyyy
        ,to_char(tma_dyyyymm,'MM')||'月' dmm
        ,b.tma_dyyyymm
        ,b.tma_worktypeid01
        ,b.tma_workcontent01
        ,b.tma_worktypeid02
        ,b.tma_workcontent02
        ,b.tma_worktypeid03
        ,b.tma_workcontent03
        ,b.tma_worktypeid04
        ,b.tma_workcontent04
        ,b.tma_worktypeid05
        ,b.tma_workcontent05
        ,b.tma_worktypeid06
        ,b.tma_workcontent06
        ,b.tma_worktypeid07
        ,b.tma_workcontent07
        ,b.tma_worktypeid08
        ,b.tma_workcontent08
        ,b.tma_worktypeid09
        ,b.tma_workcontent09
        ,b.tma_worktypeid10
        ,b.tma_workcontent10
        ,b.tma_worktypeid11
        ,b.tma_workcontent11
        ,b.tma_worktypeid12
        ,b.tma_workcontent12
        ,b.tma_worktypeid13
        ,b.tma_workcontent13
        ,b.tma_worktypeid14
        ,b.tma_workcontent14
        ,b.tma_worktypeid15
        ,b.tma_workcontent15
        ,b.tma_worktypeid16
        ,b.tma_workcontent16
        ,b.tma_worktypeid17
        ,b.tma_workcontent17
        ,b.tma_worktypeid18
        ,b.tma_workcontent18
        ,b.tma_worktypeid19
        ,b.tma_workcontent19
        ,b.tma_worktypeid20
        ,b.tma_workcontent20
        ,b.tma_worktypeid21
        ,b.tma_workcontent21
        ,b.tma_worktypeid22
        ,b.tma_workcontent22
        ,b.tma_worktypeid23
        ,b.tma_workcontent23
        ,b.tma_worktypeid24
        ,b.tma_workcontent24
        ,b.tma_worktypeid25
        ,b.tma_workcontent25
        ,b.tma_worktypeid26
        ,b.tma_workcontent26
        ,b.tma_worktypeid27
        ,b.tma_workcontent27
        ,b.tma_worktypeid28
        ,b.tma_workcontent28
        ,b.tma_worktypeid29
        ,b.tma_workcontent29
        ,b.tma_worktypeid30
        ,b.tma_workcontent30
        ,b.tma_worktypeid31
        ,b.tma_workcontent31
        ,' '
        ,' '
        ,' '
        ,' '
        ,' '
        ,' '
        ,' '
        ,' '
        ,' '
        ,' '
        ,' '
        from table(tmg_f_get_attendance_book_list('01', '01', #{employeeId},
        to_date(#{curMonthDay}, 'yyyy/mm/dd'), to_date(#{nextYearDay},'yyyy/mm/dd'))) b
        where b.tma_ccustomerid = '01'
        and b.tma_ccompanyid = '01'
        and b.tma_dyyyymm <![CDATA[>=]]>  to_date(#{curMonthDay}, 'yyyy/mm/dd')
        and b.tma_dyyyymm <![CDATA[<=]]> to_date(#{nextYearDay}, 'yyyy/mm/dd')
        and not exists(select 1
        from tmg_attendance_book c
        where c.tma_ccustomerid = b.tma_ccustomerid
        and c.tma_ccompanyid = b.tma_ccompanyid
        and c.tma_cemployeeid = #{employeeId}
        and c.tma_dyyyymm = b.tma_dyyyymm)
        order by tma_dyyyymm
    </select>

    <!-- 摘要編集 -->
    <update id="updateComment">
        merge
          into tmg_yearly y using dual on (dual.dummy is not null
               and y.tmy_cemployeeid = #{employeeId}
               and y.tmy_nyyyy = to_number(tmg_f_get_the_year(to_date(#{yearLastDay}, 'yyyy/mm/dd'),#{custId}, #{compCode}))
               and y.tmy_ccompanyid = #{compCode} and y.tmy_ccustomerid = #{custId}) when matched then
        update
           set tmy_comment = #{comment} ,
            tmy_dmodifieddate = sysdate ,
            tmy_cmodifieruserid = #{modifieruserId} ,
            tmy_cmodifierprogramid = 'UAttendanceBook' when not matched then
        insert (tmy_ccustomerid , tmy_ccompanyid , tmy_cemployeeid ,
                tmy_dstartdate , tmy_denddate , tmy_cmodifieruserid ,
                tmy_dmodifieddate , tmy_cmodifierprogramid , tmy_nyyyy ,
                tmy_comment)
        values
            ( #{custId}, #{compCode}, #{employeeId} , to_date('1900/01/01', 'yyyy/mm/dd'),to_date('2222/12/31', 'yyyy/mm/dd'),
            #{modifieruserId} , sysdate ,'UAttendanceBook' , to_number(tmg_f_get_the_year(to_date( #{yearLastDay}, 'yyyy/mm/dd'), #{custId}, #{compCode})),#{comment})
    </update>

    <!-- コメント　検索 -->
    <select id="selectComment" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        select tmy_comment from tmg_yearly
         where tmy_cemployeeid = #{employeeId}
           and tmy_nyyyy = to_number(tmg_f_get_the_year(to_date(#{yearLastDay},'yyyy/mm/dd'), #{custId}, #{compCode}))
           and tmy_ccompanyid = #{compCode}
           and tmy_ccustomerid = #{custId};
    </select>

    <!-- 出勤簿月単位集計項目 データ部取得クエリ構築 -->
    <select id="selectTotalDataQueryList" parameterType="java.util.HashMap" resultMap="selectTotalDataQueryListMap">
        select nvl(mgd_csparechar1, '''''') mgd_csparechar1,
               nvl(mgd_csparechar2, ' ') mgd_csparechar2,
               'col'||rownum col_name
          from mast_generic_detail
          where mgd_cgenericgroupid = #{items}
          and mgd_nsparenum2 >= #{displayLine}
          and mgd_csparechar1 is not null
          order by mgd_nsparenum1, mgd_nsparenum2
    </select>


</mapper>