<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgAcquired5daysholidayMapper">

    <select id="buildSQLforList"
            resultType="jp.smartcompany.job.modules.tmg.tmgacquired5daysHoliday.vo.Acquired5DaysListVO">
        select  TA.TPH_CEMPLOYEEID AS CEMPLOYEEID_0,  <!-- 社員番号-->
        (SELECT
        E.me_ckanjiname
        FROM
        MAST_EMPLOYEES E
        WHERE
        E.ME_CCUSTOMERID_CK	= TA.TPH_CCUSTOMERID
        AND E.ME_CCOMPANYID		= TA.TPH_CCOMPANYID
        AND E.ME_CEMPLOYEEID_CK	= TA.TPH_CEMPLOYEEID
        AND E.ME_DSTARTDATE = (
        SELECT
        MAX(EE.ME_DSTARTDATE)
        FROM
        MAST_EMPLOYEES EE
        WHERE
        EE.ME_CCUSTOMERID_CK	= E.ME_CCUSTOMERID_CK
        AND EE.ME_CCOMPANYID		= E.ME_CCOMPANYID
        AND EE.ME_CEMPLOYEEID_CK	= E.ME_CEMPLOYEEID_CK
        )
        ) AS CEMPLOYEE_NAME_1,	<!--社員名-->
        (
        SELECT
        TMG_F_GET_MGD(E.TEM_CWORKTYPEID, TA.TPH_DYYYYMMDD,  TA.TPH_CCUSTOMERID, TA.TPH_CCOMPANYID, 'ja')
        FROM
        TMG_EMPLOYEES E
        WHERE
        E.TEM_CCUSTOMERID = TA.TPH_CCUSTOMERID
        AND E.TEM_CCOMPANYID = TA.TPH_CCOMPANYID
        AND E.TEM_CEMPLOYEEID = TA.TPH_CEMPLOYEEID
        AND E.TEM_DSTARTDATE <![CDATA[<=]]> TA.TPH_DYYYYMMDD
        AND E.TEM_DENDDATE >=   TA.TPH_DYYYYMMDD
        )  AS WORKERTYPE_NM_2, <!--所属名-->
        TO_CHAR(TA.TPH_DYYYYMMDD,'yyyymmdd')  AS TA_DYYYYMMDD_3,<!--付与日-->
        TA.TPH_NINVEST + TA.TPH_NADJUST  AS TA_FUYODAYS_4,<!--付与日数-->
        TO_CHAR(NVL((select TPF.TPF_DPAID_HOLIDAY_FIX from TMG_PAIDUSEINFO_FIX TPF
        where TPF_FUYOBI =TA.TPH_DYYYYMMDD),TA.TPH_DYYYYMMDD),'yyyymmdd') AS TA_KIJYUNBI_5,<!--基準日-->
        TO_CHAR(NVL((select TPF.TPF_DKIKANBI_FIX from TMG_PAIDUSEINFO_FIX TPF where TPF_FUYOBI =TA.TPH_DYYYYMMDD),
        (last_day(add_months(TA.TPH_DYYYYMMDD,11)))),'yyyymmdd') AS TA_KIKANBI_6,<!--チェック期間-->
        (select TMG_F_GET_USEDAYS4ACQUIRED5DAY(TA.TPH_CCUSTOMERID,TA.TPH_CCOMPANYID, TA.TPH_CEMPLOYEEID,(NVL((select TPF.TPF_DPAID_HOLIDAY_FIX from TMG_PAIDUSEINFO_FIX TPF where TPF_FUYOBI =TA.TPH_DYYYYMMDD),TA.TPH_DYYYYMMDD)),
        (NVL((select TPF.TPF_DKIKANBI_FIX from TMG_PAIDUSEINFO_FIX TPF where TPF_FUYOBI =TA.TPH_DYYYYMMDD),(last_day(add_months(TA.TPH_DYYYYMMDD,11)))))).CNT_DAY from dual) AS SUM_SYUTOKUDAYS_7,<!--取得日数-->
        ceil(MONTHS_BETWEEN((NVL((select TPF.TPF_DKIKANBI_FIX from TMG_PAIDUSEINFO_FIX TPF where TPF_FUYOBI =TA.TPH_DYYYYMMDD),(last_day(add_months(TA.TPH_DYYYYMMDD,11))))),
        (NVL((select TPF.TPF_DPAID_HOLIDAY_FIX from TMG_PAIDUSEINFO_FIX TPF where TPF_FUYOBI =TA.TPH_DYYYYMMDD),TA.TPH_DYYYYMMDD)))/12 *5)AS TA_MUSTDAYS_8,<!--必要日数-->
        (greatest(ceil(MONTHS_BETWEEN((NVL((select TPF.TPF_DKIKANBI_FIX from TMG_PAIDUSEINFO_FIX TPF where TPF_FUYOBI =TA.TPH_DYYYYMMDD),(last_day(add_months(TA.TPH_DYYYYMMDD,11))))),
        (NVL((select TPF.TPF_DPAID_HOLIDAY_FIX from TMG_PAIDUSEINFO_FIX TPF where TPF_FUYOBI =TA.TPH_DYYYYMMDD),TA.TPH_DYYYYMMDD)))/12 *5)-(select count(*) from TMG_DAILY where TDA_CWORKINGID_R = 'TMG_WORK|010'
        and TDA_DYYYYMMDD >=(NVL((select TPF.TPF_DPAID_HOLIDAY_FIX from TMG_PAIDUSEINFO_FIX TPF where TPF_FUYOBI =TA.TPH_DYYYYMMDD),TA.TPH_DYYYYMMDD))
        and TDA_DYYYYMMDD <![CDATA[<=]]> (NVL((select TPF.TPF_DKIKANBI_FIX from TMG_PAIDUSEINFO_FIX TPF where TPF_FUYOBI =TA.TPH_DYYYYMMDD),(last_day(add_months(TA.TPH_DYYYYMMDD,11)))))
        and TDA_CEMPLOYEEID = TA.TPH_CEMPLOYEEID),0)) AS TA_LESSDAYS_9,<!--不足日数-->
        (b.COUNT) AS ta_rowpan_10, <!--rowpan-->
        (select  TPF.TPF_DPAID_HOLIDAY_FIX
        from    TMG_PAIDUSEINFO_FIX TPF
        where   TPF.TPF_CCUSTOMERID = TA.TPH_CEMPLOYEEID
        and     TPF.TPF_FUYOBI=TA.TPH_DYYYYMMDD) AS TPF_DPAID_HOLIDAY_FIX_11,<!--修正基準日-->
        (select  TPF.TPF_DKIKANBI_FIX
        from    TMG_PAIDUSEINFO_FIX TPF
        where   TPF.TPF_CCUSTOMERID = TA.TPH_CEMPLOYEEID
        and     TPF.TPF_FUYOBI=TA.TPH_DYYYYMMDD) AS TPF_DKIKANBI_FIX_12,  <!--修正チェック期間-->
        (select  TPF.TPF_NUSEDAYS_AJDUST
        from    TMG_PAIDUSEINFO_FIX TPF
        where   TPF.TPF_CCUSTOMERID = TA.TPH_CEMPLOYEEID
        and     TPF.TPF_FUYOBI=TA.TPH_DYYYYMMDD) AS TPF_NUSEDAYS_AJDUST_13,  <!--調整取得日数-->
        (select  TPF.TPF_NMUSTDAYS_FIX
        from    TMG_PAIDUSEINFO_FIX TPF
        where   TPF.TPF_CCUSTOMERID = TA.TPH_CEMPLOYEEID
        and     TPF.TPF_FUYOBI=TA.TPH_DYYYYMMDD) AS TPF_NMUSTDAYS_FIX_14  <!--修正必要日数-->
        FROM TMG_PAID_HOLIDAY TA
        INNER JOIN (${empsql}) A
        ON A.EMPID = TA.TPH_CEMPLOYEEID
        AND A.CUST = TA.TPH_CCUSTOMERID
        AND A.COMP = TA.TPH_CCOMPANYID
        INNER JOIN (select count(TPH_CEMPLOYEEID) as count ,TPH_CEMPLOYEEID as CEMPLOYEEID
        FROM TMG_PAID_HOLIDAY TA
        where TA.TPH_DYYYYMMDD >= '2019/04/01'
        AND TA.TPH_DYYYYMMDD <![CDATA[<=]]> SYSDATE
        AND TA.TPH_DYYYYMMDD >= (add_months(SYSDATE, - (select MGD_NSPARENUM1
        FROM MAST_GENERIC_DETAIL
        WHERE MGD_CCUSTOMERID = TA.TPH_CCUSTOMERID
        AND MGD_CCOMPANYID_CK_FK = TA.TPH_CCOMPANYID
        AND MGD_CGENERICGROUPID = 'TMG_ACQUIRED5DAY_PRE') * 12))
        AND TA.TPH_DYYYYMMDD >= ' 20190401'
        group by TPH_CEMPLOYEEID
        ) b
        on A.EMPID = b.CEMPLOYEEID
        where TA.TPH_DYYYYMMDD <![CDATA[<=]]>SYSDATE
        AND TA.TPH_DYYYYMMDD >=(add_months(SYSDATE,-(select MGD_NSPARENUM1
        FROM MAST_GENERIC_DETAIL
        WHERE MGD_CCUSTOMERID = TA.TPH_CCUSTOMERID
        AND MGD_CCOMPANYID_CK_FK = TA.TPH_CCOMPANYID
        AND MGD_CGENERICGROUPID = 'TMG_ACQUIRED5DAY_PRE')*12))
        AND TA.TPH_DYYYYMMDD >='20190401'
        <if test="userCode != NULL">
            AND TPH_CEMPLOYEEID = #{userCode}
        </if>
    </select>
<!--    <select id="buildSQLTmgAcquired5daykikanbi" statementType="CALLABLE">-->
<!--        CALL TMG_P_SET_ACQUIRED5DAYKIKANBI(-->
<!--            #{txtUserCode},-->
<!--            #{kijunbi, jdbcType=VARCHAR},-->
<!--            #{txtYear, jdbcType=VARCHAR},-->
<!--            #{kijunbiEdit,jdbcType=VARCHAR},-->
<!--            #{userCode},-->
<!--            #{programId},-->
<!--            #{custID},-->
<!--            #{compCode},-->
<!--            #{txtDpaidholidayEnd, jdbcType=VARCHAR},-->
<!--            #{txtNusedaysDays, jdbcType=VARCHAR},-->
<!--            #{txtFuyobi, jdbcType=VARCHAR}-->
<!--        )-->
<!--    </select>-->
</mapper>