<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgDailyDetailCheckMapper">
    <insert id="buildSQLForInsertDetailCheckEtc">
        INSERT INTO
            TMG_DAILY_DETAIL_CHECK
        (
           TDAD_CCUSTOMERID,
           TDAD_CCOMPANYID,
           TDAD_CEMPLOYEEID,
           TDAD_DSTARTDATE,
           TDAD_DENDDATE,
           TDAD_CMODIFIERUSERID,
           TDAD_DMODIFIEDDATE,
           TDAD_CMODIFIERPROGRAMID,
           TDAD_NYYYY,
           TDAD_DYYYYMM,
           TDAD_DYYYYMMDD,
           TDAD_CNOTWORKID,
           TDAD_CNOTWORKNAME,
           TDAD_NOPEN,
           TDAD_NCLOSE,
           TDAD_NDELETEFLG,
           TDAD_SEQ,
           TDAD_CSPARECHAR1,
           TDAD_CSPARECHAR2,
           TDAD_CSPARECHAR3,
           TDAD_CSPARECHAR4,
           TDAD_CSPARECHAR5,
           TDAD_NSPARENUM1,
           TDAD_NSPARENUM2,
           TDAD_NSPARENUM3,
           TDAD_NSPARENUM4,
           TDAD_NSPARENUM5,
           TDAD_DSPAREDATE1,
           TDAD_DSPAREDATE2,
           TDAD_DSPAREDATE3,
           TDAD_DSPAREDATE4,
           TDAD_DSPAREDATE5,
           TDAD_CCODE01,
           TDAD_CCODENM01,
           TDAD_CCODE02,
           TDAD_CCODENM02,
           TDAD_CCODE03,
           TDAD_CCODENM03,
           TDAD_CCODE04,
           TDAD_CCODENM04,
           TDAD_CCODE05,
           TDAD_CCODENM05,
           TDAD_CREFNTFNO
        )
        SELECT
            TDAD_CCUSTOMERID,
            TDAD_CCOMPANYID,
            TDAD_CEMPLOYEEID,
            TDAD_DSTARTDATE,
            TDAD_DENDDATE,
            #{userCode},
            sysdate,
            'TmgResults_' || #{txtAction},
            TDAD_NYYYY,
            TDAD_DYYYYMM,
            TDAD_DYYYYMMDD,
            TDAD_CNOTWORKID,
            TDAD_CNOTWORKNAME,
            TDAD_NOPEN,
            TDAD_NCLOSE,
            TDAD_NDELETEFLG,
            999,
            TDAD_CSPARECHAR1,
            TDAD_CSPARECHAR2,
            TDAD_CSPARECHAR3,
            TDAD_CSPARECHAR4,
            TDAD_CSPARECHAR5,
            TDAD_NSPARENUM1,
            TDAD_NSPARENUM2,
            TDAD_NSPARENUM3,
            TDAD_NSPARENUM4,
            TDAD_NSPARENUM5,
            TDAD_DSPAREDATE1,
            TDAD_DSPAREDATE2,
            TDAD_DSPAREDATE3,
            TDAD_DSPAREDATE4,
            TDAD_DSPAREDATE5,
            TDAD_CCODE01,
            TDAD_CCODENM01,
            TDAD_CCODE02,
            TDAD_CCODENM02,
            TDAD_CCODE03,
            TDAD_CCODENM03,
            TDAD_CCODE04,
            TDAD_CCODENM04,
            TDAD_CCODE05,
            TDAD_CCODENM05,
            TDAD_CREFNTFNO
        FROM
            TMG_DAILY_DETAIL
        WHERE
            TDAD_CCUSTOMERID =  #{custID}
        AND TDAD_CCOMPANYID =  #{compCode}
        AND TDAD_CEMPLOYEEID =  #{targetUser}
        AND TDAD_DYYYYMMDD =  #{day}
        AND TDAD_CNOTWORKID like 'TMG_NOTWORK|%'
    </insert>
    <insert id="buildSQLForInsertDetailCheckNotDisp">
        INSERT INTO
            TMG_DAILY_DETAIL_CHECK
        (
            TDAD_CCUSTOMERID,
            TDAD_CCOMPANYID,
            TDAD_CEMPLOYEEID,
            TDAD_DSTARTDATE,
            TDAD_DENDDATE,
            TDAD_CMODIFIERUSERID,
            TDAD_DMODIFIEDDATE,
            TDAD_CMODIFIERPROGRAMID,
            TDAD_NYYYY,
            TDAD_DYYYYMM,
            TDAD_DYYYYMMDD,
            TDAD_CNOTWORKID,
            TDAD_CNOTWORKNAME,
            TDAD_NOPEN,
            TDAD_NCLOSE,
            TDAD_NDELETEFLG,
            TDAD_SEQ,
            TDAD_CSPARECHAR1,
            TDAD_CSPARECHAR2,
            TDAD_CSPARECHAR3,
            TDAD_CSPARECHAR4,
            TDAD_CSPARECHAR5,
            TDAD_NSPARENUM1,
            TDAD_NSPARENUM2,
            TDAD_NSPARENUM3,
            TDAD_NSPARENUM4,
            TDAD_NSPARENUM5,
            TDAD_DSPAREDATE1,
            TDAD_DSPAREDATE2,
            TDAD_DSPAREDATE3,
            TDAD_DSPAREDATE4,
            TDAD_DSPAREDATE5,
            TDAD_CCODE01,
            TDAD_CCODENM01,
            TDAD_CCODE02,
            TDAD_CCODENM02,
            TDAD_CCODE03,
            TDAD_CCODENM03,
            TDAD_CCODE04,
            TDAD_CCODENM04,
            TDAD_CCODE05,
            TDAD_CCODENM05,
            TDAD_CREFNTFNO
        )
        SELECT
            TDAD_CCUSTOMERID,
            TDAD_CCOMPANYID,
            TDAD_CEMPLOYEEID,
            TDAD_DSTARTDATE,
            TDAD_DENDDATE,
            #{userCode},
            sysdate,
            'TmgResults_' || #{txtAction},
            TDAD_NYYYY,
            TDAD_DYYYYMM,
            TDAD_DYYYYMMDD,
            TDAD_CNOTWORKID,
            TDAD_CNOTWORKNAME,
            TDAD_NOPEN,
            TDAD_NCLOSE,
            0,
            999,
            TDAD_CSPARECHAR1,
            TDAD_CSPARECHAR2,
            TDAD_CSPARECHAR3,
            TDAD_CSPARECHAR4,
            TDAD_CSPARECHAR5,
            TDAD_NSPARENUM1,
            TDAD_NSPARENUM2,
            TDAD_NSPARENUM3,
            TDAD_NSPARENUM4,
            TDAD_NSPARENUM5,
            TDAD_DSPAREDATE1,
            TDAD_DSPAREDATE2,
            TDAD_DSPAREDATE3,
            TDAD_DSPAREDATE4,
            TDAD_DSPAREDATE5,
            TDAD_CCODE01,
            TDAD_CCODENM01,
            TDAD_CCODE02,
            TDAD_CCODENM02,
            TDAD_CCODE03,
            TDAD_CCODENM03,
            TDAD_CCODE04,
            TDAD_CCODENM04,
            TDAD_CCODE05,
            TDAD_CCODENM05,
            TDAD_CREFNTFNO
        FROM
            TMG_DAILY_DETAIL
        WHERE
            TDAD_CEMPLOYEEID   = #{targetUser}
        AND TDAD_DYYYYMMDD     = #{day}
        AND TDAD_CCOMPANYID    = #{compCode}
        AND TDAD_CCUSTOMERID   = #{custID}
        <!--申請は除く-->

        AND EXISTS(
            SELECT
                ITEM_CODE
            FROM
                TABLE(TMG_F_GET_RESULTITEMS(#{custID}, #{compCode}, NULL, #{day}))
            WHERE TDAD_CNOTWORKID = ITEM_CODE
            )
        AND NOT EXISTS(
            SELECT
                ITEM_CODE
            FROM
                TABLE(TMG_F_GET_RESULTATTRIBUTE(#{custID}, #{compCode} ,#{targetUser}, #{siteId}, null, #{day}))
            WHERE TDAD_CNOTWORKID = ITEM_CODE
            )
    </insert>

    <insert id="buildSQLForInsertDetailCheck"  parameterType="jp.smartcompany.job.modules.tmg.tmgresults.dto.DetailCheckDto">
         INSERT INTO
            TMG_DAILY_DETAIL_CHECK
        (
              TDAD_CCUSTOMERID
            , TDAD_CCOMPANYID
            , TDAD_CEMPLOYEEID
            , TDAD_DSTARTDATE
            , TDAD_DENDDATE
            , TDAD_CMODIFIERUSERID
            , TDAD_DMODIFIEDDATE
            , TDAD_CMODIFIERPROGRAMID
            , TDAD_NYYYY
            , TDAD_DYYYYMM
            , TDAD_DYYYYMMDD
            , TDAD_CNOTWORKID
            , TDAD_CNOTWORKNAME
            , TDAD_NOPEN
            , TDAD_NCLOSE
            , TDAD_NDELETEFLG
            , TDAD_SEQ
            , TDAD_CSPARECHAR1
            , TDAD_NSPARENUM1
            , TDAD_CCODE01
            <if test='categoryCode == "MG_CATEGORY|Overhours"'>
                , TDAD_CSPARECHAR2
            </if>
        ) VALUES (
              #{custID}
            , #{compCode}
            , #{targetUser}
            , to_date('1900/01/01', 'yyyy/mm/dd')
            , to_date('2222/12/31', 'yyyy/mm/dd')
            , #{userCode}
            , sysdate
            , 'TmgResults_' || #{txtAction}
            , #{year}
            , to_date(#{month}, 'yyyy/mm')
            , #{day}
            , #{itemCode}
            , null
            , TMG_F_CONV_HHMI2MIN(#{txtTDAD_NOPEN})
            , TMG_F_CONV_HHMI2MIN(#{txtTDAD_NCLOSE})
            , 0
            , #{nIdx}
            , #{txtTDAD_CSPARECHAR1,jdbcType=VARCHAR}
            <choose>
                <when test="categoryCode == 'TMG_CATEGORY|DiscretionWork' ">
                    ,TMG_F_CONV_HHMI2MIN(#{txtTDAD_NSPARENUM1,jdbcType=VARCHAR})
                </when>
                <otherwise>
                    ,#{txtTDAD_NSPARENUM1,jdbcType=VARCHAR}
                </otherwise>
            </choose>
            , #{txtTDAD_CCODE01,jdbcType=VARCHAR}
            <choose>
                <when test='categoryCode == "MG_CATEGORY|Overhours" and siteId == "TMG_INP"'>
                    , NVL(#{txtTDAD_CSPARECHAR2,jdbcType=VARCHAR}, 'TMG_OVERHOUR_STATUS|0')
                </when>
                <when test="categoryCode == 'MG_CATEGORY|Overhours' and siteId != 'TMG_INP'">
                    <choose>
                        <when test='"TMG_OVERHOUR_STATUS|0"== txtTDAD_CSPARECHAR2 and hasAuthority == "true"'>
                            , 'TMG_OVERHOUR_STATUS|5'
                        </when>
                        <when test="txtTDAD_CSPARECHAR2 == null">
                            , 'TMG_OVERHOUR_STATUS|6'
                        </when>
                        <otherwise>
                            , #{txtTDAD_CSPARECHAR2,jdbcType=VARCHAR}
                        </otherwise>
                    </choose>
                </when>
            </choose>
        )
    </insert>
</mapper>