<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgDailyDetailMapper">
    <update id="buildSQLForUpdateTmgDailyDetail">
        UPDATE
            TMG_DAILY_DETAIL
        SET
            TDAD_CMODIFIERUSERID    = #{loginUserCode},
            TDAD_DMODIFIEDDATE      = SYSDATE,
            TDAD_CMODIFIERPROGRAMID = #{programId},
            <!-- ステータスが申請中の場合は確認済へ変更、これ以外の場合はステータスを変更しない-->
            TDAD_CSPARECHAR2        = DECODE(TDAD_CSPARECHAR2, 'TMG_OVERHOUR_STATUS|0', 'TMG_OVERHOUR_STATUS|5', TDAD_CSPARECHAR2)
        WHERE
            TDAD_CCUSTOMERID  = #{custID}
        AND TDAD_CCOMPANYID   = #{compCode}
        AND TDAD_CEMPLOYEEID IN
            <foreach item="item" collection="empIdList" open="(" separator="," close=")">
            #{item}
            </foreach>
        AND TDAD_DYYYYMMDD    = #{yyyymmdd}
        AND TDAD_CNOTWORKID   = {notWorkId}
        <!-- ステータスが申請中の場合のみ更新対象とする-->
        AND TDAD_CSPARECHAR2  = 'TMG_OVERHOUR_STATUS|0'
    </update>

    <select id="buildSQLForSelectDetail" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.DailyDetailVO">
        SELECT
            TDAD_CNOTWORKID,                                			<!-- 非勤務区分-->
            TMG_F_GET_MGD(
                TDAD_CNOTWORKID,
                TDAD_DYYYYMMDD,
                TDAD_CCUSTOMERID,
                TDAD_CCOMPANYID,
                #{language}
            ) TDAD_CNOTWORK_NAME,     									<!-- 非勤務区分名称-->
            TMG_F_CONV_MIN2HHMI(TDAD_NOPEN, 0) AS TDAD_NOPEN,           <!-- 開始時刻-->
            TMG_F_CONV_MIN2HHMI(TDAD_NCLOSE, 0) AS TDAD_NCLOSE,         <!-- 終了時刻-->
            TDAD_NDELETEFLG,                              				<!-- 削除フラグ-->
            to_multi_byte(ROWID) AS ROW_ID                            	<!-- 行ID-->
        FROM
            TMG_DAILY_DETAIL
        WHERE
            TDAD_CEMPLOYEEID   = #{targetUser}
        AND TDAD_DYYYYMMDD     = #{day}
        AND TDAD_CCOMPANYID    = #{compCode}
        AND TDAD_CCUSTOMERID   = #{custID}

        <!-- 削除フラグ-->
        <if test="bDel == true">
            AND TDAD_NDELETEFLG    = 0
        </if>

        <!-- 欠勤・離席以外-->
        <choose>
            <when test="iMode == 0 ">
                AND NOT EXISTS(
                                SELECT
                                    ITEM_CODE
                                FROM
                                    TABLE(
                                        TMG_F_GET_RESULTITEMS(
                                            #{custID},
                                            #{compCode},
                                            NULL,
                                            #{day}
                                        )
                                    )
                                WHERE TDAD_CNOTWORKID = ITEM_CODE
                )
                ORDER BY TDAD_NOPEN
            </when>

            <!-- 欠勤-->
            <when test="iMode == 1 ">
                AND TDAD_CNOTWORKID = 'TMG_NOTWORK|905'
            </when>

            <!-- 離席-->
            <when test="iMode == 2 ">
                AND TDAD_CNOTWORKID = 'TMG_NOTWORK|910'
            </when>

            <!-- 休憩(予定)-->
            <when test="iMode == 3 ">
                AND TDAD_CNOTWORKID = 'TMG_ITEMS|PlanRest'
            </when>
        </choose>

    </select>
    <select id="selectResultRest40t" resultType="jp.smartcompany.job.modules.tmg.overtimeInstruct.vo.ResultRest40tVo">
        SELECT
            e.EMPID AS TDA_CEMPLOYEEID,
            TDAD_DYYYYMM,
            TDAD_DYYYYMMDD,
            TDAD_CNOTWORKID,
            TDAD_NOPEN,
            TDAD_NCLOSE,
            TMG_F_CONV_MIN2HHMI ( TDAD_NOPEN, 0 ) TDAD_NOPEN_TIME,
            TMG_F_CONV_MIN2HHMI ( TDAD_NCLOSE, 0 ) TDAD_NCLOSE_TIME
        FROM
            TMG_DAILY_DETAIL,
            ( ${employeeListSql}) e
        WHERE
            TDAD_CCOMPANYID = #{compId}
        AND TDAD_CCUSTOMERID = #{custid}
        AND TDAD_CEMPLOYEEID = e.EMPID
        AND TDAD_DYYYYMMDD = to_date( #{baseDate}, 'yyyy/mm/dd' )
        AND TDAD_CNOTWORKID = 'TMG_ITEMS|ResultRest'
        AND (
            EXISTS (
                SELECT
                1
                FROM
                TMG_DAILY
                WHERE
                TDA_CCUSTOMERID = TDAD_CCUSTOMERID
                AND TDA_CCOMPANYID = TDAD_CCOMPANYID
                AND TDA_CEMPLOYEEID = TDAD_CEMPLOYEEID
                AND TDA_DYYYYMMDD = TDAD_DYYYYMMDD
                AND ( ( TDA_NOPEN_P >= TDAD_NCLOSE OR TDA_NCLOSE_P <![CDATA[<=]]> TDAD_NOPEN ) OR ( TDA_NOPEN_P IS NULL OR TDA_NCLOSE_P IS NULL ) )
            )
        )
        ORDER BY
            TDAD_CEMPLOYEEID,
            TDAD_NOPEN
        ;

    </select>
</mapper>