<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgDailyMapper">
    <update id="buildSQLForUpdateTmgDaily">
		UPDATE TMG_DAILY
		SET
		    TDA_CMODIFIERUSERID    = #{loginUserCode},
		    TDA_DMODIFIEDDATE      = SYSDATE,
		    TDA_CMODIFIERPROGRAMID = #{programId},
		    TDA_CSTATUSFLG         = 'TMG_DATASTATUS|5',
		    TDA_CMODIFIERUSERID_R  = #{loginUserCode},
		    TDA_DMODIFIEDDATE_R    = SYSDATE
		WHERE
		     TDA_CEMPLOYEEID IN
            <foreach item="item" collection="empIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
		 AND TDA_DYYYYMMDD    = #{yyyymmdd}
		 AND TDA_CSTATUSFLG   = 'TMG_DATASTATUS|3'
    </update>

    <select id="buildSQLForSelectCountNotApprovalDay" resultType="string">
        SELECT
            SUM(DECODE(TDA_CSTATUSFLG, NULL, NULL, #{dataStatus9}, 0, #{dataStatus5} , 0, 1))
        FROM
            TMG_DAILY
        WHERE TDA_CCOMPANYID = #{compId}
        AND TDA_CCUSTOMERID = #{custId}
        AND TDA_CEMPLOYEEID = #{empId}
        AND TDA_DYYYYMM = TRUNC(TO_DATE(#{targetDate}, 'YYYY/MM/DD'))
     </select>

    <select id="buildSQLForSelectDaily" resultType="hashmap">
        SELECT
            to_char(TDA_DYYYYMMDD, 'yyyy/MM/dd') AS TDA_DYYYYMMDD,             <!-- 日付 -->
            to_char(TDA_DYYYYMMDD, 'dd') AS TDA_DYYYYMMDD_DD,                  <!-- 日 -->
            to_char(TDA_DYYYYMMDD, 'dy') AS TDA_DYYYYMMDD_DY,                  <!-- 曜日 -->
            TDA_CSTATUSFLG,                                                    <!-- ステータス -->
            (
                SELECT
                    TMG_F_GET_MGD_C(TDA_CSTATUSFLG, TDA_DYYYYMMDD, 1, TDA_CCUSTOMERID,TDA_CCOMPANYID, 'ja') TDA_CSTATUSFLG
                FROM
                    TMG_DAILY a
                WHERE
                    a.TDA_CCUSTOMERID = b.TDA_CCUSTOMERID
                AND a.TDA_CCOMPANYID = b.TDA_CCOMPANYID
                AND a.TDA_CEMPLOYEEID = b.TDA_CEMPLOYEEID
                AND a.TDA_DYYYYMMDD = b.TDA_DYYYYMMDD
                AND TMG_F_IS_HOLIDAY( b.TDA_CWORKINGID_R ,TDA_CCUSTOMERID ,TDA_CCOMPANYID) = 0
            ) AS TDA_CSTATUSFLG_NAME,                                          <!-- ステータス名称 -->
            TDA_CNTFSTATUSFLG,                                                 <!-- 申請ステータス -->
            TMG_F_GET_MGD_C(
                TDA_CNTFSTATUSFLG,
                TDA_DYYYYMMDD,
                1,
                TDA_CCUSTOMERID,
                TDA_CCOMPANYID,
                #{language}
            ) AS TDA_CNTFSTATUSFLG_NAME,                                       <!-- 申請ステータス名称 -->
            TDA_CWORKINGID_R,                                                  <!-- 就業区分 -->
            TMG_F_TRANS_WORKNAME(
                TDA_CEMPLOYEEID,
                TDA_DYYYYMMDD,
                1,
                TDA_CCUSTOMERID,
                TDA_CCOMPANYID,
                #{language}
            ) AS TDA_CWORKINGID_R_NAME,                                          <!-- 就業区分名称 -->
            TDA_CMESSAGE || ' ' || TDA_CCOMMENT_P AS  CCOMMENT                   <!-- 備考 -->
            <!-- 表示項目のselect句を取得し、joinでカンマ結合する -->
            <foreach collection="list" item="params" index ="index" open="," separator =","  close="">
                ${params}
            </foreach>
        FROM
            TMG_DAILY b
        WHERE
            TDA_CEMPLOYEEID    = #{targetUser}
        AND TDA_DYYYYMM        = #{month,jdbcType=DATE}
        AND TDA_CCOMPANYID     = #{compCode}
        AND TDA_CCUSTOMERID    = #{custID}
        <!-- 対象終了日の月について管理対象であるか判定 -->
        AND #{manageFlg}  <![CDATA[<>]]>TMG_F_IS_MANAGEFLG(
                                            #{targetUser},
                                            TRUNC(TO_DATE(#{month,jdbcType=DATE})),
                                            LAST_DAY(TO_DATE(#{month,jdbcType=DATE})),
                                            #{custID},
                                            #{compCode}
                                        )
        ORDER BY
            b.TDA_DYYYYMMDD
     </select>
    <select id="buildSQLForSelectDailyEdit" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.DailyEditVO">
        SELECT
            TDA_CSTATUSFLG,                                                            <!-- 0 ステータス -->
            TDA_CERRCODE TDA_CERRCODE,                                                 <!-- 1 エラーメッセージ -->
            to_char(TDA_DYYYYMMDD, 'yyyy/MM/dd') TDA_DYYYYMMDD,                        <!-- 2 日付 -->
            to_char(TDA_DYYYYMMDD, 'yyyy"年"MM"月"dd"日"(dy)') TDA_DYYYYMMDD_DY,       <!-- 3 日付(表示) -->
            TDA_CWORKINGID_R,                                                          <!-- 4 [実績]就業区分 -->
            TMG_F_TRANS_WORKNAME(
                TDA_CEMPLOYEEID,
                TDA_DYYYYMMDD,
                0,
                TDA_CCUSTOMERID,
                TDA_CCOMPANYID,
                #{language}
            ) TDA_CWORKINGID_R_NAME,                                                 <!-- 5 [実績]就業区分名称 -->
            TMG_F_CONV_MIN2HHMI(TDA_NOPEN_N, 0) TDA_NOPEN_N,                    <!-- 6 [申請反映]始業時刻 -->
            TMG_F_CONV_MIN2HHMI(TDA_NCLOSE_N, 0) TDA_NCLOSE_N,                  <!-- 7 [申請反映]終業時刻 -->
            TMG_F_CONV_MIN2HHMI(TDA_NOPEN_TP, 0) TDA_NOPEN_TP,                  <!-- 8 打刻始業時刻 -->
            TMG_F_CONV_MIN2HHMI(TDA_NCLOSE_TP, 0) TDA_NCLOSE_TP,                <!-- 9 打刻終業時刻 -->
            DECODE(
                TMG_F_IS_DISCRETIONWORK(
                    #{custId}   ,
                    #{compCode} ,
                    TDA_CEMPLOYEEID,
                    TRUNC(TDA_DYYYYMMDD)
                ),

                <!-- 入力サイトの場合はTMG_F_GET_SHOULD_SHOW_TIMEを経由して実績の表示非表示判定を行う -->
                <choose>
                    <when test="siteId == 'TMG_INP' ">
                        <!-- 裁量労働でなければそのまま表示 -->
                        '0' ,
                        TMG_F_CONV_MIN2HHMI(TMG_F_GET_SHOULD_SHOW_TIME(TRUNC(TDA_DYYYYMMDD), TDA_CSTATUSFLG, TDA_NOPEN_TP, TDA_NOPEN_R)),
                    </when>
                    <otherwise>
                        <!-- 裁量労働でなければそのまま表示 -->
                        '0' ,
                        TMG_F_CONV_MIN2HHMI(TDA_NOPEN_R),
                    </otherwise>
                </choose>
                TMG_F_CONV_MIN2HHMI(TDA_NOPEN_R, 0)
            ) as TDA_NOPEN_R,                                                        <!-- 10 [実績]始業時刻 -->
            DECODE(
                TMG_F_IS_DISCRETIONWORK(
                    #{custId},
                    #{compCode},
                    TDA_CEMPLOYEEID,
                    TRUNC(TDA_DYYYYMMDD)
                ),
                <!-- 入力サイトの場合はTMG_F_GET_SHOULD_SHOW_TIMEを経由して実績の表示非表示判定を行う -->
                <choose>
                    <when test="siteId == 'TMG_INP' ">
                        <!-- 裁量労働でなければそのまま表示 -->
                        '0',
                        TMG_F_CONV_MIN2HHMI(TMG_F_GET_SHOULD_SHOW_TIME(TRUNC(TDA_DYYYYMMDD), TDA_CSTATUSFLG, TDA_NCLOSE_TP, TDA_NCLOSE_R)),
                    </when>
                    <otherwise>
                        <!-- 裁量労働でなければそのまま表示 -->
                        '0',
                        TMG_F_CONV_MIN2HHMI(TDA_NCLOSE_R),
                    </otherwise>
                </choose>
                TMG_F_CONV_MIN2HHMI(TDA_NCLOSE_R, 0)
            ) as TDA_NCLOSE_R,                                                      <!-- 11 [実績終業時刻 -->
            TMG_F_CONV_MIN2HHMI(TDA_NRESTOPEN_R, 0) TDA_NRESTOPEN_R,                <!-- 12 [実績]休憩開始時刻 -->
            TMG_F_CONV_MIN2HHMI(TDA_NRESTCLOSE_R, 0) TDA_NRESTCLOSE_R,              <!-- 13 [実績]休憩終了時刻 -->
            TMG_F_CONV_MIN2HHMI(TDA_NOPEN_O, 0) TDA_NOPEN_O,                        <!-- 14 超勤開始時刻 -->
            TMG_F_CONV_MIN2HHMI(TDA_NCLOSE_O, 0) TDA_NCLOSE_O,                      <!-- 15 超勤終了時刻 -->
            TDA_CCOMMENT_O,                                                         <!-- 16 超勤コメント -->
            TDA_COWNCOMMENT_R,                                                      <!-- 17 本人コメント-->
            TDA_CBOSSCOMMENT_R,                                                     <!-- 18 承認者コメント -->
            TMG_F_GET_ME_NAME_APPROVE(
                TDA_CMODIFIERUSERID_R,
                to_date(#{today}, 'yyyy/MM/dd'),
                0,
                #{custId},
                #{compCode}
            ) TDA_CMODIFIERUSERID_R,                                                   <!-- 19 コメント記入者 -->
            TO_CHAR(TDA_DMODIFIEDDATE_R, 'YYYY/MM/DD HH24:MI' ) TDA_DMODIFIEDDATE_R,   <!-- 20 コメント記載日 -->
            TMG_F_CONV_MIN2HHMI(TDA_NOPEN_P, 0) TDA_NOPEN_P,                           <!-- 21 [予定]始業時刻 -->
            TMG_F_CONV_MIN2HHMI(TDA_NCLOSE_P, 0) TDA_NCLOSE_P,                         <!-- 22 [予定]終業時刻 -->
            TDA_CBUSINESSTRIPID_R,                                                     <!-- 23 出張区分 -->
            TMG_F_GET_MGD(
                TDA_CBUSINESSTRIPID_R,
                TDA_DYYYYMMDD,
                TDA_CCUSTOMERID,
                TDA_CCOMPANYID,
                #{language}
            ) TDA_CBUSINESSTRIPID_R_NAME,                                              <!-- 24 [実績]出張区分名称 -->
            TDA_NREST45_P,                                                             <!-- 25 [予定]休憩45分選択 -->
            TMG_F_CONV_MIN2HHMI(
                DECODE(TDA_NREST45_P,
                1,
                DECODE(TDA_NCLOSE_P - TDA_NCLOSE_N, 15, (TDA_NCLOSE_P - 15), TDA_NCLOSE_P),
                TDA_NCLOSE_P
                ),
                0
            ) as TDA_NCLOSE_P_AT_REST45,                                                  <!-- 26 [予定]休憩45分選択 -->
            TMG_F_GET_TMG_PATTERN(TDA_CCUSTOMERID, TDA_CCOMPANYID, NULL, NULL).NTIME NTIME,    <!-- 27 [標準]勤務時間数 -->
            DECODE(
                TMG_F_IS_DISCRETIONWORK(
                    #{custId},
                    #{compCode} ,
                    TDA_CEMPLOYEEID,
                    TRUNC(TDA_DYYYYMMDD)
                ),
        '0' ,
                TMG_F_CONV_MIN2HHMI(TDA_NOPEN_R),     <!-- 裁量労働でなければそのまま表示 -->
                TMG_F_CONV_MIN2HHMI(TDA_NOPEN_R, 0)
            ) as TDA_NOPEN_R_HIDDEN,                                                            <!-- 28 [hidden用]始業時刻 -->
            DECODE(
                TMG_F_IS_DISCRETIONWORK(
                    #{custId}  ,
                    #{compCode} ,
                    TDA_CEMPLOYEEID,
                    TRUNC(TDA_DYYYYMMDD)
                ),
                '0' ,
                TMG_F_CONV_MIN2HHMI(TDA_NCLOSE_R),    <!-- 裁量労働でなければそのまま表示 -->
                TMG_F_CONV_MIN2HHMI(TDA_NCLOSE_R, 0)
            ) as TDA_NCLOSE_R_HIDDEN,                                                         <!-- 29 [hidden用]終業時刻 -->
            NVL(DECODE(
                TMG_F_GET_TIMEPUNCH_TARGETDATE(TDA_CCUSTOMERID, TDA_CCOMPANYID, TDA_CEMPLOYEEID, SYSDATE),
                TDA_DYYYYMMDD,
                TMG_F_GET_NOOVERTIME_DAYS_MSG(TDA_CEMPLOYEEID, TDA_DYYYYMMDD, 1, TDA_CCUSTOMERID, TDA_CCOMPANYID, #{language})
            ), ' ') as NO_OVERTIME_DAYS_MSG                                            <!-- 30 ノー残業デー表示メッセージ -->
        FROM
            TMG_DAILY
        WHERE
            TDA_CEMPLOYEEID = #{targetUser}
        AND TDA_DYYYYMMDD   = #{day}
        AND TDA_CCOMPANYID  = #{compCode}
        AND TDA_CCUSTOMERID = #{custId}
     </select>

    <select id="buildSQLForSelectDetailNonDuty" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.DetailNonDutyVO">
        SELECT
            ATTRIBUTE_URL,                                                          <!-- URL-->
            ITEM_CODE TDAD_CNOTWORKID,                                              <!-- 非勤務区分-->
            TMG_F_CONV_MIN2HHMI(TDA_NRESTOPEN_R, 0) TDAD_NOPEN,                     <!-- 開始時刻-->
            TMG_F_CONV_MIN2HHMI(TDA_NRESTCLOSE_R, 0) TDAD_NCLOSE,                   <!-- 終了時刻-->
            0 TDAD_NDELETEFLG,                                                      <!-- 削除フラグ-->
            0 TDAD_SEQ,                                                             <!-- SEQ-->
            '' TDAD_CSPARECHAR1 ,                                                   <!-- 予備文字列1-->
            0 TDAD_NSPARENUM1 ,                                                     <!-- 予備数値1-->
            '' TDAD_CCODE01 ,                                                       <!-- 予備コード1-->
            '' TDAD_CCODE01_NAME,                                                   <!-- 予備コード名-->
            ITEM_NAME                                                               <!-- マスタ名称-->
        FROM
            TMG_DAILY,
            TABLE(
                TMG_F_GET_RESULTATTRIBUTE(
                    #{custId},
                    #{compCode},
                    #{targetUser},
                    #{siteId},
                    'TMG_CATEGORY|NonDuty',
                    #{day}
                )
            )
        WHERE
        TDA_CEMPLOYEEID    = #{targetUser}
        AND TDA_DYYYYMMDD      = #{day}
        AND TDA_CCOMPANYID     = #{compCode}
        AND TDA_CCUSTOMERID    = #{custId}
        AND TDA_DSTARTDATE     <![CDATA[<=]]>  #{day}
        AND TDA_DENDDATE       >= #{day}
        AND TDA_NRESTOPEN_R IS NOT NULL
        AND TDA_NRESTCLOSE_R IS NOT NULL
        AND ITEM_CODE = 'TMG_ITEMS|ResultRest'

        UNION

        SELECT
            ATTRIBUTE_URL,                                                          <!-- URL-->
            TDAD_CNOTWORKID,                                                        <!-- 非勤務区分-->
            TMG_F_CONV_MIN2HHMI(TDAD_NOPEN, 0) TDAD_NOPEN,                          <!-- 開始時刻-->
            TMG_F_CONV_MIN2HHMI(TDAD_NCLOSE, 0) TDAD_NCLOSE,                        <!-- 終了時刻-->
            TDAD_NDELETEFLG,                                                        <!-- 削除フラグ-->
            TDAD_SEQ,                                                               <!-- SEQ-->
            NVL(TDAD_CSPARECHAR1,'') TDAD_CSPARECHAR1,                              <!-- 予備文字列1-->
            TDAD_NSPARENUM1 TDAD_NSPARENUM1 ,                                       <!-- 予備数値1-->
            NVL(TDAD_CCODE01,'') TDAD_CCODE01,                                      <!-- 予備コード1-->
            TMG_F_GET_MGD(
                TDAD_CCODE01,
                TDAD_DYYYYMMDD,
                TDAD_CCUSTOMERID,
                TDAD_CCOMPANYID,
                #{language}
            ) TDAD_CCODE01_NAME,                                                      <!-- 予備コード1名-->
            ITEM_NAME                                                                 <!-- マスタ名称-->
        FROM
            TMG_DAILY_DETAIL,
            TABLE(
                TMG_F_GET_RESULTATTRIBUTE(
                    #{custId},
                    #{compCode},
                    #{targetUser},
                    #{siteId},
                    'TMG_CATEGORY|NonDuty',
                    #{day}
                )
            )
        WHERE
            TDAD_CEMPLOYEEID   = #{targetUser}
        AND TDAD_DYYYYMMDD     = #{day}
        AND TDAD_CCOMPANYID    = #{compCode}
        AND TDAD_CCUSTOMERID   = #{custId}
        AND TDAD_CNOTWORKID    = ITEM_CODE
        ORDER BY
            TDAD_SEQ
    </select>
    <select id="buildSQLForSelectDetailOverhours" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.DetailOverhoursVO">
        SELECT
            ATTRIBUTE_URL,                          									<!-- URL -->
            ITEM_CODE TDAD_CNOTWORKID,              									<!--  非勤務区分 -->
            TMG_F_CONV_MIN2HHMI(TDA_NOPEN_O, 0) TDAD_NOPEN,                    			<!-- 超勤開始時刻 -->
            TMG_F_CONV_MIN2HHMI(TDA_NCLOSE_O, 0) TDAD_NCLOSE,                 			<!-- 超勤終了時刻 -->
            0 TDAD_NDELETEFLG,                                      					<!-- 削除フラグ -->
            0 TDAD_SEQ,     															<!-- SEQ -->
            TDA_CCOMMENT_O TDAD_CSPARECHAR1,   											<!-- 予備文字列1 -->
            0 TDAD_NSPARENUM1,  														<!-- 予備数値1 -->
            '' TDAD_CCODE01 ,  															<!-- 予備コード1 -->
            '' TDAD_CCODE01_NAME,   													<!-- 予備コード名 -->
            ITEM_NAME,                                                         			<!-- マスタ名称 -->
            'TMG_OVERHOUR_STATUS|6' TDAD_CSPARECHAR2,    								<!-- 予備文字列2(申請ステータス) -->
            TMG_F_GET_MGD(
                'TMG_OVERHOUR_STATUS|6',
                #{day},
                #{compCode},
                #{custId},
                #{language}
            ) AS TDAD_CSPARECHAR2_NAME    												<!-- 申請ステータス名称 -->
        FROM
            TMG_DAILY,
            TABLE
                (
                    TMG_F_GET_RESULTATTRIBUTE(
                        #{custId},
                        #{compCode},
                        #{targetUser},
                        #{siteId},
                        'TMG_CATEGORY|Overhours',
                        #{day}
                    )
                )
        WHERE
            TDA_CEMPLOYEEID    = #{targetUser}
        AND TDA_DYYYYMMDD      = #{day}
        AND TDA_CCOMPANYID     = #{compCode}
        AND TDA_CCUSTOMERID    = #{custId}
        AND TDA_DSTARTDATE <![CDATA[<=]]> #{day}
        AND TDA_DENDDATE   >= #{day}
        AND TDA_NOPEN_O IS NOT NULL
        AND TDA_NCLOSE_O IS NOT NULL
        AND ITEM_CODE = 'TMG_ITEMS|Overhours'

        UNION

        SELECT
            ATTRIBUTE_URL,                                          										<!-- URL -->
            TDAD_CNOTWORKID,                                        										<!--  非勤務区分 -->
            TMG_F_CONV_MIN2HHMI(TDAD_NOPEN, 0) TDAD_NOPEN,          										<!-- 超勤開始時刻 -->
            TMG_F_CONV_MIN2HHMI(TDAD_NCLOSE, 0) TDAD_NCLOSE,        										<!-- 超勤終了時刻 -->
            TDAD_NDELETEFLG,                                        										<!-- 削除フラグ -->
            TDAD_SEQ,   																					<!-- SEQ -->
            NVL(TDAD_CSPARECHAR1,'') TDAD_CSPARECHAR1,   													<!-- 予備文字列1 -->
            TDAD_NSPARENUM1 TDAD_NSPARENUM1 ,   															<!-- 予備数値1 -->
            NVL(TDAD_CCODE01,'') TDAD_CCODE01,  															<!-- 予備コード1 -->
            TMG_F_GET_MGD(
                TDAD_CCODE01,
                TDAD_DYYYYMMDD,
                TDAD_CCUSTOMERID,
                TDAD_CCOMPANYID,
                #{language}
            ) TDAD_CCODE01_NAME,    																	<!-- 予備コード名 -->
            ITEM_NAME                                            										<!-- マスタ名称 -->
            , NVL(TDAD_CSPARECHAR2, 'TMG_OVERHOUR_STATUS|6') TDAD_CSPARECHAR2,   						<!-- 予備文字列2(申請ステータス) -->
            TMG_F_GET_MGD(
                TDAD_CSPARECHAR2
                ,#{day}
                ,#{compCode}
                ,#{custId}
                ,#{language}
            )
            <!--超過勤務の事前事後情報の表示制御がＯＮ設定の場合、事前事後の情報を取得する。-->
            <if test="isOvertimeNotification == true ">
                    || '（' || TMG_F_GET_OVERTIME_NOTICEINFO(TDAD_CEMPLOYEEID, TDAD_DYYYYMMDD, TDAD_NOPEN, TDAD_CSPARECHAR3, TDAD_DSPAREDATE1, TDAD_CCUSTOMERID, TDAD_CCOMPANYID) || '）'
            </if>
            AS  TDAD_CSPARECHAR2_NAME    																			<!-- 申請ステータス名称 -->
        FROM
            TMG_DAILY_DETAIL,
            TABLE
                (
                    TMG_F_GET_RESULTATTRIBUTE(
                        #{custId},
                        #{compCode},
                        #{targetUser},
                        #{siteId},
                        'TMG_CATEGORY|Overhours',
                        #{day}
                    )
                )
        WHERE
            TDAD_CEMPLOYEEID   = #{targetUser}
        AND TDAD_DYYYYMMDD     = #{day}
        AND TDAD_CCOMPANYID    = #{compCode}
        AND TDAD_CCUSTOMERID   = #{custId}
        AND TDAD_CNOTWORKID    = ITEM_CODE
        ORDER BY TDAD_SEQ
    </select>
    <select id="selectMonthlyOverSum" resultType="jp.smartcompany.job.modules.tmg.overtimeInstruct.vo.MonthlyInfoOverSumVo">
        SELECT
            NVL( b.MONTH_ID, '0.00' ) MONTH_ID,
            NVL( a.WEEKDAYS_OVERTIME, '0.00' ) WEEKDAYS_OVERTIME,
            NVL( a.SUNDAYS_OVERTIME, '0.00' ) SUNDAYS_OVERTIME,
            NVL( a.TOTAL_OVERTIME, '0.00' ) TOTAL_OVERTIME
        FROM
        (
            SELECT
                TDA.TDA_DYYYYMM AS TDA_DYYYYMM,
                REPLACE ( TMG_F_CONV_MIN2HHMI ( NVL( SUM( DECODE( TDA.TDA_CWORKINGID_R, 'TMG_WORK|000', TDT.TDT_NVALUE, 0 ) ), '0.00' ) ), ':', '.' ) AS WEEKDAYS_OVERTIME,
                REPLACE ( TMG_F_CONV_MIN2HHMI ( NVL( SUM( DECODE( TDA.TDA_CWORKINGID_R, 'TMG_WORK|510', TDT.TDT_NVALUE, 0 ) ), '0.00' ) ), ':', '.' ) AS SUNDAYS_OVERTIME,
                REPLACE ( TMG_F_CONV_MIN2HHMI ( NVL( SUM( TDT.TDT_NVALUE ), '0.00' ) ), ':', '.' ) AS TOTAL_OVERTIME
            FROM
                TMG_DAILY_TOTALIZATION TDT,
                TMG_DAILY TDA
            WHERE
                TDT.TDT_CEMPLOYEEID = #{userID}
            AND TDT.TDT_CTOTALIZATIONID = 'TMG_TOTALITEM|overtime_total'
            AND TDT.TDT_CCUSTOMERID = #{custId}
            AND TDT.TDT_CCOMPANYID = #{compId}
            AND TDT.TDT_DYYYYMMDD = TDA.TDA_DYYYYMMDD
            AND TDT.TDT_CCUSTOMERID = TDA.TDA_CCUSTOMERID
            AND TDT.TDT_CCOMPANYID = TDA.TDA_CCOMPANYID
            AND TDT.TDT_CEMPLOYEEID = TDA.TDA_CEMPLOYEEID
            AND TDA.TDA_DYYYYMM >= ADD_MONTHS( to_date( #{sBaseDBDate}, 'yyyy/mm/dd' ),#{sMonthsNum,jdbcType=BIGINT})
            AND TDA.TDA_DYYYYMM <![CDATA[<=]]> to_date( #{sBaseDBDate}, 'yyyy/mm/dd' )
            AND ( TDA.TDA_CWORKINGID_R = 'TMG_WORK|000' OR TDA.TDA_CWORKINGID_R = 'TMG_WORK|510' )
            GROUP BY
                TDA.TDA_DYYYYMM
        ) a
        RIGHT JOIN (
            SELECT
                TO_CHAR( ADD_MONTHS( ( ADD_MONTHS( to_date( #{sBaseDBDate}, 'yyyy/mm/dd' ),#{sMonthsNum,jdbcType=BIGINT} ) ), ROWNUM - 1 ), 'YYYY/MM/DD' ) MONTH_ID_YYYYMM,
                TO_CHAR( ADD_MONTHS( ( ADD_MONTHS( to_date( #{sBaseDBDate}, 'yyyy/mm/dd' ),#{sMonthsNum,jdbcType=BIGINT} ) ), ROWNUM - 1 ), 'YYYY/MM' ) MONTH_ID
            FROM
                DUAL
            CONNECT BY ROWNUM <![CDATA[<=]]> MONTHS_BETWEEN( to_date(#{sBaseDBDate}, 'yyyy/mm/dd' ), ( ADD_MONTHS( to_date(#{sBaseDBDate}, 'yyyy/mm/dd' ),#{sMonthsNum,jdbcType=BIGINT} ) ) ) + 1
            ) b ON b.MONTH_ID_YYYYMM = a.TDA_DYYYYMM
        ORDER BY
        b.MONTH_ID



    </select>
    <select id="selectDaily" resultType="jp.smartcompany.job.modules.tmg.overtimeInstruct.vo.DailyVo">
        SELECT
            e.EMPNAME AS TDA_CEMPLOYEEID_NAME,
            TMG_F_CONV_MIN2HHMI ( TDA_NOPEN_N, 0 ) AS TDA_NOPEN_N_C,
            TMG_F_CONV_MIN2HHMI ( TDA_NCLOSE_N, 0 ) AS TDA_NCLOSE_N_C,
            TMG_F_CONV_MIN2HHMI ( TDA_NOPEN_O, 0 ) AS TDA_NOPEN_O,
            TMG_F_CONV_MIN2HHMI ( TDA_NCLOSE_O, 0 ) AS TDA_NCLOSE_O,
            TDA_CMESSAGE,
            TDA_CCOMMENT_O,
            TDA_CSTATUSFLG,
            e.EMPID AS TDA_CEMPLOYEEID,
            TMG_F_CONV_MIN2HHMI ( TDA_NOPEN_TP, 0 ) AS TDA_NOPEN_TP_C,
            TMG_F_CONV_MIN2HHMI ( TDA_NCLOSE_TP, 0 ) AS TDA_NCLOSE_TP_C,
            TMG_F_GET_MGD ( TDA_CWORKINGID_R, #{baseDay}, #{custId}, #{compId}, #{pLanguage} ) AS TDA_CWORKINGID_R,
            TMG_F_CONV_MIN2HHMI ( TDA_NRESTOPEN_N, 0 ) AS TDA_NRESTOPEN_N,
            TMG_F_CONV_MIN2HHMI ( TDA_NRESTCLOSE_N, 0 ) AS TDA_NRESTCLOSE_N,
            TMG_F_IS_EXCLUDE_OVERTIME ( e.EMPID, #{baseDay}, #{custId}, #{compId} ) AS EXCLUDE_OVERTIME,
            NVL( TDA_NOPEN_N, 0 ) AS NOPEN_N,
            NVL( TDA_NCLOSE_N, 0 ) AS NCLOSE_N,
            NVL( TDA_NOPEN_P, 0 ) AS NOPEN_P,
            NVL( TDA_NCLOSE_P, 0 ) AS NCLOSE_P,
            (
                SELECT
                    NVL( SUM( TDAD_NCLOSE - TDAD_NOPEN ), 0 )
                FROM
                    TMG_DAILY_DETAIL TDD
                WHERE
                    TDAD_CEMPLOYEEID = TDA_CEMPLOYEEID
                AND TDAD_DYYYYMMDD = #{baseDay}
                AND TDAD_CCOMPANYID = TDA_CCOMPANYID
                AND TDAD_CCUSTOMERID = TDA_CCUSTOMERID
                AND TDAD_CNOTWORKID = 'TMG_ITEMS|NoticeRest'
            ) AS SUM_REST,
        (
            SELECT
                NVL( SUM( TDAD_NCLOSE - TDAD_NOPEN ), 0 )
            FROM
                TMG_DAILY_DETAIL TDD
            WHERE
                TDAD_CEMPLOYEEID = TDA_CEMPLOYEEID
            AND TDAD_DYYYYMMDD = #{baseDay}
            AND TDAD_CCOMPANYID = TDA_CCOMPANYID
            AND TDAD_CCUSTOMERID = TDA_CCUSTOMERID
            AND TDAD_CNOTWORKID LIKE 'TMG_NOTWORK%'
            AND (   ( NVL( TDA_NOPEN_N, 0 ) <![CDATA[<=]]> NVL( TDAD_NOPEN, 0 )
                    AND NVL( TDA_NCLOSE_N, 0 ) > NVL( TDAD_NOPEN, 0 ) )
                    AND ( NVL( TDA_NOPEN_N, 0 ) <![CDATA[<]]> NVL( TDAD_NCLOSE, 0 )
                    AND NVL( TDA_NCLOSE_N, 0 ) >= NVL( TDAD_NCLOSE, 0 ) )
            )
        ) AS SUM_NOTICE,
        (   SELECT
                COUNT( TDAD_CNOTWORKID )
            FROM
                TMG_DAILY_DETAIL TDD
            WHERE
                TDAD_CEMPLOYEEID = TDA_CEMPLOYEEID
            AND TDAD_DYYYYMMDD = #{baseDay}
            AND TDAD_CCOMPANYID = TDA_CCOMPANYID
            AND TDAD_CCUSTOMERID = TDA_CCUSTOMERID
            AND TDAD_CNOTWORKID = 'TMG_ITEMS|PlanRest'
        ) AS CNT_PLANREST,

        <foreach collection="itemsSql" item="itemsSql" index="index" open="" separator="," close="">
            ${itemsSql.mgdCsql} AS ${itemsSql.mgdCcolumnid}
        </foreach>

        FROM
            TMG_DAILY d,
        (${empListSql}) e
        WHERE
            d.TDA_CCUSTOMERID = #{custId}
        AND d.TDA_CCOMPANYID = #{compId}
        AND d.TDA_DYYYYMM = #{baseMonth}
        AND d.TDA_DYYYYMMDD = #{baseDay}
        AND d.TDA_CEMPLOYEEID = e.EMPID
        AND d.TDA_DSTARTDATE <![CDATA[<=]]> #{baseDay}
        AND d.TDA_DENDDATE >= #{baseDay}
        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG ( e.EMPID, TRUNC( TO_DATE(#{baseMonth}) ), LAST_DAY( TO_DATE( #{baseMonth} ) ), e.cust, e.comp )
        ORDER BY
            e.seq
    </select>


    <select id="buildSQLForSelectTmgDaily" resultType="java.util.HashMap">
        SELECT
            d.TDA_CEMPLOYEEID,  																										<!-- 0 職員番号-->
            TMG_F_TRANS_DISPPERMSTATUS(d.TDA_CSTATUSFLG,d.TDA_DYYYYMMDD,TRUNC(SYSDATE)) AS TRANS_DISPPERMSTATUS,     					<!-- 1 日次ステータス-->
            (
                SELECT
                    DISTINCT TMG_F_GET_ME_NAME(B.TDAD_CEMPLOYEEID, B.TDAD_DYYYYMMDD, 0, B.TDAD_CCUSTOMERID, B.TDAD_CCOMPANYID)
                FROM
                    TMG_DAILY_DETAIL B
                WHERE
                    B.TDAD_CCUSTOMERID = d.TDA_CCUSTOMERID
                AND B.TDAD_CCOMPANYID  = d.TDA_CCOMPANYID
                AND B.TDAD_CEMPLOYEEID = d.TDA_CEMPLOYEEID
                AND B.TDAD_DYYYYMMDD   = d.TDA_DYYYYMMDD
                AND B.TDAD_CNOTWORKID  = 'TMG_ITEMS|Overhours'
                AND B.TDAD_NOPEN      >= d.TDA_NCLOSE_P
                AND d.TDA_CSTATUSFLG   = 'TMG_DATASTATUS|3'
                AND d.TDA_NCLOSE_TP   IS NULL
            ) AS NOTCLOSETPWITHOVERTIME_EMPNAME, 																			<!-- 2 「承認状態が「承認待」で、超勤命令を有する未終業打刻」状態の職員氏名（エラーメッセージ用の項目の為、該当しない職員はNULL）-->
            TMG_F_GET_ME_NAME(d.TDA_CEMPLOYEEID, d.TDA_DYYYYMMDD, 0, d.TDA_CCUSTOMERID, d.TDA_CCOMPANYID) AS EMPNAME,		<!-- 3 職員氏名-->
            (
                SELECT
                    DECODE(COUNT(B.TDAD_CNOTWORKID), 0, 0, 1)
                FROM
                    TMG_DAILY_DETAIL B
                WHERE
                    B.TDAD_CCUSTOMERID = d.TDA_CCUSTOMERID
                AND B.TDAD_CCOMPANYID  = d.TDA_CCOMPANYID
                AND B.TDAD_CEMPLOYEEID = d.TDA_CEMPLOYEEID
                AND B.TDAD_DYYYYMMDD   = d.TDA_DYYYYMMDD
                AND B.TDAD_CNOTWORKID  = 'TMG_ITEMS|Overhours'
                AND B.TDAD_CSPARECHAR2 = 'TMG_OVERHOUR_STATUS|0'
            ) AS NONAPPROVALOVERHOUR_FLG  																					<!-- 4 「申請中の超過勤務申請」を持つかどうかの判定（0：持たない、1：持つ）-->
            <!-- 表示項目のselect句を取得し、joinでカンマ結合する -->
            <foreach collection="list" item="params" index ="index" open="," separator =","  close="">
                ${params}
            </foreach>
        FROM
            TMG_DAILY d,
            (${empSql}) v
        WHERE
            d.TDA_CEMPLOYEEID = v.EMPID
        AND d.TDA_DYYYYMMDD   = #{targetDate}
        <!-- 一括承認対象日について管理対象であるか判定-->
        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG(v.empid, TRUNC(to_date(#{targetDate},'yyyy/mm/dd')), TRUNC(to_date(#{targetDate},'yyyy/mm/dd')), v.cust, v.comp)
        ORDER BY v.SEQ
    </select>
    <select id="buildSQLForSelectObjEmpForUpdate" resultType="java.lang.String">
		SELECT
		    ROWID
		FROM
		    TMG_DAILY
		WHERE
		    TDA_CEMPLOYEEID IN
            <foreach item="item" collection="empIdList" open="(" separator="," close=")">
                #{item}
            </foreach>
		AND TDA_DYYYYMMDD    = #{yyyymmdd}
		AND TDA_CSTATUSFLG   = 'TMG_DATASTATUS|3'
    </select>

    <select id="selectDailyDetailOverHours" resultType="jp.smartcompany.job.modules.tmg.overtimeInstruct.vo.DailyDetailOverHoursVo" statementType="STATEMENT">
        SELECT
            e.EMPID AS TDA_CEMPLOYEEID,
            TDA_DYYYYMM TDAD_DYYYYMM,
            TDA_DYYYYMMDD TDAD_DYYYYMMDD,
            'TMG_ITEMS|Overhours' TDAD_CNOTWORKID,
            TMG_F_CONV_MIN2HHMI ( TDA_NRESTOPEN_R, 0 ) TDAD_NOPEN,
            TMG_F_CONV_MIN2HHMI ( TDA_NRESTCLOSE_R, 0 ) TDAD_NCLOSE,
            TDA_CCOMMENT_O TDAD_CSPARECHAR1,
            '' AS TDAD_CSPARECHAR2
        FROM
            TMG_DAILY,
            (${empListSql}) e
        WHERE
            TDA_CEMPLOYEEID = e.EMPID
        AND TDA_DYYYYMMDD = to_date('${baseDate}', 'yyyy/mm/dd' )
        AND TDA_CCOMPANYID = '${compId}'
        AND TDA_CCUSTOMERID = '${custId}'
        AND TDA_DSTARTDATE <![CDATA[<=]]> to_date('${baseDate}', 'yyyy/mm/dd' )
        AND TDA_DENDDATE >= to_date( '${baseDate}', 'yyyy/mm/dd' )
        AND TDA_NOPEN_O IS NOT NULL
        AND TDA_NCLOSE_O IS NOT NULL

        UNION

        SELECT
            e.EMPID AS TDA_CEMPLOYEEID,
            TDAD_DYYYYMM,
            TDAD_DYYYYMMDD,
            TDAD_CNOTWORKID,
            TMG_F_CONV_MIN2HHMI ( TDAD_NOPEN, 0 ) TDAD_NOPEN,
            TMG_F_CONV_MIN2HHMI ( TDAD_NCLOSE, 0 ) TDAD_NCLOSE,
            TDAD_CSPARECHAR1,
            NVL(TDAD_CSPARECHAR2,'TMG_OVERHOUR_STATUS|6') TDAD_CSPARECHAR2
        FROM
            TMG_DAILY_DETAIL,
            (${empListSql}) e
        WHERE
            TDAD_CEMPLOYEEID = e.EMPID
        AND TDAD_DYYYYMMDD = to_date('${baseDate}', 'yyyy/mm/dd' )
        AND TDAD_CCOMPANYID = '${compId}'
        AND TDAD_CCUSTOMERID = '${custId}'
        AND TDAD_CNOTWORKID = 'TMG_ITEMS|Overhours'

        ;
    </select>
    <select id="buildSQLForSelectPaidHoliday"
            resultType="jp.smartcompany.job.modules.tmg.tmgacquired5daysHoliday.vo.PaidHolidayVO">
        SELECT
            TO_CHAR(R1.TDA_DYYYYMMDD, 'yyyy/MM/dd') AS TDA_DYYYYMMDD,                       												<!-- 取得日-->
            TO_CHAR(TMG_F_GET_MGD(R4.TNTF_CTYPE, sysdate,R1.TDA_CCUSTOMERID, R1.TDA_CCOMPANYID)) AS TDA_CWORKINGNAME,                        <!-- 年次有給休暇名称-->
            R1.TDA_CWORKINGID_R                      																						<!-- 年次有給休暇ID-->
        FROM
            TMG_DAILY R1
        INNER JOIN  TMG_NOTIFICATION R4
        ON R1.TDA_CCUSTOMERID =R4.TNTF_CCUSTOMERID
        AND R1.TDA_CCOMPANYID =R4.TNTF_CCOMPANYID
        AND R1.TDA_CEMPLOYEEID =R4.TNTF_CEMPLOYEEID
        AND R1.TDA_CREFNTFNO =R4.TNTF_CNTFNO
        WHERE
            R1.TDA_CCUSTOMERID = #{custID}
        AND R1.TDA_CCOMPANYID  =  #{compCode}
        AND R1.TDA_CEMPLOYEEID = #{userCode}
        AND R1.TDA_DYYYYMMDD  >= #{searchStart}
        AND R1.TDA_DYYYYMMDD  <![CDATA[<=]]> #{searchEnd}
        AND EXISTS (
            SELECT 1 FROM TMG_V_MGD_ACQUIRED5DAY_TGT R2
            WHERE
                R2.MGD_CCUSTOMERID      = #{custID}
            AND R2.MGD_CCOMPANYID_CK_FK = #{compCode}
            AND R2.MGD_DSTART_CK       <![CDATA[<=]]> #{searchEnd}
            AND R2.MGD_DEND            >= #{searchStart}
            AND R2.MGD_CLANGUAGE_CK     = 'ja'
            AND R2.MGD_NKIND            = 1
            AND R2.MGD_CWORKNOTWORKTYPE = R1.TDA_CWORKINGID_R
        )
        UNION
        SELECT
            TO_CHAR(R3.TDAD_DYYYYMMDD, 'yyyy/MM/dd') AS TDAD_DYYYYMMDD,
            TO_CHAR(R3.TNTF_CTYPE) AS TDA_CWORKINGNAME,
            R3.TDAD_CNOTWORKID
        FROM
            (
                SELECT
                    R1.TDAD_DYYYYMMDD, TMG_F_GET_MGD(R4.TNTF_CTYPE, sysdate,R4.TNTF_CCUSTOMERID, R4.TNTF_CCOMPANYID) TNTF_CTYPE , R1.TDAD_CNOTWORKID
                FROM
                    TMG_DAILY_DETAIL R1
                INNER JOIN  TMG_NOTIFICATION R4
                ON R1.TDAD_CCUSTOMERID =R4.TNTF_CCUSTOMERID
                AND R1.TDAD_CCOMPANYID =R4.TNTF_CCOMPANYID
                AND R1.TDAD_CEMPLOYEEID =R4.TNTF_CEMPLOYEEID
                AND R1.TDAD_CREFNTFNO =R4.TNTF_CNTFNO
                WHERE
                    R1.TDAD_CCUSTOMERID = #{custID}
                AND R1.TDAD_CCOMPANYID  = #{compCode}
                AND R1.TDAD_CEMPLOYEEID = #{userCode}
                AND R1.TDAD_DYYYYMMDD  >= #{searchStart}
                AND R1.TDAD_DYYYYMMDD  <![CDATA[<=]]> #{searchEnd}
                AND EXISTS (
                    SELECT 1 FROM TMG_V_MGD_ACQUIRED5DAY_TGT R2
                    WHERE
                    R2.MGD_CCUSTOMERID      = #{custID}
                    AND R2.MGD_CCOMPANYID_CK_FK = #{compCode}
                    AND R2.MGD_DSTART_CK       <![CDATA[<=]]> #{searchEnd}
                    AND R2.MGD_DEND            >= #{searchStart}
                    AND R2.MGD_CLANGUAGE_CK     = 'ja'
                    AND R2.MGD_NKIND           in (2, 3)
                    AND R2.MGD_CWORKNOTWORKTYPE = R1.TDAD_CNOTWORKID
                )
            ) R3
    </select>
    <select id="buildSQLForSelectTmgStatus"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.dto.TmgStatus">
        SELECT
            TMG_F_IS_FIXED_MONTHLY(M.TMO_CEMPLOYEEID,M.TMO_DYYYYMM,M.TMO_CCUSTOMERID,M.TMO_CCOMPANYID) AS FIXED_MONTHLY,
            TMG_F_IS_FIXED_SALARY (M.TMO_CEMPLOYEEID,M.TMO_DYYYYMM,M.TMO_CCUSTOMERID,M.TMO_CCOMPANYID) AS FIXED_SALARY,
            D.TDA_CSTATUSFLG,
            M.TMO_CSTATUSFLG,
            (CASE WHEN TRUNC(SYSDATE)  <![CDATA[<]]> D.TDA_DYYYYMMDD THEN 1 ELSE 0 END) AS IS_FUTURE
        FROM
            TMG_DAILY D,
            TMG_MONTHLY M
        WHERE
            D.TDA_CEMPLOYEEID = #{userCode}
        AND D.TDA_DYYYYMMDD   = #{day}
        AND D.TDA_CCUSTOMERID = #{custID}
        AND D.TDA_CCOMPANYID  = #{compCode}
        AND M.TMO_CEMPLOYEEID = D.TDA_CEMPLOYEEID
        AND M.TMO_DYYYYMM     = D.TDA_DYYYYMM
        AND M.TMO_CCUSTOMERID = D.TDA_CCUSTOMERID
        AND M.TMO_CCOMPANYID  = D.TDA_CCOMPANYID
    </select>

</mapper>