<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgDailyActionlogMapper">

    <select id="buildSQLForSelectTmgSelectDailyActionLog"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.DailyLogVO">
        SELECT
            CMODIFIERUSERNM,
            CACTIONNM,
            CMODIFIERPROGRAMNM,
            TO_CHAR(DMODIFIEDDATE, 'yyyy/mm/dd hh24:mi') DMODIFIEDDATE,
            CCHANGELOGSTR
        FROM
            TABLE(TMG_SELECT_DAILY_ACTIONLOG(#{custID},#{compCode},#{targetUser},#{day},#{language}))
    </select>
</mapper>