<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgEmployeeAttributeMapper">
    <select id="buildSQLForSelectTmgEmployeeAttribute" resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.TmgEmployeeAttributeVO">
        SELECT
            NVL(TES_CATTRIBUTE, 'TMG_ONOFF|0' ) TES_CATTRIBUTE
            ,CSPARECHAR1
            ,CCODE01
            ,TMG_F_GET_MGD(CCODE01, #{date,jdbcType=DATE} , #{custID} ,#{compCode}) CCODE1NAME
            , NSPARENUM1
            , CSPARECHAR2
        FROM
            TMG_EMPLOYEE_ATTRIBUTE
        WHERE
            TES_CCUSTOMERID = #{custID}
        AND  TES_CCOMPANYID = #{compCode}
        AND  TES_CEMPLOYEEID = #{targetUser}
        <if test="psType == overHoursReasonType">
            AND TES_DSTARTDATE = #{month,jdbcType=DATE}
        </if>
        <if test="psType != overHoursReasonType">
            AND TES_DSTARTDATE <![CDATA[<=]]> #{month,jdbcType=DATE}
            AND TES_DENDDATE >= #{month,jdbcType=DATE}
        </if>
        AND  TES_CTYPE = #{psType}
    </select>

    <insert id="buildSQLForInsertTmgEmployeeAttributeActDisp" >
        INSERT INTO TMG_EMPLOYEE_ATTRIBUTE (
              TES_CCUSTOMERID
            , TES_CCOMPANYID
            , TES_CEMPLOYEEID
            , TES_DSTARTDATE
            , TES_DENDDATE
            , TES_CMODIFIERUSERID
            , TES_DMODIFIEDDATE
            , TES_CMODIFIERPROGRAMID
            , TES_CTYPE
            , TES_CATTRIBUTE
            , NSPARENUM1
            , NSPARENUM2
       ) VALUES (
             #{custId}
            ,#{compCode}
            ,#{targetUser}
            ,TRUNC(TO_DATE(#{month,jdbcType=DATE}))
            ,LAST_DAY(TO_DATE(#{month,jdbcType=DATE}))
            ,#{userCode}
            ,SYSDATE
            ,#{modifierProgramId}
            ,#{psType}
            ,#{onOff}
            ,#{view}
            ,#{mailUnsend}
       )
    </insert>

    <update id="buildSQLForUpdateTmgEmployeeAttribute">
         UPDATE TMG_EMPLOYEE_ATTRIBUTE
           SET TES_DMODIFIEDDATE      = SYSDATE
             , TES_CMODIFIERPROGRAMID = #{modifierProgramId}
             , NSPARENUM1             = #{view}
             , NSPARENUM2             = #{mailUnsend}
         WHERE TES_CCUSTOMERID = #{custId}
           AND TES_CCOMPANYID  = #{compCode}
           AND TES_CEMPLOYEEID =  #{targetUser}
           AND TES_DSTARTDATE  = TRUNC(TO_DATE(#{month,jdbcType=DATE}))
           AND TES_DENDDATE    = LAST_DAY(TO_DATE(#{month,jdbcType=DATE}))
           AND TES_CTYPE       = #{type}
           AND TES_CMODIFIERUSERID = #{userCode}
    </update>
</mapper>