<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgMonthlyMapper">

    <select id="selectMonthlyDisp" parameterType="map" resultType="map" statementType="STATEMENT">
        SELECT

        <foreach collection="array" item="params"  index="index" open=" " separator="," close=" ">
            ${params}
        </foreach>
        FROM
        TMG_MONTHLY
        WHERE
        TMO_CCOMPANYID          =   ${customerId}
        AND     TMO_CCUSTOMERID     =   ${companyId}
        AND     TMO_DYYYYMM                 =  ${yyyymmdd}
        AND     TMO_CEMPLOYEEID         =   ${employeeId}
        ;
    </select>


    <select id="selectPaidHolidayThisMonthInfo"  resultType="jp.smartcompany.job.modules.tmg.tmgnotification.vo.paidHolidayThisMonthInfoVo" >
        SELECT
        TMO_NPAID_BEGINING_DAYS,
        TMO_NPAID_BEGINING_HOURS,
        TMO_NPAID_REST_DAYS,
        TMO_NPAID_REST_HOURS,
        TO_CHAR( TPH_DYYYYMMDD, 'yyyy"年"MM"月"dd"日"' ) TPH_DYYYYMMDD
        FROM
        TMG_EMPLOYEES,
        TMG_MONTHLY,
        TMG_PAID_HOLIDAY
        WHERE
        TEM_CCUSTOMERID = #{customerId}
        AND TEM_CCOMPANYID = #{companyId}
        AND TEM_CEMPLOYEEID = #{employeeId}
        AND TEM_DSTARTDATE <![CDATA[<=]]> TRUNC( SYSDATE )
        AND TEM_DENDDATE >= TRUNC( SYSDATE )
        AND TEM_CWORKTYPEID IN ( 'TMG_WORKERTYPE|20', 'TMG_WORKERTYPE|30' )
        AND TMO_CCUSTOMERID = TEM_CCUSTOMERID
        AND TMO_CCOMPANYID = TEM_CCOMPANYID
        AND TMO_CEMPLOYEEID = TEM_CEMPLOYEEID
        AND TMO_DSTARTDATE <![CDATA[<=]]> TRUNC( SYSDATE )
        AND TMO_DENDDATE >= TRUNC( SYSDATE )
        AND TMO_DYYYYMM = TRUNC( SYSDATE, 'MM' )
        AND TPH_CCUSTOMERID = TEM_CCUSTOMERID
        AND TPH_CCOMPANYID = TEM_CCOMPANYID
        AND TPH_CEMPLOYEEID = TEM_CEMPLOYEEID
        AND TPH_DSTARTDATE <![CDATA[<=]]> TRUNC( SYSDATE )
        AND TPH_DENDDATE >= TRUNC( SYSDATE )
        AND TPH_DYYYYMM = TRUNC( SYSDATE, 'MM' )
        AND TPH_DYYYYMM != TPH_DYYYYMMDD;
    </select>

    <select id="buildSQLForSelectMonthlyOverTime" resultType="string">
        SELECT
          TMG_F_GET_SUM_OVERTIME(TMO_CEMPLOYEEID, TMO_DYYYYMM, TMO_CCUSTOMERID, TMO_CCOMPANYID) AS OVERTIME
        FROM
          TMG_MONTHLY
        WHERE
          TMO_CCUSTOMERID = #{custID}
        AND TMO_CCOMPANYID =  #{compCode}
        AND TMO_CEMPLOYEEID = #{targetUser}
        AND TMO_DYYYYMM = TO_DATE(#{month,jdbcType=DATE})
     </select>
    <select id="buildSQLForSelectDispMonthlyList"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.DispMonthlyVO">
        SELECT
            TO_CHAR(t.TMO_DYYYYMM, 'YYYY/MM/DD') AS CODE,
            TO_CHAR(t.TMO_DYYYYMM, 'YYYY') || '年' || TO_CHAR(t.TMO_DYYYYMM, 'MM') || '月' AS VAL
        FROM
            TMG_MONTHLY t
        WHERE
            TMO_CCUSTOMERID = #{custId}
        AND TMO_CCOMPANYID = #{compId}
        AND TMO_CEMPLOYEEID = #{empId}
        AND TMO_DYYYYMM  <![CDATA[<=]]> TRUNC(to_date(#{baseDate}), 'MM')
        ORDER BY
            t.TMO_DYYYYMM DESC
    </select>

    <select id="buildSQLForSelectMonthlyLink"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.MonthlyLinkVO">
        SELECT
            (
                SELECT
                    to_char(max(TMO_DYYYYMM), 'yyyy/MM/dd') TMO_DYYYYMM         <!-- 前月 -->
                FROM
                    TMG_MONTHLY
                WHERE
                    TMO_CEMPLOYEEID = #{targetUser}
                AND TMO_DYYYYMM        <![CDATA[<]]>  #{month}
                AND TMO_CCOMPANYID = #{compCode}
                AND TMO_CCUSTOMERID = #{custID}
            ) PREVIOUS_MONTH,
            (
                SELECT
                    to_char(min(TMO_DYYYYMM), 'yyyy/MM/dd') TMO_DYYYYMM           <!-- 翌月 -->
                FROM
                    TMG_MONTHLY
                WHERE
                    TMO_CEMPLOYEEID = #{targetUser}
                AND TMO_DYYYYMM > #{month}
                AND TMO_CCOMPANYID = #{compCode}
                AND TMO_CCUSTOMERID = #{custID}
            ) NEXT_MONTH
        FROM DUAL
    </select>

    <select id="buildSQLForSelectCalendar" resultType="hashmap">
        SELECT
            TCA_CHOLFLG01,
            TCA_CHOLFLG02,
            TCA_CHOLFLG03,
            TCA_CHOLFLG04,
            TCA_CHOLFLG05,
            TCA_CHOLFLG06,
            TCA_CHOLFLG07,
            TCA_CHOLFLG08,
            TCA_CHOLFLG09,
            TCA_CHOLFLG10,
            TCA_CHOLFLG11,
            TCA_CHOLFLG12,
            TCA_CHOLFLG13,
            TCA_CHOLFLG14,
            TCA_CHOLFLG15,
            TCA_CHOLFLG16,
            TCA_CHOLFLG17,
            TCA_CHOLFLG18,
            TCA_CHOLFLG19,
            TCA_CHOLFLG20,
            TCA_CHOLFLG21,
            TCA_CHOLFLG22,
            TCA_CHOLFLG23,
            TCA_CHOLFLG24,
            TCA_CHOLFLG25,
            TCA_CHOLFLG26,
            TCA_CHOLFLG27,
            TCA_CHOLFLG28,
            TCA_CHOLFLG29,
            TCA_CHOLFLG30,
            TCA_CHOLFLG31
        FROM
            TABLE(
                TMG_F_GET_CALENDAR_LIST(
                    #{custID},
                    #{compCode},
                    #{targetUser},
                    #{sectionid},
                    #{groupid},
                    #{year}
                )
            )
        WHERE
            TCA_CCUSTOMERID = #{custID}
        AND TCA_CCOMPANYID = #{compCode}
        AND TCA_DSTARTDATE  <![CDATA[<]]> #{month,jdbcType=DATE}
        AND TCA_DENDDATE >= #{month,jdbcType=DATE}
        AND TCA_DYYYYMM = #{month,jdbcType=DATE}
    </select>

    <select id="buildSQLForSelectMonthly" resultType="hashmap">
        SELECT
            to_char(TMO_DYYYYMM, 'yyyy/MM/dd') TMO_DYYYYMM,      <!-- 年月 -->
            TMO_CSTATUSFLG,                                      <!-- ステータスフラグ -->
            TMG_F_IS_FIXED_MONTHLY(TMO_CEMPLOYEEID, TMO_DYYYYMM, TMO_CCUSTOMERID, TMO_CCOMPANYID) <!-- 月次確定判定情報-->
        <!-- 表示項目のselect句を取得し、joinでカンマ結合する -->
        <foreach collection="list" item="params" index ="index" open="," separator =","  close="">
            ${params}
        </foreach>
        FROM
            TMG_MONTHLY
        WHERE
            TMO_CEMPLOYEEID  = #{targetUser}
        AND TMO_DYYYYMM      = #{month,jdbcType=DATE}
        AND TMO_CCOMPANYID   = #{compCode}
        AND TMO_CCUSTOMERID  = #{custID}
    </select>
    <select id="buildSQLForSelectDispTmgMonthlyList"
            resultType="jp.smartcompany.job.modules.tmg.tmgresults.vo.DispMonthlyVO">
        SELECT
            TO_CHAR(t.TMO_DYYYYMM, 'YYYY/MM/DD') AS CODE,  <!-- 0 コード（年月日）-->
            TO_CHAR(t.TMO_DYYYYMM, 'YYYY') || '年' || TO_CHAR(t.TMO_DYYYYMM, 'MM') || '月' AS VAL  <!-- 1 値（表示値）-->
        FROM
            TMG_MONTHLY t,
            ( ${empSql}) v
        WHERE
            TMO_CCUSTOMERID = v.cust
        AND TMO_CCOMPANYID  = v.comp
        AND TMO_CEMPLOYEEID = v.EMPID
        AND TMO_DYYYYMM    <![CDATA[<=]]> #{baseDate} <!-- 基準日年月以下-->
        GROUP BY
            t.TMO_DYYYYMM
        ORDER BY
            t.TMO_DYYYYMM DESC
    </select>
    <select id="checkMonthly" resultType="java.lang.String">
        SELECT
            TMG_F_CHECK_MONTHLY(#{empId} , #{yyyyMm} ,#{custId},#{compId})
        FROM
            DUAL
    </select>
    <select id="buildSQLSelectSection" resultType="java.util.Map">
        SELECT
            COUNT(1) AS CNT
            <foreach collection="dispItemsDtoList" item="dispItems" index="index" open="," separator="," close="" >
                ${dispItems.mgdCtotalsql}
            </foreach>
        FROM
            (${empsql}) e,
            TMG_MONTHLY m
        WHERE
            m.TMO_CEMPLOYEEID = e.EMPID
        AND m.TMO_DYYYYMM   =TRUNC( TO_DATE(#{baseDate}),'MM')
        AND m.TMO_CCOMPANYID  = e.COMP
        AND m.TMO_CCUSTOMERID = e.CUST
        ORDER BY
            e.SEQ
    </select>
    <select id="buildSQLSelectLinkOfPreMonth" resultType="java.lang.String">
        SELECT
            TO_CHAR(MAX(TMO_DYYYYMM),'YYYY/MM/DD')
        FROM
            ( ${empsql}) e,
            TMG_MONTHLY m
        WHERE
            m.TMO_CEMPLOYEEID = e.EMPID
        AND m.TMO_DYYYYMM    <![CDATA[<]]> TRUNC( TO_DATE(#{baseDate}),'MM')
        AND m.TMO_CCOMPANYID  = e.COMP
        AND m.TMO_CCUSTOMERID = e.CUST
    </select>
    <select id="buildSQLSelectLinkOfNextMonth" resultType="java.lang.String">
        SELECT
            TO_CHAR(MIN(m.TMO_DYYYYMM),'YYYY/MM/DD')
        FROM
            ( ${empsql}) e,
            TMG_MONTHLY m
        WHERE
        m.TMO_CEMPLOYEEID = e.EMPID
        AND m.TMO_DYYYYMM   > TRUNC( TO_DATE(#{baseDate}),'MM')
        AND m.TMO_CCOMPANYID  = e.COMP
        AND m.TMO_CCUSTOMERID = e.CUST
        AND m.TMO_DYYYYMM    <![CDATA[<]]> TRUNC(SYSDATE, 'MM') <!-- システム日付より未来は表示対象外とする-->
    </select>
    <select id="buildSQLSelectEmployyes" resultType="java.util.Map">
        SELECT
            o.*
        FROM (
                SELECT
                    ROW_NUMBER() OVER (ORDER BY e.SEQ) AS SEQ,
                    e.EMPNAME AS EMPNAME
                    <foreach collection="dispItemsDtoList" item="item" index="index" open="," separator="," close="">
                        ${item.mgdCsql}
                    </foreach>
                FROM
                    (${empsql}) e,
                    TMG_MONTHLY m
                WHERE
                    m.TMO_CEMPLOYEEID = e.EMPID
                AND m.TMO_DYYYYMM   = TRUNC( TO_DATE(#{baseDate}),'MM')
                AND m.TMO_CCOMPANYID  = e.COMP
                AND m.TMO_CCUSTOMERID = e.CUST
            ) o
        WHERE
            o.SEQ between #{startSeq} and  #{endSeq}
    </select>
    <update id="buildSQLForUpdateMonthly">
       UPDATE
            TMG_MONTHLY M
        SET
            M.TMO_CMODIFIERUSERID    = #{userCode}
            ,M.TMO_DMODIFIEDDATE      = sysdate
            ,M.TMO_CMODIFIERPROGRAMID = #{modifierProgramId}
            ,M.TMO_CSTATUSFLG         = #{statusApproved}
        WHERE
            TMO_CEMPLOYEEID          = #{targetUser}
        AND TMO_DYYYYMM              = #{month}
        AND TMO_CCUSTOMERID          = #{custId}
        AND TMO_CCOMPANYID           = #{compCode}
        AND TMO_CSTATUSFLG          != #{statusApproved}
    </update>

</mapper>