<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgNotificationMapper">



    <select id="selectNotificationList" parameterType="jp.smartcompany.job.modules.tmg.tmgnotification.dto.paramNotificationListDto"
            resultType="jp.smartcompany.job.modules.tmg.tmgnotification.vo.notificationListVo">
        SELECT
        TNTF_CEMPLOYEEID,
        TNTF_CEMPLOYEEID_NAME,
        TNTF_CTYPE,
        TNTF_DBEGIN,
        TNTF_DEND,
        TNTF_DCANCEL,
        TNTF_DNOTIFICATION,
        TNTF_DMODIFIEDDATE,
        TNTF_CSTATUSFLG,
        TNTF_CSTATUSFLG_NAME,
        TNTF_CALTEREMPLOYEEID,
        TNTF_CALTEREMPLOYEEID_NAME,
        TNTF_CNTFNO,
        TNTF_DCANCEL2,
        REMAKEAPPLY,
        sort1,
        TNTF_CTYPE_CHAR5,
        TNTF_CNTFNO_IM,
        TNTF_CTYPE_CODE,
        TMG_F_GET_MGD_N ( TNTF_CAPPROVAL_LEVEL,  '${paramNotificationList.today}', 1, TNTF_CCUSTOMERID, TNTF_CCOMPANYID, '${paramNotificationList.lang}' ) AS CAPPROVAL_LEVEL,

        --検索条件・承認者
        <choose>
            <when test='paramNotificationList.evaluator =="ONLY" '>
            --次の承認者（自分のみ）
                TMG_F_GET_NEXT_NTFAPPROVER(TNTF_CNTFNO, TRUNC(SYSDATE), ',', 1, TNTF_CCUSTOMERID, TNTF_CCOMPANYID,  '${paramNotificationList.lang}' , '${paramNotificationList.userCode}') AS NTFAPPROVER,
            </when>
            <otherwise>
            --次の承認者（全て）
                NVL(TMG_F_GET_NEXT_NTFAPPROVER(TNTF_CNTFNO, TRUNC(SYSDATE), ',', 1, TNTF_CCUSTOMERID, TNTF_CCOMPANYID,  '${paramNotificationList.lang}' ), ' ') AS NTFAPPROVER,
            </otherwise>
        </choose>


        DECODE( TNTF_DBEGIN, TNTF_DCANCEL2, 0, 1 ) AS ALL_CANCELLATION,
        TMG_F_CONV_MIN2HHMI ( TNTF_NTIMEZONE_OPEN, 0 ) TNTF_NTIMEZONE_OPEN,
        TMG_F_CONV_MIN2HHMI ( TNTF_NTIMEZONE_CLOSE, 0 ) TNTF_NTIMEZONE_CLOSE,
        (
            CASE
            WHEN TNTF_NNORESERVED = 1 THEN
            '(曜日：指定なし)'
            WHEN TNTF_NNORESERVED = 0 THEN
            '(曜日：' || DECODE( TNTF_NMON, 1, '月', '' )
            || DECODE( TNTF_NTUE, 1, '火', '' )
            || DECODE( TNTF_NWED, 1, '水', '' )
            || DECODE( TNTF_NTHU, 1, '木', '' )
            || DECODE( TNTF_NFRI, 1, '金', '' )
            || DECODE( TNTF_NSAT, 1, '土', '' )
            || DECODE( TNTF_NSUN, 1, '日', '' ) || ')'
            ELSE ''
            END
        ) AS DAYOFWEEK,
        FINAL_APPROVEL_LEVEL,
        TNTF_COWNCOMMENT
        FROM (
            SELECT
            ROWNUM ROW_NUM,a.*
            FROM(
                SELECT
                    TNTF_CCUSTOMERID,
                    TNTF_CCOMPANYID,
                    TNTF_CEMPLOYEEID,
                    TMG_F_GET_ME_NAME ( TNTF_CEMPLOYEEID, '${paramNotificationList.today}', 0, TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CEMPLOYEEID_NAME,
                    TMG_F_GET_MGD ( TNTF_CTYPE, '${paramNotificationList.today}', TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CTYPE,
                    TO_CHAR( TNTF_DBEGIN, 'yyyy/MM/dd' ) TNTF_DBEGIN,
                    TO_CHAR( NVL( TNTF_DDAIKYU, TNTF_DEND ), 'yyyy/MM/dd' ) TNTF_DEND,
                    TO_CHAR( TNTF_DCANCEL - 1, 'yyyy/MM/dd' ) TNTF_DCANCEL,
                    TO_CHAR( TNTF_DNOTIFICATION, 'yyyy/MM/dd' ) TNTF_DNOTIFICATION,
                    TO_CHAR( TNTF_DMODIFIEDDATE, 'yyyy/MM/dd' ) TNTF_DMODIFIEDDATE,
                    TNTF_CSTATUSFLG,
                    TMG_F_GET_MGD ( TNTF_CSTATUSFLG, '${paramNotificationList.today}', TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CSTATUSFLG_NAME,
                    TNTF_CALTEREMPLOYEEID,
                    TMG_F_GET_ME_NAME ( TNTF_CALTEREMPLOYEEID, '${paramNotificationList.today}', 0, TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CALTEREMPLOYEEID_NAME,
                    TNTF_CNTFNO,
                    TO_CHAR( TNTF_DCANCEL, 'yyyy/MM/dd' ) TNTF_DCANCEL2,
                    CASE WHEN TNTF_CTYPE IN (
                    ${paramNotificationList.mgdSql}
                    ) THEN TNTF_CTYPE
                    END
                    REMAKEAPPLY,
                    TNTF_DMODIFIEDDATE AS sort1,
                    TMG_F_GET_MGD_C ( TNTF_CTYPE, '${paramNotificationList.today}', 5, TNTF_CCUSTOMERID, TNTF_CCOMPANYID, '${paramNotificationList.lang}' ) AS TNTF_CTYPE_CHAR5,
                    TNTF_CNTFNO_IM,
                    TNTF_CTYPE AS TNTF_CTYPE_CODE,
                    TNTF_CAPPROVAL_LEVEL,
                    TNTF_NTIMEZONE_OPEN,
                    TNTF_NTIMEZONE_CLOSE,
                    TNTF_NNORESERVED,
                    TNTF_NMON,
                    TNTF_NTUE,
                    TNTF_NWED,
                    TNTF_NTHU,
                    TNTF_NFRI,
                    TNTF_NSAT,
                    TNTF_NSUN,
                    TMG_F_GET_MGD_N
                    (
                        (
                        SELECT
                        MGD_CSPARECHAR2
                        FROM
                        MAST_GENERIC_DETAIL
                        WHERE
                        MGD_CCUSTOMERID = TNTF_CCUSTOMERID
                        AND MGD_CCOMPANYID_CK_FK = TNTF_CCOMPANYID
                        AND MGD_CGENERICGROUPID = 'TMG_NTFAPPROVE_LEVEL'
                        AND MGD_CLANGUAGE_CK = '${paramNotificationList.lang}'
                        AND MGD_DSTART_CK <![CDATA[<=]]> '${paramNotificationList.today}'
                        AND MGD_DEND >= '${paramNotificationList.today}'
                        AND MGD_CSPARECHAR1 = TNTF_CTYPE
                        ),
                        '${paramNotificationList.today}',
                        1,
                        TNTF_CCUSTOMERID,
                        TNTF_CCOMPANYID,
                        '${paramNotificationList.lang}'
                    ) AS FINAL_APPROVEL_LEVEL,
                    TNTF_COWNCOMMENT
                From
                    TMG_NOTIFICATION
                <if test='paramNotificationList.siteId != "TMG_INP" and paramNotificationList.searchEmp =="" '>
                     ,( ${paramNotificationList.employeeListSql} ) e
                </if>
                WHERE
                    TNTF_CCUSTOMERID='${paramNotificationList.custId}'
                AND TNTF_CCOMPANYID='${paramNotificationList.compId}'

                <choose>
                    <when test='paramNotificationList.siteId =="TMG_INP" or paramNotificationList.isNtfTermUseCond==1 '>
                        --検索対象期間
                        --入力サイト、または申請期間検索機能が使用できない場合、表示対象年ごとの検索を行う。
                        --申請期間検索機能が使用できる場合、申請期間検索条件の期間で検索を行う。
                        AND (
                                (
                                TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},0,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID) <![CDATA[<=]]> TNTF_DBEGIN
                            AND TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},1,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID) >= TNTF_DBEGIN
                            )
                            OR (
                                TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},0,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID) <![CDATA[<=]]> NVL(TNTF_DDAIKYU,TNTF_DEND)
                            AND TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},1,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID)  >=  NVL(TNTF_DDAIKYU,TNTF_DEND)
                            )
                        )
                    </when>
                    <otherwise>
                        --申請期間検索機能が使用可能な場合
                        <if test='paramNotificationList.ntfTermEnd != null  '>
                        --申請期間検索・終了日の指定がある場合
                            AND TNTF_DBEGIN <![CDATA[<=]]> '${paramNotificationList.ntfTermEnd}'
                        </if>
                        <if test='paramNotificationList.ntfTermBegin != null '>
                        --申請期間検索・開始日の指定がある場合
                            AND NVL(TNTF_DDAIKYU, TNTF_DEND) >= '${paramNotificationList.ntfTermBegin}'
                        </if>
                    </otherwise>
                </choose>


                <choose>
                    <when test='paramNotificationList.siteId =="TMG_INP"'>
                        --勤怠入力サイトの場合
                        AND TNTF_CEMPLOYEEID='${paramNotificationList.targetUser}'
                    </when>
                    <otherwise>
                        <choose>
                        <when  test='paramNotificationList.searchEmp != null and paramNotificationList.ntfTermEnd !="" '>
                            --氏名選択
                            AND TNTF_CEMPLOYEEID  = '${paramNotificationList.searchEmp}'
                        </when>
                            <otherwise>
                                --全て
                                AND TNTF_CEMPLOYEEID  = e.EMPID
                            </otherwise>
                        </choose>
                    </otherwise>
                </choose>

                --検索条件・申請内容
                <if test='paramNotificationList.type != null and paramNotificationList.type !="" '>
                    AND TNTF_CTYPE = '${paramNotificationList.type}'
                </if>

                --検索条件・状態
                <choose>

                    <when test='paramNotificationList.status != null and paramNotificationList.status !=""'>
                        AND TNTF_CSTATUSFLG = '${paramNotificationList.status}'
                        --検索条件・状態・取下か差戻
                        <if test='paramNotificationList.status == "TMG_NTFSTATUS|0" or paramNotificationList.status == "TMG_NTFSTATUS|3"'>
                            AND TNTF_CALTEREMPLOYEEID = '${paramNotificationList.userCode}'
                        </if>
                    </when>

                    <otherwise>
                        --検索条件・状態・全て
                        AND(
                            TNTF_CSTATUSFLG NOT IN ('TMG_NTFSTATUS|0','TMG_NTFSTATUS|3')
                            OR
                            TNTF_CALTEREMPLOYEEID = '${paramNotificationList.userCode}'
                        )
                    </otherwise>
                </choose>


                /*
                *  管理対象判定条件指定
                *  ・入力サイトの場合：本人を判定。
                *  ・承認・管理サイトの場合（職員選択）：選択職員を判定
                *  ・承認・管理サイトの場合（全て指定）：疑似テーブルの職員全員を判定
                */
                <choose>

                    <when test='paramNotificationList.siteId == "TMG_INP"' >
                        --本人職員の対象開始日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.targetUser}',TRUNC(TNTF_DBEGIN), LAST_DAY(TNTF_DBEGIN),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                        --本人職員の対象終了日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.targetUser}',TRUNC(TNTF_DEND), LAST_DAY(TNTF_DEND),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                    </when>

                    <when test='paramNotificationList.searchEmp !=null and paramNotificationList.searchEmp !="" '>
                        --選択された職員の対象開始日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.searchEmp}',TRUNC(TNTF_DBEGIN), LAST_DAY(TNTF_DBEGIN),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                        --選択された職員の対象終了日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.searchEmp}',TRUNC(TNTF_DEND), LAST_DAY(TNTF_DEND),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                    </when>

                    <otherwise>
                        --対象職員全員の対象開始日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG(e.EMPID,TRUNC(TNTF_DBEGIN), LAST_DAY(TNTF_DBEGIN),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                        --対象職員全員の対象終了日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG(e.EMPID,TRUNC(TNTF_DEND), LAST_DAY(TNTF_DEND),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                    </otherwise>
                </choose>
                --ソート
                ORDER BY sort1 DESC, TNTF_DNOTIFICATION ASC
            ) a
        )
        --表示ページ制御
            WHERE ROW_NUM BETWEEN ((${paramNotificationList.page}-1)*50+1) AND  (${paramNotificationList.page}*50)
    </select>


    <select id="selectNotificationListCount" resultType="int">
        SELECT
            count(*)
        FROM (
                SELECT
                    TNTF_CCUSTOMERID,
                    TNTF_CCOMPANYID,
                    TNTF_CEMPLOYEEID,
                    TMG_F_GET_ME_NAME ( TNTF_CEMPLOYEEID, '${paramNotificationList.today}', 0, TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CEMPLOYEEID_NAME,
                    TMG_F_GET_MGD ( TNTF_CTYPE, '${paramNotificationList.today}', TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CTYPE,
                    TO_CHAR( TNTF_DBEGIN, 'yyyy/MM/dd' ) TNTF_DBEGIN,
                    TO_CHAR( NVL( TNTF_DDAIKYU, TNTF_DEND ), 'yyyy/MM/dd' ) TNTF_DEND,
                    TO_CHAR( TNTF_DCANCEL - 1, 'yyyy/MM/dd' ) TNTF_DCANCEL,
                    TO_CHAR( TNTF_DNOTIFICATION, 'yyyy/MM/dd' ) TNTF_DNOTIFICATION,
                    TO_CHAR( TNTF_DMODIFIEDDATE, 'yyyy/MM/dd' ) TNTF_DMODIFIEDDATE,
                    TNTF_CSTATUSFLG,
                    TMG_F_GET_MGD ( TNTF_CSTATUSFLG, '${paramNotificationList.today}', TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CSTATUSFLG_NAME,
                    TNTF_CALTEREMPLOYEEID,
                    TMG_F_GET_ME_NAME ( TNTF_CALTEREMPLOYEEID, '${paramNotificationList.today}', 0, TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CALTEREMPLOYEEID_NAME,
                    TNTF_CNTFNO,
                    TO_CHAR( TNTF_DCANCEL, 'yyyy/MM/dd' ) TNTF_DCANCEL2,
                    CASE WHEN TNTF_CTYPE IN (
                    ${paramNotificationList.mgdSql}
                    ) THEN TNTF_CTYPE
                    END
                    REMAKEAPPLY,
                    TNTF_DMODIFIEDDATE AS sort1,
                    TMG_F_GET_MGD_C ( TNTF_CTYPE, '${paramNotificationList.today}', 5, TNTF_CCUSTOMERID, TNTF_CCOMPANYID, '${paramNotificationList.lang}' ) AS TNTF_CTYPE_CHAR5,
                    TNTF_CNTFNO_IM,
                    TNTF_CTYPE AS TNTF_CTYPE_CODE,
                    TNTF_CAPPROVAL_LEVEL,
                    TNTF_NTIMEZONE_OPEN,
                    TNTF_NTIMEZONE_CLOSE,
                    TNTF_NNORESERVED,
                    TNTF_NMON,
                    TNTF_NTUE,
                    TNTF_NWED,
                    TNTF_NTHU,
                    TNTF_NFRI,
                    TNTF_NSAT,
                    TNTF_NSUN,
                    TMG_F_GET_MGD_N
                    (
                    (
                    SELECT
                    MGD_CSPARECHAR2
                    FROM
                    MAST_GENERIC_DETAIL
                    WHERE
                    MGD_CCUSTOMERID = TNTF_CCUSTOMERID
                    AND MGD_CCOMPANYID_CK_FK = TNTF_CCOMPANYID
                    AND MGD_CGENERICGROUPID = 'TMG_NTFAPPROVE_LEVEL'
                    AND MGD_CLANGUAGE_CK = '${paramNotificationList.lang}'
                    AND MGD_DSTART_CK <![CDATA[<=]]> '${paramNotificationList.today}'
                    AND MGD_DEND >= '${paramNotificationList.today}'
                    AND MGD_CSPARECHAR1 = TNTF_CTYPE
                    ),
                    '${paramNotificationList.today}',
                    1,
                    TNTF_CCUSTOMERID,
                    TNTF_CCOMPANYID,
                    '${paramNotificationList.lang}'
                    ) AS FINAL_APPROVEL_LEVEL,
                    TNTF_COWNCOMMENT
                From
                    TMG_NOTIFICATION
                <if test='paramNotificationList.siteId != "TMG_INP" and paramNotificationList.searchEmp =="" '>
                    ,( ${paramNotificationList.employeeListSql} ) e
                </if>
                WHERE
                    TNTF_CCUSTOMERID='${paramNotificationList.custId}'
                AND TNTF_CCOMPANYID='${paramNotificationList.compId}'

                <choose>
                    <when test='paramNotificationList.siteId =="TMG_INP" or paramNotificationList.isNtfTermUseCond==1 '>
                        --検索対象期間
                        --入力サイト、または申請期間検索機能が使用できない場合、表示対象年ごとの検索を行う。
                        --申請期間検索機能が使用できる場合、申請期間検索条件の期間で検索を行う。
                        AND (
                        (
                        TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},0,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID) <![CDATA[<=]]> TNTF_DBEGIN
                        AND TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},1,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID) >= TNTF_DBEGIN
                        )
                        OR (
                        TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},0,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID) <![CDATA[<=]]> NVL(TNTF_DDAIKYU,TNTF_DEND)
                        AND TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},1,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID)  >=  NVL(TNTF_DDAIKYU,TNTF_DEND)
                        )
                        )
                    </when>
                    <otherwise>
                        --申請期間検索機能が使用可能な場合
                        <if test='paramNotificationList.ntfTermEnd != null  '>
                            --申請期間検索・終了日の指定がある場合
                            AND TNTF_DBEGIN <![CDATA[<=]]> '${paramNotificationList.ntfTermEnd}'
                        </if>
                        <if test='paramNotificationList.ntfTermBegin != null '>
                            --申請期間検索・開始日の指定がある場合
                            AND NVL(TNTF_DDAIKYU, TNTF_DEND) >= '${paramNotificationList.ntfTermBegin}'
                        </if>
                    </otherwise>
                </choose>


                <choose>
                    <when test='paramNotificationList.siteId =="TMG_INP"'>
                        --勤怠入力サイトの場合
                        AND TNTF_CEMPLOYEEID='${paramNotificationList.targetUser}'
                    </when>
                    <otherwise>
                        <choose>
                            <when  test='paramNotificationList.searchEmp != null and paramNotificationList.ntfTermEnd !="" '>
                                --氏名選択
                                AND TNTF_CEMPLOYEEID  = '${paramNotificationList.searchEmp}'
                            </when>
                            <otherwise>
                                --全て
                                AND TNTF_CEMPLOYEEID  = e.EMPID
                            </otherwise>
                        </choose>
                    </otherwise>
                </choose>

                --検索条件・申請内容
                <if test='paramNotificationList.type != null and paramNotificationList.type !="" '>
                    AND TNTF_CTYPE = '${paramNotificationList.type}'
                </if>

                --検索条件・状態
                <choose>

                    <when test='paramNotificationList.status != null and paramNotificationList.status !=""'>
                        AND TNTF_CSTATUSFLG = '${paramNotificationList.status}'
                        --検索条件・状態・取下か差戻
                        <if test='paramNotificationList.status == "TMG_NTFSTATUS|0" or paramNotificationList.status == "TMG_NTFSTATUS|3"'>
                            AND TNTF_CALTEREMPLOYEEID = '${paramNotificationList.userCode}'
                        </if>
                    </when>

                    <otherwise>
                        --検索条件・状態・全て
                        AND(
                        TNTF_CSTATUSFLG NOT IN ('TMG_NTFSTATUS|0','TMG_NTFSTATUS|3')
                        OR
                        TNTF_CALTEREMPLOYEEID = '${paramNotificationList.userCode}'
                        )
                    </otherwise>
                </choose>


                /*
                *  管理対象判定条件指定
                *  ・入力サイトの場合：本人を判定。
                *  ・承認・管理サイトの場合（職員選択）：選択職員を判定
                *  ・承認・管理サイトの場合（全て指定）：疑似テーブルの職員全員を判定
                */
                <choose>

                    <when test='paramNotificationList.siteId == "TMG_INP"' >
                        --本人職員の対象開始日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.targetUser}',TRUNC(TNTF_DBEGIN), LAST_DAY(TNTF_DBEGIN),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                        --本人職員の対象終了日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.targetUser}',TRUNC(TNTF_DEND), LAST_DAY(TNTF_DEND),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                    </when>

                    <when test='paramNotificationList.searchEmp !=null and paramNotificationList.searchEmp !="" '>
                        --選択された職員の対象開始日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.searchEmp}',TRUNC(TNTF_DBEGIN), LAST_DAY(TNTF_DBEGIN),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                        --選択された職員の対象終了日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.searchEmp}',TRUNC(TNTF_DEND), LAST_DAY(TNTF_DEND),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                    </when>

                    <otherwise>
                        --対象職員全員の対象開始日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG(e.EMPID,TRUNC(TNTF_DBEGIN), LAST_DAY(TNTF_DBEGIN),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                        --対象職員全員の対象終了日の月について管理対象であるか判定
                        AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG(e.EMPID,TRUNC(TNTF_DEND), LAST_DAY(TNTF_DEND),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                    </otherwise>
                </choose>
                --ソート
                ORDER BY sort1 DESC, TNTF_DNOTIFICATION ASC
        )
    </select>








    <select id="selectNotificationDetail" resultType="jp.smartcompany.job.modules.tmg.tmgnotification.vo.notificationDetailVo">
        SELECT
        TNTF_CALTEREMPLOYEEID,
        TMG_F_GET_ME_NAME ( TNTF_CALTEREMPLOYEEID, to_date( #{baseDate}, #{dateFormat} ), 0, TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CALTEREMPLOYEEID_NAME,
        TNTF_CNTFNO,
        TNTF_CEMPLOYEEID,
        TMG_F_GET_ME_NAME ( TNTF_CEMPLOYEEID, to_date( #{baseDate}, #{dateFormat} ), 0, TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CEMPLOYEEID_NAME,
        TNTF_CBOSS,
        TMG_F_GET_ME_NAME ( TNTF_CBOSS, to_date( #{baseDate}, #{dateFormat} ), 0, TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CBOSS_NAME,
        TNTF_CCANCEL,
        TMG_F_GET_ME_NAME ( TNTF_CCANCEL, to_date( #{baseDate}, #{dateFormat} ), 0, TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CCANCEL_NAME,
        TNTF_CTYPE,
        TMG_F_GET_MGD ( TNTF_CTYPE, to_date( #{baseDate}, #{dateFormat} ), TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CTYPE_NAME,
        TO_CHAR( TNTF_DBEGIN, #{dateFormat} ) TNTF_DBEGIN,
        TO_CHAR( NVL( TNTF_DDAIKYU, TNTF_DEND ), #{dateFormat} ) TNTF_DEND,
        TNTF_NTIME_OPEN,
        TNTF_NTIME_CLOSE,
        TMG_F_CONV_MIN2HHMI ( TNTF_NTIMEZONE_OPEN, 0 ) TNTF_NTIMEZONE_OPEN_HHMI,
        TMG_F_CONV_MIN2HHMI ( TNTF_NTIMEZONE_CLOSE, 0 ) TNTF_NTIMEZONE_CLOSE_HHMI,
        DECODE( TNTF_NMON, 1, 1, NULL ) TNTF_NMON,
        DECODE( TNTF_NTUE, 1, 1, NULL ) TNTF_NTUE,
        DECODE( TNTF_NWED, 1, 1, NULL ) TNTF_NWED,
        DECODE( TNTF_NTHU, 1, 1, NULL ) TNTF_NTHU,
        DECODE( TNTF_NFRI, 1, 1, NULL ) TNTF_NFRI,
        DECODE( TNTF_NSAT, 1, 1, NULL ) TNTF_NSAT,
        DECODE( TNTF_NSUN, 1, 1, NULL ) TNTF_NSUN,
        TNTF_COWNCOMMENT,
        TNTF_CBOSSCOMMENT,
        TO_CHAR( TNTF_DBOSS, #{datetimeFormat} ) TNTF_DBOSS,
        TO_CHAR( TNTF_DCANCEL, #{dateFormat} ) TNTF_DCANCEL,
        TNTF_CCANCELCOMMENT,
        TO_CHAR( TNTF_DMODIFIEDDATE, #{datetimeFormat} ) TNTF_DMODIFIEDDATE,
        TMG_F_GET_MO (
        ( SELECT HD_CSECTIONID_FK FROM HIST_DESIGNATION WHERE HD_CCUSTOMERID_CK = TNTF_CCUSTOMERID AND HD_CCOMPANYID_CK = TNTF_CCOMPANYID AND HD_CEMPLOYEEID_CK = TNTF_CEMPLOYEEID AND HD_DSTARTDATE_CK <![CDATA[<=]]> TNTF_DBEGIN AND HD_DENDDATE >= TNTF_DBEGIN AND HD_CIFKEYORADDITIONALROLE = '0' ),
        TNTF_DBEGIN,
        0,
        TNTF_CCUSTOMERID,
        TNTF_CCOMPANYID,
        #{lang}
        ) HD_CSECTIONID_FK,
        TMG_F_GET_MGD ( TMG_F_GET_WORKERTYPE ( TNTF_CEMPLOYEEID, TNTF_DBEGIN, TNTF_CCUSTOMERID, TNTF_CCOMPANYID ), TNTF_DBEGIN, TNTF_CCUSTOMERID, TNTF_CCOMPANYID, #{lang} ) TEM_CWORKTYPEID,
        TNTF_CSTATUSFLG,
        TNTF_NNORESERVED,
        TO_CHAR( TNTF_DDAIKYU, #{dateFormat} ) TNTF_DDAIKYU,
        TNTF_CSICK_TYPE,
        TNTF_CSICK_NAME,
        TNTF_CSAME_SICK_TYPE,
        TNTF_CDISASTER,
        TO_CHAR( TNTF_DPERIOD_DATE, #{dateFormat} ),
        TNTF_NUAPPER_ADDITION,
        TNTF_CNTFNO_IM,
        TMG_F_CONV_MIN2HHMI ( TNTF_NRESTOPEN, 0 ) AS TNTF_NRESTOPEN,
        TMG_F_CONV_MIN2HHMI ( TNTF_NRESTCLOSE, 0 ) AS TNTF_NRESTCLOSE,
        TNTF_CKANJINAME,
        TNTF_CRELATION,
        TO_CHAR( TNTF_DDATEOFBIRTH, #{dateFormat} ) AS TNTF_DDATEOFBIRTH,
        TMG_F_GET_MGD_N ( TNTF_CTYPE, to_date(#{baseDate}, #{dateFormat} ), 2, TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CTYPE_N2,
        TMG_F_GET_MGD ( TNTF_CDISASTER, to_date( #{baseDate}, #{dateFormat} ), TNTF_CCUSTOMERID, TNTF_CCOMPANYID ) TNTF_CDISASTER_DETAIL,
        (
        SELECT
        MGD_CSPARECHAR3
        FROM
        MAST_GENERIC_DETAIL
        WHERE
        MGD_CCUSTOMERID = TNTF_CCUSTOMERID
        AND MGD_CCOMPANYID_CK_FK = TNTF_CCOMPANYID
        AND MGD_CGENERICGROUPID = 'TMG_NTFTYPE2'
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> to_date( #{baseDate}, #{dateFormat} )
        AND MGD_DEND >= to_date( #{baseDate}, #{dateFormat} )
        AND MGD_CSPARECHAR2 = TNTF_CTYPE
        ) AS TNTF_CTYPE_C3,
        TNTF_NNUMBER_OF_TARGET,
        TMG_F_GET_MGD_N (
        (
        SELECT
        MGD_CSPARECHAR2
        FROM
        MAST_GENERIC_DETAIL
        WHERE
        MGD_CCUSTOMERID = TNTF_CCUSTOMERID
        AND MGD_CCOMPANYID_CK_FK = TNTF_CCOMPANYID
        AND MGD_CGENERICGROUPID = 'TMG_NTFAPPROVE_LEVEL'
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK <![CDATA[<=]]> to_date( #{baseDate}, #{dateFormat} )
        AND MGD_DEND >= to_date( #{baseDate}, #{dateFormat} )
        AND MGD_CSPARECHAR1 = TNTF_CTYPE
        ),
        to_date( #{baseDate}, #{dateFormat} ),
        1,
        TNTF_CCUSTOMERID,
        TNTF_CCOMPANYID,
        #{lang}
        ) AS APPROVEL_LEVEL,
        TMG_F_GET_MGD (
        (
        SELECT
        MGD_CSPARECHAR2
        FROM
        MAST_GENERIC_DETAIL
        WHERE
        MGD_CCUSTOMERID = TNTF_CCUSTOMERID
        AND MGD_CCOMPANYID_CK_FK = TNTF_CCOMPANYID
        AND MGD_CGENERICGROUPID = 'TMG_NTFAPPROVE_LEVEL'
        AND MGD_CLANGUAGE_CK = #{lang}
        AND MGD_DSTART_CK  <![CDATA[<=]]> to_date( #{baseDate}, #{dateFormat} )
        AND MGD_DEND >= to_date( #{baseDate}, #{dateFormat} )
        AND MGD_CSPARECHAR1 = TNTF_CTYPE
        ),
        to_date( #{baseDate}, #{dateFormat} ),
        TNTF_CCUSTOMERID,
        TNTF_CCOMPANYID,
        #{lang}
        ) AS APPROVEL_LEVEL_NAME,
        (
        SELECT
        TMG_F_GET_MP ( D.HD_CPOSTID_FK, to_date( #{baseDate}, #{dateFormat} ), D.HD_CCUSTOMERID_CK, D.HD_CCOMPANYID_CK, #{lang} )
        FROM
        HIST_DESIGNATION D
        WHERE
        D.HD_CCUSTOMERID_CK = TNTF_CCUSTOMERID
        AND D.HD_CCOMPANYID_CK = TNTF_CCOMPANYID
        AND D.HD_CEMPLOYEEID_CK = TNTF_CEMPLOYEEID
        AND TRUNC( to_date( #{baseDate}, #{dateFormat} ) ) BETWEEN D.HD_DSTARTDATE_CK
        AND D.HD_DENDDATE
        AND D.HD_CIFKEYORADDITIONALROLE = 0
        ) AS POSTID
        FROM
        TMG_NOTIFICATION
        WHERE
        TNTF_CCUSTOMERID = #{customerId}
        AND TNTF_CCOMPANYID = #{companyId}
        AND TNTF_CNTFNO = #{ntfNo};
    </select>

    <select id="selectNotificationSeq" resultType="java.lang.String">
        SELECT TMG_NOTIFICATION_SEQ.NEXTVAL FROM DUAL;
    </select>


    <select id="selectNtfName" resultType="java.lang.String">
        SELECT
            NVL(
                (
                SELECT
                    B.MGD_CSPARECHAR3
                FROM
                    MAST_GENERIC_DETAIL A,
                    MAST_GENERIC_DETAIL B
                WHERE
                    A.MGD_CGENERICGROUPID = 'TMG_NTFTYPE'
                    AND B.MGD_CGENERICGROUPID = 'TMG_WORK'
                    AND B.MGD_CMASTERCODE = A.MGD_CSPARECHAR2
                    AND A.MGD_CMASTERCODE = C.TNTF_CTYPE
                ),
                (
                SELECT
                    B.MGD_CSPARECHAR1
                FROM
                    MAST_GENERIC_DETAIL A,
                    MAST_GENERIC_DETAIL B
                WHERE
                    A.MGD_CGENERICGROUPID = 'TMG_NTFTYPE'
                    AND B.MGD_CGENERICGROUPID = 'TMG_NOTWORK'
                    AND B.MGD_CMASTERCODE = A.MGD_CSPARECHAR2
                    AND A.MGD_CMASTERCODE = C.TNTF_CTYPE
                )
            )
        FROM
            TMG_NOTIFICATION C
        WHERE
            C.TNTF_CCUSTOMERID = #{custId}
            AND C.TNTF_CCOMPANYID = #{compId}
            AND C.TNTF_CNTFNO = #{ntfNo};
    </select>



    <select id="selectNotificationCount" resultType="int">
        SELECT
            COUNT(*)
        FROM
            TMG_NOTIFICATION
        <if test='paramNotificationList.searchEmp ="" '>
            ,( ${paramNotificationList.employeeListSql} ) e
        </if>

        WHERE
            TNTF_CCUSTOMERID='${paramNotificationList.custId}'
        AND TNTF_CCOMPANYID='${paramNotificationList.compId}'

        <choose>
            <when test='paramNotificationList.siteId =="TMG_INP" or paramNotificationList.isNtfTermUseCond==1 '>
                --検索対象期間
                --入力サイト、または申請期間検索機能が使用できない場合、表示対象年ごとの検索を行う。
                --申請期間検索機能が使用できる場合、申請期間検索条件の期間で検索を行う。
                AND (
                (
                TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},0,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID) <![CDATA[<=]]> TNTF_DBEGIN
                AND TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},1,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID) >= TNTF_DBEGIN
                )
                OR (
                TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},0,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID) <![CDATA[<=]]> NVL(TNTF_DDAIKYU,TNTF_DEND)
                AND TMG_F_GET_THE_YEARZONE(${paramNotificationList.year},1,'${paramNotificationList.today}',TNTF_CCUSTOMERID,TNTF_CCOMPANYID)  >=  NVL(TNTF_DDAIKYU,TNTF_DEND)
                )
                )
            </when>
            <otherwise>
                --申請期間検索機能が使用可能な場合
                <if test='paramNotificationList.ntfTermEnd != null  '>
                    --申請期間検索・終了日の指定がある場合
                    AND TNTF_DBEGIN <![CDATA[<=]]> '${paramNotificationList.ntfTermEnd}'
                </if>
                <if test='paramNotificationList.ntfTermBegin != null '>
                    --申請期間検索・開始日の指定がある場合
                    AND NVL(TNTF_DDAIKYU, TNTF_DEND) >= '${paramNotificationList.ntfTermBegin}'
                </if>
            </otherwise>
        </choose>

        <choose>
            <when  test='paramNotificationList.searchEmp != null and paramNotificationList.ntfTermEnd !="" '>
                --氏名選択
                AND TNTF_CEMPLOYEEID  = '${paramNotificationList.searchEmp}'
            </when>
            <otherwise>
                --全て
                AND TNTF_CEMPLOYEEID  = e.EMPID
            </otherwise>
        </choose>

        --検索条件・申請内容
        <if test='paramNotificationList.type != null and paramNotificationList.type !="" '>
            AND TNTF_CTYPE = '${paramNotificationList.type}'
        </if>



         <if test='paramNotificationList.status != null and paramNotificationList.status !=""'>
            AND TNTF_CSTATUSFLG='${paramNotificationList.status}'
                --検索条件・状態・取下か差戻
                <if test='paramNotificationList.status == "TMG_NTFSTATUS|0" or paramNotificationList.status == "TMG_NTFSTATUS|3"'>
                    AND TNTF_CALTEREMPLOYEEID = '${paramNotificationList.userCode}'
                </if>
         </if>

        <if test='paramNotificationList.evaluator =="ONLY" '>
            AND (SELECT TMG_F_GET_NEXT_NTFAPPROVER(TNTF_CNTFNO, TRUNC(SYSDATE), ',', 0, TNTF_CCUSTOMERID, TNTF_CCOMPANYID,'${paramNotificationList.lang}' ) FROM DUAL) like '%#{paramNotificationList.userCode}%'
        </if>
        /*
        *  管理対象判定条件指定
        *  ・入力サイトの場合：本人を判定。
        *  ・承認・管理サイトの場合（職員選択）：選択職員を判定
        *  ・承認・管理サイトの場合（全て指定）：疑似テーブルの職員全員を判定
        */
        <choose>

            <when test='paramNotificationList.siteId == "TMG_INP"' >
                --本人職員の対象開始日の月について管理対象であるか判定
                AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.targetUser}',TRUNC(TNTF_DBEGIN), LAST_DAY(TNTF_DBEGIN),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                --本人職員の対象終了日の月について管理対象であるか判定
                AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.targetUser}',TRUNC(TNTF_DEND), LAST_DAY(TNTF_DEND),'${paramNotificationList.custId}','${paramNotificationList.compId}')
            </when>

            <when test='paramNotificationList.searchEmp !=null and paramNotificationList.searchEmp !="" '>
                --選択された職員の対象開始日の月について管理対象であるか判定
                AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.searchEmp}',TRUNC(TNTF_DBEGIN), LAST_DAY(TNTF_DBEGIN),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                --選択された職員の対象終了日の月について管理対象であるか判定
                AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG('${paramNotificationList.searchEmp}',TRUNC(TNTF_DEND), LAST_DAY(TNTF_DEND),'${paramNotificationList.custId}','${paramNotificationList.compId}')
            </when>

            <otherwise>
                --対象職員全員の対象開始日の月について管理対象であるか判定
                AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG(e.EMPID,TRUNC(TNTF_DBEGIN), LAST_DAY(TNTF_DBEGIN),'${paramNotificationList.custId}','${paramNotificationList.compId}')
                --対象職員全員の対象終了日の月について管理対象であるか判定
                AND 'TMG_MANAGEFLG|0' <![CDATA[<>]]> TMG_F_IS_MANAGEFLG(e.EMPID,TRUNC(TNTF_DEND), LAST_DAY(TNTF_DEND),'${paramNotificationList.custId}','${paramNotificationList.compId}')
            </otherwise>
        </choose>

        ;
    </select>



    <select id="selectBackLimit" resultType="java.lang.String">
        SELECT TO_CHAR(
                    TMG_F_GET_BACK_LIMIT(
                    #{custId},
                    #{compId},
                    #{employeeId}
                    )
            ,'yyyy/MM/dd') TNTF_DMODIFIEDDATE
        FROM
            DUAL
    </select>


    <update id="updateNotificationItem">
        UPDATE
        TMG_NOTIFICATION
        SET
        TNTF_CMODIFIERUSERID= #{paramNotificationList.userCode},
        TNTF_DMODIFIEDDATE      = SYSDATE,
        TNTF_CMODIFIERPROGRAMID ='TmgNotification_'||'|'||#{paramNotificationList.action},
        TNTF_CKANJINAME         = #{paramNotificationList.txtName},
        TNTF_CRELATION          = #{paramNotificationList.txtRelation},
        TNTF_DDATEOFBIRTH       = #{paramNotificationList.txtBirthday},
        TNTF_NNUMBER_OF_TARGET  = #{paramNotificationList.txtTargetNumber},
        WHERE
            TNTF_CCUSTOMERID = #{paramNotificationList.custId}
        AND TNTF_CCOMPANYID = #{paramNotificationList.compId}
        AND (TNTF_CNTFNO = (SELECT
		                          NVL(TNTF_CNTFNO_MOTO, TNTF_CNTFNO)
		                    FROM
		                        TMG_NOTIFICATION
		                    WHERE
		                        TNTF_CCUSTOMERID = #{paramNotificationList.custId}
		                    AND TNTF_CCOMPANYID  = #{paramNotificationList.compId}
		                    AND TNTF_CNTFNO      = #{paramNotificationList.ntfNo}
		                    )
		     OR TNTF_CNTFNO_MOTO = (SELECT
		                                NVL(TNTF_CNTFNO_MOTO, TNTF_CNTFNO)
		                            FROM
	                                    TMG_NOTIFICATION
	                                WHERE
	                                    TNTF_CCUSTOMERID = #{paramNotificationList.custId}
	                                AND TNTF_CCOMPANYID  = #{paramNotificationList.compId}
		                            AND TNTF_CNTFNO      = #{paramNotificationList.ntfNo}
	                        )
            )
        ;
    </update>
</mapper>