<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgStatusWorktypeSimMapper">

    <resultMap id="selectExcludecondCtlMap" type="jp.smartcompany.job.modules.tmg.tmgifsimulation.dto.ConditionColDTO">
        <result property="mgd_excludecond_type" column="mgd_excludecond_type"></result>
        <result property="mgd_excludecond_type_name" column="mgd_excludecond_type_name"></result>
        <result property="mgd_excludecond_length" column="mgd_excludecond_length"></result>
        <result property="value" column="value"></result>
    </resultMap>

    <resultMap id="selectSimulationMasterMap" type="jp.smartcompany.job.modules.tmg.tmgifsimulation.dto.SimulationDataDTO">
        <result property="start_time" column="start_time"></result>
        <result property="end_time" column="end_time"></result>
        <result property="period" column="period"></result>
        <result property="mgd_excludecond_type" column="mgd_excludecond_type"></result>
        <result property="mgd_excludecond_type_name" column="mgd_excludecond_type_name"></result>
        <result property="excludecond" column="excludecond"></result>
    </resultMap>

    <parameterMap id="insertMastGenericDetail" type="jp.smartcompany.job.modules.tmg.tmgifsimulation.dto.SimulationInsertDTO">
        <parameter property="psCustId"></parameter>
        <parameter property="psCompId"></parameter>
        <parameter property="psGroupCode"></parameter>
        <parameter property="psDetailId"></parameter>
        <parameter property="psMasterCode"></parameter>
        <parameter property="psLanguage"></parameter>
        <parameter property="psStartDate"></parameter>
        <parameter property="psEndDate"></parameter>
        <parameter property="psUpdateUser"></parameter>
        <parameter property="psExuludecondType"></parameter>
        <parameter property="psExuludecondFrom"></parameter>
        <parameter property="psExuludecondTo"></parameter>
    </parameterMap>

    <update id="buildSQLForUpdateTmgStatusWorkTypeSim">
        UPDATE
           TMG_STATUS_WORKTYPE_SIM
        SET
           TSWS_CMODIFIERPROGRAMID = #{programId},
           TSWS_CMODIFIERUSERID    = #{userCode},
           TSWS_DMODIFIEDDATE      = SYSDATE,
           TSWS_CSTATUS            = #{status}
        WHERE
           TSWS_CCUSTOMERID        = #{custId}
        AND TSWS_CCOMPANYID        = #{compCode}
        AND TSWS_DSTARTDATE        <![CDATA[<=]]> TRUNC(SYSDATE)
        AND TSWS_DENDDATE          >= TRUNC(SYSDATE)
    </update>

    <select id="buildSQLForSelectTmgStatusWorkTypeSim"
            resultType="jp.smartcompany.job.modules.tmg.tmgifsimulation.dto.StatusWorkTypeSimDto">
        SELECT
            TSWS_CSTATUS,
            MGD_WTSIMSTATUS_NAME
        FROM
            TMG_STATUS_WORKTYPE_SIM,
            (
                SELECT
                MGD_CCUSTOMERID,
                MGD_CCOMPANYID_CK_FK,
                MGD_WTSIMSTATUS_CODE,
                MGD_WTSIMSTATUS_NAME
                FROM
                TMG_V_MGD_WTSIMSTATUS
                WHERE
                MGD_DSTART_CK      <![CDATA[<=]]> TRUNC(SYSDATE)
                AND MGD_DEND  >= TRUNC(SYSDATE)
                AND MGD_CLANGUAGE_CK    = #{language}
            )
        WHERE
            TSWS_CCUSTOMERID    = #{custID}
        AND TSWS_CCOMPANYID     = #{compCode}
        AND TSWS_DSTARTDATE    <![CDATA[<=]]> TRUNC(SYSDATE)
        AND TSWS_DENDDATE      >= TRUNC(SYSDATE)
        AND TSWS_CCUSTOMERID  = MGD_CCUSTOMERID(+)
        AND TSWS_CCOMPANYID = MGD_CCOMPANYID_CK_FK(+)
        AND TSWS_CSTATUS  = MGD_WTSIMSTATUS_CODE(+)
    </select>

    <!-- HR連携除外条件区分マスタ情報の件数を取得する -->
    <select id="selectExcludecondCtl" parameterType="java.util.HashMap" resultMap="selectExcludecondCtlMap">
        select mgd_excludecond_type
            ,mgd_excludecond_type_name
            ,mgd_excludecond_length
            ,'' as value
        from tmg_v_mgd_excludecond_ctl
        where mgd_ccustomerid = #{custId}
            and mgd_ccompanyid_ck_fk = #{compCode}
            and mgd_dstart_ck <![CDATA[<=]]> trunc(sysdate)
            and mgd_dend >= trunc(sysdate)
            and mgd_clanguage_ck = #{language}
            and mgd_excludecond_edit_flg = #{editFlag}
        order by mgd_excludecond_type
    </select>

    <!-- HR連携除外条件マスタ情報を取得する -->
    <select id="selectSimulationMaster" parameterType="java.util.HashMap" resultMap="selectSimulationMasterMap">
        select tab1.start_time
             ,tab1.end_time
             ,tab1.period
             ,tab1.mgd_excludecond_type
             ,tab2.mgd_excludecond_type_name
             ,tab1.excludecond
             from
          (select tab1.start_time
            ,tab1.end_time
            , tab1.start_time||'-'|| tab1.end_time as period
            ,tab1.mgd_excludecond_type
            ,listagg(tab1.excludecond, ',') within group(order by tab1.excludecond) as excludecond
          from (select tab.start_time
                ,tab.end_time
                ,tab.mgd_excludecond_type
                ,case when tab.mgd_excludecond_to is not null then tab.mgd_excludecond_from
                 || '-' || tab.mgd_excludecond_to else tab.mgd_excludecond_from
                 || tab.mgd_excludecond_to end as excludecond
              from (select mgd_excludecond_type
                    ,mgd_excludecond_from
                    ,mgd_excludecond_to
                    ,to_char(mgd_dstart_ck, 'yyyy/mm/dd') as start_time
                    ,to_char(mgd_dend, 'yyyy/mm/dd') as end_time
                  from tmg_v_mgd_excludecond4thw
                 where mgd_ccustomerid = #{custId}
                   and mgd_ccompanyid_ck_fk =  #{compCode}
                   and mgd_clanguage_ck = #{language}
                   and mgd_cgenericgroupid = #{genericgroupId}
                 order by mgd_dstart_ck, mgd_excludecond_type,
                    mgd_excludecond_from) tab) tab1
         group by tab1.start_time, tab1.end_time, tab1.mgd_excludecond_type)tab1,(select mgd_excludecond_type
            ,mgd_excludecond_type_name
            ,mgd_excludecond_length
        from tmg_v_mgd_excludecond_ctl
        where mgd_ccustomerid = #{custId}
            and mgd_ccompanyid_ck_fk = #{compCode}
            and mgd_dstart_ck <![CDATA[<=]]> trunc(sysdate)
            and mgd_dend >= trunc(sysdate)
            and mgd_clanguage_ck = #{language}
            and mgd_excludecond_edit_flg = #{editFlag}
        order by mgd_excludecond_type) tab2
        where tab1.mgd_excludecond_type = tab2.mgd_excludecond_type
               order by tab1.start_time,tab1.end_time
    </select>


</mapper>