<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgTriggerMapper">
    <insert id="buildSQLForInsertTriggerByTimePunch">
        INSERT INTO
            TMG_TRIGGER
        (
           TTR_CCUSTOMERID,
           TTR_CCOMPANYID,
           TTR_CEMPLOYEEID,
           TTR_DSTARTDATE,
           TTR_DENDDATE,
           TTR_CMODIFIERUSERID,
           TTR_DMODIFIEDDATE,
           TTR_CMODIFIERPROGRAMID,
           TTR_CPROGRAMID,
           TTR_CPARAMETER1,
           TTR_DPARAMETER1
        )
        SELECT
            TDA_CCUSTOMERID,
            TDA_CCOMPANYID,
            TDA_CEMPLOYEEID,
            to_date('1900/01/01','yyyy/mm/dd'),
            to_date('2222/12/31','yyyy/mm/dd'),
            #{userCode},
            SYSDATE,
            'TmgResults_' || #{action},
            'TmgResults_' || #{action},
            #{action},
            TDA_DYYYYMMDD
        FROM
            TMG_DAILY
        WHERE
            TDA_CCUSTOMERID = #{custID}       <!--顧客ID-->
        AND TDA_CCOMPANYID  = #{compCode}      <!--法人ID-->
        AND TDA_CEMPLOYEEID = #{targetUser}   <!--職員ID-->
        AND TDA_CSTATUSFLG  = 'TMG_DATASTATUS|1'   <!--打刻未反映-->
        AND TDA_DYYYYMMDD  >= #{stDate}              <!--打刻反映処理対象となる開始日付-->
        AND TDA_DYYYYMMDD  <![CDATA[<=]]> #{endDate}     <!--打刻反映処理対象となる終了日付-->

    </insert>
    <insert id="buildSQLForInsertTrigger">
        INSERT INTO
            TMG_TRIGGER
        (
            TTR_CCUSTOMERID,
            TTR_CCOMPANYID,
            TTR_CEMPLOYEEID,
            TTR_DSTARTDATE,
            TTR_DENDDATE,
            TTR_CMODIFIERUSERID,
            TTR_DMODIFIEDDATE,
            TTR_CMODIFIERPROGRAMID,
            TTR_CPROGRAMID,
            TTR_CPARAMETER1,
            TTR_DPARAMETER1
        )
        VALUES(
            #{custID},
            #{compCode},
            #{targetUser},
            to_date('1900/01/01','yyyy/mm/dd'),
            to_date('2222/12/31','yyyy/mm/dd'),
            #{userCode},
            sysdate,
            'TmgResults_' || #{txtAction},
            'TmgResults_' || #{txtAction},
            #{txtAction},
            #{day}
        )
    </insert>
    <insert id="buildSQLForInsertTmgTriggerByTimePunch">
        INSERT INTO
            TMG_TRIGGER
        (
            TTR_CCUSTOMERID,
            TTR_CCOMPANYID,
            TTR_CEMPLOYEEID,
            TTR_DSTARTDATE,
            TTR_DENDDATE,
            TTR_CMODIFIERUSERID,
            TTR_DMODIFIEDDATE,
            TTR_CMODIFIERPROGRAMID,
            TTR_CPROGRAMID,
            TTR_CPARAMETER1,
            TTR_DPARAMETER1
        )
        SELECT
            TDA_CCUSTOMERID,
            TDA_CCOMPANYID,
            TDA_CEMPLOYEEID,
            TO_DATE('1900/01/01', 'YYYY/MM/DD'),
            TO_DATE('2222/12/31', 'YYYY/MM/DD'),
            #{userCode},
            SYSDATE,
            'PermStatList_' || #{action},
            'PermStatList_' || #{action},
            #{action},
            TDA_DYYYYMMDD
        FROM
            (${empSql}),
            TMG_DAILY
        WHERE
            TDA_CCUSTOMERID = cust                          <!-- 顧客ID -->
        AND TDA_CCOMPANYID  = comp                          <!-- 法人ID -->
        AND TDA_CEMPLOYEEID = empid                         <!-- 職員ID -->
        AND TDA_CSTATUSFLG  = 'TMG_DATASTATUS|1'            <!-- 打刻未反映 -->
        AND TDA_DYYYYMMDD  >= #{stDate}                     <!-- 打刻反映処理対象となる開始日付 -->
        AND TDA_DYYYYMMDD  <![CDATA[<=]]> #{endDate}         <!-- 打刻反映処理対象となる終了日付 -->
    </insert>
    <insert id="buildSQLForInsertTmgTrigger">
        INSERT INTO
            TMG_TRIGGER
        SELECT
            TDA_CCUSTOMERID,
            TDA_CCOMPANYID,
            TDA_CEMPLOYEEID,
            TO_DATE('1900/01/01', 'YYYY/MM/DD') , <!-- 開始日 -->
            TO_DATE('2222/12/31', 'YYYY/MM/DD') ,  <!-- 終了日 -->
            #{loginUserCode} ,
            SYSDATE,
            #{programId} , <!-- 更新プログラムID-->
            #{programId} ,  <!-- プログラムID-->
            NULL,  <!-- 数値型パラメータ１ -->
            NULL,
            NULL,
            NULL,
            NULL,
            #{action}, <!-- 文字列型パラメータ1-->
            NULL,
            NULL,
            NULL,
            NULL,
            #{yyyymmdd},  <!-- 日付型パラメータ1-->
            NULL,
            NULL,
            NULL,
            NULL
        FROM
            TMG_DAILY
        WHERE
            ROWID IN
            <foreach item="item" collection="rowIdList" index="index" open="(" separator="," close=")">
                #{item}
            </foreach>
    </insert>

    <insert id="buildSQLInsertTrigger">
        INSERT INTO
        (SELECT
        *
        FROM
        TMG_TRIGGER
        )
        (
        SELECT
            e.cust,                                  <!--顧客コード-->
            e.comp,                                  <!--法人コード-->
            e.empid,                                 <!--社員番号-->
            '1900/01/01' ,                           <!--開始日-->
            '2222/12/31',                            <!--終了日-->
            #{loginUserCode},                        <!--更新者-->
            SYSDATE,                                 <!--更新日-->
            'DeptStatList_ACT_Disp_RList',           <!--更新プログラムID-->
            'DeptStatList_ACT_Disp_RList',           <!--プログラムID-->
            NULL,                                    <!-- 数値型パラメータ1-->
            NULL,                                    <!--数値型パラメータ2-->
            NULL,                                    <!--数値型パラメータ3-->
            NULL,                                    <!--数値型パラメータ4-->
            NULL,                                    <!--数値型パラメータ5-->
            'ACT_Disp_RList',                        <!--文字列型パラメータ1-->
            NULL,                                    <!--文字列型パラメータ2-->
            NULL,                                    <!--文字列型パラメータ3-->
            NULL,                                    <!--文字列型パラメータ4-->
            NULL,                                    <!--文字列型パラメータ5-->
            d.TDA_DYYYYMMDD,                         <!--日付型パラメータ1-->
            NULL,                                    <!--日付型パラメータ2-->
            NULL,                                    <!--日付型パラメータ3-->
            NULL,                                    <!--日付型パラメータ4-->
            NULL                                     <!--日付型パラメータ5-->
        FROM
            TMG_DAILY d,
            (${empsql}) e,
            TMG_MONTHLY m
        WHERE
            m.TMO_CEMPLOYEEID = e.EMPID
        AND m.TMO_DYYYYMM = TRUNC(TO_DATE(#{pWorkDate}),'MM')
        AND m.TMO_CCOMPANYID = e.COMP
        AND m.TMO_CCUSTOMERID = e.CUST
        AND d.TDA_CEMPLOYEEID = m.TMO_CEMPLOYEEID
        AND d.TDA_DYYYYMM = #{baseDate}           <!--表示対象月-->
        AND d.TDA_DYYYYMMDD <![CDATA[<=]]>  TRUNC(SYSDATE)      <!--運用日以前を対象とする-->
        AND d.TDA_CCUSTOMERID = m.TMO_CCUSTOMERID
        AND d.TDA_CCOMPANYID = m.TMO_CCOMPANYID
        AND d.TDA_CSTATUSFLG = 'TMG_DATASTATUS|1'
        )
    </insert>
</mapper>