<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgTimepunchMapper">

    <resultMap id="selectBaseTimesMap" type="jp.smartcompany.job.modules.tmg.timepunch.dto.BaseTimesDTO">
        <result column="sToday" property="sToday"></result>
        <result column="sYesterday" property="sYesterday"></result>
        <result column="sNow" property="sNow"></result>
        <result column="sStartMinutes" property="sStartMinutes"></result>
        <result column="sEndMinutes" property="sEndMinutes"></result>
    </resultMap>

    <!-- 打刻時に打刻データ(未反映)情報に登録する -->
    <insert id="insertTmgTimePunch" parameterType="java.util.HashMap">
        insert into tmg_timepunch
            (ttp_nid, ttp_ccustomerid, ttp_ccompanyid, ttp_cemployeeid,
            ttp_dstartdate, ttp_denddate, ttp_cmodifieruserid,ttp_dmodifieddate,
            ttp_cmodifierprogramid, ttp_dtpdate,ttp_dtptime, ttp_ctptypeid)
        values
            (tmg_timepunch_seq.nextval,#{custId},#{compCode}, #{employeeId},
             to_date(#{minDate}, 'yyyy/mm/dd'),to_date(#{maxDate},'yyyy/mm/dd'), #{employeeId}, sysdate,
             #{modifierprogramid}, trunc(sysdate, 'dd'),sysdate, #{ctpTypeid})
    </insert>

    <!--  TMG_TRIGGERへINSERTする -->
    <insert id="insertTmgTrgger" parameterType="java.util.HashMap">
        insert into tmg_trigger
            (ttr_ccustomerid, ttr_ccompanyid, ttr_cemployeeid, ttr_dstartdate,
            ttr_denddate, ttr_cmodifieruserid, ttr_dmodifieddate,ttr_cmodifierprogramid,
            ttr_cprogramid)
        values
            (#{custId},#{compCode}, #{employeeId},to_date(#{minDate}, 'yyyy/mm/dd'),
            to_date(#{maxDate},'yyyy/mm/dd'), #{employeeId}, trunc(sysdate, 'dd'),#{modifierprogramid},
            #{modifierprogramid})
    </insert>

    <!--  TMG_TRIGGERへDELETEする -->
    <delete id="deleteTmgTrgger" parameterType="java.util.HashMap">
        delete from tmg_trigger
             where ttr_ccustomerid = #{custId}
               and ttr_ccompanyid = #{compCode}
               and ttr_cemployeeid = #{employeeId}
               and ttr_cmodifieruserid = #{employeeId}
               and ttr_cmodifierprogramid =#{modifierprogramid}
    </delete>

    <!-- 打刻画面表示判断 -->
    <select id="selectIsTimePunchTarget" parameterType="java.util.HashMap" resultType="java.lang.String">
        select tmg_f_is_timepunch_target(#{custId},#{compCode},#{employeeId},#{targetDate}) as timePunchTarget  from dual
    </select>

    <!-- 本日の日付情報と、法人情報(TMG_COMPANY)の開始時刻を取得します -->
    <select id="selectBaseTimes" parameterType="java.util.HashMap" resultMap="selectBaseTimesMap">
        select to_char(sysdate, 'yyyy/mm/dd') as sToday
            ,to_char(sysdate - 1, 'yyyy/mm/dd') as sYesterday
            ,tmg_f_conv_hhmi2min(to_char(sysdate, 'hh24:mi')) as sNow
            ,tco_nopen as sStartMinutes
            ,tco_nclose as sEndMinutes
        from tmg_company
        where tco_ccustomerid = #{custId}
        and tco_ccompanyid = #{compCode}
        and tco_dstartdate <![CDATA[<=]]> trunc(sysdate)
        and tco_denddate <![CDATA[>=]]> trunc(sysdate)
    </select>

    <!-- 打刻更新先となる日と今日の日付を取得するクエリ -->
    <select id="selectBaseTimesWithPattern" parameterType="java.util.HashMap" resultType="java.lang.String">
        select to_char(tmg_f_get_timepunch_targetdate(#{custId},#{compCode},#{employeeId},sysdate),'yyyy/mm/dd') as baseTime from dual
    </select>




</mapper>