<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='汎用マスタ設定',cssPaths='/pages/content.min.css')">
</head>

<body>
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <!-- 菜单导航栏 -->
    <div th:replace="layout/sider"></div>
    <main class="content namesettings-warp" ref="layout">
        <div class="content_head">
          <div class="header">
            <div class="title1">
              <h1>
                <Icon type="i-emeer colored"></Icon>
                {{ `汎用マスタ設定` }}
              </h1>
            </div>
            <div class="btnbox">
              <span style="flex:1"></span>
              <i-button type="success" icon="md-done-all" @click="update" :loading="editLoading">登録</i-button>
            </div>
          </div>
        </div>
        <div class="content_body">
          <div class="table-top">
            <Row :gutter="16">
              <i-col span="24" class="tr">
              </i-col>
            </Row>
          </div>
          <Row :gutter="16">
            <i-col span="6" class="">
                <Card class="mb5" v-for="item of listData" style="background: var(--content-bg);">
                  <p class="mb2"><span style="color: var(--text-light-grey)">名称: </span>{{ item.description }}</p>
                  <p><span style="color: var(--text-light-grey)">コード: </span>{{ item.groupId }}</p>
                  <p class="tr" :style="{ color: item.editAble === '1' ? 'var(--login-svg-fill)' : 'var(--text-light-grey)'}" >{{ item.editAble === '1' ? '変更可' : '変更不可'}}</p>
                </Card>
            <!-- <i-table border :class="tableHeadFixed ? 'table-head-fixed no-padding' : 'no-padding'"
                :row-class-name="() => 'select-col'" :columns="columns" :disabled-hover="true" :data="tableData"
                :loading="loading" ref="table">
                <template slot-scope="{ row }" slot="status"><span :class="row.editAble === '1'  ? 'blue' : 'red'">{{ row.editAble === '1' ? '〇' : '✖'}}</span></template>
             </i-table> -->
            </i-col>
          </Row>
        </div>
        <back-top></back-top>
      </main>
    <div th:replace="layout/head::header"></div>
    <script type="text/babel" th:inline="javascript">
        new Vue({
          el: '.namesettings-warp',
          data() {
            return {
              isShow: false,
              loading: true,
              editLoading: false,
              btnLoading: false,
              defaultOption: false,
              psSite: Utils.getUrlParam(location.href, 'psSite'),
              psApp: Utils.getUrlParam(location.href, 'psApp'),
              updateValue: {},
              columns: [
               {
                   title:'コード',
                   key:'groupId',
               },
               {
                   title:'名称',
                   key:'description',
               },
               {
                   title:'変更可否',
                   slot:'status',
                   align:'center',
                   width: 50
               }
              ],
              opts: {
              },
              listData:[],
              tableData: [],
              conditionsList: [],
              contentScrollTop: 0
            }
          },
          async created() {
            this.getTableData()
            window.addEventListener('scroll', this.handleScroll, { passive: true })
          },
          beforeDestroy() {
            window.removeEventListener('scroll', this.handleScroll, { passive: true })
          },
          computed: {
            tableHeadFixed() {
              if (this.contentScrollTop > 110) return true
              else return false
            }
          },
          methods: {
            async getTableData() {
              const OPTS = {}
              OPTS.psSite = Utils.getUrlParam(location.href, 'psSite')
              OPTS.psApp = Utils.getUrlParam(location.href, 'psApp')
              this.loading = true
              try {
                const { data } = await this.http.get('sys/genericmanager/cates', OPTS)
                this.listData = data
                this.tableData = data
              } catch (error) {
              } finally {
                this.loading = false
              }
            },
            async update() {
              this.$Modal.confirm({
                title: '注意',
                content: '入力内容を保存します。よろしいですか？',
                okText: 'OK',
                cancelText: 'キャンセル',
                onOk: async () => {
                  this.loading = true
                  const update = this.tableData.map((e, i)=> {
                    return {
                      ...e,
                      templateId: e.templateId === 'null' ? null : e.templateId,
                      permissionType: e.permissionType === 'null' ? null : e.permissionType
                    }
                  })
                  try {
                    const { data } = await this.http.post('sys/appmanager/update', update)
                    this.$Message.success('更新完了')
                    this.getTableData()
                    this.updateValue = {}
                  } catch (error) {
                  } finally {
                    history.go(0)
                    this.loading = false
                  }
                }
              })
            },
            handleScroll: Throttle(function (e) {
              this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
            }, 50)
          }
        })
      </script>
</body>
