<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='汎用マスタ設定',cssPaths='/pages/content.min.css')">
</head>

<body>
  <style>
    .block-fixed {
      position: fixed;
      width: 56%;
      left: 43.5%;
      top: 60px;
      z-index: 4;
    }
  </style>
  <div th:replace="layout/loadingBar::loadingBar"></div>
  <!-- 菜单导航栏 -->
  <div th:replace="layout/sider"></div>
  <main class="content namesettings-warp" ref="layout">
    <div class="content_head">
      <div class="header">
        <div class="title1">
          <h1>
            <Icon type="i-emeer colored"></Icon>
            {{ `汎用マスタ設定` }}
          </h1>
        </div>
        <div class="btnbox">
          <span style="flex:1"></span>
          <i-button type="primary" icon="md-add" @click="add" :loading="editLoading" v-show="editable && !isAdd">新規</i-button>
          <i-button @click="cancel" v-show="isAdd">キャンセル</i-button>
          <i-button type="success" icon="md-done-all" @click="update" :loading="editLoading" v-show="editable && tableData.length !== 0 || isAdd">登録</i-button>
        </div>
      </div>
      <div class="searchwrap">
        <div class="label">名称マスタ区分</div>
        <i-select v-model="opts.groupId" editable filterable clearable @on-change="handleNameType" style="width: 35%;">
            <i-option v-for="(item, i) of listData" :value="item.groupId" :key="i" :label="item.description">
              <div>{{ item.description }}</div>
              <span style="font-size: 12px;">{{ item.groupId }}</span>
              <span style="float:right;" :style="{ color: item.editAble === '1' ? 'var(--login-svg-fill)' : 'var(--text-light-grey)'}">{{ item.editAble === '1' ? '変更可' : '変更不可'}}</span>
            </i-option>
        </i-select>
        <span class="ml15" :style="{ color: editable ? 'var(--login-svg-fill)' : 'var(--text-light-grey)', 'font-size': '16px'}">{{ editable ? '変更可' : '変更不可'}}</span>
      </div>
      <Divider size="small" style="margin: 0;"/>
    </div>
    <div class="content_body">
      <Row :gutter="16">
        <i-col :span="tableData.length === 0 ? 24 : 10" v-show="!isAdd">
          <div class="tr mb5">
            <Page :total="pageValue.amount" :current="pageValue.curPage" show-total style="display: inline"
            :page-size="pageValue.curSize" @on-change="pageChange" ref="Page" simple/>
          </div>
          <span v-show="tableData.length === 0">
            <Alert class="error-info tl">選択中の区分マスタが現在参照可能な設定はございません。</Alert>
          </span>
          <span v-show="tableData.length > 0">
            <Card class="mb5" v-for="item of tableData" style="background: var(--content-bg);" @click.native="getDetails(item)">
            <div v-if="editable" class="card-del-btn cursor" @click.stop="remove(item)">✗</div>
            <div class="no-border-radius mb2" style="display: flex; align-items: stretch;">
              <span style="display: inline-block;width: 55px;color: var(--text-light-grey);">名称: </span>
              <span class="tl width100"> {{ item.description }}</span>
            </div>
            <div class="no-border-radius mb2" style="display: flex; align-items: stretch;">
              <span style="display: inline-block;width: 55px;color: var(--text-light-grey)">コード: </span>
              <span class="tl width100"> {{ item.detailId }}</span>
            </div>
            <p class="tr">{{ `${Utils.formatDate(item.startDate, 'yyyy/mm/dd')} ～ ${ item.endDate === 7983759600000 ? '' : Utils.formatDate(item.endDate, 'yyyy/mm/dd')}` }}</p>
            <div v-show="curCard === item.mgdId && !isAdd" style="position: absolute;bottom: 0;left: 0; width: 80px;height: 30px;background: var(--error-background)"><div style="position: absolute;bottom: 0;left: 0; width: 80px;height: 30px;background: var(--content-bg);clip-path: circle(111% at 71% -112%);"></div></div>
          </Card>
          </span>
          <Spin size="large" fix v-if="loading"></Spin>
        </i-col>
        <i-col span="14" :class="tableHeadFixed ? 'block-fixed' : ''">
          <Row :gutter="10" v-show="detailData.mgdCgenericdetaildesc || isAdd">
            <i-col span="10">
              <div class="label pl10 tc">名称</div>
              <div class="person-info">
                <i-input class="tl" style="padding: 3px;margin-left: -6px;" size="small" v-model="detailData.mgdCgenericdetaildescja" :maxlength="1000"><span slot="prepend">日本語</span></i-input>
              </div>
            </i-col>
            <i-col span="6">
              <div class="label pl10 tc">明細コード</div>
              <div class="person-info">
                <span v-if="!isAdd">{{ detailData.mgdCgenericdetailidCk }}</span>
                <i-input v-else class="tl" style="padding: 3px;margin-left: -6px;" size="small" v-model="detailData.mgdCgenericdetailidCk"></i-input>
              </div>
            </i-col>
            <i-col span="8">
              <div class="label pl10 tc">期間</div>
              <div class="person-info">
                <span v-if="!editable">{{ `${Utils.formatDate(detailData.mgdDstartCk, 'yyyy/mm/dd')} ～ ${ detailData.mgdDend && Utils.formatDate(detailData.mgdDend, 'yyyy/mm/dd') }` }}</span>
                <Row :gutter="8" v-else>
                  <i-col span="12">
                    <date-picker v-model="detailData.mgdDstartCk" type="date" size="small" :clearable="false" :options="rangeOptions" format="yyyy/MM/dd" :disabled="!isAdd"></date-picker>
                  </i-col>
                  <i-col span="12">
                    <date-picker v-model="detailData.mgdDend" type="date" size="small" :clearable="false" :options="rangeOptions" format="yyyy/MM/dd" ></date-picker>
                  </i-col>
                  <checkbox v-if="!isAdd" v-model="detailData.newHistory" style="margin-left: 5px;">新しい歴を終了日以降に作成</checkbox>
                </Row>
              </div>
            </i-col>

            <i-col span="24" class="mt10">
              <div class="label pl10 tc">予備文字</div>
              <div class="person-info">
                <Row :gutter="8">
                  <i-col span="12">
                    <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                      <span class="ivu-input-group-prepend" style="width: 23px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">1</span></span>
                        <i-input class="tl" v-model="detailData.mgdCsparechar1" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                    </div>
                  </i-col>
                  <i-col span="12">
                    <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                      <span class="ivu-input-group-prepend" style="width: 45px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                        <i-input class="tl" v-model="detailData.mgdCsparechar1Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                    </div>
                  </i-col>
                </Row>
                <Row :gutter="8">
                  <i-col span="12">
                    <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                      <span class="ivu-input-group-prepend" style="width: 23px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">2</span></span>
                        <i-input class="tl" v-model="detailData.mgdCsparechar2" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                    </div>
                  </i-col>
                  <i-col span="12">
                    <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                      <span class="ivu-input-group-prepend" style="width: 45px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                        <i-input class="tl" v-model="detailData.mgdCsparechar2Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                    </div>
                  </i-col>
                </Row>
                <Row :gutter="8">
                  <i-col span="12">
                    <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                      <span class="ivu-input-group-prepend" style="width: 23px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">3</span></span>
                        <i-input class="tl" v-model="detailData.mgdCsparechar3" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                    </div>
                  </i-col>
                  <i-col span="12">
                    <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                      <span class="ivu-input-group-prepend" style="width: 45px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                        <i-input class="tl" v-model="detailData.mgdCsparechar3Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                    </div>
                  </i-col>
                </Row>
                <Row :gutter="8">
                  <i-col span="12">
                    <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                      <span class="ivu-input-group-prepend" style="width: 23px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">4</span></span>
                        <i-input class="tl" v-model="detailData.mgdCsparechar4" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                    </div>
                  </i-col>
                  <i-col span="12">
                    <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                      <span class="ivu-input-group-prepend" style="width: 45px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                        <i-input class="tl" v-model="detailData.mgdCsparechar4Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                    </div>
                  </i-col>
                </Row>
                <Row :gutter="8">
                  <i-col span="12">
                    <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                      <span class="ivu-input-group-prepend" style="width: 23px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">5</span></span>
                        <i-input class="tl" v-model="detailData.mgdCsparechar5" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                    </div>
                  </i-col>
                  <i-col span="12">
                    <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                      <span class="ivu-input-group-prepend" style="width: 45px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                        <i-input class="tl" v-model="detailData.mgdCsparechar5Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                    </div>
                  </i-col>
                </Row>
              </div>
            </i-col>

            <i-col span="24" class="mt10">
              <Row :gutter="8">
                <i-col span="12">
                  <div class="label pl10 tc">予備数字</div>
                  <div class="person-info">
                    <Row :gutter="8">
                      <i-col span="12">
                        <i-input class="tl" style="padding: 3px;margin-left: -6px;" v-model="detailData.mgdNsparenum1"><span slot="prepend">1</span></i-input>
                      </i-col>
                      <i-col span="12">
                        <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                          <span class="ivu-input-group-prepend" style="width: 48px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                            <i-input class="tl" v-model="detailData.mgdNsparenum1Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                        </div>
                      </i-col>
                    </Row>
                    <Row :gutter="8">
                      <i-col span="12">
                        <i-input class="tl" style="padding: 3px;margin-left: -6px;" v-model="detailData.mgdNsparenum2"><span slot="prepend">2</span></i-input>
                      </i-col>
                      <i-col span="12">
                        <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                          <span class="ivu-input-group-prepend" style="width: 48px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                            <i-input class="tl" v-model="detailData.mgdNsparenum2Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                        </div>
                      </i-col>
                    </Row>
                    <Row :gutter="8">
                      <i-col span="12">
                        <i-input class="tl" style="padding: 3px;margin-left: -6px;" v-model="detailData.mgdNsparenum3"><span slot="prepend">3</span></i-input>
                      </i-col>
                      <i-col span="12">
                        <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                          <span class="ivu-input-group-prepend" style="width: 48px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                            <i-input class="tl" v-model="detailData.mgdNsparenum3Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                        </div>
                      </i-col>
                    </Row>
                    <Row :gutter="8">
                      <i-col span="12">
                        <i-input class="tl" style="padding: 3px;margin-left: -6px;" v-model="detailData.mgdNsparenum4"><span slot="prepend">4</span></i-input>
                      </i-col>
                      <i-col span="12">
                        <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                          <span class="ivu-input-group-prepend" style="width: 48px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                            <i-input class="tl" v-model="detailData.mgdNsparenum4Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                        </div>
                      </i-col>
                    </Row>
                    <Row :gutter="8">
                      <i-col span="12">
                        <i-input class="tl" style="padding: 3px;margin-left: -6px;" v-model="detailData.mgdNsparenum5"><span slot="prepend">5</span></i-input>
                      </i-col>
                      <i-col span="12">
                        <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                          <span class="ivu-input-group-prepend" style="width: 48px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                            <i-input class="tl" v-model="detailData.mgdNsparenum5Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                        </div>
                      </i-col>
                    </Row>
                  </div>
                </i-col>

                <i-col span="12">
                  <div class="label pl10 tc">予備日付</div>
                  <div class="person-info">
                    <Row :gutter="8">
                      <i-col span="12">
                        <date-picker type="date" class="width100" style="padding: 3px;margin-left: -6px;" v-model="detailData.mgdDsparedate1" :options="rangeOptions" placeholder="日付" format="yyyy/MM/dd"></date-picker>
                      </i-col>
                      <i-col span="12">
                        <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                          <span class="ivu-input-group-prepend" style="width: 48px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                            <i-input class="tl" v-model="detailData.mgdDsparedate1Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                        </div>
                      </i-col>
                    </Row>
                    <Row :gutter="8">
                      <i-col span="12">
                        <date-picker type="date" class="width100" style="padding: 3px;margin-left: -6px;" v-model="detailData.mgdDsparedate2" :options="rangeOptions" placeholder="日付" format="yyyy/MM/dd"></date-picker>
                      </i-col>
                      <i-col span="12">
                        <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                          <span class="ivu-input-group-prepend" style="width: 48px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                            <i-input class="tl" v-model="detailData.mgdDsparedate2Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                        </div>
                      </i-col>
                    </Row>
                    <Row :gutter="8">
                      <i-col span="12">
                        <date-picker type="date" class="width100" style="padding: 3px;margin-left: -6px;" v-model="detailData.mgdDsparedate3" :options="rangeOptions" placeholder="日付" format="yyyy/MM/dd"></date-picker>
                      </i-col>
                      <i-col span="12">
                        <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                          <span class="ivu-input-group-prepend" style="width: 48px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                            <i-input class="tl" v-model="detailData.mgdDsparedate3Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                        </div>
                      </i-col>
                    </Row>
                    <Row :gutter="8">
                      <i-col span="12">
                        <date-picker type="date" class="width100" style="padding: 3px;margin-left: -6px;" v-model="detailData.mgdDsparedate4" :options="rangeOptions" placeholder="日付" format="yyyy/MM/dd"></date-picker>
                      </i-col>
                      <i-col span="12">
                        <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                          <span class="ivu-input-group-prepend" style="width: 48px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                            <i-input class="tl" v-model="detailData.mgdDsparedate4Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                        </div>
                      </i-col>
                    </Row>
                    <Row :gutter="8">
                      <i-col span="12">
                        <date-picker type="date" class="width100" style="padding: 3px;margin-left: -6px;" v-model="detailData.mgdDsparedate5" :options="rangeOptions" placeholder="日付" format="yyyy/MM/dd"></date-picker>
                      </i-col>
                      <i-col span="12">
                        <div class="no-left-border-radius " style="display: flex; align-items: stretch;padding: 3px 10px 3px 3px;margin-left: -6px;">
                          <span class="ivu-input-group-prepend" style="width: 48px;"><span style="position: absolute; top: 50%;transform: translate(-50%,-50%);">備考</span></span>
                            <i-input class="tl" v-model="detailData.mgdDsparedate5Desc" :maxlength="1000" type="textarea" :autosize="true"></i-input>
                        </div>
                      </i-col>
                    </Row>
                  </div>
                </i-col>
              </Row>
            </i-col>
          </Row>
          <Spin size="large" fix v-if="detailLoading"></Spin>
        </i-col>
      </Row>
    </div>
    <back-top></back-top>
  </main>
  <div th:replace="layout/head::header"></div>
  <script type="text/babel" th:inline="javascript">
    new Vue({
      el: '.namesettings-warp',
      data() {
        return {
          isShow: false,
          isAdd: false,
          loading: true,
          editLoading: false,
          editable: false,
          btnLoading: false,
          detailLoading: false,
          defaultOption: false,
          detailData: {},
          curCard: '',
          psSite: Utils.getUrlParam(location.href, 'psSite'),
          psApp: Utils.getUrlParam(location.href, 'psApp'),
          updateValue: {},
          pageValue: {
            amount: 0,
            curPage: 1,
            curSize: 50
          },
          rangeOptions: {
            disabledDate: date => {
              return date.valueOf() < -3600000 || date.valueOf() > 7983759600000
            }
          },
          opts: {
            page: 1,
            limit: 50
          },
          listData: [],
          tableData: [],
          conditionsList: [],
          contentScrollTop: 0
        }
      },
      async created() {
        await this.getTableData()
        await this.getCardList(false)
        if(this.tableData.length > 0 ) this.getDetails(this.tableData[0])
        this.editable = this.listData[0].editAble === '1'
        this.groupId = this.listData[0].groupId

        window.addEventListener('scroll', this.handleScroll, { passive: true })
      },
      beforeDestroy() {
        window.removeEventListener('scroll', this.handleScroll, { passive: true })
      },
      computed: {
        tableHeadFixed() {
          if (this.contentScrollTop > 110) return true
          else return false
        }
      },
      methods: {
        async getTableData() {
          const OPTS = {}
          OPTS.psSite = Utils.getUrlParam(location.href, 'psSite')
          OPTS.psApp = Utils.getUrlParam(location.href, 'psApp')
          // this.loading = true
          try {
            const { data } = await this.http.get('sys/genericmanager/cates', OPTS)
            this.listData = data
          } catch (error) {
          } finally {
            // this.loading = false
          }
        },
        async getCardList(opts) {
          if (!opts) {
            this.opts = {
              ...this.opts,
              groupId: this.opts.groupId || this.listData[0].groupId,
              historyType: this.opts.historyType || this.listData[0].historyType
            }
          } else {
            this.pageValue.curPage = 1
            this.opts.page = 1
            this.opts = {
              ...this.opts,
              groupId: opts.groupId,
              historyType: opts.historyType
            }
          }
          try {
            this.loading = true
            const { data } = await this.http.get('sys/genericmanager/detail', this.opts)
            this.tableData = data.listPage.list

            if(this.tableData.length === 0) {
              this.detailData = {}
            } else {
              this.curCard = this.tableData[0].mgdId
            }
            this.pageValue.amount = data.listPage.totalCount
          } catch (error) {
          } finally {
            this.loading = false
          }
        },
        async getDetails(opts, isAdd) {
          if(!isAdd) this.isAdd = false
          this.curCard = opts.mgdId
          try {
            this.detailLoading = true
            const { data } = await this.http.get('sys/genericmanager/detail/item', {
              groupId: opts.groupId,
              detailId: opts.detailId
            })
            this.detailData = {
              ...data.detail,
              mgdDsparedate1: data.detail.mgdDsparedate1 && new Date(data.detail.mgdDsparedate1),
              mgdDsparedate2: data.detail.mgdDsparedate2 && new Date(data.detail.mgdDsparedate2),
              mgdDsparedate3: data.detail.mgdDsparedate3 && new Date(data.detail.mgdDsparedate3),
              mgdDsparedate4: data.detail.mgdDsparedate4 && new Date(data.detail.mgdDsparedate4),
              mgdDsparedate5: data.detail.mgdDsparedate5 && new Date(data.detail.mgdDsparedate5),
              mgdDstartCk: new Date(data.detail.mgdDstartCk),
              mgdDend: data.detail.mgdDend === 7983759600000 ? '' : data.detail.mgdDend && new Date(data.detail.mgdDend),
            }
          } catch (error) {
          } finally {
            this.detailLoading = false
          }
        },
        async handleNameType(name) {
          this.isAdd = false
          const target = this.listData.find(e => e.groupId === name)
          this.editable = target.editAble === '1'
          this.groupId = target.groupId
          await this.getCardList(target)
          if(this.tableData.length > 0 ) this.getDetails(this.tableData[0])
        },
        handleScroll: Throttle(function (e) {
          this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
        }, 50),
        pageChange(e) {
          this.opts.page = e
          this.pageValue.curPage = e
          this.getCardList(false)
        },
        async update() {
          const hasPassed = this.checkData(this.detailData)
          if(!hasPassed) return
          this.$Modal.confirm({
            title: '注意',
            content: '入力内容を保存します。よろしいですか？',
            okText: 'OK',
            cancelText: 'キャンセル',
            onOk: async () => {
              this.detailLoading = true
              try {
                if(this.detailData.mgdId === null) delete this.detailData.mgdId
                const { data } = await this.http.post('sys/genericmanager/detail', {
                  newHistory: this.detailData.newHistory ? true : false,
                  info: {...this.detailData, mgdDend: this.detailData.mgdDend || new Date(7983759600000)}
                })
                this.$Message.success('更新完了')
                this.getCardList(false)
                this.isAdd = false
                this.updateValue = {}
              } catch (error) {
              } finally {
                this.detailLoading = false
              }
            }
          })
        },
        checkData(data) {
          let msg = ''
          if(!data.mgdCgenericdetailidCk || !data.mgdCgenericdetailidCk.trim()) {
            msg = msg.concat(`明細データコードを入力してください。\n`)
          }

          if(!data.mgdCgenericdetaildescja || !data.mgdCgenericdetaildescja.trim()) {
            msg = msg.concat(`明細データ内容（日本語）を入力してください。\n`)
          }

          if(!data.mgdDstartCk) {
            msg = msg.concat(`開始日を入力してください。\n`)
          }

          if(data.mgdDend && data.mgdDstartCk > data.mgdDend) {
            msg = msg.concat(`開始日＜終了日となるようにしてください。\n`)
          }

          const regx = /^\d{1,8}\.?\d{0,4}$/
          let num = ''
          for(let i = 1; i < 6; i ++) {
            if(data[`mgdNsparenum${i}`] && !regx.test(data[`mgdNsparenum${i}`])) {
              num = num.concat(`${i}, `)
            }
          }
          if(num) {
            msg = msg.concat(`予備数字${num.slice(0, -2)}の入力文字数が設定値を超えています。半角数字整数8桁、小数4桁以内で入力してください。\n`)
          }

          if(msg) {
            this.$Notice.warning({ title: '注意', desc: msg, duration: 0 })
            return false
          }
          return true

        },
        add() {
          this.isAdd = true
          this.getDetails({groupId: this.groupId}, true)
        },
        remove(item) {
          this.$Modal.confirm({
            title: '注意',
            content: '削除します。よろしいですか？',
            okText: 'OK',
            cancelText: 'キャンセル',
            onOk: async () => {
              try {
                this.loading = true
                this.detailLoading = true
                const { data } = await this.http.post('sys/genericmanager/delete', [item.mgdId])
                this.$Message.success('削除完了')
                await this.getCardList(item)
                if(this.tableData.length > 0 ) this.getDetails(this.tableData[0])
              } catch (error) {
              } finally {
                this.loading = false
                this.detailLoading = false
              }
            }
          })
        },
        cancel() {
          this.isAdd = false
          if(this.tableData.length > 0 ) this.getDetails(this.tableData[0])
        }
      }
    })
  </script>
</body>