<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='メールサーバ設定',cssPaths='/pages/content.min.css')">
</head>

<body>
  <div th:replace="layout/loadingBar::loadingBar"></div>
  <!-- 菜单导航栏 -->
  <div th:replace="layout/sider"></div>
  <main class="content mailsettings-warp" ref="layout">
    <div class="content_head">
      <div class="header">
        <div class="title1">
          <h1>
            <Icon type="i-emeer colored"></Icon>
            {{ `メールサーバ設定` }}
          </h1>
        </div>
      </div>
    </div>
    <div class="content_body">
      <Row>
        <i-col span="10">
          <div class="ml20">
            <!-- 帳票種別 -->
            <Divider style="margin-top: 0;"></Divider>
            <Row>
              <i-col span="6" offse="1">
                <h2>Host</h2>
              </i-col>
              <i-col span="9" offset="1">
                <i-input v-model="updateValue.host"></i-input>
              </i-col>
            </Row>
          </div>

          <div class="ml20 pt20">
            <Divider></Divider>
            <Row>
              <i-col span="6" offse="1">
                <h2>UserName</h2>
              </i-col>
              <i-col span="9" offset="1">
                <i-input v-model="updateValue.username"></i-input>
              </i-col>
            </Row>
          </div>

          <div class="ml20 pt20">
            <Divider></Divider>
            <Row>
              <i-col span="6" offse="1">
                <h2>Password</h2>
              </i-col>
              <i-col span="9" offset="1">
                <i-input v-model="updateValue.password"></i-input>
              </i-col>
            </Row>
          </div>

          <div class="ml20 pt20">
            <Divider></Divider>
            <Row>
              <i-col span="6" offse="1">
                <h2>Port</h2>
              </i-col>
              <i-col span="9" offset="1">
                <i-input v-model="updateValue.port"></i-input>
              </i-col>
            </Row>
          </div>

          <div class="ml20 pt20">
            <Divider></Divider>
            <Row>
              <i-col span="6" offse="1">
                <h2>ON / OFF</h2>
              </i-col>
              <i-col span="9" offset="1">
                <i-switch v-model="updateValue.status" size="large">
                  <span slot="open">ON</span>
                  <span slot="close">OFF</span>
                </i-switch>
              </i-col>
            </Row>
          </div>

          <Divider></Divider>
          <Row>
            <i-col span="9" style="margin-left: 29.933333%">
              <i-button type="primary" ghost icon="md-create" @click="update" long>登録
              </i-button>
            </i-col>
          </Row>
          <Spin size="large" fix v-if="loading"></Spin>
        </i-col>

        <i-col span="10" offset="1">
          <Card style="background: var(--content-bg);" title="メール設定テスト">
            <div class="tl mb10" style="margin-top: -10px; margin-right: -10px;">
              <p class="mt10">送信先メールアドレス: </p>
              <i-input class="mt10" v-model="email"></i-input>
              <p class="mt10">メール本文: </p>
              <i-input v-model="content" type="textarea" :autosize="{minRows: 10,maxRows: 15}" class="mt10"></i-input>
              <i-button type="primary" ghost icon="ios-mail" @click="textEmail" long class="mt30" :loading="btnLoading" :disabled="!email.trim() || !content.trim()">送信テスト
              </i-button>
            </div>
          </Card>
        </i-col>
      </Row>
    </div>
    <back-top></back-top>
  </main>
  <div th:replace="layout/head::header"></div>
  <script type="text/babel" th:inline="javascript">
    new Vue({
      el: '.mailsettings-warp',
      data() {
        return {
          isShow: false,
          loading: true,
          cardLoading: false,
          tableLoading: false,
          btnLoading: false,
          email: '',
          content: '',
          updateValue: [],
          opts: {
          },
          tableData: [],
          conditionsList: [],
        }
      },
      created() {
        this.getTableData()
      },
      methods: {
        async getTableData() {
          this.loading = true
          try {
            const { data } = await this.http.get('sys/mailmanager/server', this.opts)
            this.updateValue = data
          } catch (error) {
          } finally {
            this.loading = false
          }
        },
        async update() {
          this.$Modal.confirm({
            title: '注意',
            content: '入力内容を保存します。よろしいですか？',
            okText: 'OK',
            cancelText: 'キャンセル',
            onOk: async () => {
              this.loading = true
              const update = []
              try {
                const { data } = await this.http.post('sys/mailmanager/config', this.updateValue)
                this.$Message.success('更新完了')
                this.getTableData()
              } catch (error) {
              } finally {
                this.loading = false
              }
            }
          })
        },
        async textEmail() {
          try {
            if(!this.email.trim() || !this.content.trim()) return
            if(!/[\w\-\._]+@[\w\-\._]+\.[A-Za-z]+/.test(this.email)) {
                this.$Notice.warning({ title: '注意', desc: 'メールフォーマットが正しくありません', duration: 6.5 })
                return
            }
            this.btnLoading = true
            const { data } = await this.http.post('sys/mailmanager/test', {email: this.email, content: this.content})
            this.$Message.success('送信完了')
            this.email = ''
            this.content = ''
          } catch (error) {
          } finally {
            this.btnLoading = false
          }
        }
      }
    })
  </script>
</body>