<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='就業承認',cssPaths='/pages/mobile.min.css')"></head>

<body th:with="baseUrl = ${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath()},
      now = ${new java.util.Date().getTime()
    }">
  <script th:src="${baseUrl + '/static/compliedjs/cubeBase.js?t='+ now}">
  </script>
  <script th:src="${baseUrl + '/static/compliedjs/cube.js?t='+ now}">
  </script>
  <div th:replace="layout/loadingBar::loadingBar"></div>
  <main class="content mobile-warp">
    <div class="content_head">
      <div class="header">
        <div class="title1">
          <h1>
            就業登録
          </h1>
        </div>
      </div>
      <div class="searchwrap">
        <span class="label">年月</span>
        <cube-select v-model="model1" title="年月" :options="dispMonthlyList" :disabled="!selectDisabled" placeholder="選んでください。" class="width100"
        @change="handleStartMonth">
       </cube-select>
      </div>
    </div>
    <div class="content_body" style="position: relative">
      <i-table :class="tableHeadFixed ? 'table-head-fixed' : ''" :columns="columns" border :disabled-hover="true"
        :data="tableData" :loading="loading">
        <template slot-scope="{ row }" slot="week">
          <span :class="dayRed(row,0)">{{ row.TDA_DYYYYMMDD_DY }}</span>
        </template>

        <template slot-scope="{ row }" slot="intDay">
          <span :class="dayRed(row,0)">{{ row.TDA_DYYYYMMDD_DD }}</span>
        </template>


        <template slot-scope="{ row }" slot="workConfirm">
          <span v-if="row.TDA_CSTATUSFLG_NAME === '待'" class="confirm-sytle ing">待</span>
          <span v-if="row.TDA_CSTATUSFLG_NAME === '済'" class="confirm-sytle">済</span>
          <span v-if="row.TDA_CSTATUSFLG_NAME === '確'" class="confirm-sytle rest">確</span>
          <span v-if="row.TDA_CSTATUSFLG_NAME === 'エ'" class="confirm-sytle undo">エ</span>
        </template>

        <template slot-scope="{ row }" slot="TDA_CWORKINGID_R_NAME">
          <span :class="dayRed(row,1)">{{ row.TDA_CWORKINGID_R_NAME }}</span>
        </template>

        <template slot-scope="{ row }" slot="action">
          <i-button type="primary" ghost size="small" long @click="showDay(row.TDA_DYYYYMMDD)">詳細</i-button>
        </template>
      </i-table>
    </div>

    <!--日次就業実績-->
    <Drawer class="tc" width="100" v-model="isShow" placement="left" :closable="false">
      <template slot="header">
        <i-button class="modal-left-close-btn" type="text" @click="handleClose()" icon="ios-close">
        </i-button>
        <p style="color: var(--grey); font-weight: bold;">
          {{ title }}
        </p>
      </template>
      <div style="position: relative">
        <Alert type="error" class="error-info" v-show="errorFlag">{{ errorMsg }}</Alert>
        <div class="mb15 tr">
          <i-button style="display: inline-block;" type="primary" ghost class="mr15" v-if="!bFixed" @click="updateInp">
            コメントのみ登録</i-button>
          <i-button style="display: inline-block;" type="primary" ghost v-if="!bFixed" @click="updateDaily"
            :loading="updateDailyLoading">登録</i-button>
        </div>
        <div class="titlenorm mb10">
          <Icon type="logo-buffer"></Icon>
          就業実績
        </div>
        <div style="position: relative;">
          <Row>
            <i-col span="8" class="label tc">就業区分</i-col>
            <i-col span="16" class="no-border-radius">
              <p class="input-like-span tc">{{dailyEdit.tdaCworkingidRName}}</p>
            </i-col>
          </Row>
          <Row class="mb5">
            <i-col span="8" class="label tc">出張</i-col>
            <i-col span="16" class="no-border-radius" v-if="!bDisable">
              <cube-select v-model="businessTrip" title="出張" :options="businessTripList" placeholder="選んでください。" class="width100 mr30" v-if="(!bHoliday && !bFixed)">
              </cube-select>
              <p v-else class="tc input-like-span">{{dailyEdit.tdaCbusinesstripidRName}}</p>
            </i-col>
            <i-col span="8" class="no-border-radius" v-else>
              <cube-select v-model="businessTrip" title="出張" :options="businessTripList" placeholder="選んでください。" disabled class="width100 mr30" v-if="(!bHoliday && !bFixed)">
              </cube-select>
              <p v-else class="tc">{{dailyEdit.tdaCbusinesstripidRName}}</p>
            </i-col>
          </Row>
          <i-table :columns="columnsWork" :data="workData" :span-method="handleSpan4time" class="long-table" :disabled-hover="true">
            <template slot-scope="{ row, index }" slot="workStart">
              <i-input class="tl" v-model="dailyEdit.tdaCowncommentR" type="textarea" v-if="row.isOwnComment && !bFixed"></i-input>
              <span class="tl input-like-span" v-if="row.isOwnComment && bFixed" style="border-radius: 5px; white-space: pre-line;">{{ dailyEdit.tdaCowncommentR}}</span>

              <span class="tl input-like-span" style="border-radius: 5px; white-space: pre-line;" v-if="row.isBSComment">{{ dailyEdit.tdaCbosscommentR}}
                        </span>
              <span class="bs-comment-approved" style="font-size: 12px;" v-if="row.isBSComment && bApproved">{{ dailyEdit.tdaCmodifieruseridR}}({{dailyEdit.tdaDmodifieddateR }})</span>
              <span v-else>{{ row.workStart }}</span>
            </template>
            <template slot-scope="{ row , index}" slot="workEnd">
              <span>{{ row.workEnd }}</span>
            </template>
          </i-table>
        </div>


        <!-- 非勤務 -->
        <div class="titlenorm mb10">
          <Icon type="logo-buffer"></Icon>
          非勤務
        </div>
        <div class="mb10 tr" v-if="!bHoliday && !bFixed">
          <cube-select v-model="categoryNonduty" title="非勤務" :options="categoryNondutyList" placeholder="選んでください。" class="width50" style="display: inline-block;" v-if="!bDisable && categoryNondutyList.length > 0 ">
         </cube-select>
          <!--                <p class="input-like-span tc" v-else>{{categoryNonduty}}</p>-->
          <i-button style="display: inline-block;" type="primary" ghost @click="addNotWork" v-if="!bDisable">追加
          </i-button>
          <i-button style="display: inline-block;" disabled v-if="bDisable">追加</i-button>
        </div>

        <i-table :columns="columnsNotWork" :data="detailNonDutyVOList" class="mb20 long-table" no-data-text="" :disabled-hover="true">
          <template slot-scope="{ row, index }" slot="tdadNopen">
            <i-input v-model="detailNonDutyVOList[index].tdadNopen" v-if=" !bFixed"
              @on-blur="handleInputChange(index, detailNonDutyVOList[index],'tdadNopen', $event.target)"></i-input>
            <span v-else>{{  row.tdadNopen | toTime  }}</span>
          </template>

          <template slot-scope="{ row, index }" slot="tdadNclose">
            <i-input v-model="detailNonDutyVOList[index].tdadNclose" v-if="!bFixed "
              @on-blur="handleInputChange(index, detailNonDutyVOList[index],'tdadNclose', $event.target)"></i-input>
            <span v-else>{{ row.tdadNclose | toTime }}</span>
          </template>

          <template slot-scope="{ row }" slot="tdadNdeleteflg" v-if="!bFixed">
            <i-button type="error" ghost size="small" class="width100" @click="delNotWork(row)">削除</i-button>
          </template>
        </i-table>

        <div v-if="!isDiscretion">
          <!-- 超過勤務 -->
          <div class="titlenorm mb10">
            <Icon type="logo-buffer"></Icon>
            超過勤務
          </div>
          <div class="mb10 tr" v-if="!bHoliday && !bFixed">
            <!-- <i-select style="display: inline-block;" v-model="categoryOverhours" class="mr15 width50" @on-change=""
              ref="select4" clearable v-if="!bDisable && categoryOverhoursList.length>0">
              <i-option v-for="(item, index) of categoryOverhoursList" :key="index" :label="item.itemName"
                　:value="item.itemCode">
              </i-option>
            </i-select> -->
            <cube-select v-model="categoryOverhours" title="超過勤務" style="display: inline-block;" :options="categoryOverhoursList" placeholder="選んでください。" class="width50" v-if="!bDisable && categoryOverhoursList.length>0">
            </cube-select>
            <!--                <p class="input-like-span tc" v-else>{{categoryOverhours}}</p>-->
            <i-button style="display: inline-block;" type="primary" ghost @click="addOverWork" v-if="!bDisable">追加
            </i-button>
            <i-button style="display: inline-block;" disabled v-if="bDisable">追加</i-button>
          </div>

          <i-table :columns="columnsOverWork" :data="detailOverhoursVOList" class="mb20 long-table" no-data-text="" :span-method="handleSpan" :disabled-hover="true">



            <template slot-scope="{ row ,index }" slot="itemName">
              <span>{{ detailOverhoursVOList[index].itemName }}</span>
            </template>



            <template slot-scope="{ row ,index }" slot="tdadNopen">
              <div v-if="index%2===1">
                <i-input v-model="detailOverhoursVOList[index].tdadNopen" type="textarea" class="tl" v-if="!bFixed"></i-input>
                <span class="tl input-like-span" style="white-space: pre-line;" v-else>{{detailOverhoursVOList[index].tdadNopen}}</span>
              </div>
              <div v-else>
                <i-input v-model="detailOverhoursVOList[index].tdadNopen" v-if=" !bFixed"
                         @on-blur="handleInputChange(index, detailOverhoursVOList[index],'tdadNopen', $event.target)"></i-input>
                <span v-else>{{ row.tdadNopen | toTime }}</span>
              </div>
            </template>


            <template slot-scope="{ row ,index}" slot="tdadNclose">
              <i-input v-model="detailOverhoursVOList[index].tdadNclose" v-if=" !bFixed"
                @on-blur="handleInputChange(index, detailOverhoursVOList[index],'tdadNclose', $event.target)"></i-input>
              <span v-else>{{ row.tdadNclose | toTime }}</span>
            </template>

            <template slot-scope="{ row ,index}" slot="tdadNdeleteflg" v-if="!bFixed">
              <i-button type="error" ghost size="small" class="width100" @click="delOverWork(row)">削除</i-button>
            </template>
          </i-table>
        </div>
        <Spin size="large" fix v-if="dailyloading"></Spin>
      </div>
    </Drawer>
    <back-top></back-top>
  </main>
  <div th:replace="layout/mobileHeader::header"></div>
  <script th:src="${baseUrl + '/static/compliedjs/index.js?t='+ now}">
  </script>
</body>

</html>