<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='予定確認',cssPaths='/pages/mobile.min.css')"></head>

<body>
  <style>
    .title-timerange {
      font-size: 14px
    }

    @media (max-height: 600px) {
      .title-timerange {
        font-size: 12px
      }
    }
  </style>
  <div th:replace="layout/loadingBar::loadingBar"></div>
  <main class="content mobile-warp">
    <div class="content_head">
      <div class="header">
        <div class="title1">
          <h1>予定確認</h1>
        </div>
      </div>
      <div class="searchwrap">
        <span class="label">年月</span>
        <i-select v-model="defaultDate" style="flex: 1;" @on-change="handleStartMonth($event)" placeholder="選択ください">
            <i-option v-for="(item, index) of dispMonthlyList" :key="index" :label="item.tda_dyyyymm" :value="item.tda_dyyyymm">
            </i-option>
        </i-select>
    </div>
    </div>
    <div class="content_body" style="position: relative">
      <i-table :class="tableHeadFixed ? 'table-head-fixed long-table' : 'long-table'" :columns="columns" border
        :disabled-hover="true" :data="scheduleDataDTOList" :loading="loading">
        <template slot-scope="{ row }" slot="week">
          <span :class="dayRed(row)">{{ row.tda_nmmday }}</span>
        </template>

        <template slot-scope="{ row }" slot="intDay">
          <span :class="dayRed(row)">{{ row.tda_nmmdd }}</span>
        </template>

        <template slot-scope="{ row }" slot="workDivision">
          <span :class="dayRed(row)">{{ row.tda_cworkingid_mm }}</span>
        </template>

        <template slot-scope="{ row }" slot="workFar">
          <span>{{ row.tda_cbusinesstripid_mm=='なし'?'':row.tda_cbusinesstripid_mm }}</span>
        </template>

        <template slot-scope="{ row}" slot="workStartFinal">
          <span>{{row.tda_nopen_p }}</span>
        </template>

        <template slot-scope="{ row }" slot="workEndFinal">
          <span>{{ row.tda_nclose_p}}</span>
        </template>

        <template slot-scope="{ row }" slot="restTimeList">
          <Tooltip trigger="click"　theme="light" placement="left" transfer>
            <i-button type="primary" ghost icon="md-alarm" size="small" v-if="row.timerange_arr.length > 0"></i-button>
            <div slot="content">
                <div class="mt2" v-for="(item,i) of row.timerange_arr">{{item.NOPEN |handleTime }}-{{item.NCLOSE | handleTime}}</div>
            </div>
          </Tooltip >
        </template>

        <template slot-scope="{ row }" slot="remark">
          <span>{{ row.tda_ccomment_p }}</span>
        </template>
      </i-table>
    </div>

    <back-top></back-top>
  </main>
  <div th:replace="layout/mobileHeader::header"></div>

</body>
<script type="text/babel" th:inline="javascript">
  new Vue({
      el: '.mobile-warp',
      data() {
          return {
              defaultDate: '', //年月选择（Date）
              dispMonthlyList: [],       //年月リスト
              hatuReiName:'',
              hatuResTimeRange:'',
              today:Utils.formatDate(new Date(),'YYYY/MM/DD'),
              scheduleDataDTOList:[],
              yyyyMMdd:'',
              paidHolidayVO:{},
              selectScheduleInfo:{},
              loading: false,　       //ローディングアクション
              index: 0,
              contentScrollTop: 0,
              kanjiName: [[${ session.psSession.loginKanjiName }]],　　 //ログインしたユーザの氏名
              loginEmployee: [[${ session.psSession.loginEmployee }]],  //ログインしたユーザの職員番号
              sectionName: [[${ session.psSession.loginDesignation[0].sectionName }]],　 //ログインしたユーザの所属
              query: {
                  employeeId: [[${ session.psSession.loginEmployee }]],　 //組織ツリーで選択した職員番号
                  psSite: Utils.getUrlParam(location.href, 'psSite'),
                  psApp: Utils.getUrlParam(location.href,'psApp'),
                  txtBaseDate:'',
                  txtEndDate:'',
              }
          }
      },
      async mounted() {
          this.selectScheduleDateList()
          window.addEventListener('scroll',this.handleScroll,{ passive: true })
      },
      beforeDestroy() {
          window.removeEventListener('scroll',this.handleScroll,{ passive: true })
      },
      computed: {
          tableHeadFixed() {
              if (this.contentScrollTop > 300) return true
              else return false
          },
          columns() {
              return [
          {
            title: '曜日',
            slot: 'week',
            width: 35,
            align: 'center'
          },
          {
            title: '日',
            slot: 'intDay',
            minWidth: 50,
            align: 'center'
          },
          {
            title: '区分',
            minWidth: 60,
            slot: 'workDivision',
            align: 'center'
          },
          {
            title: '始業',
            align: 'center',
            minWidth: 50,
            maxWidth: 60,
            slot: 'workStartFinal'
          },
          {
            title: '終業',
            minWidth: 50,
            maxWidth: 60,
            slot: 'workEndFinal',
            align: 'center'
          },
          {
            title: '休憩',
            className: 'checkin change-line',
            width: 60,
            slot: 'restTimeList',
            align: 'center'
          },
        ]
          }
      },
      methods: {
          async getSelectScheduleInfo() {
              this.loading=true
              try {
                  const { data } = await this.http.get(`sys/schedule/selectScheduleInfo`, this.query)
                  this.selectScheduleInfo=data
                  this.paidHolidayVO=this.selectScheduleInfo.paidHolidayVO
                  this.scheduleDataDTOList=this.selectScheduleInfo.scheduleDataDTOList
                  this.yyyyMMdd=this.selectScheduleInfo.period
              } catch (error) {
                  return
              } finally {
                  this.loading = false
              }
          },
          async selectScheduleDateList() {
              try {
                  const query = {
                      employeeId:this.query.employeeId,
                      psSite:this.query.psSite,
                      psApp:this.query.psApp,
                      baseDate:Utils.formatDate(new Date(),'YYYY-MM-DD')
                  }
                  const {data}=await  this.http.get(`sys/schedule/selectScheduleDateList`,query)
                  this.dispMonthlyList = data
                  this.defaultDate=this.dispMonthlyList[0].tda_dyyyymm
                  this.query.txtBaseDate=this.dispMonthlyList[0].tda_firstDay
                  this.query.txtEndDate=this.dispMonthlyList[0].tda_endDay
                  await this.getSelectScheduleInfo()
                  this.getHatuRei()
              } catch (error) {
                  return
              }
          },
          async handleStartMonth(e) {
              let select=this.dispMonthlyList.find(item=> item.tda_dyyyymm==e )
              this.query.txtBaseDate=select.tda_firstDay
              this.query.txtEndDate=select.tda_endDay

              await this.getSelectScheduleInfo()
          },
          dayRed(e) {
              const dayOfWeek = e.holflgCalendar
              if (!dayOfWeek) {
                  return
              }
              if (dayOfWeek.trim() != 'TMG_HOLFLG|0') {
                  return 'blue'
              }
              if (e.tda_ccustomerid == this.today) {
                  return 'brown'
              }
          },
          async getHatuRei() {
              try {
                  let txtBaseDate= this.yyyyMMdd.split('～')[0].replace(/(.+?)\年(.+?)\月(.+)\日/,"$1/$2/$3")
                  const query = {txtBaseDate:txtBaseDate}
                  const { data } =  await this.http.get(`sys/schedule/hatuRei`, query)
                  this.hatuReiName=data.name
                  this.hatuResTimeRange=data.timerange
              } catch (error) {
                  return
              }finally {

              }
          },

          handleScroll: Throttle(function(e) {
              this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
          }, 50)
      }
  })
</script>

</html>