<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head
        th:replace="layout/header::common_header(title='就業登録',cssPaths='/pages/content.min.css,' + '/pages/vacation.min.css')">
</head>

<body>
<div th:replace="layout/loadingBar::loadingBar"></div>
<main class="content monthWorkConfirm-warp" @scroll.passive="handleScroll" ref="layout">
    <div class="content_head">
        <div class="header">
            <div class="title1">
                <h1>
                    <Icon type="i-emeer colored"></Icon>
                    就業登録
                </h1>
            </div>
            <div class="btnbox">
                <span style="flex:1"></span>
                <p class="pr15" style="height: 40px;line-height: 45px;font-size: 16px;font-weight: bold;">
                    {{ `現在の承認状況： ${isConfirm==="TMG_DATASTATUS|5" ? '承認済' : '未承認'}` }}
                </p>
            </div>
        </div>
        <div class="searchwrap">
            <span class="label">年月</span>
            <i-select v-model="model1" :disabled="!selectDisabled" class="mr30" @on-change="handleStartMonth($event)"
                      placeholder="選択ください">
                <i-option v-for="(item, index) of dispMonthlyList" :key="index" :label="item.val" :value="item.code">
                </i-option>
            </i-select>
        </div>
    </div>
    <div class="content_body">

        <div class="titlenorm mb10 " style="font-size:15px">
            <Icon type="logo-buffer"></Icon>
            就業実績
        </div>
        <div class="month-sum tl">

            <div class="son" v-for="(item, i) of monthlyTilteMapList" :key="i">
                <span class="label-monthSum">{{item.title | turnLine}}</span>
                <span class="num">{{monthlyMap[item.key]}}</span>
            </div>

        </div>
        <i-table :class="tableHeadFixed ? 'table-head-fixed long-table' : 'long-table'"
                 @on-row-click="showDay(arguments)" border :columns="columns"
                 :row-class-name="rowClass" :disabled-hover="true" :data="dailyDataList" :loading="loading"
                 no-data-text="データを読み込み中…">
            <template slot-scope="{ row }" slot="TDA_DYYYYMMDD_DD">
                <span :class="dayRed(row)">{{ row.TDA_DYYYYMMDD_DD }}</span>
            </template>
            <template slot-scope="{ row }" slot="TDA_DYYYYMMDD_DY">
                <span :class="dayRed(row)">{{ row.TDA_DYYYYMMDD_DY }}</span>
            </template>
            <template slot-scope="{ row }" slot="TDA_CWORKINGID_R_NAME">
                <span :class="dayRed(row)">{{ row.TDA_CWORKINGID_R_NAME }}</span>
            </template>
            <template slot-scope="{ row }" slot="TDA_CSTATUSFLG_NAME">
                <span v-if="row.TDA_CSTATUSFLG_NAME === '待'" class="confirm-sytle ing">待</span>
                <span v-if="row.TDA_CSTATUSFLG_NAME === '済'" class="confirm-sytle">済</span>
                <span v-if="row.TDA_CSTATUSFLG_NAME === 'エ'" class="confirm-sytle undo">エ</span>
            </template>
            <template slot-scope="{ row }" slot="TDA_CNTFSTATUSFLG_NAME">
                <span v-if="row.TDA_CNTFSTATUSFLG_NAME === '待'" class="confirm-sytle ing">待</span>
                <span v-if="row.TDA_CNTFSTATUSFLG_NAME === '済'" class="confirm-sytle">済</span>
                <span v-if="row.TDA_CNTFSTATUSFLG_NAME === 'エ'" class="confirm-sytle undo">エ</span>
            </template>
        </i-table>
    </div>

    <!--日次就業実績-->
    <Drawer :title="title" width="800" v-model="isShow" @on-close="handleClose()" draggable>
        <div class="content_body">
            <Alert type="error" class="error-info" v-show="errorFlag">{{ errorMsg }}</Alert>
            <Row class="mb15 tr">
                <i-col span="6" offset="15">
                    <i-button type="primary" ghost class="mr15" v-if="!bFixed" @click="updateInp">コメントのみ登録</i-button>
                </i-col>
                <i-col span="3">
                    <i-button type="primary" ghost v-if="!bFixed">登録</i-button>
                </i-col>
            </Row>
            <div class="titlenorm mb10">
                <Icon type="logo-buffer"></Icon>
                就業実績
            </div>
            <div style="position: relative;">
                <Row>
                    <i-col span="8" class="label tc">就業区分</i-col>
                    <i-col span="8" class="no-border-radius">
                        <i-select v-model="workingId" class="mr30" @on-change=""
                                  v-if="((!bHoliday && !bFixed) || ( isEdiTableResult4Inp && !bFixed))">
                            <i-option v-for="(item, index) of workingIdList" :key="index"
                                      :label="item.mgdCgenericdetaildesc" 　:value="item.mgdCmastercode">
                            </i-option>
                        </i-select>
                        <p v-else align="center">{{dailyEdit.tdaCworkingidRName}}</p>
                    </i-col>
                </Row>
                <Row>
                    <i-col span="8" class="label tc">出張</i-col>
                    <i-col span="8" class="no-border-radius">
                        <i-select v-model="businessTrip" class="mr30" @on-change="" v-if="(!bHoliday && !bFixed)">
                            <i-option v-for="(item, index) of businessTripList" :key="index"
                                      :label="item.mgdCgenericdetaildesc" 　:value="item.mgdCmastercode">
                            </i-option>
                        </i-select>
                        <p v-else align="center">{{dailyEdit.tdaCbusinesstripidRName}}</p>
                    </i-col>

                </Row>
                <i-table :columns="columnsWork" :data="workData">
                    <template slot-scope="{ row }" slot="workStart">
                        <i-input v-model="row.workStart" v-if="row.isInput" text-align="center;"></i-input>
                        <span v-else>{{ row.workStart | toTime }}</span>
                    </template>
                    <template slot-scope="{ row }" slot="workEnd">
                        <i-input v-model="row.workEnd" v-if="row.isInput"></i-input>
                        <span v-else>{{ row.workEnd | toTime }}</span>
                    </template>
                </i-table>

                <Row>
                    <i-col span="8" class="label tc">本人コメント</i-col>
                    <i-col span="16">
                        <i-input v-model="dailyEdit.tdaCowncommentR" text-align="center;" v-if="!bFixed"></i-input>
                        <span v-else>{{ dailyEdit.tdaCowncommentR }}</span>
                    </i-col>
                </Row>
                <Row class="mb5">
                    <i-col span="8" class="label tc">承認者コメント</i-col>
                    <i-col span="16">
                        <i-input v-model="dailyEdit.tdaCbosscommentR" text-align="center;"></i-input>
                        <span v-else>{{ row.workEnd | toTime }}</span>
                    </i-col>
                </Row>
                <Spin size="large" fix v-if="workDataLoading"></Spin>
            </div>


            <!-- 非勤務 -->
            <div class="titlenorm mb10">
                <Icon type="logo-buffer"></Icon>
                非勤務
            </div>
            <Row class="mb15 tr" v-if=" !bHoliday && !bFixed ">
                <i-col span="6" offset="15">
                    <i-select v-model="categoryNonduty" class="mr30" @on-change="categoryNondutyChange()">
                        <i-option v-for="(item, index) of categoryNondutyList" :key="index" :label="item.itemName"
                                  　:value="item.itemCode">
                        </i-option>
                    </i-select>
                </i-col>
                <i-col span="3">
                    <i-button type="primary" ghost @click="addNotWork">追加</i-button>
                </i-col>
            </Row>
            <i-table :columns="columnsNotWork" :data="detailNonDutyVOList" class="mb20"
                     :loading="columnsNotWorkLoading">
                <template slot-scope="{ row }" slot="tdadNopen">
                    <i-input v-model="row.tdadNopen" v-if="row.isInput && !bFixed"></i-input>
                    <span v-else>{{  row.tdadNopen | toTime  }}</span>
                </template>

                <template slot-scope="{ row }" slot="tdadNclose">
                    <i-input v-model="row.tdadNclose" v-if="row.isInput && !bFixed "></i-input>
                    <span v-else>{{ row.tdadNclose | toTime }}</span>
                </template>

                <template slot-scope="{ row }" slot="tdadCsparechar1">
                    <i-input :value="row.tdadCsparechar1" type="textarea" :autosize="{ maxRows: 3 }"
                             v-if="row.tdadCnotworkid !== 'TMG_ITEMS|ResultRest' && !bFixed "></i-input>
                    <span v-else>{{ row.tdadCsparechar1 | toTime }}</span>
                </template>

                <template slot-scope="{ row }" slot="tdadNdeleteflg" v-if="!bFixed">
                    <i-button type="error" ghost size="small" class="width100" @click="delNotWork(row)">削除</i-button>
                </template>
            </i-table>

            <!-- 超過勤務 -->
            <div class="titlenorm mb10">
                <Icon type="logo-buffer"></Icon>
                超過勤務
            </div>
            <Row class="mb15 tr" v-if="!bHoliday && !bFixed ">

                <i-col span="6" offset="11">
                    <i-select v-model="categoryOverhours" class="mr30" @on-change="">
                        <i-option v-for="(item, index) of categoryOverhoursList" :key="index" :label="item.itemName"
                                  　:value="item.itemCode">
                        </i-option>
                    </i-select>
                </i-col>

                <i-col span="3">
                    <i-button type="primary" ghost @click="addOverWork">追加</i-button>
                </i-col>
                <i-col span="4">
                    <i-button type="primary" ghost>時刻補完</i-button>
                </i-col>
            </Row>

            <i-table :columns="columnsOverWork" :data="detailOverhoursVOList" class="mb20"
                     :loading="columnsOverWorkLoading">
                <template slot-scope="{ row }" slot="tdadNopen">
                    <i-input v-model="row.tdadNopen" v-if="row.isInput && !bFixed"></i-input>
                    <span v-else>{{ row.tdadNopen | toTime }}</span>
                </template>

                <template slot-scope="{ row }" slot="tdadNclose">
                    <i-input v-model="row.tdadNclose" v-if="row.isInput &&  !bFixed"></i-input>
                    <span v-else>{{ row.tdadNclose | toTime }}</span>
                </template>

                <template slot-scope="{ row }" slot="tdadCsparechar1">
                    <i-input v-model="row.tdadCsparechar1" type="textarea" :autosize="{ maxRows: 3 }"
                             v-if="!bFixed"></i-input>
                    <span v-else>{{ row.tdadCsparechar1}}</span>
                </template>

                <template slot-scope="{ row }" slot="tdadNdeleteflg" v-if="!bFixed">
                    <i-button type="error" ghost size="small" class="width100" @click="delOverWork(row)">削除</i-button>
                </template>
            </i-table>

            <div class="titlenorm mb10">
                <Icon type="logo-buffer"></Icon>
                更新履歴
            </div>
            <i-table :columns="columnsDailyLog" :data="dailyLog" class="mb20">

            </i-table>
        </div>
    </Drawer>
    <span class="toTopBtn" @click="toTop" v-show="isScroll">
            <Icon size="24" type="md-arrow-round-up"/>
    </span>
</main>
<div th:replace="layout/script::common_script"></div>
<script type="text/babel" th:inline="javascript">
    const WORK_YEAR_SCHEDULE = new Vue({
        // 特别注意要对上这个class
        el: '.monthWorkConfirm-warp',
        data() {
            return {
                contentScrollTop: 0,
                isScroll: false,

                selectDisabled: false,   　//年月選択可否制御
                dispMonthlyList: [],       //年月リスト
                model1: '',
                targetUser: '',
                monthlyTilteMapList: [],
                monthlyMap: [],
                columns: [],
                dailyDataList: [],
                data: [],
                loading: false,
                query: {
                    txtAction: 'ACT_DISP_RMONTHLY',
                    txtDYYYYMM: '2020/04/01',
                    txtDYYYYMMDD: '',
                    today: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp')
                },
                actEditinpUcommentQuery: {
                    txtAction: 'ACT_EDITINP_UCOMMENT',
                    holiday: false,
                    txtTdaNopenR: '',
                    txtTdaNcloseR: '',
                    workingId: '',
                    selMgdCbusinessTrip: '',
                    txtDYYYYMMDD: '',
                    tdaCowncommentR: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp')
                },
                actEditinpUcommentQuery: {
                    txtAction: 'ACT_EDITINP_UCOMMENT',
                    holiday: false,
                    txtTdaNopenR: '',
                    txtTdaNcloseR: '',
                    workingId: '',
                    selMgdCbusinessTrip: '',
                    txtDYYYYMMDD: '',
                    tdaCowncommentR: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp')
                },
                workingId: '',
                workingIdList: [],
                businessTrip: '',
                businessTripList: [],
                categoryNonduty: '',
                categoryNondutyName: '',
                categoryNondutyList: [],
                categoryOverhours: '',
                categoryOverhoursName: '',
                categoryOverhoursList: [],
                dailyEdit: {
                    noOvertimeDaysMsg: '',
                    ntime: '',
                    tdaCbosscommentR: '',
                    tdaCbusinesstripidR: '',
                    tdaCbusinesstripidRName: '',
                    tdaCcommentO: '',
                    tdaCerrcode: '',
                    tdaCmodifieruseridR: '',
                    tdaCowncommentR: '',
                    tdaCstatusflg: '',
                    tdaCworkingidR: '',
                    tdaCworkingidRBame: '',
                    tdaDmodifieddateR: '',
                    tdaDyyyymmdd: '',
                    tdaDyyyymmddDy: '',
                    tdaNcloseN: '',
                    tdaNcloseO: '',
                    tdaNcloseP: '',
                    tdaNclosePAtRest45: '',
                    tdaNcloseR: '',
                    tdaNcloseRHidden: '',
                    tdaNcloseTp: '',
                    tdaNopenN: '',
                    tdaNopenO: '',
                    tdaNopenP: '',
                    tdaNopenR: '',
                    tdaNopenRHidden: '',
                    tdaNopenTp: '',
                    tdaNrest45P: '',
                    tdaNrestcloseR: '',
                    tdaNrestopenR: ''
                },

                isShow: false,
                title: {
                    type: String,
                    default: ''
                },
                width: {
                    type: [String, Number],
                    default: 650
                },
                isAdmin: {
                    type: Boolean,
                    default: false
                },
                errorFlag: false,
                errorMsg: '',
                columnsWork: [
                    {
                        title: '勤務時間',
                        align: 'center',
                        key: 'workTime'
                    },
                    {
                        title: '始業',
                        slot: 'workStart',
                        align: 'center'
                    },
                    {
                        title: '終業',
                        slot: 'workEnd',
                        align: 'center'
                    }
                ],
                columnsNotWork: [
                    {
                        title: '内容',
                        align: 'center',
                        width: '120',
                        key: 'itemName'
                    },
                    {
                        title: '開始時刻',
                        width: '80',
                        slot: 'tdadNopen',
                        align: 'center'
                    },
                    {
                        title: '終了時刻',
                        slot: 'tdadNclose',
                        width: '80',
                        align: 'center'
                    },
                    {
                        title: '備考',
                        slot: 'tdadCsparechar1',
                        align: 'center'
                    },
                    {
                        title: '削除',
                        slot: 'tdadNdeleteflg',
                        width: '80',
                        align: 'center'
                    }
                ],
                detailNonDutyVOList: [],
                columnsOverWork: [
                    {
                        title: '内容',
                        align: 'center',
                        width: '120',
                        key: 'itemName'
                    },
                    {
                        title: '開始時刻',
                        width: '80',
                        slot: 'tdadNopen',
                        align: 'center'
                    },
                    {
                        title: '終了時刻',
                        slot: 'tdadNclose',
                        width: '80',
                        align: 'center'
                    },
                    {
                        title: '用務内容',
                        slot: 'tdadCsparechar1',
                        align: 'center'
                    },
                    {
                        title: '状態',
                        key: 'tdadCsparechar2Name',
                        align: 'center'
                    },
                    {
                        title: '削除',
                        slot: 'tdadNdeleteflg',
                        width: '80',
                        align: 'center'
                    }
                ],
                detailOverhoursVOList: [],
                columnsDailyLog: [
                    {
                        title: '更新者',
                        key: 'cmodifierusernm',
                        width: '120'
                    },
                    {
                        title: '更新日時',
                        key: 'dmodifieddate',
                        width: '140',
                        align: 'center'
                    },
                    {
                        title: '画面',
                        key: 'cmodifierprogramnm',
                        width: '100',
                        align: 'center'

                    },
                    {
                        title: '操作',
                        key: 'cactionnm',
                        width: '130',
                        align: 'center'
                    },
                    {
                        title: '更新内容',
                        key: 'cchangelogstr'
                    }
                ],
                dailyLog: [],
                notWorkType: 1,
                dailyData: {},
                workData0: [],
                workDataLoading: false,
                columnsNotWorkLoading: false,
                columnsOverWorkLoading: false,
                bHoliday: false,
                bFixed: false,
                isEdiTableResult4Inp: false,
                isCommonDiscretionaryLabor: false,

                txtDYYYYMMDD: '',
                index: 0,
                isConfirm: false,
                comment: ''

            }
        },
        async mounted() {
            this.init()
        },
        created() {
            console.log(this.monthlyTilteMapList)
            console.log(this.monthlyMap)
        },
        computed: {
            tableHeadFixed() {
                if (this.contentScrollTop > 310) return true
                else return false
            },
            workData() {

                let result = [
                    {
                        workTime: '予定時間',
                        workStart: this.dailyEdit.tdaNopenN,
                        workEnd: this.dailyEdit.tdaNcloseN,
                        cellClassName: {
                            workTime: 'sub-title'
                        }
                    },
                    {
                        workTime: '打刻',
                        workStart: this.dailyEdit.tdaNopenTp,
                        workEnd: this.dailyEdit.tdaNcloseTp,
                        cellClassName: {
                            workTime: 'sub-title'
                        }
                    },
                    {
                        workTime: '就業時間',
                        workStart: this.dailyEdit.tdaNopenR,
                        workEnd: this.dailyEdit.tdaNcloseR,
                        isInput: true,
                        cellClassName: {
                            workTime: 'sub-title'
                        }
                    }
                ]
                this.workData0.forEach(e => {
                    result = result.concat(
                        {
                            workTime: e.tdadCnotworkName,
                            workStart: e.tdadNopenHhmi,
                            workEnd: e.tdadNcloseHhmi,
                            cellClassName: {
                                workTime: 'sub-title'
                            }
                        }
                    )
                })


                return result
            },
        },
        methods: {

            handleScroll: Throttle(function (e) {
                this.contentScrollTop = e.target.scrollTop
                if (e.target.scrollTop > 200) {
                    this.isScroll = true
                } else {
                    this.isScroll = false
                }
            }, 50),
            toTop() {
                const animateMachine = requestAnimationFrame(this.toTop)
                this.$refs.layout.scrollTop = this.$refs.layout.scrollTop - this.$refs.layout.scrollTop / 5
                if (this.$refs.layout.scrollTop === 0) {
                    cancelAnimationFrame(animateMachine)
                }
            },
            async init() {

                try {
                    // 今日日付取得
                    // 勤務年月一覧取得
                    await this.getWorkDateList()
                    await this.monthAndDaily()

                } catch (error) {
                    return
                } finally {
                    this.loading = false

                }
            },
            // 今日日付取得
            async getToDay() {
                this.query.txtAction = 'ACT_DISP_RMONTHLY'
                const {data} = await this.http.get('sys/tmgResults/getToday', this.query)

            },
            // 勤務年月一覧取得
            async getWorkDateList() {
                this.query.txtAction = 'ACT_DISP_RMONTHLY'
                this.loading = false
                const {data} = await this.http.get('sys/tmgResults/workDateList', this.query)

                this.query.today = data.today.today
                this.dispMonthlyList = data.monthLy
                console.log(this.dispMonthlyList)

                if (data.monthLy.length > 0) {
                    this.model1 = this.dispMonthlyList[0].code
                    this.query.txtDYYYYMM = this.model1

                    //年月リストを取得する時に、活性化にする
                    this.selectDisabled = true
                }

                //年月リスト.lengthがゼロ場合、非活性化にする
                if (data.monthLy.length === 0) {
                    this.model1 = ''
                    this.selectDisabled = false
                }
            },
            // 年月選択
            async handleStartMonth(e) {
                this.query.txtAction = 'ACT_DISP_RMONTHLY'
                this.query.txtDYYYYMM = e
                this.query.txtDYYYYMMDD = this.query.today
                this.loading = true
                // 就業実績 --月次・日次実績
                await this.getTitleData()

                this.loading = false
            },
            //就業実績（月次・日次）
            async monthAndDaily() {
                this.query.txtAction = 'ACT_DISP_RMONTHLY'
                this.query.txtDYYYYMM = this.model1
                this.query.txtDYYYYMMDD = this.query.today
                this.loading = true
                // 就業実績 --月次・日次実績
                await this.getTitleData()
                this.loading = false
            },
            // 就業実績のタイトルとデータを取得
            async getTitleData() {
                this.query.txtAction = 'ACT_EDITINP_RDAILY'
                this.monthlyMap = ''
                this.dailyDataList = []
                const {data} = await this.http.get('sys/tmgResults/getTitleData', this.query)

                this.monthlyTilteMapList = data.monthlyTilteMapList
                this.monthlyMap = data.monthlyDateMap
                this.isConfirm = data.monthlyTilteMapList.TMO_CSTATUSFLG

                console.log(data)

                this.columns = data.dailyTittleMapList.map(e => {
                    return {
                        ...e,
                        title: e.title.replace(TURN_LINE_STR, '\n')
                    }
                })

                this.dailyDataList = data.dailyMapList

            },
            //一覧から日次実績をクリックする
            async showDay(e) {

                // 就業登録画面項目クリアする
                this.categoryNonduty = ''
                this.categoryOverhours = ''
                this.dailyEdit = []
                this.workData0 = []
                this.detailNonDutyVOList = []
                this.detailOverhoursVOList = []
                this.title = e[0].TDA_DYYYYMMDD + '(' + e[0].TDA_DYYYYMMDD_DY + ')'
                this.query.txtDYYYYMMDD = e[0].TDA_DYYYYMMDD
                this.txtDYYYYMMDD = e[0].TDA_DYYYYMMDD
                this.query.txtAction = 'ACT_EDITINP_RDAILY'
                this.bFixed = false
                this.bHoliday = false

                // 業登録画面表示
                this.isShow = true

                // 業登録画面データ取得
                await this.dailyDetail()

            },

            // 就業登録画面情報取得・設定する
            async dailyDetail() {

                this.workDataLoading = true
                // 画面情報取得
                const {data} = await this.http.get('sys/tmgResults/dailyDetail', this.query)
                this.workDataLoading = false

                // 就業区分ドロップダウン
                this.workingIdList = data.workIdList
                // this.workingId = this.workingIdList[0].mgdCmastercode

                // 出張ドロップダウン
                this.businessTripList = data.businessTripList
                // this.businessTrip = this.businessTripList[0].mgdCmastercode

                // 非勤務ドロップダウン
                this.categoryNondutyList = data.categoryNondutyList
                this.categoryNonduty = this.categoryNondutyList[0].itemCode

                // 超過勤務ドロップダウン
                this.categoryOverhoursList = data.categoryOverhoursList
                this.categoryOverhours = this.categoryOverhoursList[0].itemCode

                // 詳細:欠勤離籍以外
                this.workData0 = data.dailyDetail0List

                // 就業実績
                this.dailyEdit = data.dailyEditVO

                // 登録ボタンとコメントのみ登録ボタンの表示制御
                this.bFixed = !data.isEditable
                if (data.workIdList.length < 2) {
                    this.bHoliday = true
                }

                //就業入力サイトでの就業実績編集機能を使用するか判定し値を返却します
                this.isEdiTableResult4Inp = data.isEdiTableResult4Inp
                this.isCommonDiscretionaryLabor = data.isCommonDiscretionaryLabor

                if (this.dailyEdit.tdaNopenTp === null) {
                    this.dailyEdit.tdaNopenTp = '---'
                }
                if (this.dailyEdit.tdaNcloseTp === null) {
                    this.dailyEdit.tdaNcloseTp = '---'
                }
                if (!this.isCommonDiscretionaryLabor) {
                    this.dailyEdit.tdaNopenN = '---'
                    this.dailyEdit.tdaNcloseTp = '---'
                }

                this.workingId = this.dailyEdit.tdaCworkingidR
                this.businessTrip = this.dailyEdit.tdaCbusinesstripidR
                // this.title = this.dailyEdit.tdaDyyyymmddDy

                // 非勤務
                this.detailNonDutyVOList = data.detailNonDutyVOList
                // 超過勤務
                this.detailOverhoursVOList = data.detailOverhoursVOList
                //
                const turnLine = Vue.filter('turnLine');
                this.dailyLog = data.columnsDailyLog.map(e => {
                    return {
                        ...e,
                        cchangelogstr: turnLine(e.cchangelogstr)

                    }
                })

            },


            handleClose() {
                this.errorFlag = false
                this.isShow = false
                this.$emit('close')
            },
            addOverWork() {
                this.detailOverhoursVOList.push({
                    itemName: '超過勤務',
                    tdadNopen: '',
                    tdadNclose: '',
                    tdadSeq: Date.now(),
                    isInput: true,
                    tdadCsparechar1: '',
                    tdadCsparechar2Name: ''
                })
            },
            addNotWork() {
                if (this.categoryNonduty === 'TMG_ITEMS|ResultRest') {
                    this.detailNonDutyVOList.push({
                        itemName: '休憩',
                        tdadNopen: '',
                        tdadNclose: '',
                        tdadSeq: Date.now(),
                        isInput: true,
                        tdadCsparechar1: '',
                        tdadCnotworkid: this.categoryNonduty
                    })
                } else if (this.categoryNonduty === 'TMG_ITEMS|Interruption') {
                    this.detailNonDutyVOList.push({
                        itemName: '中断',
                        tdadNopen: '',
                        tdadNclose: '',
                        tdadSeq: Date.now(),
                        isInput: true,
                        tdadCsparechar1: '',
                        tdadCnotworkid: this.categoryNonduty
                    })
                } else {
                    this.detailNonDutyVOList.push({
                        itemName: '欠勤',
                        tdadNopen: '',
                        tdadNclose: '',
                        tdadSeq: Date.now(),
                        isInput: true,
                        tdadCsparechar1: '',
                        tdadCnotworkid: this.categoryNonduty
                    })
                }
            },
            delNotWork(row) {
                this.detailNonDutyVOList = this.detailNonDutyVOList.filter(e => e.tdadSeq !== row.tdadSeq)
            },
            delOverWork(row) {
                this.detailOverhoursVOList = this.detailOverhoursVOList.filter(e => e.tdadSeq !== row.tdadSeq)
            },
            //コメントのみ登録
            updateInp: Debounce(function () {
                this.actEditinpUcommentQuery.txtAction = 'ACT_EDITINP_UCOMMENT'
                this.actEditinpUcommentQuery.holiday = this.bHoliday
                this.actEditinpUcommentQuery.workingId = this.workingId
                this.actEditinpUcommentQuery.txtDYYYYMMDD = this.txtDYYYYMMDD
                this.actEditinpUcommentQuery.selMgdCbusinessTrip = this.businessTrip
                //TODO 就業時間の取得方法再確認必要です
                this.actEditinpUcommentQuery.txtTdaNopenR = this.dailyEdit.tdaNopenR
                this.actEditinpUcommentQuery.txtTdaNcloseR = this.dailyEdit.tdaNcloseR
                this.actEditinpUcommentQuery.tdaCowncommentR = this.dailyEdit.tdaCowncommentR

                console.log(this.detailNonDutyVOList)
                console.log(this.detailOverhoursVOList)

                this.http.get('sys/tmgResults/updateInp', this.actEditinpUcommentQuery)
                this.isShow = false

            }),
            //登録
            updateDaily: Debounce(function () {
                this.actEditinpUcommentQuery.txtAction = 'ACT_EDITINP_UCOMMENT'
                this.actEditinpUcommentQuery.holiday = this.bHoliday
                this.actEditinpUcommentQuery.workingId = this.workingId
                this.actEditinpUcommentQuery.txtDYYYYMMDD = this.txtDYYYYMMDD
                this.actEditinpUcommentQuery.selMgdCbusinessTrip = this.businessTrip
                //TODO 就業時間の取得方法再確認必要です
                this.actEditinpUcommentQuery.txtTdaNopenR = this.dailyEdit.tdaNopenR
                this.actEditinpUcommentQuery.txtTdaNcloseR = this.dailyEdit.tdaNcloseR
                this.actEditinpUcommentQuery.tdaCowncommentR = this.dailyEdit.tdaCowncommentR

                this.http.get('sys/tmgResults/updateInp', this.actEditinpUcommentQuery)
                this.isShow = false

            }),
            categoryNondutyChange(){
                console.log(this.categoryNonduty)

            },


            // handleSpan({rowIndex, columnIndex}) {
            //     if (rowIndex === 3 && columnIndex === 1) {
            //         return [1, 2]
            //     } else if (rowIndex === 4 && columnIndex === 1) {
            //         return [1, 2]
            //     }
            // },
            //登録画面/////////////////////////////////////////////////////////////////

            handleDatePicker() {
            },
            rowClass(row) {
                // 不可点击得时候，表格变色
                // if (!row.memberDivisionCode || (!this.isEmployer && this.monthConfirmFlag)) {
                //   if (row.dayDivisionCode === '4') {
                //     return 'sun'
                //   }
                //   // 第一条避免错误数据被染上sat色
                //   if (row.dayDivisionCode && row.dayDivisionCode !== '1') {
                //     return 'sat'
                //   }
                //   return ''
                // }
                // 可点击得时候，表格变色
                if (row.today) {
                    return 'select-col sun'
                }
                if (!row.dayDivisionCode || row.dayDivisionCode === '1') {
                    return 'select-col'
                }
                return 'select-col sat'
            },
            dayRed(e) {
                const dayOfWeek = e.TDA_DYYYYMMDD_DY
                if (!dayOfWeek) {
                    return
                }
                if (dayOfWeek.trim() === '土' || dayOfWeek.trim() === '日') {
                    return 'blue'
                }
                if (e.today) {
                    return 'brown'
                }
            }
        }
    })
</script>
</body>


</html>