<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='掲示板',cssPaths='/pages/content.min.css')">
</head>

<body th:with="baseUrl = ${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath()}">
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <!-- 菜单导航栏 -->
    <div th:replace="layout/sider"></div>
    <link th:href="${baseUrl + '/static/libs/quill.snow.css?t='+ new java.util.Date().getTime()}" rel="stylesheet">
    <style>
        .emoji-poptip .ivu-poptip-body {
            height: 500px;
            width: 300px;
            overflow-y: scroll;
        }
        .emoji {
            display:inline-block;
            width: 30px;
            height: 30px;
            font-size: 20px;
        }
        .emoji:hover {
            cursor: pointer;
            background: var(--light-input-border-grey);
            border-radius:50%;
            transform: scale(1.2);
        }
    </style>
    <main class="content protosettings-warp" ref="layout">
        <div class="content_head">
            <div class="header">
                <div class="title1">
                    <h1>
                        <Icon type="i-emeer colored"></Icon>
                        {{ `掲示板` }}
                    </h1>
                </div>
                <div class="btnbox">
                    <span style="flex:1"></span>
                    <i-button type="success" icon="md-done-all" @click="getQuill" :loading="editLoading">登録</i-button>
                </div>
            </div>
            <div class="searchwrap">
                <span class="label">掲示範囲</span>
                <i-select v-model="searchRange" class="mr30" style="width: 25%;" multiple  @on-change="getPeopleBySelection">
                    <i-option v-for="(item, index) of rangeList" :key="index" :label="item.typeName" :value="item.typeId">
                    </i-option>
                </i-select>
                <!-- <span class="label">所属</span>
                <span class="input-like-span width15">
                    <Tooltip transfer　v-if="sectionName"trigger="hover" 　:theme="toolTipTheme()">{{ sectionName }}
                        <div slot="content">{{ sectionName }}</div>
                    </Tooltip>
                </span> -->
            </div>
        </div>
        <div class="content_body">
            <Alert v-show="hasChange" class="error-info tl">情報が変更されています。 登録ボタンで登録処理を行なってください。</Alert>
            <!-- <div class="table-top">
            <Row :gutter="16">
              <i-col span="24" class="tr">
              </i-col>
            </Row>
          </div> -->
            <!-- <i-table border :class="tableHeadFixed ? 'table-head-fixed no-padding' : 'no-padding'"
            :row-class-name="() => 'select-col'" :columns="columns" :disabled-hover="true" :data="tableData"
            :loading="loading" ref="table">
          </i-table> -->
            <Row :gutter="16">
                <i-col span="12">
                    <div id="toolbar">
                        <span class="ql-formats">
                            <button class="ql-bold"></button>
                            <button class="ql-italic"></button>
                            <button class="ql-underline"></button>
                            <button class="ql-strike"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-script" value="sub"></button>
                            <button class="ql-script" value="super"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-indent" value="-1"></button>
                            <button class="ql-indent" value="+1"></button>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-clean"></button>
                            <button class="ql-undo"></button>
                            <button class="ql-redo"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-color">
                                <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"/>
                                <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"/>
                                <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"/>
                                <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"/>
                                <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"/>
                                <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"/>
                                <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"/>
                                <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"/>
                                <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"/>
                                <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"/>
                                <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"/>
                                <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"/>
                                <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"/>
                                <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"/>
                                <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"/>
                                <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"/>
                                <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"/>
                                <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"/>
                                <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"/>
                                <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"/>
                                <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"/>
                                <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"/>
                                <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"/>
                                <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"/>
                                <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"/>
                                <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"/>
                                <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"/>
                                <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"/>
                                <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"/>
                                <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"/>
                                <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"/>
                                <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"/>
                                <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"/>
                                <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"/>
                            </select>
                            <select class="ql-background">
                              <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"/>
                              <option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"/>
                              <option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"/>
                              <option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"/>
                              <option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"/>
                              <option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"/>
                              <option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"/>
                              <option value="rgb(255, 255, 255)" label="rgb(255, 255, 255)"/>
                              <option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"/>
                              <option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"/>
                              <option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"/>
                              <option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"/>
                              <option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"/>
                              <option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"/>
                              <option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"/>
                              <option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"/>
                              <option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"/>
                              <option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"/>
                              <option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"/>
                              <option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"/>
                              <option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"/>
                              <option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"/>
                              <option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"/>
                              <option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"/>
                              <option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"/>
                              <option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"/>
                              <option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"/>
                              <option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"/>
                              <option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"/>
                              <option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"/>
                              <option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"/>
                              <option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"/>
                              <option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"/>
                              <option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"/>
                              <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"/>
                            </select>
                        </span>
                        <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-image"></button>
                            <button class="ql-upload"></button>
                        </span>
                        <span class="ql-formats">
                            <select class="ql-size">
                                <option value="14px"></option>
                                <option value="16px"></option>
                                <option value="18px"></option>
                                <option value="22px"></option>
                                <option value="26px"></option>
                                <option value="30px"></option>
                                <option value="36px"></option>
                                <option value="42px"></option>
                              </select>
                        </span>
                        <span class="ql-formats">
                        <Poptip v-model="emojiPop" placement="right-start" class="emoji-poptip">
                          <i-button size="small" icon="md-happy" style="font-size: 18px;" class="ql-emoji"></i-button>
                            <div class="tr" slot="content">
                                <div v-for="(item,category,index) in SM_EMOJI" class="tl">
                                    <div :class="index > 0 ? 'mt5 mb2': 'mb2'" style="font-size: 16px;">{{category}}</div>
                                    <div style="display: flex;flex-wrap: wrap;overflow-y: hidden;">
                                        <!-- display: flex; flex-wrap: wrap; justify-content: space-between; -->
                                        <span v-for="(emoji, emojiName) in item" class="emoji" @click="handleClickEmoji(emoji)">{{ emoji }}</span>
                                    </div>
                                </div>
                            </div>
                        </Poptip>
                        </span>
                      </div>
                    <div ref="editor">
                        <p>Some initial <strong>bold</strong> text</p>
                        <p><br></p>
                    </div>
                </i-col>
                <i-col span="12">
                    <div class="width100" style="    white-space: pre;">{{debugquill}}</div>
                </i-col>
            </Row>
            <Upload :show-upload-list="false" multiple action="/" :before-upload="handleBeforeUpload" style="display: none;">
                <i-button icon="ios-cloud-upload-outline" ref="uploadBtn"></i-button>
              </Upload>
              <i-button @click="uploadNotice">uppppppp</i-button>
        </div>
        <back-top></back-top>
    </main>
    <div th:replace="layout/head::header"></div>
    <script th:src="${baseUrl + '/static/libs/quill.min.js?t='+ new java.util.Date().getTime()}"></script>
    <script th:src="${baseUrl + '/static/js/emoji.js?t='+ new java.util.Date().getTime()}"></script>
    <script>
        var UPLOAD_ICON = '<i class="ivu-icon ivu-icon-md-cloud-upload" style="font-size: 18px;" aria-hidden="true"></i>'
        var UNDO_ICON = '<i class="ivu-icon ivu-icon-ios-undo" style="font-size: 18px;" aria-hidden="true"></i>'
        var REDO_ICON = '<i class="ivu-icon ivu-icon-ios-redo" style="font-size: 18px;" aria-hidden="true"></i>'

    </script>
    <script type="text/babel" th:inline="javascript">
        new Vue({
            el: '.protosettings-warp',
            data() {
                return {
                    isShow: false,
                    loading: true,
                    emojiPop: false,
                    editLoading: false,
                    btnLoading: false,
                    hasChange: false,
                    searchRange:[],
                    defaultOption: false,
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp'),
                    updateValue: {},
                    columns: [
                    ],
                    debugquill: '',
                    tableData: [],
                    uploadFiles:[],
                    rangeList: [],
                    contentScrollTop: 0
                }
            },
            async created() {
                // this.getTableData()
                this.getSelection()
                window.addEventListener('scroll', this.handleScroll, { passive: true })
            },
            beforeDestroy() {
                window.removeEventListener('scroll', this.handleScroll, { passive: true })
            },
            mounted() {
                const Link = Quill.import("formats/link")
                var Embed = Quill.import('blots/embed');
                var icons = Quill.import('ui/icons')
                icons['upload'] = UPLOAD_ICON
                icons["undo"] = UNDO_ICON
                icons["redo"] = REDO_ICON

                // class MyLink extends Link {  // 继承父类
                //   static create(value) {
                //     let node = super.create(value); //调用父类的方法生成node节点
                //     value = this.sanitize(value); // 使用sanitize取出value
                //     //判断是否拥有协议前缀 无则添加默认前缀
                //     if (!(value.indexOf("http://") === 0 || value.indexOf("https://") === 0)) { 
                //       value = "http://" + value;
                //     }
                //     // 设置href属性
                //     node.setAttribute("href", value);
                //     return node;
                //   }
                // }

                // Quill.register(MyLink, true);

                class FileBlot extends Link {  // 继承Link Blot
                    static create(value) {
                        let node = undefined
                        if (value && !value.href) {  // 适应原本的Link Blot
                            node = super.create(value);
                        }
                        else {  // 自定义Link Blot
                            node = super.create(value.href);
                            // node.setAttribute('download', value.innerText);  // 左键点击即下载
                            node.innerText = value.innerText;
                            node.download = value.innerText;
                        }
                        return node;
                    }
                }

                class SPAN extends Embed {
                    static create(paramValue) {
                        let node = super.create();
                        node.innerHTML = paramValue;
                        return node;
                    }

                    static value(node) {
                        return node.innerHTML;
                    }
                }
                SPAN.blotName = 'span';
                SPAN.tagName = 'span';

                FileBlot.blotName = 'link';
                FileBlot.tagName = 'A';
                Quill.register(FileBlot);
                Quill.register(SPAN);

                const that = this
                this.quill = new Quill(this.$refs.editor, {
                    modules: {
                        toolbar: {
                            container: '#toolbar',  // 工具栏
                            handlers: {
                                'image': function (value) {
                                    if (value) {
                                        that.$refs.uploadBtn.$el.click()
                                    } else {
                                        this.quill.format('image', false);
                                    }
                                },
                                'upload': ((value) => {
                                    if (value) {
                                        that.$refs.uploadBtn.$el.click()
                                    }
                                }),
                                redo() {
                                    this.quill.history.redo()
                                },
                                undo() {
                                    this.quill.history.undo()

                                }
                            }
                        },
                        history: {
                            'delay': 2000,
                            maxStack: 500,
                            'userOnly': true
                        },
                    },
                    theme: 'snow'
                });
                // this.quill.enable(false)
                this.quill.on('text-change', (delta, oldDelta, source) => {
                    this.debugquill = this.quill.getContents()
                    // this.debugquill = this.$refs.editor.children[0].innerHTML
                })
                this.quill.on('selection-change', range => {
                    if (!range) {
                        let e = document.querySelector('.ql-tooltip,.ql-editing')
                        if (e) {
                            let left = e.style.left
                            if (left.indexOf('-') === 0) {
                                e.style.left = 0
                            }
                        }
                    } else {

                    }
                })
            },
            computed: {
                tableHeadFixed() {
                    if (this.contentScrollTop > 110) return true
                    else return false
                }
            },
            methods: {
                async getTableData() {
                    // const OPTS = { ...this.opts }
                    // OPTS.psSite = Utils.getUrlParam(location.href, 'psSite')
                    // OPTS.psApp = Utils.getUrlParam(location.href, 'psApp')
                    // Object.keys(OPTS).forEach(key => {
                    //     if (OPTS[key] === '0') {
                    //         delete OPTS[key]
                    //     }
                    // })
                    // this.loading = true
                    // try {
                    //     const { data } = await this.http.get('sys/appmanager/applist', OPTS)
                    //     this.tableData = data
                    // } catch (error) {
                    // } finally {
                    //     this.loading = false
                    // }
                },
                async getSelection() {
                  const { data } = await this.http.get('sys/noticeboard/rangelist')
                  this.rangeList = data
                },
                async getPeopleBySelection() {
                  await this.http.get('sys/noticeboard/validemps', {typeIds:this.searchRange})
                },
                getQuill() {
                    this.debugquill = this.quill.getContents()
                },
                handleBeforeUpload(files) {
                    // 返回false, 取消自带上传
                    let checkPassed = true
                    // if (files.size / 1024 > 500) {
                    //     this.$Notice.warning({
                    //         desc: 'ファイル「' + files.name + '」のサイズが上限（500kBytes）を超えました。'
                    //     })
                    //     checkPassed = false
                    // }
                    this.uploadFiles.push(files)
                    // console.log(this.uploadFiles)
                    // const {data} =  await this.http.uploadFiles('sys/noticeboard/upload/attachments', {files:[files]})
                    // console.log(data)
                    // if (checkPassed) {
                    //     this.uploadFiles.push(files)
                    // }
                    // console.dir(this.quill.getSelection().index)
                    // 插入图片，res为服务器返回的图片链接地址
                    // quill.insertEmbed(length, 'image', res)
                    // // 调整光标到最后
                    // this.quill.setSelection(length + 1)
                    return false;
                },
                async uploadNotice() {
                    // await this.http.uploadFiles('sys/noticeboard/draft/addOrUpdate', {
                    //     attachments: this.uploadFiles,
                    //     hbtDdateofannouncement:'2020/12/25',
                    //     hbtCtitle:'xixixixxx',
                    //     hbtCcontents:'hahahahahaahnei'
                    // })
                    await this.http.uploadFiles('sys/noticeboard/upload/image', {
                        file: this.uploadFiles,
                    })
                },
                async resolveUploaded() {
                    await this.http.uploadFiles('sys/noticeboard/upload/attachments', this.uploadFiles)
                },
                handleClickEmoji(emoji) {
                    let length = this.quill.selection.savedRange.index
                    this.quill.insertEmbed(length, 'span', emoji)
                    this.quill.setSelection(length + 1)
                    // this.emojiPop = false
                },
                handleScroll: Throttle(function (e) {
                    this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
                }, 50)
            }
        })
    </script>
</body>