<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='掲示板',cssPaths='/pages/content.min.css')">
</head>

<body
    th:with="baseUrl = ${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath()},
      now = ${new java.util.Date().getTime()
    }">
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <!-- 菜单导航栏 -->
    <div th:replace="layout/sider"></div>
    <link th:href="${baseUrl + '/static/libs/quill.snow.css?t='+ now}" rel="stylesheet">
    <style>
        .emoji-poptip .ivu-poptip-body {
            height: 500px;
            width: 300px;
            overflow-y: scroll;
        }

        .emoji {
            display: inline-block;
            width: 30px;
            height: 30px;
            font-size: 20px;
        }

        .emoji:hover {
            cursor: pointer;
            background: var(--light-input-border-grey);
            border-radius: 50%;
            transform: scale(1.2);
        }
    </style>
    <main class="content protosettings-warp" ref="layout">
        <div class="content_head">
            <div class="header">
                <div class="title1">
                    <h1>
                        <Icon type="i-emeer colored"></Icon>
                        {{ `掲示板` }}
                    </h1>
                </div>
                <div class="btnbox">
                    <span style="flex:1"></span>
                    <i-button type="success" ghost icon="md-create" @click="createNotice"
                        v-show="!isAdding && editPermission">新規投稿</i-button>
                    <i-button @click="resetDraft" v-show="isAdding">一覧に戻る</i-button>
                    <i-button type="success" ghost icon="md-create" @click="uploadNotice('0')" :loading="editLoading"
                        v-show="isAdding && !isEditingNotice">一時保存</i-button>
                    <i-button type="success" icon="md-done-all" @click="uploadNotice('1')" :loading="editLoading"
                        v-show="isAdding">投稿</i-button>
                    <i-button type="error" ghost icon="md-trash" @click="deleteDraft({hbtId:editId})" :loading="editLoading"
                    v-show="isAdding && isEditing">削除</i-button>
                </div>
            </div>
            <div class="searchwrap" v-show="isAdding">
                <span class="label">掲示範囲</span>
                <i-select v-model="searchRange" class="mr30" style="width: 25%;" multiple :disabled="isEditingNotice"
                    @on-change="getPeopleBySelection">
                    <i-option v-for="(item, index) of rangeList" :key="index" :label="item.typeName"
                        :value="item.typeId">
                    </i-option>
                </i-select>
                <span class="label" style="width: 190px;">先頭に表示</span>
                <span
                    style="padding-left: 8px;border: 1px solid var(--input-border-grey);line-height: 29px; width: 15%;">
                    <radio-group class="tl" v-model="updateValue.hbtCheaddisp">
                        <Radio label="0">いいえ</Radio>
                        <Radio label="1">はい</Radio>
                    </radio-group>
                </span>
            </div>
        </div>
        <div class="content_body">
            <Alert v-show="this.selectedPeopleText.length > 0 && isAdding" class="primary-info tl">
                <div class="no-border-radius mb2" style="display: flex; align-items: stretch;">
                    <span style="display: inline-block;width: 160px;color: var(--grey);">掲示対象者： </span>
                    <span class="tl width100"> {{ selectedPeopleText }}</span>
                </div>
                <Spin size="large" fix v-if="selectedPeopleloading"></Spin>
            </Alert>
            <span v-show="!isAdding">
                <div class="titlenorm mb10 mt10" style="font-size:15px">
                    <Icon type="logo-buffer"></Icon>
                    通知
                </div>
                <div class="tr mb10">
                    <Page :total="pageValue.amount" :current="pageValue.curPage" show-total style="display: inline"
                          :page-size="pageValue.curSize" @on-change="pageChangeNotice" simple/>
                </div>
                <i-table border :row-class-name="(row) => row.hasRead ? 'select-col text-light-grey' : 'select-col'" :columns="columns" no-data-text=""
                    :disabled-hover="true" :data="tableData" :loading="loading">
                    <template slot-scope="{ row }" slot="action">
                        <i-button type="primary" ghost size="small" icon="ios-eye" style="margin-right: 5px"
                        @click="checkoutNotice(row, false)">詳細</i-button>
                    </template>
                    <template slot-scope="{ row }" slot="status">
                        <p :style="{color: row.hasRead ? 'var(--text-light-grey)' : 'var(--primary-info)' }">{{ row.hasRead ? '既読' : '新着' }}</p>
                    </template>
                </i-table>
                <div class="titlenorm mb10 mt10" style="font-size:15px" v-if="editPermission">
                    <Icon type="logo-buffer"></Icon>
                    下書
                </div>
                <div class="tr mb10" v-if="editPermission">
                    <Page :total="pageValueDraft.amount" :current="pageValueDraft.curPage" show-total style="display: inline"
                          :page-size="pageValueDraft.curSize" @on-change="pageChangeDraft" simple/>
                </div>
                <i-table border :row-class-name="() => 'select-col'" v-if="editPermission" no-data-text=""
                    :columns="draftColumns" :disabled-hover="true" :data="draftData" :loading="drafLoading">
                    <template slot-scope="{ row }" slot="action">
                        <div>
                            <i-button type="primary" ghost size="small" icon="ios-create" style="margin-right: 5px" @click="editDraft(row)">編集</i-button>
                            <i-button type="error" ghost size="small" icon="ios-trash" 　class="collapse-btn ivu-btn ivu-btn-error ivu-btn-small ivu-btn-ghost" style="margin-right: 5px" @click="deleteDraft(row)" >削除</i-button>
                        </div>
                    </template>
                </i-table>
                <div class="titlenorm mb10 mt10" style="font-size:15px" v-if="editPermission">
                    <Icon type="logo-buffer"></Icon>
                    投稿履歴
                </div>
                <div class="tr mb10" v-if="editPermission">
                    <Page :total="pageValueHistory.amount" :current="pageValueHistory.curPage" show-total style="display: inline"
                          :page-size="pageValueHistory.curSize" @on-change="pageChangeHistory" simple/>
                </div>
                <i-table border :row-class-name="(row) => row.status === 0 || row.status === 3 ? 'select-col' : 'select-col text-light-grey'" v-if="editPermission" no-data-text=""
                    :columns="historyColumns" :disabled-hover="true" :data="historyData" :loading="historyLoading">
                    <template slot-scope="{ row }" slot="status">
                        <p :style="{color: row.status === 0 ? 'var(--success-info)' : row.status === 1 ? 'var(--red)' : row.status === 2 ?  'var(--text-light-grey)' : 'var(--blue-or-dark)' }">{{ row.status === 0 ? '公開中' : row.status === 1 ? '削除済' : row.status === 2 ?  '期限ギレ' : '公開日待ち'}}</p>
                    </template>
                    <template slot-scope="{ row }" slot="action">
                            <i-button type="primary" ghost size="small" icon="ios-eye" style="margin-right: 5px" @click="checkoutNotice(row, false)">詳細</i-button>
                            <!-- 如果status为0和3则为可编辑公告 -->
                            <i-button v-if="row.status === 0 || row.status === 3" v-model="row.enableEdit" type="primary" ghost size="small" icon="ios-create" style="margin-right: 5px"
                            @click="checkoutNotice(row, true)">編集</i-button>
                            <i-button v-if="row.status === 0 || row.status === 3" v-model="row.enableEdit" type="error" ghost size="small" icon="ios-trash" style="margin-right: 5px"
                            @click="delNotice(row)">削除</i-button>
                    </template>
                </i-table>
            </span>
            <Row :gutter="16" v-show="isAdding">
                <i-col span="12">
                    <rich-text ref="richText" :upload-files="uploadFiles"　:disabled-upload="isEditingNotice" @add-files="($event) => uploadFiles.push($event)"></rich-text>
                </i-col>
                <i-col span="12">
                    <Row :gutter="10">
                        <i-col span="13">
                            <div class="label pl10 tc">件名</div>
                            <div class="person-info">
                                <i-input class="tl" style="padding: 3px;margin-left: -6px;" size="small"
                                    v-model="updateValue.hbtCtitle" :maxlength="1000"></i-input>
                            </div>
                        </i-col>
                        <i-col span="11">
                            <div class="label pl10 tc">掲示期間</div>
                            <div class="person-info">
                                <Row :gutter="8">
                                    <i-col span="12">
                                        <date-picker v-model="updateValue.hbtDdateofannouncement" type="date"
                                            size="small" :clearable="false" :options="rangeOptions" format="yyyy/MM/dd"
                                            @on-change="updateValue.hbtDdateofannouncement = $event"></date-picker>
                                    </i-col>
                                    <i-col span="12">
                                        <date-picker v-model="updateValue.hbtDdateofexpire" type="date" size="small"
                                            :clearable="false" :options="rangeOptions" format="yyyy/MM/dd"
                                            　@on-change="updateValue.hbtDdateofexpire = $event"></date-picker>
                                    </i-col>
                                </Row>
                            </div>
                        </i-col>
                        <i-col span="24" class="mt10" v-show="uploadFiles.length > 0">
                            <div class="label pl10 tc">添付ファイル</div>
                            <div
                                style="border-right: 1px solid var(--border-grey); border-bottom: 1px solid var(--border-grey); border-left: 1px solid var(--border-grey); background-color: var(--selection-input-bg); padding: 8px; }">
                                <ul class="ivu-upload-list tl mb10">
                                    <li class="ivu-upload-list-file" v-for="(item,i) of uploadFiles" :key="i">
                                        <span @click="openFile(item)" :style="{cursor: item.isDefault ? 'pointer' : 'default'}">
                                            <Icon
                                                :type="item.type.indexOf('image') > -1 ? 'ios-image' : item.type.indexOf('sheet') > -1 || item.type.indexOf('xls') > -1 ? 'ios-stats' : 'md-document' ">
                                            </Icon> {{ item.name }}
                                        </span>
                                        <p style="position: absolute;top: 5px;right: 42px;font-size: 9px;color:var(--grey)" v-if="item.isDefault">{{ isEditingNotice ? '削除不可' : '既存'}}</p>
                                        <i v-show="!isEditingNotice" class="ivu-icon ivu-icon-ios-close ivu-upload-list-remove"
                                            @click="handleDelFile(item)"></i>
                                    </li>
                                </ul>
                            </div>
                        </i-col>
                    </Row>
                </i-col>
            </Row>
        </div>
        <Spin size="large" fix v-if="loading"></Spin>
        <Drawer class="tc with-footer" placement="right" width="45" v-model="drawerShow" :title="noticeTitle">
                <Row :gutter="10">
                    <i-col span="13">
                        <div class="label pl10 tc">件名</div>
                        <div class="person-info">
                            <p>{{ updateValue.hbtCtitle }}</p>
                        </div>
                    </i-col>
                    <i-col span="11">
                        <div class="label pl10 tc">掲示期間</div>
                        <div class="person-info">
                            {{`${Utils.formatDate(updateValue.hbtDdateofannouncement, 'yyyy/mm/dd')} ～ ${updateValue.hbtDdateofexpire === 7983759600000 ? '' : Utils.formatDate(updateValue.hbtDdateofexpire, 'yyyy/mm/dd')}`}}
                        </div>
                    </i-col>
                </Row>
                <div class="titlenorm grey mb10 mt10" style="font-size:15px">
                    <Icon type="logo-buffer"></Icon>
                    本文
                </div>
                <div class="tl input-like-span ql-editor" v-html="notice" style="padding: 5px;overflow-y: unset;height: auto;"></div>
                <div style="clear: both"></div>
                <div class="titlenorm grey mb10 mt10" style="font-size:15px">
                    <Icon type="logo-buffer"></Icon>
                    添付ファイル
                </div>
                <span class="input-like-span tl" style="padding:10px">
                    <div v-for="(item,i) of uploadFiles" :key="item.hbtfId">
                        <span class="link-like" @click="openFile(item)" :style="{color: 'var(--primary-info)', cursor: item.isDefault ? 'pointer' : 'default', 'border-bottom-color': 'var(--primary-info)'}">{{ item.name }}</span>
                    </div>
                </span>
                <Spin size="large" fix v-if="noticeLoading"></Spin>
            <drawer-footer @ok="onOk" @cancel="onCancel" ok-text="投稿" v-show="isEditing || isAdding"></drawer-footer>
        </Drawer>
        <back-top></back-top>
        <a href='' download style="display: none;" ref="downloadBtn"></a>
    </main>
    <script th:src="${baseUrl + '/static/component/drawer-footer.js?t='+ now}"></script>
    <div th:replace="layout/head::header"></div>
    <script th:src="${baseUrl + '/static/libs/quill.min.js?t='+ now}"></script>
    <script th:src="${baseUrl + '/static/libs/image-resize.min.js?t='+ now}"></script>
    <script th:src="${baseUrl + '/static/js/emoji.js?t='+ now}"></script>
    <script th:src="${baseUrl + '/static/component/rich-text.js?t='+ now}"></script>
    <script type="text/babel" th:inline="javascript">
        new Vue({
            el: '.protosettings-warp',
            components: {DrawerFooter, RichText},
            data() {
                return {
                    isShow: false,
                    loading: false,
                    drafLoading: false,
                    editLoading: false,
                    historyLoading: false,
                    noticeLoading: false,
                    isAdding: false,
                    isEditing: false,
                    isEditingNotice: false,
                    btnLoading: false,
                    editPermission: [[${ session }]].psSession.hasPublishPermission,
                    drawerShow:false,
                    noticeTitle: '',
                    notice:'',
                    selectedPeople: '',
                    selectedPeopleText: '',
                    selectedPeopleloading: false,
                    searchRange: [],
                    defaultOption: false,
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp'),
                    pageValueDraft: {
                        amount: 0,
                        curPage: 1,
                        list: [20, 30, 50, 100],
                        curSize: 20
                    },
                    opts: {
                        order: 'desc',
                        page: 1,
                        limit: 50
                    },
                    pageValue: {
                        amount: 0,
                        curPage: 1,
                        list: [20, 30, 50, 100],
                        curSize: 20
                    },
                    pageValueHistory: {
                        amount: 0,
                        curPage: 1,
                        list: [20, 30, 50, 100],
                        curSize: 20
                    },
                    opts2: {
                        order: 'desc',
                        page: 1,
                        limit: 50
                    },
                    opts3: {
                        order: 'desc',
                        page: 1,
                        limit: 50
                    },
                    updateValue: {
                        hbtCheaddisp: '0'
                    },
                    rangeOptions: {
                        disabledDate: date => {
                            return date.valueOf() < Date.now() - 1000 * 60 * 60 * 24 || date.valueOf() > 7983759600000
                        }
                    },
                    columns: [
                        {
                            title: '掲示期間',
                            key: 'date',
                            align: 'left',
                            width: 250
                        },
                        {
                            title: '件名',
                            key: 'hbtCtitle',
                            align: 'left',
                            minWidth: 200,
                        },
                        {
                            title: '投稿者',
                            key: 'author',
                            align: 'left',
                            width: 250,
                        },
                        {
                            title: '状態',
                            slot: 'status',
                            align: 'center',
                            width: 120,
                        },
                        {
                            title: ' ',
                            slot: 'action',
                            align: 'right',
                            width: 120,
                        }
                    ],
                    draftColumns: [
                        {
                            title: '掲示期間',
                            key: 'date',
                            align: 'left',
                            width: 250
                        },
                        {
                            title: '件名',
                            key: 'hbtCtitle',
                            align: 'left',
                            minWidth: 200,
                        },
                        {
                            title: ' ',
                            slot: 'action',
                            align: 'right',
                        },
                    ],
                    historyColumns: [
                        {
                            title: '掲示期間',
                            key: 'date',
                            align: 'left',
                            width: 250
                        },
                        {
                            title: '件名',
                            key: 'hbtCtitle',
                            align: 'left',
                            minWidth: 200,
                        },
                        {
                            title: '状態',
                            slot: 'status',
                            align: 'left',
                            width: 120,
                        },
                        {
                            title: ' ',
                            slot: 'action',
                            align: 'right',
                        },
                    ],
                    draftData: [],
                    tableData: [],
                    historyData: [],
                    selfList:[],
                    uploadFiles: [],
                    deleteFiles:[],
                    rangeList: [],
                }
            },
            created() {
                this.getTableData()
                this.getHistory()
                this.getDraftData()
                if(this.editPermission) this.getSelection()
            },
            methods: {
                async getDraftData() {
                    try {
                        this.drafLoading = true
                        const { data } = await this.http.get('sys/noticeboard/draft/list', this.opts)
                        this.draftData = data.list.map(e=> {
                            return {
                                date: `${e.hbtDdateofannouncement.split(' ')[0]} ～ ${e.hbtDdateofexpire.split(' ')[0] === '2222/12/31' ? '' : e.hbtDdateofexpire.split(' ')[0]}`,
                                ...e
                            }
                        })
                        this.pageValueDraft.amount = data.totalCount
                    } catch (error) {
                    } finally {
                        this.drafLoading = false
                    }
                },
                async getTableData() {
                    try {
                        this.loading = true
                        const { data } = await this.http.get('sys/noticeboard/notice/list', this.opts2)
                        this.tableData = data.list.map(e=> {
                            return {
                                date: `${e.hbDdateofannouncement.split(' ')[0]} ～ ${e.hbDdateofexpire.split(' ')[0] === '2222/12/31' ? '' : e.hbDdateofexpire.split(' ')[0]}`,
                                ...e,
                                hbtCtitle:e.hbCtitle
                            }
                        })
                        this.pageValue.amount = data.totalCount
                    } catch (error) {
                    } finally {
                        this.loading = false
                    }
                },
                async getHistory() {
                    try {
                        this.historyLoading = true
                        const { data } = await this.http.get('sys/noticeboard/me', this.opts3)
                        this.historyData = data.list.map(e=> {
                            return {
                                date: `${e.hbDdateofannouncement.split(' ')[0]} ～ ${e.hbDdateofexpire.split(' ')[0] === '2222/12/31' ? '' : e.hbDdateofexpire.split(' ')[0]}`,
                                ...e,
                                hbtCtitle:e.hbCtitle
                            }
                        })
                        this.pageValueHistory.amount = data.totalCount
                    } catch (error) {
                    } finally {
                        this.historyLoading = false
                    }
                },
                async getSelfList() {
                    try {
                        // this.loading = true
                        const { data } = await this.http.get('sys/noticeboard/list')
                        this.selfList = data.list
                        // this.pageValue.amount = data.totalCount
                    } catch (error) {
                    } finally {
                        // this.loading = false
                    }
                },
                async editDraft(row) {
                    const id = row.hbtId
                    try {
                        this.drafLoading = true
                        const { data } = await this.http.get(`sys/noticeboard/draft/${id}`)
                        this.isAdding = true
                        // 编辑的时候多一个删除按键
                        this.isEditing = true
                        // 这里v-model会自动触发一次 this.getPeopleBySelection()
                        this.searchRange = data.typeRangeList.map(e => e.typeId)
                        this.$refs.richText.setHtml(data.hbtCcontents)
                        this.updateValue.hbtCtitle = data.hbtCtitle
                        this.updateValue.hbtDdateofannouncement = Utils.formatDate(data.hbtDdateofannouncement, 'yyyy/mm/dd')
                        this.updateValue.hbtDdateofexpire = data.hbtDdateofexpire === 7983759600000 ? '' : Utils.formatDate(data.hbtDdateofexpire, 'yyyy/mm/dd')
                        this.updateValue.hbtCheaddisp = data.hbtCheaddisp
                        this.editId = data.hbtId
                        // 文件
                        this.$nextTick(() => {
                            this.uploadFiles = data.attachments.map(e => {
                                return {
                                    name: e.hbtfFilename,
                                    url: `${BASE_URL}${e.hbtfFileUrl}`,
                                    type: e.hbtfFilename.split('.')[1],
                                    hbtfId: e.hbtfId,
                                    isDefault: true
                                }
                            })
                        })
                    } catch (error) {
                    } finally {
                        this.drafLoading = false
                    }
                },
                createNotice() {
                    this.resetDraft()
                    this.isAdding = true
                },
                async checkoutNotice(row, isEdit) {
                    const id = row.hbId
                    try {
                        if(!isEdit){
                          this.noticeLoading = true
                          this.noticeTitle = '詳細'
                          this.drawerShow = true
                        }
                        const { data } = await this.http.get(`sys/noticeboard/notice/${id}`)
                        this.updateValue.hbtCtitle = data.hbCtitle
                        this.updateValue.hbtDdateofannouncement = Utils.formatDate(data.hbDdateofannouncement, 'yyyy/mm/dd')
                        this.updateValue.hbtDdateofexpire = data.hbDdateofexpire === 7983759600000 ? '' : Utils.formatDate(data.hbDdateofexpire, 'yyyy/mm/dd')
                        if(!isEdit){
                            this.notice = data.hbCcontents
                        } else {
                            this.isAdding = true
                            this.isEditingNotice = true
                            // 这里v-model会自动触发一次 this.getPeopleBySelection()
                            this.searchRange = data.typeRangeList.map(e => e.typeId)
                            this.$refs.richText.setHtml(data.hbCcontents)
                            this.updateValue.hbtCheaddisp = data.hbCheaddisp
                            this.editId = data.hbId
                        }
                        this.$nextTick(() => {
                            this.uploadFiles = data.attachmentList.map(e => {
                                return {
                                    name: e.hbfFileName,
                                    url: `${BASE_URL}${e.hbfFileUrl}`,
                                    type: e.hbfFileName.split('.')[1],
                                    hbtfId: e.hbfId,
                                    isDefault: true
                                }
                            })
                        })
                    } catch (error) {
                    } finally {
                        this.noticeLoading = false
                    }
                },
                openFile(item) {
                    if(item.url) {
                        console.log(this.$refs.downloadBtn)
                        this.$refs.downloadBtn.href= item.url
                        this.$refs.downloadBtn.click()
                        // window.open(item.url, '_blank')
                    }
                },
                deleteDraft(row) {
                    this.$Modal.confirm({
                        title: '注意',
                        width: 480,
                        content: 'この下書を削除します。よろしいですか？',
                        okText: '削除',
                        cancelText: '戻る',
                        onOk: async () => {
                            await this.http.post('sys/noticeboard/draft/delete', [row.hbtId])
                            this.resetDraft()
                            this.getDraftData()
                            this.getTableData()
                            this.getHistory()
                            this.$Message.success('削除しました')
                        }
                    })
                },
                delNotice(row) {
                    this.$Modal.confirm({
                        title: '注意',
                        width: 480,
                        content: 'この通知を削除します。よろしいですか？',
                        okText: '削除',
                        cancelText: '戻る',
                        onOk: async () => {
                            await this.http.post(`sys/noticeboard/notice/status?id=${row.hbId}&status=${'0'}`)
                            this.resetDraft()
                            this.getTableData()
                            this.getHistory()
                            this.$Message.success('削除しました')
                        }
                    })
                },
                async getSelection() {
                    const { data } = await this.http.get('sys/noticeboard/rangelist')
                    this.rangeList = data
                },
                async getPeopleBySelection() {
                    if (this.searchRange.length === 0) return
                    try {
                        this.selectedPeopleloading = true
                        const { data } = await this.http.get('sys/noticeboard/validemps', { typeIds: this.searchRange })
                        let text = ''
                        this.selectedPeople = data.map(e => {
                            let key = Object.keys(e)[0]
                            let value = Object.values(e)[0]
                            text = text.concat(`${key} ${value} , `)
                            return {
                                key: key,
                                value: value,
                            }
                        })
                        this.selectedPeopleText = text.slice(0, -2)
                    } catch (error) {
                    } finally {
                        this.selectedPeopleloading = false
                    }

                },
                uploadNotice(hbtCfix) {
                    if (this.selectedPeople.length === 0) {
                        return this.$Notice.warning({ title: '注意', desc: '掲示範囲を入力してください', duration: 6.5 })

                    }
                    if (!this.updateValue.hbtCtitle) {
                        return this.$Notice.warning({ title: '注意', desc: '件名を入力してください', duration: 6.5 })

                    }
                    if (!this.updateValue.hbtDdateofannouncement) {
                        return this.$Notice.warning({ title: '注意', desc: '掲示開始日を入力してください', duration: 6.5 })

                    }
                    if (!this.updateValue.hbtDdateofexpire) {
                        this.updateValue.hbtDdateofexpire = '2222/12/31'
                    }
                    if (this.updateValue.hbtDdateofexpire && new Date(this.updateValue.hbtDdateofannouncement) > new Date(this.updateValue.hbtDdateofexpire)) {
                        return this.$Notice.warning({ title: '注意', desc: '掲示期間(終了日)は(開始日)より後の日付を入力してください', duration: 6.5 })
                    }

                    if (!this.updateValue.hbtDdateofexpire) delete this.updateValue.hbtDdateofexpire
                    if(hbtCfix === '1') {
                        this.noticeTitle = '掲示内容'
                        this.notice = this.$refs.richText.getHtml()
                        this.drawerShow = true
                    } else {
                        this.postNotice(hbtCfix)
                    }
                },
                resetDraft() {
                    this.isAdding = false
                    this.isEditing = false
                    this.isEditingNotice = false
                    this.updateValue = {
                        hbtCheaddisp: '0'
                    }
                    this.uploadFiles = []
                    this.deleteFiles = []
                    this.searchRange = ''
                    this.selectedPeople = ''
                    this.selectedPeopleText = ''
                    this.notice = ''
                    this.$refs.richText.setText('');
                    // 修正当富文本内有图像时，点击后，残留裁剪边框的bug
                    const quillImgCutFrame = document.querySelector('.ql-tooltip.ql-hidden').nextSibling
                    if(quillImgCutFrame) {
                        quillImgCutFrame.style.display = 'none'
                    }
                },
                onCancel() {
                    this.drawerShow = false
                },
                onOk() {
                    this.postNotice()
                },
                postNotice(hbtCfix) {
                    this.$Modal.confirm({
                        inDrawer: true,
                        title: '注意',
                        width: 480,
                        content: `${ hbtCfix ? '一時保存' : '投稿'}します。よろしいですか？`,
                        okText: 'OK',
                        cancelText: 'キャンセル',
                        onOk: async () => {
                            try {
                                if(hbtCfix) this.loading = true
                                let opts ={
                                    attachments: this.uploadFiles.filter(e=> !e.isDefault),
                                    ...this.updateValue,
                                    hbtCcontents: this.$refs.richText.getHtml(),
                                    sendRangeTypes: this.searchRange.join(),
                                    keepAttachmentIdStr: this.uploadFiles.filter(e=> e.isDefault).map(e=>e.hbtfId).join(),
                                    deleteAttachmentIdStr: this.deleteFiles.join(),
                                    empRangeIds: this.selectedPeople.map(e => e.key).join(),
                                    isPublish: hbtCfix ? hbtCfix : '1',
                                    hbtCfix: hbtCfix ? hbtCfix : '1',
                                }
                                if(this.isEditing) {
                                    opts.hbtId = this.editId
                                }

                                if(this.isEditingNotice) {
                                    let opts2 = {}
                                    opts2.hbId = this.editId
                                    opts2.hbDdateofannouncement = Utils.formatDate(opts.hbtDdateofannouncement, 'yyyy/mm/dd')
                                    opts2.hbDdateofexpire = opts.hbtDdateofexpire && Utils.formatDate(opts.hbtDdateofexpire, 'yyyy/mm/dd')
                                    opts2.hbCtitle = opts.hbtCtitle
                                    opts2.hbCheaddisp = opts.hbtCheaddisp
                                    opts2.hbCcontents = opts.hbtCcontents
                                    opts2.empRangeIds = opts.empRangeIds
                                    opts2.rangeTypes = opts.sendRangeTypes
                                    await this.http.post('sys/noticeboard/notice/edit', opts2)
                                } else {
                                    await this.http.uploadFiles('sys/noticeboard/draft/addOrUpdate', opts)
                                }
                                this.$Message.success(hbtCfix ? '一時保存しました' : '投稿しました')
                                this.drawerShow = false
                                this.resetDraft()
                                this.getDraftData()
                                this.getTableData()
                                this.getTableData()
                                this.getHistory()
                            } catch (error) {
                                console.log(error)
                            } finally {
                                if(hbtCfix) this.loading = false
                            }
                        }
                    })
                },
                handleDelFile(file) {
                    // 删除文件
                    if(file.isDefault) this.deleteFiles.push(file.hbtfId)
                    this.uploadFiles = this.uploadFiles.filter(e => e.name !== file.name)
                },
                pageChangeNotice(e) {
                    this.opts2.sPage = e
                    this.pageValueNotice.curPage = e
                    this.getTableData()
                },
                pageChangeDraft(e) {
                    this.opts.Page = e
                    this.pageValueDraft.curPage = e
                    this.getDraftData()
                },
                pageChangeHistory(e) {
                    this.opts3.Page = e
                    this.pageValueHistory.curPage = e
                    this.getHistoryData()
                }
            }
        })
    </script>
</body>