<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='ホームページ',cssPaths='/pages/content.min.css,' + '/pages/sign.min.css')">
</head>

<body th:with="baseUrl = ${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath()}">
<div th:replace="layout/loadingBar::loadingBar"></div>
<!-- 菜单导航栏 -->
<div th:replace="layout/sider"></div>
<main class="content">
    <Row class="stamp-warp tc" ref="stamp">
        <i-col span="8" offset="1">
            <Clock ref="clock"></Clock>
            <Row :gutter="16" style="padding: 0 20px;">
                <i-col span="12">
                    <i-button class="gowork-btn" type="primary" @click="clock('ACT_EXEC_OPEN')" :loading="clocking" :disabled="clockDisable" long>{{ clockBtn.clock }}
                    </i-button>
                </i-col>
                <i-col span="12" class="mb20">
                    <i-button class="offwork-btn" type="primary" @click="clock('ACT_EXEC_CLOSE')" :loading="exiting" :disabled="clockDisable" long>{{
                        clockBtn.exit }}
                    </i-button>
                </i-col>
                <i-col span="24">
                    <i-button class="addwork-btn" type="primary" ghost @click="showDay(null)" long>超勤申請</i-button>
                </i-col>
            </Row>
        </i-col>
        <i-col span="13" class="pl20 pt20">
            <Row>
                <i-col span="11" class="card mb20">
                    <div class="title">月間出勤日数</div>
                    <span class="num">{{dutyAndRelaxData.dutyDates}}</span><span class="mr5 lp">日</span>
                </i-col>
                <i-col span="11" offset="1" class="card mb20">
                    <div class="title">有休残日数</div>
                    <span class="num">{{dutyAndRelaxData.npaidRestDaysHour[0]}}</span><span class="mr5 lp">日</span>
                    <span class="num">{{dutyAndRelaxData.npaidRestDaysHour[1]}}</span><span class="mr5 lp">時</span>
                    <span class="num">{{dutyAndRelaxData.npaidRestDaysHour[2]}}</span><span class="mr5 lp">分</span>
                </i-col>
                <i-col span="11" class="card">
                    <div class="title">月間実働時間</div>
                    <span class="num">{{dutyAndRelaxData.dutyHours[0]}}</span><span class="mr5 lp">時</span>
                    <span class="num">{{dutyAndRelaxData.dutyHours[1]}}</span><span class="mr5 lp">分</span>
                </i-col>
                <i-col span="11" offset="1" class="card">
                    <div class="title">超過勤務時間</div>
                    <span class="num">{{dutyAndRelaxData.overTime[0]}}</span><span class="mr5 lp">時</span>
                    <span class="num">{{dutyAndRelaxData.overTime[1]}}</span><span class="mr5 lp">分</span>
                </i-col>
            </Row>
        </i-col>
        <i-col span="21" class="mt30" style="margin-left: 5.2%;width: 84.4%;">
            <div class="schedule">
                <div class="title-wrap">
                    <div class="time-title">時間</div>
                    <div class="plan-title">本日の勤務予定</div>
                </div>
                <ul class="time-list">
                    <li class="li" v-for="(item, i) of scheduleTime" :key="i">{{ item }}</li>
                    <abbr :class="isActivated ? 'real-schedule stamp-actived' : 'real-schedule stamp-deactived'" v-for="(item, i) of dynamicSchedule" :key="i" :style="item.style" :title="item.time">
                        {{ item.style.width.split('px')[0] > 100 ? item.time : '0' }}
                    </abbr>
                </ul>
            </div>
        </i-col>
        <!--日次就業実績-->
        <Drawer :title="title" width="850" v-model="isShow" @on-close="handleClose()" :mask-closable="false">
            <div style="position: relative">
                <Alert type="error" class="error-info" v-show="errorFlag">{{ errorMsg }}</Alert>
                <Row class="mb15 tr">
                    <i-col span="6" offset="16">
                        <i-button type="primary" ghost class="mr15" v-if="!bFixed" @click="updateInp">コメントのみ登録</i-button>
                    </i-col>
                    <i-col span="1">
                        <i-button type="primary" ghost v-if="!bFixed" @click="updateDaily" :loading="updateDailyLoading">
                            登録
                        </i-button>
                    </i-col>
                </Row>
                <div class="titlenorm mb10">
                    <Icon type="logo-buffer"></Icon>
                    就業実績
                </div>
                <div style="position: relative;">
                    <Row>
                        <i-col span="8" class="label tc">就業区分</i-col>
                        <i-col span="8" class="no-border-radius">
                            <i-select v-model="workingId" class="mr30" @on-change="changeWorkingID"
                                      v-if="((!bHoliday && !bFixed) || ( isEdiTableResult4Inp && !bFixed))">
                                <i-option v-for="(item, index) of workingIdList" :key="index"
                                          :label="item.mgdCgenericdetaildesc" 　:value="item.mgdCmastercode">
                                </i-option>
                            </i-select>
                            <p v-else align="center">{{dailyEdit.tdaCworkingidRName}}</p>
                        </i-col>
                    </Row>
                    <Row>
                        <i-col span="8" class="label tc">出張</i-col>
                        <i-col span="8" class="no-border-radius" v-if="!bDisable">
                            <i-select v-model="businessTrip" class="mr30" @on-change="" v-if="(!bHoliday && !bFixed)">
                                <i-option v-for="(item, index) of businessTripList" :key="index"
                                          :label="item.mgdCgenericdetaildesc" 　:value="item.mgdCmastercode">
                                </i-option>
                            </i-select>
                            <p v-else align="center">{{dailyEdit.tdaCbusinesstripidRName}}</p>
                        </i-col>
                        <i-col span="8" class="no-border-radius" v-else>
                            <i-select v-model="businessTrip" class="mr30" @on-change="" disabled
                                      v-if="(!bHoliday && !bFixed)">
                                <i-option v-for="(item, index) of businessTripList" :key="index"
                                          :label="item.mgdCgenericdetaildesc" 　:value="item.mgdCmastercode">
                                </i-option>
                            </i-select>
                            <p v-else align="center">{{dailyEdit.tdaCbusinesstripidRName}}</p>
                        </i-col>
                    </Row>
                    <i-table :columns="columnsWork" :data="workData">
                        <template slot-scope="{ row, index }" slot="workStart">
                            <i-input v-model="workData[index].workStart"
                                     v-if="row.isInput && !bFixed && isEdiTableResult4Inp" :disabled="workTimeDisable" class="tc"
                                     @on-blur="handleInputChange(index,  workData[index],'workStart', $event.target)"></i-input>
                            <span v-else>{{ row.workStart | toTime }}</span>
                        </template>
                        <template slot-scope="{ row , index}" slot="workEnd">
                            <i-input v-model="workData[index].workEnd"
                                     v-if="row.isInput && !bFixed && isEdiTableResult4Inp" :disabled="workTimeDisable" class="tc"
                                     @on-blur="handleInputChange(index,  workData[index],'workEnd', $event.target)"></i-input>
                            <span v-else>{{ row.workEnd | toTime }}</span>
                        </template>
                    </i-table>


                    <Row>
                        <i-col span="8" class="label tc">本人コメント</i-col>
                        <i-col span="16">
                            <i-input v-model="dailyEdit.tdaCowncommentR" text-align="center;" type="textarea"
                                     v-if="!bFixed"></i-input>
                            <i-input v-model="dailyEdit.tdaCowncommentR" text-align="center;" type="textarea" v-else
                                     readonly></i-input>
                        </i-col>
                    </Row>
                    <Row class="mb5">
                        <i-col span="8" class="label tc">承認者コメント</i-col>
                        <i-col span="16">
                            <span v-if="bApproved">{{ dailyEdit.tdaCmodifieruseridR}} ({{dailyEdit.tdaDmodifieddateR }})</span>
                            <i-input v-model="dailyEdit.tdaCbosscommentR" text-align="center;" type="textarea" disabled
                                     readonly></i-input>
                        </i-col>
                    </Row>
                </div>


                <!-- 非勤務 -->
                <div class="titlenorm mb10">
                    <Icon type="logo-buffer"></Icon>
                    非勤務
                </div>
                <Row class="mb15 tr" v-if=" !bHoliday && !bFixed ">
                    <i-col span="6" offset="15">
                        <i-select v-model="categoryNonduty" class="mr30" @on-change="" v-if="!bDisable">
                            <i-option v-for="(item, index) of categoryNondutyList" :key="index" :label="item.itemName"
                                      　:value="item.itemCode">
                            </i-option>
                        </i-select>
                        <i-select v-model="categoryNonduty" class="mr30" @on-change="" disabled v-else>
                            <i-option v-for="(item, index) of categoryNondutyList" :key="index" :label="item.itemName"
                                      　:value="item.itemCode">
                            </i-option>
                        </i-select>
                    </i-col>
                    <i-col span="3">
                        <i-button type="primary" ghost @click="addNotWork" v-if="!bDisable">追加</i-button>
                        <i-button disabled v-else>追加</i-button>
                    </i-col>
                </Row>
                <i-table :columns="columnsNotWork" :data="detailNonDutyVOList" class="mb20"
                         no-data-text="">
                    <template slot-scope="{ row, index }" slot="tdadNopen">
                        <i-input v-model="detailNonDutyVOList[index].tdadNopen" v-if=" !bFixed" @on-blur="handleInputChange(index, detailNonDutyVOList[index],'tdadNopen', $event.target)"></i-input>
                        <span v-else>{{  row.tdadNopen | toTime  }}</span>
                    </template>

                    <template slot-scope="{ row, index }" slot="tdadNclose">
                        <i-input v-model="detailNonDutyVOList[index].tdadNclose" v-if="!bFixed " @on-blur="handleInputChange(index, detailNonDutyVOList[index],'tdadNclose', $event.target)"></i-input>
                        <span v-else>{{ row.tdadNclose | toTime }}</span>
                    </template>

                    <template slot-scope="{ row ,index}" slot="tdadCsparechar1">
                        <i-input v-model="detailNonDutyVOList[index].tdadCsparechar1" type="textarea"
                                 :autosize="{ maxRows: 3 }"
                                 v-if="row.tdadCnotworkid !== 'TMG_ITEMS|ResultRest' && !bFixed "></i-input>
                        <span v-else>{{ row.tdadCsparechar1 | toTime }}</span>
                    </template>

                    <template slot-scope="{ row }" slot="tdadNdeleteflg" v-if="!bFixed">
                        <i-button type="error" ghost size="small" class="width100" @click="delNotWork(row)">削除</i-button>
                    </template>
                </i-table>

                <div v-if="!isDiscretion">
                    <!-- 超過勤務 -->
                    <div class="titlenorm mb10">
                        <Icon type="logo-buffer"></Icon>
                        超過勤務
                    </div>
                    <Row class="mb15 tr" v-if="!bHoliday && !bFixed ">

                        <i-col span="6" offset="15">
                            <i-select v-model="categoryOverhours" class="mr30" @on-change="" v-if="!bDisable">
                                <i-option v-for="(item, index) of categoryOverhoursList" :key="index" :label="item.itemName"
                                          　:value="item.itemCode">
                                </i-option>
                            </i-select>
                            <i-select v-model="categoryOverhours" class="mr30" @on-change="" disabled v-else>
                                <i-option v-for="(item, index) of categoryOverhoursList" :key="index" :label="item.itemName"
                                          　:value="item.itemCode">
                                </i-option>
                            </i-select>
                        </i-col>

                        <i-col span="3">
                            <i-button type="primary" ghost @click="addOverWork" v-if="!bDisable">追加</i-button>
                            <i-button disabled v-else>追加</i-button>
                        </i-col>
                        <!--                <i-col span="4">-->
                        <!--                    <i-button type="primary" ghost v-if="!bDisable">時刻補完</i-button>-->
                        <!--                    <i-button type="primary" ghost disabled v-else>時刻補完</i-button>-->
                        <!--                </i-col>-->
                    </Row>

                    <i-table :columns="columnsOverWork" :data="detailOverhoursVOList" class="mb20"
                             no-data-text="">
                        <template slot-scope="{ row ,index }" slot="tdadNopen">
                            <i-input v-model="detailOverhoursVOList[index].tdadNopen" v-if=" !bFixed"
                                     @on-blur="handleInputChange(index, detailOverhoursVOList[index],'tdadNopen', $event.target)"></i-input>
                            <span v-else>{{ row.tdadNopen | toTime }}</span>
                        </template>

                        <template slot-scope="{ row ,index}" slot="tdadNclose">
                            <i-input v-model="detailOverhoursVOList[index].tdadNclose" v-if=" !bFixed"
                                     @on-blur="handleInputChange(index, detailOverhoursVOList[index],'tdadNclose', $event.target)"></i-input>
                            <span v-else>{{ row.tdadNclose | toTime }}</span>
                        </template>

                        <template slot-scope="{ row ,index}" slot="tdadCsparechar1">
                            <i-input v-model="detailOverhoursVOList[index].tdadCsparechar1" type="textarea"
                                     :autosize="{ maxRows: 3 }"
                                     v-if="!bFixed"></i-input>
                            <span v-else>{{ row.tdadCsparechar1}}</span>
                        </template>

                        <template slot-scope="{ row ,index}" slot="tdadNdeleteflg" v-if="!bFixed">
                            <i-button type="error" ghost size="small" class="width100" @click="delOverWork(row)">削除</i-button>
                        </template>
                    </i-table>
                </div>
                <div class="titlenorm mb10">
                    <Icon type="logo-buffer"></Icon>
                    更新履歴
                </div>
                <i-table :columns="columnsDailyLog" :data="dailyLog" class="mb20">
                </i-table>
                <Spin size="large" fix v-if="dailyloading"></Spin>
            </div>
        </Drawer>
    </Row>


</main>
<script th:src="${baseUrl + '/static/component/clock.js'}"></script>
<div th:replace="layout/head::header"></div>
<script type="text/babel" th:inline="javascript">
    const SIGN = new Vue({
        el: '.stamp-warp',
        components: {Clock},
        data() {
            return {
                isShow: false,
                data: {
                    serverTime: 0,
                    clockOnTime: '',
                    clockOffTime: '',
                    scheduleStartTime: '',
                    scheduleEndTime: ''
                },
                clockData: {
                    startTime: '',
                    endTime: ''
                },
                clockBtn: {
                    clock: '出勤',
                    exit: '退勤'
                },
                query_clockInfo: {
                    pAction: '',
                    custId: [[${ session.psSession.loginCustomer}]],
                    compCode: [[${ session.psSession.loginCompany}]],
                    language: [[${ session.psSession.language}]],
                    employeId: [[${ session.psSession.loginEmployee }]]
                },
                query_schedule: {
                    custId: [[${ session.psSession.loginCustomer}]],
                    compCode: [[${ session.psSession.loginCompany}]],
                    language: [[${ session.psSession.language}]],
                    employeId: [[${ session.psSession.loginEmployee }]],
                    targetDate: ''
                },
                scheduleData: ['', ''],
                scheduleTime: Utils.getNumArray(0, 29).map(e => e),
                checkInLoading: false,
                checkOutLoading: false,
                loading: false,
                clocking: false,
                exiting: false,
                clockDisable: false,
                dutyAndRelaxData: {
                    dutyDates:'0',
                    dutyHours:['0','0'],
                    npaidRestDaysHour:['0','0','0'],
                    overTime:['0','0']
                },
                /**********/
                monthlyLoading: false,
                dailyloading: false,
                contentScrollTop: 0,
                isScroll: false,
                selectDisabled: false,   　//年月選択可否制御
                dispMonthlyList: [],       //年月リスト
                model1: '',
                targetUser: '',
                monthlyTilteMapList: [],
                monthlyMap: [],
                columns: [],
                dailyDataList: [],
                data: [],
                loading: false,
                selHealthStatus: 'TMG_ONOFF|0',
                selHealthStatusList: [
                    {
                        code: 'TMG_ONOFF|0',
                        name: 'いない'
                    },
                    {
                        code: 'TMG_ONOFF|1',
                        name: 'いる'
                    }
                ],
                query: {
                    txtAction: 'ACT_DISP_RMONTHLY',
                    txtDYYYYMM: '',
                    txtDYYYYMMDD: '',
                    today: '',
                    targetDate:'',
                    selHealthStatus: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp')
                },
                updateInpQuery: {
                    txtAction: 'ACT_EDITINP_UCOMMENT',
                    holiday: false,
                    txtTdaNopenR: '',
                    txtTdaNcloseR: '',
                    workingId: '',
                    selMgdCbusinessTrip: '',
                    txtDYYYYMMDD: '',
                    tdaCowncommentR: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp')
                },
                tmgResultsDto: {
                    txtAction: '',
                    holiday: false,
                    txtTdaNopenR: '',
                    txtTdaNcloseR: '',
                    workingId: '',
                    selMgdCbusinessTrip: '',
                    txtDYYYYMMDD: '',
                    tdaCowncommentR: '',
                    nonDutyList: [],
                    overHoursList: [],
                    hasAuthority: true,
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                },
                workingId: '',
                today: '',
                workingIdList: [],
                businessTrip: '',
                businessTripList: [],
                categoryNonduty: '',
                categoryNondutyName: '',
                categoryNondutyList: [],
                categoryOverhours: '',
                categoryOverhoursName: '',
                categoryOverhoursList: [],
                dailyEdit: [],
                workTimeDisable: false,
                title: {
                    type: String,
                    default: ''
                },
                width: {
                    type: [String, Number],
                    default: 650
                },
                isAdmin: {
                    type: Boolean,
                    default: false
                },
                errorFlag: false,
                errorMsg: '',
                columnsWork: [
                    {
                        title: '勤務時間',
                        align: 'center',
                        key: 'workTime'
                    },
                    {
                        title: '始業',
                        slot: 'workStart',
                        align: 'center'
                    },
                    {
                        title: '終業',
                        slot: 'workEnd',
                        align: 'center'
                    }
                ],
                columnsNotWork: [
                    {
                        title: '内容',
                        align: 'center',
                        width: '120',
                        key: 'itemName'
                    },
                    {
                        title: '開始時刻',
                        width: '80',
                        slot: 'tdadNopen',
                        align: 'center'
                    },
                    {
                        title: '終了時刻',
                        slot: 'tdadNclose',
                        width: '80',
                        align: 'center'
                    },
                    {
                        title: '備考',
                        slot: 'tdadCsparechar1',
                        align: 'center'
                    },
                    {
                        title: '削除',
                        slot: 'tdadNdeleteflg',
                        width: '80',
                        align: 'center'
                    }
                ],
                detailNonDutyVOList: [],
                columnsOverWork: [
                    {
                        title: '内容',
                        align: 'center',
                        width: '120',
                        key: 'itemName'
                    },
                    {
                        title: '開始時刻',
                        width: '80',
                        slot: 'tdadNopen',
                        align: 'center'
                    },
                    {
                        title: '終了時刻',
                        slot: 'tdadNclose',
                        width: '80',
                        align: 'center'
                    },
                    {
                        title: '用務内容',
                        slot: 'tdadCsparechar1',
                        align: 'center'
                    },
                    {
                        title: '状態',
                        key: 'tdadCsparechar2Name',
                        align: 'center'
                    },
                    {
                        title: '削除',
                        slot: 'tdadNdeleteflg',
                        width: '80',
                        align: 'center'
                    }
                ],
                detailOverhoursVOList: [],
                columnsDailyLog: [
                    {
                        title: '更新者',
                        key: 'cmodifierusernm',
                        width: '120'
                    },
                    {
                        title: '更新日時',
                        key: 'dmodifieddate',
                        width: '140',
                        align: 'center'
                    },
                    {
                        title: '画面',
                        key: 'cmodifierprogramnm',
                        width: '100',
                        align: 'center'

                    },
                    {
                        title: '操作',
                        key: 'cactionnm',
                        width: '130',
                        align: 'center'
                    },
                    {
                        title: '更新内容',
                        key: 'cchangelogstr'
                    }
                ],
                dailyLog: [],
                notWorkType: 1,
                dailyData: {},
                workData0: [],
                mgdCsparechar4VOList: [],
                bHoliday: false,
                bFixed: false,
                isEdiTableResult4Inp: false,
                isCommonDiscretionaryLabor: false,
                isDiscretion: false,//裁量労働制
                bOpen: false,
                bClose: false,
                // 承認者コメントの入力制御
                bApproved: false,
                txtDYYYYMMDD: '',
                index: 0,
                // 承認ステータス
                isConfirm: '',
                // 更新履歴の表示制御
                isLogShow: false,
                updateDailyLoading: false,
                // 就業区分切替の表示制御
                bDisable: false,
                overHourLimit: '',
                otDaily: '',
                targetForOverTime: '',
                errMsg: [],
                bDispKinmujokyoKakunin: false,
                bDispKenkojotaiKakunin: false,
                bWorkChkStatus: false,
                bHealthChkStatus: false,
                kinmujokyoEnd: 0,
                workData: []
            }
        },
        async mounted() {
            await this.getData()
            this.$refs.clock.showTime()
            this.getClockInfo()
            this.getScheduleInfo()
            this.getDutyAndRelaxDate()
        },
        beforeDestroy() {
            this.$refs.clock.cleanClock()
        },
        computed: {
            isActivated() {
                if (this.data.clockOnTime && !this.data.clockOffTime) return true
                return false
            },
            dynamicSchedule() {
                if (!this.scheduleData[0]) {
                    return
                }
                const that = this
                const leftHelper = Utils.timeToMinute(this.scheduleData[0].split('-')[0])
                return this.scheduleData.map(e => {
                    const startTime = Utils.timeToMinute(e.split('-')[0])
                    const endTime = Utils.timeToMinute(e.split('-')[1])
                    const contentWidth = ((endTime - startTime) / 60) * 46.5
                    const left = (startTime / 60) * 46.5 + 25
                    return {
                        time: e,
                        style: {
                            width: `${contentWidth}px`,
                            lineHeight: `123px`,
                            left: `${left}px`,
                            top: '35%',
                            textDecoration: 'none',
                            color: contentWidth > 100 ? 'var(--real-schedule)' : 'transparent'
                        }
                    }
                })
            },

        },
        methods: {
            async getData() {
                try {
                    const {data} = await this.http.get('sys/timePunch/serverTime', null)
                    /*this.data = data
                    this.scheduleData = [
                      `${this.data.scheduleStartTime}-${this.data.scheduleEndTime}`
                    ]
                    this.data.serverTime = Date.parse(this.data.serverTime) - 1000*/
                    var current = Date.parse(data.sysdate.replace(/-/g, "/"))
                    localStorage.setItem('Mobile_Sever_Time', current)
                    localStorage.setItem('Mobile_Local_Time', current)
                    this.data.serverTime = current
                    //console.log(this.data.serverTime)
                    return
                } catch (e) {
                    console.log(e)
                    this.data.serverTime = Date.now()
                }

            },
            //打刻
            async clock(pAction) {
                this.query_clockInfo.pAction = pAction
                if (pAction) {
                    if (pAction === "ACT_EXEC_OPEN") {
                        this.clocking = true
                    } else {
                        this.exiting = true
                    }
                    this.clockDisable = true
                    try {
                        const {data} = await this.http.postForm('sys/timePunch/stamping', this.query_clockInfo)
                        //console.log(data)
                        if (data) {
                            //チェック合格
                            if (data.resultCode === "0") {
                                //打刻成功(0)
                                if (pAction === "ACT_EXEC_OPEN") {
                                    this.clockData.startTime = data.clockTime
                                    this.clockBtn.clock = '出勤(' + data.clockTime + ')'
                                    this.$Notice.info({title: '打刻成功', desc: data.resultMsg})
                                } else {
                                    this.clockData.endTime = data.clockTime
                                    this.clockBtn.exit = '退勤(' + data.clockTime + ')'
                                    this.$Notice.info({title: '打刻成功', desc: data.resultMsg})
                                }
                            } else {
                                //打刻失敗(10,20,30)
                                this.$Notice.error({title: '打刻エラー', desc: data.resultMsg})
                            }
                        } else {
                            //チェック不合格
                            this.$Notice.warning({title: '打刻エラー', desc: "内部エラーが発生しました"})
                        }
                    } catch (error) {
                        this.clocking = false
                        this.exiting = false
                        this.clockDisable = false
                    }
                } else {
                    //
                    this.$Notice.warning({title: '打刻エラー', desc: "パラメータが不正です"})
                }
                this.clocking = false
                this.exiting = false
                this.clockDisable = false
            },
            //打刻情報を取得する
            async getClockInfo() {
                const {data} = await this.http.postForm('sys/timePunch/clockInfo', this.query_clockInfo)
                if (data) {
                    var startTime = data.nopen
                    var endTime = data.nclose
                    if (startTime) {
                        this.clockData.startTime = startTime
                        this.clockBtn.clock = '出勤(' + startTime + ')'
                    }
                    if (endTime) {
                        this.clockData.endTime = endTime
                        this.clockBtn.exit = '退勤(' + endTime + ')'
                    }
                } else {
                    //まだ、打刻していない 何もしない
                }
            },
            // 社員勤務予定データを取得する
            async getScheduleInfo() {
                const {data} = await this.http.postForm('sys/timePunch/selectScheduleInfo', this.query_schedule)
                //console.log('schedule data:', data)
                if (data) {
                    this.scheduleData = data
                }
            },
            //　社員有休等情報を取得する
            async getDutyAndRelaxDate() {
                const {data} = await this.http.postForm('sys/timePunch/selectDutyAndRelaxDate', this.query_schedule)
                //console.log('DutyAndRelaxDate data:', data)
                if (data) {
                    //月間出勤日数
                    if(data.dutyDates){
                        this.dutyAndRelaxData.dutyDates = data.dutyDates.substring(0,data.dutyDates.indexOf("日"))
                    }
                    //月間実働時間
                    if(data.dutyHours){
                        this.dutyAndRelaxData.dutyHours[0]=data.dutyHours.substring(0,data.dutyHours.indexOf("時"))
                        this.dutyAndRelaxData.dutyHours[1]=data.dutyHours.substring(data.dutyHours.indexOf("時")+1,data.dutyHours.length-1)
                    }
                    //残業時間
                    if(data.overTime){
                        this.dutyAndRelaxData.overTime[0]=data.overTime.substring(0,data.overTime.indexOf("時"))
                        this.dutyAndRelaxData.overTime[1]=data.overTime.substring(data.overTime.indexOf("時")+1,data.overTime.length-1)
                    }
                    //有休残日数
                    if(data.npaidRestDaysHour){
                        this.dutyAndRelaxData.npaidRestDaysHour[0]=data.npaidRestDaysHour.substring(0,data.npaidRestDaysHour.indexOf("日"))
                        this.dutyAndRelaxData.npaidRestDaysHour[1]=data.npaidRestDaysHour.substring(data.npaidRestDaysHour.indexOf("日")+1,data.npaidRestDaysHour.indexOf("時"))
                        this.dutyAndRelaxData.npaidRestDaysHour[2]=data.npaidRestDaysHour.substring(data.npaidRestDaysHour.indexOf("時")+1,data.npaidRestDaysHour.length-1)
                    }

                }
            },
            handleClose() {
                this.errorFlag = false
                this.isShow = false
                this.$emit('close')
            },
            //一覧から日次実績をクリックする
            async showDay(e) {
                // 業登録画面表示
                if (!e) {
                    var today = Utils.formatDate(new Date(), 'YYYY/MM/DD')
                    var yyyymm = Utils.formatDate(new Date(), 'YYYY/MM')
                    this.query.txtDYYYYMMDD = today
                    this.txtDYYYYMMDD = today
                    this.query.today = today
                    this.query.targetDate = today
                    this.query.txtDYYYYMM = yyyymm + "/01"
                }
                this.isShow = true
                this.dailyloading = true

                // 就業登録画面項目クリアする
                this.categoryNonduty = ''
                this.categoryOverhours = ''
                this.dailyEdit = []
                this.workData0 = []
                this.detailNonDutyVOList = []
                this.detailOverhoursVOList = []

                this.title = '  '

                this.query.txtAction = 'ACT_EDITINP_RDAILY'
                this.bFixed = false
                this.bHoliday = false
                // 業登録画面データ取得
                await this.dailyDetail()
                this.dailyloading = false
            },
            // 就業登録画面情報取得・設定する
            async dailyDetail() {
                // 画面情報取得
                const {data} = await this.http.get('sys/tmgResults/dailyDetail', this.query)

                // 就業区分ドロップダウン
                this.workingIdList = data.workIdList

                // 出張ドロップダウン
                this.businessTripList = data.businessTripList

                // 非勤務ドロップダウン
                this.categoryNondutyList = data.categoryNondutyList
                this.categoryNonduty = this.categoryNondutyList[0].itemCode

                // 超過勤務ドロップダウン
                this.categoryOverhoursList = data.categoryOverhoursList
                this.categoryOverhours = this.categoryOverhoursList[0].itemCode
                this.mgdCsparechar4VOList = data.mgdCsparechar4VOList

                // 詳細:欠勤離籍以外
                this.workData0 = data.dailyDetail0List

                // 就業実績
                this.dailyEdit = data.dailyEditVO

                if (('TMG_DATASTATUS|9' === this.dailyEdit.tdaCstatusflg || 'TMG_DATASTATUS|5' === this.dailyEdit.tdaCstatusflg)
                    && '' !== this.dailyEdit.tdaCmodifieruseridR
                    && '' !== this.dailyEdit.tdaDmodifieddateR
                ) {
                    this.bApproved = true
                } else {
                    this.bApproved = false
                }

                // 登録ボタンとコメントのみ登録ボタンの表示制御
                this.bFixed = !data.isEditable
                if (data.workIdList.length < 2) {
                    this.bHoliday = true
                }

                //就業入力サイトでの就業実績編集機能を使用するか判定し値を返却します
                this.isEdiTableResult4Inp = data.isEdiTableResult4Inp

                this.isCommonDiscretionaryLabor = data.isCommonDiscretionaryLabor
                this.isDiscretion = data.isDiscretion

                if (this.dailyEdit.tdaNopenR !== this.dailyEdit.tdaNopenTp) {
                    this.bOpen = true
                } else {
                    this.bOpen = false
                }
                if (this.dailyEdit.tdaNcloseR !== this.dailyEdit.tdaNcloseTp) {
                    this.bClose = true
                } else {
                    this.bClose = false
                }

                if (this.isEdiTableResult4Inp) {
                    this.dailyEdit.tdaNcloseR = this.dailyEdit.tdaNopenRHidden
                    this.dailyEdit.tdaNcloseR = this.dailyEdit.tdaNcloseRHidden
                }

                if (this.dailyEdit.tdaNopenTp === null) {
                    this.dailyEdit.tdaNopenTp = '---'
                }
                if (this.dailyEdit.tdaNcloseTp === null) {
                    this.dailyEdit.tdaNcloseTp = '---'
                }
                if (this.isDiscretion) {
                    this.dailyEdit.tdaNopenN = '---'
                    this.dailyEdit.tdaNcloseN = '---'
                }

                this.workingId = this.dailyEdit.tdaCworkingidR
                this.businessTrip = this.dailyEdit.tdaCbusinesstripidR
                this.title = this.dailyEdit.tdaDyyyymmddDy

                if (this.dailyEdit.tdaCerrcode !== null) {
                    let tempErrCode = JSON.parse(this.dailyEdit.tdaCerrcode)
                    Object.keys(tempErrCode).some(e => {
                        if (e === 'ERRTYPE_10') {
                            this.$Notice.error({desc: tempErrCode.ERRTYPE_10[0].ERRMSG})
                            return true
                        }
                    })
                }
                this.workData = [
                    {
                        workTime: '予定時間',
                        workStart: this.dailyEdit.tdaNopenN,
                        workEnd: this.dailyEdit.tdaNcloseN,
                        cellClassName: {
                            workTime: 'sub-title'
                        }
                    },
                    {
                        workTime: '打刻',
                        workStart: this.dailyEdit.tdaNopenTp,
                        workEnd: this.dailyEdit.tdaNcloseTp,
                        cellClassName: {
                            workTime: 'sub-title'
                        }
                    },
                    {
                        workTime: '就業時間',
                        workStart: this.dailyEdit.tdaNopenR,
                        workEnd: this.dailyEdit.tdaNcloseR,
                        isInput: true,
                        cellClassName: {
                            workTime: 'sub-title'
                        }
                    }]
                this.workData0.forEach(e => {
                    this.workData = this.workData.concat(
                        {
                            workTime: e.tdadCnotworkName,
                            workStart: e.tdadNopenHhmi,
                            workEnd: e.tdadNcloseHhmi,
                            cellClassName: {
                                workTime: 'sub-title'
                            }
                        }
                    )
                })
                // 非勤務
                this.detailNonDutyVOList = data.detailNonDutyVOList
                // 超過勤務
                this.detailOverhoursVOList = data.detailOverhoursVOList
                //
                const turnLine = Vue.filter('turnLine');
                this.dailyLog = data.columnsDailyLog.map(e => {
                    return {
                        ...e,
                        cchangelogstr: turnLine(e.cchangelogstr)

                    }
                })
                let limitOfBasedateVO = data.limitOfBasedateVO
                this.overHourLimit = limitOfBasedateVO.dailyConvMinute
                this.otDaily = limitOfBasedateVO.otDaily
                this.targetForOverTime = data.targetForOverTime
                this.changeWorkingID(this.workingId),

                    console.log(this.bHoliday)
                console.log(this.bFixed)
                console.log(this.isEdiTableResult4Inp)

            },
            //コメントのみ登録
            updateInp: Debounce(function () {
                this.tmgResultsDto.txtAction = 'ACT_EDITINP_UCOMMENT'
                this.tmgResultsDto.holiday = this.bHoliday
                this.tmgResultsDto.workingId = this.workingId
                this.tmgResultsDto.txtDYYYYMMDD = this.txtDYYYYMMDD
                this.tmgResultsDto.selMgdCbusinessTrip = this.businessTrip
                this.tmgResultsDto.txtTdaNopenR = this.dailyEdit.tdaNopenR
                this.tmgResultsDto.txtTdaNcloseR = this.dailyEdit.tdaNcloseR
                this.tmgResultsDto.tdaCowncommentR = this.dailyEdit.tdaCowncommentR

                if (this.tmgResultsDto.tdaCowncommentR !== null && this.getLengthB(this.tmgResultsDto.tdaCowncommentR) > 100) {
                    this.$Notice.error({desc: "中断備考が設定値を超えています。全角・半角カナ50字以内、半角英数100字以内。"})
                    return false
                }
                this.http.post('sys/tmgResults/updateInp', this.tmgResultsDto)
                this.isShow = false
            }),
            //登録
            async updateDaily() {
                console.log(this.workData)
                if (!this.errorCheck(this.workingId)) {
                    return
                }
                this.updateDailyLoading = true

                this.tmgResultsDto.txtDYYYYMMDD = this.txtDYYYYMMDD
                this.tmgResultsDto.txtAction = 'ACT_EDITINP_UDAILY'

                this.tmgResultsDto.workingId = this.workingId
                this.tmgResultsDto.selMgdCbusinessTrip = this.businessTrip
                this.tmgResultsDto.txtTdaNopenR = ''
                this.tmgResultsDto.txtTdaNcloseR = ''
                this.tmgResultsDto.hasAuthority = ''
                this.tmgResultsDto.tdaCowncommentR = this.dailyEdit.tdaCowncommentR
                this.tmgResultsDto.holiday = this.bHoliday
                if (!this.bDisable) {
                    this.tmgResultsDto.txtTdaNopenR = this.workData[2].workStart
                    this.tmgResultsDto.txtTdaNcloseR = this.workData[2].workEnd
                    this.tmgResultsDto.nonDutyList = this.detailNonDutyVOList
                    this.tmgResultsDto.overHoursList = this.detailOverhoursVOList
                    if (this.bFixed || this.bHoliday) {
                        this.tmgResultsDto.hasAuthority = false
                    } else {
                        this.tmgResultsDto.hasAuthority = true
                    }
                }
                try {
                    const {msg} = await this.http.post('sys/tmgResults/updateDaily', this.tmgResultsDto)
                    if (msg === '0') {
                        this.updateDailyLoading = false
                        this.isShow = false
                        this.getTitleData()
                        return
                    }
                    this.errMsg = JSON.parse(msg)
                    let errMsg20
                    let check = Object.keys(this.errMsg).some(e => {
                        if (e === 'ERRTYPE_10') {
                            this.$Notice.error({desc: this.errMsg.ERRTYPE_10[0].ERRMSG})
                            return true
                        }
                        if (e === 'ERRTYPE_20') {
                            this.errMsg.ERRTYPE_20.forEach(e20 => {
                                errMsg20 = errMsg20 + e20.ERRMSG + '/n'
                            })
                            this.$Notice.error({desc: errMsg20})
                        }

                    })
                    if (check) {
                        return false
                    }
                } catch (error) {
                    return
                } finally {
                    this.updateDailyLoading = false
                }

            },// 就業区分の切り替え表示制御
            changeWorkingID(workingid) {
                this.bDisable = false
                // 休暇
                if (this.bHoliday) {
                    this.bDisable = true
                    this.workTimeDisable = true
                    // 休暇以外
                } else {
                    let mgdCsparechar4VO = this.mgdCsparechar4VOList.find(e => e.mgdCmastercode === workingid)
                    // 出勤 or 休日出勤
                    if (mgdCsparechar4VO.mgdCsparechar5 == '0') {
                        this.bDisable = false
                        this.workTimeDisable = false
                        // 欠勤
                    } else {
                        this.bDisable = true;
                        this.workTimeDisable = true
                    }
                }
                if (this.bDisable === true) {
                    this.workData[2].workStart = ''
                    this.workData[2].workEnd = ''
                    this.detailNonDutyVOList = []
                    this.detailOverhoursVOList = []

                }
            },
            // エラーチェック
            errorCheck(workingid) {
                let mgdCsparechar4VO = this.mgdCsparechar4VOList.find(e => e.mgdCmastercode === workingid)
                // 出勤 or 休日出勤
                if (mgdCsparechar4VO.mgdCsparechar5 != '0') {
                    return true;
                }
                // 修正出社時刻形式
                if (this.workData[2].workStart === null || !this.time_check(this.workData[2].workStart)) {
                    this.$Notice.error({desc: "就業時間・始業は適切な時刻ではありません。(hh:mm)形式で時刻を入力してください。"})
                    return false;
                }

                // 修正退社時刻形式
                if (this.workData[2].workEnd === null || !this.time_check(this.workData[2].workEnd)) {
                    this.$Notice.error({desc: "就業時間・終業は適切な時刻ではありません。(hh:mm)形式で時刻を入力してください。"})
                    return false;
                }

                if (this.dailyEdit.tdaCowncommentR !== null && this.getLengthB(this.dailyEdit.tdaCowncommentR) > 100) {
                    return false;
                }

                //非勤務
                const checkNonDuty = this.detailNonDutyVOList.some(e => {

                    if (e.tdadNopen === null || !this.time_check(e.tdadNopen)) {
                        this.$Notice.error({desc: "非勤務の開始時刻は適切な時刻ではありません。(hh:mm)形式で時刻を入力してください。時間の範囲は48:00以内で指定してください。"})
                        return true;
                    }
                    if (e.tdadNclose === null || !this.time_check(e.tdadNclose)) {
                        this.$Notice.error({desc: "非勤務の終了時刻は適切な時刻ではありません。(hh:mm)形式で時刻を入力してください。"})
                        return true;
                    }
                    if (e.tdadCsparechar1 !== null && this.getLengthB(e.tdadCsparechar1) > 100) {
                        this.$Notice.error({desc: "中断備考が設定値を超えています。全角・半角カナ50字以内、半角英数100字以内。"})
                        return true
                    }
                })
                if (checkNonDuty) return false
                // 超過勤務
                const checkOverhour = this.detailOverhoursVOList.some(e => {

                    if (e.tdadCsparechar1 !== null && e.tdadCsparechar1.length > 100) {
                        this.$Notice.error({desc: "超過勤務備考が設定値を超えています。全角・半角カナ50字以内、半角英数100字以内。"})
                        return true
                    }
                })
                if (checkOverhour) return false
                let nOverTimeTotal = 0;
                // 超過勤務命令の明細部配下を行単位で取得
                this.detailOverhoursVOList.forEach(e => {
                    // 超過勤務命令の時間数を算出
                    let sOpen = this.toMinuteFromHHcMI60(e.tdadNopen);
                    let sClose = this.toMinuteFromHHcMI60(e.tdadNclose);
                    nOverTimeTotal = nOverTimeTotal + (sClose - sOpen);
                })
                // 超過勤務命令時間が入力されていて、超過勤務対象「無」の場合は警告メッセージを表示する
                if (nOverTimeTotal > 0 && this.targetForOverTime === "1") {
                    // 警告メッセージの表示および、応答の確認

                    if (!confirm('超過勤務対象外として設定されています。\n超過勤務命令を登録してもよろしいですか？')) {
                        return false
                    }
                }
                // 超過勤務命令時間数合計が登録された超勤限度時間を超える場合は警告メッセージを表示する
                if (nOverTimeTotal > this.overHourLimit) {
                    // 警告メッセージの表示および、応答の確認
                    if (!confirm('超過勤務命令の時間数が' + this.otDaily + '時間を超えています。\nこの超過勤務時間で登録してよろしいですか？')) {
                        return false
                    }
                }
                return true;
            },
            getLengthB(moji) {
                let i, j, cnt = 0;
                let multiStr = new Array("×", "§", "¨", "°", "±", "´", "¶");
                for (i = 0; i < moji.length; i++) {
                    for (j = 0; j < multiStr.length; j++) {
                        if (multiStr[j].length == 0) {
                            continue;
                        }
                        moji = moji.replace(multiStr[j], "00");
                    }
                }
                // MAC OSの場合、改行コードが「\n」となり、Windowsの改行コード「\r\n」とバイト数が異なるので、
                moji = moji.split("\r\n").join("\n"); // 一旦「\r\n」 ⇒ 「\n」の変換を行い、改行コードを「\n」に合わせる。
                // バイト数を求めます。
                for (i = 0; i < moji.length; i++)
                    if (escape(moji.charAt(i)).length >= 4) cnt += 2; else cnt++;
                return cnt;
            },
            time_check(sTime) {
                return sTime.match(/^(([0-3]?[0-9])|([4][0-7])):([0-5]?[0-9])$/);
            },
            toHHHcMI60FromHHHMI60(pHHMM) {
                let colonSTR = ':';
                let retHHMM;
                let bColonIs = 0
                if (!pHHMM.match(/^\d{2}([0-5]?[0-9])$/)) {
                    // フォーマットが不正である場合は入力された値をそのまま返す
                    return pHHMM;
                }
                if (pHHMM.length < 3) {
                    return "0:" + pHHMM;
                }
                // ３桁の場合
                if (pHHMM.length === 3) {
                    retHHMM = pHHMM.substring(0, 1) + colonSTR + pHHMM.substring(1, 3);
                    // ４桁の場合
                } else {
                    retHHMM = pHHMM.substring(0, 2) + colonSTR + pHHMM.substring(2, 4);
                }
                return retHHMM;
            },
            toMinuteFromHHcMI60(pHHMM) {
                // 何もパラメータが渡されなかった場合、そのまま返す
                if (pHHMM === '') {
                    return '';
                }
                let retMinute;
                let nHour = new Number();
                let nMinute = new Number();
                // 分に変換します
                nHour = eval(+(pHHMM.split(":")[0] * 60));
                nMinute = eval(+(pHHMM.split(":")[1]));
                retMinute = eval(nHour + nMinute);
                return retMinute;
            },

            rowClass(row) {
                if (row.today) {
                    return 'select-col sun'
                }
                if (!row.dayDivisionCode || row.dayDivisionCode === '1') {
                    return 'select-col'
                }
                return 'select-col sat'
            },
            dayRed(e) {
                const dayOfWeek = e.TMG_HOLFLG
                if (!dayOfWeek) {
                    return
                }
                if (dayOfWeek.trim() != 'TMG_HOLFLG|0') {
                    return 'blue'
                }
                if (e.TDA_DYYYYMMDD === this.today) {
                    return 'brown'
                }
            },
            handleInputChange(i, object, value, el) {
                // 填完后自动checkbox
                if (object) {
                    this.hasPassedTimeCheck = Utils.checkTime(object, value, el)
                }
            },
            addNotWork() {
                let categoryNondutyVO = this.categoryNondutyList.find(e => e.itemCode === this.categoryNonduty)

                this.detailNonDutyVOList.push({
                    attributeUrl: categoryNondutyVO.attributeUrl,
                    tdadCnotworkid: categoryNondutyVO.itemCode,
                    itemName: categoryNondutyVO.itemName,
                    tdadNdeleteflg: "0",
                    tdadNopen: '',
                    tdadNclose: '',
                    tdadSeq: Date.now(),
                    tdadCsparechar1: '',
                    tdadNsparenum1: null

                })

            },
            addOverWork() {
                let detailOverhoursVO = this.categoryOverhoursList.find(e => e.itemCode === this.categoryOverhours)

                this.detailOverhoursVOList.push({
                    attributeUrl: detailOverhoursVO.attributeUrl,
                    tdadCnotworkid: detailOverhoursVO.itemCode,
                    itemName: detailOverhoursVO.itemName,
                    tdadNopen: '',
                    tdadNclose: '',
                    tdadNdeleteflg: '0',
                    tdadSeq: Date.now(),
                    tdadCsparechar1: '',
                    tdadNsparenum1: '',
                    tdadCcode01: '',
                    tdadCcode01Name: '',
                    tdadCsparechar2: '',
                    tdadCsparechar2Name: ''

                })
            },
            delNotWork(row) {
                this.detailNonDutyVOList = this.detailNonDutyVOList.filter(e => e.tdadSeq !== row.tdadSeq)
            },
            delOverWork(row) {
                this.detailOverhoursVOList = this.detailOverhoursVOList.filter(e => e.tdadSeq !== row.tdadSeq)
            }
        }
    })
</script>
</body>

</html>