<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='打刻',cssPaths='/pages/content.min.css,' + '/pages/sign.min.css')">
</head>

<body th:with="baseUrl = ${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath()}">
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <!-- 菜单导航栏 -->
    <div th:replace="layout/sider"></div>
    <style>
        .content {
            background-color: var(--orange25);
            min-height: 100vh;
        }
        .orange {
            color: var(--orange);
        }
        .card {
            border-radius: 5px;
            height: 163px;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
            background: white;
        }
        .title {
            text-align: left;
    font-size: 20px;
    padding: 20px 0 0 18px;

        }
        .num {
            font-size: 80px;
    position: relative;
    display: inline-block;
    margin-top: -20px;
    margin-right: 15px;
        }
        .lp {
            position: absolute;
    right: 48px;
    bottom: 15px;
    font-size: 35px;
        }
        .title-wrap {
            height: 40px;
        }

@media (max-width: 1600px) {

}
.schedule:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 38px;
      z-index: 1;
      width: 100%;
      height: 1px;
      border-top: solid 1px rgb(206 ,206, 206);
    }
    </style>

    <svg:replace="layout/icons::svg_icons"></svg>
    <main class="content">
        <Row class="stamp-warp tc" ref="stamp">
            <i-col span="8" offset="1">
                <Clock ref="clock"></Clock>
                <Row :gutter="16" style="padding: 0 20px;">
                    <i-col span="12"><i-button style="font-size:20px;border-radius: 23px;height: 50px;border-color:rgb(255,102,0);background: linear-gradient(90deg, rgb(255,157,93), rgb(255,102,0));" type="primary" long>出勤</i-button></i-col>
                    <i-col span="12" class="mb20"><i-button style="font-size:20px;border-radius: 23px;height: 50px;border-color: rgb(230,222,201);
                        background: linear-gradient(90deg, rgb(254 222 117), rgb(255 186 0));" type="primary" long>退勤</i-button></i-col>
                    <i-col span="24"><i-button style="font-size:20px;border-radius: 23px;height: 50px;background-color: white;" type="warning" ghost long>超勤申請</i-button></i-col>
                </Row>
            </i-col>
            <i-col span="13" class="pl20 pt20">
                <Row>
                    <i-col span="11" class="card mb20">
                        <div class="orange title">月間出勤日数</div>
                        <span class="num">17</span>
                        <span class="lp" >日</span>
                    </i-col>
                    <i-col span="11" offset="1"  class="card mb20">
                        <div class="orange title">有休残日数</div>
                        <span class="num">5</span>
                        <span class="lp" >時</span>
                    </i-col>
                    <i-col span="11" class="card">
                        <div class="orange title">月間実働時間</div>
                        <span class="num">150</span>
                        <span class="lp">時</span>
                    </i-col>
                    <i-col span="11"  offset="1" class="card">
                        <div class="orange title">残業時間</div>
                        <span class="num">20</span>
                        <span class="lp" >時</span>
                    </i-col>
                </Row>
            </i-col>
            <i-col span="21" class="mt30" style="margin-left: 5.2%;width: 84.4%;">
                <div class="schedule">
                    <div class="title-wrap">
                        <div class="time-title">時間</div>
                        <div class="plan-title">本日の勤務予定</div>
                    </div>
                    <ul class="time-list">
                        <li class="li" v-for="(item, i) of scheduleTime" :key="i">{{ item }}</li>
                        <span :class="isActivated ? 'real-schedule stamp-actived' : 'real-schedule stamp-deactived'"
                        v-for="(item, i) of dynamicSchedule" :key="i" :style="item.style">
                        {{ item.time }}
                    </span>
                    </ul>
                </div>
            </i-col>
        </Row>

    </main>
    <script th:src="${baseUrl + '/static/component/Clock.js'}"></script>
    <div th:replace="layout/head::header"></div>
    <script type="text/babel" th:inline="javascript">
        const SIGN = new Vue({
            el: '.stamp-warp',
            components: { Clock },
            data() {
                return {
                    isShow: false,
                    data: {
                        serverTime: 0,
                        clockOnTime: '',
                        clockOffTime: '',
                        scheduleStartTime: '',
                        scheduleEndTime: ''
                    },
                    scheduleData: ['9:30-12:00', '13:30-18:30'],
                    scheduleTime:Utils.getNumArray(0, 29).map(e => `0${e}`.slice(-2) + ':00'),
                    checkInLoading: false,
                    checkOutLoading: false
                }
            },
            async mounted() {
                await this.getData()
                this.$refs.clock.showTime()
            },
            beforeDestroy() {
                this.$refs.clock.cleanClock()
            },
            computed: {
                isActivated() {
                    if (this.data.clockOnTime && !this.data.clockOffTime) return true
                    return false
                },
                dynamicSchedule() {
                    const that = this
                    const topHelper = this.scheduleData[0].split('-')[0].split(':')[0] * 60
                    return this.scheduleData.map(e => {
                        const startTime = Utils.timeToMinute(e.split('-')[0])
                        const endTime = Utils.timeToMinute(e.split('-')[1])
                        const contentHeight = ((endTime - startTime) / 60) * 45
                        const top = ((startTime - topHelper) / 60) * 45 + 60
                        return {
                            time: e,
                            style: {
                                height: `${contentHeight}px`,
                                lineHeight: `${contentHeight}px`,
                                top: `${top}px`
                            }
                        }
                    })
                },

            },
            methods: {
                getData() {
                    // try {
                    //   const { data } = await this.api.checkIn('fetch')
                    //   this.data = data
                    //   this.scheduleData = [
                    //     `${this.data.scheduleStartTime}-${this.data.scheduleEndTime}`
                    //   ]
                    //   this.data.serverTime = Date.parse(this.data.serverTime) - 1000
                    //   return
                    // } catch (e) {
                    //   console.log(e)
                    //   this.data.serverTime = Date.now()
                    // }
                    localStorage.setItem('Mobile_Sever_Time', Date.now())
                    localStorage.setItem('Mobile_Local_Time', Date.now())
                    this.data.serverTime = Date.now()
                    console.log(this.data.serverTime)
                },
                workApply() {
                    this.isShow = true
                },
                async handleStamp(clockType) {
                    if (clockType === '1') this.data.clockOnTime = Utils.formatDate(Date.now())
                    else this.data.clockOffTime = Utils.formatDate(Date.now())
                    // try {
                    //   if (clockType === '1') this.checkInLoading = true
                    //   else this.checkOutLoading = true
                    //   await this.api.checkIn('stamp', { clockType })
                    //   this.getData()
                    //   return
                    // } catch (e) {
                    //   console.log(e)
                    // } finally {
                    //   if (clockType === '1') this.checkInLoading = false
                    //   else this.checkOutLoading = false
                    // }
                }
            }
        })
    </script>
</body>

</html>