<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head
        th:replace="layout/header::common_header(title='予定確認',cssPaths='/pages/content.min.css')">
</head>

<body>
<div th:replace="layout/loadingBar::loadingBar"></div>
<!-- 菜单导航栏 -->
<div th:replace="layout/sider"></div>
<main class="content oconfirm-warp" ref="layout">
    <div class="content_head">
        <div class="header">
            <div class="title1">
                <h1>
                    <Icon type="i-emeer colored"></Icon>
                    予定確認
                </h1>
            </div>
        </div>
        <div class="searchwrap">
            <span class="label">年月</span>
            <i-select v-model="defaultDate" class="mr30" @on-change="handleStartMonth($event)"
                      placeholder="選択ください">
                <i-option v-for="(item, index) of dispMonthlyList" :key="index" :label="item.tda_dyyyymm" :value="item.tda_dyyyymm">
                </i-option>
            </i-select>
            <span class="label">所属</span>
            <span class="input-like-span width15">
                <Tooltip trigger="hover"　:theme="toolTipTheme()" transfer　v-if="kanjiName">{{ sectionName }}
                    <div slot="content">{{ sectionName }}</div>
                </Tooltip>
            </span>
        </div>
    </div>
    <div class="content_body">
        <div style="position: relative;">
            <Row :gutter="10" class="mt5 mb15 tc">
            <i-col span="4">
                <div class="label">公休日数</div>
                <div class="person-info tc">{{paidHolidayVO.nationalHolidayDays?`${paidHolidayVO.nationalHolidayDays}日`:''}}</div>
            </i-col>
            <i-col span="4">
                <div class>
                    <div class="label">基準日数</div>
                    <div class="person-info tc">{{paidHolidayVO.dateOfRecordDays?`${paidHolidayVO.dateOfRecordDays}日`:''}}</div>
                </div>
            </i-col>
            <i-col span="4">
                <div class="label">基準時間</div>
                <div class="person-info tc">{{paidHolidayVO.dateOfRecord}}</div>
            </i-col>
                <i-col span="4">
                    <div class="label">基準平均勤務時間</div>
                    <div class="person-info tc">{{paidHolidayVO.avgWorkTime?`${Math.trunc(paidHolidayVO.avgWorkTime/60)}時間 ${paidHolidayVO.avgWorkTime%60}分`:''}}</div>
                </i-col>
            <i-col span="4">
                <div class="label">年次休暇残</div>
                <div class="person-info tc">{{paidHolidayVO.npaidRestDaysHour}}</div>
            </i-col>
                <i-col span="4">
                    <div class="label">発令</div>
                    <div class="person-info tc">{{hatuReiName}} {{hatuResTimeRange}}</div>
                </i-col>
        </Row>

            <i-table :class="tableHeadFixed ? 'table-head-fixed long-table' : 'long-table'" no-data-text="所属から職員を選んでください。" border :columns="columns"
                :row-class-name="() => 'select-col'" :disabled-hover="true" :data="scheduleDataDTOList" >

            <template slot-scope="{ row }" slot="intDay">
                <span :class="dayRed(row)">{{`${row.tda_nmmdd}　${row.tda_nmmday}`}}</span>
            </template>

            <template slot-scope="{ row }" slot="workDivision">
                <span :class="dayRed(row)">{{ row.tda_cworkingid_mm }}</span>
            </template>

            <template slot-scope="{ row }" slot="workFar">
                <span>{{ row.tda_cbusinesstripid_mm=='なし'?'':row.tda_cbusinesstripid_mm }}</span>
            </template>

            <template slot-scope="{ row}" slot="workStartFinal">
                <span>{{row.tda_nopen_p }}</span>
            </template>

            <template slot-scope="{ row }" slot="workEndFinal">
                <span>{{ row.tda_nclose_p}}</span>
            </template>

            <template slot-scope="{ row }" slot="restTimeList">
                <span v-for="(item,i) of row.timerange_arr">{{i==0?"":" / "}}{{item.NOPEN |handleTime }}-{{item.NCLOSE | handleTime}} </span>
            </template>

            <template slot-scope="{ row }" slot="remark">
                <span>{{ row.tda_ccomment_p }}</span>
            </template>

        </i-table>
            <Spin size="large" fix v-if="loading"></Spin>
        </div>
    </div>
    <back-top></back-top>
</main>
<div th:replace="layout/head::header"></div>
<script type="text/babel" th:inline="javascript">
    const WORK_YEAR_SCHEDULE = new Vue({
        el: '.oconfirm-warp',
        data() {
            return {
                defaultDate: '', //年月选择（Date）
                dispMonthlyList: [],       //年月リスト
                hatuReiName:'',
                hatuResTimeRange:'',
                today:Utils.formatDate(new Date(),'YYYY/MM/DD'),
                scheduleDataDTOList:[],
                yyyyMMdd:'',
                paidHolidayVO:{},
                selectScheduleInfo:{},
                loading: false,　       //ローディングアクション
                index: 0,
                contentScrollTop: 0,
                kanjiName: [[${ session.psSession.loginKanjiName }]],　　 //ログインしたユーザの氏名
                loginEmployee: [[${ session.psSession.loginEmployee }]],  //ログインしたユーザの職員番号
                sectionName: [[${ session.psSession.loginDesignation[0].sectionName }]],　 //ログインしたユーザの所属
                query: {
                    employeeId: [[${ session.psSession.loginEmployee }]],　 //組織ツリーで選択した職員番号
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href,'psApp'),
                    txtBaseDate:'',
                    txtEndDate:'',
                }
            }
        },
        async mounted() {
            this.selectScheduleDateList()
            window.addEventListener('scroll',this.handleScroll,{ passive: true })
        },
        beforeDestroy() {
            window.removeEventListener('scroll',this.handleScroll,{ passive: true })
        },
        computed: {
            tableHeadFixed() {
                if (this.contentScrollTop > 300) return true
                else return false
            },
            columns() {
                return [
                    {
                        title: '日',
                        slot: 'intDay',
                        width: 100,
                        align: 'center'
                    },
                    {
                        title: '区分',
                        minWidth: 36,
                        slot: 'workDivision',
                        align: 'center'
                    },
                    {
                        title: '出張',
                        slot: 'workFar',
                        align: 'center'
                    },
                    {
                        title: '勤務予定',
                        align: 'center',
                        children: [
                            {
                                title: '始業',
                                align: 'center',
                                minWidth: 36,
                                slot: 'workStartFinal'
                            },
                            {
                                title: '終業',
                                minWidth: 36,
                                slot: 'workEndFinal',
                                align: 'center'
                            }
                        ]
                    },
                    {
                        title: '休憩',
                        minWidth: 300,
                        className: 'checkin change-line',
                        slot: 'restTimeList',
                        align: 'center'
                    },
                    {
                        title: '申請・命令',
                        minWidth: 70,
                        key: 'tda_cmessage',
                        align: 'center'
                    },
                    {
                        title: 'コメント',
                        minWidth: 70,
                        slot: 'remark',
                        tooltip: true,
                        align: 'center'
                    }
                ]
            }
        },
        methods: {
            async getSelectScheduleInfo() {
                this.loading=true
                try {
                    const { data } = await this.http.get(`sys/schedule/selectScheduleInfo`, this.query)
                    this.selectScheduleInfo=data
                    this.paidHolidayVO=this.selectScheduleInfo.paidHolidayVO
                    this.scheduleDataDTOList=this.selectScheduleInfo.scheduleDataDTOList
                    this.yyyyMMdd=this.selectScheduleInfo.period
                } catch (error) {
                    return
                } finally {
                    this.loading = false
                }
            },
            async selectScheduleDateList() {
                try {
                    const query = {
                        employeeId:this.query.employeeId,
                        psSite:this.query.psSite,
                        psApp:this.query.psApp,
                        baseDate:Utils.formatDate(new Date(),'YYYY-MM-DD')
                    }
                    const {data}=await  this.http.get(`sys/schedule/selectScheduleDateList`,query)
                    this.dispMonthlyList = data
                    this.defaultDate=this.dispMonthlyList[0].tda_dyyyymm
                    this.query.txtBaseDate=this.dispMonthlyList[0].tda_firstDay
                    this.query.txtEndDate=this.dispMonthlyList[0].tda_endDay
                    await this.getSelectScheduleInfo()
                    this.getHatuRei()
                } catch (error) {
                    return
                }
            },
            async handleStartMonth(e) {
                let select=this.dispMonthlyList.find(item=> item.tda_dyyyymm==e )
                this.query.txtBaseDate=select.tda_firstDay
                this.query.txtEndDate=select.tda_endDay

                await this.getSelectScheduleInfo()
            },
            dayRed(e) {
                const dayOfWeek = e.holflgCalendar
                if (!dayOfWeek) {
                    return
                }
                if (dayOfWeek.trim() != 'TMG_HOLFLG|0') {
                    return 'blue'
                }
                if (e.tda_ccustomerid == this.today) {
                    return 'brown'
                }
            },
            async getHatuRei() {
                try {
                    let txtBaseDate= this.yyyyMMdd.split('～')[0].replace(/(.+?)\年(.+?)\月(.+)\日/,"$1/$2/$3")
                    const query = {txtBaseDate:txtBaseDate}
                    const { data } =  await this.http.get(`sys/schedule/hatuRei`, query)
                    this.hatuReiName=data.name
                    this.hatuResTimeRange=data.timerange
                } catch (error) {
                    return
                }finally {

                }
            },

            handleScroll: Throttle(function(e) {
                this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
            }, 50)
        }
    })
</script>
</body>

</html>