<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head
    th:replace="layout/header::common_header(title='休暇・休業申請',cssPaths='/pages/content.min.css,' + '/pages/restApply.min.css')">
</head>

<body>
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <main class="content restApply-warp tc">
        <div class="content_body">
            <Row>
                <i-col span="7">
                    <div class="vacation-type-warp">
                        <div class="label">{{ this.rotate ? '照会区分' : '申請区分' }}</div>
                        <i-select v-model="restApply.restTypeId" @on-change="handleRestType"
                            class="mb10 no-border-radius" ref="select">
                            <i-option value="全て" v-show="this.rotate">全て</i-option>
                            <option-group v-for="item of restTypeList" :key="item.value" :label="item.label">
                                <i-option v-for="e of item.children" :value="e.value" :key="e.value">{{ e.label }}
                                </i-option>
                            </option-group>
                        </i-select>
                        <section v-show="selectedRestInfo.info">
                            <Divider size="small" orientation="left">注意事項</Divider>
                            <Alert class="primary-info mb20" style="white-space: pre-line;">{{ selectedRestInfo.info }}
                            </Alert>
                        </section>
                        <Divider size="small" orientation="left">年次有給休暇</Divider>
                        <Row class="ft13 mb5 mt15">
                            <i-col span="12">
                                <p class="head-info mr1">期間</p>
                            </i-col>
                            <i-col span="6">
                                <p class="head-info mr1">残日数</p>
                            </i-col>
                            <i-col span="6">
                                <p class="head-info">残時間数</p>
                            </i-col>
                        </Row>
                        <Row class="mb20 ft13 border">
                            <i-col span="12" class="mb10">
                                <p class="mb5">2010/12/31まで</p>
                                <p>2020/01/01から</p>
                            </i-col>
                            <i-col span="6">
                                <p class="mb5">19.0日</p>
                                <p>39.0日</p>
                            </i-col>
                            <i-col span="6">
                                <p class="mb5">6時間 45分</p>
                                <p>6時間 45分</p>
                            </i-col>
                        </Row>
                        <Divider size="small" orientation="left">特別休暇(子の看護)</Divider>
                        <Row class="ft13 mb5 mt15">
                            <i-col span="12">
                                <p class="head-info mr1">期間</p>
                            </i-col>
                            <i-col span="6">
                                <p class="head-info mr1">残日数</p>
                            </i-col>
                            <i-col span="6">
                                <p class="head-info">残時間数</p>
                            </i-col>
                        </Row>
                        <Row class="mb20 ft13 border">
                            <i-col span="12">
                                <p class="mb5">2010/12/31まで</p>
                            </i-col>
                            <i-col span="6">
                                <p class="mb5">4.0日</p>
                            </i-col>
                            <i-col span="6">
                                <p class="mb5">0時間 00分</p>
                            </i-col>
                        </Row>
                    </div>
                </i-col>
                <i-col span="16" offset="1">
                    <Card title="申請状況一覧" :class="!rotate ? 'card card-two' : 'card card-two rotate-360'"
                        :loading="loading">
                        <i-button type="primary" ghost size="small" class="mr5"
                            style="position:relative;right:445px;font-size:14px" slot="extra" @click="onRefresh">
                            申請へ
                        </i-button>
                        <radio-group :value="RadioStatusHelper" @on-change="handleRadioStatusHelper" slot="extra"
                            class="mr5">
                            <Radio :label="6">全て</Radio>
                            <Radio :label="0">待ち</Radio>
                            <Radio :label="1">済み</Radio>
                            <Radio :label="2">拒否</Radio>
                        </radio-group>
                        <i-button slot="extra" style="border-radius: 50%;" type="primary" ghost size="small" icon="md-refresh"
                            @click="getApplyHistory(true)" :loading="loading"></i-button>
                        <!-- PersonalApplyTable -->
                        <ul class="apply-history-list" @scroll.native.passive="handleScroll">
                            <!-- timeline开始，根据申请最终状态变更圆点颜色 -->
                            <li :class="handleTimelineDotShow(item.status)" v-for="(item, index) of tableData" :key="index">
                                <Row>
                                    <!-- 申请休假的时间的显示 -->
                                    <i-col span="5" style="margin-left: 4.5%" class="title">
                                        {{ handleApplyDayShow(item.dateList) }}</i-col>
                                    <!-- 承认者-状态-承认者-状态-流的展示, 状态为取消时，不显示 -->
                                    <!-- todo: 要将这个改为 次に承認者：xxxx -->
                                    <i-col span="17" style="margin-left: 2.5%" class="title" v-if="item.status !== 3">
                                        <ul style="display:flex">
                                            <li style="margin-right:10px">
                                                <span>{{ `次の承認者：${item.nextAdmin} ` }}</span>
                                                <span :class="handleApplyMarkShow(item.nextAdminStatus)" />
                                            </li>
                                        </ul>
                                    </i-col>
                                </Row>
                                <Row>
                                    <i-col span="12" style="font-weight:bold;margin-left: 4.5%" class="description">
                                        {{ item.restTypeName }}
                                    </i-col>
                                    <i-col span="2" style="margin-left: 26.3%" class="description"
                                        v-if="item.status === 0">
                                        <i-button class="cancel-btn" size="small" @click="cancel(item.applyId)">取り消し
                                        </i-button>
                                    </i-col>
                                </Row>
                                <Row>
                                    <i-col span="20" style="margin-left: 4.5%" class="description light-grey">
                                        {{ item.remark }}</i-col>
                                </Row>
                                <Row v-if="item.status === 2">
                                    <i-col span="20" style="margin-left: 4.5%" class="description red">
                                        {{ `拒否理由：${item.denyReason ? item.denyReason : 'なし'}` }}</i-col>
                                </Row>
                                <Row>
                                    <i-col span="8" offset="15" class="description light-grey mt10">
                                        {{ `申請日時：${item.updateTime}` }}</i-col>
                                </Row>
                            </li>
                            <div v-loading="listLoading" style="top:-20px"></div>
                        </ul>
                        <!-- PersonalApplyTable -->
                    </Card>
                    <Card :title="selectedRestInfo.label ? selectedRestInfo.label : '申請区分選択待ち'"
                        :class="!rotate ? 'card' : 'card rotate-180'">
                        <span class="mr5 link-span" slot="extra" @click="onRefresh">申請状況一覧へ</span>
                        <Alert type="error" class="error-info" v-show="errorInfo">{{ errorMsg }}</Alert>
                        <Divider size="small" orientation="left">期間</Divider>
                        <Row style="margin-top:10px" :gutter="16">
                            <i-col span="11">
                                <!-- 有振休 -->
                                <section v-show="!selectedRestInfo.hasChange">
                                    <Row class="mb15 tl">
                                        <radio-group v-model="timerangeType" @on-change="restApply.useVacation = false">
                                            <Radio :label="1">指定日申請</Radio>
                                            <Radio :label="2">範囲申請</Radio>
                                        </radio-group>
                                    </Row>
                                    <Row type="flex" justify="start">
                                        <date-picker :type="timerangeType === 2 ? 'daterange' : 'date'"
                                            :class="timerangeType === 3 ? 'datepicker-double' : 'datepicker-single'"
                                            style="transition: width .5s" v-model="restApply.dateList"
                                            @on-change="restApply.dateList = $event" placeholder="日付け"
                                            format="yyyy-MM-dd" ref="datePicker"></date-picker>
                                    </Row>
                                </section>
                                <!-- 没有振休-->
                                <section v-show="selectedRestInfo.hasChange" class="tl">
                                    <p class="mb5">出勤にする休日</p>
                                    <date-picker type="date" class="datepicker-single mb5" placeholder="日付け"
                                        format="yyyy-MM-dd" ref="datePicker"></date-picker>
                                    <p class="mb5">振休日とする出勤日</p>
                                    <date-picker type="date" class="datepicker-single mb5" placeholder="日付け"
                                        format="yyyy-MM-dd" ref="datePicker"></date-picker>
                                </section>

                                <!-- 有起算日-->
                                <section v-show="selectedRestInfo.hasBeginDay" class="tl mt20">
                                    <p class="mb5">起算日</p>
                                    <date-picker type="date" class="datepicker-single mb5" placeholder="日付け"
                                        format="yyyy-MM-dd" ref="datePicker"></date-picker>
                                </section>

                                <!-- 有加算日-->
                                <section v-show="selectedRestInfo.hasAddingDay" class="tl mt20">
                                    <p class="mb5">加算日</p>
                                    <date-picker type="date" class="datepicker-single mb5" placeholder="日付け"
                                        format="yyyy-MM-dd" ref="datePicker"></date-picker>
                                </section>

                                <!-- 是小时单位的-->
                                <section v-show="selectedRestInfo.hasTime" class="mt30">
                                    <Divider size="small" style="margin-top:-15px" orientation="left">時</Divider>
                                    <Row class="mb20">
                                        <i-col span="10">
                                            <i-input placeholder="開始時間" />
                                        </i-col>
                                        <i-col span="2">
                                            <p style="padding: 4px;">-</p>
                                        </i-col>
                                        <i-col span="10">
                                            <i-input placeholder="終了時間" />
                                        </i-col>
                                    </Row>
                                </section>

                                <!-- 是范围才有曜日-->
                                <section v-show="!selectedRestInfo.hasChange && timerangeType === 2">
                                    <Divider size="small" orientation="left">曜日</Divider>
                                    <Row style="margin-bottom:20px">
                                        <i-col span="7">
                                            <Checkbox v-model="weekSelectFlag">指定なし</Checkbox>
                                        </i-col>
                                        <i-col span="17">
                                            <CheckboxGroup v-model="weekSelected" @on-change="handleWeekSelect"
                                                class="tl">
                                                <Checkbox v-for="item of week" :key="item.value" :label="item.name"
                                                    class="mb5" :disabled="weekSelectFlag" />
                                            </CheckboxGroup>
                                        </i-col>
                                    </Row>
                                </section>
                            </i-col>
                            <i-col span="13">
                                <Alert class="right-info sub">
                                    <!-- 是有别人的-->
                                    <section v-show="selectedRestInfo.hasOtherOne" class="tl">
                                        <p class="mb5">氏名</p>
                                        <i-input class="mb15" />
                                        <p class="mb5">続柄</p>
                                        <i-input class="mb5" />
                                    </section>

                                    <!-- 有生年月日-->
                                    <section v-show="selectedRestInfo.hasBornDay" class="tl mt10">
                                        <p class="mb5">生年月日</p>
                                        <date-picker type="date" class="datepicker-single mb5" placeholder="日付け"
                                            format="yyyy-MM-dd" ref="datePicker"></date-picker>
                                    </section>
                                    <!-- 有伤病-->
                                    <section v-show="selectedRestInfo.hasDisease" class="tl">
                                        <p class="mb5">傷病名</p>
                                        <i-input />
                                    </section>
                                    <Divider size="small" orientation="left">添付ファイル</Divider>
                                    <Upload multiple action="/" type="drag" class="tl mt15 mb15">
                                        <div style="padding: 20px 0">
                                            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                                            <p>Click or drag files here to upload</p>
                                        </div>
                                    </Upload>
                                    <Alert class="primary-info mb20">各上限 500kBytes</Alert>
                                </Alert>
                            </i-col>
                        </Row>
                        <Divider size="small" orientation="left">申請事由</Divider>
                        <i-input v-model="restApply.reason" type="textarea" :autosize="{ minRows: 5 }" placeholder="文字の長さは１００位以内になっております。"></i-input>
                        <i-button class="btn" type="primary" long @click="apply" icon="md-create" :loading="loading">申請
                        </i-button>
                    </Card>
                </i-col>
            </Row>
        </div>
    </main>
    <div th:replace="layout/script::common_script"></div>
    <script type="text/babel" th:inline="javascript">
        const aliURL = 'https://1615100189492697.ap-northeast-1.fc.aliyuncs.com/2016-08-15/proxy/api-dellen/test-func'
        const REST_APPLY = new Vue({
            el: '.restApply-warp',
            data() {
                return {
                    week: [
                        { name: '月', value: 1 },
                        { name: '火', value: 2 },
                        { name: '水', value: 3 },
                        { name: '木', value: 4 },
                        { name: '金', value: 5 },
                        { name: '土', value: 6 },
                        { name: '日', value: 7 }
                    ],
                    open: true,
                    timerangeType: 1,
                    loading: false,
                    weekSelectFlag: true,
                    modeId: null,
                    rotate: false,
                    weekSelected: [],
                    errorInfo: false,
                    // 用于为全て时删除status字段
                    RadioStatusHelper: 6,
                    totalCount: 0,
                    listLoading: false,
                    tableData: [
                        {
                            status: 1,
                            remark: '申請承認済み',
                            updateTime: '2020/03/02 09:56:03',
                            restTypeName: 'test',
                            dateList: ['2020/03/02'],
                            nextAdmin:'田中さん',
                            nextAdminStatus: 1
                        },
                        {
                            status: 2,
                            remark: '申請承認拒否',
                            updateTime: '2020/03/01 09:56:03',
                            restTypeName: 'test',
                            dateList: ['2020/03/02','2020/03/05'],
                            nextAdmin:'鈴木さん',
                            nextAdminStatus: 2
                        },
                        {
                            status: 3,
                            remark: '自分取り消し',
                            updateTime: '2020/02/28 09:56:03',
                            restTypeName: 'test',
                            dateList: ['2020/03/02'],
                            nextAdmin:'',
                            nextAdminStatus: 0,
                        }
                    ],
                    opts: {
                        page: null,
                        limit: 50,
                        self: true,
                        status: null
                    },
                    errorMsg: '',
                    restApply: {
                        useVacation: false
                    },
                    restTypeList: [],
                    selectedRestInfo: {}
                }
            },
            watch: {
                weekSelectFlag(newValue) {
                    if (newValue) {
                        return (this.weekSelected = [])
                    }
                },
                rotate(newValue) {
                    if (newValue) {
                        return (this.restApply.restTypeId = '全て')
                    }
                    return this.$refs.select.clearSingleSelect()
                }
            },
            created() {
                this.getData()
            },
            computed: {
                flatRestTypeList() {
                    let result = []
                    if(this.restTypeList.length > 0) {
                        this.restTypeList.forEach(e => (result = result.concat(e.children)))
                    }
                    return result
                }
            },
            methods: {
                async getData() {
                    // 获得休假选择
                    this.loading = true
                    try {
                        const { data } = await this.http.get(`${aliURL}/apply/holiday/select`)
                        this.restTypeList = data
                    } catch (error) {
                        return
                    } finally {
                        this.loading = false
                    }
                    // 获得历史申请数据
                    // this.getApplyHistory()
                },
                getApplyHistory: Debounce(async function (isRefresh, isReachBottom) {
                    // 获得历史申请数据
                    try {
                        // 触底的再拉走独自的loading, 因为全loading的样式有bug, 在变长的list时无法cover整个容器
                        if (isReachBottom) {
                            this.listLoading = true
                        } else {
                            this.opts.limit = 50
                            this.loading = true
                        }
                        const { data } = await this.api.apply('applyHistory', this.opts)
                        this.tableData = data.list
                        this.totalCount = data.totalCount
                        if (isRefresh) this.$Message.success('再表示完了')
                    } catch (error) {
                        return
                    } finally {
                        this.loading = false
                        this.listLoading = false
                    }
                }),
                handleWeekSelect() { },
                handleRestType(e) {
                    // 选择不同的休假时，判断显示不同的项目
                    if (!e || e === '全て') return (this.selectedRestInfo = {})
                    else this.selectedRestInfo = this.flatRestTypeList.find(t => t.value === e)
                },
                // 到底再拉数据，需要判断总数，决定是否再拉，每次拉50条
                handleScroll: Throttle(function (e) {
                    const _e = e.target
                    if (_e.offsetHeight + _e.scrollTop === _e.scrollHeight) {
                        console.log('到底了！')
                        if (this.totalCount > this.tableData.length) {
                            console.log('该拉了')
                            this.opts.limit += 50
                            this.getApplyHistory(false, true)
                        }
                    }
                }, 600),
                onRefresh() {
                    this.rotate = !this.rotate
                },
                onCancel: Debounce(async function (id) {
                    // 自己取消后无论如何都应该再拉取一遍最新的数据
                    // try {
                    //     await this.api.apply('cancel', { id })
                    //     this.$Message.success('取り消し完了')
                    // } catch (error) {
                    //     return
                    // } finally {
                    //     this.getApplyHistory()
                    // }
                }),
                handleRadioStatusHelper(e) {
                    // todo: 根据不同状态获得筛选数据
                },
                apply: Debounce(async function () {
                    // 以下是模拟申请一条，应该全删掉
                    // 申请完后的4件事： 成功消息，翻转卡片，解除loading，展示数据
                    this.loading = true
                    const that = this
                    setTimeout(() => {
                        this.$Message.success('申请完了')
                        this.rotate = !this.rotate
                        this.loading = false
                        this.tableData.unshift({
                            status: 0,
                            remark: that.restApply.reason,
                            updateTime: Utils.formatDate(Date.now()),
                            restTypeName: that.selectedRestInfo.label || '申請区分選択待ち',
                            dateList: [Utils.formatDate(Date.now(), 'yyyy-mm-dd')],
                            nextAdmin:'田中さん',
                            nextAdminStatus: 0
                        })
                    }, 1000)
                }),
                handleApplyMarkShow(e) {
                    switch (e) {
                        case 0:
                            return 'apply-status ing'
                        case 1:
                            return 'apply-status ok'
                        case 2:
                            return 'apply-status deny'
                        case 3:
                            return 'apply-status ok'
                        default:
                            return 'apply-status'
                    }
                },
                handleTimelineDotShow(e) {
                    switch (e) {
                        case 0:
                            return 'with-dot ing'
                        case 2:
                            return 'with-dot deny'
                        case 3:
                            return 'with-dot cancel'
                        default:
                            return 'with-dot'
                    }
                },
                handleApplyDayShow(e) {
                    if (e.length === 1) {
                        return e.join('')
                    }
                    return `${e[0]} ～ ${e[e.length - 1]}`
                },
                cancel() {
                    // todo
                    // this.$emit('cancel', e)
                }
            }
        })
    </script>
</body>

</html>