<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head
    th:replace="layout/header::common_header(title='出勤簿',cssPaths='/pages/content.min.css,' + '/pages/workYearSchedule.min.css')">
</head>

<body>
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <main class="content workyearschedule-warp">
        <div class="content_head">
            <div class="header">
                <div class="title1">
                    <h1>
                        <Icon type="i-emeer colored"></Icon>
                        {{ `出勤簿 （${Utils.formatDate(defaultDate.dispterm_start,'yyyy年mm月')}～ ${Utils.formatDate(defaultDate.dispterm_end,'yyyy年mm月')}）` }}
                    </h1>
                </div>
                <div class="btnbox">
                    <!-- 出勤簿一个按钮都没有，需要占位 -->
                    <div style="height:40px;margin:2px"></div>
                </div>
            </div>
            <div class="searchwrap">
                <span class="label">表示開始月</span>
                <i-select v-model="+defaultDate.mgd_ndefault_month" class="mr30" @on-change="handleStartMonth">
                    <i-option v-for="(item, index) of monthSelect" :key="index" :label="item" :value="index + 1"></i-option>
                </i-select>
                <span class="label">所属</span>
                <span class="input-like-span width15">{{ sectionName }}</span>
                <span class="label">氏名</span>
                <span class="input-like-span width15">{{ kanjiName }}</span>
            </div>
        </div>
        <div class="content_body">
            <div class="table-top">
                <Row :gutter="16">
                    <i-col span="11">
                        <i-button type="text" @click="preMonth" :disabled="!showPre">
                            <Icon type="ios-arrow-back"></Icon>
                            前年
                        </i-button>
                        <i-button type="text" @click="nextMonth">今年</i-button>
                    </i-col>
                    <i-col span="13" class="tr">
                        <i-button type="primary" class="mr5" ghost icon="md-add-circle">印刷</i-button>
                    </i-col>
                </Row>
            </div>
            <Row :gutter="10" class="mt5 mb15 tc">
                <i-col span="4">
                  <div class="label spec">年次休暇付与日数</div>
                  <div class="month-sum">{{ endueDaysHours }}</div>
                </i-col>
                <i-col span="4">
                  <div class>
                    <div class="label spec">年次休暇付与日</div>
                    <div class="month-sum">{{ endueDate }}</div>
                  </div>
                </i-col>
                <i-col span="8" class="no-border-radius">
                  <div class="work-changed-day">摘要</div>
                  <i-input type="textarea" :autosize="{ maxRows: 2 }" v-model="tmyComment"/>
                </i-col>
              </Row>
            <i-table :class="tableHeadFixed ? 'table-head-fixed' : ''" border :columns="columns"
                :row-class-name="rowClass" :disabled-hover="true" :data="tableData" :loading="loading">
                <template slot-scope="{ row }" slot="one">
                    <span :class="dayRed(row.one)">{{ row.one }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="two" style>
                    <span :class="dayRed(row.two)">{{ row.two }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="three">
                    <span :class="dayRed(row.three)">{{ row.three }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="four">
                    <span :class="dayRed(row.four)">{{ row.four }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="five">
                    <span :class="dayRed(row.five)">{{ row.five }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="six">
                    <span :class="dayRed(row.six)">{{ row.six }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="seven">
                    <span :class="dayRed(row.seven)">{{ row.seven }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="eight">
                    <span :class="dayRed(row.eight)">{{ row.eight }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="nine">
                    <span :class="dayRed(row.nine)">{{ row.nine }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="ten">
                    <span :class="dayRed(row.ten)">{{ row.ten }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="eleven">
                    <span :class="dayRed(row.eleven)">{{ row.eleven }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>

                <template slot-scope="{ row }" slot="twelve">
                    <span :class="dayRed(row.twelve)">{{ row.twelve }}</span>
                    <div v-if="row.hour" class="divi-hour-line">{{ row.oneHour || row.hour }}</div>
                </template>
            </i-table>
        </div>
    </main>
    <div th:replace="layout/script::common_script"></div>
    <script type="text/babel" th:inline="javascript">
        const WORK_YEAR_SCHEDULE = new Vue({
            el: '.workyearschedule-warp',
            data() {
                return {
                    monthSelect: Utils.getNumArray(1, 12).map(e => `${e}月`),
                    defaultDate:{},
                    queryHolidayInfo:{},
                    tableHead: [],
                    loading: false,
                    tableData: [],
                    monthSum: {},
                    dailyShow: true,
                    rawData: [],
                    selectedData: {
                        obj: {},
                        date: ''
                    },
                    isShow: false,
                    showPre: true,
                    index: 0,
                    comment: '',
                    contentScrollTop: 0,

                    kanjiName: [[${ session.psSession.loginKanjiName }]],
                    loginEmployee: [[${ session.psSession.loginEmployee }]],
                    sectionName: [[${ session.psSession.loginDesignation[0].sectionName}]],
                    query: {
                        employeeId: [[${ session.psSession.loginEmployee }]],
                        year: '' ,
                        month: ''
                    },
                    endueDate: '',
                    endueDaysHours: '',
                    tmyComment: ''
                }
            },
            async mounted() {
                // this.getTableHead()
                // this.getTableData()
                console.log([[${ session }]])
                console.log([[${ session.psSession.loginDesignation[0]}]])
                console.log([[${ session.psSession.loginDesignation[0].sectionName}]])

                console.log([[${ session.psSession.loginKanjiName }]])
                console.log([[${ session.psSession.loginEmployee }]])

                await this.getdefaultDate()

                await this.getqueryHolidayInfo()

                await this.getTableData()

                // await this.getTableHead()
            },
            computed: {
                tableHeadFixed() {
                    if (this.contentScrollTop > 300) return true
                    else return false
                },
                columns() {
                    return [
                        {
                            title: ' ',
                            key: 'intDay',
                            width: 100,
                            align: 'right'
                        },
                        {
                            title: this.tableHead[0],
                            minWidth: 70,
                            slot: 'one',
                            align: 'center'
                        },
                        {
                            title: this.tableHead[1],
                            minWidth: 70,
                            slot: 'two',
                            align: 'center'
                        },
                        {
                            title: this.tableHead[2],
                            slot: 'three',
                            minWidth: 70,
                            align: 'center'
                        },
                        {
                            title: this.tableHead[3],
                            minWidth: 70,
                            slot: 'four',
                            align: 'center'
                        },
                        {
                            title: this.tableHead[4],
                            minWidth: 70,
                            key: 'minusTime',
                            slot: 'five',
                            align: 'center'
                        },
                        {
                            title: this.tableHead[5],
                            minWidth: 70,
                            slot: 'six',
                            align: 'center'
                        },
                        {
                            title: this.tableHead[6],
                            minWidth: 70,
                            slot: 'seven',
                            align: 'center'
                        },
                        {
                            title: this.tableHead[7],
                            minWidth: 70,
                            slot: 'eight',
                            align: 'center'
                        },
                        {
                            title: this.tableHead[8],
                            minWidth: 70,
                            slot: 'nine',
                            align: 'center'
                        },
                        {
                            title: this.tableHead[9],
                            minWidth: 70,
                            slot: 'ten',
                            align: 'center'
                        },
                        {
                            title: this.tableHead[10],
                            minWidth: 70,
                            slot: 'eleven',
                            align: 'center'
                        },
                        {
                            title: this.tableHead[11],
                            minWidth: 70,
                            slot: 'twelve',
                            align: 'center'
                        }
                    ]
                }
            },
            methods: {
                async getdefaultDate() {
                    const { data } = await this.http.get(`sys/attendanceBook/defaultDate`, { employeeId: this.loginEmployee })
                    this.defaultDate= data
                    console.log(data)
                    this.query.year = Utils.formatDate(this.defaultDate.dispterm_start,'yyyy')
                    this.query.month = Utils.formatDate(this.defaultDate.dispterm_start,'mm')
                },
                async getqueryHolidayInfo() {
                    const { data } = await this.http.get(`sys/attendanceBook/queryHolidayInfo`, this.query)
                    this.queryHolidayInfo= data
                    this.endueDate = this.queryHolidayInfo.endueDate
                    this.endueDaysHours = this.queryHolidayInfo.endueDaysHours
                    this.tmyComment = this.queryHolidayInfo.tmy_comment
                    console.log(data)
                    console.log(this.endueDate)
                    console.log(this.endueDaysHours)
                    console.log(this.tmyComment)
                },
                async getTableData() {
                    const { data } = await this.http.get(`sys/attendanceBook/attendanceBookList`, this.query)
                    this.tableData = data
                    console.log("test")
                    console.log(data)
                    console.log(data[0])
                    this.tableHead = data[0]
                },
                // async getTableHead() {
                //     this.loading = true
                //     // const { data } = await this.http.get(`sys/attendanceBook/attendanceBookList`, this.query)
                //     // this.tableHead = data[0]
                //     console.log("getTableHead")
                //     console.log( this.tableHead)
                // },
                // async getTableHead() {
                //     this.loading = true
                //     try {
                //         const { data } = await this.http.get(`${aliURL}/workYearSchedule/tableHead`, { month: this.curMonth })
                //         this.tableHead = data
                //     } catch (error) {
                //         return
                //     } finally {
                //         this.loading = false
                //     }
                // },
                // async getTableData() {
                //     const { data } = await this.http.get(`${aliURL}/workYearSchedule/tableData`)
                //     this.tableData = data
                // },
                handleDatePicker() { },
                preYear() {
                    this.curYear = 2019
                },
                handleStartMonth(e) {
                    this.titleStartMonth = e
                    // this.getTableHead()
                },
                nextYear() {
                    this.curYear = 2020
                },
                rowClass(row) {
                    // 表格变色
                    if (!row.dayDivisionCode || row.dayDivisionCode === '1') {
                        return ''
                    }
                    return 'sat'
                },
                dayRed(e) {
                    if (!e) {
                        return
                    }
                    if (e.indexOf('土') > -1 || e.indexOf('日') > -1) {
                        return 'rest-cell week-rest'
                    }
                    if (e.indexOf('休') > -1) {
                        return 'rest-cell year-rest'
                    }
                    return 'rest-cell'
                },
                compare(a, b) {
                    if (a !== b) {
                        return 'red'
                    }
                },
                preMonth() {
                    this.showPre = false
                    this.$emit('pre')
                },
                nextMonth() {
                    this.showPre = true
                    this.$emit('next')
                },
                refresh() {
                    this.$emit('refresh')
                }
            }
        })
    </script>
</body>

</html>