/*!
 * @description CSS Reset Style
 */

html {
    font-size: 14px;
}
body {
    line-height:1.5;
    font-family:"-apple-system",BlinkMacSystemFont,"Yu Gothic Medium","\6E38\30B4\30B7\30C3\30AF   Medium",YuGothic,"\6E38\30B4\30B7\30C3\30AF\4F53","Noto Sans Japanese","\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3","\30E1\30A4\30EA\30AA","Hiragino Kaku Gothic ProN",Osaka,"sans-serif";
    color: var(--grey);
}
input,textarea,select {
    font-family:inherit;
    outline:0;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form {
    margin:0;
}
h4,h5,h6 {
    font-size:1rem;
}
ul,ol {
    padding-left:0;
    list-style:none;
}
img {
    border:0;
}
a,button {
    text-decoration:none;
    background-color:transparent;
    outline:none;
}
button:hover,button:active {
    outline-width:0;
    text-decoration:none;
}
div,select,input {
    box-sizing:border-box;
}