<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='SmartPublic-WM',cssPaths='/pages/login.min.css')"></head>

<body>
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <svg th:replace="layout/logos::svg_logos"></svg>
    <style>
        /* 修改密码页input框不显示pre-logo */
        .login .ivu-input {
            padding-left: 15px;
        }
    </style>
    <div class="login">
        <div class="right-part">
            <i-form ref="login" class="login-warp no-shadow"
                style="position: relative;top: 30px;margin: 0 auto;">
                <div class="title">
                    <svg class="logo-warp">
                        <use xlink:href="#logo"></use>
                    </svg>
                    <div class="tr" style="font-size: 16px;">公的機関向け就業管理システム</div>
                </div>
                <div class="login-content" style="height:500px;padding-top: 5px;">
                    <Alert class="primary-info tl" style="margin-bottom: 0;">
                        <div>※ このパスワードは有効期限を過ぎました。</div>
                        <div class="mt2">&emsp;&nbsp;新しいパスワードを登録してください。</div>
                    </Alert>
                    <p class="login-label">現在のパスワード</p>
                    <form-item class="login-item">
                        <i-input v-model="login.oldPassword" @keyup.enter.native="loging" placeholder="パスワード"
                            type="password" password autocomplete="new-password" />
                    </form-item>

                    <p class="login-label">変更後のパスワード</p>
                    <form-item class="login-item">
                        <i-input v-model="login.newPassword" @keyup.enter.native="loging" placeholder="パスワード"
                            type="password" password autocomplete="new-password" />
                    </form-item>

                    <p class="login-label">変更後のパスワード(確認用)</p>
                    <form-item class="login-item">
                        <i-input v-model="login.repeatPassword" @keyup.enter.native="loging" placeholder="パスワード"
                            type="password" password autocomplete="new-password" />
                    </form-item>
                    <form-item class="login-btn">
                        <i-button @click="loging" type="primary" size="large" :loading="loading" long>
                            ログイン
                        </i-button>
                    </form-item>
                </div>
            </i-form>
        </div>
    </div>
    <script th:inline="javascript" type="text/babel" data-presets="latest">
        new Vue({
            el: '.login',
            data() {
                return {
                    login: {
                        username: [[${#httpServletRequest.getAttribute('username')}]]
                    },
                    loading: false,
                }
            },
            methods: {
                loging: Debounce(async function () {
                    if (!this.login.oldPassword) {
                        return this.$Notice.warning({ title: '注意', desc: '現在のパスワードを入力してください。', duration: 6.5 })
                    }
                    if (!this.login.newPassword) {
                        return this.$Notice.warning({ title: '注意', desc: '変更後のパスワードを入力してください。', duration: 6.5 })
                    }
                    if (!this.login.repeatPassword) {
                        return this.$Notice.warning({ title: '注意', desc: '変更後のパスワード(確認用)を入力してください。', duration: 6.5 })
                    }
                    if(!/^[a-z0-9A-Z]+$/.test(this.login.newPassword) || !/^[a-z0-9A-Z]+$/.test(this.login.repeatPassword)) {
                        return this.$Notice.warning({ title: '注意', desc: 'パスワードに使用できる文字は英数字のみです。', duration: 6.5 })
                    }
                    if (this.login.newPassword !== this.login.repeatPassword) {
                        return this.$Notice.warning({ title: '注意', desc: '新パスワード(確認用)には、新パスワードと同じパスワードを入力してください。', duration: 6.5 })
                    }
                    this.loading = true
                    try {
                        await this.http.post('/changeExpirePassword', this.login)
                        location.href = BASE_PATH
                    } catch (error) {
                        this.loading = false
                        return this.$Notice.error({ title: '注意', desc: error, duration: 6.5 })
                    }

                })
            }
        })
    </script>
</body>

</html>