<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/header::common_header(title='index')"></head>
  <body>
   <div th:replace="layout/loadingBar::loadingBar"></div>
    <!-- 菜单导航栏 -->
    <div th:replace="layout/sider"></div>
    <script type="text/babel">
      const INDEX = new Vue({
          el: '#moduleFrame',
          data() {
              return {
               baseUrl: SIDER._data.baseUrl
              }
          },
          methods: {
              goHomepage() {
                  window.location.href="/";
              }
          },
      })
    </script>
    <div th:replace="layout/head::header"></div>
  </body>
</html>
