<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='index',cssPaths='/pages/content.min.css')"></head>

<body>
  <div th:replace="layout/loadingBar::loadingBar"></div>
  <!-- 菜单导航栏 -->
  <div th:replace="layout/sider"></div>
  <main class="content">
    <canvas id="live2dcanvas" width="150" height="300"></canvas>
    <!-- https://picb.zhimg.com/80/v2-dff7c0aab06f60b6244a284e2f60ff02_720w.jpg?source=1940ef5c -->
    <img style="position: absolute; top: 30%; left: 50%; width: 500px; transform: translate(-50%,-30%);" src="http://imgsrc.baidu.com/forum/pic/item/9fe218d162d9f2d3b75c55d4a4ec8a136327cc57.jpg"><img>
  </main>
  <style>
    #live2dcanvas {
      position: fixed;
      opacity: 1;
      right: 100px;
      z-index: 999;
      pointer-events: none;
      bottom: -0;
    }

    .content {
      background: var(--orange25);
    }
  </style>
  <script type="text/javascript">
    const loadScript = function loadScript(c, b) { var a = document.createElement("script"); a.type = "text/javascript"; "undefined" != typeof b && (a.readyState ? a.onreadystatechange = function () { if ("loaded" == a.readyState || "complete" == a.readyState) a.onreadystatechange = null, b() } : a.onload = function () { b() }); a.src = c; document.body.appendChild(a) };
    (function () {
      if ((typeof (device) != 'undefined') && (device.mobile())) {
        document.getElementById("live2dcanvas").style.width = '75px';
        document.getElementById("live2dcanvas").style.height = '150px';
      } else
        if (typeof (device) === 'undefined') console.error('Cannot find current-device script.');
      loadScript("./static/js/live2d/script.js", function () { loadlive2d("live2dcanvas", "./static/js/live2d/assets/hijiki.model.json", 0.5); });
    })();
  </script>
  <script type="text/babel">
    const INDEX = new Vue({
      el: '#moduleFrame',
      data() {
        return {
          baseUrl: SIDER._data.baseUrl
        }
      },
      methods: {
        goHomepage() {
          window.location.href = "/";
        }
      },
    })
  </script>
  <div th:replace="layout/head::header"></div>
</body>

</html>