<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head
        th:replace="layout/header::common_header(title='出勤簿',cssPaths='/pages/content.min.css,' + '/pages/workYearSchedule.min.css')">
</head>

<body>
<div th:replace="layout/loadingBar::loadingBar"></div>
<style>
    .need-turnline-top:empty {
        display: block;
        position: relative;
        height: 21px;
    }
    .need-turnline-btm:empty {
        display: block;
        position: relative;
        height: 27px;
    }
</style>
<!-- 菜单导航栏 -->
<div th:replace="layout/sider"></div>
<main class="content workyearschedule-warp" ref="layout">
    <div class="content_head">
        <div class="header">
            <div class="title1">
                <h1>
                    <Icon type="i-emeer colored"></Icon>
                    {{  fromYYYYMM ? `出勤簿（${fromYYYYMM}～ ${toYYYYMM}）` : '出勤簿' }}
                </h1>
            </div>
            <div class="btnbox">
                <!-- 出勤簿一个按钮都没有，需要占位 -->
                <div style="height:40px;margin:2px"></div>
            </div>
        </div>
        <div class="searchwrap">
            <span class="label">表示開始月</span>
            <i-select v-model="query.month" :disabled="!selectDisabled" class="mr30" @on-change="handleStartMonth($event)">
                <i-option v-for="(item, index) of monthSelect" :key="index" :label="item" :value="index + 1">
                </i-option>
            </i-select>
            <span style="display:flex;width: calc(15% + 200px);">
                    <span class="label">所属</span>
                    <i-button v-on:click.native="deptDrawShow = true" class="input-like-span mr30 cursor grey"
                              style="width: calc(100% - 120px);border-radius:0;border: 1px dashed var(--dept-select);color: var(--dept-select);">
                        {{ deptName }}
                    </i-button>

                <!-- 共通組織図画面 start-->
             <Drawer :closable="false" class="tc" placement="right" title="所属職員を選択してください" width="700"
                            :mask-closable="!isSearchHistory" v-model="deptDrawShow">
                <Tabs :animated="false" v-model="currentTab" @on-click="currentTabChanged">
                <tab-pane label="ツリー" name="organisationTree">
                      <div class="titlenorm mt15">
                            <Icon type="logo-buffer"></Icon>
                            所属
                        </div>

                       <Row class="tl mb5">
                            <i-col span="4" class="label tc" style="height: 32px;">基準日</i-col>
                            <i-col span="7" class="no-border-radius">
                            <date-picker type="date" :value="referListObject.txtTmgReferListTreeViewRecordDate"
                                         placeholder="基準日" format="yyyy/MM/dd" ref="datePicker" @on-change="handleDeptDateChange"></date-picker>
                            </i-col>
                        </Row>
                        <Tree class="tree mt2" :data="treeData" @on-select-change="handleClickLeaf" ref="tree"
                              empty-text="所属データなし"></Tree>
                        <div class="titlenorm mt15">
                            <Icon type="logo-buffer"></Icon>
                            職員
                        </div>
                        <div style="position: relative;">
                            <Tree :data="empTreeData" @on-select-change="handleClickEmpLeaf" class="tree mt2" empty-text="職員データなし"></Tree>
                            <Spin size="large" fix v-if="emplistLoading"></Spin>
                        </div>
                </tab-pane>
                <tab-pane label="検索" name="organisationSearch">
                       <Row class="tl mb2" :gutter="8">
                            <i-col span="15">
                                <i-input v-model="referListObject.hidSearchData" @on-search="searchOrgTree" class="mar mb5 like-select" search enter-button placeholder="検索">
                                    <i-select v-model="referListObject.hidSearchItems" slot="prepend" style="width: 108px" placeholder="項目">
                                        <i-option v-for="(item,i) of searchTypesList" :value="item.value">{{ item.name }}</i-option>
                                    </i-select>
                                    <i-select v-model="referListObject.hidSearchCondition"  slot="append" style="width: 108px" placeholder="条件">
                                        <i-option v-for="(item,i) of searchConditionsList" :value="item.value">{{ item.name }}</i-option>
                                    </i-select>
                                </i-input>
                            </i-col>
                            <i-col span="8" class="no-border-radius">
                                <i-button long type="primary" icon="md-search" ghost :loading="empDeptLoading" @click="searchOrgTree">検索</i-button>
                            </i-col>
                        </Row>
<!--                        <Tree class="tree mt2" :data="treeData" @on-select-change="handleClickLeaf" ref="tree"-->
<!--                              empty-text="所属データなし"></Tree>-->
                        <div class="titlenorm mt15">
                            <Icon type="logo-buffer"></Icon>
                            職員
                        </div>
                        <div style="position: relative;">
                            <Tree :data="searchEmpTreeData" @on-select-change="handleClickEmpLeaf" class="tree mt2" empty-text="職員データなし"></Tree>
                            <Spin size="large" fix v-if="emplistLoading"></Spin>
                        </div>
                </tab-pane>
               </Tabs>
                    </Drawer>
                <!-- 共通組織図画面 end-->
                </span>
            <span class="label">氏名</span>
            <span class="input-like-span width15">{{ kanjiName }}</span>
        </div>
    </div>
    <div class="content_body">
        <div class="table-top">
            <Row :gutter="16">
                <!-- 共通年選択 start-->
                <i-col span="11">
                    <i-button type="text" @click="preYear" :disabled="preDisabled || !selectDisabled" class="icon-left">
                        <Icon type="ios-arrow-back" size="large"></Icon>
                    </i-button>
                    <i-button type="text" @click="currentYear" :disabled="showPre" class="icon-center">今年</i-button>
                    <i-button type="text" @click="nextYear" :disabled="nextDisabled || !selectDisabled" class="icon-right">
                        <Icon type="ios-arrow-forward" size="large"></Icon>
                    </i-button>
                </i-col>
                <!-- 共通年選択 end-->

                <i-col span="13" class="tr">
                    <i-button type="primary" class="mr5" ghost icon="md-paper">印刷</i-button>
                </i-col>
            </Row>
        </div>

        <Row :gutter="10" class="mt5 mb15 tc">
            <i-col span="4">
                <div class="label spec">年次休暇付与日数</div>
                <div class="month-sum">{{ endueDaysHours }}</div>
            </i-col>
            <i-col span="4">
                <div class>
                    <div class="label spec">年次休暇付与日</div>
                    <div class="month-sum">{{ endueDate }}</div>
                </div>
            </i-col>
            <i-col span="8" class="no-border-radius">
                <div class="work-changed-day">摘要
                    <Poptip
                            v-if="remarksDisabled"
                            v-model="commentBtnShow"
                            class="comment-btn tl"
                            placement="right"
                            title="入力内容を登録します。よろしいですか？">
                        <i-button type="primary" ghost size="small" icon="md-create" style="border-radius: 23px" :loading="commentBtnLoading"><span style="margin-left: -4px;">登録</span></i-button>
                        <div class="tr" slot="content">
                            <i-button class="mr10" type="text" size="small" @click="cancelComment">いいえ</i-button>
                            <i-button type="primary" ghost size="small" @click="updateComment" style="border-radius: 23px">はい</i-button>
                        </div>
                    </Poptip>
                </div>
                <i-input type="textarea" :autosize="{ maxRows: 2 }" v-model="query.comment" />
            </i-col>
        </Row>
        <div class="titlenorm mb10 mt10" style="font-size:15px">
            <Icon type="logo-buffer"></Icon>
            月出勤情報統計
        </div>
        <i-table :class="tableHeadFixed ? 'table-head-fixed sum-table' : 'sum-table'" :columns="columns" border no-data-text="所属職員を選択して下さい。"
                 :row-class-name="rowClass" :disabled-hover="true" :data="tableDataSum" :loading="loading">
            <template slot-scope="{ row }" slot="intDay">
                <div style="position: relative;">
                    <span :class="row._index === 0 ? '' : 'mr15 sum-title-divi'">{{ row.intDay.split('日')[0].trim() }}</span>
                    <div style="position: absolute;top: -13px;left: 72px;" v-if="row._index !== 0">日</div>
                    <div class="divi-hour-line-small" style="position: absolute;top: 15px;left: 72px;" v-if="row._index !== 0">時</div>
                </div>
            </template>

            <!-- 循环slotList -->
            <template v-for="item of slotList" slot-scope="{ row }" :slot="item">
                <span :class="dayRed(row[item])" v-if="!row.needTurnLine">{{ row[item] | turnLine }}</span>
                <div class="mb-2 need-turnline-top" v-if="row.needTurnLine">{{ row[item].split(TURN_LINE_STR)[0].trim() }}</div>
                <div v-if="row.needTurnLine" class="divi-hour-line mb-2 need-turnline-btm">{{ row[item].split(TURN_LINE_STR)[1].trim() }}</div>
            </template>
        </i-table>

        <div class="titlenorm mb10 mt10" style="font-size:15px" v-show="tableData.length > 0">
            <Icon type="logo-buffer"></Icon>
            月出勤情報明細
        </div>
        <i-table :show-header="false" no-data-text=" " border :columns="columns"
                 :row-class-name="rowClass" :disabled-hover="true" :data="tableData" :loading="loading" v-show="tableData.length > 0">
            <template slot-scope="{ row }" slot="intDay">
                <span>{{ row.intDay }}</span>
            </template>

            <template v-for="item of slotList" slot-scope="{ row }" :slot="item">
                <span :class="dayRed(row[item])">{{ row[item] | turnLine }}</span>
            </template>
        </i-table>
    </div>
    <back-top></back-top>
</main>
<div th:replace="layout/head::header"></div>
<script type="text/babel" th:inline="javascript">
    const WORK_YEAR_SCHEDULE = new Vue({
        el: '.workyearschedule-warp',
        data() {
            return {
                monthSelect: Utils.getNumArray(1, 12).map(e => `${e}月`),  //表示開始月
                slotList: ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve'],
                commentBtnLoading: false,　 //摘要更新loading制御
                commentBtnShow:false,　　　 //摘要登録表示制御
                defaultDate: {},            //表示開始月のデフォルト月
                queryDate: {},              //選択した開始月
                queryHolidayInfo: {},       //年次休暇付与日数 年次休暇付与日
                tableHead: [],              //月出勤情報統計と月出勤情報明細のテーブルヘッダー
                loading: false,             //ローディングアクション-->
                tableData: [],              //月出勤情報統計と月出勤情報明細のテーブルデータ
                showPre: true,
                isSearchHistory: false,
                selectDisabled: false,      //所属の職員を選択していない場合、表示月選択できるかどうかを制御する
                remarksDisabled: false,     //摘要更新可能制御する
                index: 0,
                comment: '',
                contentScrollTop: 0,
                kanjiName: '',　         　 //選択した職員の氏名
                loginEmployee: '',          //選択した職員の職員番号
                sectionName: '',　          //選択した職員の所属
                query: {
                    employeeId: '',        //組織ツリーで選択した職員番号
                    year: '',              //年度情報
                    month: 0,              //表示開始月
                    hidSelectTab:'0',      //組織タブー0：ツリ、1:検索
                    modifieruserId: [[${ session.psSession.loginEmployee }]],  //摘要更新ユーザ（ログインユーザ）
                    comment: this.tmyComment,                                  //摘要
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href,'psApp'),

                },
                endueDate: '',            //年次休暇付与日
                endueDaysHours: '',       //年次休暇付与日数
                tmyComment: '',           //摘要
                fromYYYYMM: '',       　  //出勤簿の表示開始年月
                toYYYYMM: '',             //出勤簿の表示終了年月
                contentScrollTop: 0,
                titleStartMonth: '',    //デフォルト開始月
                data: [],
                emplistLoading: false,  //職員番号ローディング用動画
                referListObject: {       //組織ツリー共通
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]: '',
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_EMP }]]: '',
                    [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                    [[${ TREEVIEW_KEY_REFRESH_FLG }]]: '',
                    hidSearchItems:'EMPLOYEEID',
                    hidSearchCondition:'BROADMATCH',
                    hidSearchData:'',
                    txtTmgReferListTreeViewRecordDate: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href,'psApp'),
                    type: 11
                },
                deptDrawShow: false,    //組織ツリー用
                treeData: [],           //組織ツリー用
                empTreeData: [],        //組織ツリー用
                searchEmpTreeData: [],        //組織ツリー用
                deptName: '選んでください',   //所属名称
                tableDataSum:[],        //月出勤情報統計
                existsAttendanceBook: {},　 //年度選択制御
                preDisabled: true,   //年度選択制御
                nextDisabled: true,  //年度選択制御

                searchTypesList: [],     //組織ツリー用
                searchConditionsList: [],//組織ツリー用
                empDeptLoading: false,  // 組織ツリーloading用
                currentTab: '',         //組織のツリーと検索タブーを切り替え
            }
        },
        async mounted() {
            this.getOrgTree()
            this.getSearchCondition()
             window.addEventListener('scroll',this.handleScroll,{ passive: true })
            },
        beforeDestroy() {
            window.removeEventListener('scroll',this.handleScroll,{ passive: true })
        },
        computed: {
            tableHeadFixed() {
                if (this.contentScrollTop > 300) return true
                else return false
            },
            columns() {
                return [
                    {
                        title: ' ',
                        slot: 'intDay',
                        width: 100,
                        align: 'center'
                    },
                    {
                        title: this.tableHead[0] || '04月',
                        minWidth: 70,
                        slot: 'one',
                        align: 'center'
                    },
                    {
                        title: this.tableHead[1] || '05月 ',
                        minWidth: 70,
                        slot: 'two',
                        align: 'center'
                    },
                    {
                        title: this.tableHead[2] || '06月 ',
                        slot: 'three',
                        minWidth: 70,
                        align: 'center'
                    },
                    {
                        title: this.tableHead[3] || '07月 ',
                        minWidth: 70,
                        slot: 'four',
                        align: 'center'
                    },
                    {
                        title: this.tableHead[4] || '08月 ',
                        minWidth: 70,
                        key: 'minusTime',
                        slot: 'five',
                        align: 'center'
                    },
                    {
                        title: this.tableHead[5] || '09月 ',
                        minWidth: 70,
                        slot: 'six',
                        align: 'center'
                    },
                    {
                        title: this.tableHead[6] || '10月',
                        minWidth: 70,
                        slot: 'seven',
                        align: 'center'
                    },
                    {
                        title: this.tableHead[7] || '11月',
                        minWidth: 70,
                        slot: 'eight',
                        align: 'center'
                    },
                    {
                        title: this.tableHead[8] || '12月',
                        minWidth: 70,
                        slot: 'nine',
                        align: 'center'
                    },
                    {
                        title: this.tableHead[9] || '01月',
                        minWidth: 70,
                        slot: 'ten',
                        align: 'center'
                    },
                    {
                        title: this.tableHead[10] || '02月',
                        minWidth: 70,
                        slot: 'eleven',
                        align: 'center'
                    },
                    {
                        title: this.tableHead[11] || '03月',
                        minWidth: 70,
                        slot: 'twelve',
                        align: 'center'
                    }
                ]
            }
        },
        methods: {
            async getData(isInit) {
                //初期化
                this.endueDate = ''
                this.endueDaysHours = ''
                this.query.comment = ''

                if (isInit) await this.getdefaultDate()
                else await this.getqueryDate()
                await this.getExistsAttendanceBook()
                await this.getqueryHolidayInfo()
                await this.getTableData()
            },
            async getdefaultDate() {
                this.loading = true
                const { data } = await this.http.get(`sys/attendanceBook/defaultDate`, { employeeId: this.loginEmployee })
                this.defaultDate = data
                this.query.month = +this.defaultDate.mgd_ndefault_month
                this.query.year = Utils.formatDate(this.defaultDate.dispterm_start, 'yyyy')
                this.fromYYYYMM = Utils.formatDate(this.defaultDate.dispterm_start, 'yyyy年mm月')
                this.toYYYYMM = Utils.formatDate(this.defaultDate.dispterm_end, 'yyyy年mm月')

            },
            async getqueryDate() {
                this.loading = true
                const { data } = await this.http.get(`sys/attendanceBook/queryDate`, this.query)
                this.queryDate = data
                this.query.month = +Utils.formatDate(this.queryDate.dispterm_start, 'mm')

                this.query.year = Utils.formatDate(this.queryDate.dispterm_start, 'yyyy')
                this.fromYYYYMM = Utils.formatDate(this.queryDate.dispterm_start, 'yyyy年mm月')
                this.toYYYYMM = Utils.formatDate(this.queryDate.dispterm_end, 'yyyy年mm月')
            },
            async getExistsAttendanceBook() {
                const { data } = await this.http.get(`sys/attendanceBook/selectExistsAttendanceBook`, this.query)
                this.existsAttendanceBook  = data

                if (!this.existsAttendanceBook.lastYear) this.preDisabled = true
                else this.preDisabled = false

                if (!this.existsAttendanceBook.nextYear) this.nextDisabled = true
                else this.nextDisabled = false
            },
            async getqueryHolidayInfo() {
                const { data } = await this.http.get(`sys/attendanceBook/queryHolidayInfo`, this.query)
                this.queryHolidayInfo = data
                // 年次休暇付与日数
                this.endueDate = this.queryHolidayInfo.endueDate

                // 年次休暇付与日
                this.endueDaysHours = this.queryHolidayInfo.endueDaysHours

                // 摘要
                this.query.comment = this.queryHolidayInfo.tmy_comment

            },
            async getTableData() {
                const turnLine = Vue.filter('turnLine');
                try {
                    const { data } = await this.http.get(`sys/attendanceBook/attendanceBookList`, this.query)
                    // 第一条是表头, 且需要去除空值intDay
                    // 统计部分着色判断是不是统计，根据是不是转成数字是不是其本身判断
                    // 拆成两份表格
                    this.tableDataSum = data.slice(1,7).map((e, i)=>{
                        return {
                            ...e,
                            intDay: turnLine(e.intDay),
                            needTurnLine:  e.intDay.indexOf(TURN_LINE_STR) > -1 ? true : false,
                            cellClassName: e.intDay.indexOf(TURN_LINE_STR) > -1 || i === 0 ? {intDay: 'sub-title'} : {}
                        }
                    })
                    this.tableData = data.slice(7)
                    this.tableHead = Object.values(data[0]).filter(e => e)
                } catch (error) {
                    return
                } finally {
                    this.loading = false
                    this.isSearchHistory = false
                }
            },
            searchOrgTree: Debounce( async function() {
                this.empDeptLoading = true
                try {
                    const { data } = await this.http.get('sys/tree/search', this.referListObject)
                    this.searchEmpTreeData = Utils.convertTreeData(data)
                    this.$Notice.success({ title:'所属図更新完了' })
                } catch (error) {
                    return
                } finally {
                    this.empDeptLoading = false
                }
            }),
            async getSearchCondition() {
                const { data } = await this.http.get('sys/tree/conditions', this.referListObject)
                this.searchConditionsList= Object.keys(data.searchConditions).map(e=> { return { name:data.searchConditions[e], value:e }})
                this.searchTypesList = Object.keys(data.searchTypes).map(e=> { return { name:data.searchTypes[e], value:e }})
            },
            async getOrgTree() {
                try {
                    const { orgList, recordDate } = await this.http.get('sys/tree', this.referListObject)
                    // 先将数据转为标准格式，再转为可用数据
                    this.treeData = Utils.convertTreeData(orgList)

                    // //初期画面で検索の際に、ルート部門が選択されているとして、職員一覧を初期化
                    // const section = [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]
                    // this.referListObject[section] = this.treeData[0].secid

                    this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                } catch (error) {
                    return
                } finally {
                    this.loading = false
                }
            },
            async getEmpList() {
                try {
                    this.emplistLoading = true
                    //初期化及び前回データをクリアする
                    this.empTreeData = []
                    const { empList, recordDate } = await this.http.get('sys/tree/emplist', this.referListObject)
                    this.empTreeData = Utils.convertTreeData(empList[0].child)
                    this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                } catch (error) {
                    return
                } finally {
                    this.emplistLoading = false
                }
            },
            async handleDeptDateChange(e) {
                this.referListObject.txtTmgReferListTreeViewRecordDate = e
                this.isSearchHistory = true
                await this.getOrgTree()
                this.$Notice.warning({ title:'所属図更新完了',desc:"下記の所属リストから対象を選んでください" })
            },
            handleStartMonth: Debounce(async function (e) {
                this.titleStartMonth = e
                this.getData()
            }),
            rowClass(row) {
                // 表格变色
                if (!row.dayDivisionCode || row.dayDivisionCode === '1') {
                    return ''
                }
                return 'sat'
            },
            dayRed(e) {
                if (!e) {
                    return
                }
                if (e.indexOf('土') > -1 || e.indexOf('日') > -1) {
                    return 'rest-cell week-rest'
                }
                if (e.indexOf('休') > -1) {
                    return 'rest-cell year-rest'
                }
                return 'rest-cell'
            },

            handleScroll: Throttle(function(e) {
                this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
            }, 50),
            async　preYear() {
                this.showPre = false
                this.query.year = Utils.formatDate(this.existsAttendanceBook.lastYear, 'yyyy')
                this.getData()
            },
            async　nextYear() {
                this.showPre = true
                this.query.year = Utils.formatDate(this.existsAttendanceBook.nextYear, 'yyyy')
                this.getData()
            },
            async　currentYear() {
                this.showPre = true
                this.query.year = Utils.formatDate(this.existsAttendanceBook.currentYear, 'yyyy')
                this.getData()
            },
            convertTreeData(treeData = []) {
                return treeData.map(e => {
                    const children = e.child || e.children
                    if (children) {
                        return {
                            ...e.data,
                            title: e.data.label,
                            // 前两层级默认展开方便查看
                            expand: e.data.level < 2 || !e.data.level,
                            children: this.convertTreeData(children)
                        }
                    } else {
                        return {
                            ...e.data,
                            title: e.data.label
                        }
                    }
                })
            },
            showDay() {
                //todo: 跳到详情页
                location.href = "./VacationTablePanel/vacationtablepanel.html";
            },
            handleSelector() { },
            async handleClickLeaf(e) {
                //同一部署を二回目でクリックすると、取消とするためで、エラーあり
                //よって、二回目クリックすると、何もしない
                if(!e[0]) return

                const section = [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]
                this.referListObject[section] = e[0].secid
                this.deptName = e[0].secnic
                this.getEmpList()
            },
            handleClickEmpLeaf(e) {
                //同一部署を二回目でクリックすると、取消とするためで、エラーあり
                //よって、二回目クリックすると、何もしない
                if(!e[0]) return

                this.deptDrawShow = false

                this.loginEmployee = e[0].empid
                this.sectionName = e[0].secnic
                this.query.employeeId = e[0].empid
                this.kanjiName = e[0].empname
                this.selectDisabled = true
                this.remarksDisabled = true
                this.getData(true)
            },
            showName(e) {
                const result = e.match(/^[\s\S]+(?=\()/g)
                return (result && result[0]) || e
            },
            // 摘要更新
            async updateComment() {
                // 首先将浮层关闭，然后按钮进入loading状态，请求完成后提示完了并且loading结束
                this.commentBtnShow = false
                this.commentBtnLoading = true

                if(this.query.comment != null){
                    if (this.query.comment.replace(/[^\x00-\xff]/g, '01').length > 400) {
                        this.$Message.error({
                            background: true,
                            closable: true,
                            duration: 0,
                            content: '摘要が設定値を超えています。全角・半角カナ200字以内、半角英数400字以内。'
                        });
                        this.commentBtnLoading = false
                        return
                    } else {
                        const { data,code } = await this.http.get(`sys/attendanceBook/updateComment`, this.query)
                        if(code==0){
                            this.$Message.success('登録完了')
                            this.commentBtnLoading = false
                        }
                    }
                }
            },
            cancelComment() {
                this.commentBtnShow = false
            },
            currentTabChanged(name) {
                if (name=="organisationTree") {
                    this.query.hidSelectTab='0'
                } else if (name=="organisationSearch") {
                    this.query.hidSelectTab='1'
                }
            },
        }
    })
</script>
</body>

</html>