<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='個人属性設定',cssPaths='/pages/content.min.css')">
</head>

<body>
<div th:replace="layout/loadingBar::loadingBar"></div>
<!-- 菜单导航栏 -->
<div th:replace="layout/sider"></div>
<main class="content empattrsettinginfo-warp" @scroll.passive="handleScroll" ref="layout">
    <div class="content_head">
        <div class="header">
            <div class="title1">
                <h1>
                    <Icon type="i-emeer colored"></Icon>
                    {{ `個人属性設定` }}
                </h1>
            </div>
            <div class="btnbox">
                <span style="flex:1"></span>
                <i-button type="primary" icon="md-create" @click="isEditable = !isEditable" v-if=" !isEditable">対象者一括編集</i-button>
                <i-button type="success" icon="md-create" v-if=" isEditable" @click="manageFlagUpdate">登録</i-button>
                <i-button v-if=" isEditable" @click="manageCancel">キャンセル</i-button>
            </div>

        </div>
        <div class="searchwrap">
            <span class="label">改定日指定</span>
            <date-picker class="mar" v-model="curDate" :options="startLimit" type="date" :editable="false" :clearable="false"
                         @on-change="handleDatePicker" format="yyyy年MM月dd日"></date-picker>
            <!-- 共通組織図画面 start-->
            <span style="display:flex;width: calc(15% + 200px);">
                    <span class="label">所属</span>
                    <i-button v-on:click.native="deptDrawShow = true" class="input-like-span dept-select">
                        <Tooltip trigger="hover" :theme="toolTipTheme()" transfer>{{deptName}}
                            <div slot="content">{{deptName}}</div>
                        </Tooltip>
                    </i-button>

                    <Drawer class="tc" placement="right" width="700" :closable="true"
                            :mask-closable="!isSearchHistory" v-model="deptDrawShow">
                       <Tabs :animated="false" v-model="currentTab" @on-click="currentTabChanged">
                        <tab-pane label="ツリー" name="organisationTree">
                              <div class="titlenorm mb5">
                                    <Icon type="logo-buffer"></Icon>
                                    所属
                                </div>

                               <Row class="tl mb5">
                                    <i-col span="4" class="label tc" style="height: 32px;">基準日</i-col>
                                    <i-col span="7" class="no-border-radius">
                                    <date-picker type="date" :value="referListObject.txtTmgReferListTreeViewRecordDate" :options="startLimit" transfer
                                                 placeholder="基準日" format="yyyy/MM/dd" ref="datePicker" :clearable="false" @on-change="handleDeptDateChange"></date-picker>
                                    </i-col>
                                </Row>
                                <Tree class="tree mt2" :data="treeData" @on-select-change="handleClickLeaf" ref="tree"
                                      empty-text="所属データなし"></Tree>

                        </tab-pane>
                        <tab-pane label="検索" name="organisationSearch">
                               <Row :gutter="8" class="tl mb2">
                                    <i-col span="15">
                                        <i-input class="mar mb5 like-select" enter-button placeholder="検索" search v-model="opts.hidSearchData">
                                            <i-select placeholder="項目" slot="prepend" style="width: 108px" transfer v-model="opts.hidSearchItems">
                                                <i-option :value="item.value" v-for="(item,i) of searchTypesList">
                                                    {{ item.name }}</i-option>
                                            </i-select>
                                            <i-select placeholder="条件" slot="append" style="width: 108px" transfer v-model="opts.hidSearchCondition">
                                                <i-option :value="item.value" v-for="(item,i) of searchConditionsList">
                                                    {{ item.name }}</i-option>
                                            </i-select>
                                        </i-input>
                                    </i-col>
                                    <i-col class="no-border-radius" span="8">
                                        <i-button :loading="loading" @click="getSearchTableData" ghost icon="md-search" long type="primary">検索</i-button>
                                    </i-col>
                                </Row>
                                <Alert class="primary-info mt10">※検索結果の上位100件を表示しています。</Alert>
                        </tab-pane>
                        </Tabs>
                    </Drawer>
                </span>
            <!-- 共通組織図画面 end-->
            <span style="flex:1"></span>
        </div>
        <div class="content_body">
            <div class="table-top">
                <Row :gutter="16">
                    <i-col span="12">
                        <Page :total="pageValue.amount" :current="pageValue.curPage" show-total style="display: inline"
                              :page-size="pageValue.curSize" @on-change="pageChange" ref="Page" simple/>
                    </i-col>
                    <i-col class="tr" span="10" v-if="isEditable" style="margin-left: 8%;">
                        <i-button type="primary" ghost @click="checkAlladmin" class="mr15">
                            管理対象者 一括チェック
                        </i-button>
                        <i-button type="primary" ghost @click="checkOverWorkAlladmin" class="pr20 pl20">
                            超過勤務対象者 一括チェック
                        </i-button>
                    </i-col>
                </Row>
            </div>
            <template>
                <div>
                    <Alert class="primary-info tl" v-show="isEditable">※「管理対象者」「超過勤務対象者」が編集対象になります、編集するときチェックボックスをクリック又は一括チェックをご利用ください。</Alert>
                    <i-table border :columns="columns" :data="tableData" :loading="loading" :disabled-hover="true"
                             :row-class-name="() => 'select-col'"  no-data-text="">
                        <template slot-scope="{ row }" slot="manageFlg">
                                <span :class="row.manageFlg ? 'blue' : 'red'"
                                      v-show="!isEditable">{{ `${row.manageFlg ? '〇' : '除外'}` }}</span>
                            <Checkbox v-show="isEditable" v-model="row.manageFlg" @on-change="checkBoxChange($event,row._index,'manage')"></Checkbox>
                        </template>

                        <template slot-scope="{ row }" slot="excludeOvertime">
                                <span :class="row.excludeOvertime ? 'blue' : 'red'"
                                      v-show="!isEditable">{{ `${row.excludeOvertime ? '〇' : '除外'}` }}</span>
                            <Checkbox v-show="isEditable" v-model="row.excludeOvertime" @on-change="checkBoxChange($event,row._index,'over')"></Checkbox>
                        </template>


                        <template slot-scope="{ row }" slot="begindate">
                            <i-button type="primary" ghost size="small" style="margin-right: 5px" 　:disabled="isEditable"
                                      @click.stop="handleBeginDate(row)">
                                {{ row.begindate }}
                            </i-button>
                        </template>

                        <template slot-scope="{ row }" slot="tphaNavgworktime">
                            <i-button type="primary" ghost size="small" style="margin-right: 5px" :disabled="isEditable"
                                      @click.stop="handleAvgTime(row,0)">
                                {{ Math.trunc(row.tphaNavgworktime/60) }}時間 {{ row.tphaNavgworktime%60 }}分
                            </i-button>
                        </template>

                        <template slot-scope="{ row }" slot="tphaNworkingdaysWeek">
                            <i-button type="primary" ghost size="small" style="margin-right: 5px" :disabled="isEditable"
                                      @click.stop="handleAvgTime(row,1)">
                                {{ row.tphaNworkingdaysWeek }}日
                            </i-button>
                        </template>


                    </i-table>
                </div>
            </template>
        </div>
    </div>


    <Modal v-model="isShow" :title="titlesMessage" width="850" @on-cancel="cancel" :mask-closable="false" footer-hide>
        <Row :gutter="10">
            <i-col span="8">
                <div class="label tc"> 所属</div>
                <div class="person-info">{{ empDeptName }}</div>
            </i-col>
            <i-col span="8">
                <div class="label tc"> 氏名</div>
                <div class="person-info">{{ empName }}</div>
            </i-col>
            <i-col span="8">
                <div class="label tc"> 種別</div>
                <div class="person-info">{{ workerTypeName }}</div>
            </i-col>
        </Row>

        <Alert v-if="isBeginDateEdit" class="primary-info lb tl">{{ msg }}</Alert>
        <Alert v-if="false" type="error" class="error-info lb tl">{{ errorMsg }}</Alert>

        <div class="tr mb10" v-if="isBeginDateEdit">
            <i-button type="error" ghost class="mr15" @click="beginDateDelete">削除</i-button>
            <i-button @click.stop="clear" class="mr15" ghost type="primary">クリア</i-button>
            <i-button type="success" ghost class="mr15" @click="beginDateUploadOrUpdate">登録</i-button>
        </div>
        <div class="tr mb10" v-else>
            <i-button class="mr15" ghost type="error" @click="avgWorkTimeDelete">削除</i-button>
            <i-button class="mr15" ghost type="success" @click="avgWorkTimeUpload">登録</i-button>
        </div>

        <span v-if="isBeginDateEdit">
                <Row :gutter="10" class="mt20 mb10" v-if="isBeginDateEdit">
                    <i-col span="15">
                        <div class="titlenorm">
                            <Icon type="logo-buffer"></Icon>
                            勤務開始日設定状況
                        </div>

                        <i-table border :columns="workDaySettingColums" :data="workDaySettingData" :loading="loading" v-if="!forClear" 　key="forClear2" :disabled-hover="true" :row-class-name="() => 'select-col'"
                                 class="mt2">
                            <template slot-scope="{ row }" slot="radio">
                                <Radio v-model="row.isChecked" @on-change="handleRadio(row._index)"></Radio>
                            </template>

                            <template slot-scope="{ row }" slot="time">
                                <date-picker :value="workDaySettingData[row._index].dstart" format="yyyy/MM/dd" type="date" transfer
                                             style="width:47%" :disabled="row._index !== radioCheckedIndex"
                                             @on-change="workDaySettingData[row._index].dstart=$event">
                                </date-picker>

                                <date-picker :value="workDaySettingData[row._index].dend" format="yyyy/MM/dd" type="date" transfer
                                             style="width:47%" :disabled="row._index !== radioCheckedIndex"
                                             @on-change="workDaySettingData[row._index].dend=$event">
                                </date-picker>

                            </template>

                            <template slot-scope="{ row }" slot="beginDate">
                                <date-picker :value="workDaySettingData[row._index].beginDate" :disabled="row._index !== radioCheckedIndex"
                                             format="yyyy/MM/dd" type="date" transfer
                                             @on-change="workDaySettingData[row._index].beginDate=$event"></date-picker>
                            </template>
                        </i-table>
                    </i-col>
                    <i-col span="9">
                        <div class="titlenorm">
                            <Icon type="logo-buffer"></Icon>
                            [参考]発令上の勤務開始日
                        </div>
                        <i-table border :columns="referSettingColums" :data="referSettingData" :loading="loading" :disabled-hover="true" :row-class-name="() => 'select-col'"
                                 class="mt2"></i-table>
                    </i-col>
                </Row>
                <div class="titlenorm mb10" v-if="isBeginDateEdit">
                    <Icon type="logo-buffer"></Icon>
                    更新履歴
                </div>
                <i-table border :columns="historyColums" :data="historyData" :loading="loading" v-if="isBeginDateEdit" :row-class-name="() => 'select-col'" :disabled-hover="true">
                </i-table>
            </span>


        <span v-if="isAvgTimeEdit">
                <div class="titlenorm mt10" style="margin-bottom:0">
                    <Icon type="logo-buffer"></Icon>
                    平均勤務時間設定:変更内容
                </div>
                <span class="input-like-span tl pl20" style="border-top:0">
                    {{opts.baseDate}} から
                    <input-number :max="99" :min="0" :step="1" class="tl" v-model="nowWork.avgWorkTime1"></input-number>
                    時間
                    <input-number :max="59" :min="0" :step="1" class="tl" v-model="nowWork.avgWorkTime2"></input-number>
                    分　(週
                    <input-number :max="7" :min="0" :step="1" class="tl" v-model="nowWork.workingdaysWeek"></input-number>
                    日) 勤務とする
                </span>
                <div class="titlenorm mb10 mt20">
                    <Icon type="logo-buffer"></Icon>
                    平均勤務時間設定状況
                </div>

                <i-table border :columns="averageTimeColums" :data="averageTimeData" :loading="loading" :row-class-name="() => 'select-col'" :disabled-hover="true"></i-table>
            </span>
        <Spin size="large" fix v-if="empattrLoading"></Spin>
    </Modal>
</main>
<div th:replace="layout/head::header"></div>
<script type="text/babel" th:inline="javascript">
    const MONTH_SUM_INFO = new Vue({
        el: '.empattrsettinginfo-warp',
        data() {
            return {
                empattrLoading: false,
                OverTimeCheck: true,
                manageCheck: true,
                limitTime: '',
                searchEmpTreeData: [],        //組織ツリー用
                searchTypesList: [],     //組織ツリー用
                searchConditionsList: [],//組織ツリー用
                emplistLoading: false,  //職員番号ローディング用動画
                empTreeData: [],
                currentTab: '',         //組織のツリーと検索タブーを切り替え
                manageValue: [],
                overValue: [],
                contentScrollTop: 0,
                pageValue: {
                    amount: 0,
                    curPage: 1,
                    curSize: 50
                },
                radioCheckedIndex: 0,
                nowWork: {
                    avgWorkTime1: '',
                    avgWorkTime2: '',
                    workingdaysWeek: '',

                },
                empName: '',
                workerTypeName: '',
                isBeginDateEdit: false,
                isAvgTimeEdit: false,
                forClear: false,
                msg: '※勤務開始日の変更によって年休付与日が変動する場合、設定済みの調整付与日数はクリアされます。\n' +
                    '　変更後、年次休暇管理を確認し、残日数がマイナスになっている場合は改めて調整をしてください。\n' +
                    '※注意：選択した対象区間のみ、更新処理を実行します。',
                errorMsg: '',
                isShow: false,
                loading: false,
                isEditable: false,
                curDate: new Date(),
                deptName: '選んでください',  //選択した職員の所属
                empDeptName: this.deptName,
                isSearchHistory: false,
                deptDrawShow: false,    //組織ツリー用
                empDeptLoading: false,  // 組織ツリーloading用
                referListObject: {       //組織ツリー共通
                    hidSearchItems: 'EMPLOYEEID',
                    hidSearchCondition: 'BROADMATCH',
                    hidSearchData: '',
                    hidSelectTab: '0',
                    txtTmgReferListTreeViewRecordDate: '',
                    txtTmgReferListTreeViewAdminTargetSection: '',
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]: '',
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_EMP }]]: '',
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_GROUP }]]: '',
                    [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp'),
                    type: 21
                },
                query: {
                    hidSearchItems: [[${ session.SearchItems }]],     //検索種別
                    hidSearchCondition: [[${ session.SearchCondition }]], //検索条件
                    hidSearchData: [[${ session.SearchData }]],      //検索対象
                    hidSelectTab: [[${ session.hidSelectTab }]] === 1 ? '1' : '0',
                    txtTmgReferListTreeViewRecordDate: '',
                    txtTmgReferListTreeViewAdminTargetSection: '',
                    txtTmgReferListTreeViewAdminTargetEmp: '',
                    recordDate: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp')
                },
                currentTab: [[${ session.hidSelectTab }]] === 1 ? "organisationSearch" : "organisationTree",         //組織のツリーと検索タブーを切り替え
                treeData: [],            //組織ツリー用
                opts: {
                    hidSearchItems: 'EMPLOYEEID',
                    hidSearchCondition: 'BROADMATCH',
                    hidSearchData: '',
                    hidSelectTab: '0',      //組織タブー0：ツリ、1:検索
                    keyword: '',
                    baseDate: Utils.formatDate(new Date(), 'YYYY/MM/DD'),
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    //目标sec
                    txtTmgReferListTreeViewAdminTargetSection: '',
                    //基准日
                    txtTmgReferListTreeViewRecordDate: '',
                    txtTmgReferListTreeViewAdminTargetEmp: '',
                    psApp: Utils.getUrlParam(location.href, 'psApp'),
                    type: 21,
                    page: '1',
                    empId: ''
                },
                columns: [
                    {
                        title: '氏名',
                        key: 'meCkanjiname',
                        width: 150,
                        align: 'left'
                    },
                    {
                        title: '職種',
                        key: 'hdCpostname',
                        minWidth: 180,
                        align: 'left',
                        tooltip: true
                    },
                    {
                        title: '種別',
                        key: 'temCworktypename',
                        minWidth: 220,
                        align: 'left',
                        tooltip: true
                    },
                    {
                        title: '管理対象者',
                        slot: 'manageFlg',
                        minWidth: 80,
                        maxWidth: 200,
                        align: 'center'
                    },
                    {
                        title: '超過勤務対象者',
                        minWidth: 80,
                        maxWidth: 200,
                        slot: 'excludeOvertime',
                        align: 'center'
                    },
                    {
                        title: '勤務開始日',
                        slot: 'begindate',
                        minWidth: 100,
                        align: 'center'
                    },
                    {
                        title: '平均勤務\n時間設定',
                        slot: 'tphaNavgworktime',
                        minWidth: 80,
                        align: 'center'
                    },
                    {
                        title: '週勤務日数',
                        minWidth: 60,
                        slot: 'tphaNworkingdaysWeek',
                        align: 'center'
                    }
                ],
                tableData: [],
                referSettingColums: [
                    {
                        title: '発令日',
                        key: 'dstart'
                    },
                    {
                        title: '勤務開始日',
                        key: 'ddateofemployement'
                    }
                ],
                averageTimeColums: [
                    {
                        title: '開始年月日',
                        key: 'tphaDstartdate',
                        align: 'cener'
                    },
                    {
                        title: '終了年月日',
                        key: 'tphaDenddate'
                    },
                    {
                        title: '設定内容',
                        key: 'content'
                    }
                ],
                historyColums: [
                    {
                        title: '更新者',
                        key: 'modifieruserId',
                        align: 'left',
                        width: 150
                    },
                    {
                        title: '更新日時',
                        key: 'modifieddate',
                        align: 'center',
                        width: 200
                    },
                    {
                        title: '更新内容',
                        key: 'tdlgCmodifieddetail',
                        align: 'left'
                    }
                ],
                workDaySettingColums: [
                    {
                        title: ' ',
                        slot: 'radio',
                        width: 35
                    },
                    {
                        title: '適用期間',
                        slot: 'time',
                        width: 300
                    },
                    {
                        title: '勤務開始日',
                        slot: 'beginDate'
                    }
                ],
                workDaySettingData: [],
                beginDateListBackUp: [],
                averageTimeData: [],
                historyData: [],
                referSettingData: [],
                hasPassedTimeCheck: false,
                titlesMessage: ''
            }
        },
        async mounted() {
            this.getInit()

        },

        methods: {
            // 職員検索
            async getSearchTableData() {
                if (this.opts.hidSearchData === null || this.opts.hidSearchData.trim() == '') {
                    this.$Message.error({
                        background: true,
                        closable: true,
                        duration: 6,
                        content: '検索内容が未設定です。検索内容を入力してください。'
                    });
                    return
                }
                this.deptName = '検索対象者一覧'
                //ツリー：0、検索：1
                this.referListObject.hidSelectTab = '1'
                this.query.hidSelectTab = '1'
                this.opts.hidSelectTab = '1'
                this.getTableData()
            },
            //初期化処理
            async getInit() {

                let targetAdminSection = [[${ session.txtTmgReferListTreeViewAdminTargetSection }]]
                let loginDesignationSection = [[${ session.psSession.loginDesignation[0].section }]]
                if (Utils.formatDate([[${ session.TmgReferListSYSDATE }]], 'yyyy/mm/dd')) {
                    this.referListObject.txtTmgReferListTreeViewRecordDate = Utils.formatDate([[${ session.TmgReferListSYSDATE }]], 'yyyy/mm/dd')
                }
                await this.getOrgTree()

                //検索の初期化対応 add by chenyl
                this.query.hidSelectTab = [[${ session.hidSelectTab }]]
                this.query.hidSearchItems = [[${ session.hidSearchItems }]]
                this.query.hidSearchCondition = [[${ session.hidSearchCondition }]]
                this.query.hidSearchData = [[${ session.hidSearchData }]]

                this.referListObject.hidSelectTab = [[${ session.hidSelectTab }]]
                this.referListObject.hidSearchItems = [[${ session.hidSearchItems }]] || 'EMPLOYEEID'
                this.referListObject.hidSearchCondition = [[${ session.hidSearchCondition }]] || 'BROADMATCH'
                this.referListObject.hidSearchData = [[${ session.hidSearchData }]]

                this.opts.hidSelectTab = [[${ session.hidSelectTab }]]
                this.opts.hidSearchItems = [[${ session.hidSearchItems }]] || 'EMPLOYEEID'
                this.opts.hidSearchCondition = [[${ session.hidSearchCondition }]] || 'BROADMATCH'
                this.opts.hidSearchData = [[${ session.hidSearchData }]]


                //　初回管理サイトの画面にアクセスするなら、targetSectionがnullであることから、下記通りでデフォルト所属を設定する
                // １．ログインユーザが本人所属部署の管理権限がある場合、ログインユーザの所属部署をデフォルト所属とする。
                // ２．ログインユーザが本人所属部署の管理権限がない場合、ログインユーザの管理対象部署のTOP部署をデフォルト所属とする
                if (!targetAdminSection) {
                    this.getDeptCode(this.treeData, loginDesignationSection)
                    if (this.targetAdminSectionFlag) {
                        this.deptName = [[${ session.psSession.loginDesignation[0].sectionName }]]
                        this.referListObject.txtTmgReferListTreeViewAdminTargetSection = [[${ session.psSession.loginDesignation[0].section }]]
                        this.opts.txtTmgReferListTreeViewAdminTargetSection = this.referListObject.txtTmgReferListTreeViewAdminTargetSection
                        this.opts.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                        this.opts.baseDate = this.referListObject.txtTmgReferListTreeViewRecordDate

                        // add by chenyl
                        this.referListObject.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                        this.referListObject.recordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                        this.query.txtTmgReferListTreeViewAdminTargetSection = [[${ session.psSession.loginDesignation[0].section }]]
                        this.query.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                        this.query.recordDate = this.referListObject.txtTmgReferListTreeViewRecordDate

                    } else {
                        this.deptName = this.treeData[0].children[0].secnic
                        this.referListObject.txtTmgReferListTreeViewAdminTargetSection = this.treeData[0].children[0].secid
                        this.opts.txtTmgReferListTreeViewAdminTargetSection = this.referListObject.txtTmgReferListTreeViewAdminTargetSection
                        this.opts.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                        this.opts.baseDate = this.referListObject.txtTmgReferListTreeViewRecordDate

                        // add by chenyl
                        this.referListObject.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                        this.referListObject.recordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                        this.query.txtTmgReferListTreeViewAdminTargetSection = this.treeData[0].children[0].secid
                        this.query.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                        this.query.recordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    }
                } else {
                    this.deptName = [[${ session.txtTmgReferListTreeViewAdminTargetSectionName }]]
                    this.referListObject.txtTmgReferListTreeViewAdminTargetSection = [[${ session.txtTmgReferListTreeViewAdminTargetSection }]]
                    this.opts.txtTmgReferListTreeViewAdminTargetSection = this.referListObject.txtTmgReferListTreeViewAdminTargetSection
                    this.opts.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    this.opts.baseDate = this.referListObject.txtTmgReferListTreeViewRecordDate

                    // add by chenyl
                    this.referListObject.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    this.referListObject.recordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    this.query.txtTmgReferListTreeViewAdminTargetSection = [[${ session.txtTmgReferListTreeViewAdminTargetSection }]]
                    this.query.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    this.query.recordDate = this.referListObject.txtTmgReferListTreeViewRecordDate

                }
                this.curDate = this.opts.baseDate
                this.getSearchCondition()
                //一覧画面取得
                this.getTableData()
            },
            getDeptCode(data, loginDesignationSection) {
                data.forEach(e => {
                    if (e.secid === loginDesignationSection) {
                        this.targetAdminSectionFlag = true
                    } else {
                        const children = e.child || e.children
                        if (children) {
                            this.getDeptCode(children, loginDesignationSection)
                        }
                    }
                })
            },
            async getSearchCondition() {
                const {data} = await this.http.get('sys/tree/conditions', this.referListObject)
                this.searchConditionsList = Object.keys(data.searchConditions).map(e => {
                    return {name: data.searchConditions[e], value: e}
                })
                this.searchTypesList = Object.keys(data.searchTypes).map(e => {
                    return {name: data.searchTypes[e], value: e}
                })
            },
            async avgWorkTimeUpload() {

                if (parseFloat(this.nowWork.avgWorkTime1).toString() == "NaN") {
                    this.$Notice.error({title: '注意', desc: "時間は数字で入力してください。", duration: 6.5});
                    return
                }
                if (parseFloat(this.nowWork.avgWorkTime2).toString() == "NaN") {
                    this.$Notice.error({title: '注意', desc: "分は数字で入力してください。", duration: 6.5});
                    return
                }
                if (parseFloat(this.nowWork.workingdaysWeek).toString() == "NaN") {
                    this.$Notice.error({title: '注意', desc: "週は数字で入力してください。", duration: 6.5});
                    return
                }
                if (parseFloat(this.nowWork.avgWorkTime2) > 59 || 0 > parseFloat(this.nowWork.avgWorkTime2)) {
                    this.$Notice.error({title: '注意', desc: "分は59分以内で入力してください。", duration: 6.5});
                    return
                }
                if (parseFloat(this.nowWork.workingdaysWeek) > 6 || 0 > parseFloat(this.nowWork.workingdaysWeek)) {
                    this.$Notice.error({title: '注意', desc: "週勤務日数は6日以内で入力してください。", duration: 6.5});
                    return
                }
                let hours = +this.nowWork.avgWorkTime1
                let mins = +this.nowWork.avgWorkTime2
                if (hours * 60 + mins > +(this.limitTime)) {
                    this.$Notice.error({desc: "平均勤務時間は" + Math.trunc(this.limitTime / 60) + ":" + this.limitTime % 60 + "分以内で入力してください。"})
                    return
                }
                let params = {"sAvgWorkingHours": this.nowWork.avgWorkTime1, "sAvgWorkingMinutes": this.nowWork.avgWorkTime2, "sWorkingdaysWeek": this.nowWork.workingdaysWeek}
                const OPTS = {...this.opts, "params": JSON.stringify(params)}
                try {
                    this.$Modal.confirm({
                        title: '注意',
                        width: 480,
                        content: 'この編集内容を登録します。\nなお、登録した内容は翌日から反映されます。\nよろしいですか？',
                        okText: 'OK',
                        cancelText: 'キャンセル',
                        onOk: async () => {
                            this.empattrLoading = true
                            await this.http.postForm('sys/userprofile/avgWorkTimeUpload', OPTS)
                            this.$Notice.info({title: '登録成功', desc: ""})
                            this.empattrLoading = false
                            this.isShow = false
                            this.getTableData()
                        }
                    })
                } catch (error) {
                    return
                }

            },
            async avgWorkTimeDelete() {
                let params = {"sAvgWorkingHours": this.nowWork.avgWorkTime1, "sAvgWorkingMinutes": this.nowWork.avgWorkTime2, "sWorkingdaysWeek": this.nowWork.workingdaysWeek}
                const OPTS = {...this.opts, "params": JSON.stringify(params)}
                try {
                    this.$Modal.confirm({
                        title: '注意',
                        width: 480,
                        content: '基準日以降の設定内容を削除します。\nなお、削除した内容は翌日から反映されます。\nよろしいですか？',
                        okText: 'OK',
                        cancelText: 'キャンセル',
                        onOk: async () => {
                            this.empattrLoading = true
                            await this.http.postForm('sys/userprofile/avgWorkTimeDelete', OPTS)
                            this.$Notice.info({title: '削除成功', desc: ""})
                            this.empattrLoading = false
                            this.isShow = false
                            this.getTableData()
                        }
                    })
                } catch (error) {
                    return
                }
            },
            async beginDateDelete() {
                //console.log("beginDateDelete" + this.radioCheckedIndex)
                if (!this.radioCheckedIndex) {
                    this.$Notice.error({desc: "削除対象の行を選択してください。\n先頭行は新規追加用の行です"})
                    return
                }
                let index = this.radioCheckedIndex
                let oldValue = Array.of(this.workDaySettingData[index]).map(e => {
                    return {'action': 'ACTION_EDITBEGINDATE_D', "psOldStartDate": e.dstart, "psOldEndDate": e.dend, 'psOldBeginDate': e.beginDate, 'psMaxOldStartDate': ''}
                })[0]

                let params = {...oldValue}
                const OPTS = {...this.opts, "params": JSON.stringify(params)}
                try {
                    this.$Modal.confirm({
                        title: '注意',
                        width: 480,
                        content: '選択された行の設定を削除します。よろしいですか？',
                        okText: 'OK',
                        cancelText: 'キャンセル',
                        onOk: async () => {
                            this.empattrLoading = true
                            await this.http.postForm('sys/userprofile/beginDateDelete', OPTS)
                            this.$Notice.info({title: '削除成功', desc: ""})
                            this.empattrLoading = false
                            this.isShow = false
                            this.workDaySettingData.splice(index, 1)
                            this.getTableData()
                        }
                    })

                } catch (error) {

                }
            },
            // エラーチェック
            beginDateCheck() {
                let index = this.radioCheckedIndex;
                let minDate = new Date('1900/1/1');
                let maxDate = new Date('2222/12/31');
                if (this.workDaySettingData[index].beginDate === "") {
                    this.$Notice.error({desc: "勤務開始日を入力してください。"})
                    return true
                }
                if (this.workDaySettingData[index].dstart === "") {
                    this.$Notice.error({desc: "適用開始日を入力してください。"})
                    return true
                }

                if (this.workDaySettingData[index].dend === "") {
                    this.workDaySettingData[index].dend = '2222/12/31'
                }

                if (this.workDaySettingData[index].dstart > this.workDaySettingData[index].dend) {
                    this.$Notice.error({desc: "適用開始日＜＝適用終了日となるように入力してください。"})
                    return true
                }
                if (new Date(this.workDaySettingData[index].dstart) > maxDate || new Date(this.workDaySettingData[index].dstart) < minDate) {
                    this.$Notice.error({desc: "適用開始日は適切な日付ではありません。\n1900/01/01～2222/12/31の範囲で入力してください。"})
                    return true
                }
                if (new Date(this.workDaySettingData[index].dend) > maxDate || new Date(this.workDaySettingData[index].dend) < minDate) {
                    this.$Notice.error({desc: "適用終了日は適切な日付ではありません。\n1900/01/01～2222/12/31の範囲で入力してください。"})
                    return true
                }
                if (new Date(this.workDaySettingData[index].beginDate) > maxDate || new Date(this.workDaySettingData[index].beginDate) < minDate) {
                    this.$Notice.error({desc: "勤務開始日は適切な日付ではありません。\n1900/01/01～2222/12/31の範囲で入力してください。"})
                    return true
                }
                let that = this
                let check = this.workDaySettingData.some((e) => {
                   // console .log("check....." + JSON.stringify(e))
                    if (!e.isChecked) {
                        return that.dateRangeOverlaps(
                            new Date(this.workDaySettingData[index].dstart),
                            new Date(this.workDaySettingData[index].dend),
                            new Date(e.dstart),
                            new Date(e.dend)
                        )

                    }
                })
                if (check) {
                    this.$Notice.error({desc: "入力された適用期間が既に登録されている適用期間と重複しています。\n適用期間が重複しない様に日付を変更してください。"})
                    return true
                }

                return false
            },
            async beginDateUploadOrUpdate() {
                if (this.beginDateCheck()) {
                    return
                }
                let index = this.radioCheckedIndex;

                let max = Math.max.apply(null, this.beginDateListBackUp.slice(1).map(e => new Date(e.dstart)))

                let psMaxOldStartDate = Utils.formatDate(new Date(max))

                let tempUrl;
                let msg;
                let newValue;
                let oldValue;
                if (index == 0) {
                    tempUrl = "beginDateUpload"
                    newValue = Array.of(this.workDaySettingData[index]).map(e => {
                        return {'action': 'ACTION_EDITBEGINDATE_C', "psStartDate": e.dstart, "psEndDate": e.dend, 'psBeginDate': e.beginDate}
                    })[0]
                    msg = "勤務開始日の設定を新規登録します。よろしいですか？"
                } else {
                    tempUrl = "beginDateUpdate"
                    msg = "選択された行の設定を変更します。よろしいですか？"
                    newValue = Array.of(this.workDaySettingData[index]).map(e => {
                        return {'action': 'ACTION_EDITBEGINDATE_U', "psStartDate": e.dstart, "psEndDate": e.dend, 'psBeginDate': e.beginDate}
                    })[0]
                    oldValue = Array.of(this.beginDateListBackUp[index]).map(e => {
                        return {"psOldStartDate": e.dstart, "psOldEndDate": e.dend, 'psOldBeginDate': e.beginDate, 'psMaxOldStartDate': psMaxOldStartDate}
                    })[0]
                }
                let params = {...newValue, ...oldValue}
                const OPTS = {...this.opts, "params": JSON.stringify(params)}

                try {
                    this.$Modal.confirm({
                        title: '注意',
                        width: 480,
                        content: msg,
                        okText: 'OK',
                        cancelText: 'キャンセル',
                        onOk: async () => {
                            this.empattrLoading = true
                            await this.http.postForm('sys/userprofile/' + tempUrl, OPTS)
                            this.workDaySettingData[index].isChecked = false
                            this.workDaySettingData.unshift({"isChecked": true, "dstart": '', "dend": '', "dendback": '', "beginDate": ''})
                            this.empattrLoading = false
                            this.isShow = false
                            this.getTableData()
                        }
                    })

                } catch (e) {
                    return
                }

            },
            async manageFlagUpdate() {
                const OPTS = {
                    ...this.opts, "ManageList": JSON.stringify(this.manageValue),
                    "OverTimesList": JSON.stringify(this.overValue)
                }
               // console.log("manageFlagUpdate" + JSON.stringify(OPTS))

                try {
                    this.$Modal.confirm({
                        title: '注意',
                        width: 480,
                        content: 'この編集内容で登録します。よろしいですか？',
                        okText: 'OK',
                        cancelText: 'キャンセル',
                        onOk: async () => {
                            await this.http.postForm('sys/userprofile/manageFlagUpdate', OPTS)
                            this.$Notice.info({title: '登録成功', desc: ""})
                            this.isEditable = false
                            this.getTableData()
                        }
                    })

                } catch (error) {
                    return
                }

            },
            checkBoxChange(e, i, name) {
                if (name == "over") {
                    this.overValue[i].updaeCheckType = e
                    this.tableData[i].excludeOvertime = e
                } else if (name == "manage") {
                    this.manageValue[i].updaeCheckType = e
                    this.tableData[i].manageFlg = e
                }

            },
            checkOverWorkAlladmin() {
                let that = this
                if (this.OverTimeCheck) {
                    this.tableData.forEach((e, index) => {
                        that.overValue[index].updaeCheckType = true
                        e.excludeOvertime = true

                    })
                    this.OverTimeCheck = false
                } else {
                    this.tableData.forEach((e, index) => {
                        that.overValue[index].updaeCheckType = false
                        e.excludeOvertime = false
                    })
                    this.OverTimeCheck = true
                }

            },
            checkAlladmin() {
                let that = this
                if (this.manageCheck) {
                    this.tableData.forEach((e, index) => {
                        that.manageValue[index].updaeCheckType = true
                        e.manageFlg = true
                    })
                    this.manageCheck = false
                } else {
                    this.tableData.forEach((e, index) => {
                        that.manageValue[index].updaeCheckType = false
                        e.manageFlg = false
                    })
                    this.manageCheck = true
                }

            },
            handleDatePicker() {
                if (this.deptName !== '選んでください') {
                    this.opts.baseDate = Utils.formatDate(this.curDate, 'yyyy/MM/dd')
                    this.getTableData()
                    return
                }
                this.$Notice.warning({title: '所属を選択して下さい'})
            },
            async handleDeptDateChange(e) {
                this.referListObject.txtTmgReferListTreeViewRecordDate = e
                this.isSearchHistory = true
                await this.getOrgTree()
                if (this.treeData.length !== 0) {
                    this.$Notice.warning({title: '所属図更新完了', desc: "下記の所属リストから対象を選んでください"})
                }
            },
            async getOrgTree() {
                this.empDeptLoading = true
                try {
                    const {orgList, recordDate} = await this.http.get('sys/tree', this.referListObject)
                    // 转为可用数据
                    this.treeData = Utils.convertTreeData(orgList)
                    this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                } catch (error) {
                    return
                } finally {
                    this.loading = false
                    this.empDeptLoading = false
                }
            },
            //ツリー検索
            handleClickLeaf(e) {
                if (!e[0]) return
                this.deptDrawShow = false
                this.deptName = e[0].secnic
                this.opts.txtTmgReferListTreeViewAdminTargetSection = e[0].secid
                this.opts.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                this.opts.baseDate = Utils.formatDate(this.curDate, 'yyyy/MM/dd')
                //ツリー検索までリセット
                this.query.hidSelectTab = '0'
                this.opts.hidSelectTab = '0'
                this.getTableData()
            },
            keywordSearch() {
            },

            manageCancel() {
                this.isEditable = !this.isEditable
                this.getTableData()
            },
            // データリスト
            async getTableData() {
                this.loading = true
                try {
                    if (this.query.hidSelectTab == '1') {
                        this.deptName = '検索対象者一覧'
                    }
                    //console.log("getTableData" + JSON.stringify(this.opts))
                    const {data} = await this.http.get('sys/userprofile/screenDisp', this.opts)
                    this.pageValue.amount = data.totalCount
                    this.tableData = data.list
                    if (data.totalCount == 0 && this.opts.hidSelectTab == '0' ){
                        if(this.treeData.length !== 0) {
                            this.$Message.error({
                                background: true,
                                closable: true,
                                duration: 6,
                                content: '選択した所属に存在している職員はありません。'
                            })
                        }
                    }
                    if (data.totalCount == 0 && this.opts.hidSelectTab == '1' ){
                        if(this.treeData.length !== 0) {
                            this.$Message.error({
                                background: true,
                                closable: true,
                                duration: 6,
                                content: '条件に一致する職員が見つかりませんでした。'
                            })
                        }
                    }

                    this.manageValue = Array(data.list.length).fill().map((e, index) => ({
                        "employeeId": data.list[index].meCemployeeidCk,
                        "initCheckType": data.list[index].manageFlg,
                        "updaeCheckType": data.list[index].manageFlg
                    }))

                    this.overValue = Array(data.list.length).fill().map((e, index) => ({
                        "employeeId": data.list[index].meCemployeeidCk,
                        "initCheckType": data.list[index].excludeOvertime,
                        "updaeCheckType": data.list[index].excludeOvertime
                    }))

                } catch (error) {
                    //console.log(error)
                    return
                } finally {
                    this.loading = false
                    this.isSearchHistory = false
                }
            },
            // 勤務開始日
            async handleBeginDate(e) {
                if (!e) return

                this.titlesMessage = '勤務開始日設定'
                if (this.opts.hidSelectTab == '1') {
                    //職員検索の場合、リクエスト要
                    this.query.txtTmgReferListTreeViewAdminTargetEmp = e.meCemployeeidCk
                    this.getApplyEmployPersonalInfo()
                } else {
                    //部署検索の場合、リクエスト不要
                    this.empDeptName = this.deptName
                }
                this.opts.empId = e.meCemployeeidCk
                this.empName = e.meCkanjiname
                this.sectionName = this.deptName
                this.workerTypeName = e.temCworktypename

                //选择职员保存、初期化使用。
                this.opts.txtTmgReferListTreeViewAdminTargetEmp = e.meCemployeeidCk

                try {
                    const {data} = await this.http.get('sys/userprofile/beginDateEditDisp', this.opts)
                    this.referSettingData = [data.beginDate]
                    this.workDaySettingData = [
                        {
                            isChecked: true,
                            dstart: '',
                            dend: '',
                            dendback: '',
                            beginDate: ''
                        }
                    ].concat(data.list)

                    this.beginDateListBackUp = Utils.deepClone(this.workDaySettingData)
                    this.historyData = data.historyList
                    this.handleRadio(0)
                    this.isShow = true
                    this.isBeginDateEdit = true
                    this.isAvgTimeEdit = false
                } catch (error) {
                   // console.log(error)
                    return
                } finally {

                }


            },
            // 平均勤務時間設定
            async handleAvgTime(e,tabType) {
                if (!e) return

                if (tabType == '0') {
                    this.titlesMessage = '平均勤務時間設定'
                } else if (tabType == '1') {
                    this.titlesMessage = '勤務日数設定'
                }
                if (this.opts.hidSelectTab == '1') {
                    //職員検索の場合、リクエスト要
                    this.query.txtTmgReferListTreeViewAdminTargetEmp = e.meCemployeeidCk
                    this.getApplyEmployPersonalInfo()
                } else {
                    //部署検索の場合、リクエスト不要
                    this.empDeptName = this.deptName
                }
                this.opts.empId = e.meCemployeeidCk
                this.empName = e.meCkanjiname
                this.workerTypeName = e.temCworktypename

                //选择职员保存、初期化使用。
                this.opts.txtTmgReferListTreeViewAdminTargetEmp = e.meCemployeeidCk

                try {
                    const {data} = await this.http.get('sys/userprofile/avgWorkTimeEditDisp', this.opts)
                    this.averageTimeData = data.historyList
                   // console.log("handleAvgTime" + JSON.stringify(data))
                    this.nowWork.workingdaysWeek = data.nowAvgWorkTime.workingdaysWeek
                    this.nowWork.avgWorkTime1 = data.nowAvgWorkTime.avgWorkTime1
                    this.nowWork.avgWorkTime2 = data.nowAvgWorkTime.avgWorkTime2
                    this.limitTime = data.limitTime
                    this.isShow = true
                    this.isAvgTimeEdit = true
                    this.isBeginDateEdit = false
                } catch (error) {
                   // console.log(error)
                    return
                } finally {

                }

            },
            cancel() {
                this.workDaySettingData = this.beginDateListBackUp
                this.handleRadio(0)
                this.isShow = false
            },
            handleRadio(index) {
                this.radioCheckedIndex = index
                this.workDaySettingData = this.workDaySettingData.map((e, i) => {
                    return {
                        ...e,
                        isChecked: i === index ? true : false
                    }
                })
            },
            clear() {
                this.workDaySettingData = this.beginDateListBackUp
                this.handleRadio(0)
            },
            pageChange(e) {
                this.opts.page = e
                this.pageValue.curPage = e
                this.getTableData()
            },
            currentTabChanged(name) {
                if (name == "organisationTree") {
                    this.opts.hidSelectTab = '0'
                } else if (name == "organisationSearch") {
                    this.opts.hidSelectTab = '1'
                }
            },
            handleClickEmpLeaf(e) {
                //同一部署を二回目でクリックすると、取消とするためで、エラーあり
                //よって、二回目クリックすると、何もしない
                if (!e[0]) return
                this.deptDrawShow = false
                this.opts.hidSearchData = e[0].empid
                this.opts.txtTmgReferListTreeViewAdminTargetSection = e[0].secid
                this.opts.txtTmgReferListTreeViewAdminTargetEmp = e[0].empid
                this.opts.baseDate = Utils.formatDate(this.curDate, 'yyyy/MM/dd')
                this.deptName = e[0].secnic
                this.getTableData()
            },
            searchOrgTree: Debounce(async function () {
                this.empDeptLoading = true
                try {
                    const {data} = await this.http.get('sys/tree/search', this.referListObject)
                    this.searchEmpTreeData = Utils.convertTreeData(data)
                    this.$Notice.success({title: '所属図更新完了'})
                } catch (error) {
                    return
                } finally {
                    this.empDeptLoading = false
                }
            }),
            handleScroll: Throttle(function (e) {
                this.contentScrollTop = e.target.scrollTop
            }, 50),

            dateRangeOverlaps(a_start, a_end, b_start, b_end) {
                if (b_start >= a_start && a_end >= b_start) return true
                if (b_end >= a_start && a_end >= b_end) return true
                if (a_start > b_start && b_end > a_end) return true
                return false
            },
            // 職員情報取得
            async getApplyEmployPersonalInfo() {
                // 職員情報取得
                const {data} = await this.http.get('sys/vapply/EmployInfo', this.query)
                this.empDeptName = data.section
            },

        }
    })
</script>
</body>

</html>