<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='超過勤務命令',cssPaths='/pages/content.min.css,' + '/pages/overtimeinstruct.min.css')">
</head>

<body>
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <main class="content overtimeinstruchinfo-warp" @scroll.passive="handleScroll" ref="layout">
        <div class="content_head">
            <div class="header">
                <div class="title1">
                    <h1>
                        <Icon type="i-emeer colored"></Icon>
                        {{ `超過勤務命令` }}
                    </h1>
                </div>
                <div class="btnbox">
                    <div style="height:40px;margin:2px"></div>
                </div>
            </div>
            <div class="searchwrap">
                <span class="label">年月</span>
                <date-picker class="mar" v-model="curDate" type="month" :editable="false" :clearable="false"
                    @on-change="handleDatePicker" format="yyyy年MM月度"></date-picker>
                <!-- 共通組織図画面 start-->
                <span style="display:flex;width: calc(15% + 200px);">
                    <span class="label">所属</span>
                    <i-button v-on:click.native="deptDrawShow = true" class="input-like-span mr30 cursor grey"
                        style="width: calc(100% - 120px);border-radius:0">
                        {{ deptName }}
                    </i-button>
                    ​
                    <Drawer class="tc" title="所属を選択してください" placement="right" width="700" :closable="false"
                        :mask-closable="!isSearchHistory" v-model="deptDrawShow">
                        <div class="titlenorm mb5">
                            <Icon type="logo-buffer"></Icon>
                            所属
                        </div>
                        <Row class="tl mb5">
                            <i-col span="4" class="label tc" style="height: 32px;">基準日</i-col>
                            <i-col span="7" class="no-border-radius">
                                <date-picker type="date" :value="referListObject.txtTmgReferListTreeViewRecordDate"
                                    placeholder="基準日" format="yyyy/MM/dd" ref="datePicker"
                                    @on-change="handleDeptDateChange"></date-picker>
                            </i-col>
                        </Row>

                        <div style="position: relative;">
                            <Tree class="tree mt2" :data="treeData" v-on:on-select-change="handleClickLeaf" ref="tree"
                                empty-text="所属データなし"></Tree>
                            <Spin size="large" fix v-if="empDeptLoading"></Spin>
                        </div>
                    </Drawer>
                </span>
                <!-- 共通組織図画面 end-->
            </div>
        </div>


        <div class="content_body">
            <div class="table-top tr">
                <Row :gutter="16">
                    <i-col span="8" class="tr" offset="16">
                        <i-select v-model="overWorkViewType" @on-change="handleTypeChange">
                            <i-option :value="1">超過勤務状況[命令時間]</i-option>
                            <i-option :value="2">超過勤務状況[実績時間]</i-option>
                            <i-option :value="3">超過勤務状況[実績時間（法定内含む）]</i-option>
                        </i-select>
                    </i-col>
                </Row>
            </div>
            <i-table border class="long-table" :columns="columns" :data="tableData" :disabled-hover="true"
                :loading="loading" no-data-text="教職員が存在している所属を選択して下さい。">
                <template slot-scope="{ row }" slot="name">
                    <span @click="toWorkPage"
                        class="mr10 pt2 pb2 pl10 pr10 cursor row-label-primary">{{ row.empname }}</span>
                </template>
                <template slot-scope="{ row }" slot="overtime" v-if="row.overtime">
                    <span :class="showRed(row.overtime)">{{ row.overtime.split('@')[0] }}</span>
                </template>
                <template slot-scope="{ row }" slot="overtimeyear" v-if="row.overTimeYear">
                    <span :class="showRed(row.overTimeYear)">{{ row.overTimeYear.split('@')[0] }}</span>
                </template>
                <template slot-scope="{ row }" slot="overtimeover45" v-if="row.overTimeOver45">
                    <span :class="showRed(row.overTimeOver45)">{{ row.overTimeOver45.split('@')[0] }}</span>
                </template>
                <template slot-scope="{ row }" slot="restworkcount" v-if="row.workInHolidayCount">
                    <span :class="showRed(row.workInHolidayCount)">{{ row.workInHolidayCount.split('@')[0]}}</span>
                </template>
                <template slot-scope="{ row }" slot="avgtime" v-if="row.avgOverTime">
                    <span :class="showRed(row.avgOverTime,'average')"
                        @click="showAverageDraw(row)">{{ row.avgOverTime.split('@')[0] }}
                    </span>
                </template>
                <template v-for="(item, i) of slotList" slot-scope="{ row }" :slot="item">
                    <span :class="showRed(row[item], 'day')" v-if="row[item]">{{ row[item].split('@')[0] }}</span>
                </template>
            </i-table>


            <Drawer :title="title" class="tc" width="1200" v-model="showDayApply" draggable>
                <Row :gutter="16" class="mb5">
                    <i-col span="13" offset="11" class="tr">
                        <i-button type="primary" size="large" class="tr">命令/確認</i-button>
                    </i-col>
                </Row>
                <Row class="mb15">
                    <i-col span="4" class="label">所属</i-col>
                    <i-col span="6">
                        <span class="input-like-span">{{ deptName }}</span>
                    </i-col>
                </Row>

                <div class="titlenorm mb10">
                    <Icon type="logo-buffer"></Icon>
                    一括適用
                </div>
                <i-table border :columns="columnsAction" :data="columnsActionData">
                    <template slot-scope="{ row }" slot="startTime">
                        <i-input />
                    </template>

                    <template slot-scope="{ row }" slot="endTime">
                        <i-input />
                    </template>

                    <template slot-scope="{ row }" slot="content">
                        <i-input type="textarea" :autosize="{ minRows: 2, maxRows: 5 }" />
                    </template>

                    <template slot-scope="{ row }" slot="restTime">
                        <Row :gutter="10">
                            <i-col span="12">
                                <i-input />
                            </i-col>
                            <i-col span="12">
                                <i-input />
                            </i-col>
                        </Row>
                    </template>

                    <template slot-scope="{ row }" slot="option">
                        <i-button type="primary" class="mr5" ghost @click="handleSelectAll2(false)">
                            クリア
                        </i-button>
                        <i-button type="primary" class="mr5" ghost @click="handleSelectAll2(true)">
                            全選択
                        </i-button>
                    </template>
                </i-table>

                <!-- 超过勤务命令的操作table -->
                <div class="titlenorm mb10">
                    <Icon type="logo-buffer"></Icon>
                    超過勤務命令
                </div>
                <i-table border :columns="columns3" :data="tableData3" ref="selection2" :loading="dailyTableLoading">
                    <template slot-scope="{ row }" slot="name">
                        <!-- <span @click="toWorkPage"
                            class="mr10 pt2 pb2 pl10 pr10 cursor row-label-primary">{{ row.empName }}</span> -->
                    </template>

                    <template slot-scope="{ row }" slot="wordkDivision">
                        <!-- <span :class="showRed(row.workingId, row)">{{ row.workingId }}</span> -->
                    </template>

                    <template slot-scope="{ row }" slot="workStartFinal">
                        <span>{{ row.openN }}</span>
                    </template>

                    <template slot-scope="{ row }" slot="workEndFinal">
                        <span>{{ row.closeN }}</span>
                    </template>

                    <template slot-scope="{ row }" slot="workStartReal">
                        <span>{{ row.openTp }}</span>
                    </template>

                    <template slot-scope="{ row }" slot="workEndReal">
                        <span>{{ row.closeTp }}</span>
                    </template>

                    <template slot-scope="{ row }" slot="remark">
                        <span>{{ row.message }}</span>
                    </template>

                </i-table>
            </Drawer>


            <Drawer title="平均超勤時間(月) 詳細" class="tc" width="800" v-model="showAverage" draggable>
                <Row :gutter="10">
                    <i-col span="8">
                        <div class="label" style="padding:1px 0">所属</div>
                        <div class="person-info">{{ deptName}}</div>
                    </i-col>
                    <i-col span="8">
                        <div class="label" style="padding:1px 0">氏名</div>
                        <div class="person-info">{{ empName }}</div>
                    </i-col>
                    <i-col span="8">
                        <div class="label" style="padding:1px 0">種別</div>
                        <div class="person-info">{{ empWorkerTypeName }}</div>
                    </i-col>
                </Row>
                <i-table border class="mt20" :columns="monthAverageColumns" :data="monthAverageTable"
                    :span-method="handleSpan" :loading="averageTableLoading">
                </i-table>
            </Drawer>

        </div>
    </main>
    <div th:replace="layout/script::common_script"></div>
    <script type="text/babel" th:inline="javascript">
        const MONTH_SUM_INFO = new Vue({
            el: '.overtimeinstruchinfo-warp',
            data() {
                return {
                    showAverage: false,
                    showDayApply: false,
                    dailyTableLoading: false,
                    title: '日別編集画面',
                    slotList: Utils.getNumArray(1, 31).map(e => `tmiCinfo${e}`),
                    loading: false,
                    averageTableLoading: false,
                    tableHead: [],   //表头
                    monthAverageTableHead: [],   //月平均表头
                    tableData: [],   //一览表数据
                    monthAverageTable: [],   //月平均表数据
                    columnsActionData: [{}],   //一括日别编辑表数据
                    tableData3: [],   //日别编辑表数据
                    overWorkViewType: 2,
                    treeData: [],            //組織ツリー用
                    curDate: new Date(),
                    deptName: '選んでください',  //選択した職員の所属
                    empName: '', //選択した職員名前
                    empWorkerTypeName: '', //選択した職員種別
                    isSearchHistory: false,
                    deptDrawShow: false,    //組織ツリー用
                    empDeptLoading: false,  // 組織ツリーloading用
                    referListObject: {       //組織ツリー共通
                        [[${ TREEVIEW_KEY_PERM_TARGET_SECTION }]]: '',
                        [[${ TREEVIEW_KEY_PERM_TARGET_EMP }]]: '',
                        [[${ TREEVIEW_KEY_PERM_TARGET_GROUP }]]: '',
                        [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                        type: 21
                    },
                    query: {
                        action: '',
                        baseDay: '',
                        baseMonth: '',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        //目标sec
                        txtTmgReferListTreeViewAdminTargetSection: '',
                        //基准日
                        txtTmgReferListTreeViewRecordDate: '',
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                        type: 21,
                        empId: '',
                    },
                    columns3: [
                        {
                            title: '氏名',
                            slot: 'name',
                            minWidth: 100,
                            align: 'right'
                        },
                        {
                            title: '区分',
                            minWidth: 36,
                            slot: 'wordkDivision',
                            align: 'center'
                        },
                        {
                            title: '予定',
                            align: 'center',
                            children: [
                                {
                                    title: '始業',
                                    align: 'center',
                                    width: 55,
                                    slot: 'workStartFinal'
                                },
                                {
                                    title: '終業',
                                    width: 55,
                                    slot: 'workEndFinal',
                                    align: 'center'
                                }
                            ]
                        },
                        {
                            title: '打刻',
                            align: 'center',
                            className: 'checkin',
                            children: [
                                {
                                    title: '始業',
                                    width: 55,
                                    slot: 'workStartReal',
                                    className: 'checkin',
                                    align: 'center'
                                },
                                {
                                    title: '終業',
                                    width: 55,
                                    slot: 'workEndReal',
                                    className: 'checkin',
                                    align: 'center'
                                }
                            ]
                        },
                        {
                            title: '超勤',
                            children: [
                                {
                                    title: '開始\n時間',
                                    slot: 'startTime',
                                    minWidth: 55,
                                    align: 'center'
                                },
                                {
                                    title: '終了\n時間',
                                    slot: 'endTime',
                                    minWidth: 55,
                                    align: 'center'
                                },
                                {
                                    title: '用務内容',
                                    minWidth: 200,
                                    slot: 'content',
                                    align: 'center'
                                },
                                {
                                    title: '承認',
                                    slot: 'workApplyStatus',
                                    width: 30,
                                    align: 'center'
                                }
                            ],
                            align: 'center'
                        },
                        {
                            title: '休憩',
                            minWidth: 200,
                            slot: 'restTime',
                            align: 'center'
                        },
                        {
                            title: '備考',
                            minWidth: 70,
                            slot: 'remark',
                            align: 'center'
                        },
                        {
                            type: 'selection',
                            width: 60,
                            align: 'center'
                        }
                    ],
                    columnsAction: [
                        {
                            title: '開始時間',
                            slot: 'startTime',
                            align: 'center'
                        },
                        {
                            title: '終了時間',
                            slot: 'endTime',
                            align: 'center'
                        },
                        {
                            title: '用務内容',
                            minWidth: 200,
                            slot: 'content',
                            align: 'center'
                        },
                        {
                            title: '休憩',
                            slot: 'restTime',
                            align: 'center'
                        },
                        {
                            title: '一括適用/クリア',
                            slot: 'option',
                            align: 'center'
                        }
                    ],
                }
            },
            async mounted() {
                this.getOrgTree()
                this.getTableHead()
            },
            computed: {
                columns() {
                    let result = []
                    if (this.overWorkViewType === 1) {
                        result = [
                            {
                                title: '氏名',
                                slot: 'name',
                                minWidth: 100,
                                align: 'right'
                            },
                            {
                                title: '合計',
                                slot: 'overtime',
                                minWidth: 36,
                                align: 'center'
                            }
                        ]
                    } else {
                        result = [
                            {
                                title: '氏名',
                                slot: 'name',
                                minWidth: 100,
                                align: 'right'
                            },
                            {
                                title: '超過勤務',
                                //slot: 'overtime',
                                minWidth: 75,
                                align: 'center',
                                children: [
                                    {
                                        title: '合計\n(月)',
                                        slot: 'overtime',
                                        minWidth: 25,
                                        align: 'center'
                                    },
                                    {
                                        title: '合計\n(年)',
                                        slot: 'overtimeyear',
                                        minWidth: 25,
                                        align: 'center'

                                    },
                                    {
                                        title: '45超\n(年)',
                                        slot: 'overtimeover45',
                                        minWidth: 25,
                                        align: 'center'
                                    }
                                ]
                            },
                            {
                                title: '休日\n出勤\n回数\n(月)',
                                slot: 'restworkcount',
                                minWidth: 25,
                                align: 'center'
                            },
                            {
                                title: '平均\n超勤\n時間\n(月)',
                                slot: 'avgtime',
                                minWidth: 25,
                                align: 'center',
                            }
                        ]
                    }
                    const that = this
                    this.tableHead.forEach((e, i) => {

                        result = result.concat({
                            // title: e,
                            className: e.tcaCholflg.indexOf('1') > -1 || e.tcaCholflg.indexOf('2') > -1 || e.tcaCholflg.indexOf('3') > -1 ? 'rest' : '',
                            minWidth: 15,
                            renderHeader: (h, params) => {
                                return h(
                                    'span',
                                    {
                                        style: {
                                            cursor: 'pointer',
                                        },
                                        domProps: {
                                            //className: 'table-head',
                                            innerHTML: e.tableTop,
                                        },
                                        on: {
                                            click() {
                                                that.handleClickHead(e.day)
                                            },
                                        },
                                    }
                                )
                            },
                            slot: `tmiCinfo${i + 1}`,
                            align: 'center'
                        })
                    })
                    return result
                },

                monthAverageColumns() {
                    let result = [
                        {
                            title: ' ',
                            key: 'name',
                            align: 'right',
                            minWidth: 30,
                        }
                    ]

                    this.monthAverageTableHead.forEach((e, i) => {

                        result = result.concat({
                            title: e,
                            minWidth: 15,
                            key: `m${i + 1}`,
                            align: 'center'
                        })
                    })
                    result = result.concat({
                        title: '平均値',
                        key: 'average',
                        align: 'center'
                    })
                    return result
                }
            },
            methods: {
                toWorkPage() {

                },
                showAverageDraw(e) {
                    this.getAvgTableData(e.empid)
                    this.empName = e.empname
                    this.showAverage = true

                },
                async handleDeptDateChange(e) {
                    this.referListObject.txtTmgReferListTreeViewRecordDate = e
                    this.isSearchHistory = true
                    await this.getOrgTree()
                    this.$Notice.warning({ title: '所属図更新完了', desc: "下記の所属リストから対象を選んでください" })
                },
                async getOrgTree() {
                    this.empDeptLoading = true
                    try {
                        const { orgList, recordDate } = await this.http.get('sys/tree', this.referListObject)
                        // 转为可用数据
                        this.treeData = Utils.convertTreeData(orgList)
                        this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                    } catch (error) {
                        return
                    } finally {
                        this.loading = false
                        this.empDeptLoading = false
                    }
                },
                handleDatePicker() {
                    if (this.deptName !== '選んでください') {
                        this.query.baseMonth = Utils.formatDate(this.curDate, 'yyyy/MM').concat('/01')
                        this.getTableData()
                    }
                    this.$Notice.warning({ title: '所属を選択して下さい' })
                },
                handleClickLeaf(e) {
                    if (!e[0]) return
                    this.deptDrawShow = false
                    this.deptName = e[0].secnic
                    this.query.txtTmgReferListTreeViewAdminTargetSection = e[0].secid
                    this.query.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    this.getTableHead()
                    this.getTableData()
                },
                async handleDeptViewTypeChange() {
                    await this.getOrgTree()
                    this.$Notice.success({ title: '所属図更新完了' })
                },
                handleTypeChange() {
                    if (this.deptName !== '選んでください') {
                        this.getTableData()
                    }
                },

                async getTableHead() {
                    this.loading = true
                    this.query.baseMonth = Utils.formatDate(this.curDate, 'yyyy/MM').concat('/01')
                    try {
                        const { data } = await this.http.get('sys/overtimeinstruct/tableTop', this.query)
                        this.tableHead = data
                        console.log(this.tableHead)
                    } catch (error) {
                        return
                    } finally {
                        this.loading = false
                    }
                },
                async getTableDataDaily(e) {
                    this.dailyTableLoading = true
                    this.query.baseDay = e
                    try {
                        const { data } = await this.http.get('sys/overtimeinstruct/editData', this.query)
                        this.tableData3 = data
                        console.log(data)
                    } catch (error) {
                        return
                    } finally {
                        this.dailyTableLoading = false
                    }
                },
                async getTableData() {
                    this.loading = true
                    let url = 'sys/overtimeinstruct/monthlyResult'
                    try {
                        if (this.overWorkViewType === 3) {
                            this.query.action = "ACT_DISP_RMONTHLY_RESULT_OT100"
                        }
                        if (this.overWorkViewType === 1) {
                            url = 'sys/overtimeinstruct/monthlyResultOti'
                        }
                        if (this.overWorkViewType === 2) {
                            this.query.action = "ACT_DISP_RMONTHLY"
                        }
                        const { data } = await this.http.get(url, this.query)
                        this.tableData = data
                        console.log(this.tableData)
                    } catch (error) {
                        return
                    } finally {
                        this.loading = false
                    }
                },
                async getAvgTableData(e) {
                    this.averageTableLoading = true
                    this.query.empId = e
                    try {
                        const { data } = await this.http.get('sys/overtimeinstruct/avgTime', this.query)
                        this.monthAverageTableHead = data.tableHeader
                        this.monthAverageTable = data.tableData.concat([
                            { name: "2か月平均", average: data.avgTimes[0], m5: "2か月平均", cellClassName: { m5: "rest-title" } },
                            { name: "3か月平均", average: data.avgTimes[1], m4: "3か月平均", cellClassName: { m4: "rest-title" } },
                            { name: "4か月平均", average: data.avgTimes[2], m3: "4か月平均", cellClassName: { m3: "rest-title" } },
                            { name: "5か月平均", average: data.avgTimes[3], m2: "5か月平均", cellClassName: { m2: "rest-title" } },
                            { name: "6か月平均", average: data.avgTimes[4], m1: "6か月平均", cellClassName: { m1: "rest-title" } }
                        ])
                        this.empWorkerTypeName = data.workTypeName
                        console.log(this.monthAverageTable)
                    } catch (error) {
                        return
                    } finally {
                        this.averageTableLoading = false
                    }
                },
                async handleClickHead(e) {
                    this.getTableDataDaily(e)
                    this.showDayApply = true

                },
                showRed(e, type) {
                    if (!e) return
                    let result = e.split('@') && e.split('@')[1]
                    if(type === 'day') {
                        if (result === 'chokinDailyLvl1') return 'level2'
                        else return 'normal'
                    }
                    if(type === 'average') {
                        if (result === 'chokinAvgWarningLvl1') return 'level3'
                        else return
                    }
                    if (!result) return
                    if (result === 'chokinWarningLvl5') {
                        return 'level5'
                    }
                    if (result === 'chokinWarningLvl4') {
                        return 'level4'
                    }
                    if (result === 'chokinWarningLvl3') {
                        return 'level3'
                    }
                    if (result === 'chokinWarningLvl2') {
                        return 'level2'
                    }
                    if (result === 'chokinWarningLvl1') {
                        return 'level1'
                    }
                    if (result === 'chokin_meirei') {
                        return 'normal'
                    }
                },
                handleScroll: Throttle(function (e) {
                    this.contentScrollTop = e.target.scrollTop
                    if (e.target.scrollTop > 200) {
                        this.isScroll = true
                    } else {
                        this.isScroll = false
                    }
                }, 50),
                handleSelectAll2(status) {
                    this.$refs.selection2.selectAll(status)
                },
                handleSpan({ rowIndex, columnIndex }) {
                    // 合并2个月
                    // rowIndex 竖着算 columnIndex 横着算 从0开始
                    // 返回[竖列着占几行， 横行着占几行]
                    if (rowIndex === 3 && columnIndex === 5) {
                        return [1, 2]
                    } else if (rowIndex === 3 && columnIndex === 6) {
                        return [0, 0]
                    }

                    if (rowIndex === 4 && columnIndex === 4) {
                        return [1, 3]
                    } else if ((rowIndex === 4 && columnIndex === 6) || (rowIndex === 4 && columnIndex === 5)) {
                        return [0, 0]
                    }

                    if (rowIndex === 5 && columnIndex === 3) {
                        return [1, 4]
                    } else if (
                        (rowIndex === 5 && columnIndex === 6) ||
                        (rowIndex === 5 && columnIndex === 5) ||
                        (rowIndex === 5 && columnIndex === 4)
                    ) {
                        return [0, 0]
                    }

                    if (rowIndex === 6 && columnIndex === 2) {
                        return [1, 5]
                    } else if (
                        (rowIndex === 6 && columnIndex === 6) ||
                        (rowIndex === 6 && columnIndex === 5) ||
                        (rowIndex === 6 && columnIndex === 4) ||
                        (rowIndex === 6 && columnIndex === 3)
                    ) {
                        return [0, 0]
                    }

                    if (rowIndex === 7 && columnIndex === 1) {
                        return [1, 6]
                    } else if (
                        (rowIndex === 7 && columnIndex === 6) ||
                        (rowIndex === 7 && columnIndex === 5) ||
                        (rowIndex === 7 && columnIndex === 4) ||
                        (rowIndex === 7 && columnIndex === 3) ||
                        (rowIndex === 7 && columnIndex === 2)
                    ) {
                        return [0, 0]
                    }
                },
            }
        })
    </script>
</body>

</html>