<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='超過勤務命令',cssPaths='/pages/content.min.css')">
</head>

<body>
<div th:replace="layout/loadingBar::loadingBar"></div>
<main class="content overtimeinstruchinfo-warp" @scroll.passive="handleScroll" ref="layout">
    <div class="content_head">
        <div class="header">
            <div class="title1">
                <h1>
                    <Icon type="i-emeer colored"></Icon>
                    {{ `超過勤務命令` }}
                </h1>
            </div>
            <div class="btnbox">
                <div style="height:40px;margin:2px"></div>
            </div>
        </div>
        <div class="searchwrap">
            <span class="label">年月</span>
            <date-picker
                    class="mar"
                    v-model="curDate"
                    type="month"
                    :editable="false"
                    :clearable="false"
                    @on-change="handleDatePicker"
                    format="yyyy年MM月度"
            ></date-picker>
            <!-- 共通組織図画面 start-->
            <span style="display:flex;width: calc(15% + 200px);">
                    <span class="label">所属</span>
                    <i-button v-on:click.native="deptDrawShow = true" class="input-like-span mr30 cursor grey"
                              style="width: calc(100% - 120px);border-radius:0">
                        {{ deptName }}
                    </i-button>
                    ​
                    <Drawer class="tc" title="所属を選択してください" placement="right" width="700" :closable="false"
                            :mask-closable="!isSearchHistory" v-model="deptDrawShow">
                        <div class="titlenorm mb5">
                            <Icon type="logo-buffer"></Icon>
                            所属
                        </div>
                        <Row class="tl mb5">
                             <i-i-col span="4" class="label tc" style="height: 32px;">基準日</i-i-col>
                            <i-i-col span="7" class="no-border-radius">
                            <date-picker type="date" :value="referListObject.txtTmgReferListTreeViewRecordDate"
                                         placeholder="基準日" format="yyyy/MM/dd" ref="datePicker" @on-change="handleDeptDateChange"></date-picker>
                            </i-i-col>
                        </Row>

                        <div style="position: relative;">
                            <Tree class="tree mt2" :data="treeData" v-on:on-i-select-change="handleClickLeaf" ref="tree"
                                  empty-text="所属データなし"></Tree>
                            <Spin size="large" fix v-if="empDeptLoading"></Spin>
                        </div>
                    </Drawer>
                </span>
            <!-- 共通組織図画面 end-->
        </div>
    </div>
    <div class="content_body">
        <template>
            <div>
                <div class="table-top">
                    <Row :gutter="16">
                        <i-col span="8" class="tr" offset="15">
                        <i-select v-model="overWorkViewType" @on-change="handleTypeChange">
                            <i-option :value="1">超過勤務状況[命令時間]</i-option>
                            <i-option :value="2">超過勤務状況[実績時間]</i-option>
                            <i-option :value="3">超過勤務状況[実績時間（法定内含む）]</i-option>
                        </i-select>
                        </i-col>
                    </Row>
                </div>
            </div>
        </template>
        <i-table class="long-table" border ref="selection" :columns="columns" :data="tableData" :disabled-hover="true" :loading="loading">

        </i-table>
    </div>
</main>
<div th:replace="layout/script::common_script"></div>
<script type="text/babel" th:inline="javascript">
    const MONTH_SUM_INFO = new Vue({
        el: '.overtimeinstruchinfo-warp',
        data() {
            return {
                overWorkViewType: 2,
                treeData: [],            //組織ツリー用
                curDate: new Date(),
                deptName: '選んでください',  //選択した職員の所属
                isSearchHistory: false,
                deptDrawShow: false,    //組織ツリー用
                empDeptLoading: false,  // 組織ツリーloading用
                referListObject: {       //組織ツリー共通
                    [[${ TREEVIEW_KEY_PERM_TARGET_SECTION }]]: '',
                    [[${ TREEVIEW_KEY_PERM_TARGET_EMP }]]: '',
                    [[${ TREEVIEW_KEY_PERM_TARGET_GROUP }]]: '',
                    [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp'),
                    type: 21
                }
            }
        },
        async mounted() {
            this.getData()
            this.getOrgTree()
        },
        computed: {
        },
        methods: {
            showAverageDraw() {
                this.showAverage = true
            },
            async handleDeptDateChange(e) {
                this.referListObject.txtTmgReferListTreeViewRecordDate = e
                this.isSearchHistory = true
                await this.getOrgTree()
                this.$Notice.warning({ title: '所属図更新完了', desc: "下記の所属リストから対象を選んでください" })
            },
            getData: Debounce(async function () {
                try {
                    this.loading = true
                    // const { data } = await this.api.mock('applyConfirm')
                    this.tableData = data
                    this.amount = data.totalCount || 2
                } catch (error) {
                    return
                } finally {
                    this.loading = false
                }
            }),
            async getOrgTree() {
                this.empDeptLoading = true
                try {
                    const { orgList,  recordDate } = await this.http.get('sys/tree', this.referListObject)
                    // 转为可用数据
                    this.treeData = Utils.convertTreeData(orgList)
                    this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                } catch (error) {
                    return
                } finally {
                    this.loading = false
                    this.empDeptLoading = false
                }
            },
            handleDatePicker() {},
            async handleClickLeaf(e) {
                this.deptDrawShow = false
                const section = [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]
                this.referListObject[section] = e[0].secid
                this.loginEmployee = e[0].empid
                this.deptName = e[0].secnic
                this.query.employeeId = e[0].empid
                this.kanjiName = e[0].empname
                this.selectDisabled = true
                this.remarksDisabled = true
                this.getTableData()
            },
            async handleDeptViewTypeChange() {
                await this.getOrgTree()
                this.$Notice.success({ title: '所属図更新完了' })
            },
            handleTypeChange() {
                this.$emit('changeTableData')
            },
        }
    })
</script>
</body>

</html>