<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='勤務パターン',cssPaths='/pages/content.min.css')">
</head>

<body>
<div th:replace="layout/loadingBar::loadingBar"></div>
<main class="content permstatlist-warp" @scroll.passive="handleScroll" ref="layout">
    <div class="content_head">
        <div class="header">
            <div class="title1">
                <h1>
                    <Icon type="i-emeer colored"></Icon>
                    {{ ' 勤務パターン ' }}
                </h1>
            </div>
            <div class="btnbox">
                <span style="flex:1"></span>
                <i-button type="primary" @click="" size="large" :disabled="!approval" :loading="bulkApprovalLoading">+ 新規</i-button>
                <Upload action="/">
                    <i-button type="warning" ghost size="large" icon="ios-cloud-upload-outline">CSVファイル取込</i-button>
                </Upload>
            </div>
        </div>
        <div class="searchwrap">
            <span class="label">改訂日</span>
            <date-picker class="mar" v-model="curDate" type="date" :editable="false" :clearable="false" @on-change="handleDatePicker" format="yyyy年MM月dd日"></date-picker>

            <span style="display:flex;width: calc(15% + 200px);">
                    <span class="label">所属</span>
                    <i-button v-on:click.native="deptDrawShow = true" class="input-like-span mr30 cursor grey"
                              style="width: calc(100% - 120px);border-radius:0">
                        {{ deptName }}
                    </i-button>
                    <Drawer class="tc" title="所属を選択してください" placement="right" width="700" :closable="false"
                            :mask-closable="!isSearchHistory" v-model="deptDrawShow">
                        <div class="titlenorm mt15">
                            <Icon type="logo-buffer"></Icon>
                            所属
                        </div>
                        <Row class="tl">
                            <i-col span="8" class="label tc" style="height: 32px;">基準日</i-col>
                            <i-col span="8" class="no-border-radius">
                            <date-picker type="date" :value="referListObject.txtTmgReferListTreeViewRecordDate"
                                         class="mb5" placeholder="日付け" format="yyyy/MM/dd" ref="datePicker"
                                         @on-change="handleDeptDateChange"></date-picker>
                            </i-col>
                        </Row>
                        <div style="position: relative;">
                            <Tree class="tree mt2" :data="treeData" v-on:on-select-change="handleClickLeaf" ref="tree"
                                  empty-text="所属データなし"></Tree>
                            <Spin size="large" fix v-if="empDeptLoading"></Spin>
                        </div>
                    </Drawer>
                </span>
            <span style="flex:1"></span>
        </div>
    </div>
    <div class="content_body">
        <i-table :columns="columns" :data="tmgPatternList" border>

            <!-- 勤務時間 -->
            <template slot-scope="{ row }" slot="dutyTime">
                <span v-for="(item,i) of row.planDuty" :key="i">{{item.NOPEN|handleTime}}～{{item.NCLOSE|handleTime}}</span>
            </template>
            <!-- 休憩時間 -->
            <template v-for="(item,i) of planRest" slot-scope="{row}" :slot="item">
                <span>{{row.planRest[i].NOPEN|handleTime}}～{{row.planRest[i].NCLOSE|handleTime}}</span>
            </template>

            <template slot-scope="{ row }" slot="action">
                <div>
                    <i-button type="primary" ghost size="small" icon="ios-create" style="margin-right: 5px" @click="handleBtn(row)">
                        編集
                    </i-button>
                    <i-button type="primary" ghost size="small" icon="ios-create" style="margin-right: 5px" @click="handleBtn(row)">
                        削除
                    </i-button>
                </div>
            </template>
        </i-table>

    </div>
</main>

<div th:replace="layout/script::common_script"></div>
<script type="text/babel" th:inline="javascript">
    const PERM_STATLIST = new Vue({
        el: '.permstatlist-warp',
        data() {
            return {
                planRest:['one','two','three','four'],
                curDate: new Date(),
                tableHead: [],
                tableData: [],
                slotList: Utils.getNumArray(1, 31).map(e => `disppermStatusName${e}`),
                slotList2: Utils.getNumArray(1, 13).map(e => `COLUMNID${e}`),
                dailyShow: true,
                rawData: [],
                isShow: false,
                showPre: true,
                loading: false,
                showDayApply: false,
                emplistLoading: false,
                referListObject: {
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]: '',
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_EMP }]]: '',
                    [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                    [[${ TREEVIEW_KEY_REFRESH_FLG }]]: '',
                    txtTmgReferListTreeViewRecordDate: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp'),
                    type: 31
                },
                empTreeData: [],
                deptName: '選んでください',
                query: {
                    txtAction: 'ACTION_DISP_DISP',
                    txtDYYYYMM: '',
                    txtDYYYYMMDD: '',
                    txtCallBeanAction: 'ACTION_DISP_DISP',
                    txtTmgReferListTreeViewRecordDate: '',
                    txtTmgReferListTreeViewAdminTargetSection: '',
                    txtCEMPLOYEEID: '',
                    sectionid: '',
                    groupId: [[${ session.psSession.loginDesignation[0].section }]],
                    txtExecuteEmpId: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp'),
                    type: 31
                },
                empDeptLoading: false,
                deptDrawShow: false,
                treeData: [],
                selectDisabled: false,   　//年月選択可否制御
                tmgPatternList: [],       //年月リスト
                model1: '',
                approval: false,
                drawApproval: false,

                title: '',
                tableHead2: [],
                tableData2: [],
                empIds: [],
                empIds2: [],

                bulkApprovalLoading: false,
                bulkApprovalLoading2: false,
                isSearchHistory: false,

                thisMonth: '',
                preMonth: '',
                nextMonth: '',
                preMonthShow: false,
                nextMonthShow: false,
                curDate: new Date(),
                columns: [
                    {
                        title: '勤務パターン',
                        key: 'tpa_cpatternname',
                        align: 'right'
                    },
                    {
                        title: '勤務時間',
                        slot: 'dutyTime',
                        align: 'center'
                    },
                    {
                        title: '休憩時間',
                        children: [
                            {
                                title: '1',
                                slot: 'one',
                                align: 'center'
                            },
                            {
                                title: '2',
                                slot: 'two',
                                align: 'center'
                            },
                            {
                                title: '3',
                                slot: 'three',
                                align: 'center'
                            },
                            {
                                title: '4',
                                slot: 'four',
                                align: 'center'
                            }
                        ]
                    },
                    {
                        title: '日付切替時刻',
                        key: 'tpa_ndate_change_time',
                        align: 'center'
                    },
                    {
                        title: '翌日勤務パターン',
                        key: 'tpa_cnextptn',
                        align: 'center'
                    },
                    {
                        title: '操作',
                        slot: 'action',
                        width: 150,
                        align: 'center'
                    }
                ],
                tableData: [
                    // {name: '全学標準', time: '8:30 ～ 17:15', restTime1: '12:00 ～ 13:00', restTime2: ''},
                    // {name: '契約標準', time: '8:30 ～ 17:00', restTime1: '12:15 ～ 13:00', restTime2: ''}
                ]
            }
        },
        async mounted() {
            this.getOrgTree()
            this.getTmgPatternList()
        },
        computed: {
            tableHeadFixed() {
                if (this.contentScrollTop > 300) return true
                else return false
            },
            columns() {
                let result = [
                    {
                        title: '氏名',
                        slot: 'name',
                        minWidth: 100,
                        align: 'right'
                    },
                    {
                        title: '月次\n承認',
                        slot: 'statusName',
                        minWidth: 36,
                        align: 'center'
                    }
                ]
                const that = this
                this.tableHead.forEach((e, i) => {
                    result = result.concat({
                        // title: e,
                        className: e.tcaCholflg.indexOf('1') > -1 || e.tcaCholflg.indexOf('2') > -1 || e.tcaCholflg.indexOf('3') > -1 ? 'rest' : '',
                        minWidth: 25,
                        renderHeader: (h, params) => {
                            return h(
                                'span',
                                {
                                    style: {
                                        cursor: 'pointer',
                                    },
                                    domProps: {
                                        className: 'table-head',
                                        innerHTML: e.name,
                                    },
                                    on: {
                                        click() {
                                            that.handleClickHead(e.day)
                                        },
                                    },
                                }
                            )
                        },
                        slot: `disppermStatusName${i + 1}`,
                        align: 'center'
                    })
                })
                result = result.concat({
                    type: 'selection',
                    width: 60,
                    align: 'center'
                })
                return result
            }

        },
        methods: {
            // 勤務パターンリスト
            async getTmgPatternList() {
                // console.log([[${ session }]])
                this.query.txtAction = 'ACTION_DISP_DISP'
                this.loading = false
                const {data} = await this.http.get('sys/patternSetting/selectTmgPattern', this.query)
                this.tmgPatternList = data

                if (data.length > 0) {
                    this.model1 = data[0].val
                }

                //年月リスト.lengthがゼロ場合、非活性化にする
                if (data.length === 0) {
                    this.model1 = ''
                    this.selectDisabled = false
                }
            },
            async getOrgTree(refreshDept) {
                this.empDeptLoading = true
                try {
                    const {orgList, recordDate} = await this.http.get('sys/tree', this.referListObject)
                    // 先将数据转为标准格式，再转为可用数据
                    this.treeData = Utils.convertTreeData(orgList)
                    this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                } catch (error) {
                    return
                } finally {
                    this.loading = false
                    this.empDeptLoading = false
                }
            },
            async handleDeptDateChange(e) {
                this.referListObject.txtTmgReferListTreeViewRecordDate = e
                this.isSearchHistory = true
                await this.getOrgTree()
                this.$Notice.warning({title: '所属図更新完了', desc: "下記の所属リストから対象を選んでください"})
            },

            rowClass(row) {
                // 表格变色
                if (!row.dayDivisionCode || row.dayDivisionCode === '1') {
                    return ''
                }
                return 'sat'
            },
            handleScroll: Throttle(function (e) {
                this.contentScrollTop = e.target.scrollTop
                if (e.target.scrollTop > 200) {
                    this.isScroll = true
                } else {
                    this.isScroll = false
                }
            }, 50),
            showDay: Debounce(function () {
                this.isShow = true
            }),
            toTop() {
                const animateMachine = requestAnimationFrame(this.toTop)
                this.$refs.layout.scrollTop = this.$refs.layout.scrollTop - this.$refs.layout.scrollTop / 5
                if (this.$refs.layout.scrollTop === 0) {
                    cancelAnimationFrame(animateMachine)
                }
            },
            convertTreeData(treeData = []) {
                return treeData.map(e => {
                    const children = e.child || e.children
                    if (children) {
                        return {
                            ...e.data,
                            title: e.data.label,
                            // 前两层级默认展开方便查看
                            expand: e.data.level < 2 || !e.data.level,
                            children: this.convertTreeData(children)
                        }
                    } else {
                        return {
                            ...e.data,
                            title: e.data.label
                        }
                    }
                })
            },
            showDay() {
                //todo: 跳到详情页
                location.href = "./VacationTablePanel/vacationtablepanel.html";
            },

            // ----------------------
            handleDatePicker() {

            },
            //所属変更する
            async handleClickLeaf(e) {
                //同一部署を二回目でクリックすると、取消とするためで、エラーあり
                //よって、二回目クリックすると、何もしない
                if(!e[0]) return

                console.log(e)
                this.deptDrawShow = false
                this.query.txtAction = 'ACTION_DISP_DISP'
                this.deptName = e[0].secnic
                this.query.txtTmgReferListTreeViewAdminTargetSection = e[0].secid
                this.query.groupId = e[0].secid
                this.query.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate

                //リストの取得
                await this.getTmgPatternList()


            }
        }
    })
</script>
</body>

</html>