<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='月次集計データ作成',cssPaths='/pages/content.min.css')">
</head>

<body>
    <div th:replace="layout/loadingBar::loadingBar"></div>
<!-- 菜单导航栏 -->
<div th:replace="layout/sider"></div>
    <main class="content monthsuminfo-warp">
        <div class="content_head">
            <div class="header">
                <div class="title1">
                    <h1>
                        <Icon type="i-emeer colored"></Icon>
                        {{ `月次集計データ作成` }}
                    </h1>
                </div>
                <div class="btnbox">
                    <span style="flex:1"></span>
                    
                </div>
            </div>
            <div class="searchwrap">
                <span class="label">年</span>
                <date-picker class="mar" v-model="curDate" type="year" :editable="false" :clearable="false"
                    format="yyyy年"  @on-change="handleDatePicker" ></date-picker>
                <!-- 共通組織図画面 start-->
                <span style="display:flex;width: calc(15% + 200px);">
                    <span class="label">所属</span>
                    <i-button v-on:click.native="deptDrawShow = true" class="input-like-span dept-select">
                        <Tooltip trigger="hover" :theme="toolTipTheme()" transfer>{{deptName}}
                            <div slot="content">{{deptName}}</div>
                        </Tooltip>
                    </i-button>
                    ​
                    <Drawer class="tc" placement="right" width="700" :closable="false"
                        :mask-closable="!isSearchHistory" v-model="deptDrawShow">
                        <div class="titlenorm mb5">
                            <Icon type="logo-buffer"></Icon>
                            所属
                        </div>
                        <Row class="tl mb5">
                            <i-col span="4" class="label tc" style="height: 32px;">基準日</i-col>
                            <i-col span="7" class="no-border-radius">
                                <date-picker type="date" :value="referListObject.txtTmgReferListTreeViewRecordDate"
                                    placeholder="基準日" format="yyyy/MM/dd" ref="datePicker" :clearable="false"
                                    @on-change="handleDeptDateChange"></date-picker>
                            </i-col>
                        </Row>
                        <div style="position: relative;">
                            <Tree class="tree mt2" :data="treeData" v-on:on-select-change="handleClickLeaf" ref="tree"
                                empty-text="所属データなし"></Tree>
                            <Spin size="large" fix v-if="empDeptLoading"></Spin>
                        </div>
                    </Drawer>
                </span>
                <!-- 共通組織図画面 end-->
            </div>
        </div>
        <div class="content_body">
            <i-table border :columns="columns" :disabled-hover="true" :data="tableData" :loading="loading" no-data-text="教職員が存在している所属を選択して下さい。">

                <template slot-scope="{ row }" slot="approval" v-if="row.notApproval === 1 ">
                    <i-button type="primary" ghost size="small" long @click="notApprovalList(row.yyyymm)">未承認者状況</i-button>
                </template>

                <template slot-scope="{ row }" slot="monthlyFix">
                    <i-button v-if="row.monthlyFixEmp === 1" type="primary" ghost size="small" @click="monthlyFix(row.yyyymm)" long>
                        締め処理
                    </i-button>
                    <i-button v-if="row.monthlyFixEmp === 2 && row.salaryFix === 1" type="primary" ghost size="small"  @click="monthlyDelFix(row.yyyymm)" long>
                        締め解除
                    </i-button>
                    <p v-if="row.monthlyFixEmp === 2 && row.salaryFix === 3 ">完了</p>
                </template>

                <template slot-scope="{ row }" slot="total">
                    <i-button v-if="row.totalStatus === 1" type="primary" ghost size="small" @click="total(row.yyyymm)"　long>集計処理</i-button>
                    <p class="mt2" v-if="row.totalTime">{{ row.totalTime.replace(' ','\n') }}</p>
                    <i-button  v-if="row.totalAlert === 1" type="error" ghost size="small" @click="totalError(row.yyyymm)"　long>***集計時の問題***</i-button>
                    <p class="mt2" v-if="row.totalStatus === 2">集計中<i-button style="margin-left: 5px;margin-bottom: 3px;border-radius: 50%;" type="primary" ghost size="small" icon="md-refresh" :loading="solvingBtnLoading" @click="getData(true)"></i-button></p>
                </template>

                <template slot-scope="{ row }" slot="download">
                    <i-button v-if="row.worksKintai === 1" class="mb5" type="primary"  ghost size="small" @click="download(row.yyyymm)" long>月例ダウンロード</i-button>
                    <i-button v-if="row.worksRetro === 1" type="primary" ghost size="small" @click="download(row.yyyymm,'on')" long>遡及ダウンロード</i-button>
                </template>

                <template slot-scope="{ row }" slot="notFix">
                    <i-button v-if="row.monthlyFixDept === 1" type="primary" ghost size="small" @click="notAprSec(row.yyyymm)" long>締め未完了部局</i-button>
                </template>

                <template slot-scope="{ row }" slot="salaryFix">
                    <i-button v-if="row.salaryFix === 1" type="primary" ghost size="small" @click="changeFix(row.yyyymm)" long>確定</i-button>
                    <i-button v-if="row.salaryFix === 2" type="error" ghost size="small" @click="alterFix(row.yyyymm)" long>確定</i-button>
                    <i-button v-if="row.salaryFix === 3" type="primary" ghost size="small" @click="delFix(row.yyyymm)" long>確定解除</i-button>
                </template>
            </i-table>
        </div>


        <Drawer title="未承認者状況" class="tc" width="37" v-model="notAprEmp">
            <Alert class="primary-info lb tl">月次承認が行われていない職員が存在します。
                月次締めを実行するには、全職員の月次承認を行ってください</Alert>
            <div class="tr mb10">
                <Page :total="pageValueEmp.amount" :current="pageValueEmp.curPage" show-total style="display: inline"
                :page-size="pageValueEmp.curSize" @on-change="pageChangeEmp" ref="Page" />
            </div>
            <div class="titlenorm">
                <Icon type="logo-buffer"></Icon>
                {{ Utils.formatDate(this.opts.baseDate,'YYYY年MM月')    }}未承認者状況
            </div>
            <i-table border :columns="notAprEmpCol" :data="notAprEmpData" :loading="loadingEmp">
            </i-table>
        </Drawer>

        <Drawer title="締め未完了部局" class="tc" width="37" v-model="notAppSec">
            <Alert class="primary-info lb tl">月次締めが行われていない部局が存在します。</Alert>
            <div class="tr mb10">
                <Page :total="pageValueSec.amount" :current="pageValueSec.curPage" show-total style="display: inline"
                :page-size="pageValueSec.curSize"   ref="Page" />
            </div>
            <div class="titlenorm">
                <Icon type="logo-buffer"></Icon>
                {{ Utils.formatDate(this.opts.baseDate,'YYYY年MM月')    }}締め未完了部局
            </div>
            <i-table border :columns="notAprSecCol" :data="notAprSecData" :loading="loadingSEC">
            </i-table>
        </Drawer>

        <Modal title="データダウンロード" class="tc" width="605" v-model="downloadLink">
            <Alert class="primary-info lb tl">下記の就業種別名称を押下すると、
                集計結果CSVファイルをダウンロードします。</Alert>
            <div class="titlenorm">
                <Icon type="logo-buffer"></Icon>
                月次集計データダウンロード：{{ Utils.formatDate(this.opts.baseDate,'YYYY年MM月')    }}
            </div>
            <checkbox class="input-like-span tr" style="margin: 0; padding-right: 10px;" size="small" v-model="opts.checkValue">ダブルクオート（"）で値を囲む</checkbox>
            </div>
            <div slot="footer">
                <span v-for="(item, i) in downloadBtn" :key="i" class="mr10">
                    <i-button type="primary" icon="md-download" ghost class="mt2" @click="downloadFile(item.mgdCdltypeid)">{{item.mgdCdltypename}}</i-button>
                </span>
            </div>
        </Modal>

        <Modal class="tc" title="集計処理" width="605" v-model="totalLink">
            <div class="titlenorm">
                <Icon type="logo-buffer"></Icon>
                月次集計データ作成：{{ Utils.formatDate(this.opts.baseDate,'YYYY年MM月')    }}
            </div>
            <i-table border :columns="totalCol" :data="totalData" no-data-text="無">
            </i-table>
            <Alert class="primary-info tl mt10">{{ message }}</Alert>
            <div slot="footer">
                <i-button icon="ios-build" type="primary" class="mt2" @click="totalStart" :loading="totalLoading">実行</i-button>
            </div>
        </Modal>
    </main>
    <div th:replace="layout/head::header"></div>
    <script type="text/babel" th:inline="javascript">
        const MONTH_SUM_INFO = new Vue({
            el: '.monthsuminfo-warp',
            data() {
                return {
                    downloadBtn:[],
                    totalLoading:false,
                    message:'',
                    loadingEmp:false,
                    loadingSEC:false,
                    totalLink:false, //集計処理
                    downloadLink:false, //データダウンロード
                    notAppSec:false, //締め未完了部局一覧
                    notAprEmp:false, //未承認者一覧
                    preDisabled: true,   //年度選択制御
                    nextDisabled: true,  //年度選択制御
                    showPre: true,
                    curDate: new Date(),
                    columns: [
                        {
                            title: '年月',
                            key: 'yyyymm',
                            align: 'center'
                        },
                        {
                            title: '承認状況',
                            slot: 'approval',
                            align: 'center'
                        },
                        {
                            title: '締め',
                            slot: 'monthlyFix',
                            align: 'center'
                        },
                        {
                            title: '集計',
                            slot: 'total',
                            align: 'center'
                        },
                        {
                            title: 'ダウンロード',
                            slot: 'download',
                            align: 'center'
                        },
                        {
                            title: '締め未完了部局',
                            slot: 'notFix',
                            align: 'center'
                        },
                        {
                            title: '確定',
                            slot: 'salaryFix',
                            align: 'center'
                        }
                    ],
                    loading: false,
                    tableData: [],
                    pageValueEmp: {
                        amount: 0,
                        curPage: 1,
                        list: [20, 30, 50, 100],
                        curSize: 20
                    },
                    pageValueSec: {
                        amount: 0,
                        curPage: 1,
                        list: [20, 30, 50, 100],
                        curSize: 20
                    },
                    opts: {
                        baseDate: 0,
                        status: 0,
                        action:'', //確認用　　C：確認　D：取消
                        sPage:'',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        //目标sec
                        txtTmgReferListTreeViewAdminTargetSection: '',
                        //基准日
                        txtTmgReferListTreeViewRecordDate: '',
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                        type: 41,
                        checkValue:false,
                        sRetroFlg:'', //遡及フラグ
                        dlTypeId:'',  //DL種別コード
                    },
                    empDeptLoading: false,  // 組織ツリーloading用
                    solvingBtnLoading: false,
                    deptDrawShow: false,    //組織ツリー用
                    treeData: [],            //組織ツリー用
                    isSearchHistory: false,
                    empTreeData: [],        //組織ツリー用
                    deptName: '選んでください',   //選択した職員の所属
                    referListObject: {       //組織ツリー共通
                        [[${ TREEVIEW_KEY_PERM_TARGET_SECTION }]]: '',
                        [[${ TREEVIEW_KEY_PERM_TARGET_EMP }]]: '',
                        [[${ TREEVIEW_KEY_PERM_TARGET_GROUP }]]: '',
                        [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                        type: 41
                    },
                    optsDisp:{
                        year:'',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        //目标sec
                        txtTmgReferListTreeViewAdminTargetSection: '',
                        //基准日
                        txtTmgReferListTreeViewRecordDate: '',
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                        type: 41,
                    },
                    notAprEmpCol:[
                        {
                            title: '所属',
                            key: 'sectionNick',
                            align: 'left'
                        },
                        {
                            title: '氏名',
                            key: 'empName',
                            align: 'left'
                        },
                        {
                            title: '職員番号',
                            key: 'tmoCemployeeid',
                            align: 'left'
                        },
                    ],
                    notAprEmpData:[],
                    totalCol:[
                        {
                        title: '氏名',
                        key: 'name',
                        align: 'center'
                        },
                        {
                            title: 'メールアドレス',
                            key: 'mailAddress',
                            align: 'center'
                        },
                    ],
                    totalData:[],
                    notAprSecCol:[
                        {
                            title: '所属',
                            key: 'sectionNick',
                            align: 'left'
                        },
                    ],
                    notAprSecData:[],
                }
            },
            async mounted() {
                this.getInit()
            },
            computed: {
            },
            methods: {
                //初期化処理
                async getInit() {

                    let targetAdminSection = [[${ session.txtTmgReferListTreeViewAdminTargetSection }]]
                    let loginDesignationSection = [[${ session.psSession.loginDesignation[0].section }]]
                    if(Utils.formatDate([[${ session.TmgReferListSYSDATE }]], 'yyyy/mm/dd')){
                        this.referListObject.txtTmgReferListTreeViewRecordDate =  Utils.formatDate([[${ session.TmgReferListSYSDATE }]], 'yyyy/mm/dd')
                    }
                    await this.getOrgTree()
                    //　初回管理サイトの画面にアクセスするなら、targetSectionがnullであることから、下記通りでデフォルト所属を設定する
                    // １．ログインユーザが本人所属部署の管理権限がある場合、ログインユーザの所属部署をデフォルト所属とする。
                    // ２．ログインユーザが本人所属部署の管理権限がない場合、ログインユーザの管理対象部署のTOP部署をデフォルト所属とする
                    if (!targetAdminSection){
                        this.getDeptCode(this.treeData,loginDesignationSection)
                        if (this.targetAdminSectionFlag) {
                            console.log("getDeptCode_true")
                            this.deptName = [[${ session.psSession.loginDesignation[0].sectionName }]]
                            this.referListObject.txtTmgReferListTreeViewAdminTargetSection = [[${ session.psSession.loginDesignation[0].section }]]
                            this.optsDisp.txtTmgReferListTreeViewAdminTargetSection = this.referListObject.txtTmgReferListTreeViewAdminTargetSection
                            this.optsDisp.year = this.referListObject.txtTmgReferListTreeViewRecordDate.slice(0, 4)
                            this.optsDisp.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                        } else {
                            console.log("getDeptCode_false")
                            this.deptName = this.treeData[0].children[0].secnic
                            this.referListObject.txtTmgReferListTreeViewAdminTargetSection = this.treeData[0].children[0].secid
                            this.optsDisp.txtTmgReferListTreeViewAdminTargetSection = this.referListObject.txtTmgReferListTreeViewAdminTargetSection
                            this.optsDisp.year = this.referListObject.txtTmgReferListTreeViewRecordDate.slice(0, 4)
                            this.optsDisp.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                        }
                    } else {
                        this.deptName = [[${ session.txtTmgReferListTreeViewAdminTargetSectionName }]]
                        this.referListObject.txtTmgReferListTreeViewAdminTargetSection = [[${ session.txtTmgReferListTreeViewAdminTargetSection }]]
                        this.optsDisp.txtTmgReferListTreeViewAdminTargetSection = this.referListObject.txtTmgReferListTreeViewAdminTargetSection
                        this.optsDisp.year = this.referListObject.txtTmgReferListTreeViewRecordDate.slice(0, 4)
                        this.optsDisp.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    }

                    //一覧画面取得
                    this.getData()
                },
                getDeptCode(data,loginDesignationSection) {
                    data.forEach(e => {
                        if (e.secid === loginDesignationSection) {
                            this.targetAdminSectionFlag = true
                        } else {
                            const children = e.child || e.children
                            if (children) {
                                this.getDeptCode(children,loginDesignationSection)
                            }
                        }
                    })
                },
                getData: Debounce(async function (byBtn) {
                    if(byBtn) {
                        this.solvingBtnLoading = true
                    } else {
                        this.loading = true
                    }
                    this.optsDisp.year=Utils.formatDate(this.curDate,'yyyy').concat('/01/01')
                    try {
                        const { data } = await this.http.get('sys/sumdate/monthlyOutputDisp', this.optsDisp)
                        this.tableData = data.reverse().slice(0,12)
                    } catch (error) {
                        return
                    } finally {
                        this.loading = false
                        this.solvingBtnLoading = false
                    }
                }),
                async getOrgTree() {
                    this.empDeptLoading = true
                    try {
                        const { divisionTree, recordDate } = await this.http.get('sys/tree', this.referListObject)
                        // 转为可用数据
                        this.treeData = Utils.convertTreeData(divisionTree)
                        this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                    } catch (error) {
                        return
                    } finally {
                        this.loading = false
                        this.empDeptLoading = false
                    }
                },
                async handleDeptDateChange(e) {
                    this.referListObject.txtTmgReferListTreeViewRecordDate = e
                    this.isSearchHistory = true
                    await this.getOrgTree()
                    if(this.treeData.length !== 0) {
                       this.$Notice.warning({ title:'所属図更新完了',desc:"下記の所属リストから対象を選んでください" })
                    }
                },
                async handleClickLeaf(e) {
                    this.deptDrawShow = false
                    const section = [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]
                    this.referListObject[section] = e[0].secid
                    this.loginEmployee = e[0].empid
                    this.deptName = e[0].secnic
                    this.optsDisp.txtTmgReferListTreeViewAdminTargetSection = e[0].secid
                    this.optsDisp.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate

                    this.opts.txtTmgReferListTreeViewAdminTargetSection = e[0].secid
                    this.opts.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate

                    this.selectDisabled = true
                    this.remarksDisabled = true
                    this.getData()
                },
                async notApprovalList(e) {
                    if(e!=null){
                        this.opts.baseDate = e.concat('/01')
                    }
                    try {
                        this.notAprEmp = true
                        this.loadingEmp = true
                        const {data} = await this.http.get('sys/sumdate/notApprovalList', this.opts)
                        this.notAprEmpData = data.list
                        this.pageValueEmp.amount = data.totalCount
                        this.pageValueEmp.curPage = data.currPage
                        this.pageValueEmp.curSize = data.pageSize

                    } catch (error) {
                        console.log(error)
                        return
                    } finally {
                        this.loadingEmp = false
                    }
                },
                pageChangeEmp(e) {
                    this.opts.sPage = e
                    this.pageValueEmp.curPage = e
                    this.notApprovalList()
                },
                monthlyFix(e){
                    this.opts.baseDate = e.concat('/01')
                    this.$Modal.confirm({
                        title: '注意',
                        content: Utils.formatDate(this.opts.baseDate,'YYYY年MM月')+'の就業締め処理を実行します。\nよろしいですか？',
                        onOk: async () => {
                            try {
                                this.loading = true
                                await this.http.postForm('sys/sumdate/approval', this.opts)
                                this.getData()
                            } catch (error) {
                                console.log(error)
                                return
                            } finally {
                                this.loading = false
                            }
                        }
                    })
                },
                monthlyDelFix(e){
                    this.opts.baseDate = e.concat('/01')
                    this.$Modal.confirm({
                        title: '注意',
                        content: Utils.formatDate(this.opts.baseDate,'YYYY年MM月')+'の月次締め解除処理を実行します。\nよろしいですか？',
                        onOk: async () => {
                            try {
                                this.loading = true
                                await this.http.postForm('sys/sumdate/approvalCancel', this.opts)
                                this.getData()
                            } catch (error) {
                                console.log(error)
                                return
                            } finally {
                                this.loading = false
                            }
                        }
                    })
                },
                changeFix(e){
                    this.opts.baseDate = e.concat('/01')
                    this.$Modal.confirm({
                        title: '注意',
                        content: Utils.formatDate(this.opts.baseDate,'YYYY年MM月')+'の就業確認処理を実行します。\nよろしいですか？',
                        onOk: async () => {
                            try {
                                this.loading = true
                                this.opts.action='C'
                                await this.http.postForm('sys/sumdate/changeFix', this.opts)
                                this.getData()
                            } catch (error) {
                                console.log(error)
                                return
                            } finally {
                                this.loading = false
                            }
                        }
                    })
                },
                async alterFix(e) {
                    this.opts.baseDate = e.concat('/01')
                    const { msg } =await this.http.postForm('sys/sumdate/changeFix', this.opts)
                    this.$Modal.error({
                        title: '注意',
                        content: msg,
                        okText:'キャンセル'
                    })
                },
                delFix(e){
                    this.opts.baseDate = e.concat('/01')
                    this.$Modal.confirm({
                        title: '注意',
                        content: Utils.formatDate(this.opts.baseDate,'YYYY年MM月')+'の就業確認解除処理を実行します。\nよろしいですか？',
                        onOk: async () => {
                            try {
                                this.loading = true
                                this.opts.action='D'
                                await this.http.postForm('sys/sumdate/changeFix', this.opts)
                                this.getData()
                            } catch (error) {
                                console.log(error)
                                return
                            } finally {
                                this.loading = false
                            }
                        }
                    })
                },
                async total(e) {
                    this.opts.baseDate = e.concat('/01')
                    try {
                        this.message = '月次集計処理完了後、以上の職員に完了通知メールが配信されます。'
                        this.totalLink = true;
                        const {data} = await this.http.get('sys/sumdate/totalDisp', this.opts)
                        this.totalData = data
                    } catch (error) {
                        console.log(error)
                        return
                    }
                },
                totalStart(){
                    this.$Modal.confirm({
                        title: '注意',
                        content: Utils.formatDate(this.opts.baseDate,'YYYY年MM月')+'の就業集計処理を実行します。\nよろしいですか？',
                        onOk: async () => {
                            try {
                                this.totalLoading=true
                                const { msg } = await this.http.postForm('sys/sumdate/totalStart', this.opts)
                                this.$Notice.info({ title:'月次集計処理中', desc:'処理番号'+msg+'で月次集計処理を受け付けました。\n月次集計処理完了後、完了通知メールが配信されます。', duration:0 })
                            } catch (error) {
                                console.log(error)
                                return
                            } finally {
                                this.totalLoading= false
                                this.totalLink = false
                                this.getData()
                            }
                        }
                    })
                },
                totalError(e) {
                    this.opts.baseDate = e.concat('/01')
                    //this.downloadLink=true;
                },

                async download(e,f) {
                    if(f){
                        this.opts.sRetroFlg = f
                    }
                    this.opts.baseDate = e.concat('/01')
                    try{
                        this.downloadLink = true;
                        const { data } = await this.http.get('sys/sumdate/downloadDisp', this.opts)
                        this.downloadBtn = data
                    } catch (error) {
                        console.log(error)
                        return
                    }
                },

                async downloadFile(e) {
                    if(e){
                        this.opts.dlTypeId = e
                    }
                    try{
                        const { data, headers } = await this.http.get('sys/sumdate/downloadFile', this.opts)
                        Utils.downloadFile(data,decodeURI(headers.filename,"UTF-8"),'text/csv')
                    } catch (error) {
                        console.log(error)
                        return
                    }
                },
                handleDatePicker() {
                    if (this.deptName !== '選んでください') {
                        this.getData()
                        return
                    }
                    this.$Notice.warning({ title: '所属を選択して下さい' })
                },
                async notAprSec(e) {
                    if (e != null) {
                        this.opts.baseDate = e.concat('/01')
                    }
                    try {
                        this.notAppSec = true
                        this.loadingSEC = true
                        const {data} = await this.http.get('sys/sumdate/notAppSectionList', this.opts)
                        this.notAprSecData = data.list
                        this.pageValueSec.amount = data.totalCount
                        this.pageValueSec.curPage = data.currPage
                        this.pageValueSec.curSize = data.pageSize
                    } catch (error) {
                        console.log(error)
                        return
                    } finally {
                        this.loadingSEC = false
                    }
                },
            }
        })
    </script>
</body>

</html>