<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head
        th:replace="layout/header::common_header(title='休暇・休業登録',cssPaths='/pages/content.min.css,' + '/pages/restapplyconfirm.min.css')">
</head>
<body>
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <div th:replace="layout/sider"></div>

    <main class="content tmgbulknotification-warp" @scroll.passive="handleScroll" ref="layout">
        <div class="content_head">
            <div class="header">
                <div class="title1">
                    <h1>
                        <Icon type="i-emeer colored"></Icon>
                        {{  '休暇・休業登録' }}
                    </h1>
                </div>
                <div class="btnbox">
                    <span style="flex:1"></span>
                    <i-button type="primary"  @click="ntfUpload" v-if="!newOrDisp">登録
                    </i-button>
                    <i-button type="primary"  @click="newBulkNtf" v-if="newOrDisp">新規
                    </i-button>
                    <i-button type="primary"  @click="newBulkNtf" v-else>キャンセル
                    </i-button>
                </div>
            </div>
        </div>
        <div class="content_body">
            <div v-if="newOrDisp">
                <Alert class="primary-info tl" >※休暇・休業一括登録(および取消)は、{{useTime}} の時間帯のみ使用できます。</Alert>
                <i-table border :columns="columns" :data="tableData" :loading="loading"
                         no-data-text="休暇休業一括登録データがない" :disabled-hover="true">
                    <template slot-scope="{ row }" slot="tbnCbulkntftype">
                        <span  @click="handleCickNtfType(row.tbnNtbnid)" style="text-decoration: underline"> {{ row.tbnCbulkntftype }}</span>
                    </template>
                    <template slot-scope="{ row }" slot="moCsectionname">
                        <span v-if="row.tbndCount==='1'"> {{ row.moCsectionname }}</span>
                        <span v-else> {{ row.moCsectionname }}
                         <p @click="SectionDetailShow(row.tbnNtbnid)" class="csv-p pb5">[全て表示]</p>
                        </span>
                    </template>
                    <template slot-scope="{ row }" slot="tbnDbegin">
                        <span> {{ row.tbnDbegin }}</span>
                    </template>
                    <template slot-scope="{ row }" slot="tbnCstatus">
                        <span> {{ row.tbnCstatus }}</span>
                    </template>
                </i-table>





                <Drawer v-model="isShow" title="一括登録内容詳細" width="500"  :mask-closable="false" footer-hide mask-closable>
                    <div  class="tr">
                        <i-button type="primary" @click="bulkNtfCancel(detailInfo.tbnNtbnid)" v-if="cancelBotton">取消
                        </i-button>
                    </div>
                    <Alert class="error-info" type="error" v-show="detailInfo.tbnCstatusid === 'TMG_BULKNTFSTATUS|910'">
                        反映処理中に想定外のエラーが発生しました。
                        システム管理者までお問合せください。
                    </Alert>

                    <div class="titlenorm mb10">
                        <Icon type="logo-buffer"></Icon>
                        休暇・休業一括登録
                    </div>
                        <Row :gutter="24">
                            <i-col span="24">
                                <div class="label">一括登録区分</div>
                                <div class="person-info">{{ detailInfo.tbnCbulkntftype }}</div>
                            </i-col>
                        </Row>
                        <Row :gutter="24">
                            <i-col span="24">
                                <div class="label">対象部署</div>
                                <div class="person-info">
                                    <span v-if="detailInfo.tbndCount==='1'"> {{ detailInfo.tbnCsectionid }}</span>
                                    <span v-else> {{ detailInfo.tbnCsectionid }}
                                    <p @click="SectionDetailShow(detailInfo.tbnNtbnid)" class="csv-p pb5">[全て表示]</p>
                                    </span>
                                </div>
                        </span>
                            </i-col>
                        </Row>
                        <Row :gutter="24">
                            <i-col span="24">
                                <div class="label">対象期間</div>
                                <div class="person-info">{{ detailInfo.tbnDbegin }}</div>
                            </i-col>
                        </Row>
                    <div class="titlenorm mb10">
                        <Icon type="logo-buffer"></Icon>
                        処理結果 ( {{ detailInfo.tbnCstatus }} )
                    </div>
                        <Row :gutter="24">
                            <i-col span="24">
                                <div class="label">対象人数</div>
                                <div class="person-info">{{ detailInfo.tbnNcount }}</div>
                            </i-col>
                        </Row>
                        <Row :gutter="24">
                            <i-col span="24">
                                <div class="label">処理済</div>
                                <div class="person-info">{{ detailInfo.cntFinish }}</div>
                            </i-col>
                        </Row>
                        <Row :gutter="24">
                            <i-col span="24">
                                <div class="label">取消済</div>
                                <div class="person-info">{{ detailInfo.cntCancel }}</div>
                            </i-col>
                        </Row>
                        <Row :gutter="24">
                            <i-col span="24">
                                <div class="label">反映エラー</div>
                                <div class="person-info">
                                    {{ detailInfo.cntErr }}
                                    <i-button   @click="errDetail(detailInfo.tbnNtbnid)" v-if="detailInfo.cntErr !='0'">詳細
                                    </i-button>
                                </div>
                            </i-col>
                        </Row>
                </Drawer>
                <Drawer :closable="false"  class="tc" placement="right" title="反映エラー職員一覧"
                        v-model="errDetailShow" width="700">
                    <i-table border :columns="columns2" :data="tableData2" :loading="loading"
                             no-data-text="休暇休業一括登録データがない" :disabled-hover="true">
                        <template slot-scope="{ row }" slot="tgrmCsectionid">
                            <span> {{ row.tgrmCsectionid }}</span>
                        </template>
                        <template slot-scope="{ row }" slot="tbnlCemployeeid">
                            <span> {{ row.tbnlCemployeeid }}</span>
                        </template>
                        <template slot-scope="{ row }" slot="tbnlCerrcode">
                            <span> {{ row.tbnlCerrcode }}</span>
                        </template>
                    </i-table>
                </Drawer>
                <Drawer :closable="false"  class="tc" placement="right" title="対象部署"
                        v-model="sectionDetailShow">
                    <div class="titlenorm mb10">
                        <Icon type="logo-buffer"></Icon>
                        対象部署
                    </div>
                    <Row v-for="e of sectionList">
                        <i-col>
                            {{e.moCsectionname}}
                        </i-col>
                    </Row>
                </Drawer>

            </div>
            <div v-else>
                <Row>
                    <i-col span="15">
                        <Card  class="card"  title="休暇・休業一括登録">
                            <!--            <Alert class="error-info mt10" type="error" v-if="errorInfo">{{ errorMsg }}</Alert>-->
                            <span>
                        <Divider class="mb10" orientation="left" size="default">一括登録区分</Divider>
                        <i-select class="mb20 non-border-input" placeholder="一括登録区分" style="width: 450px" v-model="ntfType">
                            <i-option v-for="(item,index) of ntfTypeList" :key="index" :value="item.id"  :label="item.name"></i-option>
                        </i-select>
                    </span>
                            <span>
                        <Divider class="mb10" orientation="left" size="default">対象部署</Divider>
                        <p @click="deptDrawShow = true" class="csv-p pb5" style="text-decoration: underline">{{ deptName }}</p>
                                <!-- 共通組織図画面 start-->
                        <Drawer :closable="false" :mask-closable="!isSearchHistory" class="tc" placement="right"
                                v-model="deptDrawShow" width="700">
                            <div class="titlenorm mt15">
                                <Icon type="logo-buffer"></Icon>
                                所属
                            </div>
                           <Row class="tl mb5">
                                <i-col class="label tc" span="4" style="height: 32px;">基準日</i-col>
                                <i-col class="no-border-radius" span="7">
                                <date-picker :value="referListObject.txtTmgReferListTreeViewRecordDate" @on-change="handleDeptDateChange"
                                             format="yyyy/MM/dd" placeholder="基準日" ref="datePicker" type="date"></date-picker>
                                </i-col>
                           </Row>
                        <Tree :data="treeData" @on-check-change="handleDeptChange"  class="tree mt2" empty-text="所属データなし"
                              ref="tree" show-checkbox multiple check-strictly check-directly></Tree>
                        </Drawer>
                                <!-- 共通組織図画面 end-->
                    </span>
                    <span>
                      <Divider class="mb10" orientation="left" size="small">対象期間</Divider>
                      <date-picker v-model="fromDate" format="yyyy/MM/dd" placement="bottom-end" style="width:47%" transfer type="date"></date-picker>
                      <date-picker v-model="toDate" format="yyyy/MM/dd" placement="bottom-end" style="width:47%" transfer type="date"></date-picker>
                    </span>

                   </Card>
                    </i-col>

                    <i-col span="8" offset="1">
                        <Card  class="card"  title="対象部署">
                            <Row>
                                <i-col v-for="e of deptNameList">
                                    {{e}}
                                </i-col>
                            </Row>
                        </Card>
                    </i-col>
                </Row>
            </div>
        </div>

    </main>
    <div th:replace="layout/head::header"></div>
    <script type="text/babel" th:inline="javascript">
        const REST_APPLY_CONFIRM_W = new Vue({
            el: '.tmgbulknotification-warp',
            data() {
                return {
                    errDetailShow:false,
                    sectionDetailShow:false,
                    referListObject: {
                        [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]: '',
                        [[${ TREEVIEW_KEY_ADMIN_TARGET_EMP }]]: '',
                        [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                        [[${ TREEVIEW_KEY_REFRESH_FLG }]]: '',
                        txtTmgReferListTreeViewRecordDate: '',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                        type: 11
                    },
                    newOrDisp:true,
                    useTime:'',
                    loading:false,
                    columns: [
                        {
                            title: '一括登録区分',
                            width: 280,
                            align: 'right',
                            slot: 'tbnCbulkntftype'
                        },
                        {
                            title: '対象部署',
                            minWidth: 280,
                            align: 'center',
                            slot: 'moCsectionname'
                        },
                        {
                            title: '対象期間',
                            width: 280,
                            align: 'center',
                            slot: 'tbnDbegin'
                        },
                        {
                            title: '状態',
                            width: 150,
                            align: 'center',
                            slot: 'tbnCstatus'
                        }
                    ],
                    columns2: [
                        {
                            title: '部署',
                            width: 150,
                            align: 'center',
                            slot: 'tgrmCsectionid'
                        },
                        {
                            title: '氏名',
                            minWidth: 150,
                            align: 'center',
                            slot: 'tbnlCemployeeid'
                        },
                        {
                            title: '反映エラーの原因',
                            width: 400,
                            align: 'center',
                            slot: 'tbnlCerrcode'
                        }
                    ],
                    tableData:[],
                    tableData2:[],
                    ntfTypeList:[],
                    ntfType:'', //一括登録区分
                    fromDate:'', //対象期間
                    toDate:'', //対象期間
                    deptName:'クリックした組織選択', //対象部署名称
                    deptNameList:[], //対象部署
                    deptId:'', //対象部署Id
                    isShow:false,
                    deptDrawShow:false,  //対象部署選択画面制御
                    treeData: [],                //組織ツリー用
                    isSearchHistory: false,
                    detailInfo:{},
                    cancelBotton: false,
                    opts: {
                        baseDate:'',
                        ntfId:'',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                    },
                    UploadDto:{
                        seq:'',
                        sectionId:'',
                        bulkNtfId:'',
                        beginDate:'',
                        endDate:'',
                    },
                    sectionList:{},
                }
            },
            async mounted() {
                await this.getOrgTree();
                this.getHistoryDisp();
                this.getNtfType();
            },

            computed: {

            },
            methods: {
                async ntfUpload(){
                    this.UploadDto.sectionId = this.deptId
                    this.UploadDto.bulkNtfId = this.ntfType
                    this.UploadDto.beginDate = this.fromDate
                    this.UploadDto.endDate = this.toDate
                    try{
                        const {msg} = await this.http.post('sys/tmgbulknotification/makeBulkNtf', this.UploadDto)
                        if(msg === '0'){
                            this.isShow = false
                            this.newOrDisp=true
                            this.getHistoryDisp()
                            return
                        }
                        this.errMsg = JSON.parse(msg)
                        let errMsg20
                        let check = Object.keys(this.errMsg).some(e => {
                            if (e === 'ERRTYPE_10') {
                                this.$Notice.error({desc: this.errMsg.ERRTYPE_10[0].ERRMSG})
                                return true
                            }
                            if (e === 'ERRTYPE_20') {
                                this.errMsg.ERRTYPE_20.forEach(e20 => {
                                    errMsg20 = errMsg20 + e20.ERRMSG + '/n'
                                })
                                this.$Notice.error({desc: errMsg20})
                            }

                        })
                        if (check) {
                            return false
                        }
                    }catch (e) {
                        return
                    }

                },
                async bulkNtfCancel(e){
                    const {msg} = await this.http.postForm('sys/tmgbulknotification/cancelBulkNtf', {seq:e})

                },
                async getNtfType() {
                    this.opts.baseDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    try {
                        const {data} = await this.http.get('sys/tmgbulknotification/getNtfType', this.opts)
                        this.ntfTypeList=data
                    }catch (error) {
                        return
                    } finally {

                    }
                },
                async getHistoryDisp() {
                    this.opts.baseDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    try {
                        const {data} = await this.http.get('sys/tmgbulknotification/Disp', this.opts)
                        this.tableData=data.historyList
                        this.useTime=data.timeRange
                    }catch (error) {
                        return
                    } finally {

                    }
                },
                newBulkNtf(){
                    if(this.newOrDisp){
                        this.newOrDisp=false
                    }else{
                        this.newOrDisp=true
                    }
                },
                async handleCickNtfType(e) {
                    if (!e) {
                        return
                    }
                    this.opts.ntfId = e
                    try {
                        const {data} = await this.http.get('sys/tmgbulknotification/getDetail', this.opts)
                        this.detailInfo=data
                        this.isShow=true
                        if(this.detailInfo.tbnCstatusid === 'TMG_BULKNTFSTATUS|130'){
                            this.cancelBotton=true
                        }else{
                            this.cancelBotton=false
                        }
                        console.log(data)
                    } catch (error) {
                        return
                    } finally {

                    }
                },
                async handleDeptDateChange(e) {
                    this.referListObject.txtTmgReferListTreeViewRecordDate = e
                    this.isSearchHistory = true
                    await this.getOrgTree()
                    if(this.treeData.length !== 0) {
                       this.$Notice.warning({ title:'所属図更新完了',desc:"下記の所属リストから対象を選んでください" })
                    }
                },
                async getOrgTree() {
                    try {
                        const { orgList, recordDate } = await this.http.get('sys/tree', this.referListObject)
                        // 先将数据转为标准格式，再转为可用数据
                        this.treeData = Utils.convertTreeData(orgList)
                        this.treeChangeExpand(this.treeData)
                        this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                    } catch (error) {
                        return
                    } finally {

                    }
                },
                treeChangeExpand(treeData) {
                    let _this = this
                    treeData.forEach((e, i)=>{
                        treeData[i].expand = true
                        if(e.children && e.children.length > 0) {
                            _this.treeChangeExpand(e.children);
                        }
                    })
                },
                async handleDeptChange(e,current){
                    if(!e[0] ){
                        this.deptName="クリックした組織選択"
                        this.deptId=""
                        this.deptNameList=[]
                        return
                    }
                    // 如果有子节点，则遍历影响
                    if(current.children && current.children.length > 0) {
                        this.treeCheckHack(current.children, current.checked)
                    }

                    // 在这里显示选中的名字
                    this.$nextTick(()=>{
                        const selectedTreeNodes = this.$refs.tree.getCheckedNodes()
                        if(selectedTreeNodes.length > 0) {
                            this.deptName = selectedTreeNodes.map(e=> e.secname).join(',')
                        } else {
                            this.deptName = ''
                        }
                    })
                    // this.deptName=""
                    // this.deptId=""
                    // this.deptNameList=[]
                    // e.forEach(j => {
                    //     this.deptName=this.deptName+j.secnic+","
                    //     this.deptId=this.deptId+j.secid+","
                    //     this.deptNameList=this.deptNameList.concat(j.secnic)
                    // })
                    // if(this.deptName.split(',').length>2){
                    //     this.deptName=this.deptName.split(',')[0]+","+this.deptName.split(',')[1]+","+this.deptName.split(',')[2]+",..."
                    // }else{
                    //     this.deptName = this.deptName.substring(0,this.deptName.lastIndexOf(','))
                    // }
                    // this.deptId = this.deptId.substring(0,this.deptId.lastIndexOf(','))
                },
                // 使得check-strictly的情况下， 勾选/取消 checkbox父也会遍历全部子集
                treeCheckHack(treeNode, checked) {
                    let _this = this
                    treeNode.forEach((e, i) => {
                        _this.$set(e, 'checked', checked)
                        if (e.children && e.children.length > 0) {
                            _this.treeCheckHack(e.children, checked);

                        }
                    })
                },
                async errDetail(e){
                    if (!e) {
                        return
                    }
                    this.opts.ntfId = e
                    try {
                        const {data} = await this.http.get('sys/tmgbulknotification/errorDetail', this.opts)
                        this.tableData2=data
                        this.errDetailShow=true
                    } catch (error) {
                        return
                    } finally {

                    }
                },
                async SectionDetailShow(e){
                    if (!e) {
                        return
                    }
                    this.opts.ntfId = e
                    try {
                        const {data} = await this.http.get('sys/tmgbulknotification/sectionDetail', this.opts)
                        console.log()
                        this.sectionDetailShow=true
                        this.sectionList=data
                    } catch (error) {
                        return
                    } finally {

                    }
                }
            }
        })
    </script>
</body>
</html>