<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head
    th:replace="layout/header::common_header(title='休暇一括登録',cssPaths='/pages/content.min.css,' + '/pages/restapplyconfirm.min.css')">
</head>

<body>
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <div th:replace="layout/sider"></div>

    <main class="content tmgbulknotification-warp" @scroll.passive="handleScroll" ref="layout">
        <div class="content_head">
            <div class="header">
                <div class="title1">
                    <h1>
                        <Icon type="i-emeer colored"></Icon>
                        {{  titleMsg }}
                    </h1>
                </div>
                <div class="btnbox">
                    <span style="flex:1"></span>
                    <i-button type="primary" @click="newBulkNtf(1)" v-if="newOrDisp" icon="md-add">新規
                    </i-button>
                    <i-button @click="newBulkNtf(0)" v-else>キャンセル
                    </i-button>
                </div>
            </div>
        </div>
        <div class="content_body">
            <div v-if="newOrDisp">
                <Alert class="primary-info tl">
                    <div>※休暇・休業一括登録(および取消)は、{{useTime}} の時間帯のみ使用できます。</div>
                    <div class="mt5">※処理状態が［エラー］の場合は反映処理中に想定外の問題が発生しました。詳細は システム管理者までお問合せください。</div>
                </Alert>
                <i-table border :columns="columns" :data="tableData" :loading="loading" no-data-text="" :row-class-name="() => 'select-col'"
                    :disabled-hover="true">
                    <template slot-scope="{ row }" slot="moCsectionname">
                        <span v-if="row.tbndCount==='1'"> {{ row.moCsectionname }}</span>
                        <span @click="SectionDetailShow(row.tbnNtbnid)" v-else>{{ row.moCsectionname }} <span class="cursor" style="color: var(--row-label-primary);">[全て表示]</span>
                        </span>
                    </template>
                    <template slot-scope="{ row }" slot="tbnNcount">
                        <span v-if="row.tbnNcount"> {{ `${row.tbnNcount}人` }}</span>
                        <span v-else>集計中</span>
                    </template>
                    <template slot-scope="{ row }" slot="cntFinish">
                        <span> {{ `${row.cntFinish}人` }}</span>
                    </template>
                    <template slot-scope="{ row }" slot="cntCancel">
                        <span> {{ `${row.cntCancel}人` }}</span>
                    </template>
                    <template slot-scope="{ row }" slot="cntErr">
                        <span v-if="row.cntErr==='0'">0人</span>
                        <span @click="errDetail(row.tbnNtbnid)" v-else>{{ `${row.cntErr}人` }} <span class="cursor" style="color: var(--row-label-primary);">[※詳細]</span>
                        </span>
                    </template>
                    <template slot-scope="{ row }" slot="tbnCstatus">
                        <span style="position: relative;top: 2px;" v-if="row.tbnCstatusid ==='TMG_BULKNTFSTATUS|120' || row.tbnCstatusid=== 'TMG_BULKNTFSTATUS|130'"> {{ row.tbnCstatus }}</span>
                        <span v-else> {{ row.tbnCstatus }}</span>
                        <i-button size="small"
                                  v-if="row.tbnCstatusid ==='TMG_BULKNTFSTATUS|120' || row.tbnCstatusid=== 'TMG_BULKNTFSTATUS|130'"
                                  @click="bulkNtfCancel(row.tbnNtbnid)">取消</i-button>
                    </template>
                </i-table>

                <Drawer :closable="false" class="tc" placement="right" title="反映エラー職員一覧" v-model="errDetailShow"
                    width="800">
                    <div class="tr mb5 mr5">
                        <Page :total="pageValue.amount" :current="pageValue.curPage" show-total style="display: inline"
                              :page-size="pageValue.curSize" @on-change="pageChange" ref="Page" simple/>
                    </div>
                    <i-table border :columns="columns2" :data="pageValue.currentPageData" :loading="loading" no-data-text=""
                        :disabled-hover="true">
                    </i-table>
                </Drawer>
                <Drawer :closable="false" width="400" class="tc" placement="right" title="対象部署"
                    v-model="sectionDetailShow">
                    <i-table border :columns="columns3" :data="sectionList" :loading="loading" no-data-text="" :row-class-name="() => 'select-col'"
                        :disabled-hover="true">
                    </i-table>
                </Drawer>

            </div>
            <div class="tl" v-else>
                <div class="ml20">
                    <Row>
                        <i-col span="6" offse="1">
                            <h2>一括登録区分</h2>
                        </i-col>
                        <i-col span="9" offset="1">
                            <i-select class="mb20 non-border-input" placeholder="一括登録区分選択" style="width: 450px"
                                v-model="ntfType">
                                <i-option v-for="(item,index) of ntfTypeList" :key="index" :value="item.id"
                                    :label="item.name"></i-option>
                            </i-select>
                        </i-col>
                    </Row>
                </div>

                <div class="ml20 pt20">
                    <Divider></Divider>
                    <Row>
                        <i-col span="6" offse="1">
                            <h2>対象部署</h2>
                        </i-col>
                        <i-col span="6" offset="1">
                            <Row :gutter="8">
                                <i-col :span="deptNameList.length > 0 ? 12 : 24">
                                    <p @click="deptDrawShow = true" class="input-like-span cursor" style="white-space: pre-line;color: var(--dept-select);  border: 1px dashed var(--dept-select);">{{ deptName }}</p>
                                </i-col>
                                <i-col span="12" v-if="deptNameList.length > 0"><i-button style="top: -5px;" @click="isShow = true" type="primary" ghost long>選択した部署参照</i-button></i-col>
                            </Row>
                            <!-- 共通組織図画面 start-->
                            <Drawer :closable="false" :mask-closable="!isSearchHistory" class="tc" placement="right"
                                v-model="deptDrawShow" width="700">
                                <div class="titlenorm mb5">
                                    <Icon type="logo-buffer"></Icon>
                                    所属
                                </div>
                                <Row class="tl mb5">
                                    <i-col class="label tc" span="4" style="height: 32px;">基準日</i-col>
                                    <i-col class="no-border-radius" span="7">
                                        <date-picker :value="referListObject.txtTmgReferListTreeViewRecordDate" :options="startLimit"
                                            @on-change="handleDeptDateChange" transfer format="yyyy/MM/dd"
                                            placeholder="基準日" ref="datePicker" type="date" :clearable="false"></date-picker>
                                    </i-col>
                                </Row>
                                <Tree :data="treeData" @on-check-change="handleDeptChange" class="tree mt2"
                                    empty-text="所属データなし" ref="tree" show-checkbox multiple check-strictly
                                    check-directly></Tree>
                            </Drawer>
                            <Drawer  class="tc" placement="right" v-model="isShow" width="700" title="選択した部署">
                                <i-table border :columns="columns4" :data="deptNameList" :loading="loading" no-data-text="" :row-class-name="() => 'select-col'" :disabled-hover="true">
                            </i-table>
                        </Drawer>
                        </i-col>
                    </Row>
                </div>

                <div class="ml20 pt20">
                    <Divider></Divider>
                    <Row>
                        <i-col span="6" offse="1">
                            <h2>対象期間</h2>
                        </i-col>
                        <i-col span="6" offset="1">
                            <Row>
                                <i-col span="11">
                                    <date-picker v-model="fromDate" format="yyyy/MM/dd" placement="bottom-end"
                                    transfer type="date"></date-picker>
                                </i-col>
                                <i-col span="1" offset="1">
                                    <span style="position: relative;left: -5px; top: 5px;">-</span>
                                </i-col>
                                <i-col span="11">
                                    <date-picker v-model="toDate" format="yyyy/MM/dd" placement="bottom-end"
                                    transfer type="date"></date-picker>
                                </i-col>
                            </Row>
                        </i-col>
                    </Row>

                    <Divider></Divider>
                    <Row>
                        <i-col span="6" style="margin-left: 28.933333%">
                            <i-button class="mt10" type="success" @click="ntfUpload" v-if="!newOrDisp" long icon="md-create">登録
                            </i-button>
                        </i-col>
                    </Row>
                </div>
            </div>
        </div>
        <back-top></back-top>
    </main>
    <div th:replace="layout/head::header"></div>
    <script type="text/babel" th:inline="javascript">
        const REST_APPLY_CONFIRM_W = new Vue({
            el: '.tmgbulknotification-warp',
            data() {
                return {
                    errDetailShow: false,
                    sectionDetailShow: false,
                    referListObject: {
                        [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]: '',
                        [[${ TREEVIEW_KEY_ADMIN_TARGET_EMP }]]: '',
                        [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                        [[${ TREEVIEW_KEY_REFRESH_FLG }]]: '',
                        txtTmgReferListTreeViewRecordDate: '',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                        type: 11
                    },
                    newOrDisp: true,
                    useTime: '',
                    titleMsg: '休暇一括登録',
                    loading: false,
                    columns: [
                        {
                            title: '一括登録区分',
                            width: 280,
                            align: 'center',
                            key: 'tbnCbulkntftype'
                        },
                        {
                            title: '対象部署',
                            minWidth: 100,
                            maxWidth: 280,
                            align: 'left',
                            slot: 'moCsectionname'
                        },
                        {
                            title: '対象期間',
                            minWidth: 130,
                            maxWidth: 280,
                            align: 'center',
                            key: 'tbnDbegin'
                        },
                        {
                            title: '対象人数',
                            align: 'center',
                            slot: 'tbnNcount'
                        },
                        {
                            title: '処理済',
                            align: 'center',
                            slot: 'cntFinish'
                        },
                        {
                            title: '取消済',
                            align: 'center',
                            slot: 'cntCancel'
                        },
                        {
                            title: '反映エラー',
                            align: 'center',
                            slot: 'cntErr'
                        },
                        {
                            title: '状態',
                            width: 130,
                            align: 'center',
                            slot: 'tbnCstatus'
                        }
                    ],
                    columns2: [
                        {
                            title: '部署',
                            width: 150,
                            align: 'left',
                            key: 'tgrmCsectionid'
                        },
                        {
                            title: '氏名',
                            width: 150,
                            align: 'left',
                            key: 'tbnlCemployeeid'
                        },
                        {
                            title: '反映エラーの原因',
                            align: 'left',
                            tooltip: true,
                            key: 'tbnlCerrcode'
                        }
                    ],
                    columns3: [
                        {
                            title: '部署',
                            key: 'moCsectionname'
                        }
                    ],
                    columns4: [
                        {
                            title: '部署',
                            key: 'name'
                        }
                    ],
                    pageValue: {
                        amount: 0,
                        curPage: 1,
                        curSize: 50,
                        currentPageData: [],//当前页显示内容
                    },
                    // totalPage: 1, // 统共页数，默认为1
                    currentPage: 1, //当前页数 ，默认为1
                    // pageSize: 50, // 每页显示数量
                    tableData: [],
                    tableData2: [],
                    ntfTypeList: [],
                    ntfType: '', //一括登録区分
                    fromDate: '', //対象期間
                    toDate: '', //対象期間
                    deptName: '対象部署選択', //対象部署名称
                    deptNameList: [], //対象部署
                    isShow: false,
                    deptDrawShow: false,  //対象部署選択画面制御
                    treeData: [],                //組織ツリー用
                    treeDataBackUp: [],                //組織ツリーbackup用
                    isSearchHistory: false,
                    cancelBotton: false,
                    opts: {
                        baseDate: '',
                        ntfId: '',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                    },
                    UploadDto: {
                        seq: '',
                        sectionId: '',
                        bulkNtfId: '',
                        beginDate: '',
                        endDate: '',
                    },
                    sectionList: [],
                }
            },
            async mounted() {
                await this.getOrgTree();
                this.getHistoryDisp();
                this.getNtfType();
            },

            computed: {

            },
            methods: {
                async ntfUpload() {
                    this.UploadDto.bulkNtfId = this.ntfType
                    this.UploadDto.beginDate = this.fromDate
                    this.UploadDto.endDate = this.toDate
                    console.log(this.fromDate)
                    console.log(this.toDate)
                    let secid=''
                    this.deptNameList.forEach(e=>{
                        console.log(e)
                        secid=secid+e.id+','
                    })
                    this.UploadDto.sectionId = secid.slice(0,-1)
                    if(!this.UploadDto.bulkNtfId){
                        this.$Message.error({
                            background: true,
                            closable: true,
                            duration: 6,
                            content: '一括登録区分選択してください。'
                        });
                        return false
                    }
                    if(!this.UploadDto.sectionId){
                        this.$Message.error({
                            background: true,
                            closable: true,
                            duration: 6,
                            content: '対象部署選択してください。'
                        });
                        return false
                    }
                    if(!this.UploadDto.beginDate){
                        this.$Message.error({
                            background: true,
                            closable: true,
                            duration: 6,
                            content: '対象期間(開始日)選択してください。'
                        });
                        return false
                    }
                    if(!this.UploadDto.endDate){
                        this.$Message.error({
                            background: true,
                            closable: true,
                            duration: 6,
                            content: '対象期間(終了日)選択してください。'
                        });
                        return false
                    }
                    if( this.UploadDto.beginDate >this.UploadDto.endDate ){
                        this.$Message.error({
                            background: true,
                            closable: true,
                            duration: 6,
                            content: '対象期間(開始日)＜＝対象期間(終了日)となるように入力してください。'
                        });
                        return false
                    }
                    this.$Modal.confirm({
                        title: '注意',
                        width: 480,
                        content: 'この編集内容で登録します。よろしいですか？',
                        okText: 'OK',
                        cancelText: 'キャンセル',
                        onOk: async () => {
                            try {
                                const { msg } = await this.http.post('sys/tmgbulknotification/makeBulkNtf', this.UploadDto)
                                if (msg === '0') {
                                    this.newOrDisp = true
                                    this.getHistoryDisp()
                                    return
                                }
                                this.errMsg = JSON.parse(msg)
                                let errMsg20
                                let check = Object.keys(this.errMsg).some(e => {
                                    if (e === 'ERRTYPE_10') {
                                        this.$Notice.error({ title: 'Error!',desc: this.errMsg.ERRTYPE_10[0].ERRMSG, duration: this.errMsg.ERRTYPE_10[0].ERRMSG.length > 20 ? 0 : 6.5 })
                                        return true
                                    }
                                    if (e === 'ERRTYPE_20') {
                                        this.errMsg.ERRTYPE_20.forEach(e20 => {
                                            errMsg20 = errMsg20 + e20.ERRMSG + '/n'
                                        })
                                        this.$Notice.error({ title: 'Error!', desc: errMsg20, duration: errMsg20.length > 20 ? 0 : 6.5 })
                                    }

                                })
                                if (check) {
                                    return false
                                }
                            } catch (e) {
                                return
                            }finally {
                                this.titleMsg = '休暇一括登録'
                            }
                        },
                        onCancel: () => {
                        }
                    })


                },
                async bulkNtfCancel(e) {
                    this.$Modal.confirm({
                        inDrawer: true,
                        title: '注意',
                        width: 480,
                        title: '休暇・休業一括登録の反映内容を取消します。よろしいですか？\n※取消処理は途中でキャンセルすることはできません。',
                        width: 490,
                        okText: 'OK',
                        cancelText: 'キャンセル',
                        onOk: async () => {
                            const { msg } = await this.http.postForm('sys/tmgbulknotification/cancelBulkNtf', { seq: e })
                            this.getHistoryDisp()
                        }
                    })

                },
                async getNtfType() {
                    this.opts.baseDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    try {
                        const { data } = await this.http.get('sys/tmgbulknotification/getNtfType', this.opts)
                        this.ntfTypeList = data
                    } catch (error) {
                        return
                    } finally {

                    }
                },
                async getHistoryDisp() {
                    this.opts.baseDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    try {
                        const { data } = await this.http.get('sys/tmgbulknotification/Disp', this.opts)
                        this.tableData = data.historyList
                        this.useTime = data.timeRange
                    } catch (error) {
                        return
                    } finally {

                    }
                },
                newBulkNtf(e) {
                    this.ntfType = ''
                    this.deptNameList = []
                    this.treeData = Utils.deepClone(this.treeDataBackUp)
                    this.fromDate = ''
                    this.toDate = ''
                    if (this.newOrDisp) {
                        this.newOrDisp = false
                    } else {
                        this.newOrDisp = true
                    }
                    if (e == 1){
                        this.titleMsg = '休暇一括作成'
                    }else{
                        this.titleMsg = '休暇一括登録'
                    }

                },
                async handleDeptDateChange(e) {
                    this.referListObject.txtTmgReferListTreeViewRecordDate = e
                    this.isSearchHistory = true
                    await this.getOrgTree()
                    if (this.treeData.length !== 0) {
                        this.$Notice.warning({ title: '所属図更新完了', desc: "下記の所属リストから対象を選んでください" })
                    }
                },
                async getOrgTree() {
                    try {
                        const { orgList, recordDate } = await this.http.get('sys/tree', this.referListObject)
                        // 先将数据转为标准格式，再转为可用数据
                        this.treeData = Utils.convertTreeData(orgList)
                        this.treeDataBackUp = Utils.convertTreeData(orgList)
                        this.treeChangeExpand(this.treeData)
                        this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                    } catch (error) {
                        return
                    } finally {

                    }
                },
                treeChangeExpand(treeData) {
                    let _this = this
                    treeData.forEach((e, i) => {
                        treeData[i].expand = true
                        if (e.children && e.children.length > 0) {
                            _this.treeChangeExpand(e.children);
                        }
                    })
                },
                async handleDeptChange(e, current) {
                    if (!e[0]) {
                        this.deptName = "対象部署選択"
                        this.deptNameList = []
                        return
                    }
                    // 如果有子节点，则遍历影响
                    if (current.children && current.children.length > 0) {
                        this.treeCheckHack(current.children, current.checked)
                    }

                    // 在这里显示选中的名字
                    this.$nextTick(() => {
                        const selectedTreeNodes = this.$refs.tree.getCheckedNodes()
                        if (selectedTreeNodes.length > 0) {
                            this.deptNameList = selectedTreeNodes.map(e => {
                                return {
                                    name: e.secname,
                                    id:e.secid
                                }
                            })
                        } else {
                            this.deptNameList = []
                        }
                    })
                    // this.deptName=""
                    // this.deptId=""
                    // this.deptNameList=[]
                    // e.forEach(j => {
                    //     this.deptName=this.deptName+j.secnic+","
                    //     this.deptId=this.deptId+j.secid+","
                    //     this.deptNameList=this.deptNameList.concat(j.secnic)
                    // })
                    // if(this.deptName.split(',').length>2){
                    //     this.deptName=this.deptName.split(',')[0]+","+this.deptName.split(',')[1]+","+this.deptName.split(',')[2]+",..."
                    // }else{
                    //     this.deptName = this.deptName.substring(0,this.deptName.lastIndexOf(','))
                    // }
                    // this.deptId = this.deptId.substring(0,this.deptId.lastIndexOf(','))
                },
                // 使得check-strictly的情况下， 勾选/取消 checkbox父也会遍历全部子集
                treeCheckHack(treeNode, checked) {
                    let _this = this
                    treeNode.forEach((e, i) => {
                        _this.$set(e, 'checked', checked)
                        if (e.children && e.children.length > 0) {
                            _this.treeCheckHack(e.children, checked);

                        }
                    })
                },
                async errDetail(e) {
                    if (!e) {
                        return
                    }
                    this.opts.ntfId = e
                    try {
                        const { data } = await this.http.get('sys/tmgbulknotification/errorDetail', this.opts)
                        this.tableData2 = data
                        this.errDetailShow = true
                    } catch (error) {
                        return
                    } finally {
                        this.pageValue.amount = this.tableData2.length;
                        this.setCurrentPageData();
                    }
                },
                // 设置当前页面数据，对数组操作的截取规则为[0~50],[50~100]...,
                setCurrentPageData() {
                    let begin = (this.pageValue.curPage - 1) * this.pageValue.curSize;
                    let end = this.pageValue.curPage * this.pageValue.curSize;
                    this.pageValue.currentPageData = this.tableData2.slice(
                        begin,
                        end
                    );
                },
                pageChange(e) {
                    console.log("--------------------------------1------------------------------------")
                    console.log(e)
                    this.opts.page = e
                    this.pageValue.curPage = e
                    let begin = (this.pageValue.curPage - 1) * this.pageValue.curSize;
                    let end = this.pageValue.curPage * this.pageValue.curSize;
                    this.pageValue.currentPageData = this.tableData2.slice(
                        begin,
                        end
                    );
                },
                async SectionDetailShow(e) {
                    if (!e) {
                        return
                    }
                    this.opts.ntfId = e
                    try {
                        const { data } = await this.http.get('sys/tmgbulknotification/sectionDetail', this.opts)
                        console.log()
                        this.sectionDetailShow = true
                        this.sectionList = data
                    } catch (error) {
                        return
                    } finally {

                    }
                }
            }
        })
    </script>
</body>

</html>