<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head
    th:replace="layout/header::common_header(title='休暇・休業登録',cssPaths='/pages/content.min.css,' + '/pages/restapplyconfirm.min.css')">
</head>

<body>
    <div th:replace="layout/loadingBar::loadingBar"></div>
    <div th:replace="layout/sider"></div>

    <main class="content tmgbulknotification-warp" @scroll.passive="handleScroll" ref="layout">
        <div class="content_head">
            <div class="header">
                <div class="title1">
                    <h1>
                        <Icon type="i-emeer colored"></Icon>
                        {{  '休暇・休業登録' }}
                    </h1>
                </div>
                <div class="btnbox">
                    <span style="flex:1"></span>
                    <i-button type="primary" @click="newBulkNtf" v-if="newOrDisp" icon="md-add">新規
                    </i-button>
                    <i-button @click="newBulkNtf" v-else>キャンセル
                    </i-button>
                </div>
            </div>
        </div>
        <div class="content_body">
            <div v-if="newOrDisp">
                <Alert class="primary-info tl">
                    <div>※休暇・休業一括登録(および取消)は、{{useTime}} の時間帯のみ使用できます。</div>
                    <div class="mt5">※処理状態が［エラー］の場合は反映処理中に想定外の問題が発生しました。詳細は システム管理者までお問合せください。</div>
                </Alert>
                <i-table border :columns="columns" :data="tableData" :loading="loading" no-data-text=""
                    :disabled-hover="true">
                    <template slot-scope="{ row }" slot="moCsectionname">
                        <span v-if="row.tbndCount==='1'"> {{ row.moCsectionname }}</span>
                        <span @click="SectionDetailShow(row.tbnNtbnid)" v-else>{{ row.moCsectionname }} <span style="color: var(--row-label-primary);">[全て表示]</span>
                        </span>
                    </template>
                    <template slot-scope="{ row }" slot="tbnNcount">
                        <span> {{ `${row.tbnNcount}人` }}</span>
                    </template>
                    <template slot-scope="{ row }" slot="cntFinish">
                        <span> {{ `${row.cntFinish}人` }}</span>
                    </template>
                    <template slot-scope="{ row }" slot="cntCancel">
                        <span> {{ `${row.cntCancel}人` }}</span>
                    </template>
                    <template slot-scope="{ row }" slot="cntErr">
                        <span v-if="row.tbndCount==='0'">0人</span>
                        <span @click="errDetail(row.tbnNtbnid)" v-else>{{ `${row.cntErr}人` }} <span style="color: var(--row-label-primary);">[※詳細]</span>
                        </span>
                    </template>
                    <!-- todo: 需要在这里加取消按钮 -->
                    <template slot-scope="{ row }" slot="tbnCstatus">
                        <span> {{ row.tbnCstatus }}</span>
                    </template>
                </i-table>

                <Drawer :closable="false" class="tc" placement="right" title="反映エラー職員一覧" v-model="errDetailShow"
                    width="700">
                    <i-table border :columns="columns2" :data="tableData2" :loading="loading" no-data-text=""
                        :disabled-hover="true">
                    </i-table>
                </Drawer>
                <Drawer :closable="false" width="400" class="tc" placement="right" title="対象部署"
                    v-model="sectionDetailShow">
                    <i-table border :columns="columns3" :data="sectionList" :loading="loading" no-data-text=""
                        :disabled-hover="true">
                    </i-table>
                </Drawer>

            </div>
            <div class="tl" v-else>
                <div class="ml20">
                    <Row>
                        <i-col span="6" offse="1">
                            <h2>一括登録区分</h2>
                        </i-col>
                        <i-col span="9" offset="1">
                            <i-select class="mb20 non-border-input" placeholder="一括登録区分" style="width: 450px"
                                v-model="ntfType">
                                <i-option v-for="(item,index) of ntfTypeList" :key="index" :value="item.id"
                                    :label="item.name"></i-option>
                            </i-select>
                        </i-col>
                    </Row>
                </div>

                <div class="ml20 pt20">
                    <Divider></Divider>
                    <Row>
                        <i-col span="6" offse="1">
                            <h2>対象部署</h2>
                        </i-col>
                        <i-col span="6" offset="1">
                            <p @click="deptDrawShow = true" class="input-like-span cursor" style="white-space: pre-line;color: var(--dept-select);  border: 1px dashed var(--dept-select);">{{ deptName }}</p>
                            <!-- 共通組織図画面 start-->
                            <Drawer :closable="false" :mask-closable="!isSearchHistory" class="tc" placement="right"
                                v-model="deptDrawShow" width="700">
                                <div class="titlenorm mt15">
                                    <Icon type="logo-buffer"></Icon>
                                    所属
                                </div>
                                <Row class="tl mb5">
                                    <i-col class="label tc" span="4" style="height: 32px;">基準日</i-col>
                                    <i-col class="no-border-radius" span="7">
                                        <date-picker :value="referListObject.txtTmgReferListTreeViewRecordDate"
                                            @on-change="handleDeptDateChange" transfer format="yyyy/MM/dd"
                                            placeholder="基準日" ref="datePicker" type="date"></date-picker>
                                    </i-col>
                                </Row>
                                <Tree :data="treeData" @on-check-change="handleDeptChange" class="tree mt2"
                                    empty-text="所属データなし" ref="tree" show-checkbox multiple check-strictly
                                    check-directly></Tree>
                            </Drawer>
                        </i-col>
                    </Row>
                </div>

                <div class="ml20 pt20">
                    <Divider></Divider>
                    <Row>
                        <i-col span="6" offse="1">
                            <h2>対象期間</h2>
                        </i-col>
                        <i-col span="6" offset="1">
                            <Row>
                                <i-col span="11">
                                    <date-picker v-model="fromDate" format="yyyy/MM/dd" placement="bottom-end"
                                    transfer type="date"></date-picker>
                                </i-col>
                                <i-col span="1" offset="1">
                                    <span style="position: relative;left: -5px; top: 5px;">-</span>
                                </i-col>
                                <i-col span="11">
                                    <date-picker v-model="toDate" format="yyyy/MM/dd" placement="bottom-end"
                                    transfer type="date"></date-picker>
                                </i-col>
                            </Row>
                        </i-col>
                    </Row>

                    <Divider></Divider>
                    <Row>
                        <i-col span="6" style="margin-left: 28.933333%">
                            <i-button class="mt10" type="success" @click="ntfUpload" v-if="!newOrDisp" long icon="md-create">登録
                            </i-button>
                        </i-col>
                    </Row>
                </div>
            </div>
        </div>
        <back-top></back-top>
    </main>
    <div th:replace="layout/head::header"></div>
    <script type="text/babel" th:inline="javascript">
        const REST_APPLY_CONFIRM_W = new Vue({
            el: '.tmgbulknotification-warp',
            data() {
                return {
                    errDetailShow: false,
                    sectionDetailShow: false,
                    referListObject: {
                        [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]: '',
                        [[${ TREEVIEW_KEY_ADMIN_TARGET_EMP }]]: '',
                        [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                        [[${ TREEVIEW_KEY_REFRESH_FLG }]]: '',
                        txtTmgReferListTreeViewRecordDate: '',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                        type: 11
                    },
                    newOrDisp: true,
                    useTime: '',
                    loading: false,
                    columns: [
                        {
                            title: '一括登録区分',
                            width: 280,
                            align: 'center',
                            key: 'tbnCbulkntftype'
                        },
                        {
                            title: '対象部署',
                            minWidth: 100,
                            maxWidth: 280,
                            align: 'left',
                            slot: 'moCsectionname'
                        },
                        {
                            title: '対象期間',
                            minWidth: 130,
                            maxWidth: 280,
                            align: 'center',
                            key: 'tbnDbegin'
                        },
                        {
                            title: '対象人数',
                            align: 'center',
                            slot: 'tbnNcount'
                        },
                        {
                            title: '処理済',
                            align: 'center',
                            slot: 'cntFinish'
                        },
                        {
                            title: '取消済',
                            align: 'center',
                            slot: 'cntCancel'
                        },
                        {
                            title: '反映エラー',
                            align: 'center',
                            slot: 'cntErr'
                        },
                        {
                            title: '状態',
                            width: 130,
                            align: 'center',
                            slot: 'tbnCstatus'
                        }
                    ],
                    columns2: [
                        {
                            title: '部署',
                            width: 150,
                            align: 'center',
                            key: 'tgrmCsectionid'
                        },
                        {
                            title: '氏名',
                            width: 150,
                            align: 'center',
                            key: 'tbnlCemployeeid'
                        },
                        {
                            title: '反映エラーの原因',
                            align: 'center',
                            tooltip: true,
                            key: 'tbnlCerrcode'
                        }
                    ],
                    columns3: [
                        {
                            title: '部署',
                            key: 'moCsectionname'
                        }
                    ],
                    tableData: [],
                    tableData2: [],
                    ntfTypeList: [],
                    ntfType: '', //一括登録区分
                    fromDate: '', //対象期間
                    toDate: '', //対象期間
                    deptName: 'クリックした組織選択', //対象部署名称
                    deptNameList: [], //対象部署
                    deptId: '', //対象部署Id
                    isShow: false,
                    deptDrawShow: false,  //対象部署選択画面制御
                    treeData: [],                //組織ツリー用
                    isSearchHistory: false,
                    cancelBotton: false,
                    opts: {
                        baseDate: '',
                        ntfId: '',
                        psSite: Utils.getUrlParam(location.href, 'psSite'),
                        psApp: Utils.getUrlParam(location.href, 'psApp'),
                    },
                    UploadDto: {
                        seq: '',
                        sectionId: '',
                        bulkNtfId: '',
                        beginDate: '',
                        endDate: '',
                    },
                    sectionList: [],
                }
            },
            async mounted() {
                await this.getOrgTree();
                this.getHistoryDisp();
                this.getNtfType();
            },

            computed: {

            },
            methods: {
                async ntfUpload() {
                    this.UploadDto.sectionId = this.deptId
                    this.UploadDto.bulkNtfId = this.ntfType
                    this.UploadDto.beginDate = this.fromDate
                    this.UploadDto.endDate = this.toDate
                    try {
                        const { msg } = await this.http.post('sys/tmgbulknotification/makeBulkNtf', this.UploadDto)
                        if (msg === '0') {
                            this.isShow = false
                            this.newOrDisp = true
                            this.getHistoryDisp()
                            return
                        }
                        this.errMsg = JSON.parse(msg)
                        let errMsg20
                        let check = Object.keys(this.errMsg).some(e => {
                            if (e === 'ERRTYPE_10') {
                                this.$Notice.error({ desc: this.errMsg.ERRTYPE_10[0].ERRMSG })
                                return true
                            }
                            if (e === 'ERRTYPE_20') {
                                this.errMsg.ERRTYPE_20.forEach(e20 => {
                                    errMsg20 = errMsg20 + e20.ERRMSG + '/n'
                                })
                                this.$Notice.error({ desc: errMsg20 })
                            }

                        })
                        if (check) {
                            return false
                        }
                    } catch (e) {
                        return
                    }

                },
                async bulkNtfCancel(e) {
                    const { msg } = await this.http.postForm('sys/tmgbulknotification/cancelBulkNtf', { seq: e })

                },
                async getNtfType() {
                    this.opts.baseDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    try {
                        const { data } = await this.http.get('sys/tmgbulknotification/getNtfType', this.opts)
                        this.ntfTypeList = data
                    } catch (error) {
                        return
                    } finally {

                    }
                },
                async getHistoryDisp() {
                    this.opts.baseDate = this.referListObject.txtTmgReferListTreeViewRecordDate
                    try {
                        const { data } = await this.http.get('sys/tmgbulknotification/Disp', this.opts)
                        this.tableData = data.historyList
                        this.useTime = data.timeRange
                    } catch (error) {
                        return
                    } finally {

                    }
                },
                newBulkNtf() {
                    if (this.newOrDisp) {
                        this.newOrDisp = false
                    } else {
                        this.newOrDisp = true
                    }
                },
                async handleDeptDateChange(e) {
                    this.referListObject.txtTmgReferListTreeViewRecordDate = e
                    this.isSearchHistory = true
                    await this.getOrgTree()
                    if (this.treeData.length !== 0) {
                        this.$Notice.warning({ title: '所属図更新完了', desc: "下記の所属リストから対象を選んでください" })
                    }
                },
                async getOrgTree() {
                    try {
                        const { orgList, recordDate } = await this.http.get('sys/tree', this.referListObject)
                        // 先将数据转为标准格式，再转为可用数据
                        this.treeData = Utils.convertTreeData(orgList)
                        this.treeChangeExpand(this.treeData)
                        this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                    } catch (error) {
                        return
                    } finally {

                    }
                },
                treeChangeExpand(treeData) {
                    let _this = this
                    treeData.forEach((e, i) => {
                        treeData[i].expand = true
                        if (e.children && e.children.length > 0) {
                            _this.treeChangeExpand(e.children);
                        }
                    })
                },
                async handleDeptChange(e, current) {
                    if (!e[0]) {
                        this.deptName = "クリックした組織選択"
                        this.deptId = ""
                        this.deptNameList = []
                        return
                    }
                    // 如果有子节点，则遍历影响
                    if (current.children && current.children.length > 0) {
                        this.treeCheckHack(current.children, current.checked)
                    }

                    // 在这里显示选中的名字
                    this.$nextTick(() => {
                        const selectedTreeNodes = this.$refs.tree.getCheckedNodes()
                        if (selectedTreeNodes.length > 0) {
                            this.deptName = selectedTreeNodes.map(e => e.secname).join('\n')
                        } else {
                            this.deptName = 'クリックした組織選択'
                        }
                    })
                    // this.deptName=""
                    // this.deptId=""
                    // this.deptNameList=[]
                    // e.forEach(j => {
                    //     this.deptName=this.deptName+j.secnic+","
                    //     this.deptId=this.deptId+j.secid+","
                    //     this.deptNameList=this.deptNameList.concat(j.secnic)
                    // })
                    // if(this.deptName.split(',').length>2){
                    //     this.deptName=this.deptName.split(',')[0]+","+this.deptName.split(',')[1]+","+this.deptName.split(',')[2]+",..."
                    // }else{
                    //     this.deptName = this.deptName.substring(0,this.deptName.lastIndexOf(','))
                    // }
                    // this.deptId = this.deptId.substring(0,this.deptId.lastIndexOf(','))
                },
                // 使得check-strictly的情况下， 勾选/取消 checkbox父也会遍历全部子集
                treeCheckHack(treeNode, checked) {
                    let _this = this
                    treeNode.forEach((e, i) => {
                        _this.$set(e, 'checked', checked)
                        if (e.children && e.children.length > 0) {
                            _this.treeCheckHack(e.children, checked);

                        }
                    })
                },
                async errDetail(e) {
                    if (!e) {
                        return
                    }
                    this.opts.ntfId = e
                    try {
                        const { data } = await this.http.get('sys/tmgbulknotification/errorDetail', this.opts)
                        this.tableData2 = data
                        this.errDetailShow = true
                    } catch (error) {
                        return
                    } finally {

                    }
                },
                async SectionDetailShow(e) {
                    if (!e) {
                        return
                    }
                    this.opts.ntfId = e
                    try {
                        const { data } = await this.http.get('sys/tmgbulknotification/sectionDetail', this.opts)
                        console.log()
                        this.sectionDetailShow = true
                        this.sectionList = data
                    } catch (error) {
                        return
                    } finally {

                    }
                }
            }
        })
    </script>
</body>

</html>