<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='休暇・休業承認',cssPaths='/pages/content.min.css')">
</head>

<body>
  <div th:replace="layout/loadingBar::loadingBar"></div>
  <main class="content restapplyconfirmw-warp" @scroll.passive="handleScroll" ref="layout">
    <div class="content_head">
      <div class="header">
        <div class="title1">
          <h1>
            <Icon type="i-emeer colored"></Icon>
            {{ `休暇・休業承認` }}
          </h1>
        </div>
        <div class="btnbox">
          <span style="flex:1"></span>
          <i-button type="primary" ghost size="large" icon="md-nutrition">代理申請</i-button>
          <i-button type="primary" size="large" icon="md-done-all" @click="confirm">承認</i-button>
        </div>
      </div>
      <div class="searchwrap">
        <span class="label">年</span>
        <date-picker type="year" format="yyyy" class="mr15" :value="curYear" @on-change="handleDatePicker">
        </date-picker>
        <!-- 共通組織図画面 start-->
        <span style="display:flex;width: calc(15% + 200px);">
          <span class="label">所属</span>
          <i-button v-on:click.native="deptDrawShow = true" class="input-like-span mr30 cursor grey"
            style="width: calc(100% - 120px);border-radius:0">
            {{ deptName }}
          </i-button>
          ​
          <Drawer class="tc" title="所属を選択してください" placement="right" width="700" :closable="false"
            :mask-closable="!isSearchHistory" v-model="deptDrawShow">
            <div class="titlenorm mb5">
              <Icon type="logo-buffer"></Icon>
              所属
            </div>
            <Row class="tl mb5">
              <i-col span="4" class="label tc" style="height: 32px;">基準日</i-col>
              <i-col span="7" class="no-border-radius">
                <date-picker type="date" :value="referListObject.txtTmgReferListTreeViewRecordDate" placeholder="基準日"
                  format="yyyy/MM/dd" ref="datePicker" @on-change="handleDeptDateChange"></date-picker>
              </i-col>
            </Row>

            <div style="position: relative;">
              <Tree class="tree mt2" :data="treeData" v-on:on-select-change="handleClickLeaf" ref="tree"
                empty-text="所属データなし"></Tree>
              <Spin size="large" fix v-if="empDeptLoading"></Spin>
            </div>
          </Drawer>
        </span>
        <!-- 共通組織図画面 end-->
        <!-- <span class="label">社員</span>
        <i-select v-model="opts.serchEmpId" @on-change="getTableData(false, true)" transfer>
          <i-option value="全て" label="全て"></i-option>
          <i-option v-for="(item, i) of empList" :value="item.empid" :label="item.empname"></i-option>
        </i-select> -->
      </div>
    </div>
    <div class="content_body">
      <div class="table-top">
        <Row :gutter="16">
          <i-col span="13" offset="11" class="tr">
            <i-select v-model="opts.statusFlg" class="mr15 width25" @on-change="getTableData()"
              style="display: inline-block" transfer>
              <i-option label="全て" :value="0"></i-option>
              <i-option v-for="(item, i) of statusList" :key="i" :label="item.stutasName" :value="item.stutasId">
              </i-option>
            </i-select>
            <Page :total="pageValue.amount" :current="pageValue.curPage" show-total style="display: inline"
              :page-size="pageValue.curSize" @on-change="pageChange" ref="Page" />
          </i-col>
        </Row>
      </div>
      <i-table :class="tableHeadFixed ? 'table-head-fixed' : ''" border :columns="columns" :disabled-hover="true"
        :data="tableData" :loading="loading">
        <template slot-scope="{ row }" slot="dateList">
          <span>{{handleApplyDayShow(row.tntfDbegin, row.tntfDend) }}</span>
        </template>

        <template slot-scope="{ row }" slot="otherOne">
          <span v-if="row.tntfCemployeeid !== row.tntfCalteremployeeid" class="confirm-sytle ing">代</span>
        </template>

        <template slot-scope="{ row }" slot="nextAdmin" v-if="row.ntfapprover">
          <Tooltip placement="bottom" class="width100" transfer>
            <span style="white-space: normal;" slot="content">{{ row.ntfapprover.join(', ') }}</span>
            <span class="ivu-table-cell-tooltip-content">{{ row.ntfapprover.join(', ') }}</span>
          </Tooltip>
        </template>

        <template slot-scope="{ row }" slot="more">
          <i-button class="width100" type="success" ghost size="small" @click="showDetails(row)">詳細
          </i-button>
        </template>

        <template slot-scope="{ row }" slot="status">
          <span v-if="row.tntfCstatusflg.indexOf('0') > -1" class="confirm-sytle">取</span>
          <span v-if="row.tntfCstatusflg.indexOf('2') > -1" class="confirm-sytle ing">待</span>
          <span v-if="row.tntfCstatusflg.indexOf('3') > -1" class="confirm-sytle undo">差</span>
          <span v-if="row.tntfCstatusflg.indexOf('5') > -1" class="confirm-sytle">済</span>
          <span v-if="row.tntfCstatusflg.indexOf('9') > -1" class="confirm-sytle undo">エ</span>
        </template>
      </i-table>
      <!-- 详细以及承认申请的panel start -->
      <Drawer class="tc" title="休暇・休業承認" placement="right" width="700" :closable="false"
        :mask-closable="!isSearchHistory" v-model="detailDrawShow">
        <!-- <div class="titlenorm mb5">
          <Icon type="logo-buffer"></Icon>
          所属
        </div>
        <Row class="tl mb5">
          <i-col span="4" class="label tc" style="height: 32px;">基準日</i-col>
          <i-col span="7" class="no-border-radius">
            <date-picker type="date" :value="referListObject.txtTmgReferListTreeViewRecordDate" placeholder="基準日"
              format="yyyy/MM/dd" ref="datePicker" @on-change="handleDeptDateChange"></date-picker>
          </i-col>
        </Row>

        <div style="position: relative;">
          <Tree class="tree mt2" :data="treeData" v-on:on-select-change="handleClickLeaf" ref="tree"
            empty-text="所属データなし"></Tree>
          <Spin size="large" fix v-if="empDeptLoading"></Spin>
        </div> -->
      </Drawer>
      <!-- 详细以及承认申请的panel end -->
    </div>
    <span class="toTopBtn" @click="toTop" v-show="isScroll">
      <Icon size="24" type="md-arrow-round-up" />
    </span>
  </main>
  <div th:replace="layout/script::common_script"></div>
  <script type="text/babel" th:inline="javascript">
    const REST_APPLY_CONFIRM_W = new Vue({
      el: '.restapplyconfirmw-warp',
      data() {
        return {
          columns: [
            {
              title: '申請者',
              key: 'tntfCemployeeidName',
              align: 'right',
              minWidth: 100,
              maxWidth: 200
            },
            {
              title: '代理申請',
              slot: 'otherOne',
              align: 'center',
              width: 80
            },
            {
              title: '申請区分',
              key: 'tntfCtype',
              tooltip: true,
              align: 'center',
              minWidth: 105,
              maxWidth: 200
            },
            {
              title: '対象期間',
              slot: 'dateList',
              align: 'center',
              minWidth: 190,
              maxWidth: 200
            },
            {
              title: '次の承認者',
              slot: 'nextAdmin',
              align: 'center',
              minWidth: 150
            },
            {
              title: '申請理由',
              key: 'tntfCowncomment',
              tooltip: true,
              minWidth: 100
            },
            {
              title: '申請日時',
              key: 'tntfDnotification',
              align: 'center',
              minWidth: 50,
              maxWidth: 160
            },
            {
              title: '最終更新日',
              key: 'tntfDmodifieddate',
              align: 'center',
              minWidth: 50,
              maxWidth: 160
            },
            {
              title: '状態',
              slot: 'status',
              align: 'center',
              width: 45
            },
            {
              title: '詳細',
              slot: 'more',
              align: 'center',
              width: 80
            },
            {
              type: 'selection',
              width: 50,
              align: 'center'
            }
          ],
          loading: false,
          tableData: [],
          pageValue: {
            amount: 0,
            curPage: 1,
            curSize: 50
          },
          opts: {
            ntfTypeId: '',
            statusFlg: 0,
            year: 2020,
            serchEmpId: '全て',
            page: 1
          },
          curYear: new Date(),
          empList: [],
          statusList: [],
          detailDrawShow: false,
          restInfoLoading: false,
          empDeptLoading: false,  // 組織ツリーloading用
          deptDrawShow: false,    //組織ツリー用
          treeData: [],            //組織ツリー用
          isSearchHistory: false,
          empTreeData: [],        //組織ツリー用
          restInfoList:false,
          deptName: '選んでください',   //選択した職員の所属
          referListObject: {       //組織ツリー共通
            txtTmgReferListTreeViewRecordDate: '',
            txtTmgReferListTreeViewAdminTargetSection: '',
            txtTmgReferListTreeViewAdminTargetGroup: '',
            txtTmgReferListTreeViewAdminTargetEmp: '',
            psSite: Utils.getUrlParam(location.href, 'psSite'),
            psApp: Utils.getUrlParam(location.href, 'psApp'),
            type: 21
          },
          contentScrollTop: 0,
          isScroll: false,
        }
      },
      async mounted() {
        this.getOrgTree()
        this.getStatusList()
      },
      computed: {
        tableHeadFixed() {
          if (this.contentScrollTop > 230) return true
          else return false
        },
      },
      methods: {
        getTableData: Debounce(async function (isInit, resetPage) {
          try {
            this.loading = true
            let OPTS = { ...this.opts, ...this.referListObject }
            if (this.opts.statusFlg === 0) {
              OPTS.statusFlg = ''
            }
            if (OPTS.serchEmpId === '全て') {
              OPTS.serchEmpId = ''
            }
            // 点击非换页请求时需要将页数重置为1
            if (resetPage) {
              OPTS.page = 1
              this.pageValue.curPage = 1
            }
            const { data } = await this.http.get('sys/vapply/NotificationList', OPTS)
            this.tableData = data.list
            this.pageValue.amount = data.totalCount
            if (!isInit) this.$Message.success('再表示完了')
            this.amount = data.totalCount || 2
          } catch (error) {
            return
          } finally {
            this.loading = false
          }
        }),
        async getOrgTree() {
          this.empDeptLoading = true
          try {
            const { orgList, recordDate } = await this.http.get('sys/tree', this.referListObject)
            // 先将数据转为标准格式，再转为可用数据
            this.treeData = Utils.convertTreeData(orgList)
            this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
          } catch (error) {
            return
          } finally {
            this.loading = false
            this.empDeptLoading = false
          }
        },
        async getStatusList() {
          const { data } = await this.http.get('sys/vapply/StatusFlg', this.opts)
          this.statusList = data
        },
        async handleDeptDateChange(e) {
          this.referListObject.txtTmgReferListTreeViewRecordDate = e
          this.isSearchHistory = true
          await this.getOrgTree()
          this.$Notice.warning({ title: '所属図更新完了', desc: "下記の所属リストから対象を選んでください" })
        },
        async handleClickLeaf(e) {
          if (!e[0]) return
          this.deptDrawShow = false
          this.referListObject.txtTmgReferListTreeViewAdminTargetSection = e[0].secid
          this.deptName = e[0].secnic
          // 点击部署时需要将员工重置为全部
          this.opts.serchEmpId = '全て'
          this.getTableData(false, true)
          this.getEmplist()
        },
        async getEmplist() {
          const { data } = await this.http.get('sys/vapply/EmployeeList', this.referListObject)
          this.empList = data
        },
        async showDetails(row) {
          this.getDetails(row.tntfCntfNo)
          this.getRestInfo(row.tntfCemployeeid)
          this.detailDrawShow = true
        },
        async getDetails(id) {
          const { data } = await this.http.get('sys/vapply/NotificationDetail', { ntfNo: id })
          console.log(data)
        },
        // 左边的年休残
        async getRestInfo(id) {
          this.restInfoLoading = true
          let OPTS = { ...this.referListObject }
          OPTS.txtTmgReferListTreeViewAdminTargetEmp = id
          try {
            const { data } = await this.http.get('sys/vapply/RestYearList', OPTS)
            this.restInfoList = data
          } catch (error) {
            return
          } finally {
            this.restInfoLoading = false
          }
        },
        handleDatePicker(e) {
          this.opts.year = +e
          this.getTableData(false, true)
        },
        handleApplyDayShow(begin, end) {
          if (begin === end) return begin
          else return `${begin} ～ ${end}`
        },
        handleScroll: Throttle(function (e) {
          this.contentScrollTop = e.target.scrollTop
          if (e.target.scrollTop > 200) {
            this.isScroll = true
          } else {
            this.isScroll = false
          }
        }, 50),
        toTop() {
          const animateMachine = requestAnimationFrame(this.toTop)
          this.$refs.layout.scrollTop = this.$refs.layout.scrollTop - this.$refs.layout.scrollTop / 5
          if (this.$refs.layout.scrollTop === 0) {
            cancelAnimationFrame(animateMachine)
          }
        },
        confirm() { },
        pageChange(e) {
          this.opts.page = e
          this.pageValue.curPage = e
          this.getTableData()
        },
        preMonth() {
        },
        nextMonth() {
        },
        currentMonth() { },
      }
    })
  </script>
</body>

</html>