<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head
        th:replace="layout/header::common_header(title='年次休暇管理',cssPaths='/pages/content.min.css,' + '/pages/vacation.min.css')">
</head>

<body>
<div th:replace="layout/loadingBar::loadingBar"></div>
<main class="content vaction-warp">
    <div class="content_head">
        <div class="header">
            <div class="title1">
                <h1>
                    <Icon type="i-happytime colored"></Icon>
                    年次休暇管理
                </h1>
            </div>
            <div class="btnbox">
                <div style="height:40px;margin:2px"></div>
            </div>
        </div>
        <div class="searchwrap">
            <!-- 共通組織図画面 start-->
            <span style="display:flex;width: calc(15% + 200px);">
                    <span class="label">所属</span>
                    <i-button v-on:click.native="deptDrawShow = true" class="input-like-span mr30 cursor grey"
                              style="width: calc(100% - 120px);border-radius:0">
                        {{ deptName }}
                    </i-button>
                    <Drawer class="tc" title="所属を選択してください" placement="right" width="700" :closable="false"
                            :mask-closable="!isSearchHistory"
                            v-model="deptDrawShow">
                        <div class="titlenorm mb5">
                            <Icon type="logo-buffer"></Icon>
                            所属
                        </div>
                        <Row class="tl mb5">
                            <i-col span="4" class="label tc" style="height: 32px;">基準日</i-col>
                            <i-col span="7" class="no-border-radius">
                            <date-picker type="date" :value="referListObject.txtTmgReferListTreeViewRecordDate"
                                         placeholder="基準日" format="yyyy/MM/dd" ref="datePicker"
                                         @on-change="handleDeptDateChange"></date-picker>
                            </i-col>
                        </Row>
                        <div style="position: relative;">
                            <Tree class="tree mt2" :data="treeData" v-on:on-select-change="handleClickLeaf" ref="tree"
                                  empty-text="所属データなし"></Tree>
                            <Spin size="large" fix v-if="empDeptLoading"></Spin>
                        </div>
                    </Drawer>
                </span>
            <!-- 共通組織図画面 end-->
            <span style="flex:1"></span>
        </div>
    </div>
    <div class="content_body">
        <i-table @on-row-click="showDay(arguments)" no-data-text="所属を選択して下さい。" border :columns="columns"
                 :row-class-name="() => 'select-col'" :disabled-hover="true" :data="data" :loading="loading">
            <template slot-scope="{ row }" slot="investDaysSum">
                <span>{{ row.investDaysSum | addNumDeci(true) }}</span>
            </template>

            <template slot-scope="{ row }" slot="investHours">
                <span>{{ row.investHours | addNumDeci }}</span>
            </template>

            <template slot-scope="{ row }" slot="throughoutDaysSum">
                <span>{{ row.throughoutDaysSum | addNumDeci(true)  }}</span>
            </template>

            <template slot-scope="{ row }" slot="throughoutHoursSum">
                <span>{{ row.throughoutHoursSum | addNumDeci }}</span>
            </template>
        </i-table>
    </div>

    <!--        <FormDrawer-->
    <!--                :isAdmin="true"-->
    <!--                title=""-->
    <!--                :isShow="isShow"-->
    <!--                @close="() => (this.isShow = false)">-->
    <!--        </FormDrawer>-->
    <Drawer :title="title" width="1000" v-model="paidHolidayInitRList" draggable>
        <div class="content_head">
            <div class="header">
                <div class="title1">
                    <h1>
                        <Icon type="i-happytime colored"></Icon>
                        年次休暇管理
                    </h1>
                </div>
                <div class="btnbox">
                    <div style="height:40px;margin:2px"></div>
                </div>
            </div>
        </div>
        <div class="content_body">
            <Row>
                <i-col span="6" class="label tc">所属</i-col>
                <i-col span="9">
                    <span class="input-like-span">{{ deptName }}</span>
                </i-col>
            </Row>

            <Row>
                <i-col span="6" class="label tc">氏名</i-col>
                <i-col span="9">
                    <span class="input-like-span">{{ name }}</span>
                </i-col>
            </Row>

            <Row>
                <i-col span="6" class="label tc">種別</i-col>
                <i-col span="9">
                    <span class="input-like-span">{{ workertypenm }}</span>
                </i-col>
            </Row>

            <Row :gutter="10" class="mt20 mb10">
                <i-col span="16">
                    <div class="label tc">発令</div>
                    <div class="tl">
                        <div class="person-info">
                            <span class="time">2009/03/01～2009/05/31</span>
                            <span class="with-split">短時間勤務</span>
                        </div>
                        <div class="person-info">
                            <span class="time">2010/04/01～</span>
                            <span class="with-split">復帰支援</span>
                        </div>
                    </div>
                </i-col>
                <i-col span="8">
                    <div class="label tc">変形労働</div>
                    <div class="person-info tc">2023/03/01～2025/07/31</div>
                </i-col>
            </Row>
            <div style="position: relative;">
                <Row :gutter="10" class="mt20 mb10">
                    <i-col span="12" >
                        <div class="titlenorm">
                            <Icon type="logo-buffer"></Icon>
                            今期付与情報
                        </div>
                        <Row>
                            <i-col span="6" class="label tc">付与期間</i-col>
                            <i-col span="18">
                                <span class="input-like-span">{{dataDetail.dyyyymmdd}} ～ {{dataDetail.dyyyymmddEnd}} </span>
                            </i-col>
                        </Row>

                        <i-table border :columns="columns3" :data="paidNowData" :span-method="handleSpan" class="mt2">
                            <template slot-scope="{ row }" slot="days">
                                <i-input v-model="row.days" v-if="row.isEditable"></i-input>
                                <p v-else>{{ row.days| addNumDeci(true) }}</p>
                            </template>

                            <template slot-scope="{ row }" slot="times">
                                <i-input v-model="row.times" v-if="row.isEditable" ></i-input>
                                <p v-else>{{ row.times| addNumDeci(true) }}</p>
                            </template>

                            <template slot-scope="{ row }" slot="expiryDate">
                                <date-picker type="date" class="mar" :value="row.expiryDate"
                                             format="yyyy/MM/dd" ref="datePicker" v-if="row.isEditable" :editable = "false" ></date-picker>
<!--                                 <i-input v-model="row.expiryDate" v-if="row.isEditable"></i-input>-->
                                <p v-else>{{ row.expiryDate }}</p>
                            </template>
                        </i-table>
                    </i-col>
                    <i-col span="12">
                        <div class="titlenorm">
                            <Icon type="logo-buffer"></Icon>
                            前年度勤務実績
                        </div>
                        <Row>
                            <i-col span="10" class="label tc">予定勤務日数</i-col>
                            <i-col span="14">
                                <span class="input-like-span">{{dataDetail.nplanworkday}}</span>
                            </i-col>
                            <i-col span="10" class="label tc" style="white-space:pre-line">{{ `実勤務日数\n(付与に必要な日数)` }}
                            </i-col>
                            <i-col span="14">
                              <span class="input-like-span" style="white-space:pre-line;height:51px;line-height:10px">
                                  {{ dataDetail.nconfirm}}{{'\n\n'}}({{dataDetail.nplanworkdayLimit}})
                                  <!--                                {{ `240\n\n(101)` }}-->
                              </span>
                            </i-col>
                        </Row>
                        <div class="titlenorm mt10">
                            <Icon type="logo-buffer"></Icon>
                            今期付与の基礎情報
                        </div>
                        <Row>
                            <i-col span="10" class="label tc">予定勤務パターン</i-col>
                            <i-col span="14">
                                <span class="input-like-span" style="font-size: 12px;">{{dataDetail.cworkingdaysWeekName}}</span>
                            </i-col>
                            <i-col span="10" class="label tc">勤務開始日</i-col>
                            <i-col span="14">
                                <span class="input-like-span">{{dataDetail.dbegindateWork}}</span>
                            </i-col>
                            <i-col span="10" class="label tc">1日の換算時間数</i-col>
                            <i-col span="14">
                                <span class="input-like-span">{{dataDetail.navgworktimeDisp}}</span>
                            </i-col>
                        </Row>
                        <div class="titlenorm mt10">
                            <Icon type="logo-buffer"></Icon>
                            変更者コメント
                        </div>
                        <!--                        :autosize="{ miFnRows: 2, maxRows: 5 }"-->
                        <i-input type="textarea" :rows="3" :value ="dataDetail.ccomment"></i-input>
                    </i-col>
                </Row>
                <Spin size="large" fix v-if="paidDetailsLoading"></Spin>
            </div>

            <div class="tr mb10">
                <i-button type="primary" ghost class="mr15" @click="calculation">計算</i-button>
                <i-button type="primary" ghost class="mr15" @click="clear">クリア</i-button>
                <i-button type="success" ghost class="mr15">登録</i-button>
            </div>
            <div class="titlenorm mb10">
                <Icon type="logo-buffer"></Icon>
                年次休暇付与状況
            </div>
            <i-table @on-row-click="showDayList(arguments)" :row-class-name="() => 'select-col'"
                     border :columns="paidDetailsColumns" :data="paidDetailsData" :loading="paidNowLoading">
            </i-table>
        </div>
    </Drawer>
</main>
<div th:replace="layout/script::common_script"></div>
<script type="text/babel" th:inline="javascript">
    const VACATION = new Vue({
        el: '.vaction-warp',
        data() {
            return {
                columns: [
                    {
                        title: '氏名',
                        key: 'name',
                        align: 'right'
                    },
                    {
                        title: '種別',
                        key: 'workertypenm',
                        minWidth: 250,
                        align: 'left'
                    },
                    {
                        title: '年次休暇付与日',
                        key: 'tphDyyyymmdd',
                        align: 'center'
                    },
                    {
                        title: '年次休暇付与',
                        children: [
                            {
                                title: '日数',
                                slot: 'investDaysSum',
                                align: 'center'
                            },
                            {
                                title: '時間数',
                                slot: 'investHours',
                                align: 'center'
                            }
                        ]
                    },
                    {
                        title: '年次休暇繰越',
                        children: [
                            {
                                title: '日数',
                                slot: 'throughoutDaysSum',
                                align: 'center'
                            },
                            {
                                title: '時間数',
                                slot: 'throughoutHoursSum',
                                align: 'center'
                            }
                        ]
                    }
                ],
                paidDetailsLoading: false,
                columns3: [
                    {
                        title: ' ',
                        key: 'name',
                        align: 'center'
                    },
                    {
                        title: '日数',
                        slot: 'days',
                        align: 'center'
                    },
                    {
                        title: '時間数',
                        slot: 'times',
                        align: 'center'
                    },
                    {
                        title: '有効期限',
                        align: 'center',
                        width: 135,
                        slot: 'expiryDate'
                    }
                ],
                data: [],
                loading: false,
                referListObject: {
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]: '',
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_EMP }]]: '',
                    [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp'),
                    type: 31
                },
                paidDetailsColumns: [
                    {
                        title: '年次休暇付与日',
                        key: 'dyyyymmdd',
                        align: 'center'
                    },
                    {
                        title: '今期付与日数',
                        key: 'ninvest',
                        align: 'center'
                    },
                    {
                        title: '調整付与',
                        children: [
                            {
                                title: '日数',
                                key: 'nadjust',
                                align: 'center'
                            },
                            {
                                title: '時間数',
                                key: 'nadjustHours',
                                align: 'center'
                            }
                        ]
                    },
                    {
                        title: '前期繰越',
                        children: [
                            {
                                title: '日数',
                                key: 'nthroughout',
                                align: 'center'
                            },
                            {
                                title: '時間数',
                                key: 'nthroughoutHours',
                                align: 'center'
                            }
                        ]
                    },
                    {
                        title: '調整繰越',
                        children: [
                            {
                                title: '日数',
                                key: 'nadjustTo',
                                align: 'center'
                            },
                            {
                                title: '時間数',
                                key: 'nadjustHoursTo',
                                align: 'center'
                            }
                        ]
                    },
                    {
                        title: '合計',
                        children: [
                            {
                                title: '日数',
                                key: 'ninvestDays',
                                align: 'center'
                            },
                            {
                                title: '時間数',
                                key: 'ninvestHours',
                                align: 'center'
                            }
                        ]
                    }
                ],
                paidNowLoading: false,

                paidDetailsData: [],


                isSearchHistory: false,
                empDeptLoading: false,
                deptDrawShow: false,
                treeData: [],
                deptName: '選んでください',
                paidHolidayInitRList: false,
                isShow: false,
                title: '',
                name: '',
                workertypenm: '',
                param: {
                    txtDate: '',
                    txtUserCode: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp'),
                    type: 31
                },
                dataDetailBack: [],
                dataDetail: {
                    dyyyymmdd: '',
                    dyyyymmddEnd: '',
                    ninvest: '',
                    nthroughout: '',
                    nthroughoutHours: '',
                    nadjust: '',
                    nadjustHours: '',
                    nadjustTo: '',
                    nadjustHoursTo: '',
                    ninvestDays: '',
                    ninvestHours: '',
                    nconfirm: '',
                    nplanworkday: '',
                    nplanworkdayLimit: '',
                    npaidUsedDays: '',
                    npaidUsedHours: '',
                    npaidRestDays: '',
                    npaidRestHours: '',
                    dbegindateWork: '',
                    cworkingdaysWeekName: '',
                    navgworktimeCalc: '',
                    navgworktimeDisp: '',
                    dexpireInvest: '',
                    dexpireAdjust: '',
                    dexpireAdjustTo: '',
                    nloseDays: '',
                    nloseHours: '',
                    ccomment: ''
                }
            }
        },
        computed: {
            paidNowData() {
                return [
                    {
                        name: '今期付与',
                        days: this.dataDetail.ninvest,
                        times: '',
                        cellClassName: {name: 'rest-title'},
                        expiryDate: this.dataDetail.dexpireInvest
                    },
                    {
                        name: '前期繰越',
                        days: this.dataDetail.nthroughout,
                        cellClassName: {name: 'rest-title'},
                        times: this.dataDetail.nthroughoutHours
                    },
                    {
                        name: '喪失',
                        cellClassName: {name: 'rest-title'},
                        days: this.dataDetail.nloseDays,
                        times: this.dataDetail.nloseHours
                    },
                    {
                        name: '調整付与',
                        days: this.dataDetail.nadjust,
                        cellClassName: {name: 'rest-title'},
                        isEditable: true,
                        times: this.dataDetail.nadjustHours,
                        expiryDate: this.dataDetail.dexpireAdjust
                    },
                    {
                        name: '調整繰越',
                        days: this.dataDetail.nadjustTo,
                        cellClassName: {name: 'rest-title'},
                        isEditable: true,
                        times: this.dataDetail.nadjustHoursTo,
                        expiryDate: this.dataDetail.dexpireAdjustTo
                    },
                    {
                        name: '合計付与',
                        days: this.dataDetail.ninvestDays,
                        cellClassName: {name: 'rest-title'},
                        times: this.dataDetail.ninvestHours
                    },
                    {
                        name: '今期取得/残情報',
                        cellClassName: {name: 'rest-title'}
                    },
                    {
                        name: '今期取得',
                        cellClassName: {name: 'rest-title'},
                        days: this.dataDetail.npaidUsedDays,
                        times: this.dataDetail.npaidUsedHours
                    },
                    {
                        name: '今期残',
                        cellClassName: {name: 'rest-title'},
                        days: this.dataDetail.npaidRestDays,
                        times: this.dataDetail.npaidRestHours
                    }
                ]
            }
        },
        mounted() {
            console.log([[${ session }]])
            this.getOrgTree()
        },
        methods: {
            async getTableData() {
                try {
                    this.loading = true
                    const {data} = await this.http.get('sys/paidholiday/list', this.referListObject)
                    this.data = data
                } catch (error) {
                    return
                } finally {
                    this.loading = false
                    this.isSearchHistory = false
                }
            },
            async getOrgTree() {
                this.empDeptLoading = true
                try {
                    const {orgList, recordDate} = await this.http.get('sys/tree', this.referListObject)
                    // 先将数据转为标准格式，再转为可用数据
                    this.treeData = Utils.convertTreeData(orgList)
                    const date = [[${ TREEVIEW_KEY_RECORD_DATE }]]
                    this.referListObject[date] = recordDate
                } catch (error) {
                    return
                } finally {
                    this.loading = false
                    this.empDeptLoading = false
                }
            },
            showDay(e) {
                this.dataDetail = ''

                this.paidHolidayInitRList = true
                console.log(e)
                this.name = e[0].name
                this.workertypenm = e[0].workertypenm
                this.cemployeeid = e[0].tphCemployeeid
                this.getDetail(e[0].tphDyyyymmdd, e[0].tphCemployeeid)
                this.getDetailList(e[0].tphDyyyymmdd, e[0].tphCemployeeid)

            },
            async showDayList(e) {
                this.dataDetail =''
                this.paidDetailsLoading = true
                await this
                this.dataDetail = e[0]
                this.dataDetailBack = e[0]
                this.paidDetailsLoading = false

            },
            async handleDeptDateChange(e) {
                const date = [[${ TREEVIEW_KEY_RECORD_DATE }]]
                this.referListObject[date] = e
                this.isSearchHistory = true
                await this.getOrgTree()
                this.$Notice.warning({title: '所属図更新完了', desc: "下記の所属リストから対象を選んでください"})
            },
            async handleClickLeaf(e) {
                this.deptDrawShow = false
                const section = [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]
                this.referListObject[section] = e[0].secid
                this.deptName = e[0].secnic
                this.getTableData()
            },
            handleSpan({rowIndex, columnIndex}) {
                if (rowIndex === 6 && columnIndex === 0) {
                    return [1, 4]
                } else if (
                    (rowIndex === 6 && columnIndex === 3) ||
                    (rowIndex === 6 && columnIndex === 2) ||
                    (rowIndex === 6 && columnIndex === 1)
                ) {
                    return [0, 0]
                }
            },
            async getDetail(tphDyyyymmdd, tphCemployeeid) {
                this.paidDetailsLoading = true
                try {
                    this.param.txtDate = tphDyyyymmdd
                    this.param.txtUserCode = tphCemployeeid
                    const {data} = await this.http.get('sys/paidholiday/detail', this.param)
                    console.log(data)
                    this.dataDetail = data
                    this.dataDetailBack = data

                } catch (error) {
                    return
                } finally {
                    this.paidDetailsLoading = false
                }

            },
            async getDetailList(tphDyyyymmdd, tphCemployeeid) {
                try {
                    this.param.txtDate = tphDyyyymmdd
                    this.param.txtUserCode = tphCemployeeid
                    const {data} = await this.http.get('sys/paidholiday/detailList', this.param)
                    this.paidDetailsData = data

                } catch (error) {
                    return
                } finally {

                }
            },
            async clear() {

                this.dataDetail =''

                this.paidDetailsLoading = true

                await this
                 this.dataDetail = this.dataDetailBack
                this.paidDetailsLoading = false
            },
            async calculation() {

                this.paidDetailsLoading = true
                console.log(this.dataDetail.nadjust)
                console.log(this.dataDetail.nadjustTo)

                await this
               this.dataDetail.ninvestDays= parseInt(this.dataDetail.ninvest)
                   +  parseInt(this.dataDetail.nthroughout)
                   + parseInt(this.dataDetail.nadjust)
                   + parseInt(this.dataDetail.nadjustTo)

               this.dataDetail.ninvestHours= parseInt(this.dataDetail.ninvestHours)+11

                this.paidDetailsLoading = false
            }
        }
    })
</script>
</body>

</html>