<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header::common_header(title='部署別統計情報',cssPaths='/pages/content.min.css')">
</head>

<body>
<div th:replace="layout/loadingBar::loadingBar"></div>
<!-- 菜单导航栏 -->
<div th:replace="layout/sider"></div>
<main class="content deptstatlist-warp" ref="layout">
    <div class="content_head">
        <div class="header">
            <div class="title1">
                <h1>
                    <Icon type="i-emeer colored"></Icon>
                    {{  '部署別統計情報' }}
                </h1>
            </div>
        </div>
        <div class="searchwrap">
            <span class="label">年月</span>
            <i-select v-model="model1" :disabled="!selectDisabled" class="mr30" @on-change="handleStartMonth($event)"
                      placeholder="選択ください">
                <i-option v-for="(item, index) of dispMonthlyList" :key="index" :label="item.val" :value="item.val">
                </i-option>
            </i-select>
            <span style="display:flex;width: calc(15% + 200px);">
                    <span class="label">所属</span>
                    <i-button v-on:click.native="deptDrawShow = true" class="input-like-span mr30 cursor grey"
                              style="width: calc(100% - 120px);border-radius:0">
                        {{ deptName }}
                    </i-button>
                    <Drawer class="tc" title="所属を選択してください" placement="right" width="700" :closable="false"
                            :mask-closable="!isSearchHistory" v-model="deptDrawShow">
                        <div class="titlenorm mt15">
                            <Icon type="logo-buffer"></Icon>
                            所属
                        </div>
                        <Row class="tl">
                            <i-col span="8" class="label tc" style="height: 32px;">基準日</i-col>
                            <i-col span="8" class="no-border-radius">
                            <date-picker type="date" :value="referListObject.txtTmgReferListTreeViewRecordDate"
                                         class="mb5" placeholder="日付け" format="yyyy/MM/dd" ref="datePicker"
                                         @on-change="handleDeptDateChange"></date-picker>
                            </i-col>
                        </Row>
                        <div style="position: relative;">
                            <Tree class="tree mt2" :data="treeData" v-on:on-select-change="handleClickLeaf" ref="tree"
                                  empty-text="所属データなし"></Tree>
                            <Spin size="large" fix v-if="empDeptLoading"></Spin>
                        </div>
                    </Drawer>
                </span>
            <span style="flex:1"></span>
            <span v-show="tableData2.length > 0">
                <i-button type="primary" @click="download" >ダウンロード</i-button>
            </span>
        </div>
    </div>
    <div class="content_body">
        <div class="titlenorm mb10 mt10" style="font-size:15px">
            <Icon type="logo-buffer"></Icon>
            統計情報
        </div>
        <div >
            <i-table :class="tableHeadFixed ? 'table-head-fixed long-table' : 'long-table'" border ref="selection" :columns="columns2" :data="tableData" :disabled-hover="true" :loading="loading" no-data-text="教職員が存在している所属を選択して下さい。">
                <template slot-scope="{ row }" slot="EMPNAME"><span>{{ row.EMPNAME }}</span></template>
                <template v-for="item of slotList" slot-scope="{ row }" :slot="item"><span>{{ row[item] }}</span></template>
            </i-table>
        </div>
        <div class="titlenorm mb10 mt10" style="font-size:15px" v-show="tableData2.length > 0">
            <Icon type="logo-buffer"></Icon>
            個人別情報
        </div>
        <div v-show="tableData2.length > 0">
          <i-table :show-header="false" class="long-table"  border ref="selection" :columns="columns2" :data="tableData2"
                 :disabled-hover="true" :loading="loading" no-data-text="教職員が存在している所属を選択して下さい。">
            <template slot-scope="{ row }" slot="EMPNAME"><span>{{row.EMPNAME}}</span></template>
            <template v-for="item of slotList2" slot-scope="{ row }" :slot="item"><span>{{row[item]}}</span></template>
          </i-table>
        </div>
    </div>
    <back-top></back-top>
</main>

<div th:replace="layout/head::header"></div>
<script type="text/babel" th:inline="javascript">
    const DEPT_STATLIST = new Vue({
        el: '.deptstatlist-warp',
        data() {
            return {
                contentScrollTop: 0,
                tableHead: [],
                tableData: [],
                slotList: Utils.getNumArray(1, 40).map(e => `COL${e}`),
                slotList2: Utils.getNumArray(1, 40).map(e => `COL${e}`),
                dailyShow: true,
                isShow: false,
                loading: false,
                emplistLoading: false,
                referListObject: {
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_SECTION }]]: '',
                    [[${ TREEVIEW_KEY_ADMIN_TARGET_EMP }]]: '',
                    [[${ TREEVIEW_KEY_RECORD_DATE }]]: '',
                    [[${ TREEVIEW_KEY_REFRESH_FLG }]]: '',
                    txtTmgReferListTreeViewRecordDate: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp'),
                    type: 31
                },
                empTreeData: [],
                deptName: '選んでください',
                query: {
                    txtAction: 'ACT_Disp_RList',
                    txtDYYYYMM: '',
                    txtTDA_DYYYYMM: '',
                    page: '1',
                    txtDYYYYMMDD: '',
                    txtTmgReferListTreeViewRecordDate: '',
                    txtTmgReferListTreeViewAdminTargetSection: '',
                    psSite: Utils.getUrlParam(location.href, 'psSite'),
                    psApp: Utils.getUrlParam(location.href, 'psApp')
                },
                empDeptLoading: false,
                deptDrawShow: false,
                treeData: [],
                selectDisabled: false,   　//年月選択可否制御
                dispMonthlyList: [],       //年月リスト
                model1: '',
                approval: false,
                drawApproval: false,

                title: '',
                fullName: '',
                tableHead2: [],
                tableData2: [],
                isSearchHistory: false
            }
        },
        async mounted() {
            this.getOrgTree()
            window.addEventListener('scroll',this.handleScroll,{ passive: true })
        },
        beforeDestroy() {
            window.removeEventListener('scroll',this.handleScroll,{ passive: true })
        },
        computed: {
            tableHeadFixed() {
                if (this.contentScrollTop > 215) return true
                else return false
            },
            columns() {
                let result = [
                    {
                        title: ' ',
                        slot: 'EMPNAME',
                        minWidth: 100,
                        align: 'center'
                    }
                ]
                const that = this
                const turnLine = Vue.filter('turnLine')
                this.tableHead2.forEach((e, i) => {
                    result = result.concat({
                        title: turnLine(e.title),
                        minWidth: 25,
                        slot: `COL${i + 1}`,
                        align: 'center'
                    })
                })
                return result
            },
            columns2() {
                let result = [
                    {
                        title: this.fullName,
                        slot: 'EMPNAME',
                        minWidth: 100,
                        align: 'center'
                    }
                ]
                const that = this
                const turnLine = Vue.filter('turnLine')
                this.tableHead2.forEach((e, i) => {
                    result = result.concat({
                        title: turnLine(e.title),
                        minWidth: 25,
                        slot: `COL${i + 1}`,
                        align: 'center'
                    })
                })
                return result
            }
        },
        methods: {
            async getWorkDateList() {
                this.query.txtAction = 'ACT_Disp_RList'
                const { data } = await this.http.get('sys/deptStatList/workDateList', this.query)
                this.dispMonthlyList = data

                if (data.length > 0){
                    this.model1 = data[0].val

                    let result = this.model1.replace("年","/")
                    result = result.replace("月","/")
                    result = result + "01"
                    this.query.txtTDA_DYYYYMM = result
                    this.query.txtDYYYYMM = result

                    //年月リストを取得する時に、活性化にする
                    this.selectDisabled = true
                }

                //年月リスト.lengthがゼロ場合、非活性化にする
                if (data.length === 0){
                    this.model1 = ''
                    this.selectDisabled = false
                }
            },
             async getTableData() {
                 this.tableData2 = []
                 this.loading = true
                const { data } = await this.http.get('sys/deptStatList/executeDispStatList', this.query)

                this.fullName = data.dispItemsList.slice(0,1)[0].title
                console.log("getTableData")
                this.tableHead2 = data.dispItemsList.slice(1)
                this.tableData2 = data.employyesMap

                if (data.sectionMap.CNT === 0){
                     this.tableData = []
                 } else {
                     this.tableData = [data.sectionMap]
                 }
                 this.isSearchHistory = false
                 this.loading = false
            },
            async getOrgTree(refreshDept) {
                this.empDeptLoading = true
                try {
                    const { orgList, recordDate } = await this.http.get('sys/tree', this.referListObject)
                    // 先将数据转为标准格式，再转为可用数据
                    this.treeData = Utils.convertTreeData(orgList)
                    this.referListObject.txtTmgReferListTreeViewRecordDate = recordDate
                } catch (error) {
                    return
                } finally {
                    this.loading = false
                    this.empDeptLoading = false
                }
            },
            async handleDeptDateChange(e) {
                this.referListObject.txtTmgReferListTreeViewRecordDate = e
                this.isSearchHistory = true
                await this.getOrgTree()
                this.$Notice.warning({ title: '所属図更新完了', desc: "下記の所属リストから対象を選んでください" })
            },
             rowClass(row) {
                // 表格变色
                if (!row.dayDivisionCode || row.dayDivisionCode === '1') {
                    return ''
                }
                return 'sat'
            },
            handleScroll: Throttle(function (e) {
                this.contentScrollTop = e.target.documentElement.scrollTop || e.target.body.scrollTop
            }, 50),
            showDay: Debounce(function () {
                this.isShow = true
            }),
            convertTreeData(treeData = []) {
                return treeData.map(e => {
                    const children = e.child || e.children
                    if (children) {
                        return {
                            ...e.data,
                            title: e.data.label,
                            // 前两层级默认展开方便查看
                            expand: e.data.level < 2 || !e.data.level,
                            children: this.convertTreeData(children)
                        }
                    } else {
                        return {
                            ...e.data,
                            title: e.data.label
                        }
                    }
                })
            },
            showDay() {
                //todo: 跳到详情页
                location.href = "./VacationTablePanel/vacationtablepanel.html";
            },
            handleSelector() { },
            async handleClickLeaf(e) {
                //同一部署を二回目でクリックすると、取消とするためで、エラーあり
                //よって、二回目クリックすると、何もしない
                if(!e[0]) return

                console.log('e2')
                console.log(e)
                this.deptDrawShow = false
                this.query.txtAction = 'ACT_Disp_RList'
                this.deptName = e[0].secnic
                this.query.txtTmgReferListTreeViewAdminTargetSection = e[0].secid
                this.query.txtTmgReferListTreeViewRecordDate = this.referListObject.txtTmgReferListTreeViewRecordDate

                //年月リストの取得
                await this.getWorkDateList()

                // await this.getTableHead()
                await this.getTableData()

            },
            async getEmpList() {
                try {
                    this.emplistLoading = true
                    const { data } = await this.http.get('sys/tree/admin/emplist', this.referListObject)
                    this.empTreeData = Utils.convertTreeData(Utils.convertToData(data))
                } catch (error) {
                    return
                } finally {
                    this.emplistLoading = false
                }
            },
            handleClickEmpLeaf(e) {
                this.deptDrawShow = false
                // this.getData(true)
            },
            async handleStartMonth(e) {
                console.log("handleStartMonth")
                if(e){
                    this.query.txtTDA_DYYYYMM = this.dateFormat(e)
                    this.query.txtDYYYYMM = this.dateFormat(e)
                    await this.getTableData()
                }
            },
             dateFormat(e) {
                //YYYY年MM月からYYYY/MM/01へ変換する
                let yearMMDD = e.replace("年","/")
                yearMMDD = yearMMDD.replace("月","/")
                yearMMDD = yearMMDD+"01"
                return  yearMMDD
            },
            async download() {
                const { data, headers } = await this.http.get('sys/deptStatList/executeDownloadDownload', this.query)
                Utils.downloadFile(data,decodeURI(headers.filename,"UTF-8"),'text/csv')
            }
        }
    })
</script>
</body>

</html>