<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.smartcompany.job.modules.core.mapper.TmgLiquidation.TmgLiquidationDailyMapper">
    <select id="getMonthList" resultType="java.lang.String">
        SELECT DISTINCT
            TO_CHAR(trunc(tldd_dyyyymmdd, 'mm'),'yyyy/mm/dd')
        FROM
            tmg_liquidation_daily
        where
            tldd_cemployeeid = #{empId}
            and tldd_dstartdate = #{startDate}
            and tldd_denddate =#{endDate}
    </select>
    <select id="getMonthInfo"
            resultType="jp.smartcompany.job.modules.tmg.tmgliquidationperiod.dto.LiquidationDailyDto">
        SELECT
            TO_CHAR(A.TLDD_DYYYYMMDD, 'yyyy/mm/dd') AS YYYYMMDD,
            A.TLDD_CWEEKS           AS WEEK,
            A.TLDD_CWORKHOURS       AS WORKHOURS,
            A.TLDD_CKUBEN           AS KUBUN,
            A.TLDD_CSTARTTIME       AS STARTTIME,
            A.TLDD_CENDTIME         AS ENDTIME,
            A.TLDD_CRESTSTARTTIME   AS RESTTIMESTART,
            A.TLDD_CRESTENDTIME     AS RESTTIMEEND,
            B.WEEKWORKTIME          AS WEEKWORKTIME
        FROM
            TMG_LIQUIDATION_DAILY A,
            (
                SELECT
                    SUM(TLDD_CWORKHOURS) AS WEEKWORKTIME,
                    TLDD_CWEEKS AS WEEKS
                FROM
                    TMG_LIQUIDATION_DAILY
                WHERE
                    TLDD_CEMPLOYEEID = #{empId}
                    AND TO_CHAR(TRUNC(TLDD_DYYYYMMDD, 'mm'), 'yyyy/mm/dd') = #{yyyymm}
                GROUP BY
                    TLDD_CWEEKS
            ) B
        WHERE
            B.WEEKS = A.TLDD_CWEEKS
            AND TLDD_CEMPLOYEEID = #{empId}
            AND TO_CHAR(TRUNC(TLDD_DYYYYMMDD, 'mm'), 'yyyy/mm/dd') = #{yyyymm}
        ORDER BY
            A.TLDD_DYYYYMMDD

    </select>
    <select id="getMonthSumTime"
            resultType="jp.smartcompany.job.modules.tmg.tmgliquidationperiod.dto.MonthSumTimeDto">
        SELECT
            SUM(tldd_cworkhours) as sumtime,
            TO_CHAR(trunc(tldd_dyyyymmdd, 'mm'),'yyyy/mm/dd') as yyyymm
        FROM
            tmg_liquidation_daily
        WHERE
                tldd_cemployeeid = #{empId}
            AND tldd_dyyyymmdd between #{startDate} and #{endDate}
            AND TLDD_CCUSTOMERID = #{custID}
        GROUP BY
            trunc(tldd_dyyyymmdd, 'mm')
        ORDER by yyyymm
    </select>
    <select id="checkLiquidationDaily" resultType="java.lang.Integer">
        SELECT
              TMG_F_CHECK_LIQUIDATION_DAILY(
                                              #{empId},
                                              TRUNC(TO_DATE(#{yyyymmdd}),'mm'),
                                              #{custID},
                                              #{compCode}
                                              )
        FROM
            DUAL

    </select>
    <select id="selectDailyInfo"
            resultType="jp.smartcompany.job.modules.tmg.tmgliquidationperiod.vo.LiquidationDailyInfoVo">
        SELECT
            TO_CHAR(TLDD_DYYYYMMDD, 'yyyy/mm/dd') AS YYYYMMDD,
            TMG_F_GET_MGD(TLDD_CKUBEN, SYSDATE, TLDD_CCOMPANYID, TLDD_CCOMPANYID, 'ja') AS KUBEN,
            TMG_F_CONV_MIN2HHMI(TLDD_CWORKHOURS) AS WORKHOURS,
            TLDD_CWEEKS              AS WEEK,
            NVL(TMG_F_CONV_MIN2HHMI(TLDD_CSTARTTIME), '') AS STARTTIME,
            NVL(TMG_F_CONV_MIN2HHMI(TLDD_CENDTIME), '') AS ENDTIME,
            NVL(TMG_F_CONV_MIN2HHMI(TLDD_CRESTSTARTTIME), '') AS RESTSTARTTIME,
            NVL(TMG_F_CONV_MIN2HHMI(TLDD_CRESTENDTIME), '') AS RESTENDTIME,
            TLDD_CSPARECHAR1         AS STATUS,
            TLDD_CSPARECHAR2         AS NTFSTATUS,
            TLDD_CSPARECHAR3         AS HOLFLG,
            TLDD_CNOTIFICATIONTYPE   AS NTFTYPE,
            TLDD_CPATTERN            AS PATTERNID
        FROM
            TMG_LIQUIDATION_DAILY
        WHERE
            TRUNC(TLDD_DYYYYMMDD, 'mm') = #{yyyymm}
            AND TLDD_CEMPLOYEEID = #{empId}
            AND TLDD_CCUSTOMERID = #{custID}
            AND TLDD_CCOMPANYID = #{compCode}
        ORDER BY
            TLDD_DYYYYMMDD
    </select>
    <insert id="execTLDDInsert" statementType="CALLABLE">
        CALL TMG_P_LIQUIDATION_DAILY_INSERT (#{empId},#{startDate},#{endDate},#{userCode},#{custID},#{compCode})
    </insert>
    <insert id="execTDAInsert">
        CALL TMG_P_SHEET_INSERT_LIQUIDATION (#{empId},#{startDate},#{endDate},#{userCode},#{custID},#{compCode})
    </insert>
</mapper>