@mixin flex-row($justify) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: var($justify);
  align-items: center
}
.content {
  max-height: calc(100vh);
  background-color: var(--white);
  overflow-y: auto;
  .content_head {
    padding: 12px 25px 12px 12px;
    border-bottom: solid 1px var(--border-grey);
    background: var(--white);
  }
  .content_body {
    // 在1532的轻薄商务本分辨率下
    // padding-r每逢19，25等特殊px时会让表格出现滚动条
    padding: 15px 26px 20px 12px;
    background-color: var(--white);
    margin-bottom: 50px;
    .table-top {
      text-align: left;
      padding: 8px;
      background: var(--white);
      border: solid 1px var(--border-grey);
      border-bottom: none;
      .icon-left {
        font-size: 19px;
        margin-right: -5px;
        padding-right: 0;
      }
      .icon-center {
        padding: 0 10px;
      }
      .icon-right {
        font-size: 19px;
        margin-left: -5px;
        padding-left: 0;
      }
    }
  }
  .searchwrap {
    background-color: var(--searchwrap-background);
    padding: 8px;
    margin-top: 15px;
    @include flex-row(flex-start);
    .ivu-select {
      width: 15%;
    }
    .label {
      width: 120px;
      text-align: right;
      padding-right: 10px;
      background-color: var(--form-label);
      color: var(--white);
    }
    .mar {
      margin-right: 30px;
    }
    .ivu-page .ivu-select {
      width: 100%;
    }
    .ivu-select-selection,.ivu-input{
      border-radius: 1px;
    }
  }
  .btnbox {
    flex: 1;
    @include flex-row(flex-end);
    button {
      margin: 5px 0 0 5px;
    }
    &.ivu-btn {
      margin-right: 10px;
    }
  }
  .ivu-page {
    margin-top: 0;
  }
  .header {
    @include flex-row(center);
    .title1 {
      h1 {
        font-size: 18px;
      }
      i {
        font-size: 30px;
        padding: 5px 6px;
        margin-right: 8px;
        color: var(--theme-blue);
        vertical-align: middle;
        flex: 1;
      }
    }
  }
}