.header-wrap {
  padding: 0;
  margin-bottom: -1px;  /* 按钮和sider减少1px*/
  height: 50px;
  background:var(--white);
  z-index: 900;
  position: fixed;
  top: 0px;
  display: flex; flex-direction: row-reverse;
  width: 100vw;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  .head-logo {
    position: absolute;width: 179px;left: 30px;height: 50px;
    fill:var(--login-svg-fill);
  }
  .ivu-dropdown {
    padding-right: 10px;
    line-height: 45px;
    a {
      color: rgb(81, 90, 110);
    }
    i.ivu-icon-md-contact {
      color: #ffcc6a;
      font-size: 2.5em;
    }
    .ivu-dropdown-rel {
      height: 45px;
    }
    .ivu-menu-item {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  &.ivu-menu-horizontal {
    height: 50px;
    line-height: 50px;
  }
  &.ivu-menu-light {
    text-align: center;
  }
}

.header-lang {
  right: 3rem;
}
.layout-nav {
  display: inline-block;
}
.ivu-avatar {
  width: 35px;
  height: 35px;
  line-height: 36px;
}

.company {
  color: white;
  background: rgb(93, 93, 93);
  font-size: 16px;padding: 5px 10px;
}
.group-info {
  padding: 0 10px;
  min-height: 43px;
  max-width: 170px;
  border-bottom: 1px solid rgb(210, 210, 210);
}
.group-info-wrap {
  border: 5px solid var(--tree-border);
  background: var(--tree-bg);
}