@keyframes borderClipTop {
  75%,100% { clip: rect(0px 45px 29px 0px); }
}
@keyframes borderClipBottom {
  75%,100% { clip: rect(85px 116px 116px 75px); }
}

.i-svg {
  fill: white;
  margin: 5px 0px 0px 11px;
  overflow: hidden;
  width: 24px;
  height: 24px;
}
.ivu-layout .ivu-layout-has-sider {
  padding-top: 51px;
}
//自带取消
.ivu-menu-vertical.ivu-menu-light:after {
  display: none; //虚线
}
.ivu-menu-vertical .ivu-menu-item {
  color: var(--sider-menu-p);
  &:hover {
    color: var(--sider-menu-p-hover);
  }
}
.ivu-menu-light.ivu-menu-vertical
  .ivu-menu-item-active:not(.ivu-menu-submenu){
    background: rgba(255, 255, 255, 0.9);
    color: var(--sider-menu-p-active);
    &:before{
      display: none;
    }
    &:after{
      display: none;
    }
  }
.ivu-menu-vertical .ivu-menu-item-group-title {
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  color: var(--white);
  background-color: var(--sider-menu-title-background);
  text-align: center;
}
.ivu-menu-item-group {
  position: absolute;
  width: 100%;
  opacity: 0;
}
.ivu-menu-item-group > ul {
  transition: transform 2s ease;
  top: 0;
  .ivu-menu-item {
    display: inline-block;
    width: 116px;
    height: 116px;
    margin: 0 2px 4px;
    border-radius: 5px;
    white-space: nowrap;
    background: var(--sider-menu-icon-bg);
    transition: fill 0.1s ease-in-out;
    &:before {
      content: '';
      display: none;
      position: absolute;
      left: 0; top: 0; right: 0; bottom: 0;
      border: 2px solid var(--sider-menu-item-border-bottom);
      border-radius: 5px;
      clip: rect(74px 116px 116px 98px);
      filter: grayscale(1);
    }
    &:after{
      content: '';
      display: none;
      position: absolute;
      left: 0; top: 0; right: 0; bottom: 0;
      border: 2px solid var(--sider-menu-item-border-top);
      border-radius: 5px;
      clip: rect(0px 35px 52px 0px);
      filter: grayscale(1);
    }
    .i-svg {
      filter: var(--filter-svg-icon);
    }
    &:hover {
      &:before {
        display: block;
        animation: borderClipBottom .5s forwards ease-in;
        filter: none;
      }
      &:after{
        display: block;
        animation: borderClipTop .5s forwards ease-in;
        filter: none;
      }
      .i-svg {
        // TODO: 这里时强行变橘色， 需要提供橘色图标
        filter: var(--filter-svg-icon-hover);
      }
    }
    .p {
      width: 116px;
      font-size: 13px;
      margin-left: -25px;
      text-align: center;
    }
  }
}
.actived-menu {
  &.ivu-menu-item-group {
    opacity: 1;
  }
  &.nav-item {
    transition: background-color 0.2s ease;
    background-color: var(--sider-background-actived);
  }
    > .i-svg {
    // TODO: 这里时强行变橘色， 需要提供橘色图标
    filter: var(--filter-svg-icon-hover) !important;
  }
  ul:not(.navbar-nav) {
    height: 100%;
  }
}
.ivu-menu-item-selected {
  .i-svg {
    // TODO: 这里时强行变橘色， 需要提供橘色图标
    filter: var(--filter-svg-icon-hover) !important;
  }
}
.navbar-wrap {
  display: flex;
  position: fixed;
  height: 100%;
  text-align: left;
  z-index: 999;
  .navbar-nav {
    display: flex;
    width: 60px;
    background: var(--sider-background);
    transition: width 200ms ease;
    text-align: left;
    flex-direction: column;
    .nav-item {
      display: flex;
      min-height: 60px;
      position: relative;
      align-items: center;
      &:last-child {
        margin-top: auto;
      }
      .i-svg {
        margin-left: 17px;
        filter: brightness(5);
      }
    }
  }
  .sys-menu {
    display: flex;
    position: absolute;
    left: 60px;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    transition: transform 0.2s ease;
    background-color: var(--sider-menu-background);
    opacity: 0;
    transform: translateX(-562px);
    // 避免压住目录本身
    z-index: -1;
    &.show-sider {
      transform: translateX(0);
      opacity: 1;
    }
    .actived-menu{
      height: 100%;
    }
  }
}