// 固定sider
.ivu-layout {
  background-color: transparent;
}
// siderbar默认过渡效果取消
.ivu-layout-sider {
  transition: none;
}
// v1.25所有select 和下拉靠左
.ivu-select-selection {
  text-align: left;
}
.ivu-select-dropdown {
  max-height: 380px;
  text-align: left;
}
.head-dropdown .ivu-select-dropdown {
  padding: 0;
}

.ivu-modal-footer {
  border-top: none;
}
// draw的标题颜色
.ivu-drawer-header-inner {
  color: var(--grey);
  font-weight: bold;
}
.ivu-tabs-nav .ivu-tabs-tab .ivu-icon {
  height: unset;
}
// checkbox 外边距
.ivu-checkbox-wrapper {
  margin-right: 8px;
  margin-left: 8px;
}
.ivu-switch {
  box-shadow: -1px 1px 7px 0px var(--ghost-primary-shadow);
  &.ivu-switch-checked {
    border-color: var(--primary-border);
    background: var(--primary-background);
  }
}
.ivu-divider-inner-text {
  color: rgb(104, 109, 116);
}
.ivu-form-item-validating .ivu-input-icon-validate {
  display: none;
}

// 禁选的checkbox
.ivu-checkbox-disabled .ivu-checkbox-inner {
  background-image: var(--disabled-checkbox-bg);
  border-color: var(--disabled-checkbox-border);
}
// 可移动的对话框
// .ivu-modal-no-mask {
//   pointer-events: unset;
// }
// .ivu-modal-wrap {
//   position: fixed;
//   overflow: auto;
//   top: 0;
//   background: rgba(55,55,55,.6);
// }
.el-loading-mask {
  z-index: 900 !important;
}
// this.var(--Modal.confirm警告框样式
.ivu-modal-confirm-body {
  padding: 5px 0 0 40px;
  text-align: left;
  white-space: pre-line;
}
.ivu-btn-small {
  padding: 0 5px;
  font-size: 13px;
  border-radius: 0;
}
// 用在所属的input上
  .no-shadow .ivu-input:focus{
    box-shadow: none;
  }
  .ivu-select-multiple .ivu-select-item-selected:after {
    top:0;
  }
// 只有一个时间或分钟可选的time-picker，勤务的freeadd按钮
.only-mins {
  width: 80px;
  .ivu-picker-panel-body {
    width: 50px;
  }
  .ivu-time-picker-cells-list:first-child {
    display: none;
  }
}
.only-hours {
  width: 60px;
  .ivu-picker-panel-body {
    width: 50px;
  }
  .ivu-time-picker-cells-list {
    display: none;
    &:last-child {
      display: none;
    }
    &:first-child {
      display: block;
    }
  }
}
// 帳票・ファイル出力页面仅有一个pdf时的样式
.only-pdf {
  .ivu-poptip-inner {
    width: 90px;
    .ivu-poptip-body {
      text-align: center;
    }
  }
}
//有休的drawer
.happytime .ivu-drawer .ivu-drawer-content .ivu-drawer-body {
  padding: 8px;
}
.ivu-drawer-content {
  background-color: var(--form-bg-grey);
}
.ivu-form-item-error-tip {
  display: none;
}
// 登陆页手机input
.dark-input {
  .ivu-input {
    color: rgb(217, 217, 217) !important;
    text-indent: 23px;
    border-radius: 23px !important;
    background-color: #0c0c0c0d;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border-color: rgb(217, 217, 217) !important;
  }
  }
// 打卡履历页上filter的第一项margin
.ivu-table-filter-list-item .ivu-checkbox-wrapper {
  margin: 0;
}
// 日报方向移动相关
.ivu-drawer {
  transition: 0.8s left cubic-bezier(.19,.67,.14,1.07);
}
.for-move .ivu-drawer-right {
  left: calc(100% - 681px);
}

// input边框方正化
.non-border-input {
  .ivu-input {
    border-radius: 0;
  }
}
// 纠正滑动条的按钮位置
.ivu-slider-button-wrap {
  top: -7px;
}
// 卡片头部颜色和边框纠正
.ivu-card-head {
  padding: 10px 16px;
  span {
    color: var(--grey);
  }
}
.ivu-card-extra {
  top: 9px;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tooltip-table {
  &.ivu-tooltip, &.ivu-tooltip .ivu-tooltip-rel {
    display: block;
  }
}
// 表格中的标签样式
.dept-flex{
  display: flex;
  flex-direction: column;
}
// checkbox改成橘色
.ivu-checkbox-checked .ivu-checkbox-inner {
  border-color: var(--checkbox-border);
  background-color: var(--checkbox-bg);
}
.ivu-checkbox-checked:hover .ivu-checkbox-inner {
  border-color: var(--orange25);
}
.row-label-primary {
  display: inline-block;
  padding: 2px 0;
  margin: 2px 0;
  color: var(--row-label-primary);
  border: 1px solid var(--row-label-primary-border);
  background-color: var(--content-bg);
  border-radius: 3px;
}
.primary-info {
  color: var(--primary-info);
  border: var(--primary-info-border);
  background-color: var(--primary-info-bg);
  font-size: 14px;
  text-align: left;
  white-space: pre-line;
  strong {
    font-size: 15px;
  }
}
.ivu-table-cell, .ivu-notice-desc  {
  white-space: pre-line;
}

.error-info {
  text-align: center;
  font-size: 14px;
  color: var(--red);
  background: var(--error-info-bg);
  border-color: var(--error-info-border);
}
.input-like-span {
  display: inline-block;
  background-color: var(--white);
  padding-left: 8px;
  min-height: 32px;
  line-height: 30px;
  width: 100%;
  position: relative;
  border: 1px solid var(--input-border-grey);
  .ivu-tooltip {
    width: 100%;
    .ivu-tooltip-rel {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
// 搜索地带不需要自适应高度变化
.searchwrap {
  .input-like-span {
    height: 32px;
    line-height: 32px;
    span {
      width: 100%;
    }
  }
}
// tooltip需要自适应高度变化
.ivu-tooltip-inner {
  max-width: 300px;
  white-space: pre-wrap;
}
.ivu-message-notice-with-background .ivu-message-notice-content-error {
  background: rgb(254, 247, 246)
}
.no-border-radius {
  border-radius: 0;
  .ivu-select-selection,.ivu-input {
    border-radius: 0;
  }
}

.no-left-border-radius {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  .ivu-select-selection,.ivu-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.no-right-border-radius {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  .ivu-select-selection,.ivu-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// 树形选择器
.ivu-tree-title {
  color: var(--grey);
}
.ivu-tree-title-selected, .ivu-tree-title-selected:hover {
  background-color: var(--tree-hover);
}
.ivu-tree-title:hover {
  background-color: var(--tree-select);
}
.tree {
  text-align: left;
  border: 15px solid var(--tree-border);
  border-radius: 3px;
  background-color: var(--tree-bg);
  padding-bottom: 8px;
  .ivu-tree-title {
    width: calc(100% - 50px);
  }
  li ul {
    transition: none;
    border-left: 1px dashed var(--text-light-grey);
    margin-left: 7px;
  }
  .ivu-icon {
    background-color: var(--tree-bg);
  }
  ul li {
    margin: 0;
    // 超长时应换行
    white-space: normal;
    padding-top: 8px;
  }
  .ivu-tree-title ~ ul li:before {
    content:'';
    transition: none;
    display:inline-block;
    position:absolute;
    height: 1px;
    width: 26px;
    border-top: 1px dashed var(--text-light-grey);
    margin-left: -16px;
    margin-top: 11px;
  }
}
.toTopBtn {
  position: fixed;
  height: 45px;
  width: 45px;
  line-height: 50px;
  text-align: center;
  background: var(--yellow);
  border-radius: 25px;
  right: 15px;
  bottom: 19px;
  color: white;
  cursor: pointer;

  z-index: 100;
}
.ivu-spin-fix {
  background-color: var(--spin-bg);
}
.ivu-spin-dot {
  background-color: var(--spin);
}
.ivu-tree-context-menu {
  // 禁止适用tree右键
  display: none;
}
.ivu-drawer-header-inner {
  text-align: center;
}
.bs-comment-approved {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  padding: 2px;
  color: var(--primary-info);
  background-color: var(--primary-info-bg);
}
.ivu-dropdown-item-selected {
  color: var(--primary-info);
  background-color: var(--primary-info-bg);
  &:hover {
    color: var(--primary-info);
    background-color: var(--primary-info-bg);
  }
}
.footer {
  position: relative;
  margin-top: -32px;
  // position: absolute;
  // bottom: 0;
  background: var(--footer-bg);
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
  border-top: 1px solid var(--login-panel-bg);
  color: var(--grey);
  font-weight: 700;
  font-size: 13px;
  text-align: center;
  width: 100%;
  padding: 10px 50px;
  height: 32px;
  z-index: 3;
  line-height: 10px;
}
.white-avatar {
  .ivu-avatar-string {
    color: white;
  }
}
// 通用class
.red {
  color: var(--red);
}
.blue {
  color: var(--theme-blue);
}
.grey {
  color: var(--grey);
}
.brown {
  color: var(--brown);
}
.light-grey {
  color: var(--text-light-grey);
}
.cursor {
  cursor: pointer;
}
.ivu-input::placeholder {
  color:var(--place-holder);
}
.ivu-modal-header {
  border-bottom-color: var(--login-title-border-b);
}
.ivu-modal-content, .ivu-drawer-content, .ivu-table-row, .ivu-btn-text:hover {
  background: var(--modal-bg);
}
.ivu-btn-ghost {
  background: var(--ghost-background);
}
.ivu-menu-horizontal.ivu-menu-light:after {
  background: var(--login-title-border-b);
}
.ivu-input, .input-like-span, .ivu-select-selection,.ivu-input-number-input {
  border-color: var(--light-input-border-grey);
  color: var(--grey);
  background-color:var(--selection-input-bg);
}
.ivu-select-arrow {
  color: var(--grey);
}
.ivu-select-disabled .ivu-select-selection {
  background: var(--disabled-selection);
  color: var(--disabled-btn);
}
.ivu-select-disabled .ivu-select-selection .ivu-select-arrow {
  color: var(--disabled-btn);
}
.ivu-input-number.ivu-input-number-default {
  background-color: var(--selection-input-bg);
  border-color: var(--light-input-border-grey);
  &.ivu-input-number-disabled {
    border-color: var(--input-number-disabled-border);
    background-color: var(--input-number-disabled-bg);
  }

}
.ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  background: var(--dept-search-bg);
  border:var(--border-grey);
}
.ivu-input-disabled.ivu-input-with-suffix, .ivu-input-number-input[disabled], .ivu-input[disabled] {
  background: var(--disabled-selection);
  color: var(--disabled-btn);
  border-color: var(--disabled-btn-border);
}
.ivu-btn[disabled], .ivu-btn-ghost.ivu-btn-primary[disabled],.ivu-btn-ghost.ivu-btn-success[disabled] {
  background: var(--disabled-btn-bg) !important;
  color: var(--disabled-btn) !important;
  border-color: var(--disabled-btn-border) !important;
  &:hover {
    border-color: var(--disabled-btn-border);
    background: var(--disabled-btn-bg);
    color: var(--disabled-btn);
  }
}
.ivu-btn[disabled].ivu-btn-text[disabled] {
  border-color: transparent !important;
  &:hover {
    border-color: transparent !important;
  }
}
.ivu-divider-inner-text,.ivu-select-input, .ivu-tabs, .ivu-modal-confirm-head-title,.ivu-modal-confirm-body, .ivu-upload-list-file {
  color: var(--grey);
}
.ivu-upload-list-file:hover {
  background: var(--upload-list-file-hover-bg);
}
.ivu-card-head, .ivu-card-bordered {
  border-color: var(--border-grey);
}
.ivu-radio-inner:after {
  background-color: var(--checkbox-bg);
}
.ivu-radio-checked .ivu-radio-inner {
  border-color: var(--checkbox-bg);
}
.ivu-picker-panel-body,.ivu-message-notice-content-text {
  color: rgb(104, 109, 116);
}
.ivu-upload-drag {
  background: var(--content-bg);
}
.ivu-modal-mask {
  background: var(--mask-bg);
}
.ivu-tree-empty {
  padding-top: 8px;
  padding-left: 10px;
}

.ivu-page-simple .ivu-page-simple-pager input {
  width: 50px;
}

.ivu-poptip-title-inner {
  color: var(--grey);
}
.ver-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.rest-label {
  background: var(--success-info-bg);
  color: var(--success-info);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hoilday-label {
  background: var(--blue-or-dark-bg);
  color: var(--blue-or-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.error-label {
  background: var(--error-info-bg);
  color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
//  用于清算一样的，表格内单行多行划分变色
.sum-row {
  font-size: 12px;
  line-height: 13px;
}
.divi-hour-line::before {
  content: '';
  display: block;
  position: relative;
  width: calc(100% + 16px);
  height: 1px;
  margin-top: 5px;
  margin-left: -8px;
  margin-bottom: 5px;
  border-bottom: 1px dashed #d8d8d8;
}
.link-like {
  padding-bottom: 1px;
  border-bottom: 1px solid var(--text-light-grey);
  cursor: pointer;
}
.with-footer {
  .ivu-drawer-body {
    position: static;
    padding-bottom: 80px;
  }
}
/* margin */
.m0{margin:0;}
.ml1{margin-left:1px;}
.ml2{margin-left:2px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.mr1{margin-right:1px;}
.mr2{margin-right:2px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mt1{margin-top:1px;}
.mt2{margin-top:2px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb1{margin-bottom:1px;}
.mb2{margin-bottom:2px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
/* margin negative */
.ml-1{margin-left:-1px;}
.mr-1{margin-right:-1px;}
.mt-1{margin-top:-1px;}
.mb-1{margin-bottom:-1px;}
.ml-3{margin-left:-3px;}
.mr-3{margin-right:-3px;}
.mt-3{margin-top:-3px;}
.mb-2{margin-bottom:-2px;}
.mb-3{margin-bottom:-3px;}
.ml-20{margin-left:-20px;}
.mr-20{margin-right:-20px;}
.mt-20{margin-top:-20px;}
.mb-20{margin-bottom:-20px;}
/* padding */
.p0{padding:0;}
.p1{padding:1px;}
.pl1{padding-left:1px;}
.pt1{padding-top:1px;}
.pr1{padding-right:1px;}
.pb1{padding-bottom:1px;}
.p2{padding:2px;}
.pl2{padding-left:2px;}
.pt2{padding-top:2px;}
.pr2{padding-right:2px;}
.pb2{padding-bottom:2px;}
.pl5{padding-left:5px;}
.p5{padding:5px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.pb5{padding-bottom:5px;}
.p10{padding:10px;}
.pl10{padding-left:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.p15{padding:15px;}
.pl15{padding-left:15px;}
.pt15{padding-top:15px;}
.pr15{padding-right:15px;}
.pb15{padding-bottom:15px;}
.p20{padding:20px;}
.pl20{padding-left:20px;}
.pt20{padding-top:20px;}
.pr20{padding-right:20px;}
.pb20{padding-bottom:20px;}
.p30{padding:30px;}
.pl30{padding-left:30px;}
.pt30{padding-top:30px;}
.pr30{padding-right:30px;}
.pb30{padding-bottom:30px;}
.width10{width:10%;}
.width15{width:15%;}
.width20{width:20%;}
.width25{width:25%;}
.width30{width:30%;}
.width33{width:33.3%;}
.width40{width:40%;}
.width50{width:50%;}
.width60{width:60%;}
.width66{width:66.6%;}
.width70{width:70%;}
.width75{width:75%;}
.width80{width:80%;}
.width90{width:90%;}
.width100{width:100%;}
/* font-size */
.f0{font-size:0;}
.f10{font-size:10px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
/* text-align */
.tc { text-align: center; .ivu-input { text-align: center; } }
.tr { text-align: right; .ivu-input { text-align: right; } }
.tl { text-align: left; .ivu-input { text-align: left; } }
.tj { text-align: justify; }
